Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

license:
  name: Check for license headers
  entry: ./ci/license-header.py
  language: python

btest-command-commented:
  name: Check that all BTest command lines are commented out
  entry: ^\s*@TEST-
  language: pygrep

Add packet source that uses LightPcapNg to be able to read pcapng files
  .gitmodules
  NEWS
  src/iosource/CMakeLists.txt
  src/iosource/Component.cc
  src/iosource/Component.h
  src/iosource/Manager.cc
  src/iosource/pcap/Plugin.cc
  src/iosource/pcapng/CMakeLists.txt
  src/iosource/pcapng/Plugin.cc
  src/iosource/pcapng/Source.cc
  src/iosource/pcapng/Source.h
  testing/btest/Baseline/core.pcapng-pktsrc/conn.log
  testing/btest/Traces/README
  testing/btest/Traces/pcapng-multi-interface.pcapng
  testing/btest/core/pcapng-pktsrc.zeek
Due: license, btest-command-commented

Add missing #include
  src/iosource/Component.cc
Due: license

Remove uses of modp_* methods from threading::Formatter and IPPrefix
  src/IPAddr.cc
  src/threading/Formatter.cc
  testing/btest/Baseline/scripts.base.frameworks.logging.ascii-timestamps/test.log
Due: license, btest-command-commented

Replace use of modp_dtoa2 method in ZAM code
  src/script_opt/ZAM/BuiltInSupport.cc
Due: license

Replace use of modp_dtoa2 in ODesc::Add with std::to_chars
  src/Desc.cc
  src/util.cc
  src/util.h
  testing/btest/Baseline/language.double/out
Due: license, btest-command-commented

Replace uses of modp integer methods in ZAM code
  src/script_opt/ZAM/BuiltInSupport.cc
  src/script_opt/ZAM/BuiltInSupport.h
  src/script_opt/ZAM/OPs/ZBI.op
Due: license

Replace uses of modp integer methods in ODesc::Add
  src/Desc.cc
Due: license

Make util::double_to_str take a buffer instead of returning a string
  src/Desc.cc
  src/script_opt/ZAM/BuiltInSupport.cc
  src/util.cc
  src/util.h
Due: license

Fix minor documentation issues
  doc/cluster-setup.rst
  doc/scripting/basics.rst
  doc/scripting/event-groups.rst
Due: none

Type: Add "parent" API to EnumType
  src/Type.h
Due: license

plugin/ComponentManager: Set parent type of tag enums
  src/plugin/ComponentManager.h
Due: license

Type: Make enum type checking nominal
  NEWS
  scripts/base/frameworks/files/main.zeek
  src/Type.cc
  testing/btest/Baseline/language.enum-bad-type/.stderr
  testing/btest/Baseline/language.enum/out
  testing/btest/language/enum-bad-type.zeek
  testing/btest/language/enum.zeek
Due: license, btest-command-commented

TypeList::Append: More verbose internal error
  src/Type.cc
Due: license

Val: Use concrete TypePtr in ToListVal()
  src/Val.cc
  src/Val.h
Due: license

Performance for standalone compilation that initializes large aggregates
  src/script_opt/CPP/Driver.cc
  src/script_opt/CPP/InitsInfo.cc
  src/script_opt/CPP/Vars.cc
  src/script_opt/CPP/Vars.h
Due: license

Correctly handle vector self assign-append
  src/Val.cc
  testing/btest/language/vector.zeek
Due: license, btest-command-commented

Support &optional records in the Input Framework
  src/input/Manager.cc
  src/input/Manager.h
Due: license

Force building only static lightpcapng lib, fixes Windows builds
  src/iosource/pcapng/CMakeLists.txt
Due: none

Regenerate spicy autogen docs based on recent spicy-tftp changes
  doc/devel/spicy/autogen/tftp.evt
  doc/devel/spicy/autogen/tftp.spicy
  doc/devel/spicy/autogen/tftp.zeek
Due: none

Fix issues with paraglob size limtations
  src/zeek.bif
  testing/btest/Baseline/language.paraglob-serialization/recv.recv.out
  testing/btest/Baseline/language.paraglob-serialization/send.send.out
  testing/btest/Baseline/language.paraglob-size-limitation/.stderr
  testing/btest/Baseline/language.paraglob-size-limitation/.stdout
  testing/btest/Baseline/language.paraglob/out
  testing/btest/language/paraglob-size-limitation.zeek
Due: btest-command-commented

Docs: render the version on the index page
  doc/index.rst
Due: none

Merge branch 'topic/bbannier/issue-5164'
  CHANGES
  VERSION
  src/Val.cc
  testing/btest/language/vector.zeek
Due: license, btest-command-commented

Fix memory leak in TableIterInfo::BeginLoop
  src/script_opt/ZAM/IterInfo.h
Due: license

Merge remote-tracking branch 'origin/topic/timw/finalize-redis-state-check'
  CHANGES
  VERSION
  scripts/base/protocols/redis/main.zeek
  testing/btest/Baseline/scripts.base.protocols.redis.finalize-redis-state-check/.stderr
  testing/btest/Traces/redis/oss-fuzz-473580107.pcap
  testing/btest/scripts/base/protocols/redis/finalize-redis-state-check.zeek
Due: btest-command-commented

Merge branch 'topic/etyp/docs-versioning-update'
  CHANGES
  VERSION
  doc/index.rst
Due: none

Initial NEWS updates for 8.0.6
  NEWS
Due: none

Address feedback: move loop_vars.clear() to Clear() and add assertion
  src/script_opt/ZAM/IterInfo.h
Due: license

Merge remote-tracking branch 'origin/topic/timw/extend-paraglob-size-limitation'
  CHANGES
  VERSION
  src/zeek.bif
  testing/btest/Baseline/language.paraglob-serialization/recv.recv.out
  testing/btest/Baseline/language.paraglob-serialization/send.send.out
  testing/btest/Baseline/language.paraglob-size-limitation/.stderr
  testing/btest/Baseline/language.paraglob-size-limitation/.stdout
  testing/btest/Baseline/language.paraglob/out
  testing/btest/language/paraglob-size-limitation.zeek
Due: btest-command-commented

Merge branch 'topic/christian/show-zeek-version-in-docs'
  CHANGES
  VERSION
  doc/index.rst
Due: none

Revert "Address feedback: move loop_vars.clear() to Clear() and add assertion"
  src/script_opt/ZAM/IterInfo.h
Due: license

Fix c-style casts in binpac/bifcl, including generated code
  tools/bifcl/bif_arg.cc
  tools/binpac/lib/binpac.h.in
  tools/binpac/lib/binpac_bytestring.h
  tools/binpac/src/pac_btype.cc
  tools/binpac/src/pac_case.cc
  tools/binpac/src/pac_expr.cc
  tools/binpac/src/pac_regex.cc
Due: license

Fix clang-tidy findings from recent merge
  src/script_opt/CPP/Vars.cc
Due: license

misc: downgrade mkdir() failure from error to warning
  testing/btest/scripts/misc-mkdir-warning.zeek
Due: btest-command-commented

Merge branch 'fix/table-iter-info-memory-leak'
  CHANGES
  VERSION
  src/script_opt/ZAM/IterInfo.h
Due: license

Merge remote-tracking branch 'origin/topic/awelzel/require-zeromq-at-least-4-3-0'
  CHANGES
  VERSION
  ci/opensuse-leap-15.6/Dockerfile
  doc/building-from-source.rst
  src/cluster/backend/CMakeLists.txt
  src/cluster/backend/zeromq/cmake/FindZeroMQ.cmake
Due: none

Path conditions:
  license: any of: \.(h|c|cpp|cc|spicy|evt)$, but not: ^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$
  btest-command-commented: any of: ^testing/btest/.*$
