Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*|doc/devel/spicy/autogen/.*.spicy'

CI: Ignore unknown option warnings in run-clang-tidy-diff
  ci/run-clang-tidy-diff.sh
Due: none

Drop tcp-state from the TLS DPD signatures
  scripts/base/protocols/ssl/dpd.sig
  testing/btest/Baseline/scripts.base.protocols.ssl.tls-1.2-clienthello-from-tcp-responder/conn.log
  testing/btest/Baseline/scripts.base.protocols.ssl.tls-1.2-clienthello-from-tcp-responder/ssl.log
  testing/btest/scripts/base/protocols/ssl/tls-1.2-clienthello-from-tcp-responder.test
Due: btest-command-commented

Add test for TLS ClientHello from the TCP responder
  testing/btest/Baseline/scripts.base.protocols.ssl.tls-1.2-clienthello-from-tcp-responder/conn.log
  testing/btest/Baseline/scripts.base.protocols.ssl.tls-1.2-clienthello-from-tcp-responder/ssl.log
  testing/btest/Traces/tls/tls-1.2-clienthello-from-tcp-responder.pcap
  testing/btest/Traces/tls/tls-1.2-clienthello-from-tcp-responder.pcap.py
  testing/btest/scripts/base/protocols/ssl/tls-1.2-clienthello-from-tcp-responder.test
Due: btest-command-commented

Remove unnecessary Event.h include from DNS.cc
  src/analyzer/protocol/dns/DNS.cc
Due: license

Don't process non-multicast traffic from mDNS/LLMNR as DNS
  src/analyzer/protocol/dns/DNS.cc
Due: license

Remove unused includes from `Dict.h`
  src/CompHash.cc
  src/Conn.cc
  src/Dict.h
  src/Expr.cc
  src/Func.cc
  src/RunState.cc
  src/Stats.cc
  src/cluster/PublishOnChangeState.cc
  src/cluster/websocket/WebSocket.cc
  src/file_analysis/File.cc
  src/input/Manager.cc
  src/logging/Manager.cc
  src/script_opt/ZAM/ZBody.cc
  src/spicy/manager.cc
  src/spicy/packet-analyzer.cc
  src/spicy/protocol-analyzer.cc
  src/spicy/runtime-support.cc
  src/spicy/runtime-support.h
  src/spicy/spicyz/glue-compiler.cc
Due: license

Sort `order_` lazily for unordered dictionaries
  src/Dict.h
Due: license

Sort output in input framework error test
  testing/btest/Baseline/scripts.base.frameworks.input.errors/out
  testing/btest/scripts/base/frameworks/input/errors.zeek
Due: btest-command-commented

Sort output in `dns_mgr` lookup tests
  testing/btest/Baseline/dns_mgr.blocking_lookup_hostname/out
  testing/btest/Baseline/dns_mgr.lookup_hostname/out
  testing/btest/Baseline/dns_mgr.lookup_hostname_cname/out
  testing/btest/dns_mgr/blocking_lookup_hostname.zeek
  testing/btest/dns_mgr/lookup_hostname.zeek
  testing/btest/dns_mgr/lookup_hostname_cname.zeek
Due: btest-command-commented

ci/run-clang-tidy-diff: Add extra-arg to ignore unknown options
  ci/run-clang-tidy-diff.sh
Due: none

Add btest for basic profiler run verification
  testing/btest/scripts/policy/misc/profiling.zeek
Due: btest-command-commented

Avoid a crash in file cleanup when terminating Zeek via exit()
  src/File.cc
  src/RunState.cc
  src/RunState.h
  src/zeek-setup.cc
Due: license

tools/systemd-generator: Use PartOf= and Requires= again
  doc/advanced/deployment/systemd.rst
  testing/btest/Baseline/tools.systemd-generator.test-all-options/..dir1.zeek-archiver.service
  testing/btest/Baseline/tools.systemd-generator.test-all-options/..dir1.zeek-logger@.service
  testing/btest/Baseline/tools.systemd-generator.test-all-options/..dir1.zeek-manager.service
  testing/btest/Baseline/tools.systemd-generator.test-all-options/..dir1.zeek-proxy@.service
  testing/btest/Baseline/tools.systemd-generator.test-all-options/..dir1.zeek-worker-eth0@.service
  testing/btest/Baseline/tools.systemd-generator.test-all-options/..dir1.zeek-worker-eth1@.service
  testing/btest/Baseline/tools.systemd-generator.test-archiver-custom/..dir1.zeek-archiver.service
  testing/btest/Baseline/tools.systemd-generator.test-archiver/..dir1.zeek-archiver.service
  testing/btest/Baseline/tools.systemd-generator.test-cluster-node-prefix/..dir1.zeek-logger@.service
  testing/btest/Baseline/tools.systemd-generator.test-cluster-node-prefix/..dir1.zeek-manager.service
  testing/btest/Baseline/tools.systemd-generator.test-cluster-node-prefix/..dir1.zeek-proxy@.service
  testing/btest/Baseline/tools.systemd-generator.test-empty-zeek-section/..dir1.zeek-worker-eth0@.service
  testing/btest/Baseline/tools.systemd-generator.test-ext-path/..dir1.zeek-manager.service
  testing/btest/Baseline/tools.systemd-generator.test-ext-path/..dir1.zeek-worker@.service
  testing/btest/Baseline/tools.systemd-generator.test-ext-zeek-path/..dir1.zeek-manager.service
  testing/btest/Baseline/tools.systemd-generator.test-ext-zeek-path/..dir1.zeek-worker@.service
  testing/btest/Baseline/tools.systemd-generator.test-minimal-no-manager/..dir1.zeek-logger@.service
  testing/btest/Baseline/tools.systemd-generator.test-minimal-no-manager/..dir1.zeek-proxy@.service
  testing/btest/Baseline/tools.systemd-generator.test-minimal-no-manager/..dir1.zeek-worker@.service
  testing/btest/Baseline/tools.systemd-generator.test-minimal/..dir1.zeek-logger@.service
  testing/btest/Baseline/tools.systemd-generator.test-minimal/..dir1.zeek-manager.service
  testing/btest/Baseline/tools.systemd-generator.test-minimal/..dir1.zeek-proxy@.service
  testing/btest/Baseline/tools.systemd-generator.test-minimal/..dir1.zeek-worker@.service
  testing/btest/Baseline/tools.systemd-generator.test-multi-interface/..dir1.zeek-worker-eth0@.service
  testing/btest/Baseline/tools.systemd-generator.test-multi-interface/..dir1.zeek-worker-eth1@.service
  testing/btest/Baseline/tools.systemd-generator.test-multi-interface/..dir1.zeek-worker-eth2@.service
  testing/btest/Baseline/tools.systemd-generator.test-no-loggers/..dir1.zeek-manager.service
  testing/btest/Baseline/tools.systemd-generator.test-no-workers/..dir1.zeek-logger@.service
  testing/btest/Baseline/tools.systemd-generator.test-no-workers/..dir1.zeek-manager.service
  testing/btest/Baseline/tools.systemd-generator.test-no-workers/..dir1.zeek-proxy@.service
  testing/btest/Baseline/tools.systemd-generator.test-no-zeek-section/..dir1.zeek-worker-eth0@.service
  testing/btest/Baseline/tools.systemd-generator.test-only-manager/..dir1.zeek-manager.service
  testing/btest/Baseline/tools.systemd-generator.test-only-workers/..dir1.zeek-worker@.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-archiver.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-logger@.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-manager.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-proxy@.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-worker@.service
  tools/systemd-generator/src/zeek-systemd-generator.cc
Due: license, btest-command-commented

btest/cluster/logging-rr: Await Cluster::node_up() events
  testing/btest/cluster/generic/logging-rr-no-buf.zeek
  testing/btest/cluster/generic/logging-rr.zeek
Due: btest-command-commented

LDAP: test StartTLS detection on a non-standard port
  testing/btest/Baseline/scripts.base.protocols.ldap.dpd-starttls/conn.log
  testing/btest/Baseline/scripts.base.protocols.ldap.dpd-starttls/ldap.log
  testing/btest/Traces/README
  testing/btest/Traces/ldap/starttls-off-port.pcap
  testing/btest/scripts/base/protocols/ldap/dpd-starttls.zeek
Due: btest-command-commented

LDAP: detect search and extended requests without a prior Bind
  scripts/base/protocols/ldap/dpd.sig
  testing/btest/Baseline/scripts.base.protocols.ldap.dpd-starttls/conn.log
  testing/btest/Baseline/scripts.base.protocols.ldap.dpd-starttls/ldap.log
  testing/btest/scripts/base/protocols/ldap/dpd-starttls.zeek
Due: btest-command-commented

LDAP: detect more request operations over TCP
  scripts/base/protocols/ldap/dpd.sig
Due: none

Val.h: ensure sizeof(ZValElement) remains correct regardless of sizeof(bool)
  src/Val.h
Due: license

Val.h: bool to 0/1 in assignments
  src/Val.h
Due: license

Merge remote-tracking branch 'origin/topic/awelzel/5795-ldap-del-abandon-fix'
  CHANGES
  VERSION
  src/analyzer/protocol/ldap/ldap.spicy
  testing/btest/Baseline/scripts.base.protocols.ldap.abandon/conn.log
  testing/btest/Baseline/scripts.base.protocols.ldap.abandon/ldap.log
  testing/btest/Baseline/scripts.base.protocols.ldap.abandon/ldap_search.log
  testing/btest/Baseline/scripts.base.protocols.ldap.delete/conn.log
  testing/btest/Baseline/scripts.base.protocols.ldap.delete/ldap.log
  testing/btest/Baseline/scripts.base.protocols.ldap.delete/ldap_search.log
  testing/btest/Traces/ldap/ldap-abandon.pcap
  testing/btest/Traces/ldap/ldap-abandon.pcap.py
  testing/btest/Traces/ldap/ldap-delete.pcap
  testing/btest/Traces/ldap/ldap-delete.pcap.py
  testing/btest/scripts/base/protocols/ldap/abandon.zeek
  testing/btest/scripts/base/protocols/ldap/delete.zeek
Due: license, btest-command-commented

Merge remote-tracking branch 'origin/topic/awelzel/timer-fix-lag-time-metric'
  CHANGES
  VERSION
  src/Timer.cc
Due: license

Merge branch 'topic/asharma/netcontrol-rule-error-arity' of https://github.com/initconf/zeek
  CHANGES
  VERSION
  scripts/base/frameworks/netcontrol/cluster.zeek
  testing/btest/Baseline/scripts.base.frameworks.netcontrol.rule-error-cluster/worker-1..stdout
  testing/btest/scripts/base/frameworks/netcontrol/rule-error-cluster.zeek
Due: btest-command-commented

Merge branch 'patch-1' of https://github.com/BoxStrikesTeam/zeek
  CHANGES
  VERSION
  src/logging/writers/ascii/Ascii.cc
Due: license

Merge remote-tracking branch 'origin/topic/awelzel/writers-ascii-fix-clang-tidy-repeated-return-type-warning'
  CHANGES
  VERSION
  src/logging/writers/ascii/Ascii.cc
Due: license

Merge remote-tracking branch 'origin/topic/timw/a-msdu-cleanup'
  CHANGES
  VERSION
  src/TunnelEncapsulation.h
Due: license

Update external test suites
  testing/external/commit-hash.zeek-testing-private
Due: none

Add `NOT_SUPPORTED` storage return code
  scripts/base/init-bare.zeek
  src/storage/ReturnCode.cc
  src/storage/ReturnCode.h
Due: license
