Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

license:
  name: Check for license headers
  entry: ./ci/license-header.py
  language: python

btest-command-commented:
  name: Check that all BTest command lines are commented out
  entry: ^\s*@TEST-
  language: pygrep

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/scripts/base/bif/telemetry_functions.bif.zeek.rst
  doc/scripts/base/frameworks/telemetry/main.zeek.rst
Due: none

tools/systemd-generator: Make a pass over the default zeek.conf
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator-default-config/.stderr
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator-default-config/out
  testing/btest/tools/systemd-generator/test-zeek-systemd-generator-default-config.sh
  tools/systemd-generator/etc/zeek/zeek.conf
Due: btest-command-commented

doc: Add section about running Zeek with systemd
  doc/advanced/deployment/index.rst
  doc/advanced/deployment/systemd.rst
  doc/advanced/index.rst
Due: none

policy/misc: Add helper script for easier ZeroMQ multi-host setup
  scripts/policy/misc/zeromq-multi-host-auto-setup.zeek
  scripts/test-all-policy.zeek
  scripts/zeekygen/__load__.zeek
Due: none

NEWS: Add multi-interface and multi-host zeek.conf additions
  NEWS
Due: none

pre-commit: Skip formatting systemd-generator env test
  .pre-commit-config.yaml
Due: none

Bump docker actions in CI workflow to latest
  .github/workflows/check.yml
Due: none

Switch Docker layer cache from GHA to GHCR
  .github/workflows/check.yml
Due: none

doc/systemd: Add missing manager = 1 in two examples
  doc/advanced/deployment/systemd.rst
Due: none

Reduce size of scripts.base.protocols.modbus.events baseline
  testing/btest/Baseline/scripts.base.protocols.modbus.events/compressed-output
  testing/btest/Baseline/scripts.base.protocols.modbus.events/output
  testing/btest/scripts/base/protocols/modbus/events.zeek
Due: btest-command-commented

Run Windows btests under winpty for better output
  ci/windows/run-btests.sh
Due: none

tweaks to be more tolerant to missing type information
  src/EventHandler.cc
  src/Expr.cc
  src/script_opt/UsageAnalyzer.cc
Due: license

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/reference/zeekscript/autogenerated-script-index.rst
  doc/scripts/policy/frameworks/cluster/backend/zeromq/options.zeek.rst
  doc/scripts/policy/misc/zeromq-multi-host-auto-setup.zeek.rst
  doc/scripts/test-all-policy.zeek.rst
  doc/scripts/zeekygen/__load__.zeek.rst
Due: none

for-loop variant that returns all of the indices in a single variable
  src/Stmt.cc
  src/Stmt.h
  src/script_opt/Stmt.cc
Due: license

generalized skipping certain expressions for "ignored expression value" warnings
  src/Stmt.cc
  src/Stmt.h
Due: license

doc: add "Zeek in the SOC" section to why.rst
  doc/about/why.rst
Due: none

doc: consolidate WebSocket documentation
  doc/advanced/devel/cluster/architectures.rst
  doc/advanced/devel/websocket-api.rst
Due: none

OCSP: Empty byName responder ID crashes Zeek
  src/file_analysis/analyzer/x509/OCSP.cc
  testing/btest/Baseline/scripts.base.protocols.ssl.ocsp-empty-responderid/.stdout
  testing/btest/Traces/tls/ocsp-empty-responderid.pcap
  testing/btest/Traces/tls/ocsp-empty-responderid.pcap.py
  testing/btest/scripts/base/protocols/ssl/ocsp-empty-responderid.test
Due: license, btest-command-commented

Fix potential segfault in malformed opaque vals
  src/OpaqueVal.cc
  src/Type.cc
Due: license

support for extensible OpaqueTypes/values
  src/CompHash.cc
  src/CompHash.h
  src/Stmt.cc
  src/Type.cc
  src/Type.h
  src/Val.cc
Due: license

Fix cluster.websockets.ping-timeout btest when using websockets >= 17.0
  testing/btest/cluster/websocket/ping-timeout.zeek
Due: btest-command-commented

ContentLine: Prevent plain_delivery_length truncation
  src/analyzer/protocol/tcp/ContentLine.cc
  testing/btest/Baseline/scripts.base.protocols.http.content-length-overflow/conn.log
  testing/btest/Baseline/scripts.base.protocols.http.content-length-overflow/http.log
  testing/btest/Traces/README
  testing/btest/Traces/http/content-length-overflow.pcap
  testing/btest/Traces/http/content-length-overflow.pcap.py
  testing/btest/scripts/base/protocols/http/content-length-overflow.zeek
Due: license, btest-command-commented

support for modifying ("morphing") ASTs when duplicating
  src/ASTMorpher.cc
  src/ASTMorpher.h
  src/CMakeLists.txt
  src/Expr.cc
  src/Expr.h
  src/Stmt.cc
  src/Stmt.h
  src/StmtBase.h
  src/Var.cc
  src/parse.y
  src/script_opt/CPP/Func.h
  src/script_opt/Expr.cc
  src/script_opt/Expr.h
  src/script_opt/Inline.cc
  src/script_opt/Stmt.cc
  src/script_opt/ZAM/ZBody.h
Due: license

BTest updates for new source files and ZAM BiF maintenance
  src/script_opt/FuncInfo.cc
  testing/btest/Baseline/coverage.include-directory/..include-dir.out
  testing/btest/Baseline/opt.ZAM-bif-tracking/output
  testing/btest/opt/ZAM-bif-tracking.zeek
Due: license, btest-command-commented

SMB: Add checks/weird for a maximum depth of AndX recursion
  scripts/base/init-bare.zeek
  src/analyzer/protocol/smb/smb1-com-locking-andx.pac
  src/analyzer/protocol/smb/smb1-com-logoff-andx.pac
  src/analyzer/protocol/smb/smb1-com-nt-create-andx.pac
  src/analyzer/protocol/smb/smb1-com-read-andx.pac
  src/analyzer/protocol/smb/smb1-com-session-setup-andx.pac
  src/analyzer/protocol/smb/smb1-com-tree-connect-andx.pac
  src/analyzer/protocol/smb/smb1-com-write-andx.pac
  src/analyzer/protocol/smb/smb1-protocol.pac
  src/const.bif
  testing/btest/Baseline/scripts.base.protocols.smb.smb1-long-andx-chain/weird.log
  testing/btest/Traces/smb/smb1-logoff-andx-advance.pcap
  testing/btest/Traces/smb/smb1-logoff-andx-advance.pcap.py
  testing/btest/scripts/base/protocols/smb/smb1-long-andx-chain.zeek
Due: btest-command-commented

Reduce code duplication for the SMB AndX changes
  src/analyzer/protocol/smb/smb1-com-locking-andx.pac
  src/analyzer/protocol/smb/smb1-com-logoff-andx.pac
  src/analyzer/protocol/smb/smb1-com-nt-create-andx.pac
  src/analyzer/protocol/smb/smb1-com-read-andx.pac
  src/analyzer/protocol/smb/smb1-com-session-setup-andx.pac
  src/analyzer/protocol/smb/smb1-com-tree-connect-andx.pac
  src/analyzer/protocol/smb/smb1-com-write-andx.pac
  src/analyzer/protocol/smb/smb1-protocol.pac
Due: none

SMB: Add checks/weird for non-advancing AndX offsets
  src/analyzer/protocol/smb/smb1-com-locking-andx.pac
  src/analyzer/protocol/smb/smb1-com-logoff-andx.pac
  src/analyzer/protocol/smb/smb1-com-nt-create-andx.pac
  src/analyzer/protocol/smb/smb1-com-read-andx.pac
  src/analyzer/protocol/smb/smb1-com-session-setup-andx.pac
  src/analyzer/protocol/smb/smb1-com-tree-connect-andx.pac
  src/analyzer/protocol/smb/smb1-com-write-andx.pac
  src/analyzer/protocol/smb/smb1-protocol.pac
  testing/btest/Baseline/scripts.base.protocols.smb.smb1-non-advancing-andx-offset/weird.log
  testing/btest/Traces/smb/smb1-logoff-andx-no-advance.pcap
  testing/btest/Traces/smb/smb1-logoff-andx-no-advance.pcap.py
  testing/btest/scripts/base/protocols/smb/smb1-non-advancing-andx-offset.zeek
Due: btest-command-commented

Fix spicyz build-directory detection when invoked without path
  src/spicy/spicyz/driver.cc
Due: license

CI: Avoid restoring the wrong ccache
  .github/workflows/check.yml
Due: none

Bump auxil/spicy to latest development snapshot
  testing/btest/Baseline/coverage.include-directory/..include-dir.out
Due: btest-command-commented

nvt: Fix heap buffer overflow for NVT length limit
  src/analyzer/protocol/login/NVT.cc
  testing/btest/Baseline/scripts.base.protocols.login.nvt-contentline-length/conn-buffer-overflow.log
  testing/btest/Baseline/scripts.base.protocols.login.nvt-contentline-length/conn-long.log
  testing/btest/Baseline/scripts.base.protocols.login.nvt-contentline-length/weird-buffer-overflow.log
  testing/btest/Baseline/scripts.base.protocols.login.nvt-contentline-length/weird-long.log
  testing/btest/Traces/contentline/nvt-line-limit-crlf-heap-buffer-overflow.pcap.gz
  testing/btest/Traces/contentline/nvt-line-limit-crlf-heap-buffer-overflow.pcap.py
  testing/btest/scripts/base/protocols/login/nvt-contentline-length.zeek
Due: license, btest-command-commented

Fix assertion when inserting Dict elements while under robust iteration
  src/Dict.h
  testing/btest/core/dict-iteration-expire-3538.zeek
Due: license, btest-command-commented

Document Zeek security model
  SECURITY.md
  SECURITY_MODEL.md
  doc/security-considerations.rst
Due: none

Clarify AI-assisted contribution guidance
  AGENTS.md
  AI_POLICY.md
Due: none

Add event to access DCERPC AuthInfo from Zeek scripts
  src/analyzer/protocol/dce-rpc/dce_rpc-auth.pac
  src/analyzer/protocol/dce-rpc/events.bif
  testing/btest/Baseline/scripts.base.protocols.dce-rpc.auth/out.kerberos
  testing/btest/Baseline/scripts.base.protocols.dce-rpc.auth/out.netlogon
  testing/btest/Baseline/scripts.base.protocols.dce-rpc.auth/out.ntlm
  testing/btest/Baseline/scripts.base.protocols.dce-rpc.auth/out.ntlm-direct
  testing/btest/Baseline/scripts.base.protocols.dce-rpc.auth/out.privacy
  testing/btest/scripts/base/protocols/dce-rpc/auth.zeek
Due: btest-command-commented

fixup! Add a DHCPv6 analyzer
  src/analyzer/protocol/dhcpv6/dhcpv6.spicy
Due: license

testing: Add DHCPv6 analyzer baseline tests
  testing/btest/Baseline/core.pppoe/conn.log
  testing/btest/Baseline/core.print-bpf-filters/output2
  testing/btest/Baseline/coverage.default-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.find-bro-logs/out
  testing/btest/Baseline/scripts.base.protocols.dhcpv6.freebsd-ntpservers/dhcpv6.log
  testing/btest/Baseline/scripts.base.protocols.dhcpv6.freebsd-rapid-commit/dhcpv6.log
  testing/btest/Baseline/scripts.base.protocols.dhcpv6.freebsd-vendorclass/dhcpv6.log
  testing/btest/Baseline/scripts.base.protocols.dhcpv6.wifi-rapidcommit/dhcpv6.log
  testing/btest/Traces/dhcpv6/dhcpv6-freebsd-ntpservers.pcap
  testing/btest/Traces/dhcpv6/dhcpv6-freebsd-rapid-commit.pcap
  testing/btest/Traces/dhcpv6/dhcpv6-freebsd-vendorclass.pcap
  testing/btest/Traces/dhcpv6/dhcpv6-hp24fee0.pcap
  testing/btest/Traces/dhcpv6/dhcpv6-wifi-rapidcommit.pcap
  testing/btest/scripts/base/protocols/dhcpv6/freebsd-ntpservers.zeek
  testing/btest/scripts/base/protocols/dhcpv6/freebsd-rapid-commit.zeek
  testing/btest/scripts/base/protocols/dhcpv6/freebsd-vendorclass.zeek
  testing/btest/scripts/base/protocols/dhcpv6/wifi-rapidcommit.zeek
Due: btest-command-commented

Add a DHCPv6 analyzer
  .typos.toml
  scripts/base/init-default.zeek
  scripts/base/protocols/dhcpv6/__load__.zeek
  scripts/base/protocols/dhcpv6/consts.zeek
  scripts/base/protocols/dhcpv6/main.zeek
  scripts/base/protocols/dhcpv6/spicy-events.zeek
  src/analyzer/protocol/CMakeLists.txt
  src/analyzer/protocol/dhcpv6/CMakeLists.txt
  src/analyzer/protocol/dhcpv6/dhcpv6.evt
  src/analyzer/protocol/dhcpv6/dhcpv6.spicy
Due: license

Path conditions:
  license: any of: \.(h|c|cpp|cc|spicy|evt)$, but not: ^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$
  btest-command-commented: any of: ^testing/btest/.*$
