Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*|doc/devel/spicy/autogen/.*.spicy'

CI: Skip image builds by checking label in cached images
  .cirrus.yml
  ci/container-images-tag-and-push.sh
Due: none

optimize &default's of simple coercions
  src/script_opt/CPP/Inits.cc
  src/script_opt/CPP/InitsInfo.cc
Due: license

optimizer fix for tracking BiFs
  src/script_opt/CPP/Driver.cc
  src/script_opt/ProfileFunc.cc
  src/script_opt/ProfileFunc.h
  testing/btest/Baseline/opt.regress-BiF-profiling/output
  testing/btest/opt/regress-BiF-profiling.zeek
Due: license, btest-command-commented

SNMPv3: add parsing UserSecurityModel Security Parameters
  NEWS
  scripts/base/init-bare.zeek
  scripts/base/protocols/snmp/main.zeek
  src/analyzer/protocol/snmp/snmp-analyzer.pac
  src/analyzer/protocol/snmp/snmp-protocol.pac
  src/analyzer/protocol/snmp/types.bif
  testing/btest/Baseline/scripts.base.protocols.snmp.v3/out1
  testing/btest/Baseline/scripts.base.protocols.snmp.v3/snmp.log
  testing/btest/scripts/base/protocols/snmp/v3.zeek
Due: btest-command-commented

fixup! x509: Implement deduplication without Broker stores
  scripts/base/files/x509/main.zeek
  testing/btest/scripts/base/files/x509/log-caching-cluster-zeromq.test
  testing/btest/scripts/base/files/x509/log-caching-cluster.test
Due: btest-command-commented

Fix a couple of error messages
  src/cluster/Telemetry.cc
Due: license

CI: Make cluster_test and amd64_container_image have the same conditions
  .cirrus.yml
Due: none

Attr: Deprecate &backend and &broker_store attributes
  scripts/base/files/x509/main.zeek
  src/Attr.cc
  testing/btest/Baseline/coverage.bare-mode-errors/errors
  testing/btest/broker/store/brokerstore-backend-invalid.zeek
  testing/btest/broker/store/brokerstore-backend-sqlite-incompatible.zeek
  testing/btest/broker/store/brokerstore-backend-sqlite-wal-mode.zeek
  testing/btest/broker/store/create-global-failure.zeek
Due: license, btest-command-commented

Disable a few new checkers from later versions of clang-tidy
  .clang-tidy
Due: none

CI: Remove unnecessary extra only_if condition
  .cirrus.yml
Due: none

Allow name mismatches between Spicy and Zeek
  src/spicy/runtime-support.cc
  testing/btest/Baseline/spicy.name-mismatch-ok/output
  testing/btest/spicy/name-mismatch-ok.zeek
Due: license, btest-command-commented

Fix a few other random one-off clang-tidy findings
  src/IntrusivePtr.h
  src/zeek.bif
  tools/binpac/src/pac_flow.cc
Due: license

Fix a couple instances of readability-container-contains
  src/Type.h
  src/supervisor/Supervisor.cc
Due: license

Fix or silence findings of bugprone-derived-method-shadowing-base-method
  src/Expr.h
  src/RuleMatcher.h
  src/Val.h
  src/analyzer/protocol/pia/PIA.h
  src/script_opt/CPP/InitsInfo.h
  src/script_opt/Expr.h
  src/threading/formatters/detail/json.h
  tools/binpac/src/pac_analyzer.h
  tools/binpac/src/pac_array.cc
  tools/binpac/src/pac_array.h
  tools/binpac/src/pac_dataunit.h
  tools/binpac/src/pac_strtype.cc
  tools/binpac/src/pac_strtype.h
  tools/binpac/src/pac_typedecl.h
Due: license

Wrap includes of cc files in generated BIF files to check bugprone-suspicious-include
  CMakeLists.txt
  src/zeek.bif
Due: none

Fix a few instances of performance-unnecessary-value-param
  src/script_opt/CPP/Exprs.cc
  src/script_opt/CPP/Exprs.h
  src/script_opt/CPP/RuntimeInitSupport.cc
  src/script_opt/CPP/RuntimeInitSupport.h
  src/telemetry/telemetry_functions.bif
Due: license

Docs: Switch RFC urls to the :rfc: tag for sphinx
  doc/scripts/base/protocols/dns/consts.zeek.rst
  doc/scripts/base/protocols/ldap/index.rst
  doc/scripts/base/protocols/ldap/spicy-events.zeek.rst
  doc/scripts/base/protocols/quic/index.rst
  doc/scripts/base/protocols/quic/spicy-events.zeek.rst
  scripts/base/protocols/dns/consts.zeek
  scripts/base/protocols/ldap/spicy-events.zeek
  scripts/base/protocols/quic/spicy-events.zeek
Due: none

Start the new tutorial doc outline
  doc/index.rst
  doc/tutorial/cluster-backends.rst
  doc/tutorial/index.rst
  doc/tutorial/intro-scripting.rst
  doc/tutorial/invoking-zeek.rst
  doc/tutorial/invoking-zeekctl.rst
  doc/tutorial/logs.rst
  doc/tutorial/setup.rst
  doc/tutorial/using-packages.rst
  doc/tutorial/zeek-frameworks.rst
Due: none

Bring in the initial tutorial
  doc/tutorial/intro-scripting.rst
  doc/tutorial/invoking-zeek.rst
  doc/tutorial/invoking-zeekctl.rst
  doc/tutorial/logs.rst
  doc/tutorial/setup.rst
  doc/tutorial/using-packages.rst
  doc/tutorial/zeek-frameworks.rst
Due: none

Deprecate json_escape_utf8, replace with escape_utf8 with proper argument meaning
  src/Desc.cc
  src/Val.cc
  src/broker/Manager.cc
  src/threading/formatters/JSON.cc
  src/util.cc
  src/util.h
Due: license

Add argument to escape other control characters to escape_utf8
  NEWS
  src/threading/formatters/JSON.cc
  src/util.cc
  src/util.h
  testing/btest/Baseline/scripts.base.frameworks.logging.ascii-json-utf8/ssh.log
Due: license, btest-command-commented

quic: Set zeek_init() with Log::create_stream() call to priority=5
  scripts/base/protocols/quic/main.zeek
Due: none

postgresql: Set zeek_init() with Log::create_stream() call to priority=5
  scripts/base/protocols/postgresql/main.zeek
Due: none

websocket: Set zeek_init() with Log::create_stream() call to priority=5
  scripts/base/protocols/websocket/main.zeek
Due: none

postgresql: Switch to Allman indent style
  scripts/base/protocols/postgresql/main.zeek
Due: none

btest/broker: Remove get_broker_stats() print
  testing/btest/Baseline/broker.remote_event/recv.recv.out
  testing/btest/Baseline/broker.remote_event_any/recv.recv.out
  testing/btest/Baseline/broker.remote_event_ssl_auth/recv.recv.out
  testing/btest/broker/remote_event.zeek
  testing/btest/broker/remote_event_any.zeek
  testing/btest/broker/remote_event_ssl_auth.zeek
Due: btest-command-commented

btest/Files/zeromq/metrics: Add missing load for telemetry framework
  testing/btest/Files/zeromq/metrics.zeek
Due: btest-command-commented

btest/broker/remote_event_ts_compat: Replace 15 second sleep with wait-for-file
  testing/btest/broker/remote_event_ts_compat.zeek
Due: btest-command-commented

Add context to AF_Packet errors
  src/iosource/af_packet/AF_Packet.cc
  src/iosource/af_packet/AF_Packet.h
Due: license

cluster: Add None backend
  src/cluster/backend/CMakeLists.txt
  src/cluster/backend/none/CMakeLists.txt
  src/cluster/backend/none/Plugin.cc
  testing/btest/coverage/test-all-policy-zeekygen.test
Due: license, btest-command-commented

cluster: Move Broker connect logic into policy package
  scripts/base/frameworks/cluster/main.zeek
  scripts/base/frameworks/cluster/setup-connections.zeek
  scripts/policy/frameworks/cluster/backend/broker/__load__.zeek
  scripts/policy/frameworks/cluster/backend/broker/main.zeek
  scripts/test-all-policy.zeek
Due: none

cluster: Introduce pubsub.zeek and types.zeek
  scripts/base/frameworks/cluster/__load__.zeek
  scripts/base/frameworks/cluster/main.zeek
  scripts/base/frameworks/cluster/pubsub.zeek
  scripts/base/frameworks/cluster/types.zeek
  testing/btest/Baseline/coverage.bare-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.default-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/plugins.hooks/output
Due: btest-command-commented

cluster: Move more Broker specific scripts to policy/
  scripts/base/frameworks/cluster/__load__.zeek
  scripts/policy/frameworks/cluster/backend/broker/__load__.zeek
  scripts/policy/frameworks/cluster/backend/broker/backpressure.zeek
  scripts/policy/frameworks/cluster/backend/broker/telemetry.zeek
  scripts/test-all-policy.zeek
  testing/btest/Baseline/coverage.init-default/missing_loads
Due: btest-command-commented

btest: Use Broker for Broker specific tests
  testing/btest/Files/broker/cluster-layout.zeek
  testing/btest/cluster/generic/cluster-publish-errors.zeek
  testing/btest/cluster/websocket/terminate-while-queuing.zeek
  testing/btest/core/suspend_processing/websocket.zeek
  testing/btest/plugins/publish-event-hook.zeek
  testing/btest/scripts/base/frameworks/control/configuration_update.zeek
  testing/btest/scripts/base/frameworks/control/id_value.zeek
  testing/btest/scripts/base/frameworks/control/shutdown.zeek
  testing/btest/scripts/base/frameworks/logging/length-checking.zeek
  testing/btest/scripts/policy/frameworks/cluster/cluster_started_restart_manager.zeek
  testing/btest/scripts/policy/frameworks/cluster/cluster_started_restart_worker.zeek
  testing/btest/scripts/policy/frameworks/telemetry/prometheus.zeek
  testing/btest/supervisor/config-cluster.zeek
Due: btest-command-commented

cluster/main: Fatal error on missing backend
  scripts/base/frameworks/cluster/main.zeek
  testing/btest/Baseline/cluster.generic.none-cluster-backend/.stderr
  testing/btest/cluster/generic/none-cluster-backend.zeek
  testing/btest/scripts/base/frameworks/cluster/leftover-log-rotation-multi-logger.zeek
  testing/btest/supervisor/config-cluster-leftover-log-archival.zeek
  testing/btest/supervisor/config-cluster-log-archival.zeek
  testing/btest/supervisor/config-cluster-multi-logger.zeek
  testing/btest/supervisor/config-cluster-pcap.zeek
  testing/btest/supervisor/large-cluster.zeek
Due: btest-command-commented

supervisor: Switch from Broker:: to Cluster::
  scripts/base/frameworks/supervisor/main.zeek
  testing/btest/Baseline/coverage.bare-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.default-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/plugins.hooks/output
  testing/btest/scripts/policy/frameworks/management/controller/agent-checkin.zeek
Due: btest-command-commented

init-bare: Default to CLUSTER_BACKEND_NONE
  scripts/base/init-bare.zeek
Due: none

cluster: Rename setup-connections to setup-subscriptions
  scripts/base/frameworks/cluster/__load__.zeek
  scripts/base/frameworks/cluster/pools.zeek
  scripts/base/frameworks/cluster/setup-connections.zeek
  scripts/base/frameworks/cluster/setup-subscriptions.zeek
  testing/btest/Baseline/coverage.bare-mode-errors/errors
  testing/btest/Baseline/coverage.init-default/missing_loads
Due: btest-command-commented

cluster/backend/zeromq: Deprecate connect script
  NEWS
  scripts/policy/frameworks/cluster/backend/zeromq/connect.zeek
  scripts/policy/frameworks/cluster/backend/zeromq/main.zeek
  testing/btest/Baseline/cluster.zeromq.ipv6-error/logger..stderr
  testing/btest/Baseline/cluster.zeromq.ipv6-error/manager..stderr
  testing/btest/Baseline/coverage.bare-mode-errors/errors
  testing/btest/Files/zeromq/test-bootstrap.zeek
Due: btest-command-commented
