Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

license:
  name: Check for license headers
  entry: ./ci/license-header.py
  language: python

btest-command-commented:
  name: Check that all BTest command lines are commented out
  entry: ^\s*@TEST-
  language: pygrep

Merge remote-tracking branch 'origin/topic/awelzel/zeromq-handle-eintr'
  CHANGES
  VERSION
  src/cluster/backend/zeromq/ZeroMQ-Proxy.cc
  src/cluster/backend/zeromq/ZeroMQ.cc
  testing/btest/Baseline/cluster.zeromq.supervisor-runs-zmq-proxy/supervisor.cluster.log
  testing/btest/cluster/zeromq/supervisor-runs-zmq-proxy.zeek
Due: license, btest-command-commented

Merge remote-tracking branch 'origin/topic/awelzel/4849-supervisor-signal-handle-tsan'
  CHANGES
  VERSION
  src/supervisor/Supervisor.cc
  src/supervisor/Supervisor.h
Due: license

Merge remote-tracking branch 'origin/topic/awelzel/zeromq-fix-block-subscribe-before-init'
  CHANGES
  VERSION
  src/cluster/backend/zeromq/ZeroMQ.cc
  testing/btest/Baseline/cluster.zeromq.subscribe-before-init/..manager.out
  testing/btest/cluster/zeromq/subscribe-before-init.zeek
Due: license, btest-command-commented

Merge remote-tracking branch 'origin/topic/timw/4742-skip-storage-thread'
  CHANGES
  VERSION
  src/storage/Manager.cc
  src/storage/Manager.h
  testing/btest/scripts/base/frameworks/storage/redis-expiration.zeek
Due: license, btest-command-commented

Merge remote-tracking branch 'origin/topic/awelzel/4845-get-current-packet-header-fragmented-syn'
  CHANGES
  NEWS
  VERSION
  src/iosource/Packet.cc
  src/zeek.bif
  testing/btest/Baseline/bifs.get_current_packet_header_fragmented_syn/output
  testing/btest/Traces/ipv4/fragmented-syn.pcap
  testing/btest/bifs/get_current_packet_header_fragmented_syn.zeek
Due: license, btest-command-commented

Update docs submodule [nomail]
  NEWS
Due: none

Merge remote-tracking branch 'origin/topic/vern/opt-skip-file-fix'
  CHANGES
  VERSION
  src/script_opt/ScriptOpt.cc
Due: license

Merge remote-tracking branch 'origin/topic/awelzel/writer-backend-no-heartbeat'
  CHANGES
  VERSION
  src/logging/WriterBackend.cc
  src/logging/WriterBackend.h
  src/logging/writers/ascii/Ascii.cc
  src/logging/writers/ascii/Ascii.h
  src/logging/writers/none/None.h
  src/logging/writers/sqlite/SQLite.cc
  src/logging/writers/sqlite/SQLite.h
Due: license

QUIC: Skip packets with fixed_bit 0
  NEWS
  src/analyzer/protocol/quic/QUIC.spicy
  testing/btest/Baseline/scripts.base.protocols.quic.39264-rand/conn.log.cut
  testing/btest/Baseline/scripts.base.protocols.quic.39264-rand/quic.log
  testing/btest/Baseline/scripts.base.protocols.quic.39264-rand/ssl.log
  testing/btest/Traces/quic/quic-39264-rand.pcap
  testing/btest/scripts/base/protocols/quic/39264-rand.zeek
Due: license, btest-command-commented

Add SHA512 BiFs and OpaqueVals
  src/OpaqueVal.cc
  src/OpaqueVal.h
  src/Type.h
  src/digest.h
  src/script_opt/FuncInfo.cc
  src/zeek-setup.cc
  src/zeek.bif
  testing/btest/Baseline/bifs.sha512/output
  testing/btest/Baseline/broker.opaque/out
  testing/btest/Baseline/language.copy-all-opaques/out
  testing/btest/bifs/sha512.test
  testing/btest/broker/opaque.zeek
  testing/btest/language/copy-all-opaques.zeek
Due: license, btest-command-commented

Modifiable: No virtual destructor
  src/Notifier.cc
  src/Notifier.h
  src/Val.cc
Due: license

RecordVal: Use const pointer in parse_time_records
  src/Val.h
Due: license

Val: Introduce ZValElement
  src/Val.cc
  src/Val.h
Due: license

RecordVal: Remove rt member
  src/Val.cc
  src/Val.h
Due: license

logging/Manager: Adapt RawOptField() usage for ZValElement
  src/logging/Manager.cc
Due: license

RecordVal: Replace std::optional<ZVal> with ZValElement
  src/Val.cc
  src/Val.h
Due: license

Type: Cache tag into TypeDecl
  src/Type.cc
  src/Type.h
  src/Val.h
Due: license

RecordVal: Replace std::vector with ZValSlot[]
  src/Val.cc
  src/Val.h
Due: license

RecordType: Inline FieldDecl
  src/Type.cc
  src/Type.h
Due: license

ZAM: Drop some unneeded DeleteManagedTyped() calls
  src/script_opt/ZAM/OPs/constructors.op
Due: none

RecordType/RecordVal: Support ZValElement initialization
  src/Type.cc
  src/Type.h
  src/Val.cc
  src/Val.h
Due: license

QUIC: Introduce discarded_packet() event
  NEWS
  scripts/base/protocols/quic/main.zeek
  scripts/base/protocols/quic/spicy-events.zeek
  src/analyzer/protocol/quic/QUIC.evt
  src/analyzer/protocol/quic/QUIC.spicy
  testing/btest/Baseline/scripts.base.protocols.quic.39264-rand/quic.log
  testing/btest/Baseline/scripts.base.protocols.quic.curl-http3/quic.log
  testing/btest/Baseline/scripts.base.protocols.quic.discarded-packet/quic.log.cut
  testing/btest/Baseline/scripts.base.protocols.quic.discarded-packet/quic.log.default-discarded-packets
  testing/btest/Baseline/scripts.base.protocols.quic.discarded-packet/quic.log.no-discarded-packets
  testing/btest/Baseline/scripts.base.protocols.quic.discarded-packet/quic.log.one-discarded-packet
  testing/btest/Baseline/scripts.base.protocols.quic.firefox/quic.log
  testing/btest/scripts/base/protocols/quic/discarded-packet.zeek
  testing/external/commit-hash.zeek-testing
Due: license, btest-command-commented

Add TCP::raw_option_list BiF
  NEWS
  scripts/base/init-bare.zeek
  src/analyzer/protocol/tcp/functions.bif
  src/script_opt/FuncInfo.cc
  testing/btest/Baseline/bifs.tcp_raw_option_list-2/.stdout
  testing/btest/Baseline/bifs.tcp_raw_option_list/.stdout
  testing/btest/bifs/tcp_raw_option_list.zeek
Due: license, btest-command-commented

Merge remote-tracking branch 'origin/topic/awelzel/4847-quic-discard-fixed-bit-is-zero'
  CHANGES
  NEWS
  VERSION
  src/analyzer/protocol/quic/QUIC.spicy
  testing/btest/Baseline/scripts.base.protocols.quic.39264-rand/conn.log.cut
  testing/btest/Baseline/scripts.base.protocols.quic.39264-rand/quic.log
  testing/btest/Baseline/scripts.base.protocols.quic.39264-rand/ssl.log
  testing/btest/Traces/quic/quic-39264-rand.pcap
  testing/btest/scripts/base/protocols/quic/39264-rand.zeek
Due: license, btest-command-commented

CI: Update CentOS 9 to Python 3.13
  ci/centos-stream-9/Dockerfile
Due: none

Bump zeek-testing-cluster commit hash
  testing/external/commit-hash.zeek-testing-cluster
Due: none

RecordVal: Avoid intermediate ZValElement during init
  src/Val.h
Due: license

Val: Fix clang-tidy warning in doctest
  src/Val.cc
Due: license

Use package `cmake-core` instead of `cmake` on FreeBSD
  ci/freebsd/prepare.sh
Due: none

Bump CI to freebsd-13.5
  .cirrus.yml
Due: none

tools/systemd-generator: Introduce zeek-systemd-generator
  CMakeLists.txt
  scripts/policy/misc/zeek-systemd-generator.zeek
  scripts/test-all-policy.zeek
  testing/btest/Baseline/tools.systemd-generator.test-interface-substitution/..dir1.zeek-worker@1.service.d.10-zeek-systemd-generator.conf
  testing/btest/Baseline/tools.systemd-generator.test-interface-substitution/..dir1.zeek-worker@2.service.d.10-zeek-systemd-generator.conf
  testing/btest/Baseline/tools.systemd-generator.test-interface-substitution/..dir2.zeek-worker@1.service.d.10-zeek-systemd-generator.conf
  testing/btest/Baseline/tools.systemd-generator.test-interface-substitution/..dir2.zeek-worker@2.service.d.10-zeek-systemd-generator.conf
  testing/btest/Baseline/tools.systemd-generator.test-interface-substitution/..dir3.zeek-worker@1.service.d.10-zeek-systemd-generator.conf
  testing/btest/Baseline/tools.systemd-generator.test-interface-substitution/..dir3.zeek-worker@2.service.d.10-zeek-systemd-generator.conf
  testing/btest/Baseline/tools.systemd-generator.test-zeek-cluster-layout-generator/cluster-layout-custom.zeek
  testing/btest/Baseline/tools.systemd-generator.test-zeek-cluster-layout-generator/cluster-layout-default.zeek
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-archiver.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-logger@.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-manager.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-proxy@.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-setup.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-worker@.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-worker@1.service.d.10-zeek-systemd-generator.conf
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-worker@2.service.d.10-zeek-systemd-generator.conf
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-worker@3.service.d.10-zeek-systemd-generator.conf
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-worker@4.service.d.10-zeek-systemd-generator.conf
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/out
  testing/btest/btest.cfg
  testing/btest/tools/systemd-generator/test-interface-substitution.sh
  testing/btest/tools/systemd-generator/test-zeek-cluster-layout-generator.sh
  testing/btest/tools/systemd-generator/test-zeek-systemd-generator.sh
  tools/systemd-generator/CMakeLists.txt
  tools/systemd-generator/README.md
  tools/systemd-generator/etc/zeek/zeek.conf
  tools/systemd-generator/src/systemd-unit.cc
  tools/systemd-generator/src/systemd-unit.h
  tools/systemd-generator/src/zeek-cluster-config.cc
  tools/systemd-generator/src/zeek-cluster-config.h
  tools/systemd-generator/src/zeek-cluster-layout-generator.cc
  tools/systemd-generator/src/zeek-systemd-generator.cc
Due: license, btest-command-commented

Skip setting tm_gmtoff on Windows
  src/analyzer/protocol/smb/smb-time.pac
Due: none

Make UID constructor/UID::Set capable of taking a pool value
  src/UID.cc
  src/UID.h
Due: license

Path conditions:
  license: any of: \.(h|c|cpp|cc|spicy|evt)$, but not: ^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*)$
  btest-command-commented: any of: ^testing/btest/.*$
