Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

license:
  name: Check for license headers
  entry: ./ci/license-header.py
  language: python

btest-command-commented:
  name: Check that all BTest command lines are commented out
  entry: ^\s*@TEST-
  language: pygrep

Fix Windows warning about unused parameter
  src/spicy/spicyz/driver.h
Due: license

Use /W4 when building spicyz on Windows instead of /Wall
  src/spicy/spicyz/CMakeLists.txt
Due: none

Mark some variables in spicyz/glue-compiler as maybe_unused
  src/spicy/spicyz/glue-compiler.cc
Due: license

Initialize variable potentially used uninitialized
  src/spicy/spicyz/glue-compiler.cc
Due: license

Fix warning about implicit conversion from double to uint64_t
  src/val-convert.cc
Due: license

Fix warning about printf type in ZeroMQ backend
  src/cluster/backend/zeromq/ZeroMQ.cc
Due: license

Add a DHCPv6 analyzer
  scripts/base/init-default.zeek
  scripts/base/protocols/dhcpv6/__load__.zeek
  scripts/base/protocols/dhcpv6/consts.zeek
  scripts/base/protocols/dhcpv6/main.zeek
  scripts/base/protocols/dhcpv6/spicy-events.zeek
  src/analyzer/protocol/CMakeLists.txt
  src/analyzer/protocol/dhcpv6/CMakeLists.txt
  src/analyzer/protocol/dhcpv6/dhcpv6.evt
  src/analyzer/protocol/dhcpv6/dhcpv6.spicy
Due: license

NEWS: Mention the new DHCPv6 analyzer
  NEWS
Due: none

testing: Add DHCPv6 analyzer baseline tests
  testing/btest/Baseline/core.pppoe/conn.log
  testing/btest/Baseline/core.print-bpf-filters/output2
  testing/btest/Baseline/coverage.default-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.find-bro-logs/out
  testing/btest/Baseline/scripts.base.protocols.dhcpv6.freebsd-ntpservers/dhcpv6.log
  testing/btest/Baseline/scripts.base.protocols.dhcpv6.freebsd-rapid-commit/dhcpv6.log
  testing/btest/Baseline/scripts.base.protocols.dhcpv6.freebsd-vendorclass/dhcpv6.log
  testing/btest/Baseline/scripts.base.protocols.dhcpv6.wifi-rapidcommit/dhcpv6.log
  testing/btest/Traces/dhcpv6/dhcpv6-freebsd-ntpservers.pcap
  testing/btest/Traces/dhcpv6/dhcpv6-freebsd-rapid-commit.pcap
  testing/btest/Traces/dhcpv6/dhcpv6-freebsd-vendorclass.pcap
  testing/btest/Traces/dhcpv6/dhcpv6-wifi-rapidcommit.pcap
  testing/btest/scripts/base/protocols/dhcpv6/freebsd-ntpservers.zeek
  testing/btest/scripts/base/protocols/dhcpv6/freebsd-rapid-commit.zeek
  testing/btest/scripts/base/protocols/dhcpv6/freebsd-vendorclass.zeek
  testing/btest/scripts/base/protocols/dhcpv6/wifi-rapidcommit.zeek
Due: btest-command-commented

logging/ascii: Support json_string_escape_policy
  NEWS
  doc/frameworks/logging.rst
  scripts/base/frameworks/logging/writers/ascii.zeek
  scripts/base/init-bare.zeek
  src/logging/writers/ascii/Ascii.cc
  src/logging/writers/ascii/Ascii.h
  src/logging/writers/ascii/ascii.bif
  src/threading/formatters/JSON.cc
  src/threading/formatters/JSON.h
  src/util.cc
  src/util.h
  testing/btest/Baseline/scripts.base.frameworks.logging.ascii-json-utf8/ssh-tsv.log
  testing/btest/Baseline/scripts.base.frameworks.logging.ascii-json-utf8/ssh.log.hex
  testing/btest/Baseline/scripts.base.frameworks.logging.ascii-json-utf8/ssh.log.pua
  testing/btest/Baseline/scripts.base.frameworks.logging.ascii-json-utf8/ssh.log.tsv
  testing/btest/scripts/base/frameworks/logging/ascii-json-utf8.zeek
Due: license, btest-command-commented

doc: Updates for logging / JSON
  doc/scripts/base/frameworks/logging/writers/ascii.zeek.rst
  doc/scripts/base/init-bare.zeek.rst
Due: none

logging: Stash vector of Field* into LogWriteHeader, use for plugin hooks
  src/logging/Manager.cc
  src/logging/Types.h
  src/logging/WriterFrontend.cc
  testing/btest/Baseline/plugins.logging-hooks-no-local/output
  testing/btest/plugins/logging-hooks-no-local.zeek
  testing/btest/plugins/logging-hooks-plugin/src/Plugin.cc
  testing/btest/plugins/logging-hooks-plugin/src/Plugin.h
Due: license, btest-command-commented

Remove additional compiler-warning flags for spicyz
  src/spicy/spicyz/CMakeLists.txt
Due: none

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/reference/zeekscript/autogenerated-protocol-analyzer-index.rst
  doc/scripts/base/bif/event.bif.zeek.rst
  doc/scripts/base/init-bare.zeek.rst
Due: none

src/CMakeLists: Switch bif header installation to GLOB_RECURSE
  src/CMakeLists.txt
  testing/btest/Baseline/coverage.include-directory/..include-dir.out
Due: btest-command-commented

btest/cluster/zeromq: Attempt to make no-drop tests less flaky
  testing/btest/Baseline/cluster.zeromq.overload-no-drop/manager.out
  testing/btest/Baseline/cluster.zeromq.overload-no-drop/proxy.out
  testing/btest/Baseline/cluster.zeromq.overload-no-drop/worker-1.out
  testing/btest/Baseline/cluster.zeromq.overload-no-drop/worker-2.out
  testing/btest/Baseline/cluster.zeromq.overload-worker-proxy-topic-no-drop/proxy.out
  testing/btest/Baseline/cluster.zeromq.overload-worker-proxy-topic-no-drop/worker-1.out
  testing/btest/Baseline/cluster.zeromq.overload-worker-proxy-topic-no-drop/worker-2.out
  testing/btest/cluster/zeromq/overload-no-drop.zeek
  testing/btest/cluster/zeromq/overload-worker-proxy-topic-no-drop.zeek
Due: btest-command-commented

Add btests exercising the error cases in expression handling
  testing/btest/Baseline/language.expr-error-arithmetic/err
  testing/btest/Baseline/language.expr-error-assignment/err
  testing/btest/Baseline/language.expr-error-bitwise/err
  testing/btest/Baseline/language.expr-error-call/err
  testing/btest/Baseline/language.expr-error-comparison/err
  testing/btest/Baseline/language.expr-error-conditional/err
  testing/btest/Baseline/language.expr-error-constructors/err
  testing/btest/Baseline/language.expr-error-field-access/err
  testing/btest/Baseline/language.expr-error-operators/err
  testing/btest/Baseline/language.expr-error-runtime/out
  testing/btest/language/expr-error-arithmetic.zeek
  testing/btest/language/expr-error-assignment.zeek
  testing/btest/language/expr-error-bitwise.zeek
  testing/btest/language/expr-error-call.zeek
  testing/btest/language/expr-error-comparison.zeek
  testing/btest/language/expr-error-conditional.zeek
  testing/btest/language/expr-error-constructors.zeek
  testing/btest/language/expr-error-field-access.zeek
  testing/btest/language/expr-error-operators.zeek
  testing/btest/language/expr-error-runtime.zeek
Due: btest-command-commented

Make the expr-error runtime tests robust under ZAM
  testing/btest/Baseline.zam/language.expr-error-runtime/out
  testing/btest/Baseline/language.expr-error-constructors/err
  testing/btest/Baseline/language.expr-error-runtime-interp/out
  testing/btest/Baseline/language.expr-error-runtime/out
  testing/btest/language/expr-error-constructors.zeek
  testing/btest/language/expr-error-operators.zeek
  testing/btest/language/expr-error-runtime-interp.zeek
  testing/btest/language/expr-error-runtime.zeek
Due: btest-command-commented

policy/misc: Add helper script for easier ZeroMQ multi-host setup
  scripts/policy/misc/zeromq-multi-host-auto-setup.zeek
  scripts/test-all-policy.zeek
  scripts/zeekygen/__load__.zeek
Due: none

doc: Add section about running Zeek with systemd
  doc/advanced/deployment/index.rst
  doc/advanced/deployment/systemd.rst
  doc/advanced/index.rst
Due: none

pre-commit: Skip formatting systemd-generator env test
  .pre-commit-config.yaml
Due: none

Docs: edits on top of #5679
  doc/about/what.rst
Due: none

Reject table constructors whose key arity doesn't match the index
  src/Expr.cc
  testing/btest/Baseline/language.table-composite-key-arity/out
  testing/btest/language/table-composite-key-arity.zeek
Due: license, btest-command-commented

Fix out-of-bounds read hashing a wrong-arity composite table key
  src/CompHash.cc
Due: license

Don't abort script optimization on an assignment used as a value
  src/script_opt/Expr.cc
  testing/btest/Baseline.zam/language.assign-in-constructor-value/out
  testing/btest/Baseline/language.assign-in-constructor-value/out
  testing/btest/language/assign-in-constructor-value.zeek
Due: license, btest-command-commented

CI: Return/use additional tags as a bash array during image creation
  ci/container-images-addl-tags.sh
Due: none

Fix Broker instrumentation for sanitizer builds
  CMakeLists.txt
Due: none

Upgrade GitPython to 3.1.51 to fix dependabot warnings
  doc/requirements.txt
Due: none

add support for trailing pattern flags in Input Framework
  src/input/Manager.cc
  src/threading/SerialTypes.cc
  src/threading/SerialTypes.h
  src/threading/formatters/Ascii.cc
  testing/btest/Baseline/scripts.base.frameworks.input.pattern-flags/.stderr
  testing/btest/scripts/base/frameworks/input/pattern-flags.zeek
Due: license, btest-command-commented

Upgrade GitPython to 3.1.55 to fix dependabot warnings
  doc/requirements.txt
Due: none

Speed up WebSocketShim unit tests
  src/broker/WebSocketShim.cc
Due: license

typo in Val.h comment
  src/Val.h
Due: license

fix bifcl to provide #line information in BiF shims as well as BiF natives
  tools/bifcl/builtin-func.y
Due: none

Fix clang-tidy warning from bifcl changes
  tools/bifcl/builtin-func.y
Due: none

Restore checking for mismatches in coverage commands
  testing/coverage/lcov_html.sh
Due: none

Initialize the Prometheus listener via zeek_init()
  scripts/base/frameworks/telemetry/main.zeek
  src/telemetry/Manager.cc
  src/telemetry/Manager.h
  src/telemetry/telemetry_functions.bif
  testing/btest/cluster/zeromq/proxy-steerable-metrics.zeek
Due: license, btest-command-commented

Path conditions:
  license: any of: \.(h|c|cpp|cc|spicy|evt)$, but not: ^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$
  btest-command-commented: any of: ^testing/btest/.*$
