Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*|doc/devel/spicy/autogen/.*.spicy'

Don't load the ZIP analyzer in testing-setup.zeek
  testing/external/scripts/testing-setup.zeek
Due: none

Upgrade AndreKurait/docker-cache action to 0.7.0 (fixes node20 warning)
  .github/workflows/check.yml
Due: none

github/workflows: Run CIFuzz only on zeek/zeek
  .github/workflows/cifuzz.yml
Due: none

gnutella: Fix uncontrolled buffer growth on lines
  scripts/base/init-bare.zeek
  src/analyzer/protocol/gnutella/CMakeLists.txt
  src/analyzer/protocol/gnutella/Gnutella.cc
  src/analyzer/protocol/gnutella/consts.bif
  testing/btest/Baseline/coverage.bare-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.default-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/plugins.hooks/output
  testing/btest/Baseline/scripts.base.protocols.gnutella.max-line-length/conn.log
  testing/btest/Baseline/scripts.base.protocols.gnutella.max-line-length/weird.log
  testing/btest/Traces/README
  testing/btest/Traces/gnutella/max-line.pcapng
  testing/btest/Traces/gnutella/max-line.pcapng.py
  testing/btest/scripts/base/protocols/gnutella/max-line-length.zeek
Due: license, btest-command-commented

gnutella: Fix multiple header lines buffer growth
  scripts/base/init-bare.zeek
  src/analyzer/protocol/gnutella/Gnutella.cc
  src/analyzer/protocol/gnutella/consts.bif
  testing/btest/Baseline/scripts.base.protocols.gnutella.max-header-length/conn.log
  testing/btest/Baseline/scripts.base.protocols.gnutella.max-header-length/weird.log
  testing/btest/Traces/README
  testing/btest/Traces/gnutella/buffer-growth-generator.py
  testing/btest/Traces/gnutella/max-header.pcapng
  testing/btest/Traces/gnutella/max-line.pcapng
  testing/btest/scripts/base/protocols/gnutella/max-header-length.zeek
Due: license, btest-command-commented

Cache docker image directly with official Docker actions
  .github/workflows/check.yml
Due: none

Rename CircleCI params generation script
  .circleci/generate-workflow-params.py
  .circleci/setup.yml
Due: none

Add usage of ZEEK_IS_INTERNAL_JOB to control benchmarks/coverage
  .circleci/config.yml
  ci/benchmark.sh
  ci/upload-coverage.sh
Due: none

Disable benchmarks until we can fix the service
  .circleci/config.yml
Due: none

Add flags to control running coverage and fuzzer tests for linux jobs
  .circleci/config.yml
Due: none

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/reference/zeekscript/autogenerated-file-analyzer-index.rst
  doc/reference/zeekscript/autogenerated-protocol-analyzer-index.rst
  doc/scripts/base/bif/event.bif.zeek.rst
  doc/scripts/base/init-bare.zeek.rst
Due: none

utils/atoi_n: Prevent overflows and fix digit parsing for base < 10
  src/util.cc
Due: license

utils/atoi_n: Reject neg for unsigned, prevent overflow for signed
  src/util.cc
Due: license

utils/atoi_n: Switch to std::from_chars
  src/util.cc
Due: license

fixup! utils/atoi_n: Switch to std::from_chars
  src/util.cc
Due: license

BasicThread/Reporter/Debug/AnalyzerSet: Fix stray semicolon
  src/Debug.h
  src/Reporter.h
  src/file_analysis/AnalyzerSet.h
  src/threading/BasicThread.h
Due: license

Fix some %p expecting void* warnings
  src/Type.cc
  src/cluster/backend/zeromq/ZeroMQ.cc
  src/cluster/publish_on_change.bif
  src/logging/Manager.cc
  tools/binpac/src/pac_type.cc
Due: license

zeek.bif: Fix %hhx expecting unsigned char
  src/zeek.bif
Due: none

binpac: Fix %3o / %2x / %x parsing expecting unsigned int
  tools/binpac/src/pac_cstr.cc
  tools/binpac/src/pac_scan.ll
Due: license

telemetry/ProcessStats: Use %lu for rss_pages
  src/telemetry/ProcessStats.cc
Due: license

Skip GH CI when running in private repos [skip ci]
  .github/workflows/check.yml
Due: none

ICMP: Add length checking before calling BuildNDOptionsVal
  src/packet_analysis/protocol/icmp/ICMP.cc
  testing/btest/Baseline/scripts.base.protocols.icmp.icmp6-nd-short-options/weird.log
  testing/btest/Traces/README
  testing/btest/Traces/icmp/icmp6-nd-short-options.pcap
  testing/btest/Traces/icmp/icmp6-nd-short-options.pcap.py
  testing/btest/scripts/base/protocols/icmp/icmp6-nd-short-options.zeek
Due: license, btest-command-commented

Pass -y to brew in macOS prepare.sh script
  ci/macos/prepare.sh
Due: none

Set ZEEK_CI_CPUS based on a parameter for some jobs
  .circleci/config.yml
Due: none

Fix token usage for GH API requests
  .circleci/generate-workflow-params.py
Due: none

Add zeekctl and include-plugin testing to CircleCI config
  .circleci/config.yml
Due: none

Check for valid length before outputting unknown IP packet contents
  src/packet_analysis/protocol/unknown_ip_transport/UnknownIPTransport.cc
  testing/btest/Baseline/scripts.base.protocols.conn.unknown-ip-short-payload/output
  testing/btest/Traces/README
  testing/btest/Traces/unknown-ip-short-payload.pcap
  testing/btest/Traces/unknown-ip-short-payload.py
  testing/btest/scripts/base/protocols/conn/unknown-ip-short-payload.zeek
Due: license, btest-command-commented

Ignore build-time-generated libkqueue headers for clang-tidy
  .clang-tidy
Due: none

CI: Add enable_build_artifacts parameter to run 'make install' during the build
  .circleci/config.yml
Due: none

Disable default buildx attestations when building docker images
  .circleci/config.yml
Due: none

add libressl version check
  src/OpaqueVal.cc
  src/digest.cc
  src/file_analysis/analyzer/x509/OCSP.cc
  src/file_analysis/analyzer/x509/X509.cc
  src/file_analysis/analyzer/x509/X509.h
  src/file_analysis/analyzer/x509/functions.bif
Due: license

ftp: log login-only sessions missing from ftp.log
  scripts/base/protocols/ftp/info.zeek
  scripts/base/protocols/ftp/main.zeek
Due: none

NTP: Log Mode 6 and Mode 7 messages to ntp.log
  scripts/base/init-bare.zeek
  scripts/base/protocols/ntp/consts.zeek
  scripts/base/protocols/ntp/main.zeek
  testing/btest/scripts/base/protocols/ntp/ntpmode67.test
Due: btest-command-commented

smb/smb1_writex_and_response: Fix written_high int overflow by using <<
  src/analyzer/protocol/smb/smb1-com-write-andx.pac
Due: none

sip: Weird on invalid CONTENT-LENGTH headers
  scripts/base/protocols/sip/main.zeek
  testing/btest/Baseline/scripts.base.protocols.sip.invalid-content-length/sip.log
  testing/btest/Baseline/scripts.base.protocols.sip.invalid-content-length/weird.log
  testing/btest/Traces/sip/invalid-content-length.pcap
  testing/btest/Traces/sip/invalid-content-length.pcap.py
  testing/btest/scripts/base/protocols/sip/invalid-content-length.zeek
Due: btest-command-commented

Update zeek-testing commit hash to latest commit
  CHANGES
  VERSION
  testing/external/commit-hash.zeek-testing
Due: none
