Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*|doc/devel/spicy/autogen/.*.spicy'

Add test for dce-rpc behavior change
  testing/btest/Baseline/scripts.base.protocols.dce-rpc.no-inband-null/out
  testing/btest/Traces/dce-rpc/bind-ack-no-inband-null.pcap
  testing/btest/Traces/dce-rpc/bind-ack-no-inband-null.pcap.py
  testing/btest/scripts/base/protocols/dce-rpc/no-inband-null.zeek
Due: btest-command-commented

dtls: bound handshake fragment sequence shift in proc_handshake
  src/analyzer/protocol/ssl/dtls-analyzer.pac
Due: none

merging in recent change from main
  src/val-convert.cc
Due: license

ssl: validate record length before reading AEAD nonce during decryption
  src/analyzer/protocol/ssl/SSL.cc
Due: license

Add dtls test that checks behavior on sequence number jumps
  testing/btest/Baseline/scripts.base.protocols.ssl.dtls-sequence-number-jumps/analyzer_debug.log
  testing/btest/Traces/tls/dtls-sequence-number-jumps.pcap
  testing/btest/Traces/tls/dtls-sequence-number-jumps.py
  testing/btest/scripts/base/protocols/ssl/dtls-sequence-number-jumps.test
Due: btest-command-commented

ftp: cast remaining parse_port byte shifts to uint32_t
  src/analyzer/protocol/ftp/functions.bif
Due: none

net_util: cast all shifted bytes to uint32_t in extract_uint32
  src/net_util.cc
Due: license

asn1: add test for overlong oid subidentifier weird
  testing/btest/Baseline/scripts.base.protocols.snmp.oid-subidentifier-too-long/weird.log
  testing/btest/Traces/snmp/snmp-oid-subidentifier-too-long.pcap
  testing/btest/Traces/snmp/snmp-oid-subidentifier-too-long.pcap.py
  testing/btest/scripts/base/protocols/snmp/oid-subidentifier-too-long.zeek
Due: btest-command-commented

tcp: log TCP_scale_range weird for out-of-range window scale
  scripts/base/frameworks/notice/weird.zeek
  src/packet_analysis/protocol/tcp/TCPSessionAdapter.cc
  testing/btest/Baseline/core.tcp.window-scale-range/weird.log
  testing/btest/Traces/tcp/window-scale-range.pcap
  testing/btest/core/tcp/window-scale-range.zeek
Due: license, btest-command-commented

CI: Pass token to github requests for labels
  .circleci/generate-pr-params.py
Due: none

Optimize software found cluster communication
  scripts/base/frameworks/software/main.zeek
Due: none

Update scripts/base/frameworks/software/main.zeek
  scripts/base/frameworks/software/main.zeek
Due: none

Software framework: make found_cache and parse_cache lifetimes configurable
  scripts/base/frameworks/software/main.zeek
Due: none

Software framework: additional proxy-side log suppression
  scripts/base/frameworks/software/main.zeek
Due: none

Software framework: reflect changes in detect-webapps.zeek
  scripts/policy/protocols/http/detect-webapps.zeek
Due: none

Software framework: updates to tests to reflect caching changes
  testing/btest/Baseline/scripts.policy.frameworks.software.version-changes-2/notice.log
  testing/btest/Baseline/scripts.policy.frameworks.software.version-changes-2/software.log
  testing/btest/scripts/policy/frameworks/software/version-changes.zeek
  testing/external/commit-hash.zeek-testing
  testing/external/commit-hash.zeek-testing-private
Due: btest-command-commented

Update NEWS entry to reflect software framework updates
  NEWS
Due: none

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/reference/zeekscript/autogenerated-protocol-analyzer-index.rst
  doc/scripts/base/bif/comm.bif.zeek.rst
  doc/scripts/base/bif/event.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_SSL.events.bif.zeek.rst
  doc/scripts/base/frameworks/broker/main.zeek.rst
  doc/scripts/base/frameworks/notice/weird.zeek.rst
  doc/scripts/base/frameworks/software/main.zeek.rst
  doc/scripts/base/protocols/ssl/main.zeek.rst
  doc/scripts/policy/protocols/ssl/ssl-log-ext.zeek.rst
Due: none

Update a couple of SSL/TLS event descriptions
  src/analyzer/protocol/ssl/events.bif
Due: none

Netcontrol acld - fix command
  scripts/base/frameworks/netcontrol/plugins/acld.zeek
Due: none

doc: Wrangle WebSocket docs a bit and add security considerations
  doc/advanced/devel/cluster/architectures.rst
  doc/advanced/devel/websocket-api.rst
  doc/security-considerations.rst
Due: none

Geneve: fix parsing of encapsulated ipv6
  scripts/base/packet-protocols/geneve/main.zeek
  testing/btest/Baseline/core.tunnels.geneve-ipv6/conn.log
  testing/btest/Baseline/core.tunnels.geneve-ipv6/tunnel.log
  testing/btest/Baseline/plugins.hooks/output
  testing/btest/Traces/README
  testing/btest/Traces/tunnels/geneve-ipv6.pcap
  testing/btest/Traces/tunnels/geneve-ipv6.pcap.py
  testing/btest/core/tunnels/geneve-ipv6.zeek
Due: btest-command-commented

Management framework: fix regression in metrics-port collision avoidance
  scripts/policy/frameworks/management/controller/main.zeek
Due: none

Fix off-by-one error in base/utils/thresholds
  scripts/base/utils/thresholds.zeek
  testing/btest/Baseline/scripts.base.utils.thresholds/output
  testing/btest/scripts/base/utils/thresholds.test
Due: btest-command-commented

conn_key: customize fragment reassembly keys
  src/Frag.cc
  src/Frag.h
  src/conn_key/CMakeLists.txt
  src/conn_key/Factory.cc
  src/conn_key/Factory.h
  src/packet_analysis/protocol/ip/IP.cc
  src/packet_analysis/protocol/ip/conn_key/vlan_fivetuple/Factory.cc
  src/packet_analysis/protocol/ip/conn_key/vlan_fivetuple/Factory.h
  src/session/Key.h
  testing/btest/plugins/connkey-fragment.zeek
  testing/btest/plugins/connkey-plugin/src/Foo.cc
  testing/btest/plugins/connkey-plugin/src/Foo.h
Due: license, btest-command-commented

Rework clone_repos command a little
  .circleci/config.yml
Due: none

Add jobs to build docker release images
  .circleci/config.yml
  .circleci/generate-pr-params.py
  .circleci/setup.yml
Due: none

Rename default zeek builds workflow
  .circleci/config.yml
Due: none

serialization: reject negative string lengths in binary format
  src/SerializationFormat.cc
Due: license

serialization: don't abort() on short read in binary format
  src/SerializationFormat.cc
Due: license

threading: validate set/vector sizes when reading binary values
  src/threading/SerialTypes.cc
Due: license

Rename CircleCI params generation script
  .circleci/generate-workflow-params.py
  .circleci/setup.yml
Due: none

Add usage of ZEEK_IS_INTERNAL_JOB to control benchmarks/coverage
  ci/benchmark.sh
  ci/upload-coverage.sh
Due: none

Add flag to control running coverage for linux jobs
  .circleci/config.yml
Due: none

fixup! Add usage of ZEEK_IS_INTERNAL_JOB to control benchmarks/coverage
  .circleci/config.yml
Due: none

Disable benchmarks until we can fix the service
  .circleci/config.yml
Due: none

TEMP: whitelist branch to make ci go
  .circleci/setup.yml
Due: none

Enable add fuzzer tests, move coverage to non-asan build
  .circleci/config.yml
Due: none

Disable everything but ubuntu-24.04
  .circleci/config.yml
Due: none

fixup! Enable add fuzzer tests, move coverage to non-asan build
  .circleci/config.yml
Due: none
