Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

license:
  name: Check for license headers
  entry: ./ci/license-header.py
  language: python

btest-command-commented:
  name: Check that all BTest command lines are commented out
  entry: ^\s*@TEST-
  language: pygrep

btest/broker: Fix logging tests
  testing/btest/broker/remote_log.zeek
  testing/btest/broker/remote_log_batch.zeek
  testing/btest/broker/remote_log_late_join.zeek
  testing/btest/broker/remote_log_types.zeek
Due: btest-command-commented

frameworks/cluster: Add websocket/server.zeek
  scripts/policy/frameworks/cluster/websocket/server.zeek
  scripts/test-all-policy.zeek
  scripts/zeekygen/__load__.zeek
  testing/btest/Baseline/cluster.websocket.server.broker/..client.out
  testing/btest/Baseline/cluster.websocket.server.broker/..zeek..stdout
  testing/btest/Baseline/cluster.websocket.server.default/..client.out
  testing/btest/Baseline/cluster.websocket.server.default/..zeek..stdout
  testing/btest/Baseline/cluster.websocket.server.error/.stderr
  testing/btest/Baseline/cluster.websocket.server.ipc/..out
  testing/btest/Baseline/cluster.websocket.server.ipc/..zeek..stdout
  testing/btest/cluster/websocket/server/broker.zeek
  testing/btest/cluster/websocket/server/default.zeek
  testing/btest/cluster/websocket/server/error.zeek
  testing/btest/cluster/websocket/server/ipc.zeek
Due: btest-command-commented

btest/cluster: Canonify some line numbers
  testing/btest/Baseline/cluster.generic.none-cluster-backend/.stderr
  testing/btest/Baseline/cluster.zeromq.ipv6-error/logger..stderr
  testing/btest/Baseline/cluster.zeromq.ipv6-error/manager..stderr
  testing/btest/cluster/generic/none-cluster-backend.zeek
  testing/btest/cluster/zeromq/ipv6-error.zeek
Due: btest-command-commented

Bump zeekctl to ZeroMQ default revision and update NEWS
  NEWS
Due: none

fixup! cluster: Add None backend
  testing/btest/coverage/test-all-policy-zeekygen.test
  testing/btest/scripts/check-test-all-policy.zeek
Due: btest-command-commented

Update `Packet.cc` comment for l2_hdr
  src/iosource/Packet.cc
Due: license

Support DNS Dynamic Update messages in DNS analyzer
  scripts/base/init-bare.zeek
  src/analyzer/protocol/dns/DNS.cc
  src/analyzer/protocol/dns/DNS.h
Due: license

Add basic event for emitting DNS dynamic update data
  scripts/base/init-bare.zeek
  src/analyzer/protocol/dns/DNS.cc
  src/analyzer/protocol/dns/events.bif
  testing/btest/Baseline/scripts.base.protocols.dns.dynamic-update/out
  testing/btest/Baseline/scripts.base.protocols.dns.dynamic-update/weird.log
  testing/btest/scripts/base/protocols/dns/dynamic-update.zeek
Due: license, btest-command-commented

Add opcode/opcode_name to DNS log record
  scripts/base/init-bare.zeek
  scripts/base/protocols/dns/consts.zeek
  scripts/base/protocols/dns/main.zeek
  src/analyzer/protocol/dns/DNS.cc
  testing/btest/Baseline/core.ipv6-frag/dns.log
  testing/btest/Baseline/core.tunnels.gre-over-udp/dns.log
  testing/btest/Baseline/core.tunnels.gre-pptp/dns.log
  testing/btest/Baseline/core.tunnels.gre/dns.log
  testing/btest/Baseline/core.tunnels.gtp.false_gtp/dns.log
  testing/btest/Baseline/coverage.record-fields/out.default
  testing/btest/Baseline/opt.basic/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.binds/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.dns-key/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.dnskey/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.ds/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.duplicate-reponses/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.flip/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.hinfo/.stdout
  testing/btest/Baseline/scripts.base.protocols.dns.loc/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.multiple-txt-strings/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.naptr/out
  testing/btest/Baseline/scripts.base.protocols.dns.nsec/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.nsec3/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.nsec3param/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.rrsig/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.spf/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.sshfp/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.tkey/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.wks/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.zero-responses/dns.log
  testing/btest/Baseline/scripts.policy.protocols.dns.original_case/dns.log
  testing/external/commit-hash.zeek-testing
  testing/external/commit-hash.zeek-testing-private
Due: license, btest-command-commented

Add information from dynamic updates to regular DNS logs
  scripts/base/protocols/dns/main.zeek
  src/analyzer/protocol/dns/DNS.cc
  src/analyzer/protocol/dns/events.bif
  testing/btest/Baseline/scripts.base.protocols.dns.dynamic-update/dns.log
  testing/btest/scripts/base/protocols/dns/dynamic-update.zeek
  testing/external/commit-hash.zeek-testing
Due: license, btest-command-commented

Add PCP/DEI to vlans in raw packet headers
  scripts/base/init-bare.zeek
  src/iosource/Packet.cc
  src/iosource/Packet.h
  src/iosource/af_packet/AF_Packet.cc
  src/packet_analysis/protocol/vlan/VLAN.cc
  testing/btest/Baseline/bifs.get_current_packet_header/output
  testing/btest/Baseline/bifs.get_current_packet_header_fragmented_syn/output
  testing/btest/Baseline/bifs.tcp_raw_options/.stdout
  testing/btest/Baseline/core.raw_packet/output
  testing/btest/Baseline/scripts.base.protocols.vlan.test/output
  testing/btest/Baseline/scripts.policy.misc.dump-events/really-all-events.log
  testing/btest/Traces/vlan-pcp-dei.pcap
  testing/btest/scripts/base/protocols/vlan/test.zeek
Due: license, btest-command-commented

Move AF_Packet closing logic to all use `Close()`
  src/iosource/af_packet/AF_Packet.cc
Due: license

abstract ZAM record field accesses to support remapping on reuse in later uses
  src/script_opt/ZAM/Compile.h
  src/script_opt/ZAM/Expr.cc
  src/script_opt/ZAM/Low-Level.cc
  src/script_opt/ZAM/OPs/constructors.op
  src/script_opt/ZAM/OPs/macros.op
  src/script_opt/ZAM/OPs/non-uniform.op
  src/script_opt/ZAM/OPs/script-idioms.op
  src/script_opt/ZAM/OPs/stmts.op
  src/script_opt/ZAM/OPs/unary-exprs.op
  src/script_opt/ZAM/Stmt.cc
  src/script_opt/ZAM/ZInst.cc
  src/script_opt/ZAM/ZInst.h
  tools/gen-zam/Gen-ZAM.cc
  tools/gen-zam/Gen-ZAM.h
Due: license

for -O gen-standalone-C++, only compile attributes needed for standalone initialization
  src/script_opt/CPP/Attrs.cc
  src/script_opt/CPP/InitsInfo.cc
Due: license

remove -O gen-standalone-C++ constraint that no longer applies
  src/script_opt/CPP/Types.cc
Due: license

simplify -O gen-C++ compilation by tracking lambda IDs via a member variable
  src/script_opt/CPP/DeclFunc.cc
  src/script_opt/CPP/DeclFunc.h
  src/script_opt/CPP/GenFunc.cc
  src/script_opt/CPP/GenFunc.h
Due: license

for -O gen-standalone-C++, optimize &default's that are simple coercions
  src/script_opt/CPP/Inits.cc
  src/script_opt/CPP/InitsInfo.cc
Due: license

ZAM optimizer fix for tracking the BiFs called by functions
  src/script_opt/CPP/Driver.cc
  src/script_opt/ProfileFunc.cc
  src/script_opt/ProfileFunc.h
  testing/btest/Baseline/opt.regress-BiF-profiling/output
  testing/btest/opt/regress-BiF-profiling.zeek
Due: license, btest-command-commented

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/scripts/base/protocols/postgresql/main.zeek.rst
  doc/scripts/base/protocols/postgresql/spicy-events.zeek.rst
Due: none

testing/external: Force CLUSTER_BACKEND_NONE
  testing/external/scripts/testing-setup.zeek
Due: none

fixup! cluster/backend/zeromq: Deprecate connect script
  scripts/policy/frameworks/cluster/backend/zeromq/connect.zeek
  scripts/test-all-policy.zeek
  testing/btest/Baseline/coverage.bare-mode-errors/errors
  testing/btest/Baseline/coverage.test-all-policy-cluster/.stderr
  testing/btest/Baseline/coverage.test-all-policy-zeekygen/.stderr
  testing/btest/coverage/test-all-policy-zeekygen.test
Due: btest-command-commented

fixup! fixup! cluster: Add None backend
  scripts/test-all-policy.zeek
  testing/btest/coverage/test-all-policy-zeekygen.test
  testing/btest/scripts/check-test-all-policy.zeek
Due: btest-command-commented

btest/zam: Fix baselines
  testing/btest/Baseline.zam/broker.publish-errors/send..stderr
  testing/btest/Baseline.zam/cluster.websocket.listen-idempotent/.stderr
  testing/btest/Baseline.zam/cluster.websocket.tls-usage-error/.stderr
Due: btest-command-commented

added a ZAM built-in for Telemetry::__counter_inc
  src/script_opt/ZAM/BuiltIn.cc
  src/script_opt/ZAM/OPs/ZBI.op
  src/script_opt/ZAM/Validate.cc
  src/script_opt/ZAM/ZBody.cc
Due: license

Updating CHANGES and VERSION.
  CHANGES
  VERSION
Due: none

fixup! Deprecate json_escape_utf8, replace with escape_utf8 with proper argument meaning
  src/Desc.cc
  src/threading/formatters/JSON.cc
  src/util.cc
  src/util.h
Due: license

Consolidate zeek::util unit tests into one section, add TEST_SUITE('util')
  src/util.cc
Due: license

fixup! Add information from dynamic updates to regular DNS logs
  scripts/base/protocols/dns/main.zeek
Due: none

Add disclaimers for unfinished tutorial sections
  doc/tutorial/cluster-backends.rst
  doc/tutorial/index.rst
  doc/tutorial/invoking-zeekctl.rst
  doc/tutorial/logs.rst
Due: none

Move scripting tutorial to use diffs
  doc/tutorial/scripting/tutorial-example.rst
  doc/tutorial/scripting/tutorial/01-steps/01.zeek
  doc/tutorial/scripting/tutorial/01-steps/02.zeek
  doc/tutorial/scripting/tutorial/01-steps/02.zeek.diff
  doc/tutorial/scripting/tutorial/01-steps/03.zeek
  doc/tutorial/scripting/tutorial/01-steps/03.zeek.diff
  doc/tutorial/scripting/tutorial/01-steps/04.zeek
  doc/tutorial/scripting/tutorial/01-steps/04.zeek.diff
  doc/tutorial/scripting/tutorial/01-steps/05.zeek
  doc/tutorial/scripting/tutorial/01-steps/05.zeek.diff
  doc/tutorial/scripting/tutorial/01-steps/06.zeek
  doc/tutorial/scripting/tutorial/01-steps/06.zeek.diff
  doc/tutorial/scripting/tutorial/01-steps/07.zeek
  doc/tutorial/scripting/tutorial/01-steps/07.zeek.diff
  doc/tutorial/scripting/tutorial/01-steps/08.zeek
  doc/tutorial/scripting/tutorial/01-steps/08.zeek.diff
  doc/tutorial/scripting/tutorial/02-steps/01.zeek
  doc/tutorial/scripting/tutorial/02-steps/02.zeek
  doc/tutorial/scripting/tutorial/02-steps/02.zeek.diff
  doc/tutorial/scripting/tutorial/02-steps/03.zeek
  doc/tutorial/scripting/tutorial/02-steps/03.zeek.diff
  doc/tutorial/scripting/tutorial/02-steps/04.zeek
  doc/tutorial/scripting/tutorial/02-steps/04.zeek.diff
  doc/tutorial/scripting/tutorial/02-steps/05.zeek
  doc/tutorial/scripting/tutorial/02-steps/05.zeek.diff
  doc/tutorial/scripting/tutorial/03-steps/01.zeek
  doc/tutorial/scripting/tutorial/03-steps/02.zeek
  doc/tutorial/scripting/tutorial/03-steps/02.zeek.diff
  doc/tutorial/scripting/tutorial/03-steps/03.zeek
  doc/tutorial/scripting/tutorial/03-steps/03.zeek.diff
  doc/tutorial/scripting/tutorial/03-steps/04.zeek
  doc/tutorial/scripting/tutorial/03-steps/04.zeek.diff
  doc/tutorial/scripting/tutorial/03-steps/05.zeek
  doc/tutorial/scripting/tutorial/03-steps/05.zeek.diff
  doc/tutorial/scripting/tutorial/03-steps/06.zeek
  doc/tutorial/scripting/tutorial/03-steps/06.zeek.diff
Due: none

Revise the basics scripting section
  doc/tutorial/scripting/basics.rst
  doc/tutorial/scripting/scripts/data_type_addr.zeek
  doc/tutorial/scripting/scripts/data_type_record.zeek
  doc/tutorial/scripting/scripts/data_type_time.zeek
Due: none

Remove TODOs in new tutorial
  doc/tutorial/invoking-zeek.rst
  doc/tutorial/logs.rst
  doc/tutorial/scripting/index.rst
  doc/tutorial/scripting/tutorial-example.rst
  doc/tutorial/using-packages.rst
Due: none

Use new setup script for scripting tutorial
  doc/tutorial/scripting/basics.rst
  doc/tutorial/scripting/basics/data_struct_table_complex_blank_value.zeek
  doc/tutorial/scripting/tutorial-example.rst
  doc/tutorial/scripting/tutorial/01-http-entities.zeek
  doc/tutorial/scripting/tutorial/02-http-patterns.zeek
  doc/tutorial/scripting/tutorial/03-http-logging.zeek
  doc/tutorial/setup.rst
Due: none

Touchup tutorial wording
  doc/tutorial/invoking-zeek.rst
  doc/tutorial/logs.rst
  doc/tutorial/scripting/basics.rst
  doc/tutorial/using-packages.rst
Due: none

Switch to using PCRE from vcpkg on Windows for regex.h
  CMakeLists.txt
  src/DebugCmds.cc
  src/input/readers/config/Config.cc
  vcpkg.json
Due: license

Mark Windows vcpkg dependencies as required in CMakeLists.txt
  CMakeLists.txt
Due: none

Path conditions:
  license: any of: \.(h|c|cpp|cc|spicy|evt)$, but not: ^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$
  btest-command-commented: any of: ^testing/btest/.*$
