Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*|doc/devel/spicy/autogen/.*.spicy'

doc updates
  doc/script-reference/attributes.rst
  doc/script-reference/autogenerated-script-index.rst
  doc/scripts/base/bif/__load__.zeek.rst
  doc/scripts/base/bif/event.bif.zeek.rst
  doc/scripts/base/bif/index.rst
  doc/scripts/base/bif/publish_on_change.bif.zeek.rst
  doc/scripts/base/frameworks/cluster/__load__.zeek.rst
  doc/scripts/base/frameworks/cluster/index.rst
  doc/scripts/base/frameworks/cluster/table.zeek.rst
  doc/scripts/base/init-bare.zeek.rst
  doc/scripts/base/misc/installation.zeek.rst
  doc/scripts/policy/frameworks/cluster/backend/zeromq/main.zeek.rst
  doc/scripts/policy/frameworks/management/agent/config.zeek.rst
Due: none

Update various baselines
  testing/btest/Baseline/cluster.generic.on-subscribe-unsubscribe/.stdout
  testing/btest/Baseline/coverage.bare-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.default-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/plugins.hooks/output
Due: btest-command-commented

Rename pcapng traces to .pcapng suffix
  testing/btest/Baseline/scripts.base.protocols.irc.events/output
  testing/btest/Traces/dce-rpc/dce_rpc_netlogon.pcapng
  testing/btest/Traces/dce-rpc/dce_rpc_ntlm.pcapng
  testing/btest/Traces/http/zeek-image-1080-80-x.pcapng
  testing/btest/Traces/irc-dcc-send.pcapng
  testing/btest/Traces/krb/kerberos_tso.pcapng
  testing/btest/Traces/ldap/ldap_star_single.pcapng
  testing/btest/Traces/redis/django-cloud.pcapng
  testing/btest/Traces/redis/start-with-server.pcapng
  testing/btest/Traces/smb/smb2-zero-byte-error-ioctl.pcapng
  testing/btest/Traces/smtp/smtp-bdat-cmd-invalid.pcapng
  testing/btest/Traces/snap-arp.pcapng
  testing/btest/Traces/snmp/leak_test.pcapng
  testing/btest/Traces/tcp/http-on-irc-port-missing-syn.pcapng
  testing/btest/Traces/tcp/retransmit-timeout.pcapng
  testing/btest/Traces/tunnels/geneve-truncated.pcapng
  testing/btest/Traces/tunnels/gtp/pdp_ctx_messages.pcapng
  testing/btest/Traces/vlan-pcp-dei.pcapng
  testing/btest/core/conn-size-threshold.zeek
  testing/btest/core/expire-all-timers.zeek
  testing/btest/core/tcp/flip-without-syn.zeek
  testing/btest/core/tunnels/geneve-truncated.zeek
  testing/btest/core/tunnels/gtp/pdp_ctx_messages.test
  testing/btest/scripts/base/frameworks/file-analysis/irc.zeek
  testing/btest/scripts/base/protocols/conn/new_connection_contents.zeek
  testing/btest/scripts/base/protocols/conn/threshold-delete.zeek
  testing/btest/scripts/base/protocols/conn/threshold.zeek
  testing/btest/scripts/base/protocols/dce-rpc/dce_rpc_netlogon.zeek
  testing/btest/scripts/base/protocols/dce-rpc/dce_rpc_ntlm.zeek
  testing/btest/scripts/base/protocols/http/flip-content-line-resp.zeek
  testing/btest/scripts/base/protocols/irc/basic.test
  testing/btest/scripts/base/protocols/irc/events.test
  testing/btest/scripts/base/protocols/ldap/ldap_substring_search.zeek
  testing/btest/scripts/base/protocols/redis/django-cloud.zeek
  testing/btest/scripts/base/protocols/redis/start-with-server.zeek
  testing/btest/scripts/base/protocols/smb/smb2-zero-byte-error-ioctl.test
  testing/btest/scripts/base/protocols/smtp/bdat-cmd-invalid.test
  testing/btest/scripts/base/protocols/snap/snap-arp.test
  testing/btest/scripts/base/protocols/tcp/krb-tcp-tso.test
  testing/btest/scripts/base/protocols/vlan/test.zeek
Due: btest-command-commented

Fix a 'broken' link in docs
  doc/conf.py
Due: none

try to fix various tests and extract shared code
  src/input/CMakeLists.txt
  src/input/InputFile.cc
  src/input/InputFile.h
  src/input/readers/ascii/Ascii.cc
  src/input/readers/ascii/Ascii.h
  src/input/readers/binary/Binary.cc
  src/input/readers/binary/Binary.h
  src/input/readers/config/Config.cc
  src/input/readers/config/Config.h
  src/input/readers/raw/Raw.cc
  src/input/readers/raw/Raw.h
  testing/btest/btest.cfg
  testing/btest/scripts/base/frameworks/input/path-prefix/absolute-prefix.zeek
  testing/btest/scripts/base/frameworks/input/path-prefix/absolute-source.zeek
  testing/btest/scripts/base/frameworks/input/path-prefix/no-paths.zeek
  testing/btest/scripts/base/frameworks/input/path-prefix/relative-prefix.zeek
Due: license, btest-command-commented

use file_into_t that can be translated to ino_t or uint64_t based on os
  src/input/InputFile.cc
  src/input/InputFile.h
  src/input/readers/ascii/Ascii.cc
  src/input/readers/ascii/Ascii.h
  src/input/readers/binary/Binary.h
  src/input/readers/config/Config.cc
  src/input/readers/config/Config.h
  src/input/readers/raw/Raw.cc
  src/input/readers/raw/Raw.h
  testing/btest/scripts/base/frameworks/intel/path-prefix/input-intel-absolute-prefixes.zeek
  testing/btest/scripts/base/frameworks/intel/path-prefix/input-intel-relative-prefixes.zeek
  testing/btest/scripts/base/frameworks/intel/path-prefix/input-prefix.zeek
  testing/btest/scripts/base/frameworks/intel/path-prefix/no-paths.zeek
Due: license, btest-command-commented

fix some more tests
  src/util.cc
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-2/.stdout
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-3/.stdout
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-4/.stdout
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-5/.stdout
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-6/.stdout
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-stream-2/.stdout
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-stream-3/.stdout
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-stream-4/.stdout
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-stream-5/.stdout
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-stream-6/.stdout
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-stream/.stdout
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting/.stdout
  testing/btest/Baseline/scripts.base.frameworks.telemetry.sync-collect/out
  testing/btest/scripts/base/frameworks/logging/field-length-limiting-stream.zeek
  testing/btest/scripts/base/frameworks/logging/field-length-limiting.zeek
  testing/btest/scripts/base/frameworks/telemetry/sync-collect.zeek
Due: license, btest-command-commented

Fix test: Remove zeekygen.config requirement
  testing/btest/Baseline/doc.zeekygen.warning-control/default
  testing/btest/Baseline/doc.zeekygen.warning-control/with_warning
  testing/btest/doc/zeekygen/warning-control.zeek
Due: btest-command-commented

More test updates
  testing/btest/Baseline/cluster.publish-on-change.broker-batch-testing/..manager.out
  testing/btest/Baseline/cluster.publish-on-change.broker-batch-testing/..proxy.out
  testing/btest/Baseline/cluster.publish-on-change.broker-batch-testing/..worker-1.out
  testing/btest/Baseline/cluster.publish-on-change.broker-batch-testing/..worker-2.out
  testing/btest/Baseline/cluster.publish-on-change.broker-custom-topic/..manager.out
  testing/btest/Baseline/cluster.publish-on-change.broker-custom-topic/..proxy.out
  testing/btest/Baseline/cluster.publish-on-change.broker-custom-topic/..worker-1.out
  testing/btest/Baseline/cluster.publish-on-change.broker-custom-topic/..worker-2.out
  testing/btest/Baseline/cluster.publish-on-change.errors-2/.stderr
  testing/btest/Baseline/cluster.publish-on-change.errors-3/.stderr
  testing/btest/Baseline/cluster.publish-on-change.errors-4/.stderr
  testing/btest/Baseline/cluster.publish-on-change.errors-5/.stderr
  testing/btest/Baseline/cluster.publish-on-change.errors-6/.stderr
  testing/btest/Baseline/cluster.publish-on-change.errors/.stderr
  testing/btest/Baseline/coverage.bare-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.default-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/plugins.hooks/output
  testing/btest/cluster/publish-on-change/broker-batch-testing.zeek
  testing/btest/cluster/publish-on-change/broker-custom-topic.zeek
  testing/btest/cluster/publish-on-change/errors.zeek
  testing/btest/cluster/publish-on-change/set-element-new-hook.zeek
Due: btest-command-commented

Rework a bit, introduce a dedicated header for the events
  scripts/base/frameworks/cluster/__load__.zeek
  scripts/base/frameworks/cluster/publish-on-change.zeek
  scripts/base/frameworks/cluster/table.zeek
  scripts/base/init-bare.zeek
  src/Val.cc
  src/Val.h
  src/cluster/PublishOnChangeState.cc
  src/cluster/PublishOnChangeState.h
  src/cluster/publish_on_change.bif
  src/parse.y
Due: license

fixup! doc updates
  doc/script-reference/attributes.rst
  doc/script-reference/autogenerated-script-index.rst
  doc/scripts/base/bif/event.bif.zeek.rst
  doc/scripts/base/bif/publish_on_change.bif.zeek.rst
  doc/scripts/base/frameworks/cluster/__load__.zeek.rst
  doc/scripts/base/frameworks/cluster/index.rst
  doc/scripts/base/frameworks/cluster/publish-on-change.zeek.rst
  doc/scripts/base/frameworks/cluster/pubsub.zeek.rst
  doc/scripts/base/init-bare.zeek.rst
Due: none

Update NEWS about recent HTTP security patch to downgrade from DoS risk
  NEWS
Due: none

remove unnecessary rlen variable in is_valid_base64
  src/Base64.cc
Due: license

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/scripts/base/bif/zeek.bif.zeek.rst
  doc/scripts/base/protocols/ssl/consts.zeek.rst
Due: none

code review changes
  src/input/InputFile.cc
  src/input/InputFile.h
Due: license

cluster/backend/zeromq: Disable IPv6 by default
  scripts/policy/frameworks/cluster/backend/zeromq/main.zeek
  testing/btest/cluster/zeromq/ipv6-error.zeek
  testing/btest/cluster/zeromq/ipv6-logging.zeek
Due: btest-command-commented

cluster/backend/zeromq: Set ipv6=F by default
  scripts/policy/frameworks/cluster/backend/zeromq/main.zeek
  testing/btest/cluster/zeromq/ipv6-error.zeek
  testing/btest/cluster/zeromq/ipv6-logging.zeek
Due: btest-command-commented

Update basics.rst to include 'string' data type
  doc/scripting/basics.rst
Due: none

cmake: use absolute source paths in flex_target() calls to fix DWARF debug info
  src/CMakeLists.txt
  tools/bifcl/CMakeLists.txt
  tools/binpac/src/CMakeLists.txt
Due: none

zeekctl: Default MetricsAddress to 127.0.0.1
  NEWS
Due: none

fix supervisor behavior on windows
  src/supervisor/Supervisor.cc
  src/supervisor/Supervisor.h
  src/zeek.bif
Due: license

ssl: Fix pre_shared_key logic in tls-handshake-analyzer
  src/analyzer/protocol/ssl/tls-handshake-analyzer.pac
  testing/btest/Baseline/scripts.base.protocols.ssl.psk/both.out
  testing/btest/Baseline/scripts.base.protocols.ssl.psk/client.out
  testing/btest/Baseline/scripts.base.protocols.ssl.psk/server.out
  testing/btest/scripts/base/protocols/ssl/psk.zeek
Due: btest-command-commented

tools/systemd-generator: Use 127.0.0.1 for metrics address by default
  testing/btest/Baseline/tools.systemd-generator.test-zeek-cluster-layout-generator/cluster-layout-default.zeek
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator-defaults/normal-dir.zeek-setup.service
  tools/systemd-generator/etc/zeek/zeek.conf
  tools/systemd-generator/src/zeek-cluster-config.h
  tools/systemd-generator/src/zeek-cluster-layout-generator.cc
Due: license, btest-command-commented

use running_under_test instead of diff-sort
  testing/btest/Baseline/scripts.base.frameworks.telemetry.sync-collect/out
  testing/btest/scripts/base/frameworks/telemetry/sync-collect.zeek
Due: btest-command-commented

Add implementation and version fields to plugin/analyzer introspection
  scripts/base/frameworks/analyzer/main.zeek
  scripts/base/init-bare.zeek
  src/analyzer/analyzer.bif
  src/zeek.bif
  testing/btest/Baseline/bifs.analyzer-implementation/out
  testing/btest/bifs/analyzer-implementation.zeek
Due: btest-command-commented

code review changes
  src/input/InputFile.cc
  src/input/readers/raw/Raw.cc
  src/supervisor/Supervisor.cc
  src/supervisor/Supervisor.h
  src/util.cc
Due: license

extract winhandle into a shared header
  src/WinHandle.h
  src/input/readers/raw/Raw.cc
  src/supervisor/Supervisor.cc
  src/supervisor/Supervisor.h
Due: license

Fix broken shift operations in pcapng iosource
  src/iosource/pcapng/Source.cc
Due: license

rationalize component implementation code
  src/analyzer/analyzer.bif
  src/plugin/Component.cc
  src/plugin/Component.h
  src/zeek.bif
Due: license

nit: preferred output format
  src/zeek.bif
Due: none

Fix line number in ZAM btest output for language.assert-hook
  testing/btest/Baseline.zam/language.assert-hook/.stderr
  testing/btest/Baseline.zam/language.assert-hook/out
Due: btest-command-commented

Add postgres storage plugin
  CMakeLists.txt
  NEWS
  ci/macos/prepare.sh
  ci/ubuntu-24.04/Dockerfile
  scripts/policy/frameworks/storage/backend/postgresql/__load__.zeek
  scripts/policy/frameworks/storage/backend/postgresql/main.zeek
  scripts/test-all-policy.zeek
  src/storage/backend/CMakeLists.txt
  src/storage/backend/postgresql/CMakeLists.txt
  src/storage/backend/postgresql/Plugin.cc
  src/storage/backend/postgresql/PostgreSQL.cc
  src/storage/backend/postgresql/PostgreSQL.h
  testing/btest/Baseline/scripts.base.frameworks.storage.postgresql.async-reading-pcap/out
  testing/btest/Baseline/scripts.base.frameworks.storage.postgresql.async/out
  testing/btest/Baseline/scripts.base.frameworks.storage.postgresql.auth/out
  testing/btest/Baseline/scripts.base.frameworks.storage.postgresql.basic/.stderr
  testing/btest/Baseline/scripts.base.frameworks.storage.postgresql.basic/out
  testing/btest/Baseline/scripts.base.frameworks.storage.postgresql.cluster/worker-1..stdout
  testing/btest/Baseline/scripts.base.frameworks.storage.postgresql.cluster/worker-2..stdout
  testing/btest/Baseline/scripts.base.frameworks.storage.postgresql.disconnect/out
  testing/btest/Baseline/scripts.base.frameworks.storage.postgresql.erase/out
  testing/btest/Baseline/scripts.base.frameworks.storage.postgresql.error-handling/.stderr
  testing/btest/Baseline/scripts.base.frameworks.storage.postgresql.error-handling/out
  testing/btest/Baseline/scripts.base.frameworks.storage.postgresql.expiration/out
  testing/btest/Baseline/scripts.base.frameworks.storage.postgresql.forced-sync/out
  testing/btest/Baseline/scripts.base.frameworks.storage.postgresql.sync/out
  testing/btest/scripts/base/frameworks/storage/postgresql/async-reading-pcap.zeek
  testing/btest/scripts/base/frameworks/storage/postgresql/async.zeek
  testing/btest/scripts/base/frameworks/storage/postgresql/auth.zeek
  testing/btest/scripts/base/frameworks/storage/postgresql/basic.zeek
  testing/btest/scripts/base/frameworks/storage/postgresql/cluster.zeek
  testing/btest/scripts/base/frameworks/storage/postgresql/disconnect.zeek
  testing/btest/scripts/base/frameworks/storage/postgresql/erase.zeek
  testing/btest/scripts/base/frameworks/storage/postgresql/error-handling.zeek
  testing/btest/scripts/base/frameworks/storage/postgresql/expiration.zeek
  testing/btest/scripts/base/frameworks/storage/postgresql/forced-sync.zeek
  testing/btest/scripts/base/frameworks/storage/postgresql/sync.zeek
  testing/scripts/have-postgresql
  testing/scripts/run-postgresql-server
Due: license, btest-command-commented

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/script-reference/autogenerated-file-analyzer-index.rst
  doc/script-reference/autogenerated-protocol-analyzer-index.rst
  doc/scripts/base/bif/analyzer.bif.zeek.rst
  doc/scripts/base/bif/event.bif.zeek.rst
  doc/scripts/base/frameworks/analyzer/main.zeek.rst
  doc/scripts/base/frameworks/cluster/main.zeek.rst
  doc/scripts/base/init-bare.zeek.rst
  doc/scripts/base/utils/files.zeek.rst
  doc/scripts/policy/frameworks/cluster/backend/zeromq/main.zeek.rst
Due: none

Update doc/redirects.yml to doc-redirects format [skip ci]
  doc/redirects.yml
Due: none

[windows] fix build
  src/plugin/Component.cc
Due: license
