Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*|doc/devel/spicy/autogen/.*.spicy'

fixup! fixup! Enable add fuzzer tests, move coverage to non-asan build
  .circleci/config.yml
Due: none

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/reference/zeekscript/autogenerated-protocol-analyzer-index.rst
  doc/scripts/base/bif/plugins/Zeek_SSL.events.bif.zeek.rst
Due: none

Fix parsing of NTP extensions to match changes in RFC7822
  src/analyzer/protocol/ntp/ntp-analyzer.pac
  src/analyzer/protocol/ntp/ntp-mode7.pac
  src/analyzer/protocol/ntp/ntp-protocol.pac
  testing/btest/Baseline/scripts.base.protocols.ntp.ntp-no-extensions-mac/.stdout
  testing/btest/Baseline/scripts.base.protocols.ntp.ntp-no-extensions-mac/ntp.log
  testing/btest/Traces/README
  testing/btest/Traces/ntp/ntp-no-extensions-mac.pcap
  testing/btest/scripts/base/protocols/ntp/ntp-no-extensions-mac.zeek
Due: btest-command-commented

[windows] fix load-duplicates-links test: use COMSPEC for cmd.exe
  testing/btest/core/load-duplicates-links.zeek
Due: btest-command-commented

[windows] fix telemetry test failures on Windows CI
  testing/btest/Baseline/scripts.base.frameworks.telemetry.sync/metrics2.txt
  testing/btest/Baseline/scripts.base.frameworks.telemetry.sync/metrics3.txt
  testing/btest/scripts/base/frameworks/telemetry/sync.zeek
  testing/btest/scripts/policy/frameworks/telemetry/prometheus.zeek
Due: btest-command-commented

RDP: Cap certain protocol fields to 1000 entries or 256 KB in length
  src/analyzer/protocol/rdp/rdp-protocol.pac
Due: none

fixup! RDP: Cap certain protocol fields to 1000 entries or 256 KB in length
  src/analyzer/protocol/rdp/rdp-protocol.pac
Due: none

ipaddr: Fix remaining casts in bitshifts
  src/IPAddr.cc
Due: license

rpc/nfs/mount: Fix ubsan santizer issues with invalid enum values
  src/analyzer/protocol/rpc/MOUNT.cc
  src/analyzer/protocol/rpc/NFS.cc
Due: license

Clamp some lengths in the NTP extension parsing
  src/analyzer/protocol/ntp/ntp-protocol.pac
Due: none

code review changes
  testing/btest/core/load-duplicates-links.zeek
Due: btest-command-commented

Avoid double builds from merges to master
  .circleci/setup.yml
Due: none

Rename default zeek builds workflow
  .circleci/config.yml
Due: none

Disable spicy.tcp-eod-behavior-on-destroy btest under asan
  testing/btest/spicy/tcp-eod-behavior-on-destroy.zeek
Due: btest-command-commented

Rework clone_repos command a little
  .circleci/config.yml
Due: none

Report weird if skip analyzer skips more than available data
  src/packet_analysis/protocol/skip/Skip.cc
Due: license

Use PRIu64 for zeek_uint_t formatting
  src/packet_analysis/protocol/skip/Skip.cc
Due: license

geneve: Fix minor signed bitshift issues
  src/packet_analysis/protocol/geneve/Geneve.cc
Due: license

snap: Fix minor signed bitshift issues
  src/packet_analysis/protocol/snap/SNAP.cc
Due: license

vxlan: Fix some shifts and weirdness in VNI
  src/packet_analysis/protocol/vxlan/VXLAN.cc
Due: license

base64: Redo some calculations for signed shifts
  src/Base64.cc
Due: license

CI: Store btest results as artifacts
  .circleci/config.yml
Due: none

Document parameters used in the various job definitions
  .circleci/config.yml
Due: none

CI: Make yaml anchors out of extra configure statements
  .circleci/config.yml
Due: none

Disable CTU-SME test for CircleCI asan builds
  testing/external/commit-hash.zeek-testing
Due: none

Install python modules into pyenv on CircleCI for macOS
  ci/macos/prepare.sh
Due: none

logging: Stash vector of Field* into LogWriteHeader, use for plugin hooks
  src/logging/Manager.cc
  src/logging/Types.h
  src/logging/WriterFrontend.cc
  testing/btest/Baseline/plugins.logging-hooks-no-local/output
  testing/btest/plugins/logging-hooks-no-local.zeek
  testing/btest/plugins/logging-hooks-plugin/src/Plugin.cc
  testing/btest/plugins/logging-hooks-plugin/src/Plugin.h
Due: license, btest-command-commented

testing/btest: Add some test pcaps for checking on the mount/nfs weirds
  testing/btest/Baseline/scripts.base.protocols.mount.weird/weird.log.all
  testing/btest/Baseline/scripts.base.protocols.nfs.weird/weird.log.all
  testing/btest/Traces/README
  testing/btest/Traces/mount/mount-unmount-bad-auth-flavor.pcap
  testing/btest/Traces/mount/mount-unmount-bad-status.pcap
  testing/btest/Traces/mount/mount-unmount-scramble.py
  testing/btest/Traces/mount/mount-unmount.pcap
  testing/btest/Traces/nfs/nfs_fsinfo_bad_status.pcap
  testing/btest/Traces/nfs/nfs_getattr_bad_ftype.pcap
  testing/btest/Traces/nfs/nfs_scramble.py
  testing/btest/Traces/nfs/nfs_setattr_bad_set_it.pcap
  testing/btest/Traces/nfs/nfs_write.pcap
  testing/btest/Traces/nfs/nfs_write_bad_stable_how.pcap
  testing/btest/scripts/base/protocols/mount/weird.test
  testing/btest/scripts/base/protocols/nfs/weird.test
Due: btest-command-commented

nfs: Skip over NFSACL programs
  src/analyzer/protocol/rpc/NFS.cc
  testing/btest/Baseline/scripts.base.protocols.nfs.weird/weird.log.all
Due: license, btest-command-commented

logging: Make Log::set_buf() sticky for new writers
  NEWS
  src/logging/Manager.cc
  testing/btest/Baseline/cluster.generic.logging-rr-no-buf/rr2.log.sorted
  testing/btest/cluster/generic/logging-rr-no-buf.zeek
Due: license, btest-command-commented

logging: Make Log::flush_interval = 0.0sec disable the flushing timer
  NEWS
  scripts/base/init-bare.zeek
  src/logging/Manager.cc
  testing/btest/cluster/generic/logging-rr-no-buf.zeek
Due: license, btest-command-commented

fixup! rpc/nfs/mount: Fix ubsan santizer issues with invalid enum values
  src/analyzer/protocol/rpc/MOUNT.cc
Due: license

fixup! testing/btest: Add some test pcaps for checking on the mount/nfs weirds
  testing/btest/Traces/mount/mount-unmount-scramble.py
  testing/btest/Traces/nfs/nfs_scramble.py
Due: btest-command-commented

fixup! rpc/nfs/mount: Fix ubsan santizer issues with invalid enum values
  src/analyzer/protocol/rpc/MOUNT.cc
  src/analyzer/protocol/rpc/NFS.cc
Due: license

Add jobs to build docker release images
  .circleci/config.yml
  .circleci/generate-pr-params.py
Due: none

Use target-based approach for enabling sanitizers
  CMakeLists.txt
  src/CMakeLists.txt
  src/spicy/spicyz/CMakeLists.txt
Due: none

Install a newer NodeJS manually when building Docker images
  docker/builder.Dockerfile
Due: none

Load local scripts from testing-setup.zeek relatively
  testing/external/scripts/testing-setup.zeek
Due: none

Tune profiling and telemetry metrics collection in testing-setup.zeek
  testing/external/scripts/testing-setup.zeek
Due: none
