Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*'

Report PostgreSQL login success only after ReadyForQuery
  scripts/base/protocols/postgresql/main.zeek
  testing/btest/Baseline/scripts.base.protocols.postgresql.psql-login-no-role/conn.cut
  testing/btest/Baseline/scripts.base.protocols.postgresql.psql-login-no-role/postgresql.cut
  testing/btest/Traces/postgresql/psql-login-no-role.pcap
  testing/btest/scripts/base/protocols/postgresql/psql-login-no-role.zeek
Due: btest-command-commented

fix line numbers associated with "if" and initialization statements
  src/Stmt.cc
Due: license

maintenance updates for ZAM BiF-tracking
  src/script_opt/FuncInfo.cc
  testing/btest/Baseline/opt.ZAM-bif-tracking/output
  testing/btest/opt/ZAM-bif-tracking.zeek
Due: license, btest-command-commented

broker/Data: Support unwrapping Broker::Data records
  src/broker/Data.cc
  src/broker/Data.h
Due: license

cluster/serializer/broker: Do not special case Broker::Data anymore
  src/cluster/serializer/broker/Serializer.cc
  testing/btest/Baseline/cluster.generic.publish-any/..manager..stdout
  testing/btest/Baseline/cluster.generic.publish-any/..worker-1..stdout
  testing/btest/cluster/generic/publish-any.zeek
Due: license, btest-command-commented

Clarify Event constructor deprectation message
  src/Event.h
Due: license

cluster/serializer/broker: fixup inconsistent param comment
  src/cluster/serializer/broker/Serializer.cc
Due: license

cluster/serializer/broker: Drop unused include
  src/cluster/serializer/broker/Serializer.cc
Due: license

Add initial SVCB/HTTPS SvcParam parser
  scripts/base/init-bare.zeek
  scripts/base/protocols/dns/consts.zeek
  src/analyzer/protocol/dns/DNS.cc
  src/analyzer/protocol/dns/DNS.h
Due: license

update base/protocols/dns/{https,svcb} baselines
  testing/btest/Baseline/scripts.base.protocols.dns.https/output
  testing/btest/Baseline/scripts.base.protocols.dns.svcb/output
Due: btest-command-commented

quote the ALPN list not each ID
  src/analyzer/protocol/dns/DNS.cc
  testing/btest/Baseline/scripts.base.protocols.dns.https/output
Due: license, btest-command-commented

Add `record_type_to_vector` deprecation to NEWS
  NEWS
Due: none

Fix ci/update-zeekygen-docs to agree with ruff-format
  ci/update-zeekygen-docs.sh
Due: none

Merge remote-tracking branch 'origin/topic/vern/stmt-line-numbers'
  CHANGES
  VERSION
  src/Stmt.cc
  src/script_opt/FuncInfo.cc
  testing/btest/Baseline/opt.ZAM-bif-tracking/output
  testing/btest/opt/ZAM-bif-tracking.zeek
Due: license, btest-command-commented

Merge remote-tracking branch 'origin/topic/etyp/update-news-record-vec-deprecation'
  CHANGES
  NEWS
  VERSION
Due: none

Updating CHANGES and VERSION.
  CHANGES
  VERSION
Due: none

Add a missing header for the broker cluster serializer
  src/cluster/serializer/broker/Serializer.cc
Due: license

Management framework: add TLS options for controller's websocket server
  scripts/policy/frameworks/management/controller/config.zeek
  scripts/policy/frameworks/management/controller/main.zeek
Due: none

Bump zeek-testing-cluster to pull in WebSocket TLS updates
  testing/external/commit-hash.zeek-testing-cluster
Due: none

CI: Ubuntu 24.10 is eol, add Ubuntu 25.04
  .cirrus.yml
  ci/ubuntu-25.04/Dockerfile
Due: none

CI: Update CentOS 9 to Python 3.13
  NEWS
  ci/centos-stream-9/Dockerfile
Due: none

logging/Manager: Non-null strings for empty strings
  src/logging/Manager.cc
  src/threading/SerialTypes.cc
Due: license

logging/Manager: Also pass non-null vector and set
  src/logging/Manager.cc
Due: license

Fix Coverity issue with new `Attributes` ctor
  src/Attr.h
Due: license

binpac: Added bison flag for verbose output.
  tools/binpac/src/CMakeLists.txt
Due: none

binpac: Prepend build dir to search path.
  tools/binpac/CMakeLists.txt
Due: none

binpac: Add warning when building and installing are done by different users
  tools/binpac/CMakeLists.txt
Due: none

binpac: Customizable error messages for missing prereqs.
  tools/binpac/CMakeLists.txt
Due: none

binpac: CMake module path adjustment.
  tools/binpac/CMakeLists.txt
Due: none

binpac: Added debug/release mode compiler flags and build summary output.
  tools/binpac/CMakeLists.txt
Due: none

binpac: Changes to add an install target.
  tools/binpac/lib/CMakeLists.txt
  tools/binpac/src/CMakeLists.txt
Due: none
