Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*|doc/devel/spicy/autogen/.*.spicy'

Keep pre-format's clang-tidy from messing with baseline .json files
  .pre-commit-config.yaml
Due: none

Bugfix: don't use call_argument$value after determining it doesn't exist
  scripts/policy/misc/dump-events.zeek
Due: none

Remove canonifiers from the scripts.policy.misc.dump-events test
  testing/btest/Baseline/scripts.policy.misc.dump-events/all-events-no-args.log
  testing/btest/Baseline/scripts.policy.misc.dump-events/all-events.log
  testing/btest/Baseline/scripts.policy.misc.dump-events/really-all-events.log
  testing/btest/Baseline/scripts.policy.misc.dump-events/smtp-events.log
  testing/btest/scripts/policy/misc/dump-events.zeek
Due: btest-command-commented

Add new event for SHA256 MIME content hashes
  src/analyzer/protocol/mime/MIME.cc
  src/analyzer/protocol/mime/MIME.h
  src/analyzer/protocol/mime/events.bif
  testing/btest/Baseline.zam/scripts.policy.misc.dump-events/really-all-events.log
  testing/btest/Baseline/scripts.policy.misc.dump-events/really-all-events.log
Due: license, btest-command-commented

Rework SSH changes to introduce a new column instead
  scripts/base/protocols/ssh/main.zeek
  src/analyzer/protocol/ssh/events.bif
  src/analyzer/protocol/ssh/ssh-analyzer.pac
  testing/btest/Baseline.zam/coverage.test-all-policy-cluster/.stderr
  testing/btest/Baseline.zam/coverage.test-all-policy-zeekygen/.stderr
  testing/btest/Baseline.zam/coverage.test-all-policy-zeekygen/.stdout
  testing/btest/Baseline/core.tunnels.gre/ssh.log
  testing/btest/Baseline/coverage.record-fields/out.default
  testing/btest/Baseline/scripts.base.protocols.ssh.basic/ssh.log
  testing/btest/Baseline/scripts.base.protocols.ssh.curve25519_kex/ssh.log
  testing/btest/Baseline/scripts.base.protocols.ssh.fingerprints/out
  testing/btest/Baseline/scripts.base.protocols.ssh.half-duplex-client/ssh.log
  testing/btest/Baseline/scripts.base.protocols.ssh.half-duplex-server/ssh.log
  testing/btest/Baseline/scripts.base.protocols.ssh.pre-banner/ssh.log
  testing/btest/Baseline/scripts.base.protocols.ssh.ssh_version_199/ssh.log
  testing/btest/Baseline/spicy.protocol-analyzer-tcp-over-udp/ssh.log
Due: btest-command-commented

Update external baselines for MD5 changes
  testing/external/commit-hash.zeek-testing
  testing/external/commit-hash.zeek-testing-private
Due: none

Fix reference error in the DNS analyzer docs
  doc/script-reference/autogenerated-protocol-analyzer-index.rst
  doc/scripts/base/bif/plugins/Zeek_DNS.events.bif.zeek.rst
  src/analyzer/protocol/dns/events.bif
Due: none

Attr: Allow va_args function for &on_change
  src/Attr.cc
Due: license

tools/bifcl: Support void functions
  tools/bifcl/builtin-func.y
Due: none

cluster: Add Cluster::Table::publish_element_new
  scripts/base/frameworks/cluster/__load__.zeek
  scripts/base/frameworks/cluster/table.zeek
  scripts/policy/frameworks/cluster/backend/zeromq/main.zeek
  src/cluster/CMakeLists.txt
  src/cluster/table/CMakeLists.txt
  src/cluster/table/Plugin.cc
  src/cluster/table/Plugin.h
  src/cluster/table/README.md
  src/cluster/table/Table.cc
  src/cluster/table/Table.h
  src/cluster/table/cluster_table.bif
  testing/btest/Baseline/cluster.generic.on-subscribe-unsubscribe/.stdout
  testing/btest/Baseline/cluster.table.publish_new_element/manager..stdout
  testing/btest/Baseline/cluster.table.publish_new_element_set/manager..stdout
  testing/btest/Baseline/coverage.bare-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.default-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/plugins.hooks/output
  testing/btest/cluster/table/publish_new_element.zeek
  testing/btest/cluster/table/publish_new_element_set.zeek
Due: license, btest-command-commented

fixup! cluster: Add Cluster::Table::publish_element_new
  src/cluster/table/Table.cc
  src/cluster/table/Table.h
  src/cluster/table/cluster_table.bif
Due: license

fixup! tools/bifcl: Support void functions
  tools/bifcl/builtin-func.y
Due: none

CI: Require gcc-12 on Ubuntu 22.04 and CentOS 9
  ci/centos-stream-9/Dockerfile
  ci/ubuntu-22.04/Dockerfile
Due: none

Switch note about C++ 17 to C++ 20
  doc/building-from-source.rst
Due: none

Fix RHEL/CentOS 9 docs to mention GCC 12
  doc/building-from-source.rst
Due: none

ci: Add libnode-dev to Ubuntu 24.04 for ASAN
  ci/ubuntu-24.04/Dockerfile
Due: none

doc/javascript: Add a section about number conversions
  doc/scripting/javascript.rst
Due: none

fixup! cluster: Add Cluster::Table::publish_element_new
  scripts/base/frameworks/cluster/table.zeek
Due: none

SNMP - add logging for ifTable
  scripts/base/protocols/snmp/__load__.zeek
  scripts/base/protocols/snmp/snmp-iftable.zeek
  testing/btest/Baseline/coverage.default-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.find-bro-logs/out
  testing/btest/Baseline/coverage.record-fields/out.default
  testing/btest/Baseline/scripts.base.protocols.snmp.iftable/snmp_iftable.log
  testing/btest/Traces/snmp/snmpv2_tables.pcap
  testing/btest/scripts/base/protocols/snmp/iftable.zeek
Due: btest-command-commented

packet_analysis/tcp: Also flip packet analyzers
  src/packet_analysis/protocol/tcp/TCPSessionAdapter.cc
Due: license

packet_analysis/tcp: Avoid forwarding the wrong is_orig
  doc/devel/conn.rst
  doc/devel/index.rst
  src/packet_analysis/protocol/tcp/TCP.cc
  testing/btest/Baseline/core.conn-size-flip/conn.log.ctu
  testing/btest/Baseline/core.conn-size-flip/conn.log.one-sided
  testing/btest/Baseline/core.local-flip/conn.log
  testing/btest/Baseline/core.tcp.flip-without-syn/conn.log
  testing/btest/Traces/README
  testing/btest/Traces/tcp/ctu-64702-888.pcap
  testing/btest/Traces/tcp/one-sided-2745.pcap
  testing/btest/core/conn-size-flip.zeek
Due: license, btest-command-commented

testing/external: Update baselines for is_orig fixes
  testing/external/commit-hash.zeek-testing
  testing/external/commit-hash.zeek-testing-private
Due: none

Add argument to escape other control characters to escape_utf8
  src/threading/formatters/JSON.cc
  src/util.cc
  src/util.h
  testing/btest/Baseline/scripts.base.frameworks.logging.ascii-json-utf8/ssh.log
Due: license, btest-command-commented

Deprecate json_escape_utf8, replace with escape_utf8 with proper argument meaning
  .pre-commit-config.yaml
  NEWS
  src/Desc.cc
  src/Val.cc
  src/broker/Manager.cc
  src/threading/formatters/JSON.cc
  src/util.cc
  src/util.h
  testing/btest/Baseline/scripts.base.frameworks.logging.json-non-printable-escaping/http.log.json
  testing/btest/Baseline/scripts.base.frameworks.logging.json-non-printable-escaping/http.log.tsv
  testing/btest/Traces/http/http-non-printable-characters.pcap
  testing/btest/scripts/base/frameworks/logging/json-non-printable-escaping.zeek
Due: license, btest-command-commented

Use range views instead of Spicy range helpers
  src/spicy/spicyz/glue-compiler.cc
Due: license

Require at least gcc-12 on ubuntu-22.04 and centosstream-9
  ci/centos-stream-9/Dockerfile
  ci/ubuntu-22.04/Dockerfile
Due: none

Remove unncessary shift operation in asn.1 analyzer
  src/analyzer/protocol/asn1/asn1.pac
Due: none

Remove canonifiers from the scripts.policy.misc.dump-events test
  testing/btest/Baseline.zam/scripts.policy.misc.dump-events/all-events-no-args.log
  testing/btest/Baseline.zam/scripts.policy.misc.dump-events/all-events.log
  testing/btest/Baseline.zam/scripts.policy.misc.dump-events/really-all-events.log
  testing/btest/Baseline.zam/scripts.policy.misc.dump-events/smtp-events.log
  testing/btest/Baseline/scripts.policy.misc.dump-events/all-events-no-args.log
  testing/btest/Baseline/scripts.policy.misc.dump-events/all-events.log
  testing/btest/Baseline/scripts.policy.misc.dump-events/really-all-events.log
  testing/btest/Baseline/scripts.policy.misc.dump-events/smtp-events.log
  testing/btest/scripts/policy/misc/dump-events.zeek
Due: btest-command-commented

ci: Add ZEEK_CI_CONFIGURE_FLAGS_EXTRA
  .cirrus.yml
  ci/build.sh
Due: none

ci: Disable JavaScript for clang_libcpp task
  .cirrus.yml
Due: none

Added REP socket in ProxyThread.
  src/cluster/backend/zeromq/ZeroMQ-Proxy.cc
  src/cluster/backend/zeromq/ZeroMQ-Proxy.h
  src/cluster/backend/zeromq/ZeroMQ.cc
  src/cluster/backend/zeromq/ZeroMQ.h
Due: license

Adding proxy statistics receive code in telemetry manager.
  scripts/policy/frameworks/cluster/backend/zeromq/main.zeek
  src/cluster/backend/zeromq/ZeroMQ-Proxy.h
  src/cluster/backend/zeromq/ZeroMQ.cc
  src/telemetry/Manager.cc
  src/telemetry/Manager.h
Due: license

ci: Disable JavaScript for UBSAN/TSAN
  .cirrus.yml
Due: none

Add missing word to `?$` docs
  doc/script-reference/operators.rst
Due: none
