Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

license:
  name: Check for license headers
  entry: ./ci/license-header.py
  language: python

btest-command-commented:
  name: Check that all BTest command lines are commented out
  entry: ^\s*@TEST-
  language: pygrep

btest: Add test pushing 1000 notices fast
  testing/btest/Baseline/scripts.base.frameworks.notice.suppression-batching-cluster/manager..stdout
  testing/btest/Baseline/scripts.base.frameworks.notice.suppression-batching-cluster/proxy-1..stdout
  testing/btest/Baseline/scripts.base.frameworks.notice.suppression-batching-cluster/proxy-2..stdout
  testing/btest/Baseline/scripts.base.frameworks.notice.suppression-batching-cluster/worker-1..stdout
  testing/btest/Baseline/scripts.base.frameworks.notice.suppression-batching-cluster/worker-2..stdout
  testing/btest/Baseline/scripts.base.frameworks.notice.suppression-batching-cluster/worker-3..stdout
  testing/btest/Baseline/scripts.base.frameworks.notice.suppression-batching-cluster/worker-4..stdout
  testing/btest/scripts/base/frameworks/notice/suppression-batching-cluster.zeek
Due: btest-command-commented

tools/systemd-generator: Explicit path to string conversion
  tools/systemd-generator/src/systemd-unit.cc
  tools/systemd-generator/src/systemd-unit.h
  tools/systemd-generator/src/zeek-cluster-config.cc
  tools/systemd-generator/src/zeek-cluster-config.h
  tools/systemd-generator/src/zeek-cluster-layout-generator.cc
  tools/systemd-generator/src/zeek-systemd-generator.cc
Due: license

tools/systemd-generator: Set StartLimitIntervalSec to 0
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator-defaults/normal-dir.zeek-archiver.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator-defaults/normal-dir.zeek-logger@.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator-defaults/normal-dir.zeek-manager.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator-defaults/normal-dir.zeek-proxy@.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator-defaults/normal-dir.zeek-setup.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator-defaults/normal-dir.zeek-worker@.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-archiver.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-logger@.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-manager.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-proxy@.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-setup.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-worker@.service
  testing/btest/Baseline/tools.test-paths/..dir1.zeek-worker@.service
  testing/btest/Baseline/tools.test-paths/..dir2.zeek-worker@.service
  tools/systemd-generator/src/systemd-unit.cc
  tools/systemd-generator/src/systemd-unit.h
  tools/systemd-generator/src/zeek-systemd-generator.cc
Due: license, btest-command-commented

tools/systemd-generator: Replace ranges usage with split() helper
  tools/systemd-generator/src/zeek-cluster-config.cc
  tools/systemd-generator/src/zeek-systemd-generator.cc
Due: license

CMakeLists: Skip building zeek-systemd-generator on Windows
  tools/systemd-generator/CMakeLists.txt
Due: none

CI: Remove only_if from docker_build_template
  .cirrus.yml
Due: none

Add skip conditions for container builder tasks
  .cirrus.yml
Due: none

CI: Add macOS Tahoe/26.x
  .cirrus.yml
Due: none

CI: Update FreeBSD 14 to 14.3
  .cirrus.yml
Due: none

CI: Add opensuse-leap-16.0, fix the EOL date for 15.6
  .cirrus.yml
  ci/opensuse-leap-16.0/Dockerfile
Due: none

Update list of HTTP methods from IANA
  scripts/base/protocols/http/dpd.sig
Due: none

Docs: Regenerated via GitHub workflow
  doc/script-reference/autogenerated-script-index.rst
  doc/scripts/base/files/x509/certificate-event-cache.zeek.rst
  doc/scripts/base/files/x509/main.zeek.rst
  doc/scripts/base/frameworks/broker/main.zeek.rst
  doc/scripts/base/frameworks/cluster/index.rst
  doc/scripts/base/frameworks/cluster/main.zeek.rst
  doc/scripts/base/frameworks/cluster/nodes/logger.zeek.rst
  doc/scripts/base/frameworks/intel/main.zeek.rst
  doc/scripts/base/frameworks/logging/main.zeek.rst
  doc/scripts/base/frameworks/logging/writers/ascii.zeek.rst
  doc/scripts/base/frameworks/software/main.zeek.rst
  doc/scripts/base/frameworks/supervisor/control.zeek.rst
  doc/scripts/base/init-bare.zeek.rst
  doc/scripts/base/protocols/ssl/main.zeek.rst
  doc/scripts/policy/frameworks/management/config.zeek.rst
  doc/scripts/policy/frameworks/management/request.zeek.rst
  doc/scripts/policy/misc/systemd-generator.zeek.rst
  doc/scripts/policy/protocols/conn/known-hosts.zeek.rst
  doc/scripts/policy/protocols/conn/known-services.zeek.rst
  doc/scripts/policy/protocols/ssl/known-certs.zeek.rst
  doc/scripts/policy/protocols/ssl/validate-certs.zeek.rst
  doc/scripts/zeekygen/__load__.zeek.rst
Due: none

QUIC: Add short packets as oO in binary logarithmic fashion to history
  NEWS
  scripts/base/protocols/quic/main.zeek
  src/analyzer/protocol/quic/QUIC.evt
  src/analyzer/protocol/quic/QUIC.spicy
  testing/btest/Baseline/scripts.base.protocols.quic.39264-rand/quic.log
  testing/btest/Baseline/scripts.base.protocols.quic.chromium/quic.log
  testing/btest/Baseline/scripts.base.protocols.quic.curl-http3/quic.log
  testing/btest/Baseline/scripts.base.protocols.quic.decrypt-fail-google-de-51833/quic.log.cut
  testing/btest/Baseline/scripts.base.protocols.quic.discarded-packet/quic.log.default-discarded-packets
  testing/btest/Baseline/scripts.base.protocols.quic.discarded-packet/quic.log.no-discarded-packets
  testing/btest/Baseline/scripts.base.protocols.quic.discarded-packet/quic.log.one-discarded-packet
  testing/btest/Baseline/scripts.base.protocols.quic.events/out
  testing/btest/Baseline/scripts.base.protocols.quic.firefox/quic.log
  testing/btest/Baseline/scripts.base.protocols.quic.interop.quic-go_quic-go.handshake/quic.log
  testing/btest/Baseline/scripts.base.protocols.quic.interop.quic-go_quic-go.retry/quic.log
  testing/btest/Baseline/scripts.base.protocols.quic.interop.quic-go_quic-go.zerortt/quic.log
  testing/btest/Baseline/scripts.base.protocols.quic.merlinc2/quic.log
  testing/btest/Baseline/scripts.base.protocols.quic.quic-log/quic.log
  testing/btest/Baseline/scripts.base.protocols.quic.quicdoq/quic.log
  testing/btest/Baseline/scripts.base.protocols.quic.quicv2-echo-443/quic.log
  testing/btest/Baseline/scripts.base.protocols.quic.quicv2-http3-443/quic.log
  testing/btest/scripts/base/protocols/quic/events.zeek
  testing/external/commit-hash.zeek-testing
Due: license, btest-command-commented

ZAM fix for recursive functions that iterate over tables
  src/script_opt/ZAM/ZBody.cc
  src/script_opt/ZAM/ZBody.h
Due: license

BTest for ZAM optimization of function that recurses while iterating over a table
  testing/btest/Baseline/opt.regress-recursive-table-iter/output
  testing/btest/opt/regress-recursive-table-iter.zeek
Due: btest-command-commented

ZVal: Add missing header
  src/ZVal.h
Due: license

ZValCallback: Introduce RecordFieldCallback
  src/ZValCallback.h
Due: license

ZValElement: Support field_callback
  src/Val.cc
  src/Val.h
Due: license

testing: Disable ZAM for CI
  testing/btest/opt/basic.zeek
  testing/btest/opt/regress-missing-fields.zeek
Due: btest-command-commented

scan/parse/Attr: Introduce &volatile
  scripts/base/init-bare.zeek
  src/Attr.cc
  src/Attr.h
  src/parse.y
  src/scan.l
Due: license

SessionAdapter: Prepare for callback based endpoint state and size fields
  src/packet_analysis/protocol/ip/SessionAdapter.cc
  src/packet_analysis/protocol/ip/SessionAdapter.h
  src/zeek-setup.cc
Due: license

logging/Manager: Bail on callback based fields for now
  src/logging/Manager.cc
Due: license

RecordVal: Support assigning RecordFieldCallback pointers
  src/Val.cc
  src/Val.h
Due: license

tcp,udp,icmp: Implement GetEndpointSize() / GetEndpointState()
  src/packet_analysis/protocol/icmp/ICMP.cc
  src/packet_analysis/protocol/icmp/ICMPSessionAdapter.cc
  src/packet_analysis/protocol/icmp/ICMPSessionAdapter.h
  src/packet_analysis/protocol/tcp/TCPSessionAdapter.cc
  src/packet_analysis/protocol/tcp/TCPSessionAdapter.h
  src/packet_analysis/protocol/udp/UDPSessionAdapter.cc
  src/packet_analysis/protocol/udp/UDPSessionAdapter.h
Due: license

EventTrace: Fix copying of uninitialized ZValElement
  src/EventTrace.cc
Due: license

Connection: Deprecate SetStartTime()
  src/session/Session.h
Due: license

ConnSize: Make callback based
  src/analyzer/protocol/conn-size/ConnSize.cc
  src/analyzer/protocol/conn-size/ConnSize.h
  src/analyzer/protocol/conn-size/Plugin.cc
Due: license

unknown_ip_transport: Disable endpoint$size and endpoint$state
  src/packet_analysis/protocol/unknown_ip_transport/UnknownIPSessionAdapter.h
Due: license

Connection: Use callbacks for history and duration
  src/Conn.cc
  src/Conn.h
Due: license

testing: Update baselines, add endpoint tests
  testing/btest/Baseline/core.conn-size-endpoint-update-timer/out
  testing/btest/Baseline/core.conn-size-endpoint-update/out
  testing/btest/Baseline/plugins.hooks/output
  testing/btest/Baseline/scripts.base.protocols.mount.basic/.stdout
  testing/btest/Baseline/scripts.base.protocols.nfs.basic/.stdout
  testing/btest/Baseline/scripts.base.protocols.postgresql.dump-events/output
  testing/btest/Baseline/scripts.policy.misc.dump-events/all-events.log
  testing/btest/Baseline/scripts.policy.misc.dump-events/really-all-events.log
  testing/btest/Baseline/scripts.policy.misc.dump-events/smtp-events.log
  testing/btest/core/conn-size-endpoint-update-timer.zeek
  testing/btest/core/conn-size-endpoint-update.zeek
  testing/external/commit-hash.zeek-testing
Due: btest-command-commented

fixup! testing: Update baselines, add endpoint tests
  testing/btest/Traces/tcp/synack.pcap
Due: btest-command-commented

Val: Inline AssignCallback(), make volatile check for debug
  src/Val.cc
  src/Val.h
Due: license

Connection: Remove callbacks once
  src/Conn.cc
Due: license

doc: Add &volatile placeholder
  doc/script-reference/attributes.rst
Due: none

Add TCP::raw_option_list BiF
  NEWS
  scripts/base/init-bare.zeek
  src/analyzer/protocol/tcp/functions.bif
  src/script_opt/FuncInfo.cc
  testing/btest/Baseline/bifs.tcp_raw_options-2/.stdout
  testing/btest/Baseline/bifs.tcp_raw_options/.stdout
  testing/btest/bifs/tcp_raw_options.zeek
Due: license, btest-command-commented

docker: add `websockets` dependency
  docker/final.Dockerfile
Due: none

frameworks/notice: Remove Broker::auto_publish()
  scripts/base/frameworks/notice/main.zeek
Due: none

frameworks/notice: Implement suppression batching
  scripts/base/frameworks/notice/main.zeek
  testing/btest/Baseline/plugins.hooks/output
  testing/btest/Baseline/scripts.base.frameworks.notice.suppression-batching-cluster/manager..stdout
  testing/btest/Baseline/scripts.base.frameworks.notice.suppression-batching-cluster/proxy-1..stdout
  testing/btest/Baseline/scripts.base.frameworks.notice.suppression-batching-cluster/proxy-2..stdout
  testing/btest/Baseline/scripts.base.frameworks.notice.suppression-batching-cluster/worker-1..stdout
  testing/btest/Baseline/scripts.base.frameworks.notice.suppression-batching-cluster/worker-2..stdout
  testing/btest/Baseline/scripts.base.frameworks.notice.suppression-batching-cluster/worker-3..stdout
  testing/btest/Baseline/scripts.base.frameworks.notice.suppression-batching-cluster/worker-4..stdout
  testing/btest/scripts/base/frameworks/notice/suppression-batching-cluster.zeek
Due: btest-command-commented

Bring in the initial tutorial
  doc/tutorial/intro-scripting.rst
  doc/tutorial/invoking-zeek.rst
  doc/tutorial/invoking-zeekctl.rst
  doc/tutorial/logs.rst
  doc/tutorial/setup.rst
  doc/tutorial/using-packages.rst
  doc/tutorial/zeek-frameworks.rst
Due: none

Windows: Generate launch.vs.json via CMake template
  CMakeLists.txt
  cmake_templates/launch.vs.json.in
Due: none

Path conditions:
  license: any of: \.(h|c|cpp|cc|spicy|evt)$, but not: ^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$
  btest-command-commented: any of: ^testing/btest/.*$
