Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

license:
  name: Check for license headers
  entry: ./ci/license-header.py
  language: python

btest-command-commented:
  name: Check that all BTest command lines are commented out
  entry: ^\s*@TEST-
  language: pygrep

Add `zeekctl` section to tutorial
  doc/cluster-setup.rst
  doc/tutorial/invoking-zeekctl.rst
  doc/tutorial/logs.rst
Due: none

Avoid describing containers as "Docker containers"
  doc/tutorial/logs.rst
  doc/tutorial/scripting/tutorial-example.rst
  doc/tutorial/setup.rst
Due: none

Minor wording/grammar/formatting fixes for 8.1 NEWS
  NEWS
Due: none

NEWS updates for 8.1
  NEWS
Due: none

Use consistent line lengths
  NEWS
Due: none

Update docs for IGMP analyzer addition
  doc/script-reference/autogenerated-package-index.rst
  doc/script-reference/autogenerated-packet-analyzer-index.rst
  doc/script-reference/autogenerated-protocol-analyzer-index.rst
  doc/script-reference/autogenerated-script-index.rst
  doc/scripts/base/bif/index.rst
  doc/scripts/base/frameworks/logging/main.zeek.rst
  doc/scripts/base/packet-protocols/__load__.zeek.rst
  doc/scripts/base/packet-protocols/igmp/__load__.zeek.rst
  doc/scripts/base/packet-protocols/igmp/index.rst
  doc/scripts/base/packet-protocols/igmp/main.zeek.rst
  doc/scripts/base/packet-protocols/igmp/types.zeek.rst
  doc/scripts/base/packet-protocols/index.rst
  doc/scripts/base/protocols/conn/inactivity.zeek.rst
Due: none

Import IGMP analyzer from external contributor
  scripts/base/packet-protocols/__load__.zeek
  scripts/base/packet-protocols/igmp/__load__.zeek
  scripts/base/packet-protocols/igmp/main.zeek
  scripts/base/packet-protocols/igmp/types.zeek
  src/packet_analysis/protocol/CMakeLists.txt
  src/packet_analysis/protocol/igmp/CMakeLists.txt
  src/packet_analysis/protocol/igmp/igmp.evt
  src/packet_analysis/protocol/igmp/igmp.spicy
  testing/btest/Baseline/coverage.bare-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.default-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.find-bro-logs/out
  testing/btest/Baseline/plugins.hooks/output
  testing/btest/Baseline/scripts.base.protocols.igmp.bad-checksum/igmp.log
  testing/btest/Baseline/scripts.base.protocols.igmp.basic/igmp.log
  testing/btest/Traces/igmp/igmp-bad-checksum.pcap
  testing/btest/Traces/igmp/igmp.pcap
  testing/btest/scripts/base/protocols/igmp/bad-checksum.zeek
  testing/btest/scripts/base/protocols/igmp/basic.zeek
  testing/external/commit-hash.zeek-testing
Due: license, btest-command-commented

Restrict more templates using concepts
  src/Val.h
  src/analyzer/protocol/ssl/SSL.cc
  src/broker/Data.h
  src/probabilistic/BitVector.h
  src/telemetry/Manager.h
  src/util.cc
  src/util.h
  src/zeek.bif
Due: license

testing/btest: Shutdown manager last
  testing/btest/Baseline/cluster.websocket.zeromq.manager-worker-ping-pong/..manager.out
  testing/btest/Baseline/cluster.websocket.zeromq.manager-worker-ping-pong/..worker-1.out
  testing/btest/cluster/websocket/zeromq/manager-worker-ping-pong.zeek
Due: btest-command-commented

Using zmq::proxy_steerable to create proxy in order to gather statistics. Also includes @awelzel provided rework and improvement changes.
  src/cluster/backend/zeromq/ZeroMQ-Proxy.cc
  src/cluster/backend/zeromq/ZeroMQ-Proxy.h
  src/cluster/backend/zeromq/ZeroMQ.cc
  src/cluster/backend/zeromq/ZeroMQ.h
  testing/btest/Baseline/cluster.websocket.zeromq.manager-worker-ping-pong/..manager.out
  testing/btest/Baseline/cluster.websocket.zeromq.manager-worker-ping-pong/..worker-1.out
  testing/btest/cluster/websocket/zeromq/manager-worker-ping-pong.zeek
Due: license, btest-command-commented

Renaming statistics. Resolving comment https://github.com/zeek/zeek/pull/5052#discussion_r2616958150
  src/cluster/backend/zeromq/ZeroMQ.cc
Due: license

Enhancement: Add offset parameter to find_first/find_last
  src/strings.bif
  testing/btest/Baseline/bifs.find_first_offset/output
  testing/btest/bifs/find_first_offset.zeek
Due: btest-command-commented

Fix: cast string length to unsigned to fix CI build
  src/strings.bif
Due: none

init-bare: Document stale connection and endpoint field behavior
  scripts/base/init-bare.zeek
Due: none

Bring in the initial tutorial
  doc/tutorial/intro-scripting.rst
  doc/tutorial/invoking-zeek.rst
  doc/tutorial/invoking-zeekctl.rst
  doc/tutorial/logs.rst
  doc/tutorial/setup.rst
  doc/tutorial/using-packages.rst
  doc/tutorial/zeek-frameworks.rst
Due: none

Start the new tutorial doc outline
  doc/index.rst
  doc/tutorial/cluster-backends.rst
  doc/tutorial/index.rst
  doc/tutorial/intro-scripting.rst
  doc/tutorial/invoking-zeek.rst
  doc/tutorial/invoking-zeekctl.rst
  doc/tutorial/logs.rst
  doc/tutorial/setup.rst
  doc/tutorial/using-packages.rst
  doc/tutorial/zeek-frameworks.rst
Due: none

Revise the basics scripting section
  doc/tutorial/scripting/basics.rst
  doc/tutorial/scripting/scripts/data_type_addr.zeek
  doc/tutorial/scripting/scripts/data_type_record.zeek
  doc/tutorial/scripting/scripts/data_type_time.zeek
Due: none

Prefer pcap-mode vs. live-capture for doc tutorial
  doc/tutorial/logs.rst
  doc/tutorial/scripting/tutorial-example.rst
Due: none

Remove TODOs in new tutorial
  doc/tutorial/invoking-zeek.rst
  doc/tutorial/logs.rst
  doc/tutorial/scripting/index.rst
  doc/tutorial/scripting/tutorial-example.rst
  doc/tutorial/using-packages.rst
Due: none

Move scripting tutorial to use diffs
  doc/tutorial/scripting/tutorial-example.rst
  doc/tutorial/scripting/tutorial/01-steps/01.zeek
  doc/tutorial/scripting/tutorial/01-steps/02.zeek
  doc/tutorial/scripting/tutorial/01-steps/02.zeek.diff
  doc/tutorial/scripting/tutorial/01-steps/03.zeek
  doc/tutorial/scripting/tutorial/01-steps/03.zeek.diff
  doc/tutorial/scripting/tutorial/01-steps/04.zeek
  doc/tutorial/scripting/tutorial/01-steps/04.zeek.diff
  doc/tutorial/scripting/tutorial/01-steps/05.zeek
  doc/tutorial/scripting/tutorial/01-steps/05.zeek.diff
  doc/tutorial/scripting/tutorial/01-steps/06.zeek
  doc/tutorial/scripting/tutorial/01-steps/06.zeek.diff
  doc/tutorial/scripting/tutorial/01-steps/07.zeek
  doc/tutorial/scripting/tutorial/01-steps/07.zeek.diff
  doc/tutorial/scripting/tutorial/01-steps/08.zeek
  doc/tutorial/scripting/tutorial/01-steps/08.zeek.diff
  doc/tutorial/scripting/tutorial/02-steps/01.zeek
  doc/tutorial/scripting/tutorial/02-steps/02.zeek
  doc/tutorial/scripting/tutorial/02-steps/02.zeek.diff
  doc/tutorial/scripting/tutorial/02-steps/03.zeek
  doc/tutorial/scripting/tutorial/02-steps/03.zeek.diff
  doc/tutorial/scripting/tutorial/02-steps/04.zeek
  doc/tutorial/scripting/tutorial/02-steps/04.zeek.diff
  doc/tutorial/scripting/tutorial/02-steps/05.zeek
  doc/tutorial/scripting/tutorial/02-steps/05.zeek.diff
  doc/tutorial/scripting/tutorial/03-steps/01.zeek
  doc/tutorial/scripting/tutorial/03-steps/02.zeek
  doc/tutorial/scripting/tutorial/03-steps/02.zeek.diff
  doc/tutorial/scripting/tutorial/03-steps/03.zeek
  doc/tutorial/scripting/tutorial/03-steps/03.zeek.diff
  doc/tutorial/scripting/tutorial/03-steps/04.zeek
  doc/tutorial/scripting/tutorial/03-steps/04.zeek.diff
  doc/tutorial/scripting/tutorial/03-steps/05.zeek
  doc/tutorial/scripting/tutorial/03-steps/05.zeek.diff
  doc/tutorial/scripting/tutorial/03-steps/06.zeek
  doc/tutorial/scripting/tutorial/03-steps/06.zeek.diff
Due: none

Delete the old log introspection section
  doc/index.rst
  doc/log-formats.rst
  doc/quickstart.rst
  doc/tutorial/logs.rst
Due: none

Touchup tutorial wording
  doc/tutorial/invoking-zeek.rst
  doc/tutorial/logs.rst
  doc/tutorial/scripting/basics.rst
  doc/tutorial/using-packages.rst
Due: none

Add disclaimers for unfinished tutorial sections
  doc/tutorial/cluster-backends.rst
  doc/tutorial/index.rst
  doc/tutorial/invoking-zeekctl.rst
  doc/tutorial/logs.rst
Due: none

Add missing word to `?$` docs
  doc/script-reference/operators.rst
Due: none

Remove frameworks section from the tutorial
  doc/tutorial/frameworks/framework-scripts/match.sig
  doc/tutorial/frameworks/framework-scripts/match.zeek
  doc/tutorial/frameworks/zeek-frameworks.rst
  doc/tutorial/index.rst
Due: none

Add back missing section label
  doc/tutorial/scripting/basics.rst
Due: none

Address misc review feedback for tutorial
  doc/customizations.rst
  doc/tutorial/index.rst
  doc/tutorial/invoking-zeek.rst
  doc/tutorial/logs.rst
  doc/tutorial/scripting/basics.rst
  doc/tutorial/scripting/index.rst
  doc/tutorial/scripting/tutorial-example.rst
  doc/tutorial/setup.rst
  doc/tutorial/using-packages.rst
Due: none

Finish the logs tutorial section
  doc/tutorial/logs.rst
Due: none

Use new setup script for scripting tutorial
  doc/tutorial/scripting/basics.rst
  doc/tutorial/scripting/basics/data_struct_table_complex_blank_value.zeek
  doc/tutorial/scripting/tutorial-example.rst
  doc/tutorial/scripting/tutorial/01-http-entities.zeek
  doc/tutorial/scripting/tutorial/02-http-patterns.zeek
  doc/tutorial/scripting/tutorial/03-http-logging.zeek
  doc/tutorial/setup.rst
Due: none

fixup! Using zmq::proxy_steerable to create proxy in order to gather statistics. Also includes @awelzel provided rework and improvement changes.
  src/cluster/backend/zeromq/ZeroMQ-Proxy.cc
  src/cluster/backend/zeromq/ZeroMQ.cc
  src/cluster/backend/zeromq/ZeroMQ.h
Due: license

Path conditions:
  license: any of: \.(h|c|cpp|cc|spicy|evt)$, but not: ^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$
  btest-command-commented: any of: ^testing/btest/.*$
