Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

license:
  name: Check for license headers
  entry: ./ci/license-header.py
  language: python

btest-command-commented:
  name: Check that all BTest command lines are commented out
  entry: ^\s*@TEST-
  language: pygrep

logging/writers: Disable heartbeats
  src/logging/writers/ascii/Ascii.cc
  src/logging/writers/ascii/Ascii.h
  src/logging/writers/none/None.h
  src/logging/writers/sqlite/SQLite.cc
  src/logging/writers/sqlite/SQLite.h
Due: license

tcp,udp,icmp adapters: Fix UpdateConnVal() superclass call
  src/packet_analysis/protocol/icmp/ICMPSessionAdapter.cc
  src/packet_analysis/protocol/tcp/TCPSessionAdapter.cc
  src/packet_analysis/protocol/udp/UDPSessionAdapter.cc
Due: license

tcp,udp,icmp adapters: Move TapPacket() to earlier
  src/packet_analysis/protocol/icmp/ICMP.cc
  src/packet_analysis/protocol/tcp/TCP.cc
  src/packet_analysis/protocol/udp/UDP.cc
Due: license

SessionAdapter: Keep tap_analyzers until destruction
  src/packet_analysis/protocol/ip/SessionAdapter.cc
Due: license

btest/tap-analyzer: Update existing test and add new one for UpdateConnVal()
  testing/btest/Baseline/plugins.tap-analyzer-conn-val/output
  testing/btest/Baseline/plugins.tap-analyzer/output
  testing/btest/plugins/tap-analyzer-conn-val-plugin/.btest-ignore
  testing/btest/plugins/tap-analyzer-conn-val-plugin/src/Plugin.cc
  testing/btest/plugins/tap-analyzer-conn-val-plugin/src/Plugin.h
  testing/btest/plugins/tap-analyzer-conn-val.zeek
  testing/btest/plugins/tap-analyzer.zeek
Due: btest-command-commented

CI: Rework the layout of what tasks get run when
  .cirrus.yml
Due: none

cmake_minimum_required() should come before project()
  testing/btest/plugins/binpac-flowbuffer-frame-length-plugin/CMakeLists.txt
  testing/btest/plugins/conflict-plugin/CMakeLists.txt
  testing/btest/plugins/connkey-plugin/CMakeLists.txt
  testing/btest/plugins/file-plugin/CMakeLists.txt
  testing/btest/plugins/packet-protocol-plugin/CMakeLists.txt
  testing/btest/plugins/pktdumper-plugin/CMakeLists.txt
  testing/btest/plugins/pktsrc-plugin/CMakeLists.txt
  testing/btest/plugins/protocol-plugin/CMakeLists.txt
  testing/btest/plugins/reader-plugin/CMakeLists.txt
  testing/btest/plugins/writer-plugin/CMakeLists.txt
Due: btest-command-commented

Add options to filter at the stream level as well as globally
  scripts/base/frameworks/logging/main.zeek
  scripts/base/init-bare.zeek
  src/logging/Manager.cc
  src/logging/Manager.h
  testing/btest/Baseline/plugins.hooks/output
  testing/btest/Baseline/scripts.base.frameworks.logging.delay.static-errors-2/.stderr
  testing/btest/Baseline/scripts.base.frameworks.logging.delay.static-errors-3/.stderr
  testing/btest/Baseline/scripts.base.frameworks.logging.delay.static-errors-4/.stderr
  testing/btest/Baseline/scripts.base.frameworks.logging.delay.static-errors/.stderr
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-stream-2/.stdout
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-stream-2/test.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-stream-2/weird.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-stream-3/.stdout
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-stream-3/test.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-stream-3/weird.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-stream-4/.stdout
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-stream-4/test.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-stream-4/weird.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-stream-5/.stdout
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-stream-5/test.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-stream-5/weird.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-stream-6/.stdout
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-stream-6/test.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-stream-6/weird.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-stream/.stdout
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-stream/test.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-stream/weird.log
  testing/btest/scripts/base/frameworks/logging/field-length-limiting-stream.zeek
  testing/btest/scripts/base/frameworks/logging/length-checking.zeek
Due: license, btest-command-commented

Expand the size of the log-size filters for x509
  scripts/base/files/x509/main.zeek
Due: none

Update zeek-aux to remove BRO_DIST from plugin skeleton
  testing/btest/plugins/file-plugin/CMakeLists.txt
Due: btest-command-commented

TEMP: Use ci-test branches for testing release and master changes
  .cirrus.yml
Due: none

Add nightly-only tasks to release-branch builds
  .cirrus.yml
Due: none

Remove zeek-aux git submodule
  .gitmodules
Due: none

zeek-aux: Ignore some files for license file pre-commit check
  .pre-commit-config.yaml
Due: none

Reformat code in zeek-aux with clang-format/cmake-format
  auxil/zeek-aux/CMakeLists.txt
  auxil/zeek-aux/adtrace/CMakeLists.txt
  auxil/zeek-aux/adtrace/adtrace.c
  auxil/zeek-aux/adtrace/ether.h
  auxil/zeek-aux/adtrace/ethertype.h
  auxil/zeek-aux/adtrace/ip.h
  auxil/zeek-aux/plugin-support/skeleton/src/Plugin.cc
  auxil/zeek-aux/rst/CMakeLists.txt
  auxil/zeek-aux/rst/rst.c
  auxil/zeek-aux/testing/Baseline/update-changes.replace-version-in-c-header/header.h
  auxil/zeek-aux/zeek-archiver/zeek-archiver.cc
  auxil/zeek-aux/zeek-cut/zeek-cut.c
Due: license

zeek-archiver: Use standard headers for IP/Ethernet structures and defines
  auxil/zeek-aux/adtrace/adtrace.c
  auxil/zeek-aux/adtrace/ether.h
  auxil/zeek-aux/adtrace/ethertype.h
  auxil/zeek-aux/adtrace/ip.h
Due: license

smb2/read: Parse only 1 byte for data_offset, ignore reserved1
  src/analyzer/protocol/smb/smb2-com-read.pac
  testing/btest/Baseline/scripts.base.protocols.smb.smb2-read-response-non-zero-reserved1/files.log
  testing/btest/Traces/README
  testing/btest/Traces/smb/smb_v2_only_non_zero_reserved1.pcap
  testing/btest/scripts/base/protocols/smb/smb2-read-response-non-zero-reserved1.test
Due: btest-command-commented

Use virtualenv in docs generation/builds
  .github/workflows/generate-docs.yml
Due: none

btest/core/suspend_processing: Add WebSocket example
  testing/btest/Baseline/core.suspend_processing.websocket/client..stdout
  testing/btest/Baseline/core.suspend_processing.websocket/worker..stdout
  testing/btest/Files/ws/wstest.py
  testing/btest/core/suspend_processing/websocket.zeek
Due: btest-command-commented

Merge remote-tracking branch 'origin/topic/johanna/analyzer-log-proto'
  CHANGES
  VERSION
  scripts/base/frameworks/analyzer/logging.zeek
  testing/btest/Baseline/core.tunnels.gtp.unknown_or_too_short/analyzer.log
  testing/btest/Baseline/scripts.base.protocols.dce-rpc.ntlm-empty-av-pair-seq/analyzer.log
  testing/btest/Baseline/scripts.base.protocols.dce-rpc.ntlm-unterminated-av-pair-seq/analyzer.log
  testing/btest/Baseline/scripts.base.protocols.ftp.ftp-invalid-reply-code/analyzer.log
  testing/btest/Baseline/scripts.base.protocols.ftp.ftp-missing-reply-code/analyzer.log
  testing/btest/Baseline/scripts.base.protocols.ftp.ftp-missing-space-after-reply-code/analyzer.log
  testing/btest/Baseline/scripts.base.protocols.http.http-11-request-then-cruft/analyzer.log
  testing/btest/Baseline/scripts.base.protocols.postgresql.bad-backend-message/analyzer.cut
  testing/btest/Baseline/scripts.policy.frameworks.analyzer.packet-segment-logging/analyzer.log
  testing/btest/Baseline/spicy.parse-error/analyzer.log
  testing/external/commit-hash.zeek-testing
  testing/external/commit-hash.zeek-testing-private
Due: btest-command-commented

Merge remote-tracking branch 'origin/topic/awelzel/4176-cluster-on-sub-unsub-hooks'
  CHANGES
  NEWS
  VERSION
  scripts/base/frameworks/cluster/main.zeek
  src/cluster/Backend.cc
  src/cluster/Backend.h
  testing/btest/Baseline.zam/cluster.websocket.listen-idempotent/.stderr
  testing/btest/Baseline.zam/cluster.websocket.tls-usage-error/.stderr
  testing/btest/Baseline/cluster.generic.on-subscribe-unsubscribe/.stderr
  testing/btest/Baseline/cluster.generic.on-subscribe-unsubscribe/.stdout
  testing/btest/cluster/generic/on-subscribe-unsubscribe.zeek
Due: license, btest-command-commented

Merge remote-tracking branch 'origin/topic/awelzel/4730-smb-read-response-data-offset'
  CHANGES
  VERSION
  src/analyzer/protocol/smb/smb2-com-read.pac
  testing/btest/Baseline/scripts.base.protocols.smb.smb2-read-response-non-zero-reserved1/files.log
  testing/btest/Traces/README
  testing/btest/Traces/smb/smb_v2_only_non_zero_reserved1.pcap
  testing/btest/scripts/base/protocols/smb/smb2-read-response-non-zero-reserved1.test
Due: btest-command-commented

Remove binpac git submodule
  .gitmodules
Due: none

Fixup some issues with nightly jobs
  .cirrus.yml
Due: none

Remove bifcl git submodule
  .gitmodules
Due: none

Add cleaned-up version of Bifcl
  auxil/bifcl/CMakeLists.txt
  auxil/bifcl/README
  auxil/bifcl/bif_arg.cc
  auxil/bifcl/builtin-func.l
  auxil/bifcl/builtin-func.y
  auxil/bifcl/include/bif_arg.h
  auxil/bifcl/include/bif_type.def
  auxil/bifcl/include/module_util.h
  auxil/bifcl/module_util.cc
Due: license

Path conditions:
  license: any of: \.(h|c|cpp|cc|spicy|evt)$, but not: ^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*)$
  btest-command-commented: any of: ^testing/btest/.*$
