Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*'

RecordType: Carry field_properties
  src/Type.cc
  src/Type.h
Due: license

logging/Manager: Fix slot logic
  src/logging/Manager.cc
Due: license

RecordVal: Use vector32
  src/Val.cc
  src/Val.h
Due: license

ZAM: Drop some unneeded DeleteManagedTyped() calls
  src/script_opt/ZAM/OPs/constructors.op
Due: none

Val: Introduce vector32
  src/Val.h
Due: license

RecordVal: Avoid IsManagedType() calls during construction
  src/Val.cc
  src/Val.h
Due: license

Supervisor: Make last_signal atomic to squelch data race
  src/supervisor/Supervisor.cc
  src/supervisor/Supervisor.h
Due: license

Update docs submodule [nomail]
  CHANGES
  VERSION
Due: none

SMB: Init lanman time and set TZ correctly before calling mktime
  src/analyzer/protocol/smb/smb-time.pac
  src/analyzer/protocol/smb/smb1-com-negotiate.pac
  testing/btest/Baseline/scripts.base.protocols.smb.smb1-negotiate-lanman/out
  testing/btest/Traces/README
  testing/btest/Traces/smb/cifs_negotiate_lanman.pcap
  testing/btest/scripts/base/protocols/smb/smb1-negotiate-lanman.zeek
Due: btest-command-commented

Remove SMB_time and SMB_date record types
  src/analyzer/protocol/smb/smb-time.pac
  src/analyzer/protocol/smb/smb1-com-query-information.pac
Due: none

Remove some additional LibreSSL checks
  src/digest.cc
  src/file_analysis/analyzer/x509/X509.cc
  src/file_analysis/analyzer/x509/X509.h
  src/file_analysis/analyzer/x509/functions.bif
Due: license

Remove checks for OpenSSL 1.x versions
  src/OpaqueVal.cc
  src/digest.cc
  src/file_analysis/analyzer/x509/OCSP.cc
  src/file_analysis/analyzer/x509/X509.cc
  src/file_analysis/analyzer/x509/X509.h
  src/file_analysis/analyzer/x509/functions.bif
  src/zeek-setup.cc
Due: license

Use strlcpy() instead of strncpy()
  src/Base64.cc
  src/DNS_Mgr.cc
  src/analyzer/protocol/login/NVT.cc
  src/scan.l
  src/util.cc
  src/util.h
Due: license

fixed bug in logic for including/excluding files for script optimization
  src/script_opt/ScriptOpt.cc
Due: license

fix to enable -O gen-standalone-C++ code to extend enum types
  src/Type.cc
Due: license

Fix for standalone initializations that require BiFs, and streamlining of standalone BiF-tracking
  src/script_opt/CPP/Inits.cc
  src/script_opt/ProfileFunc.cc
  src/script_opt/ProfileFunc.h
Due: license

Reworked initialization of globals for -O gen-standalone-C++ code
  src/script_opt/CPP/Consts.h
  src/script_opt/CPP/Driver.cc
  src/script_opt/CPP/Exprs.cc
  src/script_opt/CPP/Exprs.h
  src/script_opt/CPP/Inits.cc
  src/script_opt/CPP/Inits.h
  src/script_opt/CPP/InitsInfo.cc
  src/script_opt/CPP/InitsInfo.h
  src/script_opt/CPP/RuntimeInitSupport.cc
  src/script_opt/CPP/RuntimeInits.cc
  src/script_opt/CPP/Stmts.cc
  src/script_opt/CPP/Vars.cc
  src/script_opt/CPP/Vars.h
  src/script_opt/IDOptInfo.cc
  src/script_opt/IDOptInfo.h
Due: license

fixup! Reworked initialization of globals for -O gen-standalone-C++ code
  src/script_opt/CPP/InitsInfo.cc
Due: license

fixup! Add opcode/opcode_name to DNS log record
  scripts/base/protocols/dns/consts.zeek
  scripts/base/protocols/dns/main.zeek
  testing/external/commit-hash.zeek-testing
  testing/external/commit-hash.zeek-testing-private
Due: none

Fix some recent Coverity findings
  src/Func.cc
  src/Func.h
  src/script_opt/CPP/DeclFunc.cc
  src/script_opt/ProfileFunc.cc
Due: license

Conn: Improve packing, drop bitfields and boolenize
  src/Conn.cc
  src/Conn.h
Due: license

Conn: Lazily initialize weird_state when needed
  src/Conn.cc
  src/Conn.h
Due: license

logging/WriterBackend: Support disabling heartbeats
  src/logging/WriterBackend.cc
  src/logging/WriterBackend.h
Due: license

logging/writers: Disable heartbeats
  src/logging/writers/ascii/Ascii.cc
  src/logging/writers/ascii/Ascii.h
  src/logging/writers/none/None.h
  src/logging/writers/sqlite/SQLite.cc
  src/logging/writers/sqlite/SQLite.h
Due: license

Merge remote-tracking branch 'origin/topic/awelzel/4337-tap-analyzer-sketch'
  src/packet_analysis/protocol/icmp/ICMP.cc
  src/packet_analysis/protocol/ip/IPBasedAnalyzer.cc
  src/packet_analysis/protocol/ip/SessionAdapter.cc
  src/packet_analysis/protocol/ip/SessionAdapter.h
  src/packet_analysis/protocol/tcp/TCP.cc
  src/packet_analysis/protocol/udp/UDP.cc
  testing/btest/Baseline/plugins.tap-analyzer/output
  testing/btest/plugins/tap-analyzer-plugin/.btest-ignore
  testing/btest/plugins/tap-analyzer-plugin/src/Plugin.cc
  testing/btest/plugins/tap-analyzer-plugin/src/Plugin.h
  testing/btest/plugins/tap-analyzer.zeek
Due: license, btest-command-commented

Merge remote-tracking branch 'origin/topic/awelzel/4337-tap-analyzer-follow-up'
  src/packet_analysis/protocol/ip/SessionAdapter.h
  testing/btest/Baseline/plugins.tap-analyzer/output
  testing/btest/plugins/tap-analyzer-plugin/src/Plugin.cc
Due: license, btest-command-commented

Merge remote-tracking branch 'origin/topic/awelzel/tap-analyzer-take-three'
  src/packet_analysis/protocol/ip/SessionAdapter.h
  testing/btest/Baseline/plugins.tap-analyzer/output
Due: license, btest-command-commented

Merge remote-tracking branch 'origin/topic/awelzel/tap-analyzer-take-four-thanks-clang-tidy'
  src/packet_analysis/protocol/icmp/ICMP.cc
  src/packet_analysis/protocol/icmp/ICMPSessionAdapter.cc
  src/packet_analysis/protocol/ip/SessionAdapter.cc
  src/packet_analysis/protocol/tcp/TCP.cc
  src/packet_analysis/protocol/tcp/TCPSessionAdapter.cc
  src/packet_analysis/protocol/udp/UDP.cc
  src/packet_analysis/protocol/udp/UDPSessionAdapter.cc
  testing/btest/Baseline/plugins.tap-analyzer-conn-val/output
  testing/btest/Baseline/plugins.tap-analyzer/output
  testing/btest/plugins/tap-analyzer-conn-val-plugin/.btest-ignore
  testing/btest/plugins/tap-analyzer-conn-val-plugin/src/Plugin.cc
  testing/btest/plugins/tap-analyzer-conn-val-plugin/src/Plugin.h
  testing/btest/plugins/tap-analyzer-conn-val.zeek
  testing/btest/plugins/tap-analyzer.zeek
Due: license, btest-command-commented

iosource/Packet: Allow ToRawPktHdrVal() for reassembled packets
  src/iosource/Packet.cc
  src/zeek.bif
  testing/btest/Baseline/bifs.get_current_packet_header_fragmented_syn/output
  testing/btest/Traces/ipv4/fragmented-syn.pcap
  testing/btest/bifs/get_current_packet_header_fragmented_syn.zeek
Due: license, btest-command-commented

initial ZAM op adjustments
  src/script_opt/ZAM/OPs/constructors.op
  src/script_opt/ZAM/OPs/macros.op
  src/script_opt/ZAM/OPs/non-uniform.op
  src/script_opt/ZAM/OPs/script-idioms.op
  src/script_opt/ZAM/OPs/stmts.op
  src/script_opt/ZAM/OPs/unary-exprs.op
Due: none

basic tracking working per assertions
  src/script_opt/ZAM/Compile.h
  src/script_opt/ZAM/Expr.cc
  src/script_opt/ZAM/Low-Level.cc
  src/script_opt/ZAM/OPs/macros.op
  src/script_opt/ZAM/Stmt.cc
  src/script_opt/ZAM/ZInst.cc
  src/script_opt/ZAM/ZInst.h
  tools/gen-zam/Gen-ZAM.cc
  tools/gen-zam/Gen-ZAM.h
Due: license

Add script-level variable for enabling frame tracking without the debugger
  scripts/base/init-bare.zeek
  src/zeek-setup.cc
Due: license

Disable Stmt hooks for the built-in debugger if not a debug build
  src/Func.cc
  src/Stmt.cc
  src/zeek-setup.cc
Due: license

Integrate new Broker optimization
  src/broker/Manager.cc
Due: license

Merge remote-tracking branch 'origin/topic/awelzel/4845-get-current-packet-header-fragmented-syn'
  CHANGES
  NEWS
  VERSION
  src/iosource/Packet.cc
  src/zeek.bif
  testing/btest/Baseline/bifs.get_current_packet_header_fragmented_syn/output
  testing/btest/Traces/ipv4/fragmented-syn.pcap
  testing/btest/bifs/get_current_packet_header_fragmented_syn.zeek
Due: license, btest-command-commented

Merge remote-tracking branch 'origin/topic/awelzel/4842-decompose-uri-ipv6'
  CHANGES
  NEWS
  VERSION
  scripts/base/utils/urls.zeek
  testing/btest/Baseline/scripts.base.utils.decompose_uri/.stderr
  testing/btest/Baseline/scripts.base.utils.decompose_uri/output
  testing/btest/scripts/base/utils/decompose_uri.zeek
Due: btest-command-commented
