Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*'

Harden heartbleed and decryption scripts with disabling_analyzer hook along with the improvements to their respective btests
  scripts/policy/protocols/ssl/decryption.zeek
  scripts/policy/protocols/ssl/heartbleed.zeek
  testing/btest/Baseline/scripts.policy.protocols.ssl.decryption-2/http.log
  testing/btest/Baseline/scripts.policy.protocols.ssl.heartbleed-2/notice-encrypted-short.log
  testing/btest/Baseline/scripts.policy.protocols.ssl.heartbleed-2/notice-encrypted-success.log
  testing/btest/Baseline/scripts.policy.protocols.ssl.heartbleed-2/notice-encrypted.log
  testing/btest/Baseline/scripts.policy.protocols.ssl.heartbleed-2/notice-heartbleed-success.log
  testing/btest/Baseline/scripts.policy.protocols.ssl.heartbleed-2/notice-heartbleed.log
  testing/btest/scripts/policy/protocols/ssl/decryption.zeek
  testing/btest/scripts/policy/protocols/ssl/heartbleed.zeek
  testing/scripts/disable-ssl-analyzer-after-max-count.zeek
Due: btest-command-commented

fixup! IPBasedAnalyzer: Ensure a connection's ConnVal is updated
  testing/external/commit-hash.zeek-testing
Due: none

Merge remote-tracking branch 'amazing-pp/t/psql-login-no-role'
  CHANGES
  VERSION
  scripts/base/protocols/postgresql/main.zeek
  testing/btest/Baseline/scripts.base.protocols.postgresql.psql-login-no-role/conn.cut
  testing/btest/Baseline/scripts.base.protocols.postgresql.psql-login-no-role/postgresql.cut
  testing/btest/Traces/postgresql/psql-login-no-role.pcap
  testing/btest/scripts/base/protocols/postgresql/psql-login-no-role.zeek
Due: btest-command-commented

Merge remote-tracking branch 'origin/topic/awelzel/docker-trixie'
  .cirrus.yml
  CHANGES
  VERSION
  ci/debian-13/Dockerfile
  docker/builder.Dockerfile
  docker/final.Dockerfile
Due: none

Merge remote-tracking branch 'origin/topic/awelzel/4754-double-wrapped-broker-data-records'
  CHANGES
  VERSION
  src/broker/Data.cc
  src/broker/Data.h
  src/cluster/serializer/broker/Serializer.cc
  testing/btest/Baseline/cluster.generic.publish-any/..manager..stdout
  testing/btest/Baseline/cluster.generic.publish-any/..worker-1..stdout
  testing/btest/cluster/generic/publish-any.zeek
Due: license, btest-command-commented

Merge remote-tracking branch 'origin/topic/awelzel/cluster-event-metadata-fixes-for-8.0'
  CHANGES
  VERSION
  src/cluster/Backend.cc
  src/cluster/serializer/broker/Serializer.cc
  testing/btest/Baseline/cluster.websocket.metadata/..client-metadata-from-client..stderr
  testing/btest/Baseline/cluster.websocket.metadata/..client-metadata-from-client.out
  testing/btest/Baseline/cluster.websocket.metadata/..client-metadata..stderr
  testing/btest/Baseline/cluster.websocket.metadata/..client-metadata.out
  testing/btest/Baseline/cluster.websocket.metadata/..client-no-metadata..stderr
  testing/btest/Baseline/cluster.websocket.metadata/..client-no-metadata.out
  testing/btest/Baseline/cluster.websocket.metadata/..manager-metadata-from-client..stderr
  testing/btest/Baseline/cluster.websocket.metadata/..manager-metadata-from-client.out
  testing/btest/Baseline/cluster.websocket.metadata/..manager-metadata..stderr
  testing/btest/Baseline/cluster.websocket.metadata/..manager-metadata.out
  testing/btest/Baseline/cluster.websocket.metadata/..manager-no-metadata..stderr
  testing/btest/Baseline/cluster.websocket.metadata/..manager-no-metadata.out
  testing/btest/cluster/websocket/bad-event-args.zeek
  testing/btest/cluster/websocket/metadata.zeek
Due: license, btest-command-commented

Merge remote-tracking branch 'origin/topic/awelzel/4730-smb-read-response-data-offset'
  CHANGES
  VERSION
  src/analyzer/protocol/smb/smb2-com-read.pac
  testing/btest/Baseline/scripts.base.protocols.smb.smb2-read-response-non-zero-reserved1/files.log
  testing/btest/Traces/README
  testing/btest/Traces/smb/smb_v2_only_non_zero_reserved1.pcap
  testing/btest/scripts/base/protocols/smb/smb2-read-response-non-zero-reserved1.test
Due: btest-command-commented

modified merge_types() to skip work if given identical types, which also preserves type names (useful for -O gen-C++)
  CHANGES
  VERSION
  src/Type.cc
Due: license

Merge remote-tracking branch 'origin/topic/vern/zam-record-fields-fixes'
  CHANGES
  VERSION
  src/Val.h
  src/script_opt/ZAM/OPs/ZAM.op
  src/script_opt/ZAM/ZBody.h
  testing/btest/Baseline/opt.regress-missing-fields/error-messages
  testing/btest/opt/regress-missing-fields.zeek
Due: license, btest-command-commented

Conn: Minor GetVal() cleanup
  src/Conn.cc
Due: license

Conn/ConnSize/IPBasedAnalyzer: Keep connection record values up-to-date
  src/Conn.cc
  src/Conn.h
  src/analyzer/protocol/conn-size/ConnSize.cc
  src/packet_analysis/protocol/ip/IPBasedAnalyzer.cc
  testing/btest/Baseline/plugins.hooks/output
  testing/btest/Baseline/scripts.base.protocols.mount.basic/.stdout
  testing/btest/Baseline/scripts.base.protocols.nfs.basic/.stdout
  testing/btest/Baseline/scripts.base.protocols.postgresql.dump-events/output
  testing/btest/Baseline/scripts.policy.misc.dump-events/all-events.log
  testing/btest/Baseline/scripts.policy.misc.dump-events/really-all-events.log
  testing/btest/Baseline/scripts.policy.misc.dump-events/smtp-events.log
Due: license, btest-command-commented

btest/core: Add tests for connection$endpoint updates
  testing/btest/Baseline/core.conn-size-endpoint-update-timer/out
  testing/btest/Baseline/core.conn-size-endpoint-update/out
  testing/btest/Traces/tcp/synack.pcap
  testing/btest/core/conn-size-endpoint-update-timer.zeek
  testing/btest/core/conn-size-endpoint-update.zeek
Due: btest-command-commented

Document UID pivoting via its type
  scripts/base/init-bare.zeek
  scripts/base/protocols/conn/main.zeek
  scripts/base/protocols/dce-rpc/main.zeek
  scripts/base/protocols/dhcp/main.zeek
  scripts/base/protocols/dnp3/main.zeek
  scripts/base/protocols/dns/main.zeek
  scripts/base/protocols/ftp/info.zeek
  scripts/base/protocols/http/main.zeek
  scripts/base/protocols/irc/main.zeek
  scripts/base/protocols/krb/main.zeek
  scripts/base/protocols/ldap/main.zeek
  scripts/base/protocols/modbus/main.zeek
  scripts/base/protocols/mqtt/main.zeek
  scripts/base/protocols/mysql/main.zeek
  scripts/base/protocols/ntlm/main.zeek
  scripts/base/protocols/ntp/main.zeek
  scripts/base/protocols/postgresql/main.zeek
  scripts/base/protocols/quic/main.zeek
  scripts/base/protocols/radius/main.zeek
  scripts/base/protocols/rdp/main.zeek
  scripts/base/protocols/redis/main.zeek
  scripts/base/protocols/rfb/main.zeek
  scripts/base/protocols/sip/main.zeek
  scripts/base/protocols/smb/main.zeek
  scripts/base/protocols/smtp/main.zeek
  scripts/base/protocols/snmp/main.zeek
  scripts/base/protocols/socks/main.zeek
  scripts/base/protocols/ssh/main.zeek
  scripts/base/protocols/ssl/main.zeek
  scripts/base/protocols/syslog/main.zeek
  scripts/base/protocols/websocket/main.zeek
Due: none

Bump external test-suite
  testing/external/commit-hash.zeek-testing
Due: none

Merge branch 'topic/christian/news-typos'
  CHANGES
  NEWS
  VERSION
Due: none

[WIP] Export SvcParams as list of key/value pairs
  scripts/base/init-bare.zeek
  src/analyzer/protocol/dns/DNS.cc
  src/analyzer/protocol/dns/DNS.h
Due: license

Pass correct address size
  src/analyzer/protocol/dns/DNS.cc
Due: license

fixup! [WIP] Export SvcParams as list of key/value pairs
  scripts/base/init-bare.zeek
  src/analyzer/protocol/dns/DNS.cc
Due: license

btest/core/suspend_processing: Add WebSocket example
  testing/btest/Baseline/core.suspend_processing.websocket/client..stdout
  testing/btest/Baseline/core.suspend_processing.websocket/worker..stdout
  testing/btest/Files/ws/wstest.py
  testing/btest/core/suspend_processing/websocket.zeek
Due: btest-command-commented

fixup! btest/core/suspend_processing: Add WebSocket example
  testing/btest/core/suspend_processing/websocket.zeek
Due: btest-command-commented

Merge remote-tracking branch 'origin/topic/bbannier/issue-3266'
  CHANGES
  VERSION
  testing/CMakeLists.txt
Due: none

Merge remote-tracking branch 'origin/topic/awelzel/4754-follow-up'
  CHANGES
  VERSION
  src/cluster/serializer/broker/Serializer.cc
Due: license

Update CHANGES, VERSION, and NEWS for 7.0.10
  CHANGES
  NEWS
  VERSION
Due: none

Update CHANGES, VERSION, and NEWS for v8.0.1
  CHANGES
  NEWS
  VERSION
Due: none

[WIP] Use proper types instead of string values
  scripts/base/init-bare.zeek
  src/analyzer/protocol/dns/DNS.cc
  src/analyzer/protocol/dns/DNS.h
Due: license

Fix ruff check legacy alias for pre-commit
  .pre-commit-config.yaml
Due: none

CI: Rework layout of when each task runs
  .cirrus.yml
Due: none

CI: Restore build steps for ubuntu22 task
  .cirrus.yml
Due: none

fixup! [WIP] Use proper types instead of string values
  scripts/base/init-bare.zeek
  src/analyzer/protocol/dns/DNS.cc
Due: license

fix port type, merge alpn and port cases again
  scripts/base/init-bare.zeek
  src/analyzer/protocol/dns/DNS.cc
  src/analyzer/protocol/dns/DNS.h
Due: license

drop the SvcParamValue indirection
  scripts/base/init-bare.zeek
  src/analyzer/protocol/dns/DNS.cc
  src/analyzer/protocol/dns/DNS.h
Due: license

sync tests again
  testing/btest/Baseline/scripts.base.protocols.dns.https/output
  testing/btest/Baseline/scripts.base.protocols.dns.svcb/output
Due: btest-command-commented

trimm/tweak comments, skip SvcParams in AliasMode
  scripts/base/init-bare.zeek
  src/analyzer/protocol/dns/DNS.cc
Due: license

split port and alpn cases, sort after key value
  src/analyzer/protocol/dns/DNS.cc
Due: license
