Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

license:
  name: Check for license headers
  entry: ./ci/license-header.py
  language: python

btest-command-commented:
  name: Check that all BTest command lines are commented out
  entry: ^\s*@TEST-
  language: pygrep

Use limit_reached_weird in a few instances
  scripts/base/protocols/http/main.zeek
  scripts/base/protocols/redis/main.zeek
  scripts/base/protocols/smtp/main.zeek
  scripts/base/protocols/ssl/main.zeek
  testing/btest/Baseline.zam/scripts.base.protocols.smtp.mail-transactions-invalid-disable-analyzer/weird.log
  testing/btest/Baseline/scripts.base.protocols.http.http-pending-state-growth/weird.log
  testing/btest/Baseline/scripts.base.protocols.redis.excessive-pipelining/weird.log
  testing/btest/Baseline/scripts.base.protocols.smtp.mail-transactions-invalid-disable-analyzer/weird.log
  testing/btest/Baseline/scripts.base.protocols.ssl.max-history-length/weird-max-history-length-3.log
  testing/btest/scripts/base/protocols/ssl/max-history-length.test
Due: btest-command-commented

Add a BIF to exercise Reporter::LimitReachedWeird() from scripts
  src/reporter.bif
  testing/btest/Baseline/core.reporter-limit-reached-weird/conn.log
  testing/btest/Baseline/core.reporter-limit-reached-weird/weird.log
  testing/btest/core/reporter-limit-reached-weird.zeek
Due: btest-command-commented

Move LimitReachedWeird() to Conn, delegate to it from Analyzer
  src/Conn.cc
  src/Conn.h
  src/analyzer/Analyzer.cc
Due: license

Rename HIST_UNKNOWN_PKT to HIST_ANALYZER_LIMIT_REACHED
  src/Conn.cc
  src/analyzer/protocol/dns/DNS.cc
  src/analyzer/protocol/ncp/NCP.cc
  src/analyzer/protocol/smb/smb1-protocol.pac
  src/analyzer/protocol/tcp/TCP_Endpoint.h
  src/packet_analysis/Analyzer.cc
  src/packet_analysis/protocol/ayiya/AYIYA.cc
  src/packet_analysis/protocol/geneve/Geneve.cc
  src/packet_analysis/protocol/teredo/Teredo.cc
  src/packet_analysis/protocol/udp/UDP.cc
  src/packet_analysis/protocol/vxlan/VXLAN.cc
  src/session/Session.h
Due: license

Fix environment variable usage in coverage upload
  CHANGES
  VERSION
  testing/coverage/lcov_html.sh
Due: none

Add a few additional entries to the 9.0 NEWS
  NEWS
Due: none

Start of v9.1.0 development
  NEWS
  VERSION
  testing/btest/scripts/site/local-compat.test
Due: btest-command-commented

Regenerate docs to include limit_reached_weird [nomail]
  doc/reference/zeekscript/autogenerated-protocol-analyzer-index.rst
  doc/scripts/base/bif/plugins/Zeek_HTTP.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_SMTP.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_SSL.events.bif.zeek.rst
  doc/scripts/base/bif/reporter.bif.zeek.rst
  doc/scripts/base/protocols/http/main.zeek.rst
  doc/scripts/base/protocols/redis/main.zeek.rst
  doc/scripts/base/protocols/redis/spicy-events.zeek.rst
  doc/scripts/base/protocols/smtp/main.zeek.rst
  doc/scripts/base/protocols/ssl/main.zeek.rst
Due: none

Updating CHANGES and VERSION.
  CHANGES
  VERSION
Due: none

Merge remote-tracking branch 'origin/topic/timw/circleci-remove-docker-date-naming'
  .circleci/builds.yml
  .circleci/generate-workflow-params.py
  CHANGES
  VERSION
Due: none

Make rapidjson a build-time dependency
  .github/workflows/generate-docs.yml
  .gitmodules
  CMakeLists.txt
  NEWS
  ci/alpine/Dockerfile
  ci/centos-stream-10/Dockerfile
  ci/centos-stream-9/Dockerfile
  ci/debian-12/Dockerfile
  ci/debian-13/Dockerfile
  ci/debian-unstable/Dockerfile
  ci/fedora-43/Dockerfile
  ci/fedora-44/Dockerfile
  ci/macos/prepare.sh
  ci/opensuse-leap-16.0/Dockerfile
  ci/opensuse-tumbleweed/Dockerfile
  ci/ubuntu-22.04/Dockerfile
  ci/ubuntu-24.04/Dockerfile
  ci/ubuntu-26.04/Dockerfile
  doc/building-from-source.rst
  docker/builder.Dockerfile
  src/Val.cc
  src/supervisor/Supervisor.cc
  src/telemetry/Manager.cc
  src/threading/formatters/JSON.cc
  vcpkg.json
Due: license

Val: Parse JSON with rapidjson::kParseFullPrecisionFlag
  src/Val.cc
Due: license

Update security-considerations.rst
  doc/security-considerations.rst
Due: none

Add support for offline builds with vendored dependencies
  CMakeLists.txt
  configure
  doc/building-from-source.rst
  tools/fetch-vendor.py
Due: none

Revert exclusion of doctest from tarballs
  Makefile
Due: none

Fix some Clang 23 transitive includes
  tools/bifcl/bif_arg.cc
  tools/gen-zam/Gen-ZAM.cc
Due: license

Merge remote-tracking branch 'origin/topic/timw/revert-deletion-of-doctest-from-tarballs'
  CHANGES
  Makefile
  VERSION
Due: none

Remove GitPython dependency from docs builds
  doc/conf.py
  doc/requirements.txt
Due: none

tools/systemd-generator: Ensure short hostname is used
  tools/systemd-generator/src/zeek-cluster-config.cc
Due: license

doc/deployment/systemd: Add a section about using PF_RING
  doc/advanced/deployment/systemd.rst
Due: none

Support &optional records in the Input Framework
  src/input/Manager.cc
  src/input/Manager.h
  testing/btest/Baseline/scripts.base.frameworks.input.errors/.stderr
  testing/btest/Baseline/scripts.base.frameworks.input.optional-2/out
  testing/btest/Baseline/scripts.base.frameworks.input.optional-2/zeek..stderr
  testing/btest/Baseline/scripts.base.frameworks.input.optional-3/out
  testing/btest/Baseline/scripts.base.frameworks.input.optional-3/zeek..stderr
  testing/btest/Baseline/scripts.base.frameworks.input.optional-4/out
  testing/btest/Baseline/scripts.base.frameworks.input.optional-4/zeek..stderr
  testing/btest/Baseline/scripts.base.frameworks.input.optional-5/out
  testing/btest/Baseline/scripts.base.frameworks.input.optional-5/zeek..stderr
  testing/btest/Baseline/scripts.base.frameworks.input.optional/zeek..stderr
  testing/btest/scripts/base/frameworks/input/optional.zeek
Due: license, btest-command-commented

zeekygen: Omit backticks from redefs
  src/ID.cc
  testing/btest/Baseline/doc.zeekygen.redefinitions/autogen-reST-redefs.rst
Due: license, btest-command-commented

zeromq: Fix docs console block
  scripts/policy/frameworks/cluster/backend/zeromq/options.zeek
Due: none

zeekygen: Preserve redef quotes in generated docs
  src/ID.cc
  testing/btest/Baseline/doc.zeekygen.redefinitions/autogen-reST-redefs.rst
  testing/btest/doc/zeekygen/redefinitions.zeek
Due: license, btest-command-commented

zeekygen: Drop attributes from set/table describe
  src/ID.cc
  testing/btest/Baseline/doc.zeekygen.redefinitions/autogen-reST-redefs.rst
  testing/btest/doc/zeekygen/redefinitions.zeek
Due: license, btest-command-commented

Merge remote-tracking branch 'origin/topic/awelzel/systemd-generator-short-hostname'
  CHANGES
  VERSION
  tools/systemd-generator/src/zeek-cluster-config.cc
Due: license

Merge remote-tracking branch 'origin/topic/awelzel/systemd-generator-pfring'
  CHANGES
  VERSION
  doc/advanced/deployment/systemd.rst
Due: none

zeekygen: Move identifier rst rendering out of ID
  src/ID.cc
  src/ID.h
  src/zeekygen/CMakeLists.txt
  src/zeekygen/IdentifierInfo.cc
  src/zeekygen/IdentifierReST.cc
  src/zeekygen/IdentifierReST.h
  src/zeekygen/ScriptInfo.cc
  testing/btest/Baseline/coverage.include-directory/..include-dir.out
Due: license, btest-command-commented

script_opt: Move non-virtual methods out of `Expr`
  src/Expr.h
  src/script_opt/Expr.cc
  src/script_opt/Expr.h
  src/script_opt/Stmt.cc
Due: license

script_opt: Drop unused params from `TransformMe`
  src/script_opt/Expr.cc
  src/script_opt/Expr.h
Due: license

script_opt: Move optimization helpers from `Expr`
  src/Expr.h
  src/script_opt/Expr.cc
Due: license

[WIP] Move some optimization queries out of `Expr`
  src/Expr.cc
  src/Expr.h
  src/script_opt/Expr.cc
  src/script_opt/Expr.h
  src/script_opt/Reduce.cc
  src/script_opt/Stmt.cc
Due: license

packet_analysis: introduce TunnelAnalyzer base class hierarchy
  src/packet_analysis/CMakeLists.txt
  src/packet_analysis/IPLayerTunnelAnalyzer.cc
  src/packet_analysis/IPLayerTunnelAnalyzer.h
  src/packet_analysis/SessionTunnelAnalyzer.cc
  src/packet_analysis/SessionTunnelAnalyzer.h
  src/packet_analysis/TunnelAnalyzer.cc
  src/packet_analysis/TunnelAnalyzer.h
Due: license

packet_analysis: migrate GRE to IPLayerTunnelAnalyzer, add ERSPAN analyzer
  scripts/base/packet-protocols/__load__.zeek
  scripts/base/packet-protocols/erspan/__load__.zeek
  scripts/base/packet-protocols/erspan/main.zeek
  scripts/base/packet-protocols/gre/main.zeek
  src/packet_analysis/protocol/CMakeLists.txt
  src/packet_analysis/protocol/erspan/CMakeLists.txt
  src/packet_analysis/protocol/erspan/ERSPAN.cc
  src/packet_analysis/protocol/erspan/ERSPAN.h
  src/packet_analysis/protocol/erspan/Plugin.cc
  src/packet_analysis/protocol/gre/GRE.cc
  src/packet_analysis/protocol/gre/GRE.h
Due: license

packet_analysis: remove IPTunnelAnalyzer
  scripts/base/packet-protocols/iptunnel/__load__.zeek
  scripts/base/packet-protocols/iptunnel/main.zeek
  src/packet_analysis/protocol/iptunnel/CMakeLists.txt
  src/packet_analysis/protocol/iptunnel/IPTunnel.cc
  src/packet_analysis/protocol/iptunnel/IPTunnel.h
  src/packet_analysis/protocol/iptunnel/Plugin.cc
Due: license

Path conditions:
  license: any of: \.(h|c|cpp|cc|spicy|evt)$, but not: ^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$
  btest-command-commented: any of: ^testing/btest/.*$
