Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

license:
  name: Check for license headers
  entry: ./ci/license-header.py
  language: python

btest-command-commented:
  name: Check that all BTest command lines are commented out
  entry: ^\s*@TEST-
  language: pygrep

xdp-shunt: Add source IP shunting
  src/xdp_shunt/bpf/UserXDP.cc
  src/xdp_shunt/bpf/UserXDP.h
  src/xdp_shunt/bpf/filter.c
  src/xdp_shunt/bpf/filter_common.h
  src/xdp_shunt/shunter.bif
Due: license

xdp-shunt: Switch to `vmlinux.h` to compile BPF
  src/xdp_shunt/bpf/filter.c
  src/xdp_shunt/bpf/filter_common.h
  src/xdp_shunt/bpf/vmlinux.h
Due: license

xdp-shunt: Add a knob to configure connection timeouts
  scripts/base/frameworks/xdp-shunt/xdp/shunt/conn_id/main.zeek
Due: none

xdp-shunt: Switch to `BPF_NOEXIST` when adding to map
  src/xdp_shunt/bpf/UserXDP.cc
Due: license

xdp-shunt: Start moving to libraries for XDP and BPF
  src/xdp_shunt/XDPProgram.h
  src/xdp_shunt/bpf/common_defines.h
  src/xdp_shunt/bpf/common_user_bpf_xdp.cc
  src/xdp_shunt/bpf/common_user_bpf_xdp.h
  src/xdp_shunt/bpf/filter.c
  src/xdp_shunt/bpf/filter_common.h
  src/xdp_shunt/bpf/xdp_pass.c
  src/xdp_shunt/common_user_bpf_xdp.c
  src/xdp_shunt/shunter.bif
Due: license

xdp-shunt: Add better errors
  src/xdp_shunt/bpf/UserXDP.cc
  src/xdp_shunt/bpf/UserXDP.h
  src/xdp_shunt/shunter.bif
Due: license

xdp-shunt: Add way to get the shunt statistics in scripts
  scripts/base/frameworks/xdp-shunt/types.zeek
  src/xdp_shunt/shunter.bif
Due: none

xdp-shunt: Add `undrop` to remove from the map
  src/xdp_shunt/bpf/UserXDP.cc
  src/xdp_shunt/bpf/UserXDP.h
  src/xdp_shunt/shunter.bif
Due: license

xdp-shunt: Make the BPF program check map twice
  src/xdp_shunt/bpf/filter.c
  src/xdp_shunt/bpf/filter_common.h
  src/xdp_shunt/shunter.bif
Due: license

xdp-shunt: Start making it actually do stuff
  src/xdp_shunt/XDPProgram.cc
  src/xdp_shunt/XDPProgram.h
  src/xdp_shunt/common_user_bpf_xdp.h
  src/xdp_shunt/shunter.bif
Due: license

xdp-shunt: Fix bad padding for conn_id key
  src/xdp_shunt/bpf/filter_common.h
Due: license

xdp-shunt: Fix some XDP program issues
  src/xdp_shunt/bpf/filter.c
Due: license

xdp-shunt: Add a way to force no VLANs
  scripts/base/frameworks/xdp-shunt/xdp/connect.zeek
  scripts/base/frameworks/xdp-shunt/xdp/main.zeek
  src/xdp_shunt/ShuntUtil.cc
  src/xdp_shunt/ShuntUtil.h
  src/xdp_shunt/shunter.bif
Due: license

xdp-shunt: Switch to a new `canonical_id` type
  scripts/base/frameworks/xdp-shunt/types.zeek
  scripts/base/frameworks/xdp-shunt/xdp/main.zeek
  scripts/base/frameworks/xdp-shunt/xdp/shunt/conn_id/main.zeek
  src/xdp_shunt/ShuntUtil.cc
  src/xdp_shunt/conn_id_shunter.bif
Due: license

xdp-shunt: Switch away from subnets, towards pairs
  src/xdp_shunt/bpf/UserXDP.cc
  src/xdp_shunt/bpf/UserXDP.h
  src/xdp_shunt/bpf/filter.c
  src/xdp_shunt/bpf/filter_common.h
  src/xdp_shunt/shunter.bif
Due: license

documenting ZAM's "predicate-op"
  src/script_opt/ZAM/OPs/README.txt
Due: none

switch ZAM profiling to directly track ZAM bodies rather than all of the functions
  src/script_opt/ScriptOpt.cc
Due: license

(very) minor tidying of ZAM built-in operation specifiers
  src/script_opt/ZAM/OPs/ZBI.op
Due: none

ZAM support for pattern tables in conditionals
  src/script_opt/Expr.cc
  src/script_opt/ZAM/OPs/non-uniform.op
  src/script_opt/ZAM/Stmt.cc
  testing/btest/Baseline/opt.regress-pat-table-cond/output
  testing/btest/opt/regress-pat-table-cond.zeek
Due: license, btest-command-commented

remove --enable-ZAM-profiling option and make it always available
  cmake_templates/zeek-config.h.in
  configure
  src/script_opt/ScriptOpt.cc
  src/script_opt/ZAM/ZBody.cc
Due: license

Fix clang-tidy warnings from recent merges
  src/spicy/manager.cc
  src/spicy/runtime-support.cc
  src/spicy/runtime-support.h
Due: license

Fix clang-tidy performance-prefer-single-char-overloads findings
  .clang-tidy
  src/DebugCmds.cc
  src/EventTrace.cc
  src/Expr.cc
  src/Reporter.cc
  src/SmithWaterman.cc
  src/Type.cc
  src/analyzer/protocol/irc/IRC.cc
  src/logging/writers/ascii/Ascii.cc
  src/logging/writers/sqlite/SQLite.cc
  src/script_opt/CPP/DeclFunc.cc
  src/script_opt/CPP/Driver.cc
  src/script_opt/CPP/Exprs.cc
  src/script_opt/CPP/Util.cc
  src/spicy/spicyz/config.h.in
  src/supervisor/Supervisor.cc
  src/threading/SerialTypes.cc
  src/util.cc
  src/zeekygen/PackageInfo.cc
  src/zeekygen/ReStructuredTextTable.cc
  src/zeekygen/ScriptInfo.cc
  tools/binpac/src/pac_expr.cc
Due: license

Fix clang-tidy performance-string-view-conversions findings
  .clang-tidy
  src/ZeekString.cc
  src/spicy/manager.h
  src/util.cc
Due: license

Fix clang-tidy modernize-use-structured-binding findings
  .clang-tidy
  src/Stmt.cc
  src/supervisor/Supervisor.cc
Due: license

Additional zero-inits to avoid -Werror=maybe-uninitialized confusions
  src/script_opt/ZAM/ZBody.cc
Due: license

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/scripts/base/protocols/ssl/main.zeek.rst
  doc/scripts/base/utils/active-http.zeek.rst
Due: none

Fix for ZAM ops on pattern tables
  src/script_opt/ZAM/OPs/non-uniform.op
Due: none

Expand opt.regress-pat-table-cond test to cover negative case
  testing/btest/opt/regress-pat-table-cond.zeek
Due: btest-command-commented

Merge remote-tracking branch 'origin/topic/awelzel/5301-fix-missing-procstat-freefiles'
  CHANGES
  VERSION
  src/telemetry/ProcessStats.cc
  testing/external/commit-hash.zeek-testing
Due: license

Merge remote-tracking branch 'origin/topic/vern/ZBI-add-analyzer'
  CHANGES
  VERSION
  src/script_opt/ZAM/BuiltIn.cc
Due: license

Merge remote-tracking branch 'origin/topic/awelzel/generic-cluster-started'
  CHANGES
  VERSION
  scripts/policy/frameworks/cluster/experimental.zeek
  scripts/policy/frameworks/cluster/nodes-experimental/manager.zeek
  testing/btest/Baseline/cluster.generic.cluster-started/logger.out
  testing/btest/Baseline/cluster.generic.cluster-started/manager.out
  testing/btest/Baseline/cluster.generic.cluster-started/proxy.out
  testing/btest/Baseline/cluster.generic.cluster-started/worker-1.out
  testing/btest/Baseline/cluster.generic.cluster-started/worker-2.out
  testing/btest/Baseline/plugins.publish-event-metadata/manager..stdout
  testing/btest/Baseline/plugins.publish-event-metadata/worker-1..stdout
  testing/btest/Baseline/scripts.policy.frameworks.cluster.cluster_started/manager..stdout
  testing/btest/cluster/generic/cluster-started.zeek
  testing/btest/plugins/publish-event-metadata-plugin/src/Plugin.cc
  testing/btest/scripts/policy/frameworks/cluster/cluster_started.zeek
Due: btest-command-commented

Merge remote-tracking branch 'origin/topic/awelzel/ssl-fix-confused-psk-handling'
  CHANGES
  VERSION
  src/analyzer/protocol/ssl/tls-handshake-analyzer.pac
  testing/btest/Baseline/scripts.base.protocols.ssl.psk/both.out
  testing/btest/Baseline/scripts.base.protocols.ssl.psk/client.out
  testing/btest/Baseline/scripts.base.protocols.ssl.psk/server.out
  testing/btest/scripts/base/protocols/ssl/psk.zeek
Due: btest-command-commented

Merge remote-tracking branch 'origin/topic/awelzel/postgresql-empty-parameter-status-value'
  CHANGES
  VERSION
  src/analyzer/protocol/postgresql/postgresql.spicy
  testing/btest/Baseline/scripts.base.protocols.postgresql.greenhouse-app/conn.log
  testing/btest/Baseline/scripts.base.protocols.postgresql.greenhouse-app/postgresql.log
  testing/btest/Traces/README
  testing/btest/Traces/postgresql/greenhouse-app.pcap
  testing/btest/scripts/base/protocols/postgresql/greenhouse-app.zeek
Due: license, btest-command-commented

Merge branch 'ssh-mlkem-fix' of https://github.com/OctaveCharrin/zeek
  CHANGES
  VERSION
  src/analyzer/protocol/ssh/ssh-protocol.pac
  testing/btest/Baseline/scripts.base.protocols.ssh.mlkem_kex/ssh.log
  testing/btest/Traces/ssh/ssh_kex_mlkem.pcap
  testing/btest/scripts/base/protocols/ssh/mlkem_kex.zeek
Due: btest-command-commented

Merge remote-tracking branch 'origin/topic/awelzel/5301-fix-missing-procstat-freefiles'
  CHANGES
  VERSION
  src/telemetry/ProcessStats.cc
Due: license

cluster/backend/zeromq: Set ipv6=F by default
  scripts/policy/frameworks/cluster/backend/zeromq/main.zeek
  testing/btest/cluster/zeromq/ipv6-error.zeek
  testing/btest/cluster/zeromq/ipv6-logging.zeek
Due: btest-command-commented

Preliminary NEWS changes for 8.0.7 [nomail] [skip ci]
  NEWS
Due: none

Preliminary NEWS changes for 8.1.2 [nomail] [skip ci]
  NEWS
Due: none

Path conditions:
  license: any of: \.(h|c|cpp|cc|spicy|evt)$, but not: ^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$
  btest-command-commented: any of: ^testing/btest/.*$
