Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*|doc/devel/spicy/autogen/.*.spicy'

btest/Traces: Use Scapy for new ldap generator scripts
  testing/btest/Traces/ldap/ldap-abandon.pcap
  testing/btest/Traces/ldap/ldap-abandon.pcap.py
  testing/btest/Traces/ldap/ldap-delete.pcap
  testing/btest/Traces/ldap/ldap-delete.pcap.py
Due: btest-command-commented

Use regular Dockerfile instead of shell-orchestrated build pipeline
  .circleci/builds.yml
  docker/Dockerfile
  docker/Makefile
  docker/builder.Dockerfile
Due: none

ldap: Fix DelRequest using implicit tagging
  src/analyzer/protocol/ldap/ldap.spicy
  testing/btest/Baseline/scripts.base.protocols.ldap.delete/conn.log
  testing/btest/Baseline/scripts.base.protocols.ldap.delete/ldap.log
  testing/btest/Baseline/scripts.base.protocols.ldap.delete/ldap_search.log
  testing/btest/Traces/ldap/ldap-delete.pcap
  testing/btest/Traces/ldap/ldap-delete.py
  testing/btest/scripts/base/protocols/ldap/delete.zeek
Due: license, btest-command-commented

btest/broker/remote_id: Remove Broker::PEER_UNAVAILABLE errors from stderr
  testing/btest/broker/remote_id.zeek
Due: btest-command-commented

vector: Fix OOB assignment leading to crash in VectorVal::Assign
  src/Val.cc
  src/Val.h
  src/script_opt/ZAM/ZBody.cc
  testing/btest/Baseline/language.vector-assign-oob/out
  testing/btest/language/vector-assign-oob.zeek
Due: license, btest-command-commented

ldap: Fix AbandonRequest using implicit tagging
  src/analyzer/protocol/ldap/ldap.spicy
  testing/btest/Baseline/scripts.base.protocols.ldap.abandon/conn.log
  testing/btest/Baseline/scripts.base.protocols.ldap.abandon/ldap.log
  testing/btest/Baseline/scripts.base.protocols.ldap.abandon/ldap_search.log
  testing/btest/Traces/ldap/ldap-abandon.pcap
  testing/btest/Traces/ldap/ldap-abandon.py
  testing/btest/scripts/base/protocols/ldap/abandon.zeek
Due: license, btest-command-commented

CCI: Move Windows out of PR builds
  .circleci/builds.yml
Due: none

CCI: Move libcpp and clang-tidy builds to nightly
  .circleci/builds.yml
Due: none

ldap: Add test for a missing SASL BindResponse
  testing/btest/Baseline/scripts.base.protocols.ldap.unidir-sasl-weird/analyzer.cut
  testing/btest/Baseline/scripts.base.protocols.ldap.unidir-sasl-weird/conn.log
  testing/btest/Baseline/scripts.base.protocols.ldap.unidir-sasl-weird/weird.log
  testing/btest/Traces/ldap/unidir-sasl-weird.pcap
  testing/btest/scripts/base/protocols/ldap/unidir-sasl-weird.zeek
Due: btest-command-commented

Fix null check for localtime_r and add newline
  src/logging/writers/ascii/Ascii.cc
Due: license

Fix LDAP SASL parsing for one-way captures
  src/analyzer/protocol/ldap/ldap.spicy
  testing/btest/Traces/README
  testing/btest/Traces/ldap/krb5-sign-seal-01-server-only.pcap
  testing/btest/scripts/base/protocols/ldap/sasl-unidirectional.zeek
Due: license, btest-command-commented

Recognize LDAP extended requests during DPD
  scripts/base/protocols/ldap/dpd.sig
  testing/btest/Traces/README
  testing/btest/Traces/ldap/ldap-extended-request-dpd.pcap
  testing/btest/scripts/base/protocols/ldap/dpd-extended-request.zeek
Due: btest-command-commented

tools/systemd-generator: Fix CPUAffinity using global worker index
  testing/btest/Baseline/tools.systemd-generator.test-multi-interface-cpulist/.stderr
  testing/btest/Baseline/tools.systemd-generator.test-multi-interface-cpulist/out
  testing/btest/Baseline/tools.systemd-generator.test-multi-interface/..dir1.zeek-worker-eth2@1.service.d.10-zeek-systemd-generator.conf
  testing/btest/Baseline/tools.systemd-generator.test-multi-interface/..dir1.zeek-worker-eth2@2.service.d.10-zeek-systemd-generator.conf
  testing/btest/Baseline/tools.systemd-generator.test-multi-interface/..dir1.zeek-worker-eth2@3.service.d.10-zeek-systemd-generator.conf
  testing/btest/tools/systemd-generator/test-multi-interface-cpulist.sh
  tools/systemd-generator/src/zeek-systemd-generator.cc
Due: license, btest-command-commented

mysql: Skip enqueueing mysql_auth_more_data() if not implemented
  src/analyzer/protocol/mysql/mysql-analyzer.pac
Due: none

ldap: Track pending SASL bind responses
  src/analyzer/protocol/ldap/ldap.evt
  src/analyzer/protocol/ldap/ldap.spicy
  src/analyzer/protocol/ldap/ldap_zeek.spicy
  testing/btest/Baseline/scripts.base.protocols.ldap.unidir-sasl-weird/analyzer.cut
  testing/btest/Baseline/scripts.base.protocols.ldap.unidir-sasl-weird/conn.log
  testing/btest/Baseline/scripts.base.protocols.ldap.unidir-sasl-weird/weird.log
  testing/btest/scripts/base/protocols/ldap/unidir-sasl-weird.zeek
Due: license, btest-command-commented

Add btest for basic profiler run verification
  testing/btest/scripts/policy/misc/profiling.zeek
Due: btest-command-commented

Avoid a crash in file cleanup when terminating Zeek via exit()
  src/File.cc
  src/RunState.cc
  src/RunState.h
  src/zeek-setup.cc
Due: license

ldap: Track pending SASL bind responses
  src/analyzer/protocol/ldap/ldap.spicy
  src/analyzer/protocol/ldap/ldap_zeek.spicy
  testing/btest/Baseline/scripts.base.protocols.ldap.unidir-sasl-weird/analyzer.cut
  testing/btest/Baseline/scripts.base.protocols.ldap.unidir-sasl-weird/conn.log
  testing/btest/Baseline/scripts.base.protocols.ldap.unidir-sasl-weird/weird.log
  testing/btest/scripts/base/protocols/ldap/unidir-sasl-weird.zeek
Due: license, btest-command-commented

btest/wstest: Extend receive timeout for TestClient.hello_v1() to 3 seconds
  testing/btest/Files/ws/wstest.py
Due: btest-command-commented

btest/cluster/websocket: Use ready file in manager-worker-ping-pong tests
  testing/btest/cluster/websocket/broker/manager-worker-ping-pong.zeek
  testing/btest/cluster/websocket/zeromq/manager-worker-ping-pong.zeek
Due: btest-command-commented

writers/acii: Fix clang-tidy repeated return type warning
  src/logging/writers/ascii/Ascii.cc
Due: license

Remove unused includes from `Dict.h`
  src/CompHash.cc
  src/Conn.cc
  src/Dict.h
  src/Expr.cc
  src/Func.cc
  src/RunState.cc
  src/Stats.cc
  src/cluster/PublishOnChangeState.cc
  src/cluster/websocket/WebSocket.cc
  src/file_analysis/File.cc
  src/logging/Manager.cc
  src/script_opt/ZAM/ZBody.cc
  src/spicy/manager.cc
  src/spicy/packet-analyzer.cc
  src/spicy/protocol-analyzer.cc
  src/spicy/runtime-support.cc
  src/spicy/runtime-support.h
  src/spicy/spicyz/glue-compiler.cc
Due: license

Sort output in input framework error test
  testing/btest/Baseline/scripts.base.frameworks.input.errors/out
  testing/btest/scripts/base/frameworks/input/errors.zeek
Due: btest-command-commented

Sort output in `dns_mgr` lookup tests
  testing/btest/Baseline/dns_mgr.blocking_lookup_hostname/out
  testing/btest/Baseline/dns_mgr.lookup_hostname/out
  testing/btest/Baseline/dns_mgr.lookup_hostname_cname/out
  testing/btest/dns_mgr/blocking_lookup_hostname.zeek
  testing/btest/dns_mgr/lookup_hostname.zeek
  testing/btest/dns_mgr/lookup_hostname_cname.zeek
Due: btest-command-commented

fixup! Replace `Dictionary` with `std::unordered_map` + `std::list`
  testing/btest/Baseline.zam/bifs.from_json-10/.stdout
  testing/btest/Baseline.zam/bifs.from_json/.stdout
  testing/btest/Baseline.zam/language.assert-5/out
  testing/btest/Baseline.zam/language.table-set-iterator-invalidation/out
  testing/btest/Baseline.zam/plugins.logging-hooks/ssh.log
  testing/btest/Baseline.zam/scripts.base.frameworks.logging.ascii-gz/ssh-uncompressed.log
  testing/btest/Baseline.zam/scripts.base.frameworks.logging.ascii-gz/ssh.log
  testing/btest/Baseline.zam/scripts.base.frameworks.logging.ascii-json/ssh.log
  testing/btest/Baseline.zam/scripts.base.frameworks.logging.sqlite.simultaneous-writes/ssh.select
  testing/btest/Baseline.zam/scripts.base.frameworks.logging.sqlite.types/ssh.select
  testing/btest/Baseline.zam/scripts.base.frameworks.logging.types/ssh.log
  testing/btest/Baseline.zam/scripts.policy.misc.dump-events-json/all-events.json
  testing/btest/Baseline.zam/scripts.policy.misc.dump-events-json/really-all-events.json
  testing/btest/Baseline.zam/scripts.policy.misc.dump-events-json/smtp-events.json
  testing/btest/Baseline.zam/scripts.policy.misc.dump-events/all-events.log
  testing/btest/Baseline.zam/scripts.policy.misc.dump-events/really-all-events.log
  testing/btest/Baseline.zam/scripts.policy.misc.dump-events/smtp-events.log
Due: btest-command-commented

fixup! fixup! Replace `Dictionary` with `std::unordered_map` + `std::list`
  testing/btest/Baseline.zam/scripts.policy.misc.dump-events-json/really-all-events.json
  testing/btest/Baseline.zam/scripts.policy.misc.dump-events/really-all-events.log
Due: btest-command-commented

Sort `order_` lazily for unordered dictionaries
  src/Dict.h
Due: license

fixup! Remove unused includes from `Dict.h`
  src/input/Manager.cc
Due: license

Fix missing size check for TunnelEncapsulation connections
  src/TunnelEncapsulation.h
Due: license

LDAP: test StartTLS detection on a non-standard port
  testing/btest/Baseline/scripts.base.protocols.ldap.dpd-starttls/conn.log
  testing/btest/Baseline/scripts.base.protocols.ldap.dpd-starttls/ldap.log
  testing/btest/Traces/README
  testing/btest/Traces/ldap/starttls-off-port.pcap
  testing/btest/scripts/base/protocols/ldap/dpd-starttls.zeek
Due: btest-command-commented

LDAP: detect search and extended requests without a prior Bind
  scripts/base/protocols/ldap/dpd.sig
  testing/btest/Baseline/scripts.base.protocols.ldap.dpd-starttls/conn.log
  testing/btest/Baseline/scripts.base.protocols.ldap.dpd-starttls/ldap.log
Due: btest-command-commented

LDAP: detect more request operations over TCP
  scripts/base/protocols/ldap/dpd.sig
Due: none

Merge remote-tracking branch 'origin/topic/timw/circleci-move-some-builds'
  .circleci/builds.yml
  CHANGES
  VERSION
Due: none

Merge remote-tracking branch 'origin/topic/awelzel/5795-ldap-del-abandon-fix'
  CHANGES
  VERSION
  src/analyzer/protocol/ldap/ldap.spicy
  testing/btest/Baseline/scripts.base.protocols.ldap.abandon/conn.log
  testing/btest/Baseline/scripts.base.protocols.ldap.abandon/ldap.log
  testing/btest/Baseline/scripts.base.protocols.ldap.abandon/ldap_search.log
  testing/btest/Baseline/scripts.base.protocols.ldap.delete/conn.log
  testing/btest/Baseline/scripts.base.protocols.ldap.delete/ldap.log
  testing/btest/Baseline/scripts.base.protocols.ldap.delete/ldap_search.log
  testing/btest/Traces/ldap/ldap-abandon.pcap
  testing/btest/Traces/ldap/ldap-abandon.pcap.py
  testing/btest/Traces/ldap/ldap-delete.pcap
  testing/btest/Traces/ldap/ldap-delete.pcap.py
  testing/btest/scripts/base/protocols/ldap/abandon.zeek
  testing/btest/scripts/base/protocols/ldap/delete.zeek
Due: license, btest-command-commented

Merge remote-tracking branch 'origin/topic/awelzel/timer-fix-lag-time-metric'
  CHANGES
  VERSION
  src/Timer.cc
Due: license

Merge branch 'topic/asharma/netcontrol-rule-error-arity' of https://github.com/initconf/zeek
  CHANGES
  VERSION
  scripts/base/frameworks/netcontrol/cluster.zeek
  testing/btest/Baseline/scripts.base.frameworks.netcontrol.rule-error-cluster/worker-1..stdout
  testing/btest/scripts/base/frameworks/netcontrol/rule-error-cluster.zeek
Due: btest-command-commented

Merge branch 'patch-1' of https://github.com/BoxStrikesTeam/zeek
  CHANGES
  VERSION
  src/logging/writers/ascii/Ascii.cc
Due: license
