Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*|doc/devel/spicy/autogen/.*.spicy'

Restructure grab-bag into advanced scripting
  doc/advanced/grab-bag/index.rst
  doc/advanced/index.rst
  doc/advanced/scripting/conn-id-ctx.rst
  doc/advanced/scripting/conn_id_ctx_my_endpoint.zeek
  doc/advanced/scripting/index.rst
  doc/advanced/scripting/optimization.rst
  doc/advanced/scripting/usage.rst
  doc/tutorial/invoking-zeek.rst
Due: none

Turn "About Zeek" into a chapter and add monitoring to it
  doc/about.rst
  doc/about/architecture.rst
  doc/about/history.rst
  doc/about/index.rst
  doc/about/monitoring.rst
  doc/about/what.rst
  doc/about/why.rst
  doc/index.rst
Due: none

Remove existing uses of the "Zeekscript" moniker
  doc/tutorial/scripting/basics.rst
  doc/tutorial/scripting/index.rst
Due: none

Move BifEnum to zeek namespace to match other bif namespaces
  NEWS
  src/iosource/Packet.cc
  src/packet_analysis/protocol/gtpv1/gtpv1-analyzer.pac
  tools/bifcl/builtin-func.y
Due: license

Remove install/caching of pre-commit in docs generation workflow
  .github/workflows/generate-docs.yml
Due: none

Add better documentation for prefix anonymization
  src/zeek.bif
  testing/btest/Baseline/bifs.anonymize_addr-2/.stdout
  testing/btest/bifs/anonymize_addr.zeek
Due: btest-command-commented

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/scripts/base/bif/zeek.bif.zeek.rst
Due: none

Bump auxil/spicy to latest development snapshot
  src/spicy/runtime-support.h
  testing/btest/spicy/has-analyzer.spicy
Due: license, btest-command-commented

Add analyzer for handling NAT-PMP and PCP
  scripts/base/init-default.zeek
  scripts/base/protocols/nat-mapping/__load__.zeek
  scripts/base/protocols/nat-mapping/main.zeek
  src/analyzer/protocol/CMakeLists.txt
  src/analyzer/protocol/nat-mapping/CMakeLists.txt
  src/analyzer/protocol/nat-mapping/natmapping.evt
  src/analyzer/protocol/nat-mapping/natmapping.spicy
  src/analyzer/protocol/nat-mapping/natpmp.spicy
  src/analyzer/protocol/nat-mapping/pcp.spicy
Due: license

fix for -O gen-standalone-C++ tracking lambdas instantiated during initialization
  src/Expr.cc
  src/script_opt/CPP/GenFunc.cc
  src/script_opt/ScriptOpt.cc
  src/script_opt/ScriptOpt.h
Due: license

fix for -O gen-standalone-C++ initializations of patterns
  src/script_opt/CPP/InitsInfo.cc
  src/script_opt/CPP/InitsInfo.h
  src/script_opt/CPP/RuntimeInits.cc
Due: license

Contributor update in NEWS
  CHANGES
  NEWS
  VERSION
Due: none

fix for global initializations when compiling to standalone C++
  src/Var.cc
  src/script_opt/CPP/InitsInfo.cc
  src/script_opt/CPP/Vars.cc
  src/script_opt/CPP/Vars.h
Due: license

Avoid ABI-breaking use of `DEBUG`
  src/DebugLogger.cc
  src/DebugLogger.h
  src/Dict.h
  src/ID.cc
  src/ID.h
  src/Val.cc
  src/Val.h
  src/threading/MsgThread.cc
  src/threading/MsgThread.h
Due: license

Add CLAUDE.md for AI-assisted development guidance
  CLAUDE.md
Due: none

Merge remote-tracking branch 'origin/topic/awelzel/deprecate-broker-store-and-backend-attrs'
  scripts/base/files/x509/main.zeek
  src/Attr.cc
  testing/btest/broker/store/brokerstore-backend-error.zeek
  testing/btest/broker/store/brokerstore-backend-invalid.zeek
  testing/btest/broker/store/brokerstore-backend-sqlite-incompatible.zeek
  testing/btest/broker/store/brokerstore-backend-sqlite-wal-mode.zeek
  testing/btest/broker/store/create-global-failure.zeek
Due: license, btest-command-commented

Merge remote-tracking branch 'origin/topic/awelzel/x509-deprecate-broker-store-dedup'
  scripts/base/files/x509/main.zeek
  testing/btest/Baseline/scripts.base.files.x509.log-caching-cluster-zeromq/manager.x509.log
  testing/btest/scripts/base/files/x509/log-caching-cluster-zeromq.test
Due: btest-command-commented

Merge remote-tracking branch 'origin/topic/awelzel/backend-broker-store-and-non-broker-error'
  src/Attr.cc
  src/cluster/Manager.cc
  src/cluster/Manager.h
  src/zeek-setup.cc
  testing/btest/Baseline/cluster.generic.table-errors/broker.err
  testing/btest/Baseline/cluster.generic.table-errors/zeromq.err
  testing/btest/cluster/generic/table-errors.zeek
Due: license, btest-command-commented

Fixups for not having CLUSTER_BACKEND_NONE
  scripts/test-all-policy.zeek
  src/cluster/Manager.cc
  src/zeek-setup.cc
  testing/btest/Baseline/coverage.bare-mode-errors/errors
  testing/btest/cluster/generic/table-errors.zeek
Due: license, btest-command-commented

Update Spicy integration for new struct field optimization.
  src/spicy/spicyz/driver.cc
  src/spicy/spicyz/driver.h
  src/spicy/spicyz/glue-compiler.cc
  src/spicy/spicyz/glue-compiler.h
  testing/btest/Baseline/spicy.event-user-type/output
  testing/btest/btest.cfg
  testing/btest/spicy/event-user-type
  testing/btest/spicy/type-converter.zeek
Due: license, btest-command-commented

Deprecate Broker store entry APIs
  scripts/base/frameworks/broker/store.zeek
  scripts/base/frameworks/cluster/__load__.zeek
  scripts/base/frameworks/cluster/broker-stores.zeek
  scripts/base/frameworks/cluster/main.zeek
  src/broker/store.bif
  src/cluster/Manager.cc
  src/cluster/Manager.h
  src/zeek-setup.cc
  testing/btest/Baseline/coverage.bare-mode-errors/errors
  testing/btest/broker/store/brokerstore-backend-sqlite-wal-mode.zeek
  testing/btest/broker/store/create-failure.zeek
  testing/btest/broker/store/create-global-failure.zeek
Due: license, btest-command-commented

policy/known-*: Deprecate store usage
  scripts/policy/protocols/conn/known-hosts.zeek
  scripts/policy/protocols/conn/known-services.zeek
  scripts/policy/protocols/ssl/known-certs.zeek
Due: none

Use \u00xx escaping for all non-UTF8 bytes in JSON logs
  doc/log-formats.rst
  src/threading/formatters/JSON.cc
  src/util.cc
  src/util.h
  testing/btest/Baseline/scripts.base.frameworks.logging.ascii-json-utf8/ssh.log
  testing/btest/Baseline/scripts.base.frameworks.logging.json-non-printable-escaping-2/escape.log
  testing/btest/scripts/base/frameworks/logging/json-non-printable-escaping-2.zeek
Due: license, btest-command-commented

fixup! Use \u00xx escaping for all non-UTF8 bytes in JSON logs
  doc/log-formats.rst
Due: none

fixup! fixup! Use \u00xx escaping for all non-UTF8 bytes in JSON logs
  src/util.cc
Due: license

fixup! Deprecate Broker store entry APIs
  scripts/base/frameworks/broker/store.zeek
  scripts/base/frameworks/cluster/broker-stores.zeek
  scripts/base/frameworks/cluster/main.zeek
  testing/btest/Baseline/coverage.bare-mode-errors/errors
Due: btest-command-commented

analyzer/detect-protocols: Honor analyzer_failed()
  scripts/policy/frameworks/analyzer/detect-protocols.zeek
  testing/btest/Baseline/scripts.policy.frameworks.analyzer.detect-protocols-violation-ssl-to-http/conn.log
  testing/btest/Baseline/scripts.policy.frameworks.analyzer.detect-protocols-violation-ssl-to-http/http.log
  testing/btest/Baseline/scripts.policy.frameworks.analyzer.detect-protocols-violation-ssl-to-http/ssl.log
  testing/btest/Baseline/scripts.policy.frameworks.analyzer.detect-protocols-violation/conn.log
  testing/btest/Baseline/scripts.policy.frameworks.analyzer.detect-protocols-violation/http.log
  testing/btest/Baseline/scripts.policy.frameworks.analyzer.detect-protocols/conn.log
  testing/btest/Baseline/scripts.policy.frameworks.analyzer.detect-protocols/notice.log
  testing/btest/Traces/README
  testing/btest/Traces/http/get-to-ssh-server.pcap
  testing/btest/Traces/tls/ssl-to-http-server.pcap
  testing/btest/scripts/policy/frameworks/analyzer/detect-protocols-violation-ssl-to-http.zeek
  testing/btest/scripts/policy/frameworks/analyzer/detect-protocols-violation.zeek
  testing/btest/scripts/policy/frameworks/analyzer/detect-protocols.zeek
  testing/external/commit-hash.zeek-testing
  testing/external/commit-hash.zeek-testing-private
Due: btest-command-commented

Skip some tests on Windows that hang indefinitely
  testing/btest/Baseline/cluster.websocket.listen-idempotent/.stderr
  testing/btest/Baseline/language.assert-hook/.stderr
  testing/btest/Baseline/language.assert-hook/out
  testing/btest/Baseline/language.expire-expr-error/.stderr
  testing/btest/bifs/clear_table_expire_func.zeek
  testing/btest/broker/error.zeek
  testing/btest/broker/store/brokerstore-attr-persistence-clone.zeek
  testing/btest/broker/store/sqlite.zeek
  testing/btest/cluster/websocket/listen-idempotent.zeek
  testing/btest/core/dict-iteration-expire1.zeek
  testing/btest/core/fake_dns.zeek
  testing/btest/core/file-analyzer-violation.zeek
  testing/btest/core/network-time.zeek
  testing/btest/core/network_time/set-network-time.zeek
  testing/btest/core/recursive-event.zeek
  testing/btest/coverage/test-all-policy-cluster.test
  testing/btest/language/assert-hook.zeek
  testing/btest/language/expire-expr-error.zeek
  testing/btest/language/expire-redef.zeek
  testing/btest/language/expire_func_mod.zeek
  testing/btest/language/more-closure-tests.zeek
  testing/btest/language/when-on-globals.zeek
  testing/btest/scripts/base/frameworks/file-analysis/logging-input-analysis.zeek
  testing/btest/scripts/base/frameworks/input/empty-nested-record.zeek
  testing/btest/scripts/base/frameworks/input/errors.zeek
  testing/btest/scripts/base/frameworks/input/raw/rereadraw2.zeek
  testing/btest/scripts/base/frameworks/notice/file-info-no-conns.zeek
  testing/btest/scripts/base/frameworks/storage/sqlite-basic-reading-pcap.zeek
  testing/btest/scripts/base/frameworks/storage/sqlite-basic-sync-in-when.zeek
  testing/btest/scripts/base/frameworks/storage/sqlite-basic.zeek
  testing/btest/scripts/base/frameworks/storage/sqlite-expiration.zeek
  testing/btest/scripts/base/frameworks/sumstats/on-demand.zeek
  testing/btest/scripts/policy/frameworks/intel/seen/smtp-cluster.zeek
  testing/scripts/is-windows
Due: btest-command-commented

Add note about running btests on Windows
  testing/btest/README
Due: btest-command-commented

Disable an additional btest on Windows
  testing/btest/core/network_time/set-network-time-expiration.zeek
Due: btest-command-commented

devel/websocket-api: Fix anchor
  doc/devel/websocket-api.rst
Due: none

doc/devel/cluster: WebSocket API and rewrite a bit more
  doc/cluster-setup.rst
  doc/devel/cluster/architectures.rst
  doc/devel/cluster/backend/zeromq.rst
  doc/images/cluster/misc/README
  doc/images/cluster/misc/server-1313181674.svg
  doc/images/cluster/misc/xxv-Dell-1U-Server.svg
  doc/images/cluster/single-system-one-nic.svg
  doc/images/cluster/single-system-two-nics.svg
  doc/images/cluster/single-system-websocket.svg
  doc/images/cluster/three-systems-independent-one-nic.svg
  doc/images/cluster/three-systems-one-nic.svg
Due: none

doc: Move ZeroMQ notes into devel/cluster/backend
  doc/devel/cluster/backend/zeromq.rst
  doc/devel/index.rst
  doc/images/cluster/backend/zeromq/Makefile
  doc/images/cluster/backend/zeromq/README.md
  doc/images/cluster/backend/zeromq/zeromq-cluster.mermaid
  doc/images/cluster/backend/zeromq/zeromq-cluster.png
  doc/images/cluster/backend/zeromq/zeromq-logging.mermaid
  doc/images/cluster/backend/zeromq/zeromq-logging.png
  doc/images/cluster/backend/zeromq/zeromq-pubsub.mermaid
  doc/images/cluster/backend/zeromq/zeromq-pubsub.png
Due: none

doc/devel/cluster: Work in review feedback
  doc/devel/cluster/architectures.rst
  doc/images/cluster/single-system-one-nic.svg
  doc/images/cluster/single-system-prometheus.svg
  doc/images/cluster/single-system-two-nics.svg
  doc/images/cluster/single-system-websocket.svg
  doc/images/cluster/three-systems-independent-one-nic.svg
  doc/images/cluster/three-systems-one-nic.svg
Due: none

doc/devel/cluster: Prometheus diagram and polish a bit
  doc/devel/cluster/architectures.rst
  doc/images/cluster/misc/Prometheus_software_logo.svg.png
  doc/images/cluster/misc/README
  doc/images/cluster/single-system-prometheus.svg
Due: none

doc/devel/cluster: Add some architecture diagrams
  doc/devel/cluster/architectures.rst
  doc/devel/index.rst
  doc/images/cluster/misc/README
  doc/images/cluster/misc/nic-behind.svg
  doc/images/cluster/single-system-one-nic.svg
  doc/images/cluster/single-system-two-nics.svg
  doc/images/cluster/three-systems-independent-one-nic.svg
  doc/images/cluster/three-systems-one-nic.svg
Due: none

Fix ZAM CI btest failure from previous Windows changes
  testing/btest/Baseline.zam/language.assert-hook/.stderr
  testing/btest/Baseline.zam/language.assert-hook/out
Due: btest-command-commented
