Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*'

init-bare: Default to CLUSTER_BACKEND_NONE
  scripts/base/init-bare.zeek
Due: none

cluster: Introduce pubsub.zeek and types.zeek
  scripts/base/frameworks/cluster/__load__.zeek
  scripts/base/frameworks/cluster/main.zeek
  scripts/base/frameworks/cluster/pubsub.zeek
  scripts/base/frameworks/cluster/types.zeek
  testing/btest/Baseline/coverage.bare-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.default-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/plugins.hooks/output
Due: btest-command-commented

cluster: Move Broker connect logic into policy package
  scripts/base/frameworks/cluster/main.zeek
  scripts/base/frameworks/cluster/setup-connections.zeek
  scripts/policy/frameworks/cluster/backend/broker/__load__.zeek
  scripts/policy/frameworks/cluster/backend/broker/main.zeek
  scripts/test-all-policy.zeek
Due: none

btest: Use Broker for Broker specific tests
  testing/btest/Files/broker/cluster-layout.zeek
  testing/btest/cluster/generic/cluster-publish-errors.zeek
  testing/btest/cluster/websocket/terminate-while-queuing.zeek
  testing/btest/core/suspend_processing/websocket.zeek
  testing/btest/plugins/publish-event-hook.zeek
  testing/btest/scripts/base/frameworks/control/configuration_update.zeek
  testing/btest/scripts/base/frameworks/control/id_value.zeek
  testing/btest/scripts/base/frameworks/control/shutdown.zeek
  testing/btest/scripts/base/frameworks/logging/length-checking.zeek
  testing/btest/scripts/policy/frameworks/cluster/cluster_started_restart_manager.zeek
  testing/btest/scripts/policy/frameworks/cluster/cluster_started_restart_worker.zeek
  testing/btest/scripts/policy/frameworks/telemetry/prometheus.zeek
  testing/btest/supervisor/config-cluster.zeek
Due: btest-command-commented

cluster: Move more Broker specific scripts to policy/
  scripts/base/frameworks/cluster/__load__.zeek
  scripts/policy/frameworks/cluster/backend/broker/__load__.zeek
  scripts/policy/frameworks/cluster/backend/broker/backpressure.zeek
  scripts/policy/frameworks/cluster/backend/broker/telemetry.zeek
  scripts/test-all-policy.zeek
  testing/btest/Baseline/coverage.init-default/missing_loads
Due: btest-command-commented

btest/broker/remote_event_ts_compat: Replace 15 second sleep with wait-for-file
  testing/btest/broker/remote_event_ts_compat.zeek
Due: btest-command-commented

btest/broker: Fix logging tests
  testing/btest/broker/remote_log.zeek
  testing/btest/broker/remote_log_batch.zeek
  testing/btest/broker/remote_log_late_join.zeek
  testing/btest/broker/remote_log_types.zeek
Due: btest-command-commented

cluster: Add None backend
  src/cluster/backend/CMakeLists.txt
  src/cluster/backend/none/CMakeLists.txt
  src/cluster/backend/none/Plugin.cc
Due: license

cluster: Rename setup-connections to setup-subscriptions
  scripts/base/frameworks/cluster/__load__.zeek
  scripts/base/frameworks/cluster/pools.zeek
  scripts/base/frameworks/cluster/setup-connections.zeek
  scripts/base/frameworks/cluster/setup-subscriptions.zeek
  testing/btest/Baseline/coverage.bare-mode-errors/errors
  testing/btest/Baseline/coverage.init-default/missing_loads
Due: btest-command-commented

btest/broker: Remove get_broker_stats() print
  testing/btest/Baseline/broker.remote_event/recv.recv.out
  testing/btest/Baseline/broker.remote_event_any/recv.recv.out
  testing/btest/Baseline/broker.remote_event_ssl_auth/recv.recv.out
  testing/btest/broker/remote_event.zeek
  testing/btest/broker/remote_event_any.zeek
  testing/btest/broker/remote_event_ssl_auth.zeek
Due: btest-command-commented

fix for -O gen-standalone-C++ initializing locals that have attributes
  src/script_opt/CPP/Stmts.cc
Due: license

fix for filename_matches_opt_files()
  src/script_opt/ScriptOpt.cc
Due: license

only profile BiFs that appear in calls we care about
  src/script_opt/ProfileFunc.cc
  src/script_opt/ProfileFunc.h
Due: license

fix for standalone-C++ enum additions enable those in later script loads
  src/Type.cc
Due: license

fix for initializing BiFs in standalone C++
  src/script_opt/CPP/Inits.cc
Due: license

Add a couple of dummy builds for testing
  ci/alpine/config.star
  ci/centos-stream-10/config.star
Due: none

Copy .cirrus.yml to backup and replace with blank file
  .cirrus.yml
  .old-cirrus.yml
Due: none

Lay a foundation for Cirrus builds based on Starlark
  .cirrus.star
Due: none

TEMP: Comment out Zeek secrets while working on fork
  ci/starlark/common-zeek.star
Due: none

Use the common Zeek helpers to implement an Alpine build
  .cirrus.star
  ci/alpine/config.star
  ci/alpine/zeek.star
Due: none

Flesh out the common bits for Zeek builds
  ci/starlark/common-zeek.star
  ci/starlark/common.star
Due: none

Remove zeek-3rdparty submodule
  .gitmodules
Due: none

src/3rdparty: Add doctest header
  src/3rdparty/doctest.h
Due: license

src/3rdparty: Rebase patricia.{h,c} on upstream version
  src/3rdparty/patricia.c
  src/3rdparty/patricia.h
Due: license

src/3rdparty: Update ConvertUTF Unicode license as per request from LLVM upstream
  src/3rdparty/ConvertUTF.c
  src/3rdparty/ConvertUTF.h
Due: license

src/3rdparty: Fix GCC 12.2 warning in access to patricia_t members
  src/3rdparty/patricia.c
Due: license

src/3rdparty: Rework inet-ntop change to build on Windows
  src/3rdparty/zeek_inet_ntop.c
Due: license

src/3rdparty: modp: Disable deprecation warning for sprintf
  src/3rdparty/modp_numtoa.c
Due: license

src/3rdparty: numeric conversion functions now return the number of characters added
  src/3rdparty/modp_numtoa.c
  src/3rdparty/modp_numtoa.h
Due: license

src/3rdparty: Add 3rdparty files from Zeek's `src/`
  src/3rdparty/ConvertUTF.c
  src/3rdparty/ConvertUTF.h
  src/3rdparty/bsd-getopt-long.c
  src/3rdparty/bsd-getopt-long.h
  src/3rdparty/in_cksum.cc
  src/3rdparty/modp_numtoa.c
  src/3rdparty/modp_numtoa.h
  src/3rdparty/patricia.c
  src/3rdparty/patricia.h
  src/3rdparty/setsignal.c
  src/3rdparty/setsignal.h
  src/3rdparty/strsep.c
Due: license

src/3rdparty: Use snprintf in patricia.cc to silence macOS compiler warnings
  src/3rdparty/patricia.c
Due: license

src/3rdparty: Use snprintf in zeek_inet_ntop.c to silence macOS compiler warnings
  src/3rdparty/zeek_inet_ntop.c
Due: license

src/3rdparty: Add missing externs in bsd-getopt-long.h
  src/3rdparty/bsd-getopt-long.h
Due: license

src/3rdparty: Deprecate bro_inet_ntop.{c,h}
  src/3rdparty/zeek_inet_ntop.c
  src/3rdparty/zeek_inet_ntop.h
Due: license

src/3rdparty: Fix rampant off-by-one error in last change
  src/3rdparty/modp_numtoa.c
Due: license
