Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

license:
  name: Check for license headers
  entry: ./ci/license-header.py
  language: python

btest-command-commented:
  name: Check that all BTest command lines are commented out
  entry: ^\s*@TEST-
  language: pygrep

Fix potential segfault in malformed opaque vals
  src/OpaqueVal.cc
  src/Type.cc
Due: license

Ensure tunnel changes are counted in all cases
  scripts/base/init-bare.zeek
  src/Conn.cc
  testing/btest/Baseline/core.tunnels.count-default-tunnel-changes/conn.log
  testing/btest/Baseline/core.tunnels.count-default-tunnel-changes/output
  testing/btest/Baseline/core.tunnels.count-default-tunnel-changes/tunnel.log
  testing/btest/Baseline/core.tunnels.gtp.different_dl_and_ul/conn.log
  testing/btest/Baseline/core.tunnels.vxlan/conn.log
  testing/btest/Traces/README
  testing/btest/Traces/tunnels/tunnel-direct-bypass.pcap
  testing/btest/Traces/tunnels/tunnel-direct-bypass.pcap.py
  testing/btest/core/tunnels/count-default-tunnel-changes.zeek
Due: license, btest-command-commented

SMB: Add checks/weird for a maximum depth of AndX recursion
  scripts/base/init-bare.zeek
  src/analyzer/protocol/smb/smb1-com-locking-andx.pac
  src/analyzer/protocol/smb/smb1-com-logoff-andx.pac
  src/analyzer/protocol/smb/smb1-com-nt-create-andx.pac
  src/analyzer/protocol/smb/smb1-com-read-andx.pac
  src/analyzer/protocol/smb/smb1-com-session-setup-andx.pac
  src/analyzer/protocol/smb/smb1-com-tree-connect-andx.pac
  src/analyzer/protocol/smb/smb1-com-write-andx.pac
  src/analyzer/protocol/smb/smb1-protocol.pac
  src/const.bif
  testing/btest/Baseline/scripts.base.protocols.smb.smb1-long-andx-chain/weird.log
  testing/btest/Traces/smb/smb1-logoff-andx-advance.pcap
  testing/btest/Traces/smb/smb1-logoff-andx-advance.pcap.py
  testing/btest/scripts/base/protocols/smb/smb1-long-andx-chain.zeek
Due: btest-command-commented

dhcp: Factor log writing from expiration function
  scripts/base/protocols/dhcp/main.zeek
Due: none

Check for valid IRC hosts/ports when processing IRC DCC packets
  src/analyzer/protocol/irc/IRC.cc
  testing/btest/Baseline/scripts.base.protocols.irc.malformed-dcc/combined.weird.log
  testing/btest/Baseline/scripts.base.protocols.irc.malformed-dcc/weird.log
  testing/btest/Traces/irc-dcc-send-malformed-host.pcap
  testing/btest/Traces/irc-dcc-send-malformed-host.pcap.py
  testing/btest/Traces/irc-dcc-send-malformed-port.pcap
  testing/btest/Traces/irc-dcc-send-malformed-port.pcap.py
  testing/btest/scripts/base/protocols/irc/malformed-dcc.zeek
Due: license, btest-command-commented

OCSP: Empty byName responder ID crashes Zeek
  src/file_analysis/analyzer/x509/OCSP.cc
  testing/btest/Baseline/scripts.base.protocols.ssl.ocsp-empty-responderid/.stdout
  testing/btest/Traces/tls/ocsp-empty-responderid.pcap
  testing/btest/Traces/tls/ocsp-empty-responderid.pcap.py
  testing/btest/scripts/base/protocols/ssl/ocsp-empty-responderid.test
Due: license, btest-command-commented

Reduce code duplication for the SMB AndX changes
  src/analyzer/protocol/smb/smb1-com-locking-andx.pac
  src/analyzer/protocol/smb/smb1-com-logoff-andx.pac
  src/analyzer/protocol/smb/smb1-com-nt-create-andx.pac
  src/analyzer/protocol/smb/smb1-com-read-andx.pac
  src/analyzer/protocol/smb/smb1-com-session-setup-andx.pac
  src/analyzer/protocol/smb/smb1-com-tree-connect-andx.pac
  src/analyzer/protocol/smb/smb1-com-write-andx.pac
  src/analyzer/protocol/smb/smb1-protocol.pac
Due: none

udp: Fix OOB read when using `udp_contents`
  src/packet_analysis/protocol/udp/UDP.cc
  testing/btest/Baseline/core.udp-contents-buffer-len/output
  testing/btest/Traces/udp-contents-truncated-oob.pcap
  testing/btest/Traces/udp-contents-truncated-oob.pcap.py
  testing/btest/core/udp-contents-buffer-len.zeek
Due: license, btest-command-commented

analyzer: Do not reschedule equivalent analyzers
  src/analyzer/Manager.cc
  src/analyzer/Manager.h
Due: license

ldap: Cap pending searches and messages
  scripts/base/protocols/ldap/main.zeek
  testing/btest/Baseline/scripts.base.protocols.ldap.pending-messages-exceeded/conn.log
  testing/btest/Baseline/scripts.base.protocols.ldap.pending-messages-exceeded/ldap.log
  testing/btest/Baseline/scripts.base.protocols.ldap.pending-messages-exceeded/weird.log
  testing/btest/Baseline/scripts.base.protocols.ldap.pending-searches-exceeded/conn.log
  testing/btest/Baseline/scripts.base.protocols.ldap.pending-searches-exceeded/ldap_search.log
  testing/btest/Baseline/scripts.base.protocols.ldap.pending-searches-exceeded/weird.log
  testing/btest/Traces/ldap/pending-adds-10.pcap
  testing/btest/Traces/ldap/pending-adds-n.pcap.py
  testing/btest/Traces/ldap/pending-searches-10.pcap
  testing/btest/Traces/ldap/pending-searches-n.pcap.py
  testing/btest/scripts/base/protocols/ldap/pending-messages-exceeded.zeek
  testing/btest/scripts/base/protocols/ldap/pending-searches-exceeded.zeek
Due: btest-command-commented

netbios: Add test for split body
  testing/btest/Baseline/scripts.base.protocols.netbios.split-session-msg/out
  testing/btest/Traces/netbios/netbios-split-session-msg.pcap
  testing/btest/Traces/netbios/netbios-split-session-msg.pcap.py
  testing/btest/scripts/base/protocols/netbios/split-session-msg.zeek
Due: btest-command-commented

Fill a dummy name in for Telnet AUTH if missing
  src/analyzer/protocol/login/NVT.cc
  testing/btest/Baseline/scripts.base.protocols.login.telnet-missing-auth-name/out
  testing/btest/Traces/telnet-auth-missing-name.pcap
  testing/btest/Traces/telnet-auth-missing-name.pcap.py
  testing/btest/scripts/base/protocols/login/telnet-missing-auth-name.zeek
Due: license, btest-command-commented

netbios: Add weird for truncated netbios body
  src/analyzer/protocol/netbios/NetbiosSSN.cc
  testing/btest/Baseline/scripts.base.protocols.netbios.truncated-session-msg/weird.log
  testing/btest/Traces/netbios/netbios-truncated-session-msg.pcap
  testing/btest/Traces/netbios/netbios-truncated-session-msg.pcap.py
  testing/btest/scripts/base/protocols/netbios/truncated-session-msg.zeek
Due: license, btest-command-commented

Add const to control maximum packet analyzer chain depth
  scripts/base/packet-protocols/main.zeek
  src/packet_analysis/Analyzer.cc
  src/packet_analysis/CMakeLists.txt
  src/packet_analysis/Manager.h
  src/packet_analysis/consts.bif
  testing/btest/Baseline/core.max-packet-analyzer-depth/weird.log
  testing/btest/Baseline/coverage.bare-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.default-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/plugins.hooks/output
  testing/btest/Traces/pbb-recursive-frames.pcapng
  testing/btest/Traces/pbb-recursive-frames.pcapng.py
  testing/btest/core/max-packet-analyzer-depth.zeek
Due: license, btest-command-commented

smb: Honor `skip` in dce-rpc named-pipe delivery
  src/analyzer/protocol/smb/smb-pipe.pac
  testing/btest/Baseline/scripts.base.protocols.smb.named-pipe-fragment/weird.log
  testing/btest/Traces/smb/fragment-state-exhaustion.pcap
  testing/btest/Traces/smb/fragment-state-exhaustion.pcap.py
  testing/btest/scripts/base/protocols/smb/named-pipe-fragment.zeek
Due: btest-command-commented

SIP: Add checks/weirds for excessive request/response path lengths
  scripts/base/protocols/sip/main.zeek
  testing/btest/Baseline/scripts.base.protocols.sip.path-length-limits/output
  testing/btest/Baseline/scripts.base.protocols.sip.path-length-limits/weird.log
  testing/btest/Traces/sip/sip-long-request-response-paths.pcap
  testing/btest/Traces/sip/sip-long-request-response-paths.pcap.py
  testing/btest/scripts/base/protocols/sip/path-length-limits.zeek
Due: btest-command-commented

redis: Cap total RESP aggregates
  scripts/base/protocols/redis/main.zeek
  src/analyzer/protocol/redis/resp.spicy
  testing/btest/Baseline/scripts.base.protocols.redis.element-object-exhaustion/analyzer_debug.log
  testing/btest/Traces/redis/array-element-object-exhaustion.pcap
  testing/btest/Traces/redis/array-element-object-exhaustion.pcap.py
  testing/btest/scripts/base/protocols/redis/element-object-exhaustion.zeek
Due: license, btest-command-commented

ssh: Cap name lists in KEXINIT packets to configurable limits
  scripts/base/init-bare.zeek
  src/analyzer/protocol/ssh/consts.bif
  src/analyzer/protocol/ssh/ssh-analyzer.pac
  src/analyzer/protocol/ssh/ssh-protocol.pac
  testing/btest/Baseline/scripts.base.protocols.ssh.max-kexinit-algorithms/conn.log
  testing/btest/Baseline/scripts.base.protocols.ssh.max-kexinit-algorithms/weird.log
  testing/btest/Traces/ssh/kex-quadratic-1000.pcap.gz
  testing/btest/Traces/ssh/kex-quadratic-1000.pcap.py
  testing/btest/scripts/base/protocols/ssh/max-kexinit-algorithms.zeek
Due: btest-command-commented

Add limits to various SMTP address set lengths
  scripts/base/protocols/smtp/main.zeek
  testing/btest/Baseline/scripts.base.protocols.smtp.address-limits/output
  testing/btest/Baseline/scripts.base.protocols.smtp.address-limits/weird.log
  testing/btest/Traces/README
  testing/btest/Traces/smtp/generate_smtp_pcap.py
  testing/btest/Traces/smtp/smtp-many-addresses.pcap.gz
  testing/btest/scripts/base/protocols/smtp/address-limits.zeek
Due: btest-command-commented

netbios: Fix eager allocation from protocol data
  src/analyzer/protocol/netbios/NetbiosSSN.cc
Due: license

Remove temporary IP fragment if header size is invalid
  src/packet_analysis/protocol/ip/IP.cc
  testing/btest/Baseline/core.ipv6-reassembly-state-leak/output
  testing/btest/Baseline/core.ipv6-reassembly-state-leak/weird.log
  testing/btest/Traces/ipv6-reassembly-state-leak.pcap
  testing/btest/Traces/ipv6-reassembly-state-leak.pcap.py
  testing/btest/core/ipv6-reassembly-state-leak.zeek
Due: license, btest-command-commented

Update zeek-testing-private commit hash
  testing/external/commit-hash.zeek-testing-private
Due: none

ssh: Avoid O(n^2) by placing server algs into set for lookup
  scripts/base/protocols/ssh/main.zeek
  src/analyzer/protocol/ssh/ssh-protocol.pac
Due: none

dhcp: Clear options after bad-cookie violation
  src/analyzer/protocol/dhcp/dhcp-analyzer.pac
  testing/btest/Baseline/scripts.base.protocols.dhcp.bad-cookie-clears-options/out
  testing/btest/Traces/dhcp/dhcp_bad_cookie_option_retention.pcap
  testing/btest/Traces/dhcp/dhcp_bad_cookie_option_retention.pcap.py
  testing/btest/scripts/base/protocols/dhcp/bad-cookie-clears-options.zeek
Due: btest-command-commented

Skip creating a record object for DNP3 g70v1 record fields
  src/analyzer/protocol/dnp3/dnp3-objects.pac
Due: none

ftp: Cap ftp_data_expected via new FTP::max_expected_data_channels
  scripts/base/protocols/ftp/main.zeek
  testing/btest/Baseline/scripts.policy.protocols.ftp.expected-data-channel-cap/output
  testing/btest/Baseline/scripts.policy.protocols.ftp.expected-data-channel-cap/weird.log
  testing/btest/Traces/ftp/ftp-many-port-expected.pcap.gz
  testing/btest/Traces/ftp/ftp-many-port-expected.pcap.py
  testing/btest/scripts/policy/protocols/ftp/expected-data-channel-cap.zeek
Due: btest-command-commented

dhcp: Cap size of DHCP::join_data to DHCP::max_tracked_transactions
  scripts/base/protocols/dhcp/main.zeek
  testing/btest/Baseline/scripts.base.protocols.dhcp.dhcp-max-tracked-transactions/dhcp.log
  testing/btest/Baseline/scripts.base.protocols.dhcp.dhcp-max-tracked-transactions/out
  testing/btest/Baseline/scripts.base.protocols.dhcp.dhcp-max-tracked-transactions/weird.log
  testing/btest/Traces/dhcp/dhcp-unique-xid-join-data-growth.pcapng
  testing/btest/Traces/dhcp/dhcp-unique-xid-join-data-growth.pcapng.py
  testing/btest/scripts/base/protocols/dhcp/dhcp-max-tracked-transactions.zeek
Due: btest-command-commented

Regenerate docs for 8.0.10 release [nomail]
  doc/script-reference/autogenerated-file-analyzer-index.rst
  doc/script-reference/autogenerated-protocol-analyzer-index.rst
  doc/script-reference/autogenerated-script-index.rst
  doc/scripts/base/bif/__load__.zeek.rst
  doc/scripts/base/bif/consts.bif.zeek.rst
  doc/scripts/base/bif/event.bif.zeek.rst
  doc/scripts/base/bif/index.rst
  doc/scripts/base/bif/plugins/Zeek_DHCP.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_File.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_IRC.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_SIP.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_SMTP.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_SSH.events.bif.zeek.rst
  doc/scripts/base/init-bare.zeek.rst
  doc/scripts/base/packet-protocols/main.zeek.rst
  doc/scripts/base/protocols/dhcp/main.zeek.rst
  doc/scripts/base/protocols/ftp/main.zeek.rst
  doc/scripts/base/protocols/irc/dcc-send.zeek.rst
  doc/scripts/base/protocols/ldap/main.zeek.rst
  doc/scripts/base/protocols/ldap/spicy-events.zeek.rst
  doc/scripts/base/protocols/redis/main.zeek.rst
  doc/scripts/base/protocols/redis/spicy-events.zeek.rst
  doc/scripts/base/protocols/sip/main.zeek.rst
  doc/scripts/base/protocols/smtp/main.zeek.rst
  doc/scripts/base/protocols/ssh/main.zeek.rst
Due: none

nvt: Fix heap buffer overflow for NVT length limit
  src/analyzer/protocol/login/NVT.cc
  testing/btest/Baseline/scripts.base.protocols.login.nvt-contentline-length/conn-buffer-overflow.log
  testing/btest/Baseline/scripts.base.protocols.login.nvt-contentline-length/conn-long.log
  testing/btest/Baseline/scripts.base.protocols.login.nvt-contentline-length/weird-buffer-overflow.log
  testing/btest/Baseline/scripts.base.protocols.login.nvt-contentline-length/weird-long.log
  testing/btest/Traces/contentline/nvt-line-limit-crlf-heap-buffer-overflow.pcap.gz
  testing/btest/Traces/contentline/nvt-line-limit-crlf-heap-buffer-overflow.pcap.py
  testing/btest/scripts/base/protocols/login/nvt-contentline-length.zeek
Due: license, btest-command-commented

SMB: Add checks/weird for non-advancing AndX offsets
  src/analyzer/protocol/smb/smb1-com-locking-andx.pac
  src/analyzer/protocol/smb/smb1-com-logoff-andx.pac
  src/analyzer/protocol/smb/smb1-com-nt-create-andx.pac
  src/analyzer/protocol/smb/smb1-com-read-andx.pac
  src/analyzer/protocol/smb/smb1-com-session-setup-andx.pac
  src/analyzer/protocol/smb/smb1-com-tree-connect-andx.pac
  src/analyzer/protocol/smb/smb1-com-write-andx.pac
  src/analyzer/protocol/smb/smb1-protocol.pac
  testing/btest/Baseline/scripts.base.protocols.smb.smb1-non-advancing-andx-offset/weird.log
  testing/btest/Traces/smb/smb1-logoff-andx-no-advance.pcap
  testing/btest/Traces/smb/smb1-logoff-andx-no-advance.pcap.py
  testing/btest/scripts/base/protocols/smb/smb1-non-advancing-andx-offset.zeek
Due: btest-command-commented

Check for valid command field when processing IRC DCC commands
  scripts/base/protocols/irc/dcc-send.zeek
  testing/btest/Baseline/scripts.base.protocols.irc.dcc-first-command/err
  testing/btest/Traces/irc-dcc-first-command.pcap
  testing/btest/Traces/irc-dcc-first-command.pcap.py
  testing/btest/scripts/base/protocols/irc/dcc-first-command.zeek
Due: btest-command-commented

Set l2_src/l2_dst fields for inner tunnel packet to empty
  src/packet_analysis/protocol/iptunnel/IPTunnel.cc
  testing/btest/Baseline/core.tunnels.geneve-arp/conn.log
  testing/btest/Baseline/core.tunnels.geneve-arp/out
  testing/btest/Traces/tunnels/geneve-arp.pcap
  testing/btest/Traces/tunnels/geneve-arp.pcap.py
  testing/btest/core/tunnels/geneve-arp.zeek
Due: license, btest-command-commented

Add const to control the maximum number of pending IRC dcc send commands
  scripts/base/protocols/irc/dcc-send.zeek
  testing/btest/Baseline/scripts.base.protocols.irc.max-dcc-send-expected/weird.log
  testing/btest/Traces/irc-dcc-state-growth.pcap.py
  testing/btest/Traces/irc-dcc-state-growth.pcapng
  testing/btest/scripts/base/protocols/irc/max-dcc-send-expected.zeek
Due: btest-command-commented

Path conditions:
  license: any of: \.(h|c|cpp|cc|spicy|evt)$, but not: ^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$
  btest-command-commented: any of: ^testing/btest/.*$
