Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*|doc/devel/spicy/autogen/.*.spicy'

github/workflows/check: Skip check.yml workflow for docs only changes
  .github/workflows/check.yml
Due: none

Reformat list of enabled/disabled checks in CMakeLists.txt
  CMakeLists.txt
Due: none

Enable UBSan 'builtin' and 'pointer-overflow' checks
  CMakeLists.txt
Due: none

doc/devel/cluster: Replace singe/multi node terminology with host
  doc/advanced/devel/cluster/architectures.rst
Due: none

CCI: Fix issues with building from tags
  .circleci/config.yml
Due: none

Updating CHANGES and VERSION.
  CHANGES
Due: none

telemetry/services.json: Render IPv6 addresses as URI string
  src/telemetry/Manager.cc
  testing/btest/Baseline/scripts.policy.frameworks.telemetry.prometheus-ipv6/manager.services.out
  testing/btest/scripts/policy/frameworks/telemetry/prometheus-ipv6.zeek
Due: license, btest-command-commented

CI: Use newer ubuntu-24.04 image and clang-22
  .circleci/builds.yml
  .github/workflows/check.yml
Due: none

CI: Install clang-22 in ubuntu-24.04 Dockerfile
  ci/ubuntu-24.04/Dockerfile
Due: none

Fix additional warning from clang-tidy-22
  src/threading/SerialTypes.cc
Due: license

CCI: Update date for debian-12 image
  .circleci/builds.yml
  ci/debian-12/Dockerfile
Due: none

testing/btest: Add test for mDNS transaction ID cross-contamination
  testing/btest/Baseline/scripts.base.protocols.dns.mdns-no-assoc/dns.log
  testing/btest/Traces/dns/mdns-no-assoc.pcap
  testing/btest/scripts/base/protocols/dns/mdns-no-assoc.zeek
Due: btest-command-commented

DNS: Skip query/response association for multicast destinations
  scripts/base/protocols/dns/main.zeek
  testing/btest/Baseline/opt.basic/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.mdns-no-assoc/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.notify/dns.log
  testing/btest/Traces/dns/dns_notify2.pcap
Due: btest-command-commented

NEWS: Add entry for multicast DNS query/response association change
  NEWS
Due: none

Use templated version of std::min vs casting arguments
  src/analyzer/protocol/dns/DNS.cc
  src/analyzer/protocol/gnutella/Gnutella.cc
  src/analyzer/protocol/rpc/NFS.cc
  src/analyzer/protocol/rpc/RPC.cc
  src/analyzer/protocol/tcp/ContentLine.cc
  src/input/readers/raw/Raw.cc
  src/packet_analysis/Manager.cc
  src/packet_analysis/protocol/icmp/ICMP.cc
  src/packet_analysis/protocol/ip/IP.cc
Due: license

Bump zeek-testing-private
  testing/external/commit-hash.zeek-testing-private
Due: none

Bump zeek-testing
  testing/external/commit-hash.zeek-testing
Due: none

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/reference/zeekscript/autogenerated-protocol-analyzer-index.rst
  doc/scripts/base/bif/plugins/Zeek_DNS.events.bif.zeek.rst
  doc/scripts/base/protocols/dns/main.zeek.rst
Due: none

PublishOnChange: Allow arbitrary expressions for &publish_on_change
  doc/reference/zeekscript/attributes.rst
  src/cluster/PublishOnChangeState.cc
  src/parse.y
  testing/btest/Baseline/cluster.publish-on-change.errors-10/.stderr
  testing/btest/Baseline/cluster.publish-on-change.errors-11/.stderr
  testing/btest/Baseline/cluster.publish-on-change.errors-12/.stderr
  testing/btest/Baseline/cluster.publish-on-change.errors-2/.stderr
  testing/btest/Baseline/cluster.publish-on-change.errors-3/.stderr
  testing/btest/Baseline/cluster.publish-on-change.errors-4/.stderr
  testing/btest/Baseline/cluster.publish-on-change.errors-5/.stderr
  testing/btest/Baseline/cluster.publish-on-change.errors-7/.stderr
  testing/btest/Baseline/cluster.publish-on-change.errors-8/.stderr
  testing/btest/Baseline/cluster.publish-on-change.errors-9/.stderr
  testing/btest/Baseline/cluster.publish-on-change.errors/.stderr
  testing/btest/Baseline/cluster.publish-on-change.usage-2/.stderr
  testing/btest/Baseline/cluster.publish-on-change.usage-3/.stderr
  testing/btest/Baseline/cluster.publish-on-change.usage-4/.stderr
  testing/btest/Baseline/cluster.publish-on-change.usage-5/.stderr
  testing/btest/Baseline/cluster.publish-on-change.usage-6/.stderr
  testing/btest/Baseline/cluster.publish-on-change.usage/.stderr
  testing/btest/cluster/publish-on-change/errors.zeek
  testing/btest/cluster/publish-on-change/usage.zeek
Due: license, btest-command-commented

btest/coverage: Add btest for installation include dir
  testing/btest/Baseline/coverage.include-directory/..include-dir.out
  testing/btest/coverage/include-directory.test
Due: btest-command-commented

src/CMakeLists: Replace header installation with file(GLOB_RECURSE)
  src/CMakeLists.txt
  testing/btest/Baseline/coverage.include-directory/..include-dir.out
  testing/btest/coverage/include-directory.test
Due: btest-command-commented

CCI: Fix relative ccache dir used in OSX
  .circleci/builds.yml
Due: none

doc/devel/cluster: Use Evan's proposal in the note
  doc/advanced/devel/cluster/architectures.rst
Due: none

Bump auxil/spicy to latest development snapshot
  src/spicy/spicyz/glue-compiler.cc
Due: license

Drop support for Spicy before v1.14
  src/spicy/spicyz/glue-compiler.cc
Due: license

Bump zeek-packet-source-udp to v0.1.1
  doc/.typos.toml
Due: none

CCI: Only prune and upload ccache once all tasks are done
  .circleci/builds.yml
Due: none

CCI: Enable C++ compilation caching for Spicy artifacts
  .circleci/builds.yml
Due: none

CCI: Store the build artifact as part of the ubuntu-24.04 job
  .circleci/builds.yml
Due: none

CCI: Enable benchmarking for the usual tasks
  .circleci/builds.yml
Due: none

CCI: Adapt ci/benchmark.sh to work with CircleCI
  ci/benchmark.sh
Due: none

Install a newer NodeJS manually when building Docker images
  docker/builder.Dockerfile
Due: none

Bump zeek-packet-source-udp to v0.2.0
  doc/.typos.toml
  doc/scripts/base/bif/plugins/Zeek_PacketSourceUDP.packet_source_udp.bif.zeek.rst
  doc/scripts/builtin-plugins/Zeek_PacketSourceUDP/__load__.zeek.rst
  testing/btest/Baseline/misc.udp/out
Due: btest-command-commented

fixup! Install a newer NodeJS manually when building Docker images
  docker/builder.Dockerfile
Due: none

Add bugprone-signed-bitwise suppressions involving third-party constants
  src/DNS_Mgr.cc
  src/Expr.cc
  src/Pipe.cc
  src/analyzer/protocol/dns/DNS.cc
  src/analyzer/protocol/login/NVT.cc
  src/cluster/backend/zeromq/ZeroMQ.cc
  src/script_opt/CPP/RuntimeVec.cc
  src/storage/backend/redis/Redis.cc
Due: license
