Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*|doc/devel/spicy/autogen/.*.spicy'

Add bugprone-signed-bitwise suppressions in generated binpac/gen-zam code
  tools/binpac/src/pac_main.cc
  tools/gen-zam/Gen-ZAM.cc
Due: license

fixup! Add bugprone-signed-bitwise suppressions involving third-party constants
  src/DNS_Mgr.cc
Due: license

fixup! Add bugprone-signed-bitwise suppressions in generated binpac/gen-zam code
  src/script_opt/CPP/RuntimeVec.cc
Due: license

CI: Disable tsan builds temporarily
  .circleci/builds.yml
  .github/workflows/check.yml
Due: none

Add postgres storage plugin
  CMakeLists.txt
  ci/ubuntu-24.04/Dockerfile
  scripts/policy/frameworks/storage/backend/postgresql/__load__.zeek
  scripts/policy/frameworks/storage/backend/postgresql/main.zeek
  scripts/test-all-policy.zeek
  src/storage/backend/CMakeLists.txt
  src/storage/backend/postgresql/CMakeLists.txt
  src/storage/backend/postgresql/Plugin.cc
  src/storage/backend/postgresql/PostgreSQL.cc
  src/storage/backend/postgresql/PostgreSQL.h
  testing/btest/Baseline/scripts.base.frameworks.storage.postgresql.async-reading-pcap/out
  testing/btest/Baseline/scripts.base.frameworks.storage.postgresql.async/out
  testing/btest/Baseline/scripts.base.frameworks.storage.postgresql.auth/out
  testing/btest/Baseline/scripts.base.frameworks.storage.postgresql.basic/.stderr
  testing/btest/Baseline/scripts.base.frameworks.storage.postgresql.basic/out
  testing/btest/Baseline/scripts.base.frameworks.storage.postgresql.cluster/worker-1..stdout
  testing/btest/Baseline/scripts.base.frameworks.storage.postgresql.cluster/worker-2..stdout
  testing/btest/Baseline/scripts.base.frameworks.storage.postgresql.disconnect/out
  testing/btest/Baseline/scripts.base.frameworks.storage.postgresql.erase/out
  testing/btest/Baseline/scripts.base.frameworks.storage.postgresql.error-handling/.stderr
  testing/btest/Baseline/scripts.base.frameworks.storage.postgresql.error-handling/out
  testing/btest/Baseline/scripts.base.frameworks.storage.postgresql.expiration/out
  testing/btest/Baseline/scripts.base.frameworks.storage.postgresql.forced-sync/out
  testing/btest/Baseline/scripts.base.frameworks.storage.postgresql.sync/out
  testing/btest/scripts/base/frameworks/storage/postgresql/async-reading-pcap.zeek
  testing/btest/scripts/base/frameworks/storage/postgresql/async.zeek
  testing/btest/scripts/base/frameworks/storage/postgresql/auth.zeek
  testing/btest/scripts/base/frameworks/storage/postgresql/basic.zeek
  testing/btest/scripts/base/frameworks/storage/postgresql/cluster.zeek
  testing/btest/scripts/base/frameworks/storage/postgresql/disconnect.zeek
  testing/btest/scripts/base/frameworks/storage/postgresql/erase.zeek
  testing/btest/scripts/base/frameworks/storage/postgresql/error-handling.zeek
  testing/btest/scripts/base/frameworks/storage/postgresql/expiration.zeek
  testing/btest/scripts/base/frameworks/storage/postgresql/forced-sync.zeek
  testing/btest/scripts/base/frameworks/storage/postgresql/sync.zeek
  testing/scripts/have-postgresql
  testing/scripts/run-postgresql-server
Due: license, btest-command-commented

Add analyzer for handling NAT-PMP and PCP
  scripts/base/init-default.zeek
  scripts/base/protocols/nat-mapping/__load__.zeek
  scripts/base/protocols/nat-mapping/main.zeek
  scripts/base/protocols/nat-mapping/spicy-events.zeek
  src/analyzer/protocol/CMakeLists.txt
  src/analyzer/protocol/nat-mapping/CMakeLists.txt
  src/analyzer/protocol/nat-mapping/natmapping.evt
  src/analyzer/protocol/nat-mapping/natmapping.spicy
  src/analyzer/protocol/nat-mapping/natpmp.spicy
  src/analyzer/protocol/nat-mapping/pcp.spicy
  testing/btest/Traces/nat/natpmp-success.pcapng
Due: license, btest-command-commented

adding nonce and tests
  scripts/base/protocols/nat-mapping/main.zeek
  scripts/base/protocols/nat-mapping/spicy-events.zeek
  src/analyzer/protocol/nat-mapping/natmapping.spicy
  src/analyzer/protocol/nat-mapping/pcp.spicy
  testing/btest/Traces/nat/pcp-basic.pcapng
  testing/btest/Traces/nat/pcp-error.pcapng
  testing/btest/Traces/nat/pcp-peer.pcapng
  testing/btest/scripts/base/protocols/nat-mapping/pcp-basic.zeek
Due: license, btest-command-commented

add value conversion functions that return C++ native types
  src/val-convert.cc
  src/val-convert.h
Due: license

extend bifcl to generate C++-native versions of BiFs as well as script-callable shims
  tools/bifcl/bif_arg.cc
  tools/bifcl/builtin-func.l
  tools/bifcl/builtin-func.y
  tools/bifcl/include/bif_arg.h
  tools/bifcl/include/bif_type.def
Due: license

Add NEWS entry for bifcl's new shim/native-code feature
  NEWS
Due: none

remove unnecessary (and in some cases deterimental) std::move's from BiF returns
  src/reporter.bif
  src/spicy/spicy.bif
  src/stats.bif
  src/strings.bif
  src/supervisor/supervisor.bif
  src/zeek.bif
Due: none

fixed up some comments and removed a couple of vestigial definitions
  src/val-convert.h
  tools/bifcl/bif_arg.cc
  tools/bifcl/builtin-func.y
Due: license

Support &optional records in the Input Framework
  src/input/Manager.cc
  src/input/Manager.h
Due: license

fix scripts.base.frameworks.input.errors btest
  src/input/Manager.cc
  testing/btest/Baseline/scripts.base.frameworks.input.errors/.stderr
  testing/btest/Baseline/scripts.base.frameworks.input.errors/out
Due: license, btest-command-commented

Added TCP Support for Syslog
  scripts/base/protocols/syslog/main.zeek
  src/analyzer/protocol/syslog/CMakeLists.txt
  src/analyzer/protocol/syslog/syslog-tcp.spicy
  src/analyzer/protocol/syslog/syslog.evt
  testing/btest/Baseline/core.print-bpf-filters/output2
  testing/btest/Baseline/scripts.base.protocols.syslog.tcp-framing/syslog.log
  testing/btest/Traces/tcp-syslog.pcap
  testing/btest/scripts/base/protocols/syslog/tcp-framing.test
Due: license, btest-command-commented

CI: Fix coverage script to remove Cirrus checks
  testing/coverage/lcov_html.sh
Due: none

CI: Switch CIRRUS_CI to ZEEK_CI in collect-repo-info script
  ci/collect-repo-info.py
Due: none

Remove zeek-testing-cluster commit-hash file
  testing/external/commit-hash.zeek-testing-cluster
Due: none

Add btest covering the Python bytecode file signatures
  testing/btest/Baseline/scripts.base.frameworks.file-analysis.file-magic.python/output
  testing/btest/scripts/base/frameworks/file-analysis/file-magic/python.zeek
Due: btest-command-commented

add support for trailing pattern flags in Input Framework
  src/input/Manager.cc
  src/threading/SerialTypes.cc
  src/threading/SerialTypes.h
  src/threading/formatters/Ascii.cc
  testing/btest/Baseline/scripts.base.frameworks.input.pattern-flags/.stderr
  testing/btest/scripts/base/frameworks/input/pattern-flags.zeek
Due: license, btest-command-commented

Fix Windows breakage caused by recent bifcl changes
  tools/bifcl/include/bif_arg.h
Due: license

docs: add log-permissions guidance to Security Considerations
  doc/security-considerations.rst
Due: none

Clarify Zeek’s passive operation, non‑inline enforcement, and IDS/IPS correlation
  doc/about/what.rst
Due: none

CCI: Make build-image jobs context dependent
  .circleci/builds.yml
Due: none

Integrated TCP Syslog into existing Syslog module
  src/analyzer/protocol/syslog/CMakeLists.txt
  src/analyzer/protocol/syslog/syslog-tcp.spicy
  src/analyzer/protocol/syslog/syslog.evt
  src/analyzer/protocol/syslog/syslog.spicy
  testing/btest/Baseline/scripts.base.protocols.syslog.tcp-framing-nontransparent/conn.log
  testing/btest/Baseline/scripts.base.protocols.syslog.tcp-framing-nontransparent/syslog.log
  testing/btest/Baseline/scripts.base.protocols.syslog.tcp-framing/conn.log
  testing/btest/Traces/tcp-syslog-nontransparent.pcap
  testing/btest/Traces/tcp-syslog.pcap
  testing/btest/scripts/base/protocols/syslog/tcp-framing-nontransparent.test
Due: license, btest-command-commented

NFA: Drop the static closuremap
  src/NFA.cc
Due: license

IntSet: Drop Clear() method
  src/IntSet.h
Due: license

Revert "CI: Temporarily disable cloning zeek-testing-private repo"
  .circleci/builds.yml
  ci/init-external-repos.sh
Due: none

Update zeek-testing commit hash to last merge commit
  testing/external/commit-hash.zeek-testing
Due: none

Add `X` to conn history when exceeding limits
  src/analyzer/protocol/dns/DNS.cc
  src/analyzer/protocol/ftp/FTP.cc
  src/analyzer/protocol/mime/MIME.cc
  src/analyzer/protocol/ncp/NCP.cc
  testing/btest/Baseline/scripts.base.protocols.ftp.ftp-max-command-length/conn.log
  testing/btest/Baseline/scripts.base.protocols.http.deeply-nested-mime/conn.log
  testing/btest/Baseline/scripts.base.protocols.ncp.frame_size_tuning/conn.log
  testing/btest/Baseline/scripts.base.protocols.ncp.frame_size_tuning/weird.log
  testing/btest/scripts/base/protocols/http/deeply-nested-mime.zeek
  testing/btest/scripts/base/protocols/ncp/frame_size_tuning.zeek
  testing/btest/scripts/base/protocols/smtp/mime-header-size-limit.zeek
Due: license, btest-command-commented

Test untested configurable limits
  testing/btest/Baseline/scripts.base.protocols.dns.max-compression-depth/conn.log
  testing/btest/Baseline/scripts.base.protocols.dns.max-compression-depth/weird.log
  testing/btest/Baseline/scripts.base.protocols.dns.max-queries/conn.log
  testing/btest/Baseline/scripts.base.protocols.dns.max-queries/weird.log
  testing/btest/Traces/README
  testing/btest/Traces/dns/conn-count-too-large.pcap
  testing/btest/Traces/dns/conn-count-too-large.pcap.py
  testing/btest/Traces/dns/max-compression-depth.pcap
  testing/btest/Traces/dns/max-compression-depth.pcap.py
  testing/btest/scripts/base/protocols/dns/max-compression-depth.zeek
  testing/btest/scripts/base/protocols/dns/max-queries.zeek
Due: btest-command-commented

Use `%d > %d` for weirds in a few limits
  src/analyzer/protocol/dns/DNS.cc
  src/analyzer/protocol/ftp/FTP.cc
  testing/btest/Baseline/scripts.base.protocols.dns.max-queries/weird.log
  testing/btest/Baseline/scripts.base.protocols.ftp.ftp-max-command-length/weird.log
  testing/external/commit-hash.zeek-testing-private
Due: license, btest-command-commented

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/reference/zeekscript/autogenerated-protocol-analyzer-index.rst
  doc/scripts/base/protocols/conn/inactivity.zeek.rst
  doc/scripts/base/protocols/syslog/main.zeek.rst
Due: none

Desc: Add Add(std::string_view sv)
  src/Desc.h
Due: license

Change from external user
  README.md
Due: none

Temporarily put a band-aid over broken coverage script so builds complete
  testing/coverage/lcov_html.sh
Due: none
