Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*|doc/devel/spicy/autogen/.*.spicy'

Add bif to lookup current interface name, add to btest for conn.log
  src/iosource/pcapng/CMakeLists.txt
  src/iosource/pcapng/Parser.h
  src/iosource/pcapng/Source.cc
  src/iosource/pcapng/Source.h
  src/iosource/pcapng/pcapng.bif
  testing/btest/Baseline/core.pcapng-pktsrc/conn.log
  testing/btest/Baseline/coverage.bare-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.default-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/plugins.hooks/output
  testing/btest/core/pcapng-pktsrc.zeek
Due: license, btest-command-commented

Add packet source that uses LightPcapNg to be able to read pcapng files
  .gitmodules
  NEWS
  scripts/base/init-bare.zeek
  src/event.bif
  src/iosource/CMakeLists.txt
  src/iosource/Component.cc
  src/iosource/Component.h
  src/iosource/Manager.cc
  src/iosource/pcap/Plugin.cc
  src/iosource/pcapng/CMakeLists.txt
  src/iosource/pcapng/Plugin.cc
  src/iosource/pcapng/Source.cc
  src/iosource/pcapng/Source.h
  src/types.bif
Due: license

Split parsing out into separate file
  src/iosource/pcapng/CMakeLists.txt
  src/iosource/pcapng/Parser.cc
  src/iosource/pcapng/Parser.h
  src/iosource/pcapng/Source.cc
  src/iosource/pcapng/Source.h
Due: license

Add flag to control sending events from packet source
  scripts/base/init-bare.zeek
  src/iosource/pcapng/Parser.cc
  src/iosource/pcapng/Parser.h
  src/iosource/pcapng/Source.cc
  src/iosource/pcapng/Source.h
Due: license

Only send pcap_packet_options for non-zero dropcounts and other options
  src/iosource/pcapng/Parser.cc
Due: license

Update docs for IGMP analyzer addition
  doc/script-reference/autogenerated-package-index.rst
  doc/script-reference/autogenerated-packet-analyzer-index.rst
  doc/script-reference/autogenerated-protocol-analyzer-index.rst
  doc/script-reference/autogenerated-script-index.rst
  doc/scripts/base/bif/index.rst
  doc/scripts/base/frameworks/logging/main.zeek.rst
  doc/scripts/base/packet-protocols/__load__.zeek.rst
  doc/scripts/base/packet-protocols/igmp/__load__.zeek.rst
  doc/scripts/base/packet-protocols/igmp/index.rst
  doc/scripts/base/packet-protocols/igmp/main.zeek.rst
  doc/scripts/base/packet-protocols/igmp/types.zeek.rst
  doc/scripts/base/packet-protocols/index.rst
  doc/scripts/base/protocols/conn/inactivity.zeek.rst
Due: none

Import IGMP analyzer from external contributor
  scripts/base/packet-protocols/__load__.zeek
  scripts/base/packet-protocols/igmp/__load__.zeek
  scripts/base/packet-protocols/igmp/main.zeek
  scripts/base/packet-protocols/igmp/types.zeek
  src/packet_analysis/protocol/CMakeLists.txt
  src/packet_analysis/protocol/igmp/CMakeLists.txt
  src/packet_analysis/protocol/igmp/igmp.evt
  src/packet_analysis/protocol/igmp/igmp.spicy
  testing/btest/Baseline/coverage.bare-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.default-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.find-bro-logs/out
  testing/btest/Baseline/plugins.hooks/output
  testing/btest/Baseline/scripts.base.protocols.igmp.bad-checksum/igmp.log
  testing/btest/Baseline/scripts.base.protocols.igmp.basic/igmp.log
  testing/btest/Traces/igmp/igmp-bad-checksum.pcap
  testing/btest/Traces/igmp/igmp.pcap
  testing/btest/scripts/base/protocols/igmp/bad-checksum.zeek
  testing/btest/scripts/base/protocols/igmp/basic.zeek
  testing/external/commit-hash.zeek-testing
Due: license, btest-command-commented

Add igmpv1 btest/trace
  testing/btest/Baseline/scripts.base.protocols.igmp.basic-v1/igmp.log
  testing/btest/Traces/README
  testing/btest/Traces/igmp/multicast-igmp-version-membership-query-and-report.pcap
  testing/btest/scripts/base/protocols/igmp/basic-v1.zeek
Due: btest-command-commented

Try using std::format to replace a few std::to_chars calls
  src/Desc.cc
  src/IPAddr.cc
  src/threading/Formatter.cc
Due: license

Formatting/documentation updates
  scripts/base/packet-protocols/igmp/main.zeek
  scripts/base/packet-protocols/igmp/types.zeek
Due: none

Add igmp/spicy-events.zeek for docs, expand testing of events
  scripts/base/packet-protocols/igmp/main.zeek
  scripts/base/packet-protocols/igmp/spicy-events.zeek
  scripts/base/packet-protocols/igmp/types.zeek
  src/packet_analysis/protocol/igmp/igmp.evt
  testing/btest/Baseline/scripts.base.protocols.igmp.bad-checksum/out
  testing/btest/Baseline/scripts.base.protocols.igmp.basic/out
  testing/btest/scripts/base/protocols/igmp/bad-checksum.zeek
  testing/btest/scripts/base/protocols/igmp/basic.zeek
Due: license, btest-command-commented

Various minor tweaks
  doc/tutorial/index.rst
  doc/tutorial/setup.rst
Due: none

Correction to the test invocation
  doc/tutorial/invoking-zeek.rst
  doc/tutorial/setup.rst
Due: none

Minor edits to the Zeek invocation section of the tutorial
  doc/tutorial/invoking-zeek.rst
Due: none

Light edits to the package manager tutorial section
  doc/tutorial/using-packages.rst
Due: none

Tweaks to the zeekctl section
  doc/tutorial/invoking-zeekctl.rst
Due: none

Light edits to the logging section
  doc/tutorial/logs.rst
Due: none

Directly include <charconv>
  src/util.cc
Due: license

Replace uses of modp integer methods in ODesc::Add
  src/Desc.cc
Due: license

Remove uses of modp_* methods from threading::Formatter
  src/IPAddr.cc
  src/threading/Formatter.cc
  testing/btest/Baseline/scripts.base.frameworks.logging.ascii-timestamps/test.log
Due: license, btest-command-commented

Replace uses of modp integer methods in ZAM code
  src/script_opt/ZAM/BuiltInSupport.cc
  src/script_opt/ZAM/BuiltInSupport.h
  src/script_opt/ZAM/OPs/ZBI.op
Due: license

Add minor optimization for strings without trailing zeroes
  src/util.cc
Due: license

Replace use of modp_dtoa2 method in ZAM code
  src/script_opt/ZAM/BuiltInSupport.cc
Due: license

Directly render into std::string where appropriate
  src/IPAddr.cc
  src/util.cc
Due: license

Replace use of modp_dtoa2 in ODesc::Add with std::to_chars
  src/Desc.cc
  src/util.cc
  src/util.h
  testing/btest/Baseline/language.double/out
Due: license, btest-command-commented

Fix pre-commit warning with doc/conf.py
  doc/conf.py
Due: none

Merge remote-tracking branch 'origin/topic/awelzel/5118-make-align-to-subnet-with-zeek-script'
  CHANGES
  VERSION
  src/IPAddr.cc
  testing/btest/Baseline/bifs.to_subnet/error
  testing/btest/Baseline/bifs.to_subnet/output
  testing/btest/Baseline/language.subnet/out
  testing/btest/bifs/to_subnet.zeek
  testing/btest/language/subnet.zeek
Due: license, btest-command-commented

Update NEWS for 8.0.5 release
  NEWS
Due: none

Update ZAM baseline for to_subnet BIFs changes
  testing/btest/Baseline.zam/bifs.to_subnet/error
  testing/btest/Baseline.zam/bifs.to_subnet/output
Due: btest-command-commented

Updating CHANGES and VERSION.
  CHANGES
  VERSION
Due: none

Merge remote-tracking branch 'origin/topic/awelzel/5119-multi-arch-imagetools-over-docker-manifest'
  .cirrus.yml
  CHANGES
  VERSION
  ci/container-images-tag-and-push.sh
Due: none

Update zeek-testing-cluster commit hash to fix docker-compose usage
  CHANGES
  VERSION
  testing/external/commit-hash.zeek-testing-cluster
Due: none
