Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*'

log and parse SvcParams in AliasMode
  src/analyzer/protocol/dns/DNS.cc
Due: license

use Assign()
  src/analyzer/protocol/dns/DNS.cc
Due: license

Hold addr_vec properly for ipv4/6hints, use common record field
  scripts/base/init-bare.zeek
  src/analyzer/protocol/dns/DNS.cc
  src/analyzer/protocol/dns/DNS.h
  testing/btest/Baseline/scripts.base.protocols.dns.https/output
Due: license, btest-command-commented

pass proper Weird() arguments with consistent prefix
  src/analyzer/protocol/dns/DNS.cc
Due: license

bifcl: Run clang-format on c++ code embedded in builtin-func.{l,y}
  tools/bifcl/builtin-func.l
  tools/bifcl/builtin-func.y
Due: none

binpac: Replace delete_list macro uses
  tools/binpac/src/pac_analyzer.cc
  tools/binpac/src/pac_case.cc
  tools/binpac/src/pac_common.h
  tools/binpac/src/pac_context.cc
  tools/binpac/src/pac_decl.cc
  tools/binpac/src/pac_embedded.cc
  tools/binpac/src/pac_enum.cc
  tools/binpac/src/pac_expr.cc
  tools/binpac/src/pac_field.cc
  tools/binpac/src/pac_func.cc
  tools/binpac/src/pac_record.cc
  tools/binpac/src/pac_type.cc
  tools/binpac/src/pac_typedecl.cc
Due: license

binpac: Run clang-format on c++ code embedded in pac_parse.{ll,yy}
  tools/binpac/src/pac_parse.yy
  tools/binpac/src/pac_scan.ll
Due: none

gen-zam: Move source files up a directory
  tools/gen-zam/CMakeLists.txt
  tools/gen-zam/Gen-ZAM.cc
  tools/gen-zam/Gen-ZAM.h
Due: license

bifcl: Fix clang-tidy warnings
  tools/bifcl/CMakeLists.txt
  tools/bifcl/bif_arg.cc
  tools/bifcl/builtin-func.l
  tools/bifcl/builtin-func.y
  tools/bifcl/include/bif_arg.h
Due: license

Link Prometheus symbols via Broker instead of directly
  .cirrus.yml
Due: none

CI: Bump clang version on ubuntu 24 VMs to clang 21
  .cirrus.yml
  ci/ubuntu-24.04/Dockerfile
Due: none

Use std::numbers::pi instead of a hard-coded value
  src/zeek.bif
  testing/btest/Baseline/bifs.haversine_distance/out
Due: btest-command-commented

Use std::scoped_lock instead of std::lock_guard
  src/broker/Manager.cc
Due: license

Add some addtional uses of std::ranges
  src/strings.bif
  src/telemetry/telemetry_functions.bif
Due: none

Switch Zeek Spicy builds to Ubuntu 24
  .cirrus.yml
  ci/ubuntu-24.04/Dockerfile
Due: none

Rename Ubuntu-based tasks to have the full version name
  .cirrus.yml
Due: none

Reorder ubuntu builds so 22.04 comes last
  .cirrus.yml
Due: none

contain code in new Parse_SvcParams()
  src/analyzer/protocol/dns/DNS.cc
  src/analyzer/protocol/dns/DNS.h
Due: license

fixup! Hold addr_vec properly for ipv4/6hints, use common record field
  src/analyzer/protocol/dns/DNS.cc
Due: license

Parse ECH, print as base64 for readability
  scripts/base/init-bare.zeek
  src/analyzer/protocol/dns/DNS.cc
  src/analyzer/protocol/dns/DNS.h
  testing/btest/Baseline/scripts.base.protocols.dns.ech/output
  testing/btest/Baseline/scripts.base.protocols.dns.https/output
  testing/btest/Traces/dns/ech.pcap
  testing/btest/scripts/base/protocols/dns/ech.zeek
Due: license, btest-command-commented

avoid CountVal allocations
  src/analyzer/protocol/dns/DNS.cc
Due: license

Move benchmarking to Ubnutu 24 task, add to normal PR builds
  .cirrus.yml
Due: none

fixup! contain code in new Parse_SvcParams()
  src/analyzer/protocol/dns/DNS.cc
Due: license

Management framework: add TLS options for controller's websocket server
  scripts/policy/frameworks/management/controller/config.zeek
  scripts/policy/frameworks/management/controller/main.zeek
Due: none

Bump zeek-testing-cluster to pull in WebSocket TLS updates
  testing/external/commit-hash.zeek-testing-cluster
Due: none

tightened up parsing of $field=X record constructor expressions
  src/parse.y
  testing/btest/Baseline/language.bogus-field-assign/out
  testing/btest/language/bogus-field-assign.zeek
Due: btest-command-commented

Enable building ZeroMQ support on Windows
  ci/windows/build.cmd
  src/cluster/backend/CMakeLists.txt
  src/cluster/backend/zeromq/CMakeLists.txt
  vcpkg.json
Due: none

CI: Add label for enabling the Windows build in PRs
  .cirrus.yml
Due: none

fixup! Enable building ZeroMQ support on Windows
  src/cluster/backend/CMakeLists.txt
  src/cluster/backend/zeromq/CMakeLists.txt
Due: none

Remove unnecessary peer signature from test `scripts.base.protocols.bittorrent.tracker`
  testing/btest/scripts/base/protocols/bittorrent/tracker.zeek
Due: btest-command-commented

Use std::numbers::pi instead of hard-coded value
  src/zeek.bif
  testing/btest/Baseline/bifs.haversine_distance/out
Due: btest-command-commented

Fix a few more random clang-tidy findings
  src/strings.bif
  src/telemetry/telemetry_functions.bif
Due: none

Remove some unnecessary #includes from binpac source files
  tools/binpac/lib/binpac_buffer.cc
  tools/binpac/src/pac_analyzer.cc
  tools/binpac/src/pac_array.cc
  tools/binpac/src/pac_cclass.h
  tools/binpac/src/pac_conn.cc
  tools/binpac/src/pac_conn.h
  tools/binpac/src/pac_context.cc
  tools/binpac/src/pac_dbg.h
  tools/binpac/src/pac_decl.cc
  tools/binpac/src/pac_expr.cc
  tools/binpac/src/pac_exttype.cc
  tools/binpac/src/pac_flow.cc
  tools/binpac/src/pac_inputbuf.cc
  tools/binpac/src/pac_main.cc
  tools/binpac/src/pac_output.cc
  tools/binpac/src/pac_output.h
  tools/binpac/src/pac_param.cc
  tools/binpac/src/pac_paramtype.cc
  tools/binpac/src/pac_record.cc
  tools/binpac/src/pac_record.h
  tools/binpac/src/pac_redef.cc
  tools/binpac/src/pac_regex.cc
  tools/binpac/src/pac_type.cc
  tools/binpac/src/pac_typedecl.cc
  tools/binpac/src/pac_varfield.cc
  tools/binpac/src/pac_varfield.h
  tools/binpac/src/pac_withinput.cc
Due: license

Parse SVCB/HTTPS SvcParams list
  scripts/base/init-bare.zeek
  scripts/base/protocols/dns/consts.zeek
  src/analyzer/protocol/dns/DNS.cc
  src/analyzer/protocol/dns/DNS.h
  testing/btest/Baseline/scripts.base.protocols.dns.ech/output
  testing/btest/Baseline/scripts.base.protocols.dns.https/output
  testing/btest/Baseline/scripts.base.protocols.dns.svcb/output
  testing/btest/Traces/dns/ech.pcap
  testing/btest/scripts/base/protocols/dns/ech.zeek
Due: license, btest-command-commented
