Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*|doc/devel/spicy/autogen/.*.spicy'

Fix size used to calloc() prefix in patricia.c
  src/3rdparty/patricia.c
Due: license

Switch to using debian-unstable for weekly edge compiler builds
  .cirrus.yml
  ci/debian-unstable/Dockerfile
  ci/debian-unstable/prepare-weekly.sh
Due: none

Simplify pattern matcher reconstruction
  src/CompHash.cc
  src/RE.cc
  src/RE.h
  src/Val.cc
  src/broker/Data.cc
  testing/btest/Baseline/language.pattern-tables/out
  testing/btest/Baseline/language.patterns-stored-in-containers/out
  testing/btest/Baseline/language.table-pattern-index/out
Due: license, btest-command-commented

Fix regex fallout tests and docs
  src/analyzer/protocol/ssh/ssh-protocol.pac
  src/zeek.bif
  testing/btest/Baseline/language.pattern-tables-stats/out
Due: btest-command-commented

Document Rust build requirements
  doc/building-from-source.rst
Due: none

Fix pre-commit formatting fallout
  CMakeLists.txt
  src/CMakeLists.txt
  src/RE.cc
  src/RegexBackend.cc
  src/RuleMatcher.cc
  src/broker/Data.cc
Due: license

Add rust regex backend design note
  doc/advanced/devel/index.rst
  doc/advanced/devel/rust-regex-backend.rst
Due: none

Compile Rust regexes from Zeek wrappers
  rust/zeek-regex-backend/src/compat.rs
  rust/zeek-regex-backend/src/ffi.rs
  rust/zeek-regex-backend/src/lib.rs
  rust/zeek-regex-backend/src/matcher.rs
  rust/zeek-regex-backend/src/stream.rs
  src/RE.cc
  src/RE.h
  src/RegexBackend.cc
  src/RegexBackend.h
  src/Val.cc
Due: license

Share canonical pattern state in RE matcher
  src/RE.cc
  src/RE.h
Due: license

Type Rust regex backend handles
  src/RE.cc
  src/RE.h
  src/RegexBackend.cc
  src/RegexBackend.h
Due: license

Report backend-neutral regex matcher stats
  NEWS
  doc/reference/zeekscript/types.rst
  rust/zeek-regex-backend/src/lib.rs
  rust/zeek-regex-backend/src/stream.rs
  scripts/base/init-bare.zeek
  src/RE.cc
  src/RE.h
  src/RegexBackend.cc
  src/RegexBackend.h
  src/RuleMatcher.cc
  src/RuleMatcher.h
  src/Stats.cc
  src/stats.bif
  src/zeek.bif
  testing/btest/Baseline/language.pattern-tables-stats/out
  testing/btest/bifs/get_matcher_stats.zeek
  testing/btest/language/pattern-tables-stats.zeek
Due: license, btest-command-commented

Canonify SSH analyzer debug source locations
  testing/btest/Baseline/scripts.base.protocols.ssh.http-port-22/analyzer_debug.log
  testing/btest/scripts/base/protocols/ssh/http-port-22.test
Due: btest-command-commented

Update init-integration pattern baseline
  testing/btest/Baseline/language.init-integration/out
Due: btest-command-commented

Preserve SSH analyzer debug source location
  src/analyzer/protocol/ssh/ssh-protocol.pac
Due: none

clippy: trivial lint fix
  rust/zeek-regex-backend/src/compat.rs
Due: none

clippy: trivial lint fix
  rust/zeek-regex-backend/src/stream.rs
Due: none

clippy: trivial lint fix
  rust/zeek-regex-backend/src/lib.rs
Due: none

clippy: enable and fix additional lints
  rust/zeek-regex-backend/Cargo.toml
  rust/zeek-regex-backend/src/ffi.rs
  rust/zeek-regex-backend/src/lib.rs
  rust/zeek-regex-backend/src/matcher.rs
  rust/zeek-regex-backend/src/stream.rs
Due: none

clippy: remove uses of naked, unsafe casts
  rust/zeek-regex-backend/src/lib.rs
  rust/zeek-regex-backend/src/matcher.rs
Due: none

lint: move lint config to Cargo.toml
  rust/zeek-regex-backend/Cargo.toml
  rust/zeek-regex-backend/src/lib.rs
Due: none

cargo: Use corrosion to build Rust libraries
  CMakeLists.txt
  configure
  rust/CMakeLists.txt
Due: none

cargo: Generate Rust bindings with cbindgen instead of manually
  rust/CMakeLists.txt
  src/RegexBackend.cc
  src/RegexBackend.h
Due: license

Remove Rust availability check
  rust/zeek-regex-backend/src/lib.rs
  rust/zeek-regex-backend/src/stream.rs
  src/RE.cc
  src/RegexBackend.cc
  src/RegexBackend.h
Due: license

rust: remove unneeded pointer args
  rust/zeek-regex-backend/src/lib.rs
Due: none

Refactor RAII handles
  src/RegexBackend.cc
  src/RegexBackend.h
Due: license

Remove unused function
  rust/zeek-regex-backend/src/lib.rs
  src/RegexBackend.cc
  src/RegexBackend.h
Due: license

Remove unused functions
  rust/zeek-regex-backend/src/lib.rs
  src/RegexBackend.cc
  src/RegexBackend.h
Due: license

Remove duplication
  rust/zeek-regex-backend/src/compat.rs
  rust/zeek-regex-backend/src/lib.rs
  rust/zeek-regex-backend/src/matcher.rs
Due: none

Drop trivial function
  rust/zeek-regex-backend/src/compat.rs
Due: none

Prevent underflow panic when decoding bytes like e.g., space
  rust/zeek-regex-backend/src/compat.rs
Due: none

Make all custom exception types inherit from std::exception
  src/Expr.cc
  src/Reporter.h
  src/analyzer/Analyzer.cc
  src/analyzer/protocol/bittorrent/BitTorrent.cc
  src/analyzer/protocol/dce-rpc/DCE_RPC.cc
  src/analyzer/protocol/dhcp/DHCP.cc
  src/analyzer/protocol/gssapi/GSSAPI.cc
  src/analyzer/protocol/imap/IMAP.cc
  src/analyzer/protocol/krb/KRB.cc
  src/analyzer/protocol/krb/KRB_TCP.cc
  src/analyzer/protocol/mqtt/MQTT.cc
  src/analyzer/protocol/mysql/MySQL.cc
  src/analyzer/protocol/ncp/NCP.cc
  src/analyzer/protocol/ntlm/NTLM.cc
  src/analyzer/protocol/ntp/NTP.cc
  src/analyzer/protocol/radius/RADIUS.cc
  src/analyzer/protocol/rdp/RDP.cc
  src/analyzer/protocol/rdp/RDPEUDP.cc
  src/analyzer/protocol/rfb/RFB.cc
  src/analyzer/protocol/sip/SIP.cc
  src/analyzer/protocol/sip/SIP_TCP.cc
  src/analyzer/protocol/smb/SMB.cc
  src/analyzer/protocol/snmp/SNMP.cc
  src/analyzer/protocol/socks/SOCKS.cc
  src/analyzer/protocol/ssh/SSH.cc
  src/analyzer/protocol/ssl/DTLS.cc
  src/analyzer/protocol/ssl/SSL.cc
  src/analyzer/protocol/websocket/WebSocket.cc
  src/analyzer/protocol/xmpp/XMPP.cc
  src/broker/WebSocketShim.h
  src/file_analysis/analyzer/pe/PE.cc
  src/packet_analysis/protocol/gtpv1/GTPv1.cc
  tools/binpac/lib/binpac_exception.h
  tools/binpac/src/pac_cstr.cc
  tools/binpac/src/pac_exception.h
  tools/binpac/src/pac_main.cc
  tools/binpac/src/pac_output.h
Due: license

Disable clang-tidy checkers added in Clang 22
  .clang-tidy
Due: none

Fix a few std::move instances reported by clang-tidy-22
  src/Dict.h
  src/Val.cc
  src/plugin/Plugin.h
Due: license

fixup! rust: remove unneeded pointer args
  rust/zeek-regex-backend/src/ffi.rs
  rust/zeek-regex-backend/src/lib.rs
Due: none

fixup! cargo: Use corrosion to build Rust libraries
  rust/CMakeLists.txt
Due: none

Fix a few deprecated c_msg usages in btests
  testing/btest/plugins/binpac-flowbuffer-frame-length-plugin/src/FOO.cc
  testing/btest/plugins/protocol-plugin/src/Foo.cc
  testing/builtin-plugins/Files/protocol-plugin/src/Foo.cc
Due: btest-command-commented

Attr: Add &publish_on_change
  src/Attr.cc
  src/Attr.h
Due: license

Timer: Add timer for &publish_on_change
  src/Timer.cc
  src/Timer.h
Due: license
