Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

license:
  name: Check for license headers
  entry: ./ci/license-header.py
  language: python

btest-command-commented:
  name: Check that all BTest command lines are commented out
  entry: ^\s*@TEST-
  language: pygrep

fixup! cluster/zeromq: Add support for configurable overflow_policy
  src/cluster/backend/zeromq/ZeroMQ.h
  testing/btest/Baseline/cluster.zeromq.overflow-policy-block/manager.out
  testing/btest/Baseline/cluster.zeromq.overflow-policy-block/proxy.out
  testing/btest/Baseline/cluster.zeromq.overflow-policy-block/worker-1.out
  testing/btest/Baseline/cluster.zeromq.overflow-policy-block/worker-2.out
  testing/btest/Baseline/cluster.zeromq.overflow-policy-drop/manager.out
  testing/btest/Baseline/cluster.zeromq.overflow-policy-drop/proxy.out
  testing/btest/Baseline/cluster.zeromq.overflow-policy-drop/worker-1.out
  testing/btest/Baseline/cluster.zeromq.overflow-policy-drop/worker-2.out
  testing/btest/cluster/zeromq/overflow-policy-block.zeek
  testing/btest/cluster/zeromq/overflow-policy-drop.zeek
Due: license, btest-command-commented

Merge remote-tracking branch 'origin/topic/bbannier/protocol-handle-close-finish'
  src/spicy/runtime-support.cc
  testing/btest/Baseline/spicy.tcp-eod-behavior-child/output
  testing/btest/spicy/tcp-eod-behavior-child.zeek
Due: license, btest-command-commented

CI: Remove spicy-head task
  .cirrus.yml
  CHANGES
  VERSION
Due: none

Merge remote-tracking branch 'origin/topic/bbannier/protocol-handle-close-finish'
  CHANGES
  VERSION
  src/spicy/runtime-support.cc
  testing/btest/Baseline/spicy.tcp-eod-behavior-child/output
  testing/btest/spicy/tcp-eod-behavior-child.zeek
Due: license, btest-command-commented

Use std::string/string_view versions of starts_with/ends_with where appropriate
  .clang-tidy
  NEWS
  src/DebugLogger.cc
  src/Options.cc
  src/Scope.cc
  src/Val.cc
  src/analyzer/protocol/irc/IRC.cc
  src/broker/Data.cc
  src/input/readers/ascii/Ascii.cc
  src/logging/writers/ascii/Ascii.h
  src/script_opt/ProfileFunc.cc
  src/storage/backend/redis/Redis.cc
  src/telemetry/Manager.cc
  src/telemetry/Utils.cc
  src/util.cc
  src/zeekygen/IdentifierInfo.cc
  src/zeekygen/utils.cc
Due: license

Reset the value of a status variable in SQLite backend before using it in a loop
  src/storage/backend/sqlite/SQLite.cc
Due: license

Handle uncaught exception during setup
  src/main.cc
Due: license

Fix uninitialized class member Coverity findings
  src/DNS_Mgr.h
  src/PrefixTable.h
  src/RuleAction.h
  src/analyzer/protocol/mysql/mysql-protocol.pac
  src/input/Manager.cc
  src/script_opt/ZAM/IterInfo.h
  src/storage/backend/sqlite/SQLite.h
Due: license

Add some additional std::moves reported by Coverity
  src/Debug.cc
  src/EventTrace.cc
  src/Expr.cc
  src/Options.cc
  src/ScriptCoverageManager.cc
  src/analyzer/protocol/conn-size/Plugin.cc
  src/analyzer/protocol/irc/IRC.cc
  src/cluster/Backend.cc
  src/input/Manager.cc
  src/packet_analysis/Manager.cc
  src/packet_analysis/packet_analysis.bif
  src/packet_analysis/protocol/ip/IP.cc
  src/script_opt/CPP/Driver.cc
  src/script_opt/ScriptOpt.cc
  src/util.h
  src/zeek-setup.cc
  src/zeekygen/Target.cc
Due: license

Fix a potential memory leak reported by Coverity
  src/storage/backend/sqlite/SQLite.cc
Due: license

Fix an unsigned integer comparison reported by Coverity
  src/Reporter.cc
Due: license

control: Use Cluster::publish() for replying
  scripts/policy/frameworks/control/controllee.zeek
Due: none

NEWS: ZeekControl, ZeroMQ and WebSocket
  NEWS
Due: none

Make RunPragma take an optional value parser to return data
  src/storage/backend/sqlite/SQLite.cc
  src/storage/backend/sqlite/SQLite.h
Due: license

Add storage metrics for operations, expirations, data transferred
  scripts/base/frameworks/storage/main.zeek
  src/storage/Backend.cc
  src/storage/Backend.h
  src/storage/backend/redis/Redis.cc
  src/storage/backend/redis/Redis.h
  src/storage/backend/sqlite/SQLite.cc
  src/storage/backend/sqlite/SQLite.h
  testing/btest/Baseline/scripts.base.frameworks.storage.sqlite-basic-sync-in-when/out
  testing/btest/Baseline/scripts.base.frameworks.storage.sqlite-erase/out
  testing/btest/plugins/storage-plugin/src/StorageDummy.cc
  testing/btest/plugins/storage-plugin/src/StorageDummy.h
  testing/btest/scripts/base/frameworks/storage/sqlite-erase.zeek
Due: license, btest-command-commented

Make SQLite::Step take a callback function for parsing result data
  src/storage/backend/sqlite/SQLite.cc
  src/storage/backend/sqlite/SQLite.h
Due: license

Fix ordering of telemtry metrics when running under test
  src/telemetry/Manager.cc
  testing/btest/Baseline/scripts.base.frameworks.telemetry.basic/out
  testing/btest/Baseline/scripts.base.frameworks.telemetry.internal-metrics/out
Due: license, btest-command-commented

Add SQLite page_count and file_size metrics
  src/storage/backend/sqlite/SQLite.cc
  src/storage/backend/sqlite/SQLite.h
  src/telemetry/Counter.h
  src/telemetry/Gauge.h
  testing/btest/Baseline/scripts.base.frameworks.storage.sqlite-basic/out
  testing/btest/Baseline/scripts.base.frameworks.storage.sqlite-metrics/out
Due: license, btest-command-commented

Add btests to cover storage metrics
  testing/btest/Baseline/scripts.base.frameworks.storage.redis-async/out
  testing/btest/Baseline/scripts.base.frameworks.storage.redis-sync/out
  testing/btest/Baseline/scripts.base.frameworks.storage.sqlite-metrics/.stderr
  testing/btest/Baseline/scripts.base.frameworks.storage.sqlite-metrics/out
  testing/btest/scripts/base/frameworks/storage/redis-async.zeek
  testing/btest/scripts/base/frameworks/storage/redis-sync.zeek
  testing/btest/scripts/base/frameworks/storage/sqlite-basic.zeek
  testing/btest/scripts/base/frameworks/storage/sqlite-metrics.zeek
Due: btest-command-commented

Switch to using c++20 constraints instead of std::enable_if
  .clang-tidy
  src/Event.h
  src/Func.h
  src/IntrusivePtr.h
  src/Span.h
  src/Val.h
  src/analyzer/Analyzer.h
  src/broker/Data.h
  src/session/Session.h
Due: license

Update NEWS for 7.0.9 release [skip ci] [nomail]
  NEWS
Due: none

Update NEWS for 7.2.2 release [skip ci] [nomail]
  NEWS
Due: none

Return weird if a log line is over a configurable size limit
  scripts/base/init-bare.zeek
  src/logging/Manager.cc
  src/logging/Manager.h
  src/threading/SerialTypes.h
  testing/btest/Baseline/scripts.base.frameworks.logging.length-checking/logger.test.log
  testing/btest/Baseline/scripts.base.frameworks.logging.length-checking/logger.weird.log
  testing/btest/Baseline/scripts.base.frameworks.logging.length-checking/worker-2.test.log
  testing/btest/Baseline/scripts.base.frameworks.logging.length-checking/worker-2.weird.log
  testing/btest/Baseline/scripts.base.frameworks.logging.telemetry/telemetry.log
  testing/btest/scripts/base/frameworks/logging/length-checking.zeek
Due: license, btest-command-commented

Return weird if a log line is over a configurable size limit
  NEWS
  scripts/base/init-bare.zeek
  src/logging/Manager.cc
  src/logging/Manager.h
  src/threading/SerialTypes.h
  testing/btest/Baseline/scripts.base.frameworks.logging.length-checking/logger.test.log
  testing/btest/Baseline/scripts.base.frameworks.logging.length-checking/logger.weird.log
  testing/btest/Baseline/scripts.base.frameworks.logging.length-checking/worker-2.test.log
  testing/btest/Baseline/scripts.base.frameworks.logging.length-checking/worker-2.weird.log
  testing/btest/Baseline/scripts.base.frameworks.logging.telemetry/telemetry.log
  testing/btest/scripts/base/frameworks/logging/length-checking.zeek
Due: license, btest-command-commented

Updating CHANGES and VERSION.
  CHANGES
  VERSION
Due: none

Enable modernize-std-numbers clang-tidy checker, fix findings
  .clang-tidy
  src/probabilistic/BloomFilter.cc
  src/probabilistic/CardinalityCounter.cc
Due: license

cluster/ThreadedBackend: Injectable OnLoopProcess instance
  src/cluster/Backend.cc
  src/cluster/Backend.h
Due: license

Path conditions:
  license: any of: \.(h|c|cpp|cc|spicy|evt)$, but not: ^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*)$
  btest-command-commented: any of: ^testing/btest/.*$
