Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*|doc/devel/spicy/autogen/.*.spicy'

Fill a dummy name in for Telnet AUTH if missing
  src/analyzer/protocol/login/NVT.cc
  testing/btest/Baseline/scripts.base.protocols.login.telnet-missing-auth-name/out
  testing/btest/Traces/telnet-auth-missing-name.pcap
  testing/btest/Traces/telnet-auth-missing-name.pcap.py
  testing/btest/scripts/base/protocols/login/telnet-missing-auth-name.zeek
Due: license, btest-command-commented

dhcp: Clear options after bad-cookie violation
  src/analyzer/protocol/dhcp/dhcp-analyzer.pac
  testing/btest/Baseline/scripts.base.protocols.dhcp.bad-cookie-clears-options/out
  testing/btest/Traces/dhcp/dhcp_bad_cookie_option_retention.pcap
  testing/btest/Traces/dhcp/dhcp_bad_cookie_option_retention.pcap.py
  testing/btest/scripts/base/protocols/dhcp/bad-cookie-clears-options.zeek
Due: btest-command-commented

ssh: Avoid O(n^2) by placing server algs into set for lookup
  scripts/base/protocols/ssh/main.zeek
  src/analyzer/protocol/ssh/ssh-protocol.pac
Due: none

redis: Cap total RESP aggregates
  scripts/base/protocols/redis/main.zeek
  src/analyzer/protocol/redis/resp.spicy
  testing/btest/Baseline/scripts.base.protocols.redis.element-object-exhaustion/analyzer_debug.log
  testing/btest/Traces/redis/array-element-object-exhaustion.pcap
  testing/btest/Traces/redis/array-element-object-exhaustion.pcap.py
  testing/btest/scripts/base/protocols/redis/element-object-exhaustion.zeek
Due: license, btest-command-commented

Skip creating a record object for DNP3 g70v1 record fields
  src/analyzer/protocol/dnp3/dnp3-objects.pac
Due: none

Remove temporary IP fragment if header size is invalid
  src/packet_analysis/protocol/ip/IP.cc
  testing/btest/Baseline/core.ipv6-reassembly-state-leak/output
  testing/btest/Baseline/core.ipv6-reassembly-state-leak/weird.log
  testing/btest/Traces/ipv6-reassembly-state-leak.pcap
  testing/btest/Traces/ipv6-reassembly-state-leak.pcap.py
  testing/btest/core/ipv6-reassembly-state-leak.zeek
Due: license, btest-command-commented

ldap: Cap pending searches and messages
  scripts/base/protocols/ldap/main.zeek
  testing/btest/Baseline/scripts.base.protocols.ldap.pending-messages-exceeded/conn.log
  testing/btest/Baseline/scripts.base.protocols.ldap.pending-messages-exceeded/ldap.log
  testing/btest/Baseline/scripts.base.protocols.ldap.pending-messages-exceeded/weird.log
  testing/btest/Baseline/scripts.base.protocols.ldap.pending-searches-exceeded/conn.log
  testing/btest/Baseline/scripts.base.protocols.ldap.pending-searches-exceeded/ldap_search.log
  testing/btest/Baseline/scripts.base.protocols.ldap.pending-searches-exceeded/weird.log
  testing/btest/Traces/ldap/pending-adds-10.pcap
  testing/btest/Traces/ldap/pending-adds-n.pcap.py
  testing/btest/Traces/ldap/pending-searches-10.pcap
  testing/btest/Traces/ldap/pending-searches-n.pcap.py
  testing/btest/scripts/base/protocols/ldap/pending-messages-exceeded.zeek
  testing/btest/scripts/base/protocols/ldap/pending-searches-exceeded.zeek
Due: btest-command-commented

analyzer: Do not reschedule equivalent analyzers
  src/analyzer/Manager.cc
  src/analyzer/Manager.h
Due: license

dhcp: Factor log writing from expiration function
  scripts/base/protocols/dhcp/main.zeek
Due: none

netbios: Fix eager allocation from protocol data
  src/analyzer/protocol/netbios/NetbiosSSN.cc
Due: license

netbios: Add weird for truncated netbios body
  src/analyzer/protocol/netbios/NetbiosSSN.cc
  testing/btest/Baseline/scripts.base.protocols.netbios.truncated-session-msg/weird.log
  testing/btest/Traces/netbios/netbios-truncated-session-msg.pcap
  testing/btest/Traces/netbios/netbios-truncated-session-msg.pcap.py
  testing/btest/scripts/base/protocols/netbios/truncated-session-msg.zeek
Due: license, btest-command-commented

smb: Honor `skip` in dce-rpc named-pipe delivery
  src/analyzer/protocol/smb/smb-pipe.pac
  testing/btest/Baseline/scripts.base.protocols.smb.named-pipe-fragment/weird.log
  testing/btest/Traces/smb/fragment-state-exhaustion.pcap
  testing/btest/Traces/smb/fragment-state-exhaustion.pcap.py
  testing/btest/scripts/base/protocols/smb/named-pipe-fragment.zeek
Due: btest-command-commented

ftp: Cap ftp_data_expected via new FTP::max_expected_data_channels
  scripts/base/protocols/ftp/main.zeek
  testing/btest/Baseline/scripts.policy.protocols.ftp.expected-data-channel-cap/output
  testing/btest/Baseline/scripts.policy.protocols.ftp.expected-data-channel-cap/weird.log
  testing/btest/Traces/ftp/ftp-many-port-expected.pcap.gz
  testing/btest/Traces/ftp/ftp-many-port-expected.pcap.py
  testing/btest/scripts/policy/protocols/ftp/expected-data-channel-cap.zeek
Due: btest-command-commented

udp: Fix OOB read when using `udp_contents`
  src/packet_analysis/protocol/udp/UDP.cc
  testing/btest/Baseline/core.udp-contents-buffer-len/output
  testing/btest/Traces/udp-contents-truncated-oob.pcap
  testing/btest/Traces/udp-contents-truncated-oob.pcap.py
  testing/btest/core/udp-contents-buffer-len.zeek
Due: license, btest-command-commented

Update zeek-testing-private commit hash
  testing/external/commit-hash.zeek-testing-private
Due: none

SIP: Add checks/weirds for excessive request/response path lengths
  scripts/base/protocols/sip/main.zeek
  testing/btest/Baseline/scripts.base.protocols.sip.path-length-limits/output
  testing/btest/Baseline/scripts.base.protocols.sip.path-length-limits/weird.log
  testing/btest/Traces/sip/sip-long-request-response-paths.pcap
  testing/btest/Traces/sip/sip-long-request-response-paths.pcap.py
  testing/btest/scripts/base/protocols/sip/path-length-limits.zeek
Due: btest-command-commented

dhcp: Cap size of DHCP::join_data to DHCP::max_tracked_transactions
  scripts/base/protocols/dhcp/main.zeek
  testing/btest/Baseline/scripts.base.protocols.dhcp.dhcp-max-tracked-transactions/dhcp.log
  testing/btest/Baseline/scripts.base.protocols.dhcp.dhcp-max-tracked-transactions/out
  testing/btest/Baseline/scripts.base.protocols.dhcp.dhcp-max-tracked-transactions/weird.log
  testing/btest/Traces/dhcp/dhcp-unique-xid-join-data-growth.pcapng
  testing/btest/Traces/dhcp/dhcp-unique-xid-join-data-growth.pcapng.py
  testing/btest/scripts/base/protocols/dhcp/dhcp-max-tracked-transactions.zeek
Due: btest-command-commented

Add const to control maximum packet analyzer chain depth
  scripts/base/packet-protocols/main.zeek
  src/packet_analysis/Analyzer.cc
  src/packet_analysis/CMakeLists.txt
  src/packet_analysis/Manager.h
  src/packet_analysis/consts.bif
  testing/btest/Baseline/core.max-packet-analyzer-depth/weird.log
  testing/btest/Baseline/coverage.bare-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.default-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/plugins.hooks/output
  testing/btest/Traces/pbb-recursive-frames.pcapng
  testing/btest/Traces/pbb-recursive-frames.pcapng.py
  testing/btest/core/max-packet-analyzer-depth.zeek
Due: license, btest-command-commented

ssh: Cap name lists in KEXINIT packets to configurable limits
  scripts/base/init-bare.zeek
  src/analyzer/protocol/ssh/consts.bif
  src/analyzer/protocol/ssh/ssh-analyzer.pac
  src/analyzer/protocol/ssh/ssh-protocol.pac
  testing/btest/Baseline/scripts.base.protocols.ssh.max-kexinit-algorithms/conn.log
  testing/btest/Baseline/scripts.base.protocols.ssh.max-kexinit-algorithms/weird.log
  testing/btest/Traces/ssh/kex-quadratic-1000.pcap.gz
  testing/btest/Traces/ssh/kex-quadratic-1000.pcap.py
  testing/btest/scripts/base/protocols/ssh/max-kexinit-algorithms.zeek
Due: btest-command-commented

netbios: Add test for split body
  testing/btest/Baseline/scripts.base.protocols.netbios.split-session-msg/out
  testing/btest/Traces/netbios/netbios-split-session-msg.pcap
  testing/btest/Traces/netbios/netbios-split-session-msg.pcap.py
  testing/btest/scripts/base/protocols/netbios/split-session-msg.zeek
Due: btest-command-commented

Merge remote-tracking branch 'origin/topic/awelzel/5798-ixwebsocket-close-on-exec'
  NEWS
  src/cluster/websocket/WebSocket-IXWebSocket.cc
  testing/btest/cluster/websocket/cloexec-leak.zeek
Due: license, btest-command-commented

testing/scripts: Include is-windows-ci
  testing/scripts/is-windows-ci
Due: none

TCPSessionAdapter: Drop always-true condition from need_contents
  src/packet_analysis/protocol/tcp/TCPSessionAdapter.cc
Due: license

TCP: Make TCPStats_Analyzer just a Analyzer
  src/analyzer/protocol/tcp/TCP.cc
  src/analyzer/protocol/tcp/TCP.h
  testing/btest/Baseline/core.tcp.tcp-stats-analyzer/out
  testing/btest/core/tcp/tcp-stats-analyzer.zeek
Due: license, btest-command-commented

TCPSessionAdapter: Remove packet_children and custom logic
  src/packet_analysis/protocol/tcp/TCPSessionAdapter.cc
  src/packet_analysis/protocol/tcp/TCPSessionAdapter.h
Due: license

TCPSessionAdapter: Rework DeliverPacket() to ignore packet_children
  src/packet_analysis/protocol/tcp/TCPSessionAdapter.cc
  src/packet_analysis/protocol/tcp/TCPSessionAdapter.h
Due: license

Update NEWS for v8.2.2 [nomail]
  CHANGES
  NEWS
  VERSION
Due: none

Update NEWS for v8.0.10 [nomail]
  CHANGES
  NEWS
  VERSION
Due: none

Merge remote-tracking branch 'origin/topic/awelzel/5798-ixwebsocket-close-on-exec'
  CHANGES
  NEWS
  VERSION
  src/cluster/websocket/WebSocket-IXWebSocket.cc
  testing/btest/cluster/websocket/cloexec-leak.zeek
Due: license, btest-command-commented

testing/scripts: Include is-windows-ci
  CHANGES
  VERSION
  testing/scripts/is-windows-ci
Due: none

Ensure tunnel changes are counted in all cases
  scripts/base/init-bare.zeek
  src/Conn.cc
  testing/btest/Baseline/core.tunnels.count-default-tunnel-changes/conn.log
  testing/btest/Baseline/core.tunnels.count-default-tunnel-changes/output
  testing/btest/Baseline/core.tunnels.count-default-tunnel-changes/tunnel.log
  testing/btest/Traces/tunnels/tunnel-direct-bypass.pcap
  testing/btest/Traces/tunnels/tunnel-direct-bypass.pcap.py
  testing/btest/core/tunnels/count-default-tunnel-changes.zeek
Due: license, btest-command-commented

Update tunnel baselines after merge of tunnel security patch.
  testing/btest/Baseline/core.tunnels.gtp.different_dl_and_ul/conn.log
  testing/btest/Baseline/core.tunnels.vxlan/conn.log
Due: btest-command-commented

CI: Add python3-venv to all of the Ubuntu/Debian dockerfiles
  .circleci/builds.yml
  ci/debian-12/Dockerfile
  ci/debian-13/Dockerfile
  ci/debian-unstable/Dockerfile
  ci/ubuntu-22.04/Dockerfile
  ci/ubuntu-24.04/Dockerfile
  ci/ubuntu-26.04/Dockerfile
  doc/building-from-source.rst
Due: none

Bump `auxil/spicy/` to latest development snapshot
  testing/btest/Baseline/coverage.include-directory/..include-dir.out
Due: btest-command-commented

Introduce base/utils/batch-queue
  scripts/base/utils/batch-queue.zeek
Due: none

netcontrol: Add a basic pubsub plugin
  scripts/base/frameworks/netcontrol/plugins/__load__.zeek
  scripts/base/frameworks/netcontrol/plugins/pubsub.zeek
  testing/btest/Baseline/coverage.default-load-baseline/canonified_loaded_scripts.log
Due: btest-command-commented
