Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*|doc/devel/spicy/autogen/.*.spicy'

doc: add tunnel analyzer hierarchy design spec
  doc/specs/2026-08-27-tunnel-analyzer-hierarchy-design.md
Due: none

testing: add MPLS-in-GRE test for issue #5829
  testing/btest/Baseline/core.tunnels.gre-mpls/conn.log
  testing/btest/Baseline/core.tunnels.gre-mpls/tunnel.log
  testing/btest/Traces/tunnels/gre-mpls.pcap
  testing/btest/core/tunnels/gre-mpls.test
Due: btest-command-commented

packet_analysis: remove unused Packet tunnel fields
  src/iosource/Packet.cc
  src/iosource/Packet.h
  src/packet_analysis/protocol/ip/IP.cc
Due: license

packet_analysis: add IPInIPAnalyzer replacing IPTunnelAnalyzer for IP-in-IP
  scripts/base/packet-protocols/ip/main.zeek
  scripts/base/packet-protocols/ipinip/__load__.zeek
  scripts/base/packet-protocols/ipinip/main.zeek
  src/packet_analysis/protocol/ipinip/CMakeLists.txt
  src/packet_analysis/protocol/ipinip/IPInIP.cc
  src/packet_analysis/protocol/ipinip/IPInIP.h
  src/packet_analysis/protocol/ipinip/Plugin.cc
Due: license

testing: update baselines for tunnel analyzer refactoring
  testing/btest/Baseline/core.ip-broken-header/mpls-6in6-broken-wierd.log
  testing/btest/Baseline/core.truncation/output
  testing/btest/Baseline/core.tunnels.gre-in-gre-min-depth/weird.log
  testing/btest/Baseline/core.tunnels.ip-in-ip-version/output
  testing/btest/Baseline/coverage.bare-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.default-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.include-directory/..include-dir.out
  testing/btest/Baseline/plugins.hooks/output
Due: btest-command-commented

packet_analysis: migrate session-based tunnels to SessionTunnelAnalyzer
  src/packet_analysis/protocol/ayiya/AYIYA.cc
  src/packet_analysis/protocol/ayiya/AYIYA.h
  src/packet_analysis/protocol/geneve/Geneve.cc
  src/packet_analysis/protocol/geneve/Geneve.h
  src/packet_analysis/protocol/gtpv1/GTPv1.cc
  src/packet_analysis/protocol/gtpv1/GTPv1.h
  src/packet_analysis/protocol/teredo/Teredo.cc
  src/packet_analysis/protocol/teredo/Teredo.h
  src/packet_analysis/protocol/vxlan/VXLAN.cc
  src/packet_analysis/protocol/vxlan/VXLAN.h
Due: license

Don't process non-multicast traffic from mDNS/LLMNR as DNS
  src/analyzer/protocol/dns/DNS.cc
Due: license

Remove unnecessary Event.h include from DNS.cc
  src/analyzer/protocol/dns/DNS.cc
Due: license

Adjust btest directory and file ignore lists
  testing/btest/btest.cfg
Due: btest-command-commented

Disallow Broker's identifier updates on const globals and options
  NEWS
  src/broker/Manager.cc
  testing/btest/Baseline/broker.remote_id/recv..stderr
  testing/btest/Baseline/broker.remote_id/recv.recv.out
  testing/btest/broker/remote_id.zeek
Due: license, btest-command-commented

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/reference/zeekscript/autogenerated-protocol-analyzer-index.rst
  doc/scripts/base/files/x509/certificate-event-cache.zeek.rst
  doc/scripts/base/files/x509/main.zeek.rst
  doc/scripts/base/frameworks/broker/main.zeek.rst
  doc/scripts/base/frameworks/cluster/main.zeek.rst
  doc/scripts/base/frameworks/cluster/pools.zeek.rst
  doc/scripts/base/frameworks/cluster/telemetry.zeek.rst
  doc/scripts/base/frameworks/intel/main.zeek.rst
  doc/scripts/base/frameworks/logging/main.zeek.rst
  doc/scripts/base/frameworks/logging/writers/ascii.zeek.rst
  doc/scripts/base/frameworks/software/main.zeek.rst
  doc/scripts/base/frameworks/supervisor/control.zeek.rst
  doc/scripts/base/init-bare.zeek.rst
  doc/scripts/base/protocols/smb/consts.zeek.rst
  doc/scripts/base/protocols/ssl/main.zeek.rst
  doc/scripts/policy/frameworks/cluster/backend/zeromq/index.rst
  doc/scripts/policy/frameworks/cluster/backend/zeromq/options.zeek.rst
  doc/scripts/policy/frameworks/management/config.zeek.rst
  doc/scripts/policy/frameworks/management/request.zeek.rst
  doc/scripts/policy/protocols/conn/known-hosts.zeek.rst
  doc/scripts/policy/protocols/conn/known-services.zeek.rst
  doc/scripts/policy/protocols/ssl/known-certs.zeek.rst
  doc/scripts/policy/protocols/ssl/validate-certs.zeek.rst
Due: none

Func: Add get_current_script_location()
  src/Func.cc
  src/Func.h
Due: license

Func/render_call_stack: Support skipping args rendering
  src/Func.cc
  src/Func.h
Due: license

Revert "CI: Add python3-venv to all of the Ubuntu/Debian dockerfiles"
  ci/debian-12/Dockerfile
  ci/debian-13/Dockerfile
  ci/debian-unstable/Dockerfile
  ci/ubuntu-22.04/Dockerfile
  ci/ubuntu-24.04/Dockerfile
  ci/ubuntu-26.04/Dockerfile
  doc/building-from-source.rst
Due: none

Revert "Fix missing python3-venv in a few builds"
  docker/builder.Dockerfile
Due: none

Dict: Include better location info for distance-too-far error
  src/Dict.h
Due: license

Dict: Switch location info to get_current_script_location() or no_location
  src/Dict.h
Due: license

README.md: Fix build status badge
  README.md
Due: none

Merge remote-tracking branch 'origin/topic/awelzel/revert-python-venv-dependency-additons'
  CHANGES
  VERSION
  ci/debian-12/Dockerfile
  ci/debian-13/Dockerfile
  ci/debian-unstable/Dockerfile
  ci/ubuntu-22.04/Dockerfile
  ci/ubuntu-24.04/Dockerfile
  ci/ubuntu-26.04/Dockerfile
  doc/building-from-source.rst
  docker/builder.Dockerfile
Due: none

Fix flaky timing test (hopefully)
  testing/btest/Baseline/javascript.log-delay/.stdout
  testing/btest/javascript/log-delay.js
Due: btest-command-commented

Disable Broker's identifier updates by default
  NEWS
  scripts/base/frameworks/broker/main.zeek
  scripts/policy/frameworks/control/controller.zeek
  src/broker/Manager.cc
  src/broker/Manager.h
  testing/btest/Baseline/broker.remote_id-2/recv..stderr
  testing/btest/Baseline/broker.remote_id-2/recv..stdout
  testing/btest/Baseline/broker.remote_id-2/send..stderr
  testing/btest/Baseline/broker.remote_id-2/send..stdout
  testing/btest/Baseline/broker.remote_id-3/recv..stderr
  testing/btest/Baseline/broker.remote_id-3/recv..stdout
  testing/btest/Baseline/broker.remote_id-3/send..stderr
  testing/btest/Baseline/broker.remote_id-3/send..stdout
  testing/btest/Baseline/broker.remote_id/recv..stderr
  testing/btest/Baseline/broker.remote_id/recv..stdout
  testing/btest/Baseline/broker.remote_id/send..stderr
  testing/btest/Baseline/broker.remote_id/send..stdout
  testing/btest/broker/remote_id.zeek
  testing/btest/cluster/websocket/broker/match-all-subscription.zeek
  testing/btest/scripts/base/frameworks/control/configuration_update.zeek
Due: license, btest-command-commented

Fix version tag in docs script for release/9.0
  doc/conf.py
Due: none

Merge branch 'topic/christian/5833-disable-broker-identifier-updates'
  CHANGES
  NEWS
  VERSION
  doc/scripts/base/frameworks/broker/main.zeek.rst
  scripts/base/frameworks/broker/main.zeek
  scripts/policy/frameworks/control/controller.zeek
  src/broker/Manager.cc
  src/broker/Manager.h
  testing/btest/Baseline/broker.remote_id-2/recv..stderr
  testing/btest/Baseline/broker.remote_id-2/recv..stdout
  testing/btest/Baseline/broker.remote_id-2/send..stderr
  testing/btest/Baseline/broker.remote_id-2/send..stdout
  testing/btest/Baseline/broker.remote_id-3/recv..stderr
  testing/btest/Baseline/broker.remote_id-3/recv..stdout
  testing/btest/Baseline/broker.remote_id-3/send..stderr
  testing/btest/Baseline/broker.remote_id-3/send..stdout
  testing/btest/Baseline/broker.remote_id/recv..stderr
  testing/btest/Baseline/broker.remote_id/recv..stdout
  testing/btest/Baseline/broker.remote_id/send..stderr
  testing/btest/Baseline/broker.remote_id/send..stdout
  testing/btest/broker/remote_id.zeek
  testing/btest/cluster/websocket/broker/match-all-subscription.zeek
  testing/btest/scripts/base/frameworks/control/configuration_update.zeek
Due: license, btest-command-commented

Func/render_call_stack: Avoid null dereferences for global statements
  src/Func.cc
Due: license

Document Zeek security model
  SECURITY.md
  SECURITY_MODEL.md
  doc/security-considerations.rst
Due: none

GHCI: Skip builds for branches on changing Markdown files and NEWS
  .github/workflows/check.yml
Due: none

Clarify AI-assisted contribution guidance
  AGENTS.md
Due: none

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/scripts/base/frameworks/broker/main.zeek.rst
Due: none

btest/broker/remote_id: Remove Broker::PEER_UNAVAILABLE errors from stderr
  testing/btest/broker/remote_id.zeek
Due: btest-command-commented

Modernize ReaderFrontend::name to std::string
  src/input/ReaderFrontend.cc
  src/input/ReaderFrontend.h
Due: license

ldap: Fix AbandonRequest using implicit tagging
  src/analyzer/protocol/ldap/ldap.spicy
  testing/btest/Baseline/scripts.base.protocols.ldap.abandon/conn.log
  testing/btest/Baseline/scripts.base.protocols.ldap.abandon/ldap.log
  testing/btest/Baseline/scripts.base.protocols.ldap.abandon/ldap_search.log
  testing/btest/Traces/ldap/ldap-abandon.pcap
  testing/btest/Traces/ldap/ldap-abandon.py
  testing/btest/scripts/base/protocols/ldap/abandon.zeek
Due: license, btest-command-commented

ldap: Fix DelRequest using implicit tagging
  src/analyzer/protocol/ldap/ldap.spicy
  testing/btest/Baseline/scripts.base.protocols.ldap.delete/conn.log
  testing/btest/Baseline/scripts.base.protocols.ldap.delete/ldap.log
  testing/btest/Baseline/scripts.base.protocols.ldap.delete/ldap_search.log
  testing/btest/Traces/ldap/ldap-delete.pcap
  testing/btest/Traces/ldap/ldap-delete.py
  testing/btest/scripts/base/protocols/ldap/delete.zeek
Due: license, btest-command-commented

btest/Traces: Use Scapy for new ldap generator scripts
  testing/btest/Traces/ldap/ldap-abandon.pcap
  testing/btest/Traces/ldap/ldap-abandon.pcap.py
  testing/btest/Traces/ldap/ldap-delete.pcap
  testing/btest/Traces/ldap/ldap-delete.pcap.py
Due: btest-command-commented

Use regular Dockerfile instead of shell-orchestrated build pipeline
  .circleci/builds.yml
  docker/Dockerfile
  docker/Makefile
  docker/builder.Dockerfile
Due: none

vector: Fix OOB assignment leading to crash in VectorVal::Assign
  src/Val.cc
  src/Val.h
  src/script_opt/ZAM/ZBody.cc
  testing/btest/Baseline/language.vector-assign-oob/out
  testing/btest/language/vector-assign-oob.zeek
Due: license, btest-command-commented

TCPSessionAdapter: Schedule ResetTimer() independent of connection_reset
  src/packet_analysis/protocol/tcp/TCPSessionAdapter.cc
  testing/btest/Baseline/core.tcp.fin-rst-timeout/conn.log
  testing/btest/Baseline/core.tcp.fin-rst-timeout/out
  testing/btest/core/tcp/fin-rst-timeout.zeek
Due: license, btest-command-commented

Timer: Report zero lag when no timers were expired
  src/Timer.cc
Due: license

netcontrol: Pass PluginState when publishing rule_error
  scripts/base/frameworks/netcontrol/cluster.zeek
  testing/btest/Baseline/scripts.base.frameworks.netcontrol.rule-error-cluster/worker-1..stdout
  testing/btest/scripts/base/frameworks/netcontrol/rule-error-cluster.zeek
Due: btest-command-commented

Add ankerl::unordered_dense and plf::hive
  src/3rdparty/ankerl/stl.h
  src/3rdparty/ankerl/unordered_dense.h
  src/3rdparty/plf_hive.h
Due: license

Replace Dict.h internals with plf::hive + ankerl::unordered_dense
  src/Dict.cc
  src/Dict.h
Due: license
