Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

license:
  name: Check for license headers
  entry: ./ci/license-header.py
  language: python

btest-command-commented:
  name: Check that all BTest command lines are commented out
  entry: ^\s*@TEST-
  language: pygrep

Introduce detail::ZValCallback
  src/ZValCallback.h
Due: license

Val: Make ZValElement aware of ZValElementCallback
  src/Val.h
Due: license

Attr: Introduce &volatile
  scripts/base/init-bare.zeek
  src/Attr.cc
  src/Attr.h
  src/parse.y
  src/scan.l
Due: license

RecordVal: Add AssignCallback() and extend GetField() for callbacks
  src/Val.cc
  src/Val.h
Due: license

analyzer/ConnSize: Add accessors for bytes and packets
  src/analyzer/protocol/conn-size/ConnSize.h
Due: license

Session: Deprecate SetStartTime()
  src/session/Session.h
Due: license

Conn: Make connection history and duration callback based
  src/Conn.cc
  src/Conn.h
Due: license

logging/Manager: warn on callback fields
  src/logging/Manager.cc
Due: license

btest/opt: Disable ZAM smoke test
  testing/btest/opt/basic.zeek
Due: btest-command-commented

btest: Add tests for connection$endpoint updates and various Baseline updates
  testing/btest/Baseline/core.conn-size-endpoint-update-timer/out
  testing/btest/Baseline/core.conn-size-endpoint-update/out
  testing/btest/Baseline/plugins.hooks/output
  testing/btest/Baseline/scripts.base.protocols.mount.basic/.stdout
  testing/btest/Baseline/scripts.base.protocols.nfs.basic/.stdout
  testing/btest/Baseline/scripts.base.protocols.postgresql.dump-events/output
  testing/btest/Baseline/scripts.policy.misc.dump-events/all-events.log
  testing/btest/Baseline/scripts.policy.misc.dump-events/really-all-events.log
  testing/btest/Baseline/scripts.policy.misc.dump-events/smtp-events.log
  testing/btest/Traces/tcp/synack.pcap
  testing/btest/core/conn-size-endpoint-update-timer.zeek
  testing/btest/core/conn-size-endpoint-update.zeek
Due: btest-command-commented

analyzer/ConnSize: Use ZValCallback for up-to-date num_pkts and num_bytes_ip
  src/analyzer/protocol/conn-size/ConnSize.cc
  src/analyzer/protocol/conn-size/ConnSize.h
  src/analyzer/protocol/conn-size/Plugin.cc
Due: license

fixup! Conn: Make connection history and duration callback based
  src/Conn.cc
Due: license

Fix output of docs generation script to not mention zeek-docs
  ci/update-zeekygen-docs.sh
Due: none

Fix other external http links to https
  doc/cluster-setup.rst
  doc/cluster/pf_ring.rst
  doc/logs/smtp.rst
  doc/script-reference/types.rst
  doc/scripting/basics.rst
Due: none

Regenerate docs with src and script changes
  doc/script-reference/autogenerated-packet-analyzer-index.rst
  doc/script-reference/autogenerated-protocol-analyzer-index.rst
  doc/scripts/base/bif/plugins/Zeek_ARP.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_BitTorrent.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_DNS.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_FTP.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_Gnutella.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_HTTP.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_ICMP.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_IRC.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_Ident.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_KRB.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_Login.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_MIME.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_MySQL.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_NCP.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_NTP.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_NetBIOS.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_POP3.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_RADIUS.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_RPC.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_SIP.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_SMB.smb1_events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_SMB.smb2_events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_SMTP.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_SSL.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_X509.events.bif.zeek.rst
  doc/scripts/base/bif/strings.bif.zeek.rst
  doc/scripts/base/bif/zeek.bif.zeek.rst
  doc/scripts/base/init-bare.zeek.rst
  doc/scripts/base/protocols/finger/spicy-events.zeek.rst
  doc/scripts/base/protocols/syslog/spicy-events.zeek.rst
  doc/scripts/policy/protocols/ssl/heartbleed.zeek.rst
  doc/scripts/zeekygen/example.zeek.rst
  doc/scripts/zeekygen/index.rst
Due: none

Update some btest baselines due to http/https changes
  testing/btest/Baseline/doc.zeekygen.example/example.rst
  testing/btest/Baseline/doc.zeekygen.package/test.rst
  testing/btest/Baseline/doc.zeekygen.script_summary/test.rst
Due: btest-command-commented

KRB: Use krb5_build_principal() over krb5_sname_to_principal()
  src/analyzer/protocol/krb/KRB.cc
  src/analyzer/protocol/krb/KRB.h
  src/analyzer/protocol/krb/KRB_TCP.h
  src/analyzer/protocol/krb/krb-analyzer.pac
Due: license

Remove doc submodule
  .gitmodules
Due: none

Adapt the github docs generation workflow for the move
  .github/workflows/generate-docs.yml
Due: none

Move the readthedocs config to the main directory
  .readthedocs.yml
  doc/.readthedocs.yml
Due: none

Run pre-commit on the imported docs files
  .pre-commit-config.yaml
  doc/conf.py
  doc/devel/spicy/autogen-spicy-docs
  doc/ext/literal-emph.py
  doc/ext/spicy-pygments.py
  doc/ext/zeek.py
  doc/ext/zeek_pygments.py
  doc/frameworks/packet-analysis-2-llc.cc
Due: license

Update spicy autogen docs based on repo changes
  .pre-commit-config.yaml
  doc/devel/spicy/autogen/tftp-no-accept.spicy
  doc/devel/spicy/autogen/tftp.spicy
  doc/ext/spicy-pygments.py
Due: license

ZAM: Fix memory leak in Construct-Known-Record-With-Inits
  src/script_opt/ZAM/OPs/constructors.op
  src/script_opt/ZAM/ZInstAux.h
  testing/btest/Baseline/opt.opt-leak-field-init/out
  testing/btest/opt/opt-leak-field-init.zeek
Due: license, btest-command-commented

Bring in the initial tutorial
  doc/tutorial/intro-scripting.rst
  doc/tutorial/invoking-zeek.rst
  doc/tutorial/invoking-zeekctl.rst
  doc/tutorial/logs.rst
  doc/tutorial/setup.rst
  doc/tutorial/using-packages.rst
  doc/tutorial/zeek-frameworks.rst
Due: none

Run pre-commit on the imported docs files
  .pre-commit-config.yaml
  doc/devel/plugins/connkey-vxlan-fivetuple-plugin-src/CMakeLists.txt
  doc/devel/plugins/event-metadata-plugin-src/CMakeLists.txt
  doc/devel/spicy/autogen-spicy-docs
  doc/devel/spicy/examples/my-http.spicy
  doc/frameworks/packet-analysis-2-llc.cc
Due: license

Update spicy autogen docs based on repo changes
  doc/devel/spicy/autogen/tftp-no-accept.spicy
  doc/devel/spicy/autogen/tftp.spicy
Due: license

Remove extra calculate_unique_id method
  src/util.cc
  src/util.h
Due: license

Send correct value for `auth` from RFB analyzer
  scripts/base/protocols/rfb/main.zeek
  src/analyzer/protocol/rfb/rfb-analyzer.pac
Due: none

Change README.rst back to a symlink
  doc/README.rst
Due: none

Merge branch 'topic/christian/management-framework-tls'
  scripts/policy/frameworks/management/controller/config.zeek
  scripts/policy/frameworks/management/controller/main.zeek
  testing/external/commit-hash.zeek-testing-cluster
Due: none

btest/wstest: Improve hello_v1() and recv_until_timeout()
  testing/btest/Files/ws/wstest.py
Due: btest-command-commented

btest/broker: Use asyncio.run() in websocket tests
  testing/btest/broker/web-socket-events-metadata.zeek
  testing/btest/broker/web-socket-events.zeek
Due: btest-command-commented

Path conditions:
  license: any of: \.(h|c|cpp|cc|spicy|evt)$, but not: ^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*)$
  btest-command-commented: any of: ^testing/btest/.*$
