Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

license:
  name: Check for license headers
  entry: ./ci/license-header.py
  language: python

btest-command-commented:
  name: Check that all BTest command lines are commented out
  entry: ^\s*@TEST-
  language: pygrep

Sleep for a couple seconds to let redis-server to start up in btests
  testing/btest/scripts/base/frameworks/storage/redis/async-reading-pcap.zeek
  testing/btest/scripts/base/frameworks/storage/redis/async.zeek
  testing/btest/scripts/base/frameworks/storage/redis/auth.zeek
  testing/btest/scripts/base/frameworks/storage/redis/cluster.zeek
  testing/btest/scripts/base/frameworks/storage/redis/disconnect.zeek
  testing/btest/scripts/base/frameworks/storage/redis/erase.zeek
  testing/btest/scripts/base/frameworks/storage/redis/expiration.zeek
  testing/btest/scripts/base/frameworks/storage/redis/forced-sync.zeek
  testing/btest/scripts/base/frameworks/storage/redis/native-expiration.zeek
  testing/btest/scripts/base/frameworks/storage/redis/sync.zeek
Due: btest-command-commented

Update ZeekJS to v0.22.1
  NEWS
Due: none

Add maximum depth for recursive parsing of DNS compression chains
  scripts/base/init-bare.zeek
  src/NetVar.cc
  src/NetVar.h
  src/analyzer/protocol/dns/DNS.cc
  src/analyzer/protocol/dns/DNS.h
Due: license

testing/btest: Update ZAM baseline for wstunnel-configure-break
  CHANGES
  VERSION
  testing/btest/Baseline.zam/scripts.base.protocols.websocket.wstunnel-ssh-configure-break/conn.log
  testing/btest/Baseline.zam/scripts.base.protocols.websocket.wstunnel-ssh-configure-break/websocket.log
Due: btest-command-commented

Add limits to recursion in LDAP and ASN.1 parsers
  src/analyzer/protocol/ldap/asn1.spicy
  src/analyzer/protocol/ldap/ldap.spicy
  testing/btest/Baseline/scripts.base.protocols.ldap.asn1_max_recursion/debug-filtered.log
  testing/btest/Baseline/scripts.base.protocols.ldap.ldap_max_recursion/debug-filtered.log
  testing/btest/Traces/README
  testing/btest/Traces/ldap/asn1-max-recursion.pcap
  testing/btest/Traces/ldap/ldap-max-recursion.pcap
  testing/btest/scripts/base/protocols/ldap/asn1_max_recursion.zeek
  testing/btest/scripts/base/protocols/ldap/ldap_max_recursion.zeek
Due: license, btest-command-commented

Propagate failure in merge_list_types upward
  src/Type.cc
Due: license

cluster/zeromq: Add CURVE encryption support
  scripts/policy/frameworks/cluster/backend/zeromq/main.zeek
  src/cluster/backend/zeromq/ZeroMQ-Proxy.cc
  src/cluster/backend/zeromq/ZeroMQ-Proxy.h
  src/cluster/backend/zeromq/ZeroMQ.cc
  src/cluster/backend/zeromq/ZeroMQ.h
  src/cluster/backend/zeromq/cluster_backend_zeromq.bif
  testing/btest/Baseline/cluster.zeromq.logging-encryption/cluster.log.normalized
  testing/btest/Baseline/cluster.zeromq.logging-encryption/manager.out
  testing/btest/Baseline/cluster.zeromq.logging-encryption/node_up.sorted
  testing/btest/Baseline/cluster.zeromq.two-nodes-encryption/..manager.out
  testing/btest/Baseline/cluster.zeromq.two-nodes-encryption/..worker.out
  testing/btest/cluster/zeromq/logging-encryption.zeek
  testing/btest/cluster/zeromq/two-nodes-encryption.zeek
Due: license, btest-command-commented

cluster/zeromq: Add ZAP handler thread
  scripts/policy/frameworks/cluster/backend/zeromq/main.zeek
  src/cluster/backend/zeromq/CMakeLists.txt
  src/cluster/backend/zeromq/ZeroMQ-Proxy.cc
  src/cluster/backend/zeromq/ZeroMQ-Proxy.h
  src/cluster/backend/zeromq/ZeroMQ-ZAP.cc
  src/cluster/backend/zeromq/ZeroMQ-ZAP.h
  src/cluster/backend/zeromq/ZeroMQ.cc
  src/cluster/backend/zeromq/ZeroMQ.h
  testing/btest/Baseline/cluster.zeromq.two-nodes-encryption-wrong-client-publickey/worker.stderr
  testing/btest/cluster/zeromq/two-nodes-encryption-wrong-client-publickey.zeek
Due: license, btest-command-commented

cluster/zeromq: Implement monitoring_event() to check for handshake errors
  scripts/policy/frameworks/cluster/backend/zeromq/main.zeek
  src/cluster/backend/zeromq/ZeroMQ.cc
  src/cluster/backend/zeromq/ZeroMQ.h
  testing/btest/Baseline/cluster.zeromq.two-nodes-encryption-mismatch-2/worker.stderr
  testing/btest/Baseline/cluster.zeromq.two-nodes-encryption-mismatch/worker.stderr
  testing/btest/cluster/zeromq/two-nodes-encryption-mismatch-2.zeek
  testing/btest/cluster/zeromq/two-nodes-encryption-mismatch.zeek
Due: license, btest-command-commented

cluster/zeromq: Unmagicify tags used for BackendMessages
  src/cluster/backend/zeromq/ZeroMQ.cc
Due: license

cluster/zeromq: Allow CURVE keys via environment variables
  src/cluster/backend/zeromq/ZeroMQ.cc
  src/cluster/backend/zeromq/ZeroMQ.h
  testing/btest/Baseline/cluster.zeromq.encryption-config-error-script-environment/..manager.out
  testing/btest/Baseline/cluster.zeromq.encryption-config-error-script-environment/..worker.out
  testing/btest/Baseline/cluster.zeromq.encryption-config-error-script-environment/.stderr
  testing/btest/Baseline/cluster.zeromq.two-nodes-encryption-env/..manager.out
  testing/btest/Baseline/cluster.zeromq.two-nodes-encryption-env/..worker.out
  testing/btest/cluster/zeromq/encryption-config-error-script-environment.zeek
  testing/btest/cluster/zeromq/two-nodes-encryption-env.zeek
Due: license, btest-command-commented

doc/zeromq: Fix central proxy/broker scalability note
  doc/advanced/devel/cluster/backend/zeromq.rst
Due: none

doc/zeromq: Add a small note about encryption
  doc/advanced/devel/cluster/backend/zeromq.rst
Due: none

NEWS: Add entry about ZeroMQ CURVE encryption
  NEWS
Due: none

Update documentation of ssl_extension_signature_algorithm for TLS 1.3
  src/analyzer/protocol/ssl/events.bif
Due: none

Replace custom KeyLength calculation using OpenSSL function
  src/file_analysis/analyzer/x509/X509.cc
Due: license

Log OpenSSL provided X509 key type for unknown primary keys.
  src/file_analysis/analyzer/x509/X509.cc
Due: license

Switch docs link-check workflow to run monthly
  .github/workflows/docs-link-check.yml
Due: none

Only run link-checking on main zeek repo
  .github/workflows/docs-link-check.yml
Due: none

Revert "Only run link-checking on main zeek repo"
  .github/workflows/docs-link-check.yml
Due: none

CI: Install zeromq-devel on opensuse-leap-16.0
  ci/opensuse-leap-16.0/Dockerfile
Due: none

CI: Rename zeekctl and include-plugins builds
  .cirrus.yml
Due: none

CI: Install libsodium-devel on opensuse-leap-15.6
  ci/opensuse-leap-15.6/Dockerfile
Due: none

Use Redis RCE for tutorial so Zeek maintains it
  doc/tutorial/using-packages.rst
Due: none

Replace references to get.trace that was renamed to get.pcap
  doc/advanced/devel/plugins/connkey-plugin.rst
  doc/customizations.rst
  doc/frameworks/file-analysis.rst
  doc/reference/zeekscript/event-semantics.rst
  doc/traces/README
  doc/tutorial/scripting/javascript.rst
Due: none

Ignore a few docs links that return 403s
  doc/conf.py
Due: none

broker/cluster: Reporter::fatal() on store usage for non-Broker backends
  NEWS
  scripts/base/frameworks/broker/store.zeek
  scripts/base/frameworks/cluster/main.zeek
  src/cluster/Manager.cc
  src/cluster/Manager.h
  src/zeek-setup.cc
  testing/btest/Baseline/cluster.generic.store-errors-2/.stderr
  testing/btest/Baseline/cluster.generic.store-errors-3/.stderr
  testing/btest/Baseline/cluster.generic.store-errors/.stderr
  testing/btest/cluster/generic/store-errors.zeek
Due: license, btest-command-commented

testing/btest: Update ZAM baseline line numbers
  testing/btest/Baseline.zam/broker.store.create-failure/zeek.err
  testing/btest/Baseline.zam/cluster.websocket.listen-idempotent/.stderr
  testing/btest/Baseline.zam/cluster.websocket.tls-usage-error/.stderr
Due: btest-command-commented

cluster/zeromq: Fix string copy in lambda capture
  src/cluster/backend/zeromq/ZeroMQ.cc
Due: license

ci/tsan_suppressions: Ignore crypto_secretbox_open_detached()
  ci/tsan_suppressions.txt
Due: none

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/reference/zeekscript/autogenerated-protocol-analyzer-index.rst
  doc/scripts/base/bif/cluster.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_Cluster_Backend_ZeroMQ.cluster_backend_zeromq.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_Cluster_WebSocket.events.bif.zeek.rst
  doc/scripts/base/bif/store.bif.zeek.rst
  doc/scripts/base/frameworks/broker/store.zeek.rst
  doc/scripts/base/frameworks/cluster/main.zeek.rst
  doc/scripts/policy/frameworks/cluster/backend/zeromq/index.rst
  doc/scripts/policy/frameworks/cluster/backend/zeromq/main.zeek.rst
  doc/scripts/policy/protocols/conn/known-hosts.zeek.rst
  doc/scripts/policy/protocols/conn/known-services.zeek.rst
  doc/scripts/policy/protocols/ssl/known-certs.zeek.rst
Due: none

build: fix CPP code generation format string
  src/script_opt/CPP/Driver.cc
  testing/btest/opt/gen-cpp-basic.zeek
Due: license, btest-command-commented

build: enable MSVC exception handling for script_opt sources
  src/CMakeLists.txt
Due: none

build: fix MSVC plugin linking and JIT export generation
  src/CMakeLists.txt
  src/generate-jit-export-def.py
Due: none

spicy: fix hlto_scope symbol name mismatch across translation units
  testing/btest/spicy/hlto-scope-extern.spicy
Due: btest-command-commented

testing: clean up x509 cluster test directories before btest retry
  testing/btest/scripts/base/files/x509/log-caching-cluster-zeromq.test
  testing/btest/scripts/base/files/x509/log-caching-cluster.test
  testing/btest/scripts/base/files/x509/log-caching-disabled-cluster.test
Due: btest-command-commented

fix canonical path resolution fallback on Windows
  src/ScannedFile.cc
  testing/btest/core/load-nonexistent.zeek
Due: license, btest-command-commented

Path conditions:
  license: any of: \.(h|c|cpp|cc|spicy|evt)$, but not: ^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$
  btest-command-commented: any of: ^testing/btest/.*$
