Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

license:
  name: Check for license headers
  entry: ./ci/license-header.py
  language: python

btest-command-commented:
  name: Check that all BTest command lines are commented out
  entry: ^\s*@TEST-
  language: pygrep

src/3rdparty: Update doctest to v2.4.8
  src/3rdparty/doctest.h
Due: license

src/3rdparty: Handle zeek-inet-ntop snprintf() return value correctly
  src/3rdparty/zeek_inet_ntop.c
Due: license

src/3rdparty: Update doctest to 2.4.6.
  src/3rdparty/doctest.h
Due: license

src/3rdparty: Update doctest to v2.4.12
  src/3rdparty/doctest.h
Due: license

src/3rdparty: Move jthread/stop_token out of std namespace to prevent collisions
  src/3rdparty/jthread.hpp
  src/3rdparty/stop_token.hpp
Due: none

src/3rdparty: Fix clang-tidy bugprone-casting-through-void warning
  src/3rdparty/in_cksum.cc
Due: license

src/3rdparty: Port doctest fix for including <ciso646> from upstream
  src/3rdparty/doctest.h
Due: license

Ignore src/3rdparty for pre-commit
  .pre-commit-config.yaml
Due: none

src/3rdparty: Add jthread and stop_token headers
  src/3rdparty/jthread.hpp
  src/3rdparty/stop_token.hpp
Due: none

Remove doc submodule
  .gitmodules
Due: none

Run pre-commit on the imported docs files
  .pre-commit-config.yaml
  doc/.typos.toml
  doc/devel/plugins/connkey-vxlan-fivetuple-plugin-src/CMakeLists.txt
  doc/devel/plugins/event-metadata-plugin-src/CMakeLists.txt
  doc/devel/spicy/autogen-spicy-docs
  doc/devel/spicy/autogen/tftp-no-accept.spicy
  doc/devel/spicy/autogen/tftp.spicy
  doc/devel/spicy/autogen/zeek-functions.spicy
  doc/devel/spicy/examples/my-http.spicy
  doc/frameworks/packet-analysis-2-llc.cc
Due: license

Re-run autogen-spicy-docs, but disable spicy-format for output
  .pre-commit-config.yaml
  doc/devel/spicy/autogen/tftp-no-accept.spicy
  doc/devel/spicy/autogen/zeek-functions.spicy
Due: license

Move readthedocs.yml file out of docs into main directory
  .readthedocs.yml
  doc/.readthedocs.yml
Due: none

Adapt docs github workflow to remove zeek-docs submodule
  .github/workflows/generate-docs.yml
Due: none

Return an error if script tracing/debugger arguments are passed to non-debug builds
  src/Options.cc
Due: license

Disable script tracing on non-debug builds
  src/Debug.h
Due: license

Wrap handling of g_frame_stack in checks for DEBUG
  src/Func.cc
  src/zeek-setup.cc
Due: license

Disable Stmt hooks for the built-in debugger if not a debug build
  src/Stmt.cc
Due: license

fixup! Return an error if script tracing/debugger arguments are passed to non-debug builds
  testing/btest/spicy/file-analyzer-nested.zeek
Due: btest-command-commented

iosource/Packet: Allow ToRawPktHdrVal() for reassembled packets
  src/iosource/Packet.cc
  testing/btest/Baseline/bifs.get_current_packet_header_fragmented_syn/output
  testing/btest/Traces/ipv4/fragmented-syn.pcap
  testing/btest/bifs/get_current_packet_header_fragmented_syn.zeek
Due: license, btest-command-commented

fixes for the fact that Spicy event handlers start off with a null type
  src/script_opt/CPP/RuntimeInitSupport.cc
Due: license

Remove devel/spicy/autogen/tftp-no-accept.spicy
  doc/devel/spicy/autogen-spicy-docs
  doc/devel/spicy/autogen/tftp-no-accept.spicy
Due: license

Remove some additional LibreSSL checks
  src/digest.cc
  src/file_analysis/analyzer/x509/X509.cc
  src/file_analysis/analyzer/x509/X509.h
  src/file_analysis/analyzer/x509/functions.bif
Due: license

Remove checks for OpenSSL 1.x versions
  src/OpaqueVal.cc
  src/digest.cc
  src/file_analysis/analyzer/x509/OCSP.cc
  src/file_analysis/analyzer/x509/X509.cc
  src/file_analysis/analyzer/x509/X509.h
  src/file_analysis/analyzer/x509/functions.bif
  src/zeek-setup.cc
Due: license

fixes for globals in initialization expressions - still has vestigial late-build of globals
  src/script_opt/CPP/Consts.h
  src/script_opt/CPP/Driver.cc
  src/script_opt/CPP/Exprs.cc
  src/script_opt/CPP/Exprs.h
  src/script_opt/CPP/Inits.cc
  src/script_opt/CPP/Inits.h
  src/script_opt/CPP/InitsInfo.cc
  src/script_opt/CPP/InitsInfo.h
  src/script_opt/IDOptInfo.cc
  src/script_opt/IDOptInfo.h
Due: license

Remove SMB_time and SMB_date record types
  src/analyzer/protocol/smb/smb-time.pac
  src/analyzer/protocol/smb/smb1-com-query-information.pac
Due: none

SMB: Init lanman time and set TZ correctly before calling mktime
  src/analyzer/protocol/smb/smb-time.pac
  src/analyzer/protocol/smb/smb1-com-negotiate.pac
  testing/btest/Baseline/scripts.base.protocols.smb.smb1-negotiate-lanman/out
  testing/btest/Traces/README
  testing/btest/Traces/smb/cifs_negotiate_lanman.pcap
  testing/btest/scripts/base/protocols/smb/smb1-negotiate-lanman.zeek
Due: btest-command-commented

fixes for globals in initialization expressions - still has vestigial late-build of globals
  src/script_opt/CPP/Driver.cc
  src/script_opt/CPP/Exprs.cc
  src/script_opt/CPP/Vars.cc
  src/script_opt/CPP/Vars.h
Due: license

suppress complaints about unused functions/events/hooks
  src/script_opt/CPP/RuntimeInits.cc
Due: license

importing fix for redeclaring variables
  src/Var.cc
Due: license

revised fix
  src/Var.cc
  testing/btest/language/redeclaration-redefinition-errors.zeek
Due: license, btest-command-commented

fixes for re-declaring type identifiers in inconsistent ways - addresses GH-2686
  src/Var.cc
  testing/btest/Baseline/language.redeclaration-redefinition-errors-12/out
  testing/btest/Baseline/language.redeclaration-redefinition-errors-13/out
  testing/btest/language/redeclaration-redefinition-errors.zeek
Due: license, btest-command-commented

Modifiable: No virtual destructor
  src/Notifier.cc
  src/Notifier.h
  src/Val.cc
Due: license

RecordVal: Use const pointer in parse_time_records
  src/Val.h
Due: license

Val: Introduce ZValSlot
  src/Val.cc
  src/Val.h
Due: license

RecordVal: Use ZValSlot for fields
  src/Val.cc
  src/Val.h
Due: license

RecordVal: Remove rt member
  src/Val.cc
  src/Val.h
Due: license

Path conditions:
  license: any of: \.(h|c|cpp|cc|spicy|evt)$, but not: ^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*)$
  btest-command-commented: any of: ^testing/btest/.*$
