Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

license:
  name: Check for license headers
  entry: ./ci/license-header.py
  language: python

btest-command-commented:
  name: Check that all BTest command lines are commented out
  entry: ^\s*@TEST-
  language: pygrep

Avoid some string copies in IRC analyzer
  src/analyzer/protocol/irc/IRC.cc
Due: license

conn_key/fivetuple: Handle one-way ICMP conns in DoConnKeyFromVal()
  src/packet_analysis/protocol/ip/conn_key/fivetuple/Factory.cc
  testing/btest/Baseline/bifs.icmp_connection_exists/.stderr
  testing/btest/bifs/icmp_connection_exists.zeek
Due: license, btest-command-commented

Optimize Conn::set_conn to minimize operations
  scripts/base/protocols/conn/main.zeek
  testing/btest/Baseline/core.local-flip/conn.log
  testing/btest/Baseline/plugins.hooks/output
  testing/btest/Baseline/scripts.base.protocols.http.flip-content-line-orig/conn.log.cut
  testing/btest/Baseline/scripts.base.protocols.http.flip-content-line-orig/files.log.cut
  testing/btest/Baseline/scripts.base.protocols.http.flip-content-line-orig/http.log.cut
  testing/btest/Traces/http/zeek-image-post-1080-8000-x.pcap
  testing/btest/core/history-flip.zeek
  testing/btest/core/local-flip.zeek
Due: btest-command-commented

Move Conn::set_conn() from connection_state_remove to new_connection
  scripts/base/protocols/conn/main.zeek
  scripts/policy/protocols/conn/community-id-logging.zeek
  scripts/policy/protocols/conn/failed-service-logging.zeek
  scripts/policy/protocols/conn/ip-proto-name-logging.zeek
  scripts/policy/protocols/conn/pppoe-session-id-logging.zeek
  testing/btest/Baseline.zam/scripts.policy.misc.dump-events/all-events-no-args.log
  testing/btest/Baseline.zam/scripts.policy.misc.dump-events/all-events.log
  testing/btest/Baseline.zam/scripts.policy.misc.dump-events/really-all-events.log
  testing/btest/Baseline.zam/scripts.policy.misc.dump-events/smtp-events.log
  testing/btest/Baseline/core.pbb/conn.log
  testing/btest/Baseline/plugins.hooks/output
  testing/btest/Baseline/scripts.base.frameworks.logging.field-extension-complex/conn.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-extension-include-exclude/conn-exc.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-extension-include-exclude/conn-inc.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-extension-optional/conn.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-extension/conn.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-name-map/conn.log
  testing/btest/Baseline/scripts.base.frameworks.logging.scope_sep/conn.log
  testing/btest/Baseline/scripts.base.frameworks.logging.scope_sep_and_field_name_map/conn.log
  testing/btest/Baseline/scripts.base.frameworks.netcontrol.packetfilter/conn.log
  testing/btest/Baseline/scripts.base.protocols.pop3.basic/conn.log
  testing/btest/Baseline/scripts.policy.misc.dump-events/all-events-no-args.log
  testing/btest/Baseline/scripts.policy.misc.dump-events/all-events.log
  testing/btest/Baseline/scripts.policy.misc.dump-events/really-all-events.log
  testing/btest/Baseline/scripts.policy.misc.dump-events/smtp-events.log
  testing/btest/Baseline/scripts.policy.protocols.conn.mac-logging/conn1.log
Due: btest-command-commented

Fix parsing of EDNS rcode
  src/analyzer/protocol/dns/DNS.cc
  testing/btest/Baseline/scripts.base.protocols.dns.edns-rcode/output
  testing/btest/Traces/dns/dns_extended_rcode.pcap
  testing/btest/scripts/base/protocols/dns/edns-rcode.zeek
Due: license, btest-command-commented

ID: Add conn_id_ctx
  src/ID.cc
  src/ID.h
  src/packet_analysis/protocol/ip/conn_key/vlan_fivetuple/Factory.cc
Due: license

Conn: Add InitPostScript() and conn_id_ctx singleton
  src/Conn.cc
  src/Conn.h
  src/zeek-setup.cc
Due: license

Conn: Use conn_id_ctx singleton
  src/Conn.cc
Due: license

Add process_start_time_seconds and process_pid metrics
  src/telemetry/Manager.cc
  src/telemetry/Manager.h
  testing/btest/Baseline/scripts.base.frameworks.telemetry.process-collect/out
Due: license, btest-command-commented

Remove zeek::Span and use std::span instead
  src/Span.h
  src/broker/Manager.h
  src/broker/messaging.bif
  src/cluster/Backend.cc
  src/cluster/Backend.h
  src/cluster/BifSupport.cc
  src/cluster/BifSupport.h
  src/cluster/Serializer.h
  src/cluster/Telemetry.cc
  src/cluster/Telemetry.h
  src/cluster/serializer/binary-serialization-format/Serializer.cc
  src/cluster/serializer/binary-serialization-format/Serializer.h
  src/logging/WriterBackend.cc
  src/logging/WriterBackend.h
  src/logging/WriterFrontend.cc
  src/packet_analysis/Manager.cc
  src/packet_analysis/Manager.h
  src/packet_analysis/protocol/geneve/Geneve.cc
  src/packet_analysis/protocol/geneve/Geneve.h
  src/packet_analysis/protocol/geneve/functions.bif
  src/telemetry/Counter.cc
  src/telemetry/Counter.h
  src/telemetry/Gauge.cc
  src/telemetry/Gauge.h
  src/telemetry/Histogram.cc
  src/telemetry/Histogram.h
  src/telemetry/Manager.cc
  src/telemetry/Manager.h
  src/telemetry/MetricFamily.h
  src/telemetry/Utils.cc
  src/telemetry/Utils.h
  src/telemetry/telemetry_functions.bif
  src/util-types.h
Due: license

RecordType: Allow field init deferral of deferrable record constructors
  src/Type.cc
Due: license

dce-rpc: Make named_pipe filed docs extensive
  scripts/base/protocols/dce-rpc/main.zeek
Due: none

Add ODesc::Size() that returns size_t, deprecate ODesc::Len()
  src/Desc.cc
  src/Desc.h
  src/Expr.cc
  src/OpaqueVal.cc
  src/Stmt.cc
  src/Val.cc
  src/logging/writers/ascii/Ascii.cc
  src/logging/writers/sqlite/SQLite.cc
  src/script_opt/ZAM/BuiltInSupport.h
  src/script_opt/ZAM/Support.cc
  src/strings.bif
  src/zeek.bif
Due: license

Use size_t for byte sizes in SerializationFormat
  src/SerializationFormat.cc
  src/SerializationFormat.h
Due: license

Move ID::type in structure to fill memory padding
  src/ID.h
Due: license

Lazily allocate the map of option handlers in ID objects
  src/ID.cc
  src/ID.h
Due: license

Added skkippedPacket hook to capture skipped packets during analysis
  src/analyzer/Analyzer.cc
  src/analyzer/Analyzer.h
  src/packet_analysis/protocol/icmp/ICMP.cc
  src/packet_analysis/protocol/tcp/TCP.cc
  src/packet_analysis/protocol/tcp/TCPSessionAdapter.cc
  src/packet_analysis/protocol/tcp/TCPSessionAdapter.h
  src/packet_analysis/protocol/udp/UDP.cc
Due: license

Add constants for limiting string/container output in logs
  scripts/base/init-bare.zeek
  src/NetVar.cc
  src/NetVar.h
Due: license

Implement string- and container-length filtering at the log record level
  src/logging/Manager.cc
  src/logging/Manager.h
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting/container-field-elements.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting/container-total-length-1.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting/container-total-length-2.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting/string-field-length.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting/string-total-length-1.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting/string-total-length-2.log
  testing/btest/scripts/base/frameworks/logging/field-length-limiting.zeek
  testing/btest/scripts/base/frameworks/logging/length-checking.zeek
Due: license, btest-command-commented

Expand coverage of IRC analyzer with more commands
  testing/btest/Baseline/scripts.base.protocols.irc.events/.stdout
  testing/btest/Baseline/scripts.base.protocols.irc.events/output
  testing/btest/Traces/irc-more-commands.trace
  testing/btest/scripts/base/protocols/irc/events.test
Due: btest-command-commented

Add support for ircv3 tags
  src/analyzer/protocol/irc/IRC.cc
  testing/btest/Baseline/core.conn-size-threshold/.stdout
  testing/btest/Baseline/scripts.base.frameworks.file-analysis.irc/out
  testing/btest/Baseline/scripts.base.frameworks.file-analysis.irc/thefile
  testing/btest/Baseline/scripts.base.protocols.conn.new_connection_contents/.stdout
  testing/btest/Baseline/scripts.base.protocols.conn.threshold/.stdout
  testing/btest/Baseline/scripts.base.protocols.irc.basic/conn.log
  testing/btest/Baseline/scripts.base.protocols.irc.basic/irc.log
  testing/btest/Baseline/scripts.base.protocols.irc.basic/out
  testing/btest/Baseline/scripts.base.protocols.irc.events/.stdout
  testing/btest/Traces/irc-dcc-send.trace
Due: license, btest-command-commented

RecordType: Allow deferring &default=vector(), set(), table() fields
  src/Type.cc
  testing/btest/Baseline/language.delete-field-set/output
Due: license, btest-command-commented

RecordVal: Use struct instead of std::optional
  src/EventTrace.cc
  src/Val.cc
  src/Val.h
  src/logging/Manager.cc
  testing/btest/Baseline/language.delete-field-set/output
Due: license, btest-command-commented

RecordVal: Remove rt and is_managed fields
  src/Val.cc
  src/Val.h
Due: license

RecordVal: Switch to custom vector
  src/Val.cc
  src/Val.h
Due: license

Modifiable: No virtual destructor
  src/Notifier.cc
  src/Notifier.h
  src/Val.cc
Due: license

RecordVal: Avoid usage of RecordType::IsManaged()
  src/Val.cc
  src/Val.h
Due: license

Avoid Ref() / Unref() for RecordType access
  src/Val.cc
  src/Val.h
Due: license

btest: &default runs after delete
  testing/btest/Baseline/language.delete-field-set/output
Due: btest-command-commented

RecordVal:GetRecordType: Avoid AsRecordType()
  src/Val.h
Due: license

fixup! RecordVal: Use struct instead of std::optional
  src/Val.cc
  src/Val.h
Due: license

script_opt: Try updating, failure :-(
  src/script_opt/CPP/RuntimeOps.h
  src/script_opt/ZAM/OPs/constructors.op
  src/script_opt/ZAM/OPs/non-uniform.op
  testing/btest/opt/basic.zeek
  testing/btest/opt/regress-any.zeek
Due: license, btest-command-commented

script optimization adjustments for introduction of RecordValSlot
  src/Val.h
  src/script_opt/CPP/RuntimeOps.h
  src/script_opt/ZAM/OPs/constructors.op
  src/script_opt/ZAM/OPs/macros.op
Due: license

initial analysis working
  src/Stmt.cc
  src/script_opt/CPP/Driver.cc
  src/script_opt/ProfileFunc.cc
  src/script_opt/ProfileFunc.h
Due: license

Path conditions:
  license: any of: \.(h|c|cpp|cc|spicy|evt)$, but not: ^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*)$
  btest-command-commented: any of: ^testing/btest/.*$
