Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*'

Move UID pool constants to UID.h
  src/UID.h
  src/util.h
Due: license

Make unique_id bifs use UID instead of calling calculate_unique_id directly
  src/NetVar.cc
  src/zeek.bif
  testing/btest/Baseline/bifs.unique_id/out
  testing/btest/Baseline/cluster.zeromq.ipv6-logging/cluster.log.normalized
  testing/btest/Baseline/cluster.zeromq.logging/cluster.log.normalized
  testing/btest/Baseline/cluster.zeromq.manager-is-logger/cluster.log.normalized
  testing/btest/Baseline/cluster.zeromq.supervisor-runs-zmq-proxy/supervisor.cluster.log
  testing/btest/Baseline/cluster.zeromq.supervisor/supervisor.cluster.log
  testing/btest/Baseline/core.seed/output
  testing/external/commit-hash.zeek-testing
  testing/external/commit-hash.zeek-testing-private
Due: license, btest-command-commented

Fix a potential use-after-free in script_opt
  src/script_opt/Expr.cc
Due: license

Add versions of IfStmt and StmtList for use in debugger
  src/Stmt.cc
  src/Stmt.h
  src/parse.y
Due: license

Clean up initialization in Func.h
  src/Frame.cc
  src/Frame.h
  src/Func.h
Due: license

Updating CHANGES and VERSION.
  CHANGES
  VERSION
Due: none

Merge branch 'topic/bbannier/ci-freebsd-13'
  .cirrus.yml
  CHANGES
  VERSION
  ci/freebsd/prepare.sh
Due: none

CI: Pin to python 3.13 on macOS
  CHANGES
  VERSION
  ci/macos/prepare.sh
Due: none

Revert "Bump zeek-testing-cluster commit hash"
  CHANGES
  VERSION
  testing/external/commit-hash.zeek-testing-cluster
Due: none

KRB: Use krb5_build_principal() over krb5_sname_to_principal()
  CHANGES
  NEWS
  VERSION
  src/analyzer/protocol/krb/KRB.cc
  src/analyzer/protocol/krb/KRB.h
  src/analyzer/protocol/krb/KRB_TCP.h
  src/analyzer/protocol/krb/krb-analyzer.pac
Due: license

Replace g_frame_stack with call_stack used by ScriptProfiler
  src/DbgBreakpoint.cc
  src/Debug.cc
  src/DebugCmds.cc
  src/Frame.cc
  src/Frame.h
  src/Func.cc
  src/Func.h
  src/cluster/Telemetry.cc
  src/script_opt/ZAM/OPs/internal.op
  src/zeek-setup.cc
Due: license

fixup! Replace g_frame_stack with call_stack used by ScriptProfiler
  src/Debug.cc
  src/DebugCmds.cc
  src/Frame.cc
  src/Func.cc
  src/Func.h
  src/zeek-setup.cc
Due: license

ZValElement: Implement move assignment operator
  src/Val.cc
  src/Val.h
Due: license

ZValElement: s to o renaming
  src/Val.h
Due: license

ZAM: Fix memory leak in Construct-Known-Record-With-Inits
  src/script_opt/ZAM/OPs/constructors.op
  src/script_opt/ZAM/ZInstAux.h
  testing/btest/Baseline/opt.opt-leak-field-init/out
  testing/btest/opt/opt-leak-field-init.zeek
Due: license, btest-command-commented

Bump spicy-format
  .pre-commit-config.yaml
  src/analyzer/protocol/ldap/ldap.spicy
  src/analyzer/protocol/quic/QUIC.spicy
Due: license

Fix v8.0.2 release note formatting
  NEWS
Due: none

Logging: Add BiF to flush all logs
  src/logging/Manager.cc
  src/logging/Manager.h
  src/logging/logging.bif
  src/script_opt/FuncInfo.cc
  testing/btest/opt/ZAM-bif-tracking.zeek
Due: license, btest-command-commented

Remove doc submodule
  .gitmodules
Due: none

Run pre-commit on the imported docs files
  .pre-commit-config.yaml
  doc/devel/plugins/connkey-vxlan-fivetuple-plugin-src/CMakeLists.txt
  doc/devel/plugins/event-metadata-plugin-src/CMakeLists.txt
  doc/devel/spicy/autogen-spicy-docs
  doc/devel/spicy/autogen/tftp-no-accept.spicy
  doc/devel/spicy/examples/my-http.spicy
  doc/frameworks/packet-analysis-2-llc.cc
Due: license

Move readthedocs.yml file out of docs into main directory
  .readthedocs.yml
  doc/.readthedocs.yml
Due: none

Adapt docs github workflow to remove zeek-docs submodule
  .github/workflows/generate-docs.yml
Due: none

Dust off OpenBSD docs bits
  doc/building-from-source.rst
  doc/install.rst
Due: none

Make UID constructor/UID::Set capable of taking a pool value
  src/UID.cc
  src/UID.h
Due: license

Start the new tutorial doc outline
  doc/index.rst
  doc/tutorial/cluster-backends.rst
  doc/tutorial/index.rst
  doc/tutorial/intro-scripting.rst
  doc/tutorial/invoking-zeek.rst
  doc/tutorial/invoking-zeekctl.rst
  doc/tutorial/logs.rst
  doc/tutorial/setup.rst
  doc/tutorial/using-packages.rst
  doc/tutorial/zeek-frameworks.rst
Due: none

Add Hash() and equality operators for various Val types
  src/OpaqueVal.h
  src/RE.cc
  src/RE.h
  src/Type.cc
  src/Type.h
  src/Val.cc
  src/Val.h
  src/util.h
Due: license

Rework file_analysis::AnalyzerSet to use unordered_map instead of Dictionary
  src/file_analysis/AnalyzerSet.cc
  src/file_analysis/AnalyzerSet.h
  src/file_analysis/File.cc
Due: license

Add *= and /= operators for arithmetic types
  src/parse.y
  src/scan.l
  testing/btest/Baseline/language.count/out
  testing/btest/Baseline/language.double/out
  testing/btest/Baseline/language.init-mismatch/.stderr
  testing/btest/Baseline/language.int/out
  testing/btest/language/count.zeek
  testing/btest/language/double.zeek
  testing/btest/language/init-mismatch.zeek
  testing/btest/language/int.zeek
Due: btest-command-commented

Generate docs
  doc/scripts/base/bif/logging.bif.zeek.rst
Due: none

ZVal: Add a missing header
  src/ZVal.h
Due: license
