Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

license:
  name: Check for license headers
  entry: ./ci/license-header.py
  language: python

btest-command-commented:
  name: Check that all BTest command lines are commented out
  entry: ^\s*@TEST-
  language: pygrep

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/reference/zeekscript/autogenerated-file-analyzer-index.rst
  doc/reference/zeekscript/autogenerated-protocol-analyzer-index.rst
  doc/scripts/base/bif/event.bif.zeek.rst
  doc/scripts/base/init-bare.zeek.rst
Due: none

cluster/zeromq: Fix CMake error when ZeroMQ_INCLUDE_DIR not found
  src/cluster/backend/zeromq/cmake/FindZeroMQ.cmake
Due: none

doc: Mention Python websockets dependency
  doc/building-from-source.rst
Due: none

Mark SSL::hash_algorithms and SSL::signature_algorithms as deprecated
  NEWS
  scripts/base/protocols/ssl/consts.zeek
  testing/btest/scripts/base/protocols/ssl/tls-extension-events.test
Due: btest-command-commented

Spicy TLS: prepare SignatureAlgorithm parsing for new extension
  src/analyzer/protocol/ssl/spicy/SSL.spicy
Due: license

Add QUIC PATH_CHALLENGE and PATH_RESPONSE telemetry support
  scripts/base/protocols/quic/main.zeek
  src/analyzer/protocol/quic/QUIC.evt
  src/analyzer/protocol/quic/QUIC.spicy
Due: license

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/scripts/base/protocols/ssl/consts.zeek.rst
Due: none

Add QUIC NAT rebinding sample trace
  testing/btest/Traces/quic/nat-rebinding-min.pcapng
Due: btest-command-commented

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

github/workflows: Add cifuzz.yml
  .github/workflows/cifuzz.yml
Due: none

btest/telemetry: Avoid zero CPU reports by burning a bit
  testing/btest/scripts/base/frameworks/telemetry/process-collect.zeek
Due: btest-command-commented

btest/logging: Skip rotate-pp-env on Windows
  testing/btest/scripts/base/frameworks/logging/rotate-pp-env.zeek
Due: btest-command-commented

btest/cluster: Skip more flaky cluster related tests on Windows
  testing/btest/cluster/zeromq/overload-drop.zeek
  testing/btest/cluster/zeromq/supervisor-runs-zmq-proxy.zeek
Due: btest-command-commented

btest/cluster: Stabilize subscribe-before-init.zeek a bit
  testing/btest/Baseline/cluster.zeromq.subscribe-before-init/..worker.out
  testing/btest/cluster/zeromq/subscribe-before-init.zeek
Due: btest-command-commented

btest/cluster: Attempt to stabilize overload drop tests
  testing/btest/cluster/zeromq/overload-drop.zeek
  testing/btest/cluster/zeromq/overload-worker-proxy-topic-drop.zeek
Due: btest-command-commented

btest/cluster: Stabilize ws-app.zeek test a bit
  testing/btest/cluster/telemetry/ws-app.zeek
Due: btest-command-commented

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/reference/zeekscript/autogenerated-script-index.rst
  doc/scripts/policy/files/zip/register.zeek.rst
  doc/scripts/test-all-policy.zeek.rst
Due: none

BTests for updated "as" and new "?as" operators
  testing/btest/Baseline/language.as_addr/error
  testing/btest/Baseline/language.as_addr/output
  testing/btest/Baseline/language.as_count/out
  testing/btest/Baseline/language.as_double/out
  testing/btest/Baseline/language.as_double_from_string/output
  testing/btest/Baseline/language.as_int/out
  testing/btest/Baseline/language.as_interval/out
  testing/btest/Baseline/language.as_port/out
  testing/btest/Baseline/language.as_subnet/output
  testing/btest/Baseline/language.as_time/out
  testing/btest/Baseline/language.count_as_addr/out
  testing/btest/Baseline/language.enum_as_int/out
  testing/btest/Baseline/language.subnet_as_addr/output
  testing/btest/language/as_addr.zeek
  testing/btest/language/as_count.zeek
  testing/btest/language/as_double.zeek
  testing/btest/language/as_double_from_string.zeek
  testing/btest/language/as_int.zeek
  testing/btest/language/as_interval.zeek
  testing/btest/language/as_port.zeek
  testing/btest/language/as_subnet.zeek
  testing/btest/language/as_time.zeek
  testing/btest/language/count_as_addr.zeek
  testing/btest/language/enum_as_int.zeek
  testing/btest/language/subnet_as_addr.zeek
  testing/btest/language/switch-types.zeek
Due: btest-command-commented

AST optimization fix for avoiding unsafe constant propagation
  src/Expr.cc
  src/Expr.h
  src/script_opt/Expr.cc
  src/script_opt/Expr.h
  src/script_opt/Reduce.cc
  src/script_opt/Reduce.h
  src/script_opt/Stmt.cc
  testing/btest/Baseline.zam/language.type-cast-error-dynamic-ZAM/err
  testing/btest/Baseline.zam/language.type-cast-error-dynamic/err
  testing/btest/Baseline.zam/language.type-cast-error-dynamic/output
  testing/btest/Baseline.zam/opt.AST-side-effects/output
  testing/btest/Baseline.zam/spicy.analyzer-tag/output
  testing/btest/Baseline/language.type-cast-error-dynamic/err
  testing/btest/language/type-cast-error-dynamic-ZAM.zeek
  testing/btest/language/type-cast-error-dynamic.zeek
  testing/btest/opt/regress-constant-prop.zeek
Due: license, btest-command-commented

documentation updates
  doc/reference/zeekscript/operators.rst
Due: none

split out type conversion logic from BiFs
  src/CMakeLists.txt
  src/Val.cc
  src/val-convert.cc
  src/val-convert.h
  src/zeek.bif
Due: license

expand "as" operator to do general conversion add "?as" operator to query whether conversion will succeed
  src/Expr.cc
  src/Expr.h
  src/Stmt.cc
  src/Val.cc
  src/Val.h
  src/parse.y
  src/scan.l
  src/script_opt/CPP/Exprs.cc
  src/script_opt/CPP/Stmts.cc
  src/script_opt/Expr.cc
  src/script_opt/Reduce.cc
  src/script_opt/ScriptOpt.cc
  src/script_opt/ZAM/Expr.cc
  src/script_opt/ZAM/OPs/non-uniform.op
  src/script_opt/ZAM/OPs/stmts.op
  src/script_opt/ZAM/OPs/unary-exprs.op
  src/script_opt/ZAM/Stmt.cc
Due: license

migrate standard scripts to use expanded "as" operator for type conversions
  scripts/base/files/x509/log-ocsp.zeek
  scripts/base/frameworks/broker/main.zeek
  scripts/base/frameworks/intel/main.zeek
  scripts/base/frameworks/netcontrol/drop.zeek
  scripts/base/frameworks/netcontrol/main.zeek
  scripts/base/frameworks/netcontrol/plugins/acld.zeek
  scripts/base/frameworks/netcontrol/plugins/openflow.zeek
  scripts/base/frameworks/netcontrol/shunt.zeek
  scripts/base/frameworks/openflow/main.zeek
  scripts/base/frameworks/sumstats/plugins/hll_unique.zeek
  scripts/base/misc/version.zeek
  scripts/base/packet-protocols/main.zeek
  scripts/base/protocols/http/utils.zeek
  scripts/base/protocols/sip/main.zeek
  scripts/base/protocols/smb/smb1-main.zeek
  scripts/base/protocols/smb/smb2-main.zeek
  scripts/base/protocols/smtp/main.zeek
  scripts/base/protocols/snmp/main.zeek
  scripts/base/utils/active-http.zeek
  scripts/base/utils/addrs.zeek
  scripts/base/utils/numbers.zeek
  scripts/base/utils/strings.zeek
  scripts/base/utils/time.zeek
  scripts/base/utils/urls.zeek
  scripts/policy/frameworks/cluster/backend/zeromq/main.zeek
  scripts/policy/frameworks/files/detect-MHR.zeek
  scripts/policy/frameworks/intel/seen/http-headers.zeek
  scripts/policy/frameworks/management/agent/config.zeek
  scripts/policy/frameworks/management/controller/main.zeek
  scripts/policy/frameworks/management/log.zeek
  scripts/policy/frameworks/netcontrol/catch-and-release.zeek
  scripts/policy/misc/detect-traceroute/main.zeek
  scripts/policy/misc/stats.zeek
  scripts/policy/misc/weird-stats.zeek
  scripts/policy/protocols/ftp/detect-bruteforcing.zeek
  scripts/policy/protocols/http/detect-sql-injection.zeek
  scripts/policy/protocols/smtp/blocklists.zeek
Due: none

move val-convert conversion functions into detail::
  src/Val.cc
  src/val-convert.cc
  src/val-convert.h
  src/zeek.bif
Due: license

zeek.bif/to_port: Reuse convert_string_to_port(), pickup 362ba9974 fix
  src/val-convert.cc
  src/zeek.bif
  testing/btest/Baseline/bifs.to_port/out
Due: license, btest-command-commented

trim back a few `as` type conversions to avoid surprising ones
  doc/reference/zeekscript/operators.rst
  src/Expr.cc
  src/Val.cc
Due: license

additional type checking for converting vectors to sets
  src/Val.cc
Due: license

testing/btest/ntp: Fixup test to use intermediate double cast
  testing/btest/Baseline/scripts.base.protocols.ntp.ntp-digest/.stderr
  testing/btest/Baseline/scripts.base.protocols.ntp.ntp3/.stderr
  testing/btest/scripts/base/protocols/ntp/ntp-digest.test
  testing/btest/scripts/base/protocols/ntp/ntp3.test
Due: btest-command-commented

as_int: Remove 1e99 as int test
  testing/btest/Baseline/language.as_int/out
  testing/btest/language/as_int.zeek
Due: btest-command-commented

dns: validate SVCB minimum RDATA size using rdlength
  src/analyzer/protocol/dns/DNS.cc
  testing/btest/Baseline/scripts.base.protocols.dns.svcb-rdlength-mismatch/weird.log
  testing/btest/Traces/README
  testing/btest/Traces/dns-svcb-rdlength-mismatch.pcap
  testing/btest/Traces/dns/svcb-rdlength-mismatch.pcap.py
  testing/btest/scripts/base/protocols/dns/svcb-rdlength-mismatch.zeek
Due: license, btest-command-commented

Add ssl_extension_signature_algorithms_cert testcase
  testing/btest/Baseline/scripts.base.protocols.ssl.tls-extension-events/.stdout
  testing/btest/Traces/tls/openjdk-25.0.2-zeek.org.pcap
  testing/btest/Traces/tls/openjdk-25.0.2-zeek.org.pcap.java
  testing/btest/scripts/base/protocols/ssl/tls-extension-events.test
Due: btest-command-commented

Add new ssl_extension_signature_algorithms_cert event
  NEWS
  src/analyzer/protocol/ssl/events.bif
  src/analyzer/protocol/ssl/spicy/SSL.evt
  src/analyzer/protocol/ssl/spicy/SSL.spicy
  src/analyzer/protocol/ssl/ssl-defs.pac
  src/analyzer/protocol/ssl/tls-handshake-analyzer.pac
  src/analyzer/protocol/ssl/tls-handshake-protocol.pac
  testing/btest/Baseline/scripts.base.protocols.ssl.certificate_request/out
  testing/btest/scripts/base/protocols/ssl/certificate_request.zeek
Due: license, btest-command-commented

Fix compile error on Ubuntu 22.04 for Spicy SSL
  src/analyzer/protocol/ssl/spicy/SSL.evt
Due: license

Introduce base/utils/batch-queue
  scripts/base/utils/batch-queue.zeek
Due: none

netcontrol: Add wip pubsub plugin
  scripts/base/frameworks/netcontrol/plugins/__load__.zeek
  scripts/base/frameworks/netcontrol/plugins/pubsub.zeek
  testing/btest/Baseline/coverage.default-load-baseline/canonified_loaded_scripts.log
Due: btest-command-commented

tools/netcontrol example for Aashish
  tools/netcontrol/README.md
  tools/netcontrol/demo.py
  tools/netcontrol/demo.zeek
Due: none

Path conditions:
  license: any of: \.(h|c|cpp|cc|spicy|evt)$, but not: ^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$
  btest-command-commented: any of: ^testing/btest/.*$
