Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*|doc/devel/spicy/autogen/.*.spicy'

Add `Size` operation to storage backend interface
  scripts/base/frameworks/storage/sync.zeek
  src/storage/Backend.cc
  src/storage/Backend.h
  src/storage/backend/redis/Redis.cc
  src/storage/backend/redis/Redis.h
  src/storage/backend/sqlite/SQLite.cc
  src/storage/backend/sqlite/SQLite.h
  src/storage/storage-sync.bif
  testing/btest/scripts/base/frameworks/storage/redis/size-expiration.zeek
  testing/btest/scripts/base/frameworks/storage/redis/size.zeek
  testing/btest/scripts/base/frameworks/storage/sqlite/size.zeek
Due: license, btest-command-commented

Add `GetAll` operation to storage backend interface
  scripts/base/frameworks/storage/sync.zeek
  scripts/base/init-bare.zeek
  src/storage/Backend.cc
  src/storage/Backend.h
  src/storage/ReturnCode.cc
  src/storage/ReturnCode.h
  src/storage/storage-sync.bif
Due: license

Add telemetry metrics for `get_all` and `size` operations
  src/storage/Backend.cc
  src/storage/Backend.h
  testing/btest/Baseline/scripts.base.frameworks.storage.redis.async/out
  testing/btest/Baseline/scripts.base.frameworks.storage.redis.forced-sync/out
  testing/btest/Baseline/scripts.base.frameworks.storage.redis.sync/out
  testing/btest/Baseline/scripts.base.frameworks.storage.sqlite.basic/out
  testing/btest/Baseline/scripts.base.frameworks.storage.sqlite.metrics/out
Due: license, btest-command-commented

Implement `DoGetAll` for the Redis storage backend
  src/storage/backend/redis/Redis.cc
  src/storage/backend/redis/Redis.h
  testing/btest/scripts/base/frameworks/storage/redis/get-all-expiration.zeek
  testing/btest/scripts/base/frameworks/storage/redis/get-all.zeek
Due: license, btest-command-commented

Implement `DoGetAll` for the SQLite storage backend
  src/storage/backend/sqlite/SQLite.cc
  src/storage/backend/sqlite/SQLite.h
  testing/btest/scripts/base/frameworks/storage/sqlite/get-all-expiration.zeek
  testing/btest/scripts/base/frameworks/storage/sqlite/get-all.zeek
Due: license, btest-command-commented

Merge branch 'bool' of https://github.com/barracuda156/zeek
  CHANGES
  VERSION
  src/Val.h
Due: license

Add a DHCPv6 analyzer
  .typos.toml
  scripts/base/init-default.zeek
  scripts/base/protocols/dhcpv6/__load__.zeek
  scripts/base/protocols/dhcpv6/consts.zeek
  scripts/base/protocols/dhcpv6/main.zeek
  scripts/base/protocols/dhcpv6/spicy-events.zeek
  src/analyzer/protocol/CMakeLists.txt
  src/analyzer/protocol/dhcpv6/CMakeLists.txt
  src/analyzer/protocol/dhcpv6/dhcpv6.evt
  src/analyzer/protocol/dhcpv6/dhcpv6.spicy
Due: license

testing: Add DHCPv6 analyzer baseline tests
  testing/btest/Baseline/core.pppoe/conn.log
  testing/btest/Baseline/core.print-bpf-filters/output2
  testing/btest/Baseline/coverage.default-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.find-bro-logs/out
  testing/btest/Baseline/scripts.base.protocols.dhcpv6.freebsd-ntpservers/conn.log
  testing/btest/Baseline/scripts.base.protocols.dhcpv6.freebsd-ntpservers/dhcpv6.log
  testing/btest/Baseline/scripts.base.protocols.dhcpv6.freebsd-rapid-commit/conn.log
  testing/btest/Baseline/scripts.base.protocols.dhcpv6.freebsd-rapid-commit/dhcpv6.log
  testing/btest/Baseline/scripts.base.protocols.dhcpv6.freebsd-vendorclass/conn.log
  testing/btest/Baseline/scripts.base.protocols.dhcpv6.freebsd-vendorclass/dhcpv6.log
  testing/btest/Baseline/scripts.base.protocols.dhcpv6.hp-nested-status/conn.log
  testing/btest/Baseline/scripts.base.protocols.dhcpv6.hp-nested-status/dhcpv6.log
  testing/btest/Baseline/scripts.base.protocols.dhcpv6.wifi-rapidcommit/conn.log
  testing/btest/Baseline/scripts.base.protocols.dhcpv6.wifi-rapidcommit/dhcpv6.log
  testing/btest/Traces/dhcpv6/dhcpv6-freebsd-ntpservers.pcap
  testing/btest/Traces/dhcpv6/dhcpv6-freebsd-rapid-commit.pcap
  testing/btest/Traces/dhcpv6/dhcpv6-freebsd-vendorclass.pcap
  testing/btest/Traces/dhcpv6/dhcpv6-hp24fee0.pcap
  testing/btest/Traces/dhcpv6/dhcpv6-wifi-rapidcommit.pcap
  testing/btest/scripts/base/protocols/dhcpv6/freebsd-ntpservers.zeek
  testing/btest/scripts/base/protocols/dhcpv6/freebsd-rapid-commit.zeek
  testing/btest/scripts/base/protocols/dhcpv6/freebsd-vendorclass.zeek
  testing/btest/scripts/base/protocols/dhcpv6/hp-nested-status.zeek
  testing/btest/scripts/base/protocols/dhcpv6/wifi-rapidcommit.zeek
Due: btest-command-commented

NEWS: Mention the new DHCPv6 analyzer
  NEWS
Due: none

Btest updates for 9.1 deprecation removals
  scripts/policy/protocols/conn/known-hosts.zeek
  scripts/policy/protocols/conn/known-services.zeek
  scripts/policy/protocols/ssl/known-certs.zeek
  scripts/test-all-policy.zeek
  testing/btest/Baseline.zam/coverage.test-all-policy-cluster/.stderr
  testing/btest/Baseline.zam/coverage.test-all-policy-zeekygen/.stderr
  testing/btest/Baseline/bifs.anonymize_addr-4/.stderr
  testing/btest/Baseline/bifs.anonymize_addr-4/.stdout
  testing/btest/Baseline/bifs.md5/output
  testing/btest/Baseline/cluster.generic.table-errors/broker.err
  testing/btest/Baseline/cluster.generic.table-errors/zeromq.err
  testing/btest/Baseline/coverage.bare-mode-errors/errors
  testing/btest/Baseline/coverage.init-default/missing_loads
  testing/btest/Baseline/coverage.test-all-policy-cluster/.stderr
  testing/btest/Baseline/coverage.test-all-policy-zeekygen/.stderr
  testing/btest/Baseline/language.enum-bad-type/.stderr
  testing/btest/Baseline/language.hook-return-fail/out
  testing/btest/Baseline/scripts.policy.frameworks.management.controller.agent-checkin/zeek.nodes.controller.stdout
  testing/btest/Baseline/scripts.policy.protocols.conn.known-hosts/knownhosts-broker-store.log
  testing/btest/Baseline/scripts.policy.protocols.conn.known-services/knownservices-broker-store.log
  testing/btest/Baseline/scripts.policy.protocols.ssl.known-certs/knowncerts-broker-store.log
  testing/btest/Baseline/tools.systemd-generator.test-multi-interface-errors-5/.stderr
  testing/btest/bifs/anonymize_addr.zeek
  testing/btest/bifs/md5.test
  testing/btest/cluster/generic/table-errors.zeek
  testing/btest/language/enum-bad-type.zeek
  testing/btest/scripts/policy/frameworks/management/controller/agent-checkin.zeek
  testing/btest/scripts/policy/protocols/conn/known-hosts.zeek
  testing/btest/scripts/policy/protocols/conn/known-services.zeek
  testing/btest/scripts/policy/protocols/ssl/known-certs.zeek
Due: btest-command-commented

Remove broker set/table/vector/record script-level methods
  scripts/base/frameworks/broker/data.zeek
  src/broker/data.bif
  testing/btest/Baseline/broker.opaque/out
  testing/btest/broker/opaque.zeek
Due: btest-command-commented

Restore error for &backend attribute
  src/Attr.cc
  src/broker/data.bif
Due: license

Deprecate old version of TableVal::Assign/Remove
  src/Expr.cc
  src/Val.cc
  src/Val.h
  src/cluster/PublishOnChangeState.cc
  src/script_opt/CPP/RuntimeOps.cc
  src/script_opt/ZAM/OPs/aggr-assignments.op
  src/script_opt/ZAM/OPs/stmts.op
Due: license

Remove unused includes from various files
  src/Attr.cc
  src/Attr.h
  src/DNS_Mgr.cc
  src/EventHandler.cc
  src/EventHandler.h
  src/File.h
  src/Frame.h
  src/ID.cc
  src/Obj.h
  src/StmtBase.h
  src/ZVal.h
  src/ZeekString.cc
  src/analyzer/protocol/dns/DNS.cc
  src/analyzer/protocol/finger/legacy/Finger.h
  src/analyzer/protocol/ftp/FTP.cc
  src/analyzer/protocol/mime/MIME.cc
  src/analyzer/protocol/mysql/mysql-analyzer.pac
  src/analyzer/protocol/tcp/TCP.cc
  src/input/readers/ascii/Ascii.h
  src/input/readers/binary/Binary.h
  src/input/readers/config/Config.h
  src/iosource/BPF_Program.cc
  src/main.cc
  src/plugin/Component.h
  src/plugin/ComponentManager.h
  src/probabilistic/Hasher.cc
  src/script_opt/ZAM/ZInst.cc
  src/storage/backend/redis/Redis.cc
  src/util.cc
  src/zeekygen/Manager.cc
Due: license

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/scripts/base/bif/data.bif.zeek.rst
  doc/scripts/base/frameworks/broker/data.zeek.rst
Due: none

Merge remote-tracking branch 'origin/topic/awelzel/analyzer-weirdx-helper'
  CHANGES
  VERSION
  src/analyzer/Analyzer.cc
  src/analyzer/Analyzer.h
  src/analyzer/protocol/dns/DNS.cc
  src/analyzer/protocol/ftp/FTP.cc
  src/analyzer/protocol/gnutella/Gnutella.cc
  src/analyzer/protocol/login/NVT.cc
  src/analyzer/protocol/login/RSH.cc
  src/analyzer/protocol/login/Rlogin.cc
  src/analyzer/protocol/mime/MIME.cc
  src/analyzer/protocol/ssh/ssh-analyzer.pac
  testing/btest/Baseline/scripts.base.protocols.ftp.ftp-max-command-length/conn.log
  testing/btest/Baseline/scripts.base.protocols.ftp.ftp-max-command-length/weird.log
Due: license, btest-command-commented

Merge remote-tracking branch 'origin/topic/timw/limitreachedweird-bif'
  CHANGES
  VERSION
  scripts/base/protocols/http/main.zeek
  scripts/base/protocols/redis/main.zeek
  scripts/base/protocols/smtp/main.zeek
  scripts/base/protocols/ssl/main.zeek
  src/Conn.cc
  src/Conn.h
  src/analyzer/Analyzer.cc
  src/analyzer/protocol/dns/DNS.cc
  src/analyzer/protocol/ncp/NCP.cc
  src/analyzer/protocol/smb/smb1-protocol.pac
  src/analyzer/protocol/ssh/ssh-analyzer.pac
  src/analyzer/protocol/tcp/TCP_Endpoint.h
  src/packet_analysis/Analyzer.cc
  src/packet_analysis/protocol/ayiya/AYIYA.cc
  src/packet_analysis/protocol/geneve/Geneve.cc
  src/packet_analysis/protocol/teredo/Teredo.cc
  src/packet_analysis/protocol/udp/UDP.cc
  src/packet_analysis/protocol/vxlan/VXLAN.cc
  src/reporter.bif
  src/session/Session.h
  testing/btest/Baseline.zam/scripts.base.protocols.smtp.mail-transactions-invalid-disable-analyzer/weird.log
  testing/btest/Baseline/core.reporter-limit-reached-weird/conn.log
  testing/btest/Baseline/core.reporter-limit-reached-weird/weird.log
  testing/btest/Baseline/scripts.base.protocols.http.http-pending-state-growth/weird.log
  testing/btest/Baseline/scripts.base.protocols.redis.excessive-pipelining/weird.log
  testing/btest/Baseline/scripts.base.protocols.smtp.mail-transactions-invalid-disable-analyzer/weird.log
  testing/btest/core/reporter-limit-reached-weird.zeek
  testing/btest/scripts/base/protocols/ssl/max-history-length.test
Due: license, btest-command-commented

Attr: Improve error message for removed &broker_allow_complex attribute
  src/Attr.cc
  testing/btest/Baseline/broker.removed-attrs-2/.stderr
  testing/btest/Baseline/broker.removed-attrs-3/.stderr
  testing/btest/Baseline/broker.removed-attrs/.stderr
  testing/btest/broker/removed-attrs.zeek
Due: license, btest-command-commented

Add scapy-pcap skill under .agents/skills
  .agents/skills/scapy-pcap/SKILL.md
  .agents/skills/scapy-pcap/assets/template-udp.pcap.py
  .agents/skills/scapy-pcap/assets/template.pcap.py
Due: none

fixup! Add scapy-pcap skill under .agents/skills
  .agents/skills/scapy-pcap/SKILL.md
Due: none

pre-commit: Add check-added-large-files
  .pre-commit-config.yaml
Due: none

Remove broker::Manager::AdvanceTime()
  src/Timer.cc
  src/broker/Manager.cc
  src/broker/Manager.h
Due: license

Remove references to broker store attributes from docs
  doc/reference/zeekscript/attributes.rst
Due: none

Remove broker_backend field from script_id type
  scripts/base/init-bare.zeek
  src/zeek.bif
  testing/btest/Baseline/bifs.global_ids-modules/out
Due: btest-command-commented

Update zeek-testing-private commit hash
  testing/external/commit-hash.zeek-testing-private
Due: none

CI: Migrate Dockerfile build changes from master
  docker/Dockerfile
  docker/Makefile
  docker/builder.Dockerfile
  docker/final.Dockerfile
Due: none

CI: Sync configuration with master branch
  .circleci/builds.yml
  .circleci/config.yml
  .github/workflows/check.yml
Due: none

Regenerate docs again
  doc/reference/zeekscript/attributes.rst
  doc/reference/zeekscript/autogenerated-file-analyzer-index.rst
  doc/reference/zeekscript/autogenerated-protocol-analyzer-index.rst
  doc/scripts/base/bif/event.bif.zeek.rst
  doc/scripts/base/init-bare.zeek.rst
Due: none

Add missing have-asan testing script
  testing/scripts/have-asan
Due: none

btest/broker/remote_id: Remove Broker::PEER_UNAVAILABLE errors from stderr
  testing/btest/broker/publish-errors.zeek
Due: btest-command-commented

Updating CHANGES and VERSION.
  CHANGES
  VERSION
Due: none

Disable test `bifs.sleep` on Windows [skip ci]
  testing/btest/bifs/sleep.zeek
Due: btest-command-commented

Fix tls-1.2-late-protocol-error test failure for Spicy SSL analyzer
  CHANGES
  VERSION
  testing/btest/Baseline/scripts.base.protocols.ssl.tls-1.2-late-protocol-error/analyzer.log
  testing/btest/scripts/base/protocols/ssl/tls-1.2-late-protocol-error.test
Due: btest-command-commented

Upload btest JUnit XML results and publish to GitHub UI
  .github/workflows/check.yml
Due: none
