Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*|doc/devel/spicy/autogen/.*.spicy'

cluster/PublishOnChange: Add InitPostScript() hook, use GetPublishOnChangeState()
  src/cluster/PublishOnChangeState.cc
  src/cluster/PublishOnChangeState.h
  src/cluster/publish_on_change.bif
Due: license

scan/parse: Add &publish_on_change support
  src/parse.y
  src/scan.l
Due: none

TableVal: Hook-up poc_state for &publish_on_change functionality
  src/Val.cc
  src/Val.h
Due: license

zeek-setup: Run PublishOnChangeState::InitPostScript()
  src/zeek-setup.cc
Due: license

cluster: Add Cluster::publish_table()
  scripts/base/frameworks/cluster/publish-on-change.zeek
  src/cluster/PublishOnChangeState.cc
  src/cluster/PublishOnChangeState.h
  src/cluster/publish_on_change.bif
  testing/btest/Baseline/cluster.publish-on-change.broker-publish-table-batch-testing/..manager.out
  testing/btest/Baseline/cluster.publish-on-change.broker-publish-table-batch-testing/..worker-1.out
  testing/btest/Baseline/cluster.publish-on-change.broker-publish-table-batch-testing/..worker-2.out
  testing/btest/Baseline/cluster.publish-on-change.broker-publish-table/..manager.out
  testing/btest/Baseline/cluster.publish-on-change.broker-publish-table/..worker.out
  testing/btest/Baseline/cluster.publish-on-change.publish-table-batch-testing/..manager.out
  testing/btest/Baseline/cluster.publish-on-change.publish-table-batch-testing/..worker-1.out
  testing/btest/Baseline/cluster.publish-on-change.publish-table-batch-testing/..worker-2.out
  testing/btest/Baseline/cluster.publish-on-change.publish-table/..manager.out
  testing/btest/Baseline/cluster.publish-on-change.publish-table/..worker.out
  testing/btest/cluster/publish-on-change/broker-publish-table-batch-testing.zeek
  testing/btest/cluster/publish-on-change/broker-publish-table.zeek
  testing/btest/cluster/publish-on-change/publish-table-batch-testing.zeek
  testing/btest/cluster/publish-on-change/publish-table.zeek
Due: license, btest-command-commented

doc/attributes: Add &publish_on_change documentation
  doc/reference/zeekscript/attributes.rst
Due: none

doc/attributes: Add &backend and &broker_store deprecation info
  doc/reference/zeekscript/attributes.rst
Due: none

Rework how checksum gets calculated to be more descriptive
  src/packet_analysis/protocol/igmp/igmp.evt
  src/packet_analysis/protocol/igmp/igmp.spicy
  testing/btest/Baseline/scripts.base.protocols.igmp.bad-checksum/igmp.log
  testing/btest/Baseline/scripts.base.protocols.igmp.basic/igmp.log
  testing/btest/Baseline/scripts.base.protocols.igmp.basic/out
Due: license, btest-command-commented

GH-5273: Pass the payload length from IP analyzer if available
  src/packet_analysis/protocol/ip/IP.cc
  testing/btest/Baseline/core.truncation/output
  testing/btest/Baseline/core.tunnels.ip-in-ip-version/output
Due: license, btest-command-commented

postgresql: Fix violation on empty ParameterStatus value
  src/analyzer/protocol/postgresql/postgresql.spicy
  testing/btest/Baseline/scripts.base.protocols.postgresql.greenhouse-app/conn.log
  testing/btest/Baseline/scripts.base.protocols.postgresql.greenhouse-app/postgresql.log
  testing/btest/Traces/README
  testing/btest/Traces/postgresql/greenhouse-app.pcap
  testing/btest/scripts/base/protocols/postgresql/greenhouse-app.zeek
Due: license, btest-command-commented

Add analyzer for handling NAT-PMP and PCP
  scripts/base/init-default.zeek
  scripts/base/protocols/nat-mapping/__load__.zeek
  scripts/base/protocols/nat-mapping/main.zeek
  scripts/base/protocols/nat-mapping/spicy-events.zeek
  src/analyzer/protocol/CMakeLists.txt
  src/analyzer/protocol/nat-mapping/CMakeLists.txt
  src/analyzer/protocol/nat-mapping/natmapping.evt
  src/analyzer/protocol/nat-mapping/natmapping.spicy
  src/analyzer/protocol/nat-mapping/natpmp.spicy
  src/analyzer/protocol/nat-mapping/pcp.spicy
  testing/btest/Traces/nat/natpmp-success.pcapng
Due: license, btest-command-commented

adding nonce and tests
  scripts/base/protocols/nat-mapping/main.zeek
  scripts/base/protocols/nat-mapping/spicy-events.zeek
  src/analyzer/protocol/nat-mapping/natmapping.spicy
  src/analyzer/protocol/nat-mapping/pcp.spicy
  testing/btest/Traces/nat/pcp-basic.pcapng
  testing/btest/Traces/nat/pcp-error.pcapng
  testing/btest/Traces/nat/pcp-peer.pcapng
  testing/btest/scripts/base/protocols/nat-mapping/pcp-basic.zeek
Due: license, btest-command-commented

[windows] enable spicy and fix build errors
  CMakeLists.txt
  cmake_templates/hilti-cxx-include-dirs.in
  src/CMakeLists.txt
  src/analyzer/Manager.h
  src/spicy/CMakeLists.txt
  src/spicy/manager.cc
  src/spicy/runtime-support.cc
  src/spicy/runtime-support.h
  src/spicy/spicyz/config.h.in
  src/spicy/spicyz/driver.cc
  src/spicy/spicyz/glue-compiler.cc
  src/spicy/spicyz/glue-compiler.h
  src/spicy/spicyz/main.cc
  testing/scripts/diff-remove-abspath
Due: license

generate-docs: Fix git add for new structure
  .github/workflows/generate-docs.yml
Due: none

Add ML-KEM KEX support and related test files
  src/analyzer/protocol/ssh/ssh-protocol.pac
  testing/btest/Baseline/scripts.base.protocols.ssh.mlkem_kex/ssh.log
  testing/btest/Traces/ssh/ssh_kex_mlkem.pcap
  testing/btest/scripts/base/protocols/ssh/mlkem_kex.zeek
Due: btest-command-commented

fix for ZAM optimization of accessing record fields of "const" globals
  src/script_opt/Expr.cc
  testing/btest/Baseline/opt.regress-const-field-assign/output
  testing/btest/opt/regress-const-field-assign.zeek
Due: license, btest-command-commented

added new BiF to ZAM's tracking of BiF properties
  src/script_opt/FuncInfo.cc
  testing/btest/Baseline/opt.ZAM-bif-tracking/output
  testing/btest/opt/ZAM-bif-tracking.zeek
Due: license, btest-command-commented

fix for ZAM compilation of constructors for tables with "any" yield values
  src/script_opt/GenIDDefs.cc
  src/script_opt/GenIDDefs.h
  testing/btest/Baseline/opt.regress-table-constructor-any/output
  testing/btest/opt/regress-table-constructor-any.zeek
Due: license, btest-command-commented

Add SMTPS port to well-known ports
  scripts/base/protocols/ssl/main.zeek
Due: none

Merge remote-tracking branch 'origin/topic/vern/ZBI-add-analyzer'
  CHANGES
  VERSION
  src/script_opt/ZAM/BuiltIn.cc
Due: license

Merge remote-tracking branch 'origin/topic/awelzel/generic-cluster-started'
  CHANGES
  VERSION
  scripts/policy/frameworks/cluster/experimental.zeek
  scripts/policy/frameworks/cluster/nodes-experimental/manager.zeek
  testing/btest/Baseline/cluster.generic.cluster-started/logger.out
  testing/btest/Baseline/cluster.generic.cluster-started/manager.out
  testing/btest/Baseline/cluster.generic.cluster-started/proxy.out
  testing/btest/Baseline/cluster.generic.cluster-started/worker-1.out
  testing/btest/Baseline/cluster.generic.cluster-started/worker-2.out
  testing/btest/Baseline/plugins.publish-event-metadata/manager..stdout
  testing/btest/Baseline/plugins.publish-event-metadata/worker-1..stdout
  testing/btest/Baseline/scripts.policy.frameworks.cluster.cluster_started/manager..stdout
  testing/btest/cluster/generic/cluster-started.zeek
  testing/btest/plugins/publish-event-metadata-plugin/src/Plugin.cc
  testing/btest/scripts/policy/frameworks/cluster/cluster_started.zeek
Due: btest-command-commented

Switch default check pragma for sqlite to quick_check
  CHANGES
  VERSION
  scripts/policy/frameworks/storage/backend/sqlite/main.zeek
  testing/btest/Baseline/scripts.base.frameworks.storage.sqlite-basic-sync-in-when/out
  testing/btest/Baseline/scripts.base.frameworks.storage.sqlite-basic/out
  testing/btest/Baseline/scripts.base.frameworks.storage.sqlite-erase/out
Due: btest-command-commented

Merge remote-tracking branch 'origin/topic/awelzel/ssl-fix-confused-psk-handling'
  CHANGES
  NEWS
  VERSION
  src/analyzer/protocol/ssl/tls-handshake-analyzer.pac
  testing/btest/Baseline/scripts.base.protocols.ssl.psk/both.out
  testing/btest/Baseline/scripts.base.protocols.ssl.psk/client.out
  testing/btest/Baseline/scripts.base.protocols.ssl.psk/server.out
  testing/btest/scripts/base/protocols/ssl/psk.zeek
Due: btest-command-commented

Merge remote-tracking branch 'origin/topic/awelzel/postgresql-empty-parameter-status-value'
  CHANGES
  VERSION
  src/analyzer/protocol/postgresql/postgresql.spicy
  testing/btest/Baseline/scripts.base.protocols.postgresql.greenhouse-app/conn-cut.log
  testing/btest/Baseline/scripts.base.protocols.postgresql.greenhouse-app/postgresql.log
  testing/btest/Traces/README
  testing/btest/Traces/postgresql/greenhouse-app.pcap
  testing/btest/scripts/base/protocols/postgresql/greenhouse-app.zeek
Due: license, btest-command-commented

Merge branch 'ssh-mlkem-fix' of https://github.com/OctaveCharrin/zeek
  CHANGES
  VERSION
  src/analyzer/protocol/ssh/ssh-protocol.pac
  testing/btest/Baseline/scripts.base.protocols.ssh.mlkem_kex/ssh.log
  testing/btest/Traces/ssh/ssh_kex_mlkem.pcap
  testing/btest/scripts/base/protocols/ssh/mlkem_kex.zeek
Due: btest-command-commented

fix: pin 5 unpinned action(s)
  .github/workflows/ci-notification.yml
  .github/workflows/docs-link-check.yml
  .github/workflows/generate-docs.yml
  .github/workflows/pre-commit.yml
Due: none

Deprecate `Weird::weird`
  scripts/base/frameworks/notice/weird.zeek
  scripts/base/protocols/http/entities.zeek
  scripts/base/protocols/smtp/entities.zeek
  scripts/base/protocols/ssl/main.zeek
Due: none

Ignore checksums by default
  scripts/base/init-bare.zeek
  src/Options.cc
  src/Options.h
Due: license

Rewrite `doc/` README in markdown
  doc/README
  doc/README.md
  doc/README.rst
  doc/advanced/devel/contributors.rst
Due: none

Updating dns notify parsing.
  scripts/base/protocols/dns/main.zeek
  src/analyzer/protocol/dns/DNS.cc
Due: license

fix: pin 5 unpinned action(s) to commit SHA
  .github/workflows/ci-notification.yml
  .github/workflows/docs-link-check.yml
  .github/workflows/generate-docs.yml
  .github/workflows/pre-commit.yml
Due: none

Update main.zeek
  scripts/base/protocols/dns/main.zeek
Due: none

Bump versions of workflow actions
  .github/workflows/docs-link-check.yml
  .github/workflows/generate-docs.yml
Due: none

Add Rust regex backend and streaming matcher integration
  CMakeLists.txt
  ci/windows/Dockerfile
  ci/windows/build.cmd
  configure
  doc/building-from-source.rst
  doc/devel/index.rst
  doc/devel/rust-regex-backend-plan.rst
  doc/devel/rust-regex-backend.rst
  rust/Cargo.lock
  rust/Cargo.toml
  rust/zeek-regex-backend/Cargo.toml
  rust/zeek-regex-backend/src/lib.rs
  src/CMakeLists.txt
  src/RE.cc
  src/RE.h
  src/RegexBackend.cc
  src/RegexBackend.h
  src/RuleMatcher.cc
  src/Val.cc
Due: license

Preserve Rust pattern text in Broker roundtrips
  src/broker/Data.cc
Due: license
