Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*|doc/devel/spicy/autogen/.*.spicy'

Update security-considerations.rst
  doc/security-considerations.rst
Due: none

ssh: Avoid O(n^2) by placing server algs into set for lookup
  scripts/base/protocols/ssh/main.zeek
  src/analyzer/protocol/ssh/ssh-protocol.pac
Due: none

ssh: Cap name lists in KEXINIT packets to configurable limits
  scripts/base/init-bare.zeek
  src/analyzer/protocol/ssh/consts.bif
  src/analyzer/protocol/ssh/ssh-analyzer.pac
  src/analyzer/protocol/ssh/ssh-protocol.pac
  testing/btest/Baseline/scripts.base.protocols.ssh.max-kexinit-algorithms/conn.log
  testing/btest/Baseline/scripts.base.protocols.ssh.max-kexinit-algorithms/weird.log
  testing/btest/Traces/ssh/kex-quadratic-1000.pcap.gz
  testing/btest/Traces/ssh/kex-quadratic-1000.pcap.py
  testing/btest/scripts/base/protocols/ssh/max-kexinit-algorithms.zeek
Due: btest-command-commented

Refresh CT/CA lists to the latest versions
  scripts/base/protocols/ssl/ct-list.zeek
  scripts/base/protocols/ssl/mozilla-ca-list.zeek
Due: none

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/reference/zeekscript/autogenerated-protocol-analyzer-index.rst
  doc/scripts/base/bif/plugins/Zeek_KRB.events.bif.zeek.rst
Due: none

Fix crash in `TableVal::Remove` for tables with `&on_change` and singleton keys
  src/Val.cc
  testing/btest/Baseline/language.on_change-delete-in-handler/output
  testing/btest/language/on_change-delete-in-handler.test
Due: license, btest-command-commented

Fix use-after-free in `TableVal::Assign` when `&on_change` handler deletes the new entry
  src/Val.cc
Due: license

Guard `hilti/rt/3rdparty` include path against absent Spicy headers
  CMakeLists.txt
  cmake_templates/ZeekConfig.cmake.in
Due: none

Guard against missing backend-specific options in storage `DoOpen`
  src/storage/backend/redis/Redis.cc
  src/storage/backend/sqlite/SQLite.cc
  testing/btest/scripts/base/frameworks/storage/redis/missing-options.zeek
  testing/btest/scripts/base/frameworks/storage/sqlite/missing-options.zeek
Due: license, btest-command-commented

testing/scripts: Introduce btest-diff-remove-abspath
  testing/scripts/btest-diff-remove-abspath
Due: none

testing/btest: Fix @TeST-EXEC to @TEST-EXEC and use btest-diff-remove-abspath
  testing/btest/language/when-local-function-capture-error.zeek
Due: btest-command-commented

Use macro for `BINPAC_ASSERT`
  tools/binpac/lib/binpac.h.in
Due: none

dnp3: Fix binpac assertion due to lack of cleanup
  src/analyzer/protocol/dnp3/DNP3.cc
  src/analyzer/protocol/dnp3/DNP3.h
  testing/btest/Traces/dnp3/dnp3-flowbuffer-overflow-assert.pcap
  testing/btest/Traces/dnp3/dnp3-flowbuffer-overflow-assert.pcap.py
  testing/btest/scripts/base/protocols/dnp3/dnp3-flowbuffer-overflow-assert.zeek
Due: license, btest-command-commented

Bump `auxil/spicy/` to latest development snapshot
  testing/btest/Baseline/coverage.include-directory/..include-dir.out
Due: btest-command-commented

Harden `overload-worker-proxy-topic-drop` test
  testing/btest/cluster/zeromq/overload-worker-proxy-topic-drop.zeek
Due: btest-command-commented

cluster/websocket: Set FD_CLOEXEC for WebSocket file descriptors
  src/cluster/websocket/WebSocket-IXWebSocket.cc
  testing/btest/cluster/websocket/cloexec-leak.zeek
Due: license, btest-command-commented

docs: add security guidance for ZeekControl SSH access
  doc/security-considerations.rst
Due: none

doc/cluster/spawning: Include numactl mention
  doc/advanced/devel/cluster/spawning.rst
Due: none

CCI: Fix filter on the debian-12 image that's used by the zeekctl job
  .circleci/builds.yml
Due: none

doc/cluster/spawning: Mention CLUSTER_BACKEND_ARGS coming first
  doc/advanced/devel/cluster/spawning.rst
  doc/advanced/devel/cluster/supervisor.sh
Due: none

doc/cluster/spawning: Link to systemd-generator docs, not sources
  doc/advanced/devel/cluster/spawning.rst
Due: none

Add Broker deprecation note to NEWS
  NEWS
  doc/frameworks/cluster.rst
Due: none

Docs: add Broker deprecation messaging and de-Brokerize cluster docs
  doc/frameworks/broker.rst
  doc/frameworks/cluster.rst
Due: none

tcp: Avoid `static_cast` crashes for TCP sessions
  src/analyzer/Analyzer.h
  src/analyzer/protocol/tcp/TCP.h
  src/packet_analysis/protocol/tcp/TCPSessionAdapter.cc
  testing/btest/Baseline/spicy.replaces-transport-tcp-child/output
  testing/btest/spicy/replaces-transport-tcp-child.zeek
Due: license, btest-command-commented

analyzer: Add dual-transport analyzer replacements
  src/analyzer/Component.cc
  src/analyzer/Component.h
  src/analyzer/Manager.cc
  src/spicy/manager.cc
  testing/btest/Baseline/spicy.replaces-transport-tcp-builtin/dns.log
  testing/btest/Baseline/spicy.replaces-transport-tcp-builtin/output
  testing/btest/spicy/replaces-transport-tcp-builtin.zeek
Due: license, btest-command-commented

CCI: Skip builds that only change docs or markdown files
  .circleci/config.yml
Due: none

Merge branch 'topic/bbannier/issue-5782'
  CHANGES
  VERSION
  src/Val.cc
  testing/btest/Baseline/language.on_change-delete-in-handler/output
  testing/btest/language/on_change-delete-in-handler.test
Due: license, btest-command-commented

Merge branch 'topic/bbannier/issue-5779'
  CHANGES
  VERSION
  src/storage/backend/redis/Redis.cc
  src/storage/backend/sqlite/SQLite.cc
  testing/btest/scripts/base/frameworks/storage/redis/missing-options.zeek
  testing/btest/scripts/base/frameworks/storage/sqlite/missing-options.zeek
Due: license, btest-command-commented

Merge remote-tracking branch 'origin/topic/etyp/overload-test-harden'
  CHANGES
  VERSION
  testing/btest/cluster/zeromq/overload-worker-proxy-topic-drop.zeek
Due: btest-command-commented

Fix crash in `TableVal::Remove` for tables with `&on_change` and singleton keys
  CHANGES
  VERSION
  src/Val.cc
  testing/btest/Baseline/language.on_change-delete-in-handler/output
  testing/btest/language/on_change-delete-in-handler.test
Due: license, btest-command-commented

Merge branch 'topic/bbannier/issue-5779'
  CHANGES
  VERSION
  src/storage/backend/redis/Redis.cc
  src/storage/backend/sqlite/SQLite.cc
  testing/btest/scripts/base/frameworks/storage/redis-missing-options.zeek
  testing/btest/scripts/base/frameworks/storage/sqlite-missing-options.zeek
Due: license, btest-command-commented

SMB: Add checks/weird for non-advancing AndX offsets
  src/analyzer/protocol/smb/smb1-com-locking-andx.pac
  src/analyzer/protocol/smb/smb1-com-logoff-andx.pac
  src/analyzer/protocol/smb/smb1-com-nt-create-andx.pac
  src/analyzer/protocol/smb/smb1-com-read-andx.pac
  src/analyzer/protocol/smb/smb1-com-session-setup-andx.pac
  src/analyzer/protocol/smb/smb1-com-tree-connect-andx.pac
  src/analyzer/protocol/smb/smb1-com-write-andx.pac
  src/analyzer/protocol/smb/smb1-protocol.pac
  testing/btest/Baseline/scripts.base.protocols.smb.smb1-non-advancing-andx-offset/weird.log
  testing/btest/Traces/smb/smb1-logoff-andx-no-advance.pcap
  testing/btest/Traces/smb/smb1-logoff-andx-no-advance.pcap.py
  testing/btest/scripts/base/protocols/smb/smb1-non-advancing-andx-offset.zeek
Due: btest-command-commented

Set l2_src/l2_dst fields for inner tunnel packet to empty
  src/packet_analysis/protocol/iptunnel/IPTunnel.cc
  testing/btest/Baseline/core.tunnels.geneve-arp/conn.log
  testing/btest/Baseline/core.tunnels.geneve-arp/out
  testing/btest/Traces/tunnels/geneve-arp.pcap
  testing/btest/Traces/tunnels/geneve-arp.pcap.py
  testing/btest/core/tunnels/geneve-arp.zeek
Due: license, btest-command-commented

Add const to control the maximum number of pending IRC dcc send commands
  scripts/base/protocols/irc/dcc-send.zeek
  testing/btest/Baseline/scripts.base.protocols.irc.max-dcc-send-expected/weird.log
  testing/btest/Traces/irc-dcc-state-growth.pcap.py
  testing/btest/Traces/irc-dcc-state-growth.pcapng
  testing/btest/scripts/base/protocols/irc/max-dcc-send-expected.zeek
Due: btest-command-commented

Check for valid command field when processing IRC DCC commands
  scripts/base/protocols/irc/dcc-send.zeek
  testing/btest/Baseline/scripts.base.protocols.irc.dcc-first-command/err
  testing/btest/Traces/irc-dcc-first-command.pcap
  testing/btest/Traces/irc-dcc-first-command.pcap.py
  testing/btest/scripts/base/protocols/irc/dcc-first-command.zeek
Due: btest-command-commented

nvt: Fix heap buffer overflow for NVT length limit
  src/analyzer/protocol/login/NVT.cc
  testing/btest/Baseline/scripts.base.protocols.login.nvt-contentline-length/conn-buffer-overflow.log
  testing/btest/Baseline/scripts.base.protocols.login.nvt-contentline-length/conn-long.log
  testing/btest/Baseline/scripts.base.protocols.login.nvt-contentline-length/weird-buffer-overflow.log
  testing/btest/Baseline/scripts.base.protocols.login.nvt-contentline-length/weird-long.log
  testing/btest/Traces/contentline/nvt-line-limit-crlf-heap-buffer-overflow.pcap.gz
  testing/btest/Traces/contentline/nvt-line-limit-crlf-heap-buffer-overflow.pcap.py
  testing/btest/scripts/base/protocols/login/nvt-contentline-length.zeek
Due: license, btest-command-commented
