Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

license:
  name: Check for license headers
  entry: ./ci/license-header.py
  language: python

btest-command-commented:
  name: Check that all BTest command lines are commented out
  entry: ^\s*@TEST-
  language: pygrep

Extend spicyz configuration to allow separate tools to incorporate it
  src/spicy/spicyz/CMakeLists.txt
Due: none

tools/systemd-generator: Create per-interface cgroup slices
  testing/btest/Baseline/tools.systemd-generator.test-all-options/..dir1.zeek-worker-eth0@.service
  testing/btest/Baseline/tools.systemd-generator.test-all-options/..dir1.zeek-worker-eth1@.service
  testing/btest/Baseline/tools.systemd-generator.test-empty-zeek-section/..dir1.zeek-worker-eth0@.service
  testing/btest/Baseline/tools.systemd-generator.test-multi-interface/..dir1.zeek-worker-eth0@.service
  testing/btest/Baseline/tools.systemd-generator.test-multi-interface/..dir1.zeek-worker-eth1@.service
  testing/btest/Baseline/tools.systemd-generator.test-multi-interface/..dir1.zeek-worker-eth2@.service
  testing/btest/Baseline/tools.systemd-generator.test-no-zeek-section/..dir1.zeek-worker-eth0@.service
  tools/systemd-generator/src/zeek-systemd-generator.cc
Due: license, btest-command-commented

tools/systemd-generator: Minor clang-tidy fixes
  tools/systemd-generator/src/zeek-systemd-generator.cc
Due: license

Fix incomplete bounds check in VectorVal allowing memory exhaustion (follow-up to GH-5825)
  src/Val.cc
  src/script_opt/ZAM/ZBody.cc
Due: license

Shallow-clone Zeek submodules by default
  .github/workflows/check.yml
  .github/workflows/coverity-scan.yml
  .github/workflows/generate-docs.yml
  .gitmodules
Due: none

Remove `.update-changes.cfg`
  .update-changes.cfg
Due: none

Derive Zeek version from Git
  .circleci/builds.yml
  .github/workflows/check.yml
  .github/workflows/coverity-scan.yml
  .github/workflows/docs-link-check.yml
  .github/workflows/generate-docs.yml
  CMakeLists.txt
  Makefile
  VERSION
  ci/benchmark.sh
  ci/collect-repo-info.py
  doc/conf.py
  docker/Makefile
  testing/btest/scripts/site/local-compat.test
Due: btest-command-commented

Remove top-level CHANGES and update references
  .pre-commit-config.yaml
  CHANGES
  NEWS
  README.md
  doc/quickstart.rst
  doc/redirects.yml
Due: none

Include Git history in source distributions
  Makefile
  NEWS
  ci/git-zeek-log
Due: none

scapy-pcap: Address review feedback
  .agents/skills/scapy-pcap/SKILL.md
  .agents/skills/scapy-pcap/assets/compression-and-pcapng.md
  .agents/skills/scapy-pcap/assets/template-tcp.pcap.py
  .agents/skills/scapy-pcap/assets/template-udp.pcap.py
  .agents/skills/scapy-pcap/assets/verification.md
Due: none

scapy-pcap: Cover derived traces and listing Scapy layers
  .agents/skills/scapy-pcap/SKILL.md
Due: none

Fix Broker instrumentation for sanitizer builds
  CMakeLists.txt
Due: none

Propagate flags to Broker via CMake target
  CMakeLists.txt
Due: none

Path conditions:
  license: any of: \.(h|c|cpp|cc|spicy|evt)$, but not: ^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$
  btest-command-commented: any of: ^testing/btest/.*$
