Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*|doc/devel/spicy/autogen/.*.spicy'

Replace a few trival copy constructors/operators with equals-default
  src/IP.cc
  src/IPAddr.h
  src/TunnelEncapsulation.h
  src/plugin/Plugin.h
Due: license

Enable clang-tidy modernize-use-equals-default, fix findings in binpac
  .clang-tidy
  tools/binpac/lib/binpac.h.in
  tools/binpac/src/pac_analyzer.h
  tools/binpac/src/pac_common.h
  tools/binpac/src/pac_datadep.h
  tools/binpac/src/pac_decl.h
  tools/binpac/src/pac_embedded.h
  tools/binpac/src/pac_func.h
  tools/binpac/src/pac_id.cc
  tools/binpac/src/pac_id.h
  tools/binpac/src/pac_param.cc
  tools/binpac/src/pac_param.h
  tools/binpac/src/pac_paramtype.cc
  tools/binpac/src/pac_paramtype.h
  tools/binpac/src/pac_primitive.h
  tools/binpac/src/pac_record.cc
  tools/binpac/src/pac_record.h
  tools/binpac/src/pac_regex.cc
  tools/binpac/src/pac_regex.h
Due: license

Merge remote-tracking branch 'origin/topic/vern/ZAM-recursive-table-iters'
  CHANGES
  VERSION
  src/script_opt/ZAM/ZBody.cc
  src/script_opt/ZAM/ZBody.h
  testing/btest/Baseline/opt.regress-recursive-table-iter/output
  testing/btest/opt/regress-recursive-table-iter.zeek
Due: license, btest-command-commented

Merge branch 'topic/ado/final-docker' of https://github.com/edoardomich/zeek
  CHANGES
  VERSION
  docker/final.Dockerfile
Due: none

Update NEWS file
  NEWS
Due: none

Revert include change for bif types that was breaking Windows
  src/iosource/Packet.h
Due: license

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/script-reference/autogenerated-file-analyzer-index.rst
  doc/script-reference/autogenerated-protocol-analyzer-index.rst
  doc/scripts/base/bif/plugins/Zeek_FileHash.events.bif.zeek.rst
Due: none

Merge remote-tracking branch 'origin/topic/awelzel/ordered-dict-delete-copy-crash'
  CHANGES
  VERSION
  src/Dict.h
  src/Val.cc
  testing/btest/Baseline/language.copy-ordered-set-delete-2/out
  testing/btest/Baseline/language.copy-ordered-set-delete-3/out
  testing/btest/Baseline/language.copy-ordered-set-delete/out
  testing/btest/language/copy-ordered-set-delete.zeek
Due: license, btest-command-commented

Update NEWS for 8.0.4 release
  NEWS
Due: none

CI: Add Fedora 43, drop Fedora 41
  .cirrus.yml
  ci/fedora-43/Dockerfile
Due: none

tools/systemd-generator: Add SyslogIdentifier
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator-defaults/normal-dir.zeek-logger@.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator-defaults/normal-dir.zeek-manager.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator-defaults/normal-dir.zeek-proxy@.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator-defaults/normal-dir.zeek-worker@.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-logger@.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-manager.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-proxy@.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-worker@.service
  testing/btest/Baseline/tools.test-paths/..dir1.zeek-worker@.service
  testing/btest/Baseline/tools.test-paths/..dir2.zeek-worker@.service
  tools/systemd-generator/src/systemd-unit.cc
  tools/systemd-generator/src/systemd-unit.h
  tools/systemd-generator/src/zeek-systemd-generator.cc
Due: license, btest-command-commented

Update zeek-client submodule to v1.5.0 release
  NEWS
Due: none

Updating CHANGES and VERSION.
  CHANGES
  VERSION
Due: none

Reverse a few if/else conditions for readability
  src/Expr.cc
  src/Reporter.cc
  src/RuleMatcher.cc
  src/analyzer/protocol/bittorrent/BitTorrentTracker.cc
  src/analyzer/protocol/gnutella/Gnutella.cc
  src/analyzer/protocol/irc/IRC.cc
  src/iosource/Manager.cc
  src/iosource/PktDumper.cc
  src/iosource/PktSrc.cc
  src/script_opt/CPP/Stmts.cc
Due: license

Fix some missing instances of cppcoreguidelines-pro-type-cstyle-cast
  .clang-tidy
  src/probabilistic/top-k.bif
  src/strings.bif
  src/zeek.bif
Due: none

Fix a typo in the 8.0.4 NEWS [nomail] [skip ci]
  NEWS
Due: none

Split ASN.1 token into components in ASN1EncodingMeta
  src/analyzer/protocol/asn1/asn1.pac
Due: none

gssapi: Handle case where kerberos data isn't prepended by OID
  src/analyzer/protocol/gssapi/gssapi-analyzer.pac
  src/analyzer/protocol/gssapi/gssapi-protocol.pac
  src/analyzer/protocol/krb/krb-protocol.pac
  testing/btest/Baseline/scripts.base.protocols.dce-rpc.spnego-gssapi-kerberos/kerberos.log.135
  testing/btest/Baseline/scripts.base.protocols.dce-rpc.spnego-gssapi-kerberos/kerberos.log.445
  testing/btest/Baseline/scripts.base.protocols.dce-rpc.spnego-gssapi-kerberos/output.135
  testing/btest/Baseline/scripts.base.protocols.dce-rpc.spnego-gssapi-kerberos/output.445
  testing/btest/Traces/dce-rpc/kerberos135_auth.pcapng
  testing/btest/Traces/dce-rpc/kerberos445_auth.pcapng
  testing/btest/scripts/base/protocols/dce-rpc/spnego-gssapi-kerberos.zeek
  testing/external/commit-hash.zeek-testing
  testing/external/commit-hash.zeek-testing-private
Due: btest-command-commented

Revert "Add skip conditions for container builder tasks"
  .cirrus.yml
Due: none

Enable bugprone-undefined-memory-manipulation and bugprone-suspicious-include
  .clang-tidy
Due: none

Restore clang-tidy modernize-type-traits checker
  .clang-tidy
Due: none

fix for only compiling attributes needed for standalone
  src/script_opt/CPP/Attrs.cc
  src/script_opt/CPP/InitsInfo.cc
Due: license

remove constraint that no longer applies
  src/script_opt/CPP/Types.cc
Due: license

track lambda IDs directly
  src/script_opt/CPP/DeclFunc.cc
  src/script_opt/CPP/DeclFunc.h
  src/script_opt/CPP/GenFunc.cc
  src/script_opt/CPP/GenFunc.h
Due: license

ci: Force open files limit to 256
  .cirrus.yml
  ci/test.sh
Due: none

Move cmake templates from src dir to live with others
  CMakeLists.txt
  cmake_templates/ZeekConfig.cmake.in
  cmake_templates/ZeekPluginBootstrap.cmake.in
  cmake_templates/ZeekPluginConfig.cmake.in
Due: none

Remove hard dependency on OpenSSL/Broker from ZeekConfig.cmake
  NEWS
  cmake_templates/ZeekConfig.cmake.in
Due: none

x509: Implement deduplication without Broker stores
  scripts/base/files/x509/main.zeek
  testing/btest/Baseline/scripts.base.files.x509.log-caching-cluster-zeromq/manager.x509.log
  testing/btest/scripts/base/files/x509/log-caching-cluster-zeromq.test
Due: btest-command-commented

Update paraglob submodule [nomail]
  src/OpaqueVal.cc
  src/zeek.bif
Due: license

Enable clang-tidy readability-const-return-type checker, fix findings
  .clang-tidy
  src/CompHash.cc
  src/DebugLogger.cc
  src/DebugLogger.h
  src/cluster/websocket/WebSocket.cc
  src/cluster/websocket/WebSocket.h
  src/packet_analysis/Analyzer.cc
  src/packet_analysis/Analyzer.h
  src/plugin/Plugin.h
  src/script_opt/CPP/RuntimeInits.h
  src/script_opt/ZAM/Expr.cc
  src/script_opt/ZAM/Expr.h
  src/script_opt/ZAM/Low-Level.cc
  src/script_opt/ZAM/Low-Level.h
  src/script_opt/ZAM/Stmt.cc
  src/script_opt/ZAM/Stmt.h
  src/script_opt/ZAM/Vars.cc
  src/script_opt/ZAM/Vars.h
  src/spicy/spicyz/config.h.in
  tools/gen-zam/Gen-ZAM.cc
Due: license

CI: Make cluster_test and amd64_container_image have the same conditions
  .cirrus.yml
Due: none

CI: Format scripts in docker_build_template the same
  .cirrus.yml
Due: none

CI: Add git SHA as label in the built docker images
  .cirrus.yml
  docker/builder.Dockerfile
  docker/final.Dockerfile
Due: none

CI: Skip loading cached final docker image until needed
  .cirrus.yml
Due: none
