Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*|doc/devel/spicy/autogen/.*.spicy'

Avoid describing containers as "Docker containers"
  doc/tutorial/logs.rst
  doc/tutorial/scripting/tutorial-example.rst
  doc/tutorial/setup.rst
Due: none

Add scripting basics video link
  doc/tutorial/scripting/basics.rst
Due: none

Finish the logs tutorial section
  doc/tutorial/logs.rst
Due: none

Move scripting tutorial to use diffs
  doc/tutorial/scripting/tutorial-example.rst
  doc/tutorial/scripting/tutorial/01-steps/01.zeek
  doc/tutorial/scripting/tutorial/01-steps/02.zeek
  doc/tutorial/scripting/tutorial/01-steps/02.zeek.diff
  doc/tutorial/scripting/tutorial/01-steps/03.zeek
  doc/tutorial/scripting/tutorial/01-steps/03.zeek.diff
  doc/tutorial/scripting/tutorial/01-steps/04.zeek
  doc/tutorial/scripting/tutorial/01-steps/04.zeek.diff
  doc/tutorial/scripting/tutorial/01-steps/05.zeek
  doc/tutorial/scripting/tutorial/01-steps/05.zeek.diff
  doc/tutorial/scripting/tutorial/01-steps/06.zeek
  doc/tutorial/scripting/tutorial/01-steps/06.zeek.diff
  doc/tutorial/scripting/tutorial/01-steps/07.zeek
  doc/tutorial/scripting/tutorial/01-steps/07.zeek.diff
  doc/tutorial/scripting/tutorial/01-steps/08.zeek
  doc/tutorial/scripting/tutorial/01-steps/08.zeek.diff
  doc/tutorial/scripting/tutorial/02-steps/01.zeek
  doc/tutorial/scripting/tutorial/02-steps/02.zeek
  doc/tutorial/scripting/tutorial/02-steps/02.zeek.diff
  doc/tutorial/scripting/tutorial/02-steps/03.zeek
  doc/tutorial/scripting/tutorial/02-steps/03.zeek.diff
  doc/tutorial/scripting/tutorial/02-steps/04.zeek
  doc/tutorial/scripting/tutorial/02-steps/04.zeek.diff
  doc/tutorial/scripting/tutorial/02-steps/05.zeek
  doc/tutorial/scripting/tutorial/02-steps/05.zeek.diff
  doc/tutorial/scripting/tutorial/03-steps/01.zeek
  doc/tutorial/scripting/tutorial/03-steps/02.zeek
  doc/tutorial/scripting/tutorial/03-steps/02.zeek.diff
  doc/tutorial/scripting/tutorial/03-steps/03.zeek
  doc/tutorial/scripting/tutorial/03-steps/03.zeek.diff
  doc/tutorial/scripting/tutorial/03-steps/04.zeek
  doc/tutorial/scripting/tutorial/03-steps/04.zeek.diff
  doc/tutorial/scripting/tutorial/03-steps/05.zeek
  doc/tutorial/scripting/tutorial/03-steps/05.zeek.diff
  doc/tutorial/scripting/tutorial/03-steps/06.zeek
  doc/tutorial/scripting/tutorial/03-steps/06.zeek.diff
Due: none

Do not use branch for tutorial setup script
  doc/tutorial/setup.rst
Due: none

Light edits to the logging section
  doc/tutorial/logs.rst
Due: none

Touchup various parts of the tutorial
  doc/tutorial/invoking-zeekctl.rst
  doc/tutorial/logs.rst
  doc/tutorial/scripting/basics.rst
  doc/tutorial/scripting/tutorial-example.rst
  doc/tutorial/using-packages.rst
Due: none

Delete the old log introspection section
  doc/index.rst
  doc/log-formats.rst
  doc/quickstart.rst
  doc/tutorial/logs.rst
Due: none

Edits to the expanded script example
  doc/tutorial/scripting/tutorial-example.rst
Due: none

Light edits to the package manager tutorial section
  doc/tutorial/using-packages.rst
Due: none

Minor edits to the Zeek invocation section of the tutorial
  doc/tutorial/invoking-zeek.rst
Due: none

Doc redirects: "Monitoring with Zeek" now lives in the "About Zeek" section
  doc/redirects.yml
Due: none

Doc redirects: turn remaining temporary redirects into permanent ones
  doc/redirects.yml
Due: none

Doc redirects: simplify routing to maintainers.html and contributors.html
  doc/redirects.yml
Due: none

Doc redirects: reflect about/index updates
  doc/redirects.yml
Due: none

Doc redirects: the log formats section now lives in the tutorial
  doc/redirects.yml
Due: none

Doc redirects: the subcomponents have moved into advanced topics
  doc/redirects.yml
Due: none

Doc redirects: the logs walkthrough now lives in the reference section
  doc/redirects.yml
Due: none

Doc redirects: the developer guides have moved into the advanced section
  doc/redirects.yml
Due: none

Doc redirects: simplify routing to install.html
  doc/redirects.yml
Due: none

docs: Fix tabs in intel framework example
  doc/frameworks/intel.rst
  doc/frameworks/intel/basic.txt
  doc/frameworks/intel/donotice.txt
Due: none

Doc redirects: update scripting material
  doc/redirects.yml
Due: none

Doc redirects: the troubleshooting chapter now lives in advanced topics
  doc/redirects.yml
Due: none

Add igmp/spicy-events.zeek for docs, expand testing of events
  doc/scripts/base/packet-protocols/igmp/main.zeek.rst
  doc/scripts/base/packet-protocols/igmp/types.zeek.rst
  scripts/base/packet-protocols/igmp/main.zeek
  scripts/base/packet-protocols/igmp/spicy-events.zeek
  scripts/base/packet-protocols/igmp/types.zeek
  src/packet_analysis/protocol/igmp/igmp.evt
  testing/btest/Baseline/coverage.init-default/missing_loads
  testing/btest/Baseline/plugins.hooks/output
  testing/btest/Baseline/scripts.base.protocols.igmp.bad-checksum/out
  testing/btest/Baseline/scripts.base.protocols.igmp.basic/out
  testing/btest/scripts/base/protocols/igmp/bad-checksum.zeek
  testing/btest/scripts/base/protocols/igmp/basic.zeek
Due: license, btest-command-commented

Import IGMP analyzer from zeek-plugins/igmp
  scripts/base/packet-protocols/__load__.zeek
  scripts/base/packet-protocols/igmp/__load__.zeek
  scripts/base/packet-protocols/igmp/main.zeek
  scripts/base/packet-protocols/igmp/types.zeek
  src/packet_analysis/protocol/CMakeLists.txt
  src/packet_analysis/protocol/igmp/CMakeLists.txt
  src/packet_analysis/protocol/igmp/igmp.evt
  src/packet_analysis/protocol/igmp/igmp.spicy
  testing/btest/Baseline/coverage.bare-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.default-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.find-bro-logs/out
  testing/btest/Baseline/plugins.hooks/output
  testing/btest/Baseline/scripts.base.protocols.igmp.bad-checksum/igmp.log
  testing/btest/Baseline/scripts.base.protocols.igmp.basic/igmp.log
  testing/btest/Traces/igmp/igmp-bad-checksum.pcap
  testing/btest/Traces/igmp/igmp.pcap
  testing/btest/scripts/base/protocols/igmp/bad-checksum.zeek
  testing/btest/scripts/base/protocols/igmp/basic.zeek
  testing/external/commit-hash.zeek-testing
Due: license, btest-command-commented

Adding missing documentation tags to existing Spicy analyzers.
  src/analyzer/protocol/postgresql/postgresql.evt
  src/analyzer/protocol/redis/resp.evt
  src/analyzer/protocol/ssl/spicy/SSL.evt
Due: license

Update docs for IGMP analyzer addition, reformat code
  doc/reference/zeekscript/autogenerated-package-index.rst
  doc/reference/zeekscript/autogenerated-packet-analyzer-index.rst
  doc/reference/zeekscript/autogenerated-protocol-analyzer-index.rst
  doc/reference/zeekscript/autogenerated-script-index.rst
  doc/scripts/base/bif/index.rst
  doc/scripts/base/frameworks/logging/main.zeek.rst
  doc/scripts/base/packet-protocols/__load__.zeek.rst
  doc/scripts/base/packet-protocols/igmp/__load__.zeek.rst
  doc/scripts/base/packet-protocols/igmp/index.rst
  doc/scripts/base/packet-protocols/igmp/main.zeek.rst
  doc/scripts/base/packet-protocols/igmp/types.zeek.rst
  doc/scripts/base/packet-protocols/index.rst
  doc/scripts/base/protocols/conn/inactivity.zeek.rst
  scripts/base/packet-protocols/igmp/main.zeek
  scripts/base/packet-protocols/igmp/types.zeek
Due: none

Add igmpv1 btest/trace
  testing/btest/Baseline/scripts.base.protocols.igmp.basic-v1/igmp.log
  testing/btest/Traces/README
  testing/btest/Traces/igmp/multicast-igmp-version-membership-query-and-report.pcap
  testing/btest/scripts/base/protocols/igmp/basic-v1.zeek
Due: btest-command-commented

Fix inconsistencies in IGMP analyzer.
  scripts/base/packet-protocols/igmp/__load__.zeek
  scripts/base/packet-protocols/igmp/main.zeek
  src/packet_analysis/protocol/igmp/igmp.evt
  testing/btest/Baseline/coverage.bare-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.default-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.init-default/missing_loads
  testing/btest/Baseline/plugins.hooks/output
  testing/btest/Baseline/scripts.base.protocols.igmp.basic/out
  testing/btest/scripts/base/protocols/igmp/bad-checksum.zeek
  testing/btest/scripts/base/protocols/igmp/basic.zeek
Due: license, btest-command-commented

Remove an unnecessary field from the v3 event
  scripts/base/packet-protocols/igmp/main.zeek
  scripts/base/packet-protocols/igmp/spicy-events.zeek
  src/packet_analysis/protocol/igmp/igmp.evt
  testing/btest/Baseline/scripts.base.protocols.igmp.basic/out
  testing/btest/scripts/base/protocols/igmp/basic.zeek
Due: license, btest-command-commented

Implement rate limiting for IGMP logs
  scripts/base/packet-protocols/igmp/main.zeek
  scripts/base/packet-protocols/igmp/types.zeek
  testing/btest/Baseline/scripts.base.protocols.igmp.bad-checksum/igmp.log
  testing/btest/Baseline/scripts.base.protocols.igmp.basic-v1/igmp.log
  testing/btest/Baseline/scripts.base.protocols.igmp.basic/igmp.log
  testing/btest/scripts/base/protocols/igmp/basic.zeek
Due: btest-command-commented

Report a weird for a bad IGMP checksum instead of an event
  scripts/base/packet-protocols/igmp/spicy-events.zeek
  src/packet_analysis/protocol/igmp/igmp.evt
  src/packet_analysis/protocol/igmp/igmp.spicy
  testing/btest/Baseline/scripts.base.protocols.igmp.bad-checksum/igmp.log
  testing/btest/Baseline/scripts.base.protocols.igmp.bad-checksum/out
  testing/btest/Baseline/scripts.base.protocols.igmp.bad-checksum/weird.log
  testing/btest/scripts/base/protocols/igmp/bad-checksum.zeek
Due: license, btest-command-commented

Add NEWS entry for IGMP analyzer
  NEWS
Due: none

review changes
  scripts/base/packet-protocols/igmp/main.zeek
  scripts/base/packet-protocols/igmp/spicy-events.zeek
  scripts/spicy/zeek.spicy
  src/packet_analysis/protocol/igmp/igmp.evt
  src/packet_analysis/protocol/igmp/igmp.spicy
  testing/btest/Baseline/core.tunnels.teredo-known-services/known_services.log
  testing/btest/Baseline/language.expire_func-copy/output
  testing/btest/Baseline/scripts.base.protocols.igmp.bad-checksum/igmp.log
  testing/btest/Baseline/scripts.base.protocols.igmp.basic-v1/igmp.log
  testing/btest/Baseline/scripts.base.protocols.igmp.basic/igmp.log
  testing/btest/Baseline/scripts.base.protocols.igmp.basic/out
  testing/btest/scripts/base/protocols/igmp/basic.zeek
  testing/external/commit-hash.zeek-testing
Due: license, btest-command-commented

Regenerate docs
  doc/reference/zeekscript/autogenerated-packet-analyzer-index.rst
  doc/reference/zeekscript/autogenerated-protocol-analyzer-index.rst
  doc/reference/zeekscript/autogenerated-script-index.rst
  doc/scripts/base/packet-protocols/igmp/__load__.zeek.rst
  doc/scripts/base/packet-protocols/igmp/index.rst
  doc/scripts/base/packet-protocols/igmp/main.zeek.rst
  doc/scripts/base/packet-protocols/igmp/spicy-events.zeek.rst
  doc/scripts/base/packet-protocols/igmp/types.zeek.rst
  doc/scripts/base/packet-protocols/index.rst
Due: none

Attr: Add &publish_on_change
  src/Attr.cc
  src/Attr.h
Due: license

Timer: Add timer for &publish_on_change
  src/Timer.cc
  src/Timer.h
Due: license

cluster: Introduce PublishOnChangeState class and script-level support
  scripts/base/frameworks/cluster/__load__.zeek
  scripts/base/frameworks/cluster/publish-on-change.zeek
  scripts/base/init-bare.zeek
  src/cluster/CMakeLists.txt
  src/cluster/PublishOnChangeState.cc
  src/cluster/PublishOnChangeState.h
  src/cluster/publish_on_change.bif
  testing/btest/Baseline/cluster.generic.on-subscribe-unsubscribe/.stdout
  testing/btest/Baseline/coverage.bare-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.default-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/plugins.hooks/output
Due: license, btest-command-commented
