Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

license:
  name: Check for license headers
  entry: ./ci/license-header.py
  language: python

btest-command-commented:
  name: Check that all BTest command lines are commented out
  entry: ^\s*@TEST-
  language: pygrep

Avoid describing containers as "Docker containers"
  doc/tutorial/logs.rst
  doc/tutorial/scripting/tutorial-example.rst
  doc/tutorial/setup.rst
Due: none

testing/btest/zeromq: Add steerable proxy metrics test
  testing/btest/Baseline/cluster.zeromq.proxy-steerable-metrics/..manager.out
  testing/btest/Baseline/cluster.zeromq.proxy-steerable-metrics/..worker.out
  testing/btest/cluster/zeromq/proxy-steerable-metrics.zeek
Due: btest-command-commented

Update CT/CA lists
  scripts/base/protocols/ssl/ct-list.zeek
  scripts/base/protocols/ssl/mozilla-ca-list.zeek
Due: none

Touchup the whole new tutorial
  doc/tutorial/cluster-backends.rst
  doc/tutorial/index.rst
  doc/tutorial/invoking-zeek.rst
  doc/tutorial/invoking-zeekctl.rst
  doc/tutorial/logs.rst
  doc/tutorial/scripting/index.rst
  doc/tutorial/scripting/tutorial-example.rst
  doc/tutorial/setup.rst
  doc/tutorial/using-packages.rst
Due: none

Update docs [nomail] [skip ci]
  doc/script-reference/autogenerated-file-analyzer-index.rst
  doc/script-reference/autogenerated-protocol-analyzer-index.rst
  doc/scripts/base/bif/event.bif.zeek.rst
  doc/scripts/base/init-bare.zeek.rst
Due: none

Start of v8.2.0 development
  NEWS
  VERSION
  testing/btest/scripts/site/local-compat.test
Due: btest-command-commented

Updating CHANGES and VERSION.
  CHANGES
  VERSION
Due: none

fix state growth in building NFAs
  src/NFA.cc
  src/NFA.h
  src/RE.cc
Due: license

update ZAM BTest for new BiF (sha256_hmac)
  testing/btest/Baseline/opt.ZAM-bif-tracking/output
Due: btest-command-commented

Updating CHANGES and VERSION.
  CHANGES
Due: none

Merge branch 'topic/vern/nfa-state-reset'
  CHANGES
  VERSION
  src/NFA.cc
  src/NFA.h
  src/RE.cc
  testing/btest/Baseline/opt.ZAM-bif-tracking/output
Due: license, btest-command-commented

Fix tls-1.2-late-protocol-error test failure for Spicy SSL analyzer
  testing/btest/Baseline/scripts.base.protocols.ssl.tls-1.2-late-protocol-error/analyzer.log
  testing/btest/scripts/base/protocols/ssl/tls-1.2-late-protocol-error.test
Due: btest-command-commented

fixup! tools/gen-zam: Add assign-zval template attribute
  tools/gen-zam/Gen-ZAM.cc
Due: license

fixup! Analyzer/Conn: Deprecate UpdateConnVal(), introduce InitConnVal()
  src/analyzer/Analyzer.cc
  src/analyzer/Analyzer.h
Due: license

fixup! tcp,udp,icmp,unknown: Implement GetEndpointSize() / GetEndpointState()
  src/packet_analysis/protocol/icmp/ICMPSessionAdapter.cc
  src/packet_analysis/protocol/tcp/TCPSessionAdapter.cc
  src/packet_analysis/protocol/udp/UDPSessionAdapter.cc
Due: license

fixup! analyzer/ConnSize: Switch to callback based endpoint fields
  src/analyzer/protocol/conn-size/ConnSize.h
Due: license

fixup! logging/Manager: Handle callback based fields
  src/logging/Manager.cc
Due: license

fixup! SessionAdapter/TapAnalyzer: Remove UpdateConnVal
  src/packet_analysis/protocol/ip/SessionAdapter.h
Due: license

fixup! ZAM/OPs/macros: Add and use LoadField macros
  src/script_opt/ZAM/OPs/macros.op
Due: none

Merge remote-tracking branch 'origin/topic/johanna/tls12spicytestfix'
  CHANGES
  VERSION
  testing/btest/Baseline/scripts.base.protocols.ssl.tls-1.2-late-protocol-error/analyzer.log
  testing/btest/scripts/base/protocols/ssl/tls-1.2-late-protocol-error.test
Due: btest-command-commented

Allow port redefs for built-in analyzers
  scripts/base/frameworks/analyzer/main.zeek
  scripts/base/protocols/dce-rpc/main.zeek
  scripts/base/protocols/dhcp/main.zeek
  scripts/base/protocols/dnp3/main.zeek
  scripts/base/protocols/dns/main.zeek
  scripts/base/protocols/finger/main.zeek
  scripts/base/protocols/ftp/main.zeek
  scripts/base/protocols/http/main.zeek
  scripts/base/protocols/imap/main.zeek
  scripts/base/protocols/irc/main.zeek
  scripts/base/protocols/krb/main.zeek
  scripts/base/protocols/ldap/main.zeek
  scripts/base/protocols/modbus/main.zeek
  scripts/base/protocols/mqtt/main.zeek
  scripts/base/protocols/mysql/main.zeek
  scripts/base/protocols/ntp/main.zeek
  scripts/base/protocols/postgresql/main.zeek
  scripts/base/protocols/quic/main.zeek
  scripts/base/protocols/radius/main.zeek
  scripts/base/protocols/rdp/main.zeek
  scripts/base/protocols/redis/main.zeek
  scripts/base/protocols/sip/main.zeek
  scripts/base/protocols/smb/main.zeek
  scripts/base/protocols/smtp/main.zeek
  scripts/base/protocols/snmp/main.zeek
  scripts/base/protocols/socks/main.zeek
  scripts/base/protocols/ssh/main.zeek
  scripts/base/protocols/ssl/main.zeek
  scripts/base/protocols/syslog/main.zeek
  scripts/base/protocols/xmpp/main.zeek
Due: none

Update btest
  testing/btest/Baseline/plugins.hooks/output
Due: btest-command-commented

Allow port redefs for built-in packet analyzers
  scripts/base/packet-protocols/ayiya/main.zeek
  scripts/base/packet-protocols/geneve/main.zeek
  scripts/base/packet-protocols/gtpv1/main.zeek
  scripts/base/packet-protocols/main.zeek
  scripts/base/packet-protocols/teredo/main.zeek
  scripts/base/packet-protocols/vxlan/main.zeek
Due: none

Move analyzer port variables into export
  scripts/base/packet-protocols/ayiya/main.zeek
  scripts/base/packet-protocols/gtpv1/main.zeek
  scripts/base/packet-protocols/teredo/main.zeek
  scripts/base/protocols/dce-rpc/main.zeek
  scripts/base/protocols/dhcp/main.zeek
  scripts/base/protocols/dnp3/main.zeek
  scripts/base/protocols/dns/main.zeek
  scripts/base/protocols/finger/main.zeek
  scripts/base/protocols/ftp/main.zeek
  scripts/base/protocols/http/main.zeek
  scripts/base/protocols/imap/main.zeek
  scripts/base/protocols/irc/main.zeek
  scripts/base/protocols/krb/main.zeek
  scripts/base/protocols/modbus/main.zeek
  scripts/base/protocols/mqtt/main.zeek
  scripts/base/protocols/mysql/main.zeek
  scripts/base/protocols/ntp/main.zeek
  scripts/base/protocols/postgresql/main.zeek
  scripts/base/protocols/quic/main.zeek
  scripts/base/protocols/radius/main.zeek
  scripts/base/protocols/rdp/main.zeek
  scripts/base/protocols/sip/main.zeek
  scripts/base/protocols/smb/main.zeek
  scripts/base/protocols/smtp/main.zeek
  scripts/base/protocols/snmp/main.zeek
  scripts/base/protocols/socks/main.zeek
  scripts/base/protocols/ssh/main.zeek
  scripts/base/protocols/ssl/main.zeek
  scripts/base/protocols/syslog/main.zeek
  scripts/base/protocols/xmpp/main.zeek
Due: none

quic: Exclude DoQ ports from likely_server_ports
  scripts/base/protocols/quic/main.zeek
Due: none

NEWS: Add an entry about redef of analyzer ports
  NEWS
Due: none

support for ZAM optimization of certain conditional branches
  src/script_opt/ZAM/AM-Opt.cc
  src/script_opt/ZAM/AM-Opt.h
  src/script_opt/ZAM/Low-Level.cc
  src/script_opt/ZAM/OPs/README.txt
  src/script_opt/ZAM/OPs/non-uniform.op
  src/script_opt/ZAM/OPs/rel-exprs.op
  src/script_opt/ZAM/ZOp.cc
  src/script_opt/ZAM/ZOp.h
  tools/gen-zam/Gen-ZAM.cc
  tools/gen-zam/Gen-ZAM.h
Due: license

Move `Packet` VLAN fields to accessors
  src/Conn.cc
  src/iosource/Packet.cc
  src/iosource/Packet.h
  src/iosource/af_packet/AF_Packet.cc
  src/packet_analysis/protocol/ip/conn_key/vlan_fivetuple/Factory.cc
  src/packet_analysis/protocol/vlan/VLAN.cc
Due: license

Change `Connection`'s vlans to optional
  src/Conn.cc
  src/Conn.h
Due: license

Allow VLAN of 0
  src/Conn.cc
  src/Conn.h
  src/iosource/Packet.cc
  src/iosource/Packet.h
  src/iosource/af_packet/AF_Packet.cc
  src/packet_analysis/protocol/ip/conn_key/vlan_fivetuple/Factory.cc
  src/packet_analysis/protocol/vlan/VLAN.cc
  testing/btest/Baseline/scripts.base.protocols.vlan.vlan-0-qinq/conn.log.cut
  testing/btest/Baseline/scripts.base.protocols.vlan.vlan-0/conn.log.cut
  testing/btest/Traces/http-qinq-0.pcap
  testing/btest/Traces/http-vlan-0.pcap
  testing/btest/scripts/base/protocols/vlan/vlan-0-qinq.zeek
  testing/btest/scripts/base/protocols/vlan/vlan-0.zeek
Due: license, btest-command-commented

Restrict VLAN tags to their natural sizes
  src/iosource/Packet.h
  src/packet_analysis/protocol/vlan/VLAN.cc
Due: license

Use `VlanTag` instead of separate ID/PCP/DEI/etc.
  src/Conn.cc
  src/iosource/Packet.cc
  src/iosource/Packet.h
  src/iosource/af_packet/AF_Packet.cc
  src/packet_analysis/protocol/ip/conn_key/vlan_fivetuple/Factory.cc
  src/packet_analysis/protocol/vlan/VLAN.cc
Due: license

extended Config::config_files to support dynamic additions via zeek_init()
  scripts/base/frameworks/config/input.zeek
  testing/btest/Baseline/scripts.base.frameworks.config.several-files/zeek.config.log
  testing/btest/scripts/base/frameworks/config/several-files.zeek
Due: btest-command-commented

fixes for using unspecified vectors/tables in constructors
  src/Expr.cc
  src/Type.cc
  testing/btest/Baseline/language.set-type-checking/out
  testing/btest/Baseline/language.table-init/output
  testing/btest/language/set-type-checking.zeek
  testing/btest/language/table-init.zeek
Due: license, btest-command-commented

Add scripting basics video link
  doc/tutorial/scripting/basics.rst
Due: none

Path conditions:
  license: any of: \.(h|c|cpp|cc|spicy|evt)$, but not: ^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$
  btest-command-commented: any of: ^testing/btest/.*$
