Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*|doc/devel/spicy/autogen/.*.spicy'

support for ZAM optimization of certain conditional branches
  src/script_opt/ZAM/AM-Opt.cc
  src/script_opt/ZAM/AM-Opt.h
  src/script_opt/ZAM/Low-Level.cc
  src/script_opt/ZAM/OPs/README.txt
  src/script_opt/ZAM/OPs/non-uniform.op
  src/script_opt/ZAM/OPs/rel-exprs.op
  src/script_opt/ZAM/ZOp.cc
  src/script_opt/ZAM/ZOp.h
  tools/gen-zam/Gen-ZAM.cc
  tools/gen-zam/Gen-ZAM.h
Due: license

fixup! support for ZAM optimization of certain conditional branches
  src/script_opt/ZAM/AM-Opt.h
Due: license

btest/broker: Remove get_broker_stats() print
  testing/btest/Baseline/broker.remote_event/recv.recv.out
  testing/btest/Baseline/broker.remote_event_any/recv.recv.out
  testing/btest/Baseline/broker.remote_event_ssl_auth/recv.recv.out
  testing/btest/broker/remote_event.zeek
  testing/btest/broker/remote_event_any.zeek
  testing/btest/broker/remote_event_ssl_auth.zeek
Due: btest-command-commented

cluster: Move more Broker specific scripts to policy/
  scripts/base/frameworks/cluster/__load__.zeek
  scripts/policy/frameworks/cluster/backend/broker/__load__.zeek
  scripts/policy/frameworks/cluster/backend/broker/backpressure.zeek
  scripts/policy/frameworks/cluster/backend/broker/telemetry.zeek
  scripts/test-all-policy.zeek
  testing/btest/Baseline/coverage.init-default/missing_loads
Due: btest-command-commented

btest: Use Broker for Broker specific tests
  testing/btest/Files/broker/cluster-layout.zeek
  testing/btest/cluster/generic/cluster-publish-errors.zeek
  testing/btest/cluster/websocket/terminate-while-queuing.zeek
  testing/btest/core/suspend_processing/websocket.zeek
  testing/btest/plugins/publish-event-hook.zeek
  testing/btest/scripts/base/frameworks/control/configuration_update.zeek
  testing/btest/scripts/base/frameworks/control/id_value.zeek
  testing/btest/scripts/base/frameworks/control/shutdown.zeek
  testing/btest/scripts/base/frameworks/logging/length-checking.zeek
  testing/btest/scripts/policy/frameworks/cluster/cluster_started_restart_manager.zeek
  testing/btest/scripts/policy/frameworks/cluster/cluster_started_restart_worker.zeek
  testing/btest/scripts/policy/frameworks/telemetry/prometheus.zeek
  testing/btest/supervisor/config-cluster.zeek
Due: btest-command-commented

cluster: Introduce pubsub.zeek and types.zeek
  scripts/base/frameworks/cluster/__load__.zeek
  scripts/base/frameworks/cluster/main.zeek
  scripts/base/frameworks/cluster/pubsub.zeek
  scripts/base/frameworks/cluster/types.zeek
  testing/btest/Baseline/coverage.bare-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.default-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/plugins.hooks/output
Due: btest-command-commented

cluster: Rename setup-connections to setup-subscriptions
  scripts/base/frameworks/cluster/__load__.zeek
  scripts/base/frameworks/cluster/pools.zeek
  scripts/base/frameworks/cluster/setup-connections.zeek
  scripts/base/frameworks/cluster/setup-subscriptions.zeek
  testing/btest/Baseline/coverage.bare-mode-errors/errors
  testing/btest/Baseline/coverage.init-default/missing_loads
Due: btest-command-commented

init-bare: Default to CLUSTER_BACKEND_NONE
  scripts/base/init-bare.zeek
Due: none

cluster: Move Broker connect logic into policy package
  scripts/base/frameworks/cluster/main.zeek
  scripts/base/frameworks/cluster/setup-connections.zeek
  scripts/policy/frameworks/cluster/backend/broker/__load__.zeek
  scripts/policy/frameworks/cluster/backend/broker/main.zeek
  scripts/test-all-policy.zeek
Due: none

btest/broker/remote_event_ts_compat: Replace 15 second sleep with wait-for-file
  testing/btest/broker/remote_event_ts_compat.zeek
Due: btest-command-commented

btest/broker: Fix logging tests
  testing/btest/broker/remote_log.zeek
  testing/btest/broker/remote_log_batch.zeek
  testing/btest/broker/remote_log_late_join.zeek
  testing/btest/broker/remote_log_types.zeek
Due: btest-command-commented

cluster: Add None backend
  scripts/test-all-policy.zeek
  src/cluster/backend/CMakeLists.txt
  src/cluster/backend/none/CMakeLists.txt
  src/cluster/backend/none/Plugin.cc
Due: license

btest/Files/zeromq/metrics: Add missing load for telemetry framework
  testing/btest/Files/zeromq/metrics.zeek
Due: btest-command-commented

frameworks/cluster: Add websocket/server.zeek
  scripts/policy/frameworks/cluster/websocket/server.zeek
  scripts/test-all-policy.zeek
  scripts/zeekygen/__load__.zeek
  testing/btest/Baseline/cluster.websocket.server.broker/..client.out
  testing/btest/Baseline/cluster.websocket.server.broker/..zeek..stdout
  testing/btest/Baseline/cluster.websocket.server.default/..client.out
  testing/btest/Baseline/cluster.websocket.server.default/..zeek..stdout
  testing/btest/Baseline/cluster.websocket.server.error/.stderr
  testing/btest/Baseline/cluster.websocket.server.ipc/..out
  testing/btest/Baseline/cluster.websocket.server.ipc/..zeek..stdout
  testing/btest/cluster/websocket/server/broker.zeek
  testing/btest/cluster/websocket/server/default.zeek
  testing/btest/cluster/websocket/server/error.zeek
  testing/btest/cluster/websocket/server/ipc.zeek
Due: btest-command-commented

cluster/main: Fatal error on missing backend
  scripts/base/frameworks/cluster/main.zeek
  testing/btest/Baseline/cluster.generic.none-cluster-backend/.stderr
  testing/btest/cluster/generic/none-cluster-backend.zeek
  testing/btest/scripts/base/frameworks/cluster/leftover-log-rotation-multi-logger.zeek
  testing/btest/supervisor/config-cluster-leftover-log-archival.zeek
  testing/btest/supervisor/config-cluster-log-archival.zeek
  testing/btest/supervisor/config-cluster-multi-logger.zeek
  testing/btest/supervisor/config-cluster-pcap.zeek
  testing/btest/supervisor/large-cluster.zeek
Due: btest-command-commented

supervisor: Switch from Broker:: to Cluster::
  scripts/base/frameworks/supervisor/main.zeek
  testing/btest/Baseline/coverage.bare-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.default-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/plugins.hooks/output
  testing/btest/scripts/policy/frameworks/management/controller/agent-checkin.zeek
Due: btest-command-commented

btest/cluster: Canonify some line numbers
  testing/btest/Baseline/cluster.generic.none-cluster-backend/.stderr
  testing/btest/Baseline/cluster.zeromq.ipv6-error/logger..stderr
  testing/btest/Baseline/cluster.zeromq.ipv6-error/manager..stderr
  testing/btest/cluster/generic/none-cluster-backend.zeek
  testing/btest/cluster/zeromq/ipv6-error.zeek
Due: btest-command-commented

cluster/backend/zeromq: Deprecate connect script
  NEWS
  scripts/policy/frameworks/cluster/backend/zeromq/connect.zeek
  scripts/policy/frameworks/cluster/backend/zeromq/main.zeek
  scripts/test-all-policy.zeek
  testing/btest/Baseline/cluster.zeromq.ipv6-error/logger..stderr
  testing/btest/Baseline/cluster.zeromq.ipv6-error/manager..stderr
  testing/btest/Baseline/coverage.bare-mode-errors/errors
  testing/btest/Baseline/coverage.test-all-policy-cluster/.stderr
  testing/btest/Baseline/coverage.test-all-policy-zeekygen/.stderr
  testing/btest/Files/zeromq/test-bootstrap.zeek
  testing/btest/coverage/test-all-policy-zeekygen.test
Due: btest-command-commented

Bump zeekctl to ZeroMQ default revision and update NEWS
  NEWS
Due: none

btest/zam: Fix baselines
  testing/btest/Baseline.zam/broker.publish-errors/send..stderr
  testing/btest/Baseline.zam/cluster.websocket.listen-idempotent/.stderr
  testing/btest/Baseline.zam/cluster.websocket.tls-usage-error/.stderr
Due: btest-command-commented

testing/external: Force CLUSTER_BACKEND_NONE
  testing/external/scripts/testing-setup.zeek
Due: none

doc/zeromq: Remove experimental marker
  doc/devel/cluster-backend-zeromq.rst
Due: none

doc/connkey-plugin: People will know it is cool
  doc/devel/plugins/connkey-plugin.rst
Due: none

cirrus: Try skipping tasks if only ./doc is modified
  .cirrus.yml
Due: none

Make spicyz translate unit blocks->records, too
  src/spicy/spicyz/glue-compiler.cc
  testing/btest/Baseline/spicy.export-type-with-block/output
  testing/btest/spicy/export-type-with-block.zeek
Due: license, btest-command-commented

Wait for file_state_remove to exit scripts/base/frameworks/file-analysis/logging-input-analysis btest
  testing/btest/scripts/base/frameworks/file-analysis/logging-input-analysis.zeek
Due: btest-command-commented

Support for scripts registering analyzer confirmation callbacks
  scripts/base/init-bare.zeek
  src/analyzer/Analyzer.cc
  src/analyzer/Analyzer.h
  src/analyzer/analyzer.bif
  src/file_analysis/Analyzer.cc
  src/packet_analysis/Analyzer.cc
Due: license

BTests for registering analyzer callbacks
  testing/btest/Baseline/bifs.disable_analyzer-callback/out
  testing/btest/Baseline/bifs.register_confirmation_callback/out
  testing/btest/bifs/disable_analyzer-callback.zeek
  testing/btest/bifs/register_confirmation_callback.zeek
Due: btest-command-commented

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/script-reference/autogenerated-package-index.rst
  doc/script-reference/autogenerated-protocol-analyzer-index.rst
  doc/script-reference/autogenerated-script-index.rst
  doc/scripts/base/bif/cluster.bif.zeek.rst
  doc/scripts/base/bif/index.rst
  doc/scripts/base/bif/plugins/Zeek_Cluster_WebSocket.events.bif.zeek.rst
  doc/scripts/base/frameworks/cluster/__load__.zeek.rst
  doc/scripts/base/frameworks/cluster/index.rst
  doc/scripts/base/frameworks/cluster/main.zeek.rst
  doc/scripts/base/frameworks/cluster/pubsub.zeek.rst
  doc/scripts/base/frameworks/cluster/types.zeek.rst
  doc/scripts/base/frameworks/supervisor/api.zeek.rst
  doc/scripts/base/frameworks/supervisor/control.zeek.rst
  doc/scripts/base/frameworks/supervisor/main.zeek.rst
  doc/scripts/base/init-bare.zeek.rst
  doc/scripts/policy/frameworks/cluster/backend/broker/__load__.zeek.rst
  doc/scripts/policy/frameworks/cluster/backend/broker/backpressure.zeek.rst
  doc/scripts/policy/frameworks/cluster/backend/broker/index.rst
  doc/scripts/policy/frameworks/cluster/backend/broker/main.zeek.rst
  doc/scripts/policy/frameworks/cluster/backend/broker/telemetry.zeek.rst
  doc/scripts/policy/frameworks/cluster/backend/zeromq/connect.zeek.rst
  doc/scripts/policy/frameworks/cluster/backend/zeromq/main.zeek.rst
  doc/scripts/policy/frameworks/cluster/websocket/server.zeek.rst
  doc/scripts/test-all-policy.zeek.rst
  doc/scripts/zeekygen/__load__.zeek.rst
Due: none

migrate (some) base scripts to use analyzer confirmation callbacks
  scripts/base/protocols/rdp/main.zeek
  scripts/base/protocols/smtp/main.zeek
  scripts/base/protocols/ssh/main.zeek
  scripts/base/protocols/ssl/main.zeek
Due: none

fixup! Support for scripts registering analyzer confirmation callbacks
  src/analyzer/Analyzer.cc
Due: license

Bump Spicy to new optimizer implementation.
  CMakeLists.txt
Due: none

Fix for the remove of `hilti::util::transform()`.
  src/spicy/spicyz/glue-compiler.cc
Due: license

fixup! Connection: Use callbacks for history and duration
  src/Conn.h
Due: license

fixup! NEWS: Add commentary about stale connection and endpoint fields
  NEWS
Due: none

fixup! Analyzer/Conn: Deprecate UpdateConnVal(), introduce InitConnVal()
  NEWS
  src/Conn.cc
  src/Conn.h
Due: license

fixup! scan/parse/Attr: Introduce &volatile
  doc/script-reference/attributes.rst
Due: none

Address misc review feedback for tutorial
  doc/customizations.rst
  doc/tutorial/index.rst
  doc/tutorial/invoking-zeek.rst
  doc/tutorial/logs.rst
  doc/tutorial/scripting/basics.rst
  doc/tutorial/scripting/index.rst
  doc/tutorial/scripting/tutorial-example.rst
  doc/tutorial/setup.rst
  doc/tutorial/using-packages.rst
Due: none

Remove frameworks section from the tutorial
  doc/tutorial/frameworks/framework-scripts/match.sig
  doc/tutorial/frameworks/framework-scripts/match.zeek
  doc/tutorial/frameworks/zeek-frameworks.rst
  doc/tutorial/index.rst
Due: none
