Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*|doc/devel/spicy/autogen/.*.spicy'

Ensure all of the GroupType fields get emitted by spicy optimizer
  src/packet_analysis/protocol/igmp/igmp.spicy
Due: license

Implement rate limiting for IGMP logs
  scripts/base/packet-protocols/igmp/main.zeek
  scripts/base/packet-protocols/igmp/types.zeek
  testing/btest/Baseline/scripts.base.protocols.igmp.bad-checksum/igmp.log
  testing/btest/Baseline/scripts.base.protocols.igmp.basic-v1/igmp.log
  testing/btest/Baseline/scripts.base.protocols.igmp.basic/igmp.log
  testing/btest/scripts/base/protocols/igmp/basic.zeek
Due: btest-command-commented

Remove an unnecessary field from the v3 event
  scripts/base/packet-protocols/igmp/main.zeek
  scripts/base/packet-protocols/igmp/spicy-events.zeek
  src/packet_analysis/protocol/igmp/igmp.evt
  testing/btest/Baseline/scripts.base.protocols.igmp.basic/out
  testing/btest/scripts/base/protocols/igmp/basic.zeek
Due: license, btest-command-commented

Add analyzer for handling NAT-PMP and PCP
  scripts/base/init-default.zeek
  scripts/base/protocols/nat-mapping/__load__.zeek
  scripts/base/protocols/nat-mapping/main.zeek
  scripts/base/protocols/nat-mapping/spicy-events.zeek
  src/analyzer/protocol/CMakeLists.txt
  src/analyzer/protocol/nat-mapping/CMakeLists.txt
  src/analyzer/protocol/nat-mapping/natmapping.evt
  src/analyzer/protocol/nat-mapping/natmapping.spicy
  src/analyzer/protocol/nat-mapping/natpmp.spicy
  src/analyzer/protocol/nat-mapping/pcp.spicy
Due: license

ldap: Implement ModifyRequest handling
  src/analyzer/protocol/ldap/ldap.spicy
  testing/btest/Baseline/scripts.base.protocols.ldap.modify-request/conn.log
  testing/btest/Baseline/scripts.base.protocols.ldap.modify-request/ldap.log
  testing/btest/Traces/ldap/ldap-size-not-consumed.pcapng
  testing/btest/scripts/base/protocols/ldap/modify-request.zeek
Due: license, btest-command-commented

fixup! ldap: Implement ModifyRequest handling
  src/analyzer/protocol/ldap/ldap.spicy
  testing/btest/scripts/base/protocols/ldap/modify-request.zeek
Due: license, btest-command-commented

Remove trivial uses for unistd.h
  src/Anon.cc
  src/DNS_Mgr.cc
  src/DebugLogger.cc
  src/File.cc
  src/File.h
  src/Func.cc
  src/Hash.h
  src/Options.cc
  src/Reporter.cc
  src/RunState.cc
  src/Val.cc
  src/broker/Manager.cc
  src/input/readers/ascii/Ascii.cc
  src/input/readers/benchmark/Benchmark.cc
  src/input/readers/config/Config.cc
  src/input/readers/raw/Raw.h
  src/input/readers/sqlite/SQLite.cc
  src/logging/writers/ascii/Ascii.cc
  src/scan.l
  src/script_opt/CPP/Driver.cc
  src/script_opt/CPP/Util.cc
  src/script_opt/ProfileFunc.cc
  src/session/Manager.cc
  src/supervisor/Supervisor.cc
  src/supervisor/Supervisor.h
  src/telemetry/Gauge.h
  src/threading/BasicThread.h
  src/threading/Manager.cc
  src/util.cc
  src/zeekygen/Target.cc
Due: license

Add a weird for QinQinQ (triple-tagged VLAN)
  src/packet_analysis/protocol/vlan/VLAN.cc
  testing/btest/Baseline/scripts.base.protocols.vlan.vlan-qinqinq/weird.log
  testing/btest/Traces/vlan-qinqinq.pcap
  testing/btest/scripts/base/protocols/vlan/vlan-qinqinq.zeek
Due: license, btest-command-commented

Allow VLAN of 0
  src/Conn.cc
  src/iosource/Packet.cc
  src/iosource/Packet.h
  src/iosource/af_packet/AF_Packet.cc
  src/packet_analysis/protocol/ip/conn_key/vlan_fivetuple/Factory.cc
  src/packet_analysis/protocol/vlan/VLAN.cc
  testing/btest/Baseline/scripts.base.protocols.vlan.vlan-0-qinq/conn.log.cut
  testing/btest/Baseline/scripts.base.protocols.vlan.vlan-0/conn.log.cut
  testing/btest/Traces/http-qinq-0.pcap
  testing/btest/Traces/http-vlan-0.pcap
  testing/btest/scripts/base/protocols/vlan/vlan-0-qinq.zeek
  testing/btest/scripts/base/protocols/vlan/vlan-0.zeek
Due: license, btest-command-commented

Rename `test.zeek` in VLAN test
  testing/btest/Baseline/scripts.base.protocols.vlan.vlan-pcp-dei/output
  testing/btest/scripts/base/protocols/vlan/vlan-pcp-dei.zeek
Due: btest-command-commented

doc: Move ZeroMQ notes into devel/cluster/backend
  doc/devel/cluster/backend/zeromq.rst
  doc/devel/index.rst
  doc/images/cluster/backend/zeromq/Makefile
  doc/images/cluster/backend/zeromq/README.md
  doc/images/cluster/backend/zeromq/zeromq-cluster.mermaid
  doc/images/cluster/backend/zeromq/zeromq-cluster.png
  doc/images/cluster/backend/zeromq/zeromq-logging.mermaid
  doc/images/cluster/backend/zeromq/zeromq-logging.png
  doc/images/cluster/backend/zeromq/zeromq-pubsub.mermaid
  doc/images/cluster/backend/zeromq/zeromq-pubsub.png
Due: none

devel/websocket-api: Fix anchor
  doc/devel/websocket-api.rst
Due: none

doc/devel/cluster: Add overview for cluster architecture
  doc/cluster-setup.rst
  doc/devel/cluster/architectures.rst
  doc/devel/cluster/backend/zeromq.rst
  doc/devel/index.rst
  doc/images/cluster/Makefile
  doc/images/cluster/single-system-one-nic.svg
  doc/images/cluster/single-system-one-nic.txt
  doc/images/cluster/single-system-prometheus.svg
  doc/images/cluster/single-system-prometheus.txt
  doc/images/cluster/single-system-two-nics.svg
  doc/images/cluster/single-system-two-nics.txt
  doc/images/cluster/single-system-websocket.svg
  doc/images/cluster/single-system-websocket.txt
  doc/images/cluster/three-systems-individual-pubsub.svg
  doc/images/cluster/three-systems-individual-pubsub.txt
  doc/images/cluster/three-systems-shared-pubsub.svg
  doc/images/cluster/three-systems-shared-pubsub.txt
Due: none

spicy/protocol-analyzer: No analyzer violation for gaps
  src/spicy/protocol-analyzer.cc
  testing/btest/Baseline/scripts.base.protocols.ldap.gap/conn.log
  testing/btest/Baseline/scripts.base.protocols.ldap.gap/ldap.log
  testing/btest/Traces/ldap/gap-data-missing.pcapng
  testing/btest/scripts/base/protocols/ldap/gap.zeek
Due: license, btest-command-commented

Dabble with analyzer_skip_info()
  scripts/base/init-bare.zeek
  src/analyzer/Analyzer.cc
  src/analyzer/Analyzer.h
  src/event.bif
Due: license

Add adaptations to make zeek-cut build on Windows
  CMakeLists.txt
  testing/btest/btest.cfg
  tools/zeek-cut/CMakeLists.txt
  tools/zeek-cut/README.md
  tools/zeek-cut/zeek-cut.c
Due: license, btest-command-commented

Adapt zeek-cut btests to running from zeek repo
  testing/btest/Logs/README
  testing/btest/Logs/conn-tsv.log
  testing/btest/Logs/conn.log
  testing/btest/Logs/conncomma.log
  testing/btest/Logs/conntimelast.log
  testing/btest/Logs/invalid-time.log
  testing/btest/Logs/missing-separator.log
  testing/btest/Logs/multiple-times.log
  testing/btest/Logs/null-separator.log
  testing/btest/Logs/onecolumn.log
  testing/btest/Logs/test.log
  testing/btest/Logs/time-optional.log
  testing/btest/Logs/unset-field.log
  testing/btest/Logs/zerotime.log
  testing/btest/btest.cfg
  testing/btest/zeek-cut/bad-logs.test
  testing/btest/zeek-cut/columns.test
  testing/btest/zeek-cut/minimal-view.test
  testing/btest/zeek-cut/no-options.test
  testing/btest/zeek-cut/not-columns.test
  testing/btest/zeek-cut/ofs.test
  testing/btest/zeek-cut/show-header.test
  testing/btest/zeek-cut/time-bad-logs.test
  testing/btest/zeek-cut/time-conversion.test
  testing/btest/zeek-cut/time-fmt-env.test
  testing/btest/zeek-cut/time-fmt.test
  testing/btest/zeek-cut/time-header.test
  testing/btest/zeek-cut/time-optional.test
  testing/scripts/diff-time-zone
Due: btest-command-commented

[windows] working on path resolving and file management
  src/util.cc
  src/zeek.bif
  testing/btest/Baseline/bifs.compress_path/out
  testing/btest/bifs/compress_path.zeek
  testing/scripts/diff-remove-abspath
Due: license, btest-command-commented

[windows] handle rotate,sleep,system issues
  src/File.cc
  src/util.cc
  src/zeek.bif
Due: license

[btest] fix bifs.zeek_args in windows by removing the .exe suffix
  testing/btest/bifs/zeek_args.zeek
Due: btest-command-commented

val manager should use the same static const for windows - raised by bifs.to_count
  src/Val.h
Due: license

[windows] use bash in a more safe way
  src/zeek.bif
  testing/btest/Baseline/bifs.piped_exec/quoted.txt
  testing/btest/Baseline/bifs.system/out2
  testing/btest/bifs/piped_exec.zeek
  testing/btest/bifs/system.zeek
Due: btest-command-commented

replace kill command with raise for windows compatibility
  src/util.cc
Due: license

fix sig_handler on windows
  src/zeek-setup.cc
Due: license

[windows] piped_exec should use bash for consistent behavior
  src/zeek.bif
Due: none

code review changes
  src/zeek.bif
Due: none

Integrate new Broker optimization
  src/broker/Manager.cc
  testing/btest/Baseline/scripts.base.frameworks.telemetry.internal-metrics/out
Due: license, btest-command-commented

fixup! spicy/protocol-analyzer: No analyzer violation for gaps
  testing/btest/Traces/README
Due: btest-command-commented

remove trailing slash in windows unless its a drive root
  src/util.cc
Due: license

ldap: Implement ModifyRequest handling
  src/analyzer/protocol/ldap/ldap.spicy
  testing/btest/Baseline/scripts.base.protocols.ldap.modify-request/conn.log
  testing/btest/Baseline/scripts.base.protocols.ldap.modify-request/ldap.log
  testing/btest/Traces/README
  testing/btest/Traces/ldap/modify-request.pcapng
  testing/btest/scripts/base/protocols/ldap/modify-request.zeek
Due: license, btest-command-commented

Fix issue with timeouts rescheduling too much
  src/session/Session.cc
  testing/btest/Baseline/core.stop-timeout/.stdout
  testing/btest/Traces/tcp/timeout-with-pings.pcap
  testing/btest/core/stop-timeout.zeek
Due: license, btest-command-commented

Update commit hash for zeek-testing-private
  testing/external/commit-hash.zeek-testing-private
Due: none

spicy/protocol-analyzer: No analyzer violation for gaps
  NEWS
  src/spicy/protocol-analyzer.cc
  testing/btest/Baseline/scripts.base.protocols.ldap.gap/conn.log
  testing/btest/Baseline/scripts.base.protocols.ldap.gap/ldap.log
  testing/btest/Traces/README
  testing/btest/Traces/ldap/gap-data-missing.pcapng
  testing/btest/scripts/base/protocols/ldap/gap.zeek
Due: license, btest-command-commented

ci/freebsd/prepare.sh: Use latest over quarterly ABI to fix missing dnsmasq package
  ci/freebsd/prepare.sh
Due: none

ci/freebsd: Bump 13.5 to 15.0, keep 14.3
  .cirrus.yml
Due: none
