Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*|doc/devel/spicy/autogen/.*.spicy'

Merge remote-tracking branch 'origin/topic/awelzel/writers-ascii-fix-clang-tidy-repeated-return-type-warning'
  CHANGES
  VERSION
  src/logging/writers/ascii/Ascii.cc
Due: license

Merge remote-tracking branch 'origin/topic/timw/a-msdu-cleanup'
  CHANGES
  VERSION
  src/TunnelEncapsulation.h
Due: license

Merge remote-tracking branch 'origin/topic/etyp/dual-transport-crash'
  CHANGES
  VERSION
  src/RuleAction.cc
  src/analyzer/Analyzer.h
  src/analyzer/Component.cc
  src/analyzer/Component.h
  src/analyzer/Manager.cc
  src/analyzer/Manager.h
  src/analyzer/protocol/pia/PIA.h
  src/analyzer/protocol/tcp/TCP.h
  src/packet_analysis/protocol/ip/IPBasedAnalyzer.cc
  src/packet_analysis/protocol/tcp/TCPSessionAdapter.cc
  src/spicy/manager.cc
  testing/btest/Baseline/spicy.dpd-enable-transport-mismatch/out
  testing/btest/Baseline/spicy.replaces-transport-tcp-child/tcp.out
  testing/btest/Baseline/spicy.replaces-transport-tcp-child/udp.out
  testing/btest/Traces/ssh/single-conn.pcap
  testing/btest/spicy/dpd-enable-transport-mismatch.zeek
  testing/btest/spicy/replaces-transport-tcp-child.zeek
Due: license, btest-command-commented

CCI: Run clang-tidy-diff.py on changes during ubuntu-24.04 job
  .circleci/builds.yml
  ci/run-clang-tidy-diff.sh
  ci/ubuntu-24.04/Dockerfile
  doc/advanced/devel/hacking.rst
Due: none

Add ws-acldng.py
  tools/netcontrol/ws-acldng.py
Due: none

netcontrol: Add a basic pubsub plugin
  scripts/base/frameworks/netcontrol/plugins/__load__.zeek
  scripts/base/frameworks/netcontrol/plugins/pubsub.zeek
  testing/btest/Baseline/coverage.default-load-baseline/canonified_loaded_scripts.log
Due: btest-command-commented

Introduce base/utils/batch-queue
  scripts/base/utils/batch-queue.zeek
Due: none

netcontrol: Fix pubsub plugin error handler
  scripts/base/frameworks/netcontrol/plugins/pubsub.zeek
Due: none

Add demo.zeek
  tools/netcontrol/demo.zeek
Due: none

Save existing docker image during multiarch builds
  .circleci/builds.yml
Due: none

Extract `unpack_event_record` helper from `to_cluster_event`
  src/cluster/BifSupport.cc
Due: license

Add `Cluster::raise_event` to enqueue a `Cluster::Event` locally
  src/cluster/BifSupport.cc
  src/cluster/BifSupport.h
  src/cluster/cluster.bif
  testing/btest/Baseline/cluster.generic.raise_event/.stderr
  testing/btest/Baseline/cluster.generic.raise_event/out
  testing/btest/cluster/generic/raise_event.zeek
Due: license, btest-command-commented

CCI: Ensure existing Docker images get persisted to the workspace
  .circleci/builds.yml
Due: none

CCI: Remove commit hash from cache keys
  .circleci/builds.yml
Due: none

pcapng: Fix possible divide-by-zero when calculating ts resolution
  src/iosource/pcapng/Source.cc
Due: license

pcapng: Validate length of available packet data
  src/iosource/pcapng/Source.cc
Due: license

Bump cmake for non-Debug coverage-enabled builds
  CHANGES
  VERSION
Due: none

ldap: Add test for a missing SASL BindResponse
  testing/btest/Baseline/scripts.base.protocols.ldap.unidir-sasl-weird/analyzer.cut
  testing/btest/Baseline/scripts.base.protocols.ldap.unidir-sasl-weird/conn.log
  testing/btest/Baseline/scripts.base.protocols.ldap.unidir-sasl-weird/weird.log
  testing/btest/scripts/base/protocols/ldap/unidir-sasl-weird.zeek
Due: btest-command-commented

ldap: Track pending SASL bind responses
  src/analyzer/protocol/ldap/ldap.spicy
  src/analyzer/protocol/ldap/ldap_zeek.spicy
  testing/btest/Baseline/scripts.base.protocols.ldap.unidir-sasl-weird/analyzer.cut
  testing/btest/Baseline/scripts.base.protocols.ldap.unidir-sasl-weird/conn.log
  testing/btest/Baseline/scripts.base.protocols.ldap.unidir-sasl-weird/weird.log
  testing/btest/scripts/base/protocols/ldap/unidir-sasl-weird.zeek
Due: license, btest-command-commented

Merge remote-tracking branch 'origin/topic/awelzel/make-websocket-tests-more-robust-maybe'
  CHANGES
  VERSION
  testing/btest/Files/ws/wstest.py
  testing/btest/cluster/websocket/broker/manager-worker-ping-pong.zeek
  testing/btest/cluster/websocket/zeromq/manager-worker-ping-pong.zeek
Due: btest-command-commented

Updating CHANGES and VERSION.
  CHANGES
  VERSION
Due: none

GHCI: Use maintained version of msvc-dev-cmd action
  .github/workflows/check.yml
Due: none

Use standard LDAP BTest baselines
  testing/btest/scripts/base/protocols/ldap/dpd-extended-request.zeek
Due: btest-command-commented

Add missing documentation to BinPAC readme
  tools/binpac/README
Due: none

Make intel.log set columns deterministic
  scripts/base/frameworks/intel/main.zeek
Due: none

Update baselines for deterministic intel.log sets
  testing/btest/Baseline/scripts.base.frameworks.intel.expire-item/output
  testing/btest/Baseline/scripts.base.frameworks.intel.match-subnet/output
  testing/btest/Baseline/scripts.base.frameworks.intel.updated-match/output
Due: btest-command-commented

Add btest for intel.log set column stability
  testing/btest/scripts/base/frameworks/intel/set-order-stability.zeek
Due: btest-command-commented

Val.h: ensure sizeof(ZValElement) remains correct regardless of sizeof(bool)
  src/Val.h
Due: license

LDAP: test StartTLS detection on a non-standard port
  testing/btest/Baseline/scripts.base.protocols.ldap.dpd-starttls/conn.log
  testing/btest/Baseline/scripts.base.protocols.ldap.dpd-starttls/ldap.log
  testing/btest/Traces/README
  testing/btest/Traces/ldap/starttls-off-port.pcap
  testing/btest/scripts/base/protocols/ldap/dpd-starttls.zeek
Due: btest-command-commented

LDAP: detect search and extended requests without a prior Bind
  scripts/base/protocols/ldap/dpd.sig
  testing/btest/Baseline/scripts.base.protocols.ldap.dpd-starttls/conn.log
  testing/btest/Baseline/scripts.base.protocols.ldap.dpd-starttls/ldap.log
Due: btest-command-commented

LDAP: detect more request operations over TCP
  scripts/base/protocols/ldap/dpd.sig
Due: none

Btest updates for 9.1 deprecation removals
  scripts/policy/protocols/conn/known-hosts.zeek
  scripts/policy/protocols/conn/known-services.zeek
  scripts/policy/protocols/ssl/known-certs.zeek
  scripts/test-all-policy.zeek
  testing/btest/Baseline.zam/coverage.test-all-policy-cluster/.stderr
  testing/btest/Baseline.zam/coverage.test-all-policy-zeekygen/.stderr
  testing/btest/Baseline/bifs.anonymize_addr-4/.stderr
  testing/btest/Baseline/bifs.anonymize_addr-4/.stdout
  testing/btest/Baseline/bifs.md5/output
  testing/btest/Baseline/cluster.generic.table-errors/broker.err
  testing/btest/Baseline/cluster.generic.table-errors/zeromq.err
  testing/btest/Baseline/coverage.bare-mode-errors/errors
  testing/btest/Baseline/coverage.init-default/missing_loads
  testing/btest/Baseline/coverage.test-all-policy-cluster/.stderr
  testing/btest/Baseline/coverage.test-all-policy-zeekygen/.stderr
  testing/btest/Baseline/language.enum-bad-type/.stderr
  testing/btest/Baseline/language.hook-return-fail/out
  testing/btest/Baseline/scripts.policy.frameworks.management.controller.agent-checkin/zeek.nodes.controller.stdout
  testing/btest/Baseline/scripts.policy.protocols.conn.known-hosts/knownhosts-broker-store.log
  testing/btest/Baseline/scripts.policy.protocols.conn.known-services/knownservices-broker-store.log
  testing/btest/Baseline/scripts.policy.protocols.ssl.known-certs/knowncerts-broker-store.log
  testing/btest/Baseline/tools.systemd-generator.test-multi-interface-errors-5/.stderr
  testing/btest/bifs/anonymize_addr.zeek
  testing/btest/bifs/md5.test
  testing/btest/cluster/generic/table-errors.zeek
  testing/btest/language/enum-bad-type.zeek
  testing/btest/scripts/policy/frameworks/management/controller/agent-checkin.zeek
  testing/btest/scripts/policy/protocols/conn/known-hosts.zeek
  testing/btest/scripts/policy/protocols/conn/known-services.zeek
  testing/btest/scripts/policy/protocols/ssl/known-certs.zeek
Due: btest-command-commented
