Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.0
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.11.0.2
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.11.4
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.30.1
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.25.0
  hooks:
    - id: spicy-format
      # TODO: Reformat existing large analyzers just before 8.0.
      exclude: '(^testing/.*)|(protocol/ldap/.*)|(protocol/quic/.*)|(protocol/websocket/.*)'

cluster/OnLoop: Support DontBlock and Force flags for queueing
  src/cluster/OnLoop.h
Due: license

cluster/zeromq: Comments and move lookups to InitPostScript()
  src/cluster/backend/zeromq/ZeroMQ.cc
  src/cluster/backend/zeromq/ZeroMQ.h
Due: license

cluster/zeromq: Support local XPUB/XSUB hwm and buf configurability
  scripts/policy/frameworks/cluster/backend/zeromq/main.zeek
  src/cluster/backend/zeromq/ZeroMQ.cc
  src/cluster/backend/zeromq/ZeroMQ.h
Due: license

cluster/zeromq: Rework lambdas to member functions
  src/cluster/backend/zeromq/ZeroMQ.cc
  src/cluster/backend/zeromq/ZeroMQ.h
Due: license

btest/cluster/zeromq: Add tests for overload behavior
  testing/btest/Baseline/cluster.zeromq.overload-drop/manager.out
  testing/btest/Baseline/cluster.zeromq.overload-drop/proxy.out
  testing/btest/Baseline/cluster.zeromq.overload-drop/worker-1.out
  testing/btest/Baseline/cluster.zeromq.overload-drop/worker-2.out
  testing/btest/Baseline/cluster.zeromq.overload-no-drop/manager.out
  testing/btest/Baseline/cluster.zeromq.overload-no-drop/proxy.out
  testing/btest/Baseline/cluster.zeromq.overload-no-drop/worker-1.out
  testing/btest/Baseline/cluster.zeromq.overload-no-drop/worker-2.out
  testing/btest/Baseline/cluster.zeromq.overload-worker-proxy-topic-drop/manager.out
  testing/btest/Baseline/cluster.zeromq.overload-worker-proxy-topic-drop/proxy.out
  testing/btest/Baseline/cluster.zeromq.overload-worker-proxy-topic-drop/worker-1.out
  testing/btest/Baseline/cluster.zeromq.overload-worker-proxy-topic-drop/worker-2.out
  testing/btest/Baseline/cluster.zeromq.overload-worker-proxy-topic-no-drop/manager.out
  testing/btest/Baseline/cluster.zeromq.overload-worker-proxy-topic-no-drop/proxy.out
  testing/btest/Baseline/cluster.zeromq.overload-worker-proxy-topic-no-drop/worker-1.out
  testing/btest/Baseline/cluster.zeromq.overload-worker-proxy-topic-no-drop/worker-2.out
  testing/btest/Files/zeromq/metrics.zeek
  testing/btest/cluster/zeromq/overload-drop.zeek
  testing/btest/cluster/zeromq/overload-no-drop.zeek
  testing/btest/cluster/zeromq/overload-worker-proxy-topic-drop.zeek
  testing/btest/cluster/zeromq/overload-worker-proxy-topic-no-drop.zeek
Due: btest-command-commented

cluster/zeromq: Drop events when overloaded
  scripts/policy/frameworks/cluster/backend/zeromq/main.zeek
  src/cluster/backend/zeromq/ZeroMQ.cc
  src/cluster/backend/zeromq/ZeroMQ.h
Due: license

cluster/zeromq: Metric for msg errors
  src/cluster/backend/zeromq/ZeroMQ.cc
  src/cluster/backend/zeromq/ZeroMQ.h
Due: license

fixup! btest/cluster/zeromq: Add tests for overload behavior
  scripts/policy/frameworks/cluster/backend/zeromq/main.zeek
Due: none

Type/RecordType: Make table returned by GetRecordFieldsVal() ordered
  src/Type.cc
  src/Type.h
  src/zeek.bif
  testing/btest/Baseline/bifs.records_fields/out
  testing/btest/Baseline/core.record-field-redef/output
  testing/btest/Baseline/doc.zeekygen.declaring_script/out
  testing/btest/Baseline/spicy.export-bitfield/output
  testing/btest/Baseline/spicy.export-type-with-fields/output
  testing/btest/Baseline/spicy.export-types/output
Due: license, btest-command-commented

need a set of network_info to connect to, which is different than listening
  scripts/policy/frameworks/management/agent/config.zeek
  scripts/policy/frameworks/management/controller/config.zeek
Due: none

Stop hardcoding controller listen address
  scripts/policy/frameworks/management/agent/config.zeek
Due: none

CI: Add weekly task for running builds with newest compilers
  .cirrus.yml
  ci/opensuse-tumbleweed/prepare-weekly.sh
Due: none

control: Use Cluster::publish() for replying
  scripts/policy/frameworks/control/controllee.zeek
Due: none

NEWS: ZeekControl, ZeroMQ and WebSocket
  NEWS
Due: none

PPPoE: add session id logging
  scripts/policy/protocols/conn/pppoe-session-id-logging.zeek
  scripts/test-all-policy.zeek
  src/packet_analysis/protocol/pppoe/CMakeLists.txt
  src/packet_analysis/protocol/pppoe/functions.bif
  src/script_opt/FuncInfo.cc
  testing/btest/Baseline/coverage.bare-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.default-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/plugins.hooks/output
  testing/btest/Baseline/scripts.policy.protocols.conn.pppoe-session-id-logging/conn.log.cut
  testing/btest/scripts/policy/protocols/conn/pppoe-session-id-logging.zeek
Due: license, btest-command-commented

Update external tests for pppoe-session-id conn.log changes
  testing/external/commit-hash.zeek-testing
  testing/external/commit-hash.zeek-testing-private
Due: none

Only for perf test
  scripts/base/frameworks/analyzer/dpd.zeek
  scripts/policy/frameworks/analyzer/deprecated-dpd-log.zeek
Due: none

dce-rpc: Rename named_pipe to sec_addr
  NEWS
  scripts/base/protocols/dce-rpc/main.zeek
  testing/btest/Baseline/coverage.record-fields/out.default
  testing/btest/Baseline/scripts.base.protocols.dce-rpc.context/dce_rpc.log
  testing/btest/Baseline/scripts.base.protocols.dce-rpc.dce_rpc_netlogon/dce_rpc.log
  testing/btest/Baseline/scripts.base.protocols.dce-rpc.mapi/dce_rpc.log
  testing/btest/Baseline/scripts.base.protocols.smb.smb1-transaction-dcerpc/dce_rpc.log
Due: btest-command-commented

Fix clang-tidy findings in embedded C++ from bif files
  .clang-tidy
  src/broker/store.bif
  src/communityid.bif
  src/iosource/pcap/pcap.bif
  src/logging/logging.bif
  src/probabilistic/bloom-filter.bif
  src/stats.bif
  src/strings.bif
  src/telemetry/telemetry_functions.bif
  src/zeek.bif
Due: none

CI: Only run weekly tasks as part of cron
  .cirrus.yml
Due: none

Add flag to force synchronous mode when calling storage script-land functions
  scripts/base/frameworks/storage/async.zeek
  scripts/base/frameworks/storage/main.zeek
  src/storage/Backend.cc
  src/storage/Backend.h
  src/storage/storage.bif
  testing/btest/Baseline/scripts.base.frameworks.storage.redis-disconnect/out
  testing/btest/Baseline/scripts.base.frameworks.storage.redis-forced-sync/out
  testing/btest/Baseline/scripts.base.frameworks.storage.redis-sync/out
  testing/btest/Baseline/scripts.base.frameworks.storage.sqlite-basic-sync-in-when/out
  testing/btest/Baseline/scripts.base.frameworks.storage.sqlite-basic/out
  testing/btest/Baseline/scripts.base.frameworks.storage.sqlite-erase/out
  testing/btest/scripts/base/frameworks/storage/redis-forced-sync.zeek
Due: license, btest-command-commented

Fix swapped storage metrics names
  src/storage/Backend.cc
  testing/btest/Baseline/scripts.base.frameworks.storage.redis-async/out
  testing/btest/Baseline/scripts.base.frameworks.storage.redis-forced-sync/out
  testing/btest/Baseline/scripts.base.frameworks.storage.redis-sync/out
Due: license, btest-command-commented

Fix a potential memory leak reported by Coverity
  src/storage/backend/sqlite/SQLite.cc
Due: license

Add some additional std::moves reported by Coverity
  src/Debug.cc
  src/EventTrace.cc
  src/Expr.cc
  src/Options.cc
  src/ScriptCoverageManager.cc
  src/analyzer/protocol/conn-size/Plugin.cc
  src/cluster/Backend.cc
  src/input/Manager.cc
  src/input/readers/ascii/Ascii.cc
  src/packet_analysis/Manager.cc
  src/packet_analysis/packet_analysis.bif
  src/packet_analysis/protocol/ip/IP.cc
  src/script_opt/CPP/Driver.cc
  src/script_opt/ScriptOpt.cc
  src/storage/backend/sqlite/SQLite.cc
  src/util.cc
  src/util.h
  src/zeek-setup.cc
  src/zeekygen/Target.cc
Due: license

Reset the value of a status variable in SQLite backend before using it in a loop
  src/storage/backend/sqlite/SQLite.cc
Due: license

Fix an unsigned integer comparison reported by Coverity
  src/Reporter.cc
Due: license

Ignore a couple of known-unused results reported by Coverity
  src/OpaqueVal.cc
  src/storage/backend/sqlite/SQLite.cc
  src/util-types.h
Due: license

Fix some integer overflow issues reported by Coverity
  src/IPAddr.cc
  src/util.cc
Due: license

Fix uninitialized class member Coverity findings
  src/DNS_Mgr.h
  src/PrefixTable.cc
  src/PrefixTable.h
  src/RuleAction.h
  src/analyzer/protocol/mysql/mysql-protocol.pac
  src/input/Manager.cc
  src/script_opt/ZAM/IterInfo.h
  src/storage/backend/sqlite/SQLite.h
Due: license

Fix a few other minor issues reported by Coverity
  src/RandTest.cc
  src/ScriptProfile.h
  src/analyzer/protocol/rpc/RPC.cc
Due: license

Handle uncaught exception during setup
  src/main.cc
Due: license

Add a few extra null checks, plus a missing initialization that led to a bad null check
  src/ID.cc
  src/Stmt.cc
  src/Val.cc
Due: license

Fix some bit-shifting overflow/UB issues reported by Coverity
  src/Anon.cc
  src/Val.cc
Due: license
