Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*|doc/devel/spicy/autogen/.*.spicy'

Add section to ldap filter escaping test to ensure it doesn't affect UTF-8 characters
  testing/btest/Baseline/scripts.base.protocols.ldap.filter_escaping/ldap_search.log.1
  testing/btest/Baseline/scripts.base.protocols.ldap.filter_escaping/ldap_search.log.2
  testing/btest/Baseline/scripts.base.protocols.ldap.filter_escaping/output.1
  testing/btest/Baseline/scripts.base.protocols.ldap.filter_escaping/output.2
  testing/btest/Traces/ldap/ldap_search_umlaut.pcap
  testing/btest/scripts/base/protocols/ldap/filter_escaping.zeek
Due: btest-command-commented

Update Spicy code for HILTI's new tuple and optional types.
  src/spicy/cookie.h
  src/spicy/protocol-analyzer.h
  src/spicy/runtime-support.cc
  src/spicy/runtime-support.h
Due: license

Set LSAN_OPTIONS for ZeekJS btests to enable known suppressions
  testing/btest/btest.cfg
  testing/btest/javascript/file-sniff.js
  testing/btest/javascript/hello.js
  testing/btest/javascript/http-request.js
  testing/btest/javascript/http-uri-sha256.js
  testing/btest/javascript/intel.js
  testing/btest/javascript/log-delay.js
  testing/btest/javascript/suspend-continue.js
  testing/btest/plugins/debug-streams-all.js
Due: btest-command-commented

Merge remote-tracking branch 'origin/topic/vern/ZAM-recursive-table-iters'
  CHANGES
  VERSION
  src/script_opt/ZAM/ZBody.cc
  src/script_opt/ZAM/ZBody.h
  testing/btest/Baseline/opt.regress-recursive-table-iter/output
  testing/btest/opt/regress-recursive-table-iter.zeek
Due: license, btest-command-commented

Merge branch 'topic/ado/final-docker' of https://github.com/edoardomich/zeek
  CHANGES
  VERSION
  docker/final.Dockerfile
Due: none

Update NEWS file
  NEWS
Due: none

remove usage attributes from local Zeek variables compiled to C++ variables
  src/script_opt/CPP/Stmts.cc
Due: license

Rename msgthread pending messages metric labels to conform with promtool
  NEWS
  src/threading/Manager.cc
Due: license

Add SHA224 and SHA384 BiFs
  src/OpaqueVal.cc
  src/OpaqueVal.h
  src/Type.h
  src/digest.h
  src/script_opt/FuncInfo.cc
  src/zeek-setup.cc
  src/zeek.bif
  testing/btest/Baseline/bifs.sha224/output
  testing/btest/Baseline/bifs.sha384/output
  testing/btest/Baseline/broker.opaque/out
  testing/btest/Baseline/language.copy-all-opaques/out
  testing/btest/bifs/sha224.test
  testing/btest/bifs/sha384.test
  testing/btest/broker/opaque.zeek
  testing/btest/language/copy-all-opaques.zeek
Due: license, btest-command-commented

Enforce length for 802.3 frames. Accept truncated 802.3 frames.
  src/packet_analysis/protocol/ethernet/Ethernet.cc
  src/packet_analysis/protocol/vlan/VLAN.cc
Due: license

Fix SHA384 initialization bug
  src/OpaqueVal.cc
Due: license

Add SHA224, 384, 512 to file hash analyzer
  scripts/base/files/hash/main.zeek
  src/file_analysis/analyzer/hash/Hash.cc
  src/file_analysis/analyzer/hash/Hash.h
  src/file_analysis/analyzer/hash/Plugin.cc
  src/file_analysis/analyzer/hash/events.bif
  testing/btest/Baseline/scripts.base.frameworks.file-analysis.file_hash/.stdout
  testing/btest/scripts/base/frameworks/file-analysis/file_hash.zeek
Due: license, btest-command-commented

Fix some missing std::moves in systemd generator
  tools/systemd-generator/src/systemd-unit.h
  tools/systemd-generator/src/zeek-cluster-config.cc
  tools/systemd-generator/src/zeek-cluster-layout-generator.cc
  tools/systemd-generator/src/zeek-systemd-generator.cc
Due: license

Fix a couple of minor move issues in script_opt
  src/script_opt/CPP/DeclFunc.cc
  src/script_opt/CPP/GenFunc.cc
Due: license

Split ASN.1 token into components in ASN1EncodingMeta
  src/analyzer/protocol/asn1/asn1.pac
Due: none

Remove pcap.h dependency from iosource/Packet.h
  NEWS
  src/analyzer/Analyzer.cc
  src/analyzer/protocol/asn1/asn1.pac
  src/analyzer/protocol/bittorrent/BitTorrentTracker.cc
  src/analyzer/protocol/dns/DNS.cc
  src/analyzer/protocol/ftp/functions.bif
  src/analyzer/protocol/http/HTTP.cc
  src/analyzer/protocol/mime/MIME.cc
  src/analyzer/protocol/pia/PIA.cc
  src/analyzer/protocol/rpc/RPC.cc
  src/analyzer/protocol/smtp/BDAT.cc
  src/analyzer/protocol/smtp/SMTP.cc
  src/analyzer/protocol/ssl/dtls-analyzer.pac
  src/analyzer/protocol/tcp/TCP.cc
  src/analyzer/protocol/tcp/TCP_Reassembler.cc
  src/broker/Manager.cc
  src/input/readers/raw/Raw.cc
  src/iosource/Packet.h
  src/packet_analysis/Analyzer.cc
  src/packet_analysis/Dispatcher.cc
  src/packet_analysis/protocol/ip/IPBasedAnalyzer.cc
Due: license

use of compiled-to-standalone functions in global inits
  src/script_opt/CPP/DeclFunc.cc
  src/script_opt/CPP/DeclFunc.h
  src/script_opt/CPP/Driver.cc
  src/script_opt/CPP/Driver.h
  src/script_opt/CPP/Exprs.cc
  src/script_opt/CPP/Exprs.h
  src/script_opt/CPP/Func.h
  src/script_opt/CPP/GenFunc.h
  src/script_opt/CPP/Inits.cc
  src/script_opt/CPP/InitsInfo.cc
  src/script_opt/CPP/RuntimeInitSupport.cc
  src/script_opt/CPP/RuntimeInitSupport.h
  src/script_opt/CPP/RuntimeInits.cc
  src/script_opt/CPP/RuntimeInits.h
Due: license

avoid usage analysis when using compiled-to-standalone code
  src/script_opt/ScriptOpt.cc
  src/script_opt/UsageAnalyzer.cc
Due: license

make ZAM record lookup accessible to compiled-to-C++ code
  src/script_opt/ZAM/ZBody.h
Due: license

a bit of factoring for record accesses
  src/script_opt/CPP/Exprs.cc
  src/script_opt/CPP/Exprs.h
Due: license

fixes for tracking types, more flexible macros
  src/script_opt/ZAM/Expr.cc
  src/script_opt/ZAM/OPs/macros.op
Due: license

fixes for avoiding initializing some globals more than once
  src/script_opt/CPP/InitsInfo.cc
  src/script_opt/CPP/InitsInfo.h
  src/script_opt/CPP/Vars.cc
Due: license

Move cmake templates from src dir to live with others
  CMakeLists.txt
  cmake_templates/ZeekConfig.cmake.in
  cmake_templates/ZeekPluginBootstrap.cmake.in
  cmake_templates/ZeekPluginConfig.cmake.in
Due: none

Remove hard dependency on OpenSSL/Broker from ZeekConfig.cmake
  cmake_templates/ZeekConfig.cmake.in
Due: none

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/scripts/base/bif/zeek.bif.zeek.rst
Due: none

Updates for BTests tracking BiFs
  testing/btest/Baseline/opt.ZAM-bif-tracking/output
  testing/btest/opt/ZAM-bif-tracking.zeek
Due: btest-command-commented

abstract ZAM record field accesses to support remapping on reuse in later uses
  src/script_opt/ZAM/Compile.h
  src/script_opt/ZAM/Expr.cc
  src/script_opt/ZAM/Low-Level.cc
  src/script_opt/ZAM/OPs/constructors.op
  src/script_opt/ZAM/OPs/macros.op
  src/script_opt/ZAM/OPs/non-uniform.op
  src/script_opt/ZAM/OPs/script-idioms.op
  src/script_opt/ZAM/OPs/stmts.op
  src/script_opt/ZAM/OPs/unary-exprs.op
  src/script_opt/ZAM/Stmt.cc
  src/script_opt/ZAM/ZInst.cc
  src/script_opt/ZAM/ZInst.h
  tools/gen-zam/Gen-ZAM.cc
  tools/gen-zam/Gen-ZAM.h
Due: license

fixes for standalone compilation - mainly for compiled functions called during initializations
  src/script_opt/CPP/DeclFunc.cc
  src/script_opt/CPP/DeclFunc.h
  src/script_opt/CPP/Driver.cc
  src/script_opt/CPP/Driver.h
  src/script_opt/CPP/Exprs.cc
  src/script_opt/CPP/Exprs.h
  src/script_opt/CPP/Func.h
  src/script_opt/CPP/GenFunc.h
  src/script_opt/CPP/Inits.cc
  src/script_opt/CPP/InitsInfo.cc
  src/script_opt/CPP/InitsInfo.h
  src/script_opt/CPP/RuntimeInitSupport.cc
  src/script_opt/CPP/RuntimeInitSupport.h
  src/script_opt/CPP/RuntimeInits.cc
  src/script_opt/CPP/RuntimeInits.h
  src/script_opt/CPP/Stmts.cc
  src/script_opt/CPP/Vars.cc
  src/script_opt/ScriptOpt.cc
  src/script_opt/UsageAnalyzer.cc
  src/script_opt/ZAM/ZBody.h
Due: license

BTest updates for -O gen-C++
  testing/btest/broker/error.zeek
  testing/btest/broker/store/brokerstore-backend-delete-composite-key.zeek
  testing/btest/opt/opt-leak-field-init.zeek
Due: btest-command-commented

Deprecate return values in hooks
  NEWS
  doc/script-reference/types.rst
  src/Stmt.cc
  testing/btest/Baseline/language.hook-return-fail/out
  testing/btest/Baseline/language.hook/out
  testing/btest/language/hook-return-fail.zeek
  testing/btest/language/hook.zeek
Due: license, btest-command-commented

gssapi: Handle case where kerberos data isn't prepended by OID
  src/analyzer/protocol/gssapi/gssapi-analyzer.pac
  src/analyzer/protocol/gssapi/gssapi-protocol.pac
  src/analyzer/protocol/krb/krb-protocol.pac
  testing/btest/Baseline/scripts.base.protocols.dce-rpc.spnego-gssapi-kerberos/kerberos.log.135
  testing/btest/Baseline/scripts.base.protocols.dce-rpc.spnego-gssapi-kerberos/kerberos.log.445
  testing/btest/Baseline/scripts.base.protocols.dce-rpc.spnego-gssapi-kerberos/output.135
  testing/btest/Baseline/scripts.base.protocols.dce-rpc.spnego-gssapi-kerberos/output.445
  testing/btest/Traces/dce-rpc/kerberos135_auth.pcapng
  testing/btest/Traces/dce-rpc/kerberos445_auth.pcapng
  testing/btest/scripts/base/protocols/dce-rpc/spnego-gssapi-kerberos.zeek
  testing/external/commit-hash.zeek-testing
  testing/external/commit-hash.zeek-testing-private
Due: btest-command-commented

Format prepare_builder_script the same as build_zeek_script
  .cirrus.yml
Due: none

Add git SHA as label in the built docker images
  .cirrus.yml
  docker/builder.Dockerfile
  docker/final.Dockerfile
Due: none

Revert skipping image builds because of Cirrus environment variable
  .cirrus.yml
Due: none

Skip image builds by checking label in cached images
  .cirrus.yml
  ci/container-images-tag-and-push.sh
Due: none

Dict: Store 32bit hash HashKey in order vector
  src/Dict.h
  src/Val.cc
  testing/btest/Baseline/language.copy-ordered-set-delete-2/out
  testing/btest/Baseline/language.copy-ordered-set-delete-3/out
  testing/btest/Baseline/language.copy-ordered-set-delete/out
  testing/btest/language/copy-ordered-set-delete.zeek
Due: license, btest-command-commented
