Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

license:
  name: Check for license headers
  entry: ./ci/license-header.py
  language: python

btest-command-commented:
  name: Check that all BTest command lines are commented out
  entry: ^\s*@TEST-
  language: pygrep

frameworks/notice: Implement suppression batching
  scripts/base/frameworks/notice/main.zeek
  testing/btest/Baseline/plugins.hooks/output
  testing/btest/Baseline/scripts.base.frameworks.notice.suppression-batching-cluster/manager..stdout
  testing/btest/Baseline/scripts.base.frameworks.notice.suppression-batching-cluster/proxy-1..stdout
  testing/btest/Baseline/scripts.base.frameworks.notice.suppression-batching-cluster/proxy-2..stdout
  testing/btest/Baseline/scripts.base.frameworks.notice.suppression-batching-cluster/worker-1..stdout
  testing/btest/Baseline/scripts.base.frameworks.notice.suppression-batching-cluster/worker-2..stdout
  testing/btest/Baseline/scripts.base.frameworks.notice.suppression-batching-cluster/worker-3..stdout
  testing/btest/Baseline/scripts.base.frameworks.notice.suppression-batching-cluster/worker-4..stdout
  testing/btest/scripts/base/frameworks/notice/suppression-batching-cluster.zeek
Due: btest-command-commented

Copy in the introduction to scripting section
  doc/tutorial/conn_id_ctx_my_endpoint.zeek
  doc/tutorial/connection_record_01.zeek
  doc/tutorial/connection_record_02.zeek
  doc/tutorial/data_struct_record_01.zeek
  doc/tutorial/data_struct_record_02.zeek
  doc/tutorial/data_struct_set_declaration.zeek
  doc/tutorial/data_struct_table_complex.zeek
  doc/tutorial/data_struct_table_complex_blank_value.zeek
  doc/tutorial/data_struct_table_declaration.zeek
  doc/tutorial/data_struct_vector.zeek
  doc/tutorial/data_struct_vector_declaration.zeek
  doc/tutorial/data_struct_vector_iter.zeek
  doc/tutorial/data_struct_vector_iter_value.zeek
  doc/tutorial/data_type_const.zeek
  doc/tutorial/data_type_const_simple.zeek
  doc/tutorial/data_type_declaration.zeek
  doc/tutorial/data_type_interval.zeek
  doc/tutorial/data_type_local.zeek
  doc/tutorial/data_type_pattern_01.zeek
  doc/tutorial/data_type_pattern_02.zeek
  doc/tutorial/data_type_record.zeek
  doc/tutorial/data_type_subnets.zeek
  doc/tutorial/data_type_time.zeek
  doc/tutorial/event_groups_attr_01.zeek
  doc/tutorial/event_groups_attr_02.zeek
  doc/tutorial/event_groups_module_01.zeek
  doc/tutorial/framework_logging_factorial_01.zeek
  doc/tutorial/framework_logging_factorial_02.zeek
  doc/tutorial/framework_logging_factorial_03.zeek
  doc/tutorial/framework_logging_factorial_04.zeek
  doc/tutorial/framework_notice_hook_01.zeek
  doc/tutorial/framework_notice_hook_suppression_01.zeek
  doc/tutorial/framework_notice_shortcuts_01.zeek
  doc/tutorial/framework_notice_shortcuts_02.zeek
  doc/tutorial/http_main.zeek
  doc/tutorial/intro-scripting.rst
Due: none

Move tutorial scripts into `scripts/`
  doc/tutorial/conn_id_ctx_my_endpoint.zeek
  doc/tutorial/data_struct_vector.zeek
  doc/tutorial/event_groups_attr_01.zeek
  doc/tutorial/event_groups_attr_02.zeek
  doc/tutorial/event_groups_module_01.zeek
  doc/tutorial/intro-scripting.rst
  doc/tutorial/scripts/connection_record_01.zeek
  doc/tutorial/scripts/connection_record_02.zeek
  doc/tutorial/scripts/data_struct_record_01.zeek
  doc/tutorial/scripts/data_struct_record_02.zeek
  doc/tutorial/scripts/data_struct_set_declaration.zeek
  doc/tutorial/scripts/data_struct_table_complex.zeek
  doc/tutorial/scripts/data_struct_table_complex_blank_value.zeek
  doc/tutorial/scripts/data_struct_table_declaration.zeek
  doc/tutorial/scripts/data_struct_vector_declaration.zeek
  doc/tutorial/scripts/data_struct_vector_iter.zeek
  doc/tutorial/scripts/data_struct_vector_iter_value.zeek
  doc/tutorial/scripts/data_type_const.zeek
  doc/tutorial/scripts/data_type_const_simple.zeek
  doc/tutorial/scripts/data_type_declaration.zeek
  doc/tutorial/scripts/data_type_interval.zeek
  doc/tutorial/scripts/data_type_local.zeek
  doc/tutorial/scripts/data_type_pattern_01.zeek
  doc/tutorial/scripts/data_type_pattern_02.zeek
  doc/tutorial/scripts/data_type_record.zeek
  doc/tutorial/scripts/data_type_subnets.zeek
  doc/tutorial/scripts/data_type_time.zeek
  doc/tutorial/scripts/framework_logging_factorial_01.zeek
  doc/tutorial/scripts/framework_logging_factorial_02.zeek
  doc/tutorial/scripts/framework_logging_factorial_03.zeek
  doc/tutorial/scripts/framework_logging_factorial_04.zeek
  doc/tutorial/scripts/framework_notice_hook_01.zeek
  doc/tutorial/scripts/framework_notice_hook_suppression_01.zeek
  doc/tutorial/scripts/framework_notice_shortcuts_01.zeek
  doc/tutorial/scripts/framework_notice_shortcuts_02.zeek
  doc/tutorial/scripts/http_main.zeek
Due: none

Format tutorial scripts
  doc/tutorial/scripts/data_struct_record_01.zeek
  doc/tutorial/scripts/data_struct_record_02.zeek
  doc/tutorial/scripts/data_struct_set_declaration.zeek
  doc/tutorial/scripts/data_struct_table_complex.zeek
  doc/tutorial/scripts/data_struct_table_complex_blank_value.zeek
  doc/tutorial/scripts/data_struct_table_declaration.zeek
  doc/tutorial/scripts/data_struct_vector_declaration.zeek
  doc/tutorial/scripts/data_struct_vector_iter.zeek
  doc/tutorial/scripts/data_struct_vector_iter_value.zeek
  doc/tutorial/scripts/data_type_const.zeek
  doc/tutorial/scripts/data_type_const_simple.zeek
  doc/tutorial/scripts/data_type_declaration.zeek
  doc/tutorial/scripts/data_type_interval.zeek
  doc/tutorial/scripts/data_type_local.zeek
  doc/tutorial/scripts/data_type_pattern_01.zeek
  doc/tutorial/scripts/data_type_pattern_02.zeek
  doc/tutorial/scripts/data_type_record.zeek
  doc/tutorial/scripts/data_type_subnets.zeek
  doc/tutorial/scripts/data_type_time.zeek
  doc/tutorial/scripts/framework_logging_factorial_01.zeek
  doc/tutorial/scripts/framework_logging_factorial_02.zeek
  doc/tutorial/scripts/framework_logging_factorial_03.zeek
  doc/tutorial/scripts/framework_logging_factorial_04.zeek
  doc/tutorial/scripts/framework_notice_hook_01.zeek
  doc/tutorial/scripts/framework_notice_hook_suppression_01.zeek
  doc/tutorial/scripts/framework_notice_shortcuts_01.zeek
  doc/tutorial/scripts/framework_notice_shortcuts_02.zeek
Due: none

Remove the old scripting basics section
  doc/scripting/basics.rst
  doc/scripting/connection_record_01.zeek
  doc/scripting/connection_record_02.zeek
  doc/scripting/data_struct_record_01.zeek
  doc/scripting/data_struct_record_02.zeek
  doc/scripting/data_struct_set_declaration.zeek
  doc/scripting/data_struct_table_complex.zeek
  doc/scripting/data_struct_table_complex_blank_value.zeek
  doc/scripting/data_struct_table_declaration.zeek
  doc/scripting/data_struct_vector.zeek
  doc/scripting/data_struct_vector_declaration.zeek
  doc/scripting/data_struct_vector_iter.zeek
  doc/scripting/data_struct_vector_iter_value.zeek
  doc/scripting/data_type_const.zeek
  doc/scripting/data_type_const_simple.zeek
  doc/scripting/data_type_declaration.zeek
  doc/scripting/data_type_interval.zeek
  doc/scripting/data_type_local.zeek
  doc/scripting/data_type_pattern_01.zeek
  doc/scripting/data_type_pattern_02.zeek
  doc/scripting/data_type_record.zeek
  doc/scripting/data_type_subnets.zeek
  doc/scripting/data_type_time.zeek
  doc/scripting/framework_logging_factorial_01.zeek
  doc/scripting/framework_logging_factorial_02.zeek
  doc/scripting/framework_logging_factorial_03.zeek
  doc/scripting/framework_logging_factorial_04.zeek
  doc/scripting/framework_notice_hook_01.zeek
  doc/scripting/framework_notice_hook_suppression_01.zeek
  doc/scripting/framework_notice_shortcuts_01.zeek
  doc/scripting/framework_notice_shortcuts_02.zeek
  doc/scripting/http_main.zeek
  doc/scripting/index.rst
  files.log
  http.log
  packet_filter.log
  reporter.log
Due: none

af_packet: Warn for usage of loopback interface
  src/iosource/af_packet/AF_Packet.cc
  src/iosource/af_packet/AF_Packet.h
Due: license

Create new event rfb_authentication_result
  scripts/base/protocols/rfb/main.zeek
  src/analyzer/protocol/rfb/events.bif
  src/analyzer/protocol/rfb/rfb-analyzer.pac
Due: none

Escape specific characters in LDAP filter strings
  src/analyzer/protocol/ldap/ldap.spicy
  testing/btest/Baseline/scripts.base.protocols.ldap.filter_escaping/ldap_search.log
  testing/btest/Baseline/scripts.base.protocols.ldap.filter_escaping/output
  testing/btest/Traces/ldap/ldap_escaping_test.pcapng
  testing/btest/scripts/base/protocols/ldap/filter_escaping.zeek
Due: license, btest-command-commented

Move the scripting usage section to a "grab bag"
  doc/grab-bag/index.rst
  doc/grab-bag/scripting/index.rst
  doc/grab-bag/scripting/usage.rst
  doc/index.rst
  doc/scripting/index.rst
Due: none

Shove some non-basic scripting into reference
  doc/script-reference/conn-id-ctx.rst
  doc/script-reference/conn_id_ctx_my_endpoint.zeek
  doc/script-reference/event-semantics.rst
  doc/script-reference/event_groups_attr_01.zeek
  doc/script-reference/event_groups_attr_02.zeek
  doc/script-reference/event_groups_module_01.zeek
  doc/script-reference/index.rst
  doc/script-reference/optimization.rst
  doc/scripting/event-groups.rst
  doc/scripting/index.rst
  doc/scripting/tracing-events.rst
Due: none

Move Javascript to the tutorial
  doc/index.rst
  doc/quickstart.rst
  doc/scripting/index.rst
  doc/tutorial/index.rst
  doc/tutorial/javascript.rst
  doc/tutorial/js/api.js
  doc/tutorial/js/api.zeek
  doc/tutorial/js/connection-service.js
  doc/tutorial/js/global-vars.js
  doc/tutorial/js/hello.js
  doc/tutorial/js/intel-insert.js
  doc/tutorial/js/zeek-as.js
Due: none

Skip CI builds of automated docs updates
  .github/workflows/generate-docs.yml
Due: none

Docs: Regenerated via GitHub workflow
  doc/script-reference/autogenerated-file-analyzer-index.rst
  doc/script-reference/autogenerated-protocol-analyzer-index.rst
  doc/scripts/base/bif/event.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_TCP.functions.bif.zeek.rst
  doc/scripts/base/frameworks/notice/main.zeek.rst
  doc/scripts/base/init-bare.zeek.rst
Due: none

Use `curr_THREAD_time` in ZAM, instead of `curr_CPU_time`.
  src/script_opt/ZAM/ZBody.cc
Due: license

Adding a new function is `util`, `curr_THREAD_time`, to get the CPU time consumed by the current thread.
  src/util.cc
  src/util.h
Due: license

Update Spicy code for HILTI's new tuple and optional types.
  src/spicy/cookie.h
  src/spicy/protocol-analyzer.h
  src/spicy/runtime-support.cc
  src/spicy/runtime-support.h
Due: license

Added new namespace `zeek::util::this_thread` with `get_cput_time` function. Resolving https://github.com/zeek/zeek/pull/4950#discussion_r2452479298
  src/script_opt/ZAM/ZBody.cc
  src/util.cc
  src/util.h
Due: license

TCP::raw_options fix ubsan error
  src/analyzer/protocol/tcp/functions.bif
Due: none

Revise the basics scripting section
  doc/tutorial/scripting/basics.rst
  doc/tutorial/scripting/scripts/data_type_addr.zeek
  doc/tutorial/scripting/scripts/data_type_record.zeek
  doc/tutorial/scripting/scripts/data_type_time.zeek
Due: none

Fixes for computing dynamic record/enum mappings for standalone C++ compilation
  src/script_opt/CPP/Driver.cc
  src/script_opt/CPP/Inits.cc
  src/script_opt/CPP/RuntimeInits.cc
  src/script_opt/CPP/RuntimeInits.h
Due: license

fix usage analysis to deal with changes to "when" implementations avoid false usage issue when potentially optimizing hooks
  src/Func.h
  src/Stmt.h
  src/Var.cc
  src/script_opt/Expr.cc
  src/script_opt/GenIDDefs.cc
Due: license

update usage analyzer BTest to be more comprehensive
  testing/btest/Baseline/language.unused-assignment/out
  testing/btest/language/unused-assignment.zeek
Due: btest-command-commented

removed some unused variables in base scripts
  scripts/base/frameworks/notice/actions/pp-alarms.zeek
  scripts/base/protocols/smb/smb1-main.zeek
Due: none

Make unused assignment warning more consistent
  src/script_opt/UseDefs.cc
  testing/btest/Baseline/language.unused-assignment/out
Due: license, btest-command-commented

tools/systemd-generator: Superflous "logs" appended
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator-defaults/normal-dir.zeek-setup.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-setup.service
  tools/systemd-generator/src/zeek-systemd-generator.cc
Due: license, btest-command-commented

tools/systemd-generator: Add background info into zeek.conf
  tools/systemd-generator/etc/zeek/zeek.conf
Due: none

tools/systemd-generator: Do not fallback to /etc/zeek/zeek.conf
  tools/systemd-generator/src/zeek-systemd-generator.cc
Due: license

Fix ZAM tests with `-u` fix
  scripts/base/protocols/ftp/main.zeek
  scripts/base/protocols/mqtt/main.zeek
  testing/btest/Baseline.zam/language.unused-assignment/out
Due: btest-command-commented

tools/systemd-generator: Use <PREFIX>/var/spool/zeek as spooldir
  tools/systemd-generator/src/zeek-cluster-config.h
Due: license

Clean up LDAP spicy functions
  src/analyzer/protocol/ldap/ldap.spicy
Due: license

Tinkering with whether we could thread opening pktsrcs
  src/RunState.cc
  src/iosource/Manager.cc
  src/iosource/Manager.h
Due: license

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/script-reference/autogenerated-protocol-analyzer-index.rst
  doc/scripts/base/bif/plugins/Zeek_RFB.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_SMB.smb1_com_negotiate.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_SMB.smb1_com_nt_create_andx.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_SMB.smb1_com_session_setup_andx.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_SMB.smb1_com_transaction.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_SMB.smb1_com_transaction2.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_SMB.smb1_com_tree_connect_andx.bif.zeek.rst
  doc/scripts/base/frameworks/notice/actions/pp-alarms.zeek.rst
Due: none

more extensive assertion, for testing
  src/script_opt/ZAM/OPs/macros.op
Due: none

tracking record accesses that might requiring mapping in subsequent executions
  src/script_opt/IDOptInfo.cc
  src/script_opt/ZAM/Compile.h
  src/script_opt/ZAM/Expr.cc
  src/script_opt/ZAM/Low-Level.cc
  src/script_opt/ZAM/OPs/constructors.op
  src/script_opt/ZAM/OPs/macros.op
  src/script_opt/ZAM/OPs/non-uniform.op
  src/script_opt/ZAM/OPs/script-idioms.op
  src/script_opt/ZAM/OPs/stmts.op
  src/script_opt/ZAM/OPs/unary-exprs.op
  src/script_opt/ZAM/Stmt.cc
  src/script_opt/ZAM/ZInst.cc
  src/script_opt/ZAM/ZInst.h
  tools/gen-zam/Gen-ZAM.cc
  tools/gen-zam/Gen-ZAM.h
Due: license

whoops, formatting glitch
  tools/gen-zam/Gen-ZAM.cc
Due: license

script optimization fix for re-analyzing identifiers
  src/script_opt/IDOptInfo.cc
Due: license

script optimization fix for lambdas that themselves include lambdas
  src/script_opt/ProfileFunc.cc
  src/script_opt/ProfileFunc.h
Due: license

Path conditions:
  license: any of: \.(h|c|cpp|cc|spicy|evt)$, but not: ^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$
  btest-command-commented: any of: ^testing/btest/.*$
