Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*|doc/devel/spicy/autogen/.*.spicy'

Traces/README: Update with a note about http/261
  testing/btest/Traces/README
Due: btest-command-commented

HTTP: zeek-testing-private baseline update for new weirds
  testing/external/commit-hash.zeek-testing-private
Due: none

testing/btest: Add test for mDNS transaction ID cross-contamination
  testing/btest/Baseline/scripts.base.protocols.dns.mdns-no-assoc/dns.log
  testing/btest/Traces/dns/mdns-no-assoc.pcap
  testing/btest/scripts/base/protocols/dns/mdns-no-assoc.zeek
Due: btest-command-commented

DNS: Skip query/response association for multicast destinations
  scripts/base/protocols/dns/main.zeek
  testing/btest/Baseline/opt.basic/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.mdns-no-assoc/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.notify/dns.log
  testing/btest/Traces/dns/dns_notify2.pcap
Due: btest-command-commented

base: protocols: make DHCPv6 analyzer cluster-aware and add logging
  scripts/base/protocols/dhcpv6/__load__.zeek
  scripts/base/protocols/dhcpv6/main.zeek
Due: none

websocket: Add limit to control frame buffer
  scripts/base/init-bare.zeek
  src/analyzer/protocol/websocket/consts.bif
  src/analyzer/protocol/websocket/websocket-protocol.pac
  src/analyzer/protocol/websocket/websocket.spicy
  testing/btest/Baseline/scripts.base.protocols.websocket.close-too-large/weird-pac.log
  testing/btest/Baseline/scripts.base.protocols.websocket.close-too-large/weird-spicy.log
  testing/btest/Traces/README
  testing/btest/Traces/websocket/oversized-close-frame.pcapng
  testing/btest/Traces/websocket/oversized-close-frame.pcapng.py
  testing/btest/scripts/base/protocols/websocket/close-too-large.zeek
Due: license, btest-command-commented

websocket: Consume data past control frame max size
  src/analyzer/protocol/websocket/websocket-analyzer.pac
  src/analyzer/protocol/websocket/websocket-protocol.pac
  src/analyzer/protocol/websocket/websocket.spicy
  testing/btest/Baseline/scripts.base.protocols.websocket.close-too-large/out-pac-capped
  testing/btest/Baseline/scripts.base.protocols.websocket.close-too-large/out-pac-uncapped
  testing/btest/Baseline/scripts.base.protocols.websocket.close-too-large/out-spicy-capped
  testing/btest/Baseline/scripts.base.protocols.websocket.close-too-large/out-spicy-uncapped
  testing/btest/scripts/base/protocols/websocket/close-too-large.zeek
Due: license, btest-command-commented

Migrate CircleCI configuration and script changes from master
  .circleci/config.yml
  .circleci/generate-workflow-params.py
  .circleci/setup.yml
  ci/alpine/Dockerfile
  ci/centos-stream-10/Dockerfile
  ci/debian-13/Dockerfile
  ci/debian-unstable/Dockerfile
  ci/debian-unstable/prepare-weekly.sh
  ci/fedora-43/Dockerfile
  ci/fedora-44/Dockerfile
  ci/freebsd/prepare.sh
  ci/opensuse-leap-15.6/Dockerfile
  ci/opensuse-leap-16.0/Dockerfile
  ci/tsan_suppressions.txt
  ci/ubuntu-22.04/Dockerfile
  ci/ubuntu-24.04/Dockerfile
  ci/ubuntu-26.04/Dockerfile
  ci/update-zeekygen-docs.sh
  ci/windows/Dockerfile
  ci/windows/build.cmd
  ci/windows/configure.cmd
  ci/windows/prepare.cmd
  ci/windows/run-btests.sh
  ci/windows/test.cmd
Due: none

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/scripts/base/frameworks/logging/main.zeek.rst
  doc/scripts/base/init-bare.zeek.rst
  doc/scripts/base/protocols/ntp/main.zeek.rst
Due: none

No longer load frameworks/telemetry/log.zeek policy from local.zeek
  NEWS
  scripts/site/local.zeek
Due: none

fixup! doc: A few more btest.rst additions and changes
  doc/advanced/devel/btest.rst
Due: none

docs: add guide for running Zeek in cloud environments
  docs/cloud/zeek-in-cloud-environments.rst
Due: none

Update zeek-in-cloud-environments.rst
  docs/cloud/zeek-in-cloud-environments.rst
Due: none

http: Add QUERY method (RFC 10008) to known methods, extend dpd.sig
  NEWS
  scripts/base/protocols/http/dpd.sig
  scripts/base/protocols/http/main.zeek
  testing/btest/Baseline/scripts.base.protocols.http.query-method-non-standard-port/conn.log
  testing/btest/Baseline/scripts.base.protocols.http.query-method-non-standard-port/http.log
  testing/btest/Baseline/scripts.base.protocols.http.query-method/conn.log
  testing/btest/Baseline/scripts.base.protocols.http.query-method/http.log
  testing/btest/Traces/README
  testing/btest/Traces/http/query-method-non-standard-port.pcap
  testing/btest/Traces/http/query-method.pcap
  testing/btest/Traces/http/query-method.pcap.py
  testing/btest/scripts/base/protocols/http/query-method-non-standard-port.zeek
  testing/btest/scripts/base/protocols/http/query-method.zeek
Due: btest-command-commented

Add ankerl::unordered_dense and plf::hive
  src/3rdparty/ankerl/stl.h
  src/3rdparty/ankerl/unordered_dense.h
  src/3rdparty/plf_hive.h
Due: license

Replace Dict.h internals with plf::hive + ankerl::unordered_dense
  src/Dict.cc
  src/Dict.h
Due: license

PublishOnChangeState - remove unnecessary variable
  src/cluster/PublishOnChangeState.cc
Due: license

ntp: Update private testing hash for new log
  testing/external/commit-hash.zeek-testing-private
Due: none

ftp: address review feedback
  scripts/base/protocols/ftp/info.zeek
  scripts/base/protocols/ftp/main.zeek
Due: none

ftp: rename option to log_at_least_one_command and remove synthetic command per review
  scripts/base/protocols/ftp/main.zeek
  testing/btest/Baseline/scripts.policy.protocols.ftp.bruteforce/ftp.log
Due: btest-command-commented

ftp: add btest and update coverage baseline
  scripts/base/protocols/ftp/info.zeek
  testing/btest/Baseline/coverage.record-fields/out.default
  testing/btest/scripts/policy/protocols/ftp/bruteforce.zeek
Due: btest-command-commented

ftp: add btest baselines for bruteforce session logging
  testing/btest/Baseline/coverage.record-fields/out.default
  testing/btest/Baseline/scripts.policy.protocols.ftp.bruteforce/ftp.log
  testing/btest/Baseline/scripts.policy.protocols.ftp.bruteforce/notice.log
Due: btest-command-commented

ftp: log login-only sessions missing from ftp.log
  scripts/base/protocols/ftp/info.zeek
  scripts/base/protocols/ftp/main.zeek
Due: none

ftp: remove network_time() from finalize_ftp per review feedback
  scripts/base/protocols/ftp/main.zeek
Due: none

Update task IDs for CircleCI master push builds
  .circleci/setup.yml
Due: none

Merge remote-tracking branch 'origin/topic/awelzel/http-content-range-overflow'
  CHANGES
  VERSION
  src/analyzer/protocol/http/HTTP.cc
  testing/btest/Baseline/scripts.base.protocols.http.bad-content-range/weird.log
  testing/btest/Baseline/scripts.base.protocols.http.invalid-content-ranges/conn.log
  testing/btest/Baseline/scripts.base.protocols.http.invalid-content-ranges/http.log
  testing/btest/Baseline/scripts.base.protocols.http.invalid-content-ranges/weird.log
  testing/btest/Traces/http/invalid-content-ranges.pcap
  testing/btest/Traces/http/invalid-content-ranges.pcap.py
  testing/btest/scripts/base/protocols/http/invalid-content-ranges.zeek
Due: license, btest-command-commented

Merge remote-tracking branch 'origin/topic/awelzel/vxlan-ubsan-nullptr-deref'
  CHANGES
  VERSION
  src/packet_analysis/protocol/geneve/Geneve.cc
  src/packet_analysis/protocol/vxlan/VXLAN.cc
  testing/btest/Baseline/core.tunnels.geneve-inner-tcp-bad-checksum/conn.log
  testing/btest/Baseline/core.tunnels.geneve-inner-tcp-bad-checksum/out
  testing/btest/Baseline/core.tunnels.geneve-inner-tcp-bad-checksum/weird.log
  testing/btest/Baseline/core.tunnels.vxlan-inner-tcp-bad-checksum/conn.log
  testing/btest/Baseline/core.tunnels.vxlan-inner-tcp-bad-checksum/out
  testing/btest/Baseline/core.tunnels.vxlan-inner-tcp-bad-checksum/weird.log
  testing/btest/Traces/README
  testing/btest/Traces/tunnels/geneve-inner-tcp-bad-checksum.pcap
  testing/btest/Traces/tunnels/geneve-inner-tcp-bad-checksum.pcap.py
  testing/btest/Traces/tunnels/vxlan-inner-tcp-bad-checksum.pcap
  testing/btest/Traces/tunnels/vxlan-inner-tcp-bad-checksum.pcap.py
  testing/btest/core/tunnels/geneve-inner-tcp-bad-checksum.zeek
  testing/btest/core/tunnels/vxlan-inner-tcp-bad-checksum.zeek
Due: license, btest-command-commented

Merge remote-tracking branch 'origin/topic/awelzel/ntp-ubsan-integer-overflow-take-two'
  CHANGES
  VERSION
  src/analyzer/protocol/ntp/ntp-protocol.pac
Due: none

Fix infinite recursion in val describe
  src/Desc.cc
  src/Desc.h
  src/Val.cc
  testing/btest/Baseline/language.cycle-print/output
  testing/btest/language/cycle-print.zeek
Due: license, btest-command-commented

Add openssl and pcre to vcpkg.json
  vcpkg.json
Due: none

Merge remote-tracking branch 'origin/topic/timw/extend-btest-timeouts-to-fix-zam-ci-failures'
  CHANGES
  VERSION
  testing/btest/cluster/zeromq/overload-worker-proxy-topic-no-drop.zeek
  testing/btest/scripts/base/files/x509/log-caching-disabled-cluster.test
  testing/btest/scripts/base/frameworks/openflow/log-cluster.zeek
  testing/btest/scripts/base/frameworks/storage/redis-cluster.zeek
  testing/btest/scripts/base/frameworks/storage/sqlite-cluster.zeek
  testing/btest/scripts/base/frameworks/sumstats/sample-cluster.zeek
  testing/btest/scripts/policy/frameworks/cluster/cluster_started_restart_manager.zeek
  testing/btest/scripts/policy/frameworks/management/controller/agent-checkin.zeek
  testing/btest/scripts/policy/misc/weird-stats-cluster.zeek
  testing/btest/supervisor/config-bare-mode.zeek
  testing/btest/supervisor/config-cluster-pcap.zeek
Due: btest-command-commented

Extend timeout for two more cluster btests
  testing/btest/cluster/websocket/bad-url.zeek
  testing/btest/scripts/base/frameworks/notice/suppression-batching-cluster.zeek
Due: btest-command-commented

Migrate vcpkg.json wholesale from master
  vcpkg.json
Due: none

Fix find_package for ZeroMQ to match master
  src/cluster/backend/CMakeLists.txt
  src/cluster/backend/zeromq/CMakeLists.txt
Due: none
