Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*|doc/devel/spicy/autogen/.*.spicy'

Update docs for IGMP analyzer addition
  doc/script-reference/autogenerated-package-index.rst
  doc/script-reference/autogenerated-packet-analyzer-index.rst
  doc/script-reference/autogenerated-protocol-analyzer-index.rst
  doc/script-reference/autogenerated-script-index.rst
  doc/scripts/base/bif/index.rst
  doc/scripts/base/frameworks/logging/main.zeek.rst
  doc/scripts/base/packet-protocols/__load__.zeek.rst
  doc/scripts/base/packet-protocols/igmp/__load__.zeek.rst
  doc/scripts/base/packet-protocols/igmp/index.rst
  doc/scripts/base/packet-protocols/igmp/main.zeek.rst
  doc/scripts/base/packet-protocols/igmp/types.zeek.rst
  doc/scripts/base/packet-protocols/index.rst
  doc/scripts/base/protocols/conn/inactivity.zeek.rst
Due: none

Add igmpv1 btest/trace
  testing/btest/Baseline/scripts.base.protocols.igmp.basic-v1/igmp.log
  testing/btest/Traces/README
  testing/btest/Traces/igmp/multicast-igmp-version-membership-query-and-report.pcap
  testing/btest/scripts/base/protocols/igmp/basic-v1.zeek
Due: btest-command-commented

Add igmp/spicy-events.zeek for docs, expand testing of events
  doc/scripts/base/packet-protocols/igmp/main.zeek.rst
  doc/scripts/base/packet-protocols/igmp/types.zeek.rst
  scripts/base/packet-protocols/igmp/main.zeek
  scripts/base/packet-protocols/igmp/spicy-events.zeek
  scripts/base/packet-protocols/igmp/types.zeek
  src/packet_analysis/protocol/igmp/igmp.evt
  testing/btest/Baseline/coverage.init-default/missing_loads
  testing/btest/Baseline/plugins.hooks/output
  testing/btest/Baseline/scripts.base.protocols.igmp.bad-checksum/out
  testing/btest/Baseline/scripts.base.protocols.igmp.basic/out
  testing/btest/scripts/base/protocols/igmp/bad-checksum.zeek
  testing/btest/scripts/base/protocols/igmp/basic.zeek
Due: license, btest-command-commented

Add extra state check to finalize_redis hook
  scripts/base/protocols/redis/main.zeek
  testing/btest/Baseline/scripts.base.protocols.redis.finalize-redis-state-check/.stderr
  testing/btest/Traces/redis/oss-fuzz-473580107.pcap
  testing/btest/scripts/base/protocols/redis/finalize-redis-state-check.zeek
Due: btest-command-commented

HTTP: Report a weird for HTTP transfers with remaining bytes
  src/analyzer/protocol/http/HTTP.cc
  testing/btest/Baseline/scripts.base.protocols.http.content-length-exceeds-body/http.log
  testing/btest/Baseline/scripts.base.protocols.http.content-length-exceeds-body/http.log.cut
  testing/btest/Baseline/scripts.base.protocols.http.content-length-exceeds-body/out
  testing/btest/Baseline/scripts.base.protocols.http.content-length-exceeds-body/weird.log
  testing/btest/Baseline/scripts.base.protocols.http.content-length-exceeds-body/weird.log.cut
  testing/btest/Baseline/scripts.base.protocols.http.http-09-content-length-confusion/weird.log
  testing/btest/Traces/http/content-length-exceeds-body.pcap
  testing/btest/scripts/base/protocols/http/content-length-exceeds-body.zeek
Due: license, btest-command-commented

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/scripts/base/protocols/redis/main.zeek.rst
Due: none

added debugging "dump" for ZAM instruction auxiliary information
  src/CMakeLists.txt
  src/script_opt/ZAM/ZInst.cc
  src/script_opt/ZAM/ZInstAux.cc
  src/script_opt/ZAM/ZInstAux.h
Due: license

demonstration of coercion crash
  scripts/base/frameworks/analyzer/main.zeek
Due: none

Directly render into std::string where appropriate
  src/IPAddr.cc
  src/util.cc
Due: license

Remove uses of modp_* methods from threading::Formatter
  src/IPAddr.cc
  src/threading/Formatter.cc
  testing/btest/Baseline/scripts.base.frameworks.logging.ascii-timestamps/test.log
Due: license, btest-command-commented

Replace use of modp_dtoa2 in ODesc::Add with std::to_chars
  src/Desc.cc
  src/util.cc
  src/util.h
  testing/btest/Baseline/language.double/out
Due: license, btest-command-commented

Add minor optimization for strings without trailing zeroes
  src/util.cc
Due: license

Test benchmarks using short-string optimization
  src/util.cc
Due: license

Directly include <charconv>
  src/util.cc
Due: license

Replace uses of modp integer methods in ZAM code
  src/script_opt/ZAM/BuiltInSupport.cc
  src/script_opt/ZAM/BuiltInSupport.h
  src/script_opt/ZAM/OPs/ZBI.op
Due: license

Replace use of modp_dtoa2 method in ZAM code
  src/script_opt/ZAM/BuiltInSupport.cc
Due: license

Replace uses of modp integer methods in ODesc::Add
  src/Desc.cc
Due: license

zeek/benchmark: Introduce a place to put microbenchmark executables
  CMakeLists.txt
  benchmarks/CMakeLists.txt
  benchmarks/double-to-str.cc
  benchmarks/int-count-to-str.cc
  benchmarks/ip-prefix-as-string.cc
  benchmarks/odesc.cc
Due: license

testing/scripts: Add btest-diff-cut
  testing/scripts/btest-diff-cut
Due: none

Using zmq::proxy_steerable to create proxy in order to gather statistics.
  src/cluster/backend/zeromq/ZeroMQ-Proxy.cc
  src/cluster/backend/zeromq/ZeroMQ-Proxy.h
  src/cluster/backend/zeromq/ZeroMQ.cc
  src/cluster/backend/zeromq/ZeroMQ.h
  testing/btest/Baseline/cluster.websocket.zeromq.manager-worker-ping-pong/..manager.out
  testing/btest/Baseline/cluster.websocket.zeromq.manager-worker-ping-pong/..worker-1.out
  testing/btest/cluster/websocket/zeromq/manager-worker-ping-pong.zeek
Due: license, btest-command-commented

testing/btest/zeromq: Add steerable proxy metrics test
  testing/btest/Baseline/cluster.zeromq.proxy-steerable-metrics/..manager.out
  testing/btest/Baseline/cluster.zeromq.proxy-steerable-metrics/..worker.out
  testing/btest/cluster/zeromq/proxy-steerable-metrics.zeek
Due: btest-command-commented

Renaming statistics. Resolving comment https://github.com/zeek/zeek/pull/5052#discussion_r2616958150
  src/cluster/backend/zeromq/ZeroMQ.cc
Due: license

testing/btest: Update ZAM baseline for wstunnel-configure-break
  testing/btest/Baseline.zam/scripts.base.protocols.websocket.wstunnel-ssh-configure-break/conn.log
  testing/btest/Baseline.zam/scripts.base.protocols.websocket.wstunnel-ssh-configure-break/websocket.log
Due: btest-command-commented

Various minor tweaks
  doc/tutorial/index.rst
  doc/tutorial/setup.rst
Due: none

Light edits to the logging section
  doc/tutorial/logs.rst
Due: none

Tweaks to the zeekctl section
  doc/tutorial/invoking-zeekctl.rst
Due: none

Correction to the test invocation
  doc/tutorial/invoking-zeek.rst
  doc/tutorial/setup.rst
Due: none

Light edits to the package manager tutorial section
  doc/tutorial/using-packages.rst
Due: none

Minor edits to the Zeek invocation section of the tutorial
  doc/tutorial/invoking-zeek.rst
Due: none

Edits to the scripting tutorial's introduction
  doc/tutorial/scripting/index.rst
Due: none

Edits to the expanded script example
  doc/tutorial/scripting/tutorial-example.rst
Due: none

Edits to the JavaScript section
  doc/tutorial/scripting/javascript.rst
Due: none

Additional edits to the tail end of the basics section
  doc/tutorial/scripting/basics.rst
Due: none

Move the event section up to explain eventing first
  doc/tutorial/scripting/basics.rst
  doc/tutorial/scripting/basics/event_statement.zeek
Due: none

cluster/zeromq/cmake: Extract ZeroMQ_VERSION
  src/cluster/backend/zeromq/cmake/FindZeroMQ.cmake
Due: none

cluster/zeromq: Require ZeroMQ 4.3.0 or later
  NEWS
  doc/building-from-source.rst
  src/cluster/backend/CMakeLists.txt
Due: none

CI: Install ZeroMQ 4.3.5 from source on opensuse/leap 15.6
  ci/opensuse-leap-15.6/Dockerfile
Due: none

Strip out everything related to events
  scripts/base/init-bare.zeek
  src/event.bif
  src/iosource/pcapng/Parser.cc
  src/iosource/pcapng/Parser.h
  src/iosource/pcapng/Source.cc
  src/types.bif
  testing/btest/Baseline/core.pcapng-pktsrc/out
  testing/btest/core/pcapng-pktsrc.zeek
Due: license, btest-command-commented

Add second version of double_to_str that takes a buffer
  benchmarks/CMakeLists.txt
  benchmarks/double-to-str.cc
  src/Desc.cc
  src/util.cc
  src/util.h
Due: license
