Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

license:
  name: Check for license headers
  entry: ./ci/license-header.py
  language: python

btest-command-commented:
  name: Check that all BTest command lines are commented out
  entry: ^\s*@TEST-
  language: pygrep

fix for ZAM optimizer crashing due to infinite recursion on self-assignment
  src/script_opt/Reduce.cc
  testing/btest/Baseline/opt.regress-self-assign/output
  testing/btest/opt/regress-self-assign.zeek
Due: license, btest-command-commented

tools/systemd-generator: Fix defaulting to deprecated zeromq/connect script
  tools/systemd-generator/src/zeek-cluster-config.cc
Due: license

tools/systemd-generator: Fix unused <vector> include
  tools/systemd-generator/src/zeek-systemd-generator.cc
Due: license

tools/systemd-generator: Add PartOf setter
  tools/systemd-generator/src/systemd-unit.cc
  tools/systemd-generator/src/systemd-unit.h
  tools/systemd-generator/src/zeek-systemd-generator.cc
Due: license

tools/systemd-generator: Add zeek-setup.service to zeek.target.wants
  tools/systemd-generator/src/zeek-systemd-generator.cc
Due: license

tools/systemd-generator: Fix README config paragraph
  tools/systemd-generator/README.md
Due: none

tools/systemd-generator: Fix manager and archiver slice
  tools/systemd-generator/src/zeek-systemd-generator.cc
Due: license

tools/systemd-generator: Add StopPropagatedFrom setter
  tools/systemd-generator/src/systemd-unit.cc
  tools/systemd-generator/src/systemd-unit.h
Due: license

tools/systemd-generator: Fix for stopping extra workers
  tools/systemd-generator/src/zeek-systemd-generator.cc
Due: license

btest/tools/systemd-generator: Update baselines
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator-defaults/normal-dir.zeek-archiver.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator-defaults/normal-dir.zeek-logger@.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator-defaults/normal-dir.zeek-manager.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator-defaults/normal-dir.zeek-proxy@.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator-defaults/normal-dir.zeek-worker@.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator-defaults/out
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-archiver.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-logger@.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-manager.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-proxy@.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-worker@.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/out
  testing/btest/tools/systemd-generator/test-cpulist.sh
  testing/btest/tools/systemd-generator/test-interface-substitution.sh
  testing/btest/tools/systemd-generator/test-zeek-cluster-layout-generator.sh
Due: btest-command-commented

CI: Use docker imagetools instead of docker manifest
  .cirrus.yml
  ci/container-images-tag-and-push.sh
Due: none

tools/systemd-generator: Remove {worker_name} substitution
  testing/btest/Baseline/tools.systemd-generator.test-interface-substitution/..dir3.zeek-worker@1.service.d.10-zeek-systemd-generator.conf
  testing/btest/Baseline/tools.systemd-generator.test-interface-substitution/..dir3.zeek-worker@2.service.d.10-zeek-systemd-generator.conf
  testing/btest/tools/systemd-generator/test-interface-substitution.sh
  tools/systemd-generator/etc/zeek/zeek.conf
  tools/systemd-generator/src/zeek-systemd-generator.cc
Due: license, btest-command-commented

CI: Fix not building container images for RC tags
  .cirrus.yml
Due: none

Merge remote-tracking branch 'origin/topic/awelzel/bump-zeekjs-0-22-0'
  CHANGES
  VERSION
Due: none

Merge remote-tracking branch 'origin/topic/awelzel/quic-create-stream-priority-5'
  CHANGES
  VERSION
  scripts/base/protocols/postgresql/main.zeek
  scripts/base/protocols/quic/main.zeek
  scripts/base/protocols/websocket/main.zeek
Due: none

Merge remote-tracking branch 'origin/topic/etyp/table-key-error'
  CHANGES
  VERSION
  src/Expr.cc
  testing/btest/Baseline/language.init-mismatch/.stderr
  testing/btest/Baseline/language.table-key-fail/out
  testing/btest/language/table-key-fail.zeek
Due: license, btest-command-commented

Merge branch 'topic/christian/fix-packet-init-missing-fields'
  CHANGES
  VERSION
  src/iosource/Packet.cc
Due: license

Merge remote-tracking branch 'origin/topic/johanna/ssl-protocol-error-certificate-logging'
  CHANGES
  VERSION
  scripts/base/protocols/ssl/main.zeek
  testing/btest/Baseline/scripts.base.protocols.ssl.tls-1.2-late-protocol-error/analyzer.log
  testing/btest/Baseline/scripts.base.protocols.ssl.tls-1.2-late-protocol-error/ssl.log
  testing/btest/Baseline/scripts.base.protocols.ssl.tls-1.2-late-protocol-error/x509.log
  testing/btest/Traces/tls/tls1.2-late-protocol-error.pcap
  testing/btest/scripts/base/protocols/ssl/tls-1.2-late-protocol-error.test
Due: btest-command-commented

fix state growth in building NFAs
  src/NFA.cc
  src/NFA.h
  src/RE.cc
Due: license

CI: Bump to FreeBSD 14.3
  .cirrus.yml
Due: none

Merge remote-tracking branch 'origin/topic/etyp/spicy-unit-blocks'
  CHANGES
  VERSION
  src/spicy/spicyz/glue-compiler.cc
  testing/btest/Baseline/spicy.export-type-with-block/output
  testing/btest/spicy/export-type-with-block.zeek
Due: license, btest-command-commented

Merge remote-tracking branch 'origin/topic/awelzel/conn-size-flip'
  CHANGES
  VERSION
  doc/devel/conn.rst
  doc/devel/index.rst
  src/packet_analysis/protocol/tcp/TCP.cc
  src/packet_analysis/protocol/tcp/TCPSessionAdapter.cc
  testing/btest/Baseline/core.conn-size-flip/conn.log.ctu
  testing/btest/Baseline/core.conn-size-flip/conn.log.one-sided
  testing/btest/Baseline/core.local-flip/conn.log
  testing/btest/Baseline/core.tcp.flip-without-syn/conn.log
  testing/btest/Traces/README
  testing/btest/Traces/tcp/ctu-64702-888.pcap
  testing/btest/Traces/tcp/one-sided-2745.pcap
  testing/btest/core/conn-size-flip.zeek
  testing/external/commit-hash.zeek-testing
  testing/external/commit-hash.zeek-testing-private
Due: license, btest-command-commented

Remove trailing whitespace when visible in docs
  doc/quickstart.rst
  src/analyzer/protocol/rdp/events.bif
  src/analyzer/protocol/smb/smb1_com_echo.bif
  src/analyzer/protocol/smb/smb1_com_transaction.bif
  src/analyzer/protocol/smb/smb1_com_transaction2.bif
  src/analyzer/protocol/smb/smb2_com_set_info.bif
Due: none

for -O gen-standalone-C++, optimize &default's that are simple coercions
  src/script_opt/CPP/Inits.cc
  src/script_opt/CPP/InitsInfo.cc
Due: license

Merge remote-tracking branch 'origin/topic/vern/expr-eval-in-isolation'
  CHANGES
  VERSION
  src/Attr.cc
  src/Expr.cc
  src/Expr.h
  src/Func.cc
  src/ID.cc
  src/Stmt.cc
  src/Type.cc
  src/Val.cc
  src/Var.cc
  src/broker/Manager.cc
  src/input/Manager.cc
  src/parse.y
  src/scan.l
  src/script_opt/CPP/InitsInfo.cc
  src/script_opt/CPP/Stmts.cc
  src/script_opt/Expr.cc
  src/script_opt/Reduce.cc
  src/script_opt/ZAM/Low-Level.cc
  testing/btest/Baseline/broker.store.brokerstore-backend-error/output
  testing/btest/Baseline/core.expr-isolation/output
  testing/btest/broker/store/brokerstore-backend-error.zeek
  testing/btest/core/expr-isolation.zeek
Due: license, btest-command-commented

Path conditions:
  license: any of: \.(h|c|cpp|cc|spicy|evt)$, but not: ^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$
  btest-command-commented: any of: ^testing/btest/.*$
