Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*'

maintenance update for script optimization's knowledge of BiFs
  src/script_opt/FuncInfo.cc
Due: license

logger fix for interoperability with -O gen-C++ code
  src/logging/Manager.h
Due: license

BTest updates for script optimization tracking of BiFs
  testing/btest/Baseline/opt.ZAM-bif-tracking/output
  testing/btest/opt/ZAM-bif-tracking.zeek
Due: btest-command-commented

fixup! shift much of the internal use of ID* identifier pointers over to IDPtr objects
  src/Stmt.cc
Due: license

fixup! shift much of the internal use of ID* identifier pointers over to IDPtr objects
  src/script_opt/CPP/DeclFunc.cc
Due: license

BTest baseline updates for -O gen-C++ - all minor tweaks
  testing/btest/Baseline.cpp/bifs.disable_analyzer-early/out
  testing/btest/Baseline.cpp/bifs.disable_analyzer-hook/out
  testing/btest/Baseline.cpp/bifs.disable_analyzer/out
  testing/btest/Baseline.cpp/bifs.lookup_connection/.stderr
  testing/btest/Baseline.cpp/bifs.to_count/err
  testing/btest/Baseline.cpp/bifs.to_int/err
  testing/btest/Baseline.cpp/broker.store.create-failure/zeek.err
  testing/btest/Baseline.cpp/cluster.generic.cluster-publish-errors/.stderr
  testing/btest/Baseline.cpp/cluster.generic.errors/.stderr
  testing/btest/Baseline.cpp/cluster.generic.make_event/.stderr
  testing/btest/Baseline.cpp/cluster.generic.make_event/out
  testing/btest/Baseline.cpp/cluster.websocket.listen-idempotent/.stderr
  testing/btest/Baseline.cpp/cluster.websocket.tls-usage-error/.stderr
  testing/btest/Baseline.cpp/core.analyzer-confirmation-violation-info-ftp/.stdout
  testing/btest/Baseline.cpp/core.analyzer-confirmation-violation-info/.stdout
  testing/btest/Baseline.cpp/core.expr-exception/output
  testing/btest/Baseline.cpp/scripts.base.frameworks.cluster.publish-hrw-type-check/.stderr
  testing/btest/Baseline.cpp/scripts.base.protocols.ssl.prevent-disable-analyzer/.stdout
Due: btest-command-commented

annotate a number of BTests as unsuited for -O gen-C++ testing due to multiple Zeek runs
  testing/btest/broker/peering-directionality.zeek
  testing/btest/broker/publish-errors.zeek
  testing/btest/broker/remote_event_vector_any.zeek
  testing/btest/broker/remote_id.zeek
  testing/btest/core/discarder.zeek
  testing/btest/core/load-prefixes.zeek
  testing/btest/coverage/zeek-profiler-file.zeek
  testing/btest/language/at-dir.zeek
  testing/btest/scripts/base/files/x509/x509_check_cert_hostname.zeek
  testing/btest/scripts/base/frameworks/cluster/custom_pool_exclusivity.zeek
  testing/btest/scripts/base/frameworks/control/id_value.zeek
  testing/btest/scripts/base/frameworks/netcontrol/acld-hook.zeek
  testing/btest/scripts/base/frameworks/netcontrol/acld.zeek
  testing/btest/scripts/base/frameworks/netcontrol/broker.zeek
  testing/btest/scripts/base/frameworks/openflow/broker-basic.zeek
Due: btest-command-commented

regression test for former ASAN issue with script optimization of lambdas
  testing/btest/opt/regress-lambda-ASAN.zeek
Due: btest-command-commented

fixup! shift much of the internal use of ID* identifier pointers over to IDPtr objects
  src/script_opt/CPP/Stmts.cc
  src/script_opt/Expr.cc
  src/script_opt/Inline.cc
  src/script_opt/Reduce.cc
  src/script_opt/Reduce.h
  src/script_opt/Stmt.cc
  src/script_opt/ZAM/Expr.cc
Due: license

fixup! fixup! shift much of the internal use of ID* identifier pointers over to IDPtr objects
  src/script_opt/ZAM/Driver.cc
Due: license

Clang-tidy fixes for recent IDPtr changes
  src/Expr.cc
  src/Trigger.cc
  src/Var.cc
  src/script_opt/CPP/DeclFunc.cc
  src/script_opt/CPP/GenFunc.cc
  src/script_opt/CPP/Stmts.cc
  src/script_opt/CSE.cc
  src/script_opt/GenIDDefs.cc
  src/script_opt/ProfileFunc.cc
  src/script_opt/Reduce.cc
  src/script_opt/Reduce.h
  src/script_opt/UsageAnalyzer.cc
  src/script_opt/UseDefs.cc
  src/script_opt/UseDefs.h
  src/script_opt/ZAM/AM-Opt.cc
  src/script_opt/ZAM/Driver.cc
  src/script_opt/ZAM/Stmt.cc
  src/script_opt/ZAM/Vars.cc
Due: license

NEWS: Add note about DNS SVCB changes
  NEWS
Due: none

Fix clang-tidy warning from recent SVCB merge
  src/analyzer/protocol/dns/DNS.cc
Due: license

CI: Add tasks for reporting cron status to email
  .cirrus.yml
  ci/debian-13/Dockerfile
  ci/send-cron-status-email.py
Due: none

Switch types used in DNS analyzer to be more consistent
  src/analyzer/protocol/dns/DNS.cc
  src/analyzer/protocol/dns/DNS.h
Due: license

Clean up initialization of DNS_Interpreter
  src/analyzer/protocol/dns/DNS.cc
  src/analyzer/protocol/dns/DNS.h
Due: license

SMB: Init lanman time and set TZ correctly before calling mktime
  src/analyzer/protocol/smb/smb-time.pac
Due: none

Windows: Generate launch.vs.json via CMake template
  CMakeLists.txt
  cmake_templates/launch.vs.json.in
Due: none

CI: Fix warning about ENV usage in CI dockerfiles
  ci/alpine/Dockerfile
  ci/centos-stream-10/Dockerfile
  ci/centos-stream-9/Dockerfile
  ci/debian-12/Dockerfile
  ci/debian-13/Dockerfile
  ci/fedora-41/Dockerfile
  ci/fedora-42/Dockerfile
  ci/opensuse-leap-15.6/Dockerfile
  ci/opensuse-tumbleweed/Dockerfile
  ci/ubuntu-22.04/Dockerfile
  ci/ubuntu-24.04/Dockerfile
  ci/ubuntu-25.04/Dockerfile
  ci/windows/Dockerfile
Due: none

CI: Add centos stream 10 build
  .cirrus.yml
  ci/centos-stream-10/Dockerfile
Due: none

btest/core/suspend_processing: Add WebSocket example
  testing/btest/Baseline/core.suspend_processing.websocket/client..stdout
  testing/btest/Baseline/core.suspend_processing.websocket/worker..stdout
  testing/btest/Files/ws/wstest.py
  testing/btest/core/suspend_processing/websocket.zeek
Due: btest-command-commented

Remove zeek-3rdparty submodule
  .gitmodules
Due: none
