Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*|doc/devel/spicy/autogen/.*.spicy'

Address misc review feedback for tutorial
  doc/customizations.rst
  doc/tutorial/index.rst
  doc/tutorial/invoking-zeek.rst
  doc/tutorial/logs.rst
  doc/tutorial/scripting/basics.rst
  doc/tutorial/scripting/index.rst
  doc/tutorial/scripting/tutorial-example.rst
  doc/tutorial/setup.rst
  doc/tutorial/using-packages.rst
Due: none

Prefer pcap-mode vs. live-capture for doc tutorial
  doc/tutorial/logs.rst
  doc/tutorial/scripting/tutorial-example.rst
Due: none

Additional edits to the tail end of the basics section
  doc/tutorial/scripting/basics.rst
Due: none

Avoid describing containers as "Docker containers"
  doc/tutorial/logs.rst
  doc/tutorial/scripting/tutorial-example.rst
  doc/tutorial/setup.rst
Due: none

Tweaks to the zeekctl section
  doc/tutorial/invoking-zeekctl.rst
Due: none

Delete the old log introspection section
  doc/index.rst
  doc/log-formats.rst
  doc/quickstart.rst
  doc/tutorial/logs.rst
Due: none

Light edits to the package manager tutorial section
  doc/tutorial/using-packages.rst
Due: none

Remove frameworks section from the tutorial
  doc/tutorial/frameworks/framework-scripts/match.sig
  doc/tutorial/frameworks/framework-scripts/match.zeek
  doc/tutorial/frameworks/zeek-frameworks.rst
  doc/tutorial/index.rst
Due: none

Add scripting basics video link
  doc/tutorial/scripting/basics.rst
Due: none

Finish the logs tutorial section
  doc/tutorial/logs.rst
Due: none

Light edits to the logging section
  doc/tutorial/logs.rst
Due: none

Add back missing section label
  doc/tutorial/scripting/basics.rst
Due: none

Edits to the scripting tutorial's introduction
  doc/tutorial/scripting/index.rst
Due: none

Edits to the expanded script example
  doc/tutorial/scripting/tutorial-example.rst
Due: none

Touchup the whole new tutorial
  doc/tutorial/cluster-backends.rst
  doc/tutorial/index.rst
  doc/tutorial/invoking-zeek.rst
  doc/tutorial/invoking-zeekctl.rst
  doc/tutorial/logs.rst
  doc/tutorial/scripting/index.rst
  doc/tutorial/scripting/tutorial-example.rst
  doc/tutorial/setup.rst
  doc/tutorial/using-packages.rst
Due: none

Move the event section up to explain eventing first
  doc/tutorial/scripting/basics.rst
  doc/tutorial/scripting/basics/event_statement.zeek
Due: none

Various minor tweaks
  doc/tutorial/index.rst
  doc/tutorial/setup.rst
Due: none

Minor edits to the Zeek invocation section of the tutorial
  doc/tutorial/invoking-zeek.rst
Due: none

Add missing word to `?$` docs
  doc/script-reference/operators.rst
Due: none

Re-add the tracing events section
  doc/script-reference/event-semantics.rst
Due: none

Add `zeekctl` section to tutorial
  doc/cluster-setup.rst
  doc/tutorial/invoking-zeekctl.rst
  doc/tutorial/logs.rst
Due: none

Correction to the test invocation
  doc/tutorial/invoking-zeek.rst
  doc/tutorial/setup.rst
Due: none

Edits to the JavaScript section
  doc/tutorial/scripting/javascript.rst
Due: none

Turn "About Zeek" into a chapter and add monitoring to it
  doc/about.rst
  doc/about/architecture.rst
  doc/about/history.rst
  doc/about/index.rst
  doc/about/monitoring.rst
  doc/about/what.rst
  doc/about/why.rst
  doc/index.rst
Due: none

Refresh the acknowledgments
  doc/acknowledgements.rst
Due: none

Restructure grab-bag into advanced scripting
  doc/advanced/grab-bag/index.rst
  doc/advanced/index.rst
  doc/advanced/scripting/conn-id-ctx.rst
  doc/advanced/scripting/conn_id_ctx_my_endpoint.zeek
  doc/advanced/scripting/index.rst
  doc/advanced/scripting/optimization.rst
  doc/advanced/scripting/usage.rst
  doc/tutorial/invoking-zeek.rst
Due: none

Use "modules" instead of "packages" for Zeek's own tree
  doc/reference/zeekscript/packages.rst
Due: none

restore ZAM custom instruction for Files::__add_analyzer
  src/script_opt/ZAM/BuiltIn.cc
Due: license

Type: Add "parent" API to EnumType
  src/Type.h
Due: license

plugin/ComponentManager: Set parent type of tag enums
  src/plugin/ComponentManager.h
Due: license

Type: Make enum type checking nominal
  NEWS
  scripts/base/frameworks/files/main.zeek
  src/Type.cc
  testing/btest/Baseline/language.enum-bad-type/.stderr
  testing/btest/Baseline/language.enum/out
  testing/btest/language/enum-bad-type.zeek
  testing/btest/language/enum.zeek
Due: license, btest-command-commented

Val: Use concrete TypePtr in ToListVal()
  src/Val.cc
  src/Val.h
Due: license

TypeList::Append: More verbose internal error
  src/Type.cc
Due: license

Val: Inline ListVal(TypeTag t) constructor
  src/Val.cc
  src/Val.h
Due: license

btest/http/deeply-nested-mime: Remove spurious http.log entry
  testing/btest/Baseline/scripts.base.protocols.http.deeply-nested-mime/http.log
Due: btest-command-commented

HTTP: Make debug messages more useful
  src/analyzer/protocol/http/HTTP.cc
Due: license

HTTP: Ignore Transfer-Encoding header of inner MIME entities
  src/analyzer/protocol/http/HTTP.cc
Due: license
