Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*|doc/devel/spicy/autogen/.*.spicy'

Merge remote-tracking branch 'origin/topic/awelzel/minor-btest-broker-remote-id-fixup'
  CHANGES
  VERSION
  testing/btest/broker/remote_id.zeek
Due: btest-command-commented

Merge remote-tracking branch 'origin/topic/timw/upgrade-c-ares'
  CHANGES
  VERSION
Due: none

Add missing testing/scripts/is-windows script
  testing/scripts/is-windows
Due: none

Merge remote-tracking branch 'origin/topic/timw/3955-escape-ldap-filter-strings'
  CHANGES
  VERSION
  src/analyzer/protocol/ldap/ldap.spicy
  testing/btest/Baseline/scripts.base.protocols.ldap.filter_escaping/ldap_search.log
  testing/btest/Baseline/scripts.base.protocols.ldap.filter_escaping/output
  testing/btest/Traces/ldap/ldap_escaping_test.pcapng
  testing/btest/scripts/base/protocols/ldap/filter_escaping.zeek
Due: license, btest-command-commented

Merge remote-tracking branch 'origin/topic/timw/ldap-filter-utf-characters'
  CHANGES
  VERSION
  testing/btest/Baseline/scripts.base.protocols.ldap.filter_escaping/ldap_search.log.1
  testing/btest/Baseline/scripts.base.protocols.ldap.filter_escaping/ldap_search.log.2
  testing/btest/Baseline/scripts.base.protocols.ldap.filter_escaping/output.1
  testing/btest/Baseline/scripts.base.protocols.ldap.filter_escaping/output.2
  testing/btest/Traces/ldap/ldap_search_umlaut.pcap
  testing/btest/scripts/base/protocols/ldap/filter_escaping.zeek
Due: btest-command-commented

Merge remote-tracking branch 'origin/topic/awelzel/5232-ldap-size-not-consumed'
  CHANGES
  VERSION
  src/analyzer/protocol/ldap/ldap.spicy
  testing/btest/Baseline/scripts.base.protocols.ldap.modify-request/conn.log
  testing/btest/Baseline/scripts.base.protocols.ldap.modify-request/ldap.log
  testing/btest/Traces/README
  testing/btest/Traces/ldap/modify-request.pcap
  testing/btest/scripts/base/protocols/ldap/modify-request.zeek
Due: license, btest-command-commented

Merge remote-tracking branch 'origin/topic/etyp/spicy-loc-canonifier'
  CHANGES
  VERSION
  testing/btest/Baseline.zam/spicy.ssh-banner/output
  testing/btest/Baseline/scripts.base.protocols.ldap.asn1_max_recursion/output
  testing/btest/Baseline/scripts.base.protocols.ldap.ldap_max_recursion/output
  testing/btest/Baseline/scripts.base.protocols.redis.element-object-exhaustion/analyzer_debug.log
  testing/btest/Baseline/spicy.export-type-fail/output
  testing/btest/Baseline/spicy.export-type-with-fields-fail/output
  testing/btest/Baseline/spicy.parse-error/analyzer.log
  testing/btest/Baseline/spicy.ssh-banner/analyzer_debug.log
  testing/btest/Baseline/spicy.ssh-banner/output
  testing/btest/Baseline/spicy.tcp-eod-behavior/output-1024-fins
  testing/btest/scripts/base/protocols/ldap/asn1_max_recursion.zeek
  testing/btest/scripts/base/protocols/ldap/ldap_max_recursion.zeek
  testing/btest/scripts/base/protocols/quic/decrypt-crash.zeek
  testing/btest/scripts/base/protocols/quic/vector-max-size-crash.zeek
  testing/btest/spicy/ssh-banner.zeek
  testing/btest/spicy/tcp-eod-behavior.zeek
  testing/external/commit-hash.zeek-testing-private
  testing/scripts/diff-canonifier-external
  testing/scripts/diff-canonifier-spicy
  testing/scripts/diff-remove-locations
Due: btest-command-commented

telemetry/MetricFamily: Allow Name(), Unit() and HelpText() introspection
  src/telemetry/Counter.h
  src/telemetry/Gauge.h
  src/telemetry/Histogram.cc
  src/telemetry/Histogram.h
  src/telemetry/Manager.cc
  src/telemetry/MetricFamily.h
Due: license

telemetry/Manager: Add GetFamilies() accessor for registered metric families
  src/telemetry/Manager.cc
  src/telemetry/Manager.h
Due: license

zeekygen: Add MetricTarget and MetricInfo classes
  src/zeekygen/CMakeLists.txt
  src/zeekygen/Configuration.cc
  src/zeekygen/MetricInfo.cc
  src/zeekygen/MetricInfo.h
  src/zeekygen/Target.cc
  src/zeekygen/Target.h
  testing/btest/Baseline/coverage.include-directory/..include-dir.out
Due: license, btest-command-commented

doc/troubleshooting: Use zeek:metric for demonstration purposes
  doc/advanced/troubleshooting.rst
Due: none

doc/ext/zeek.py: Add zeek:metric directive and role
  doc/ext/zeek.py
Due: none

ci,doc: Add auto-generated Metrics page into Reference section
  ci/update-zeekygen-docs.sh
  doc/reference/index.rst
  doc/reference/zeekscript/autogenerated-metric-index.rst
  doc/reference/zeekscript/metrics.rst
Due: none

Add delay for redis server in Redis btests
  testing/btest/scripts/base/frameworks/storage/redis-async-reading-pcap.zeek
  testing/btest/scripts/base/frameworks/storage/redis-async.zeek
  testing/btest/scripts/base/frameworks/storage/redis-auth.zeek
  testing/btest/scripts/base/frameworks/storage/redis-cluster.zeek
  testing/btest/scripts/base/frameworks/storage/redis-disconnect.zeek
  testing/btest/scripts/base/frameworks/storage/redis-erase.zeek
  testing/btest/scripts/base/frameworks/storage/redis-expiration.zeek
  testing/btest/scripts/base/frameworks/storage/redis-forced-sync.zeek
  testing/btest/scripts/base/frameworks/storage/redis-native-expiration.zeek
  testing/btest/scripts/base/frameworks/storage/redis-sync.zeek
Due: btest-command-commented

fixup! Add scapy-pcap skill under .agents/skills
  .agents/skills/scapy-pcap/SKILL.md
Due: none

Add scapy-pcap skill under .agents/skills
  .agents/skills/scapy-pcap/SKILL.md
  .agents/skills/scapy-pcap/assets/template-udp.pcap.py
  .agents/skills/scapy-pcap/assets/template.pcap.py
Due: none

fixup! Add scapy-pcap skill under .agents/skills
  .agents/skills/scapy-pcap/SKILL.md
  .agents/skills/scapy-pcap/assets/template-udp.pcap.py
  .agents/skills/scapy-pcap/assets/template.pcap.py
Due: none

CI: Force openssl path on macOS builds
  .circleci/builds.yml
  .github/workflows/check.yml
Due: none

Fix DNS parsing for unicast mDNS and LLMNR traffic
  src/analyzer/protocol/dns/DNS.cc
  testing/btest/scripts/base/protocols/dns/generate-unicast-mdns-llmnr.py
  testing/btest/scripts/base/protocols/dns/unicast-mdns-llmnr.zeek
Due: license, btest-command-commented

x509_from_der: Report an error on invalid input instead of crashing
  src/file_analysis/analyzer/x509/functions.bif
  testing/btest/bifs/x509_from_der.zeek
Due: btest-command-commented

x509_from_der: Report an error on invalid input instead of crashing
  src/file_analysis/analyzer/x509/functions.bif
  testing/btest/Baseline/bifs.x509_from_der/out
  testing/btest/bifs/x509_from_der.zeek
Due: btest-command-commented

Fix formatting of 'done' variable check
  testing/btest/bifs/x509_from_der.zeek
Due: btest-command-commented

CMake: stop compiling unused HighwayHash nanobenchmark
  src/CMakeLists.txt
Due: none

Add missing direct includes
  src/DNS_Mapping.cc
  src/session/Session.cc
  src/util-types.h
  src/util.h
Due: license

Raw reader: reject empty InputRaw::record_separator instead of hanging
  src/input/readers/raw/Raw.cc
  testing/btest/Baseline/scripts.base.frameworks.input.raw.empty-record-separator/zeek..stderr
  testing/btest/scripts/base/frameworks/input/raw/empty-record-separator.zeek
Due: license, btest-command-commented

Add removed method/field to NEWS as breaking changes
  NEWS
Due: none

Remove broker_backend field from script_id type
  scripts/base/init-bare.zeek
  src/zeek.bif
  testing/btest/Baseline/bifs.global_ids-modules/out
Due: btest-command-commented

Remove references to broker store attributes from docs
  doc/reference/zeekscript/attributes.rst
Due: none

Regenerate docs again
  doc/reference/zeekscript/attributes.rst
  doc/reference/zeekscript/autogenerated-file-analyzer-index.rst
  doc/reference/zeekscript/autogenerated-protocol-analyzer-index.rst
  doc/scripts/base/bif/event.bif.zeek.rst
  doc/scripts/base/init-bare.zeek.rst
Due: none

Remove broker::Manager::AdvanceTime()
  src/Timer.cc
  src/broker/Manager.cc
  src/broker/Manager.h
Due: license

Add initial NEWS entries for 8.0.11 [skip ci]
  NEWS
Due: none

Fix TableVal::RemoveFrom() when removing a set from itself
  src/Val.cc
  testing/btest/Baseline/language.set-remove-from-self/out
  testing/btest/language/set-remove-from-self.zeek
Due: license, btest-command-commented

Add scapy-pcap skill under .agents/skills
  .agents/skills/scapy-pcap/SKILL.md
  .agents/skills/scapy-pcap/assets/template-tcp.pcap.py
  .agents/skills/scapy-pcap/assets/template-udp.pcap.py
Due: none

btest/Traces: Make svcb-port-malformed.pcap.py reproducible
  testing/btest/Traces/dns/svcb-port-malformed.pcap
  testing/btest/Traces/dns/svcb-port-malformed.pcap.py
Due: btest-command-commented

btest/Traces: Make icmp6-mld-query.pcap.py reproducible
  testing/btest/Traces/icmp/icmp6-mld-query.pcap
  testing/btest/Traces/icmp/icmp6-mld-query.pcap.py
Due: btest-command-commented

btest/Traces: Make ftp-many-port-expected.pcap.py reproducible
  testing/btest/Traces/ftp/ftp-many-port-expected.pcap.py
Due: btest-command-commented

btest/Traces: Make nvt-line-limit-crlf-heap-buffer-overflow.pcap.py reproducible
  testing/btest/Traces/contentline/nvt-line-limit-crlf-heap-buffer-overflow.pcap.gz
  testing/btest/Traces/contentline/nvt-line-limit-crlf-heap-buffer-overflow.pcap.py
Due: btest-command-commented

btest/Traces: Make rlogin-long-client-user-no-nul.pcapng.py reproducible
  testing/btest/Traces/contentline/rlogin-long-client-user-no-nul.pcapng.gz
  testing/btest/Traces/contentline/rlogin-long-client-user-no-nul.pcapng.py
Due: btest-command-commented
