Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*'

af_packet: Improve the README.
  src/iosource/af_packet/README
  src/iosource/af_packet/scripts/init.zeek
Due: none

af_packet: Cleanup checksum offloading support.
  src/iosource/af_packet/README
  src/iosource/af_packet/scripts/init.zeek
  src/iosource/af_packet/src/AF_Packet.cc
  src/iosource/af_packet/src/af_packet.bif
Due: license

af_packet: Make block_size and block_timeout configurable
  src/iosource/af_packet/README
  src/iosource/af_packet/scripts/init.zeek
  src/iosource/af_packet/src/AF_Packet.cc
  src/iosource/af_packet/src/RX_Ring.cc
  src/iosource/af_packet/src/RX_Ring.h
  src/iosource/af_packet/src/af_packet.bif
Due: license

Remove configure --with-gen-zam argument and the CMake summaries
  CMakeLists.txt
  configure
Due: none

af_packet: Note that Zeek ships with a built-in version.
  src/iosource/af_packet/README
Due: none

af_packet: AF_Packet: Fix wrong vlan when PCP or DEI bits are set in tp_vlan_tci
  src/iosource/af_packet/src/AF_Packet.cc
Due: license

af_packet: Use override for overriding parent methods
  src/iosource/af_packet/src/AF_Packet.h
Due: license

af_packet: AF_Packet: Check interface for upness
  src/iosource/af_packet/src/AF_Packet.cc
  src/iosource/af_packet/src/AF_Packet.h
Due: license

af_packet: Use cstdint instead of stdint.h
  src/iosource/af_packet/src/RX_Ring.h
Due: license

af_packet: Support checksum offloading (requires Zeek 5.1).
  src/iosource/af_packet/scripts/init.zeek
  src/iosource/af_packet/src/AF_Packet.cc
  src/iosource/af_packet/src/AF_Packet.h
  src/iosource/af_packet/src/af_packet.bif
Due: license

af_packet: Add guarded zeek/zeek-version.h include.
  src/iosource/af_packet/src/AF_Packet.cc
Due: license

af_packet: AF_Packet: Use negative socket_fd for error indication
  src/iosource/af_packet/src/AF_Packet.cc
Due: license

af_packet: Define TP_STATUS_CSUM_VALID when not defined
  src/iosource/af_packet/src/AF_Packet.cc
Due: license

af_packet: Ensure all of the member fields get initialized
  src/iosource/af_packet/src/AF_Packet.h
Due: license

af_packet: Remove compile_options() again
  src/iosource/af_packet/CMakeLists.txt
Due: none

cluster/serializer/broker: Do not send empty metadata vectors around
  src/cluster/serializer/broker/Serializer.cc
  testing/btest/Baseline/cluster.websocket.metadata/..client-metadata-from-client..stderr
  testing/btest/Baseline/cluster.websocket.metadata/..client-metadata-from-client.out
  testing/btest/Baseline/cluster.websocket.metadata/..client-metadata..stderr
  testing/btest/Baseline/cluster.websocket.metadata/..client-metadata.out
  testing/btest/Baseline/cluster.websocket.metadata/..client-no-metadata..stderr
  testing/btest/Baseline/cluster.websocket.metadata/..client-no-metadata.out
  testing/btest/Baseline/cluster.websocket.metadata/..manager-metadata-from-client..stderr
  testing/btest/Baseline/cluster.websocket.metadata/..manager-metadata-from-client.out
  testing/btest/Baseline/cluster.websocket.metadata/..manager-metadata..stderr
  testing/btest/Baseline/cluster.websocket.metadata/..manager-metadata.out
  testing/btest/Baseline/cluster.websocket.metadata/..manager-no-metadata..stderr
  testing/btest/Baseline/cluster.websocket.metadata/..manager-no-metadata.out
  testing/btest/cluster/websocket/bad-event-args.zeek
  testing/btest/cluster/websocket/metadata.zeek
Due: license, btest-command-commented

cluster/Backend: Fallback to current network time when current event has not timestamp
  src/cluster/Backend.cc
  testing/btest/Baseline/cluster.websocket.metadata/..client-metadata.out
Due: license, btest-command-commented

testing: Make share/zeek/tests a relative symlink, prefix with DESTDIR
  testing/CMakeLists.txt
Due: none

Fix installation of symlink with `DESTDIR`
  testing/CMakeLists.txt
Due: none

README: Drop "Follow us on Twitter"
  README
  README.md
Due: none

README.md: Add Mastodon and Bluesky links
  README.md
Due: none

telemetry/Manager: Do not listen on all interfaces by default
  src/telemetry/Manager.cc
Due: license

NEWS: Prometheus HTTP server on 127.0.0.1 by default
  NEWS
Due: none

Use target-based approach for enabling sanitizers
  CMakeLists.txt
  src/CMakeLists.txt
  src/spicy/spicyz/CMakeLists.txt
Due: none

binpac: Replace delete_list macro uses
  tools/binpac/src/pac_analyzer.cc
  tools/binpac/src/pac_case.cc
  tools/binpac/src/pac_common.h
  tools/binpac/src/pac_context.cc
  tools/binpac/src/pac_decl.cc
  tools/binpac/src/pac_embedded.cc
  tools/binpac/src/pac_enum.cc
  tools/binpac/src/pac_expr.cc
  tools/binpac/src/pac_field.cc
  tools/binpac/src/pac_func.cc
  tools/binpac/src/pac_record.cc
  tools/binpac/src/pac_type.cc
  tools/binpac/src/pac_typedecl.cc
Due: license

binpac: Run clang-format on c++ code embedded in pac_parse.{ll,yy}
  tools/binpac/src/pac_parse.yy
  tools/binpac/src/pac_scan.ll
Due: none

bifcl: Run clang-format on c++ code embedded in builtin-func.{l,y}
  tools/bifcl/builtin-func.l
  tools/bifcl/builtin-func.y
Due: none

binpac: Remove foreach macro
  tools/binpac/src/pac_analyzer.cc
  tools/binpac/src/pac_case.cc
  tools/binpac/src/pac_common.h
  tools/binpac/src/pac_conn.cc
  tools/binpac/src/pac_context.cc
  tools/binpac/src/pac_decl.cc
  tools/binpac/src/pac_embedded.cc
  tools/binpac/src/pac_enum.cc
  tools/binpac/src/pac_expr.cc
  tools/binpac/src/pac_field.cc
  tools/binpac/src/pac_flow.cc
  tools/binpac/src/pac_func.cc
  tools/binpac/src/pac_let.cc
  tools/binpac/src/pac_param.cc
  tools/binpac/src/pac_paramtype.cc
  tools/binpac/src/pac_record.cc
  tools/binpac/src/pac_redef.cc
  tools/binpac/src/pac_type.cc
  tools/binpac/src/pac_typedecl.cc
Due: license

gen-zam: Move source files up a directory
  tools/gen-zam/CMakeLists.txt
  tools/gen-zam/Gen-ZAM.cc
  tools/gen-zam/Gen-ZAM.h
Due: license

bifcl: Fix clang-tidy warnings
  tools/bifcl/CMakeLists.txt
  tools/bifcl/bif_arg.cc
  tools/bifcl/builtin-func.l
  tools/bifcl/builtin-func.y
  tools/bifcl/include/bif_arg.h
Due: license

TEMPORARY: Disable most ci scripts to speed up testing
  .cirrus.yml
  ci/benchmark.sh
  ci/build.sh
  ci/container-images-addl-tags.sh
  ci/container-images-tag-and-push.sh
  ci/find-current-version.sh
  ci/pre-build.sh
  ci/public-ecr-cleanup.sh
  ci/spicy-install-analyzers.sh
  ci/test-fuzzers.sh
  ci/test.sh
  ci/upload-coverage.sh
Due: none

CI: Rework layout of when each task runs
  .cirrus.yml
Due: none

Minor fixes to a few NEWS entries.
  NEWS
Due: none

IPBasedAnalyzer: Ensure a connection's ConnVal is updated
  src/packet_analysis/protocol/ip/IPBasedAnalyzer.cc
  testing/btest/Baseline/core.conn-size-endpoint-update/out
  testing/btest/Traces/tcp/synack.pcap
  testing/btest/core/conn-size-endpoint-update.zeek
Due: license, btest-command-commented

fixup! IPBasedAnalyzer: Ensure a connection's ConnVal is updated
  testing/btest/Baseline/javascript.log-delay/.stdout
  testing/btest/Baseline/plugins.hooks/output
  testing/btest/Baseline/scripts.base.protocols.mount.basic/.stdout
  testing/btest/Baseline/scripts.base.protocols.nfs.basic/.stdout
  testing/btest/Baseline/scripts.base.protocols.postgresql.dump-events/output
  testing/btest/Baseline/scripts.policy.misc.dump-events/all-events.log
  testing/btest/Baseline/scripts.policy.misc.dump-events/really-all-events.log
  testing/btest/Baseline/scripts.policy.misc.dump-events/smtp-events.log
Due: btest-command-commented
