Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

license:
  name: Check for license headers
  entry: ./ci/license-header.py
  language: python

btest-command-commented:
  name: Check that all BTest command lines are commented out
  entry: ^\s*@TEST-
  language: pygrep

BTest to cover ZAM profiling BiFs
  testing/btest/Baseline/opt.ZAM-profiling/output
  testing/btest/opt/ZAM-profiling.zeek
Due: btest-command-commented

update BTests that are sensitive to new .bif files
  testing/btest/Baseline/coverage.bare-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.default-load-baseline/canonified_loaded_scripts.log
Due: btest-command-commented

ZAM function tracking
  src/script_opt/FuncInfo.cc
  testing/btest/Baseline/opt.ZAM-bif-tracking/output
  testing/btest/opt/ZAM-bif-tracking.zeek
Due: license, btest-command-commented

remove an assert() that is incorrect for lambda's with condition variables
  src/script_opt/ZAM/ZInstAux.cc
Due: license

updates ZAM internals to support real-time profiling
  src/script_opt/ZAM/ZBody.cc
  src/script_opt/ZAM/ZBody.h
  src/script_opt/ZAM/ZInst.h
Due: license

added ZAM profiling BiFs: ZAMProf::{measure_module,get_module_profile,meas_overhead}
  scripts/base/init-bare.zeek
  src/script_opt/ScriptOpt.cc
  src/script_opt/ScriptOpt.h
  src/script_opt/ZAM/CMakeLists.txt
  src/script_opt/ZAM/prof.bif
Due: license

BTest for new ZAM profiling BiFs
  testing/btest/Baseline/opt.ZAM-profiling/output
  testing/btest/opt/ZAM-profiling.zeek
Due: btest-command-commented

BTest baseline updates for tests that track distinct BiF source files
  testing/btest/Baseline/coverage.bare-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.default-load-baseline/canonified_loaded_scripts.log
Due: btest-command-commented

update ZAM's BiF-tracking
  src/script_opt/FuncInfo.cc
  testing/btest/Baseline/opt.ZAM-bif-tracking/output
  testing/btest/opt/ZAM-bif-tracking.zeek
Due: license, btest-command-commented

sans-broker: Fuzzing and Claude guided early bails and some cleanup
  src/cluster/serializer/sans-broker/Serializer.cc
Due: license

remove printing of memory from ZAM profiling BTest, it's not reliable across OS's
  testing/btest/Baseline/opt.ZAM-profiling/output
  testing/btest/opt/ZAM-profiling.zeek
Due: btest-command-commented

sans-broker: Add thoughts around any deserializtion
  src/cluster/serializer/sans-broker/README
Due: none

Add header size limit for MIME entities
  scripts/base/init-bare.zeek
  src/analyzer/protocol/mime/MIME.cc
  src/analyzer/protocol/mime/MIME.h
  src/analyzer/protocol/mime/consts.bif
  testing/btest/Baseline/scripts.base.protocols.smtp.mime-header-size-limit/weird.log
  testing/btest/Traces/smtp/mime-header-size-limit.pcap.gz
  testing/btest/Traces/smtp/mime-header-size-limit.pcap.py
  testing/btest/scripts/base/protocols/smtp/mime-header-size-limit.zeek
Due: license, btest-command-commented

updated baseline
  testing/btest/Baseline/plugins.hooks/output
Due: btest-command-commented

small control-flow clarification
  src/Val.cc
Due: license

renaming of functions for clarity
  src/Expr.cc
  src/Stmt.cc
  src/Val.cc
  src/Val.h
  src/script_opt/CPP/Exprs.cc
  src/script_opt/CPP/Stmts.cc
  src/script_opt/ZAM/OPs/stmts.op
  src/script_opt/ZAM/OPs/unary-exprs.op
  testing/btest/Baseline/language.type-cast-error-static/output
Due: license, btest-command-commented

support converting strings to interval/time via conversion to double
  src/Val.cc
  src/val-convert.cc
  src/val-convert.h
Due: license

"?as" operator
  src/Expr.cc
  src/Expr.h
  src/Val.cc
  src/Val.h
  src/parse.y
  src/scan.l
  src/script_opt/Expr.cc
Due: license

fix comment on existing BTest
  testing/btest/bifs/to_int.zeek
Due: btest-command-commented

BTests for "as" and "?as"
  testing/btest/Baseline/language.as_addr/error
  testing/btest/Baseline/language.as_addr/output
  testing/btest/Baseline/language.as_count/out
  testing/btest/Baseline/language.as_double/out
  testing/btest/Baseline/language.as_double_from_string/output
  testing/btest/Baseline/language.as_int/out
  testing/btest/Baseline/language.as_interval/out
  testing/btest/Baseline/language.as_port/out
  testing/btest/Baseline/language.as_subnet/output
  testing/btest/Baseline/language.as_time/out
  testing/btest/Baseline/language.count_as_addr/out
  testing/btest/Baseline/language.enum_as_int/out
  testing/btest/Baseline/language.subnet_as_addr/output
  testing/btest/language/as_addr.zeek
  testing/btest/language/as_count.zeek
  testing/btest/language/as_double.zeek
  testing/btest/language/as_double_from_string.zeek
  testing/btest/language/as_int.zeek
  testing/btest/language/as_interval.zeek
  testing/btest/language/as_port.zeek
  testing/btest/language/as_subnet.zeek
  testing/btest/language/as_time.zeek
  testing/btest/language/count_as_addr.zeek
  testing/btest/language/enum_as_int.zeek
  testing/btest/language/subnet_as_addr.zeek
Due: btest-command-commented

working other than constant propagation
  src/Expr.cc
  src/Expr.h
  src/Val.h
  src/script_opt/CPP/Exprs.cc
  src/script_opt/Expr.cc
  src/script_opt/Reduce.cc
  src/script_opt/ScriptOpt.cc
  src/script_opt/ZAM/Expr.cc
  src/script_opt/ZAM/OPs/non-uniform.op
  src/script_opt/ZAM/Stmt.cc
Due: license

added IsSafeSubstitution methods
  src/Expr.cc
  src/Expr.h
  src/script_opt/Expr.cc
Due: license

avoid constant propagation that might lead to compile-time messages
  src/script_opt/Expr.cc
  src/script_opt/Reduce.cc
  src/script_opt/Reduce.h
Due: license

update regression test for constant propagation during script optimization
  testing/btest/Baseline/opt.regress-constant-prop/output
  testing/btest/opt/regress-constant-prop.zeek
Due: btest-command-commented

no need for a separate ZAM type-cast-error BTest, just a baseline update
  testing/btest/Baseline.zam/language.type-cast-error-dynamic-ZAM/err
  testing/btest/Baseline.zam/language.type-cast-error-dynamic/err
  testing/btest/Baseline.zam/language.type-cast-error-dynamic/output
  testing/btest/language/type-cast-error-dynamic-ZAM.zeek
  testing/btest/language/type-cast-error-dynamic.zeek
Due: btest-command-commented

tidier "as" operand
  testing/btest/language/as_interval.zeek
Due: btest-command-commented

update to reflect altered AST
  testing/btest/Baseline.zam/opt.AST-side-effects/output
Due: btest-command-commented

Merge branch 'topic/christian/threading-val-move-ctor-fix'
  CHANGES
  VERSION
  src/threading/SerialTypes.cc
Due: license

Merge remote-tracking branch 'origin/topic/timw/fix-storage-framework-sqlite-squashing'
  CHANGES
  VERSION
  src/storage/backend/sqlite/SQLite.cc
  testing/btest/Baseline/scripts.base.frameworks.storage.sqlite-multi-backend/test1-testing.out
  testing/btest/Baseline/scripts.base.frameworks.storage.sqlite-multi-backend/test2-testing1.out
  testing/btest/Baseline/scripts.base.frameworks.storage.sqlite-multi-backend/test2-testing2.out
  testing/btest/scripts/base/frameworks/storage/compound-types.zeek
  testing/btest/scripts/base/frameworks/storage/sqlite-expiration-implicit.zeek
  testing/btest/scripts/base/frameworks/storage/sqlite-multi-backend.zeek
Due: license, btest-command-commented

Merge branch 'topic/bbannier/table-add-out-of-memory'
  CHANGES
  VERSION
  src/Dict.h
Due: license

Merge remote-tracking branch 'origin/topic/timw/fix-storage-framework-sqlite-squashing'
  CHANGES
  VERSION
  src/storage/backend/sqlite/SQLite.cc
  testing/btest/Baseline/scripts.base.frameworks.storage.sqlite.multi-backend/test1-testing.out
  testing/btest/Baseline/scripts.base.frameworks.storage.sqlite.multi-backend/test2-testing1.out
  testing/btest/Baseline/scripts.base.frameworks.storage.sqlite.multi-backend/test2-testing2.out
  testing/btest/scripts/base/frameworks/storage/sqlite/compound-types.zeek
  testing/btest/scripts/base/frameworks/storage/sqlite/expiration-implicit.zeek
  testing/btest/scripts/base/frameworks/storage/sqlite/multi-backend.zeek
Due: license, btest-command-commented

Merge branch 'topic/awelzel/spicy-file-stack-wrangling'
  src/spicy/cookie.h
  src/spicy/file-analyzer.cc
  src/spicy/runtime-support.cc
  testing/btest/Baseline/spicy.file-analyzer-nested/output
  testing/btest/Baseline/spicy.file-analyzer-nested/output-max
  testing/btest/spicy/file-analysis-file-begin.zeek
Due: license, btest-command-commented

Updating CHANGES and VERSION.
  CHANGES
  VERSION
Due: none

Add `x` for exceeded mime header length in history
  src/analyzer/protocol/mime/MIME.cc
  testing/btest/Baseline/scripts.base.protocols.smtp.mime-header-size-limit/conn.log
  testing/btest/scripts/base/protocols/smtp/mime-header-size-limit.zeek
Due: license, btest-command-commented

optimization incorporating safe substitutions and still trimming CSE temporaries
  src/script_opt/Expr.h
  src/script_opt/Reduce.cc
  src/script_opt/Reduce.h
  src/script_opt/Stmt.cc
  testing/btest/Baseline.zam/opt.AST-side-effects/output
  testing/btest/Baseline.zam/spicy.analyzer-tag/output
Due: license, btest-command-commented

Path conditions:
  license: any of: \.(h|c|cpp|cc|spicy|evt)$, but not: ^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$
  btest-command-commented: any of: ^testing/btest/.*$
