Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*|doc/devel/spicy/autogen/.*.spicy'

Windows compatibility fixes for path handling, bash lookup, and scripts
  scripts/base/utils/active-http.zeek
  scripts/policy/frameworks/management/agent/boot.zeek
  scripts/policy/frameworks/management/controller/boot.zeek
  src/input/readers/raw/Raw.cc
  src/util.cc
Due: license

Supervisor: improve Windows process management and signal handling
  src/Flare.cc
  src/Pipe.cc
  src/RunState.cc
  src/main.cc
  src/supervisor/Supervisor.cc
  src/zeek-setup.cc
Due: license

minor adjustments
  src/broker/Manager.cc
  src/broker/Manager.h
  testing/btest/plugins/iosource-plugin-windows.zeek
  testing/btest/scripts/policy/frameworks/telemetry/log-windows.zeek
  testing/scripts/diff-remove-abspath
  testing/scripts/hexdump
  testing/scripts/make
  testing/scripts/nm
Due: license, btest-command-commented

Import IGMP analyzer from zeek-plugins/igmp
  scripts/base/packet-protocols/__load__.zeek
  scripts/base/packet-protocols/igmp/__load__.zeek
  scripts/base/packet-protocols/igmp/main.zeek
  scripts/base/packet-protocols/igmp/types.zeek
  src/packet_analysis/protocol/CMakeLists.txt
  src/packet_analysis/protocol/igmp/CMakeLists.txt
  src/packet_analysis/protocol/igmp/igmp.evt
  src/packet_analysis/protocol/igmp/igmp.spicy
  testing/btest/Baseline/coverage.bare-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.default-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.find-bro-logs/out
  testing/btest/Baseline/plugins.hooks/output
  testing/btest/Baseline/scripts.base.protocols.igmp.bad-checksum/igmp.log
  testing/btest/Baseline/scripts.base.protocols.igmp.basic/igmp.log
  testing/btest/Traces/igmp/igmp-bad-checksum.pcap
  testing/btest/Traces/igmp/igmp.pcap
  testing/btest/scripts/base/protocols/igmp/bad-checksum.zeek
  testing/btest/scripts/base/protocols/igmp/basic.zeek
  testing/external/commit-hash.zeek-testing
Due: license, btest-command-commented

Adding missing documentation tags to existing Spicy analyzers.
  src/analyzer/protocol/postgresql/postgresql.evt
  src/analyzer/protocol/redis/resp.evt
  src/analyzer/protocol/ssl/spicy/SSL.evt
Due: license

Rework IGMP analyzer for inclusion in main Zeek tree
  NEWS
  doc/reference/zeekscript/autogenerated-package-index.rst
  doc/reference/zeekscript/autogenerated-packet-analyzer-index.rst
  doc/reference/zeekscript/autogenerated-protocol-analyzer-index.rst
  doc/reference/zeekscript/autogenerated-script-index.rst
  doc/scripts/base/packet-protocols/__load__.zeek.rst
  doc/scripts/base/packet-protocols/igmp/__load__.zeek.rst
  doc/scripts/base/packet-protocols/igmp/index.rst
  doc/scripts/base/packet-protocols/igmp/main.zeek.rst
  doc/scripts/base/packet-protocols/igmp/spicy-events.zeek.rst
  doc/scripts/base/packet-protocols/igmp/types.zeek.rst
  doc/scripts/base/packet-protocols/index.rst
  doc/scripts/base/protocols/conn/inactivity.zeek.rst
  scripts/base/packet-protocols/igmp/__load__.zeek
  scripts/base/packet-protocols/igmp/main.zeek
  scripts/base/packet-protocols/igmp/spicy-events.zeek
  scripts/base/packet-protocols/igmp/types.zeek
  scripts/spicy/zeek.spicy
  src/packet_analysis/protocol/igmp/igmp.evt
  src/packet_analysis/protocol/igmp/igmp.spicy
  testing/btest/Baseline/coverage.bare-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.default-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.find-bro-logs/out
  testing/btest/Baseline/plugins.hooks/output
  testing/btest/Baseline/scripts.base.protocols.igmp.bad-checksum/igmp.log
  testing/btest/Baseline/scripts.base.protocols.igmp.bad-checksum/weird.log
  testing/btest/Baseline/scripts.base.protocols.igmp.basic/igmp.log
  testing/btest/Baseline/scripts.base.protocols.igmp.basic/out
  testing/btest/Traces/README
  testing/btest/Traces/igmp/multicast-igmp-version-membership-query-and-report.pcap
  testing/btest/scripts/base/protocols/igmp/bad-checksum.zeek
  testing/btest/scripts/base/protocols/igmp/basic.zeek
  testing/external/commit-hash.zeek-testing
Due: license, btest-command-commented

Fix state comparison in SMTP_Analyzer::Undelivered
  src/analyzer/protocol/smtp/SMTP.cc
Due: license

code review changes
  CMakeLists.txt
  src/CMakeLists.txt
Due: none

Update btest for added SMTP port
  testing/btest/Baseline/core.print-bpf-filters/output2
Due: btest-command-commented

xdp-shunt: Use `data_end` still if possible
  src/xdp_shunt/bpf/filter.c
Due: license

xdp-shunt: Use conn_id rather than canonical IDs
  scripts/base/frameworks/xdp-shunt/xdp/shunt/conn_id/log.zeek
  scripts/base/frameworks/xdp-shunt/xdp/shunt/conn_id/main.zeek
  scripts/base/frameworks/xdp-shunt/xdp/shunt/policy/bulk.zeek
  scripts/base/frameworks/xdp-shunt/xdp/shunt/policy/ssl.zeek
  src/xdp_shunt/ShuntUtil.cc
  src/xdp_shunt/ShuntUtil.h
  src/xdp_shunt/conn_id_shunter.bif
Due: license

xdp-shunt: Move logging and unshunting to a removal hook
  scripts/base/frameworks/xdp-shunt/xdp/bulk/main.zeek
Due: none

xdp-shunt: Split IP pair/conn ID BIFs
  src/xdp_shunt/conn_id_shunter.bif
  src/xdp_shunt/ip_pair_shunter.bif
  src/xdp_shunt/shunt-util.cc
  src/xdp_shunt/shunt-util.h
  src/xdp_shunt/shunter.bif
Due: license

xdp-shunt: Simplify bulk shunting
  scripts/base/frameworks/xdp-shunt/xdp/shunt/policy/bulk.zeek
Due: none

xdp-shunt: Cleanup user XDP code
  src/xdp_shunt/XDPProgram.h
  src/xdp_shunt/bpf/UserXDP.cc
  src/xdp_shunt/bpf/UserXDP.h
  src/xdp_shunt/bpf/common_defines.h
  src/xdp_shunt/bpf/common_user_bpf_xdp.cc
  src/xdp_shunt/bpf/common_user_bpf_xdp.h
  src/xdp_shunt/bpf/filter.c
  src/xdp_shunt/bpf/filter_common.h
  src/xdp_shunt/shunter.bif
Due: license

xdp-shunt: Drop from both directions for now
  src/xdp_shunt/bpf/filter.c
  src/xdp_shunt/shunter.bif
Due: license

xdp-shunt: Fix error stuff
  src/xdp_shunt/bpf/UserXDP.cc
  src/xdp_shunt/bpf/UserXDP.h
  src/xdp_shunt/shunter.bif
Due: license

xdp-shunt: Start moving to IPV6
  src/xdp_shunt/bpf/filter.c
  src/xdp_shunt/bpf/filter_common.h
  src/xdp_shunt/shunter.bif
Due: license

xdp-shunt: Fix issue with `disconnect`
  scripts/base/frameworks/xdp-shunt/xdp/main.zeek
Due: none

xdp-shunt: Make `unshunt` return the stats
  src/xdp_shunt/shunter.bif
Due: none

xdp-shunt: Move user-facing functions to scripts
  scripts/base/frameworks/xdp-shunt/xdp/__load__.zeek
  scripts/base/frameworks/xdp-shunt/xdp/bulk/main.zeek
  scripts/base/frameworks/xdp-shunt/xdp/conn_id/__load__.zeek
  scripts/base/frameworks/xdp-shunt/xdp/conn_id/main.zeek
  scripts/base/frameworks/xdp-shunt/xdp/ip_pair/__load__.zeek
  scripts/base/frameworks/xdp-shunt/xdp/ip_pair/main.zeek
  scripts/base/frameworks/xdp-shunt/xdp/main.zeek
  src/xdp_shunt/conn_id_shunter.bif
  src/xdp_shunt/ip_pair_shunter.bif
  src/xdp_shunt/shunter.bif
Due: none

xdp-shunt: Do not load the XDP program if reconnecting
  src/xdp_shunt/bpf/UserXDP.cc
Due: license

xdp-shunt: Remove old unused file
  src/xdp_shunt/bpf/xdp_pass.c
Due: license

xdp-shunt: Log by default in connection shunting, touchups
  scripts/base/frameworks/xdp-shunt/xdp/connect.zeek
  scripts/base/frameworks/xdp-shunt/xdp/shunt/conn_id/__load__.zeek
  scripts/base/frameworks/xdp-shunt/xdp/shunt/conn_id/log.zeek
Due: none

xdp-shunt: Allow shunting an already shunted connection
  src/xdp_shunt/bpf/UserXDP.cc
Due: license

xdp-shunt: Move back away from garbage collector
  scripts/base/frameworks/xdp-shunt/xdp/shunt/conn_id/__load__.zeek
  scripts/base/frameworks/xdp-shunt/xdp/shunt/conn_id/garbage.zeek
  scripts/base/frameworks/xdp-shunt/xdp/shunt/conn_id/main.zeek
  src/xdp_shunt/bpf/filter.c
Due: license

xdp-shunt: Avoid `-Wcompare-distinct-pointer-types` in XDP
  src/xdp_shunt/bpf/filter.c
Due: license

xdp-shunt: Attach to pinned program if possible
  src/xdp_shunt/bpf/UserXDP.cc
  src/xdp_shunt/bpf/UserXDP.h
  src/xdp_shunt/bpf/filter.c
Due: license

xdp-shunt: Add "policy" scripts
  scripts/base/frameworks/xdp-shunt/xdp/shunt/bulk/__load__.zeek
  scripts/base/frameworks/xdp-shunt/xdp/shunt/bulk/main.zeek
  scripts/base/frameworks/xdp-shunt/xdp/shunt/policy/__load__.zeek
  scripts/base/frameworks/xdp-shunt/xdp/shunt/policy/bulk.zeek
  scripts/base/frameworks/xdp-shunt/xdp/shunt/policy/ssl.zeek
Due: none

xdp-shunt: Clean up some TODOs
  src/xdp_shunt/Plugin.cc
  src/xdp_shunt/XDPProgram.h
  src/xdp_shunt/bpf/UserXDP.h
  src/xdp_shunt/shunter.bif
Due: license

xdp-shunt: Add vlan to canonical ID and fix bulk IDs
  scripts/base/frameworks/xdp-shunt/types.zeek
  scripts/base/frameworks/xdp-shunt/xdp/main.zeek
  scripts/base/frameworks/xdp-shunt/xdp/shunt/bulk/main.zeek
  src/xdp_shunt/ShuntUtil.cc
  src/xdp_shunt/bpf/filter.c
  src/xdp_shunt/bpf/filter_common.h
Due: license

xdp-shunt: Support ICMP
  src/xdp_shunt/bpf/filter.c
Due: license

xdp-shunt: Initial commit
  scripts/base/frameworks/xdp-shunt/XDP/Shunter/__load__.zeek
  scripts/base/frameworks/xdp-shunt/__load__.zeek
  scripts/base/frameworks/xdp-shunt/__preload__.zeek
  scripts/base/frameworks/xdp-shunt/types.zeek
  src/xdp_shunt/Plugin.cc
  src/xdp_shunt/Plugin.h
  src/xdp_shunt/common_defines.h
  src/xdp_shunt/common_user_bpf_xdp.c
  src/xdp_shunt/common_user_bpf_xdp.h
  src/xdp_shunt/shunter.bif
Due: license

xdp-shunt: Allow setting BPF map max entries and cleanup
  scripts/base/frameworks/xdp-shunt/types.zeek
  src/xdp_shunt/bpf/UserXDP.cc
  src/xdp_shunt/bpf/UserXDP.h
  src/xdp_shunt/bpf/filter.c
  src/xdp_shunt/shunter.bif
Due: license

xdp-shunt: Add events for shunting/unshunting
  scripts/base/frameworks/xdp-shunt/xdp/conn_id/main.zeek
  scripts/base/frameworks/xdp-shunt/xdp/ip_pair/main.zeek
Due: none

xdp-shunt: Add `xdp_bulk.log`
  scripts/base/frameworks/xdp-shunt/xdp/bulk/main.zeek
Due: none
