Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

license:
  name: Check for license headers
  entry: ./ci/license-header.py
  language: python

btest-command-commented:
  name: Check that all BTest command lines are commented out
  entry: ^\s*@TEST-
  language: pygrep

packet_analysis/Manager: Rename GetUnprocessedCount() to PacketsUnprocessed()
  src/RunState.cc
  src/packet_analysis/Manager.h
Due: license

ConnStats: Expose num_packets_unprocessed
  scripts/base/init-bare.zeek
  src/session/Manager.cc
  src/session/Manager.h
  src/stats.bif
  testing/btest/Baseline/core.conn-stats/.stdout
  testing/btest/core/conn-stats.zeek
Due: license, btest-command-commented

Deprecate `record_type_to_vector`
  src/zeek.bif
Due: none

working for folding & for loops - not enough win though
  src/Expr.h
  src/script_opt/Expr.cc
  src/script_opt/Reduce.cc
  src/script_opt/Reduce.h
  src/script_opt/Stmt.cc
Due: license

Reduce the size of Func::Body quite a bit with some extra packing
  src/Func.cc
  src/Func.h
Due: license

Switch to using c++20 constraints instead of std::enable_if
  .clang-tidy
  src/Event.h
  src/Func.h
  src/IntrusivePtr.h
  src/Span.h
  src/Val.h
  src/analyzer/Analyzer.h
  src/broker/Data.h
  src/session/Session.h
Due: license

Enable modernize-std-numbers clang-tidy checker, fix findings
  .clang-tidy
  src/probabilistic/BloomFilter.cc
  src/probabilistic/CardinalityCounter.cc
Due: license

Remove intermediate cipher vectors in ssl-analyzer.pac
  src/analyzer/protocol/ssl/ssl-analyzer.pac
Due: none

Use sorted forward_list instead of multimap for ID option change handlers
  src/ID.cc
  src/ID.h
Due: license

Move ID::type in structure to fill memory padding
  src/ID.h
Due: license

Add support for ircv3 tags
  src/analyzer/protocol/irc/IRC.cc
  testing/btest/Baseline/core.conn-size-threshold/.stdout
  testing/btest/Baseline/scripts.base.frameworks.file-analysis.irc/out
  testing/btest/Baseline/scripts.base.frameworks.file-analysis.irc/thefile
  testing/btest/Baseline/scripts.base.protocols.conn.new_connection_contents/.stdout
  testing/btest/Baseline/scripts.base.protocols.conn.threshold/.stdout
  testing/btest/Baseline/scripts.base.protocols.irc.basic/conn.log
  testing/btest/Baseline/scripts.base.protocols.irc.basic/irc.log
  testing/btest/Baseline/scripts.base.protocols.irc.basic/out
  testing/btest/Baseline/scripts.base.protocols.irc.events/.stdout
  testing/btest/Traces/irc-dcc-send.trace
Due: license, btest-command-commented

Expand coverage of IRC analyzer with more commands
  testing/btest/Baseline/scripts.base.protocols.irc.events/.stdout
  testing/btest/Baseline/scripts.base.protocols.irc.events/output
  testing/btest/Traces/irc-more-commands.trace
  testing/btest/scripts/base/protocols/irc/events.test
Due: btest-command-commented

Fix build failure with std::ranges on Debian 11
  src/util.cc
Due: license

Fix ConnKey deprecation warnings from generic fuzzer
  src/fuzzers/generic-analyzer-fuzzer.cc
Due: license

Fix types passed to some of the IRC analyzer events
  src/analyzer/protocol/irc/IRC.cc
Due: license

Remove zeek::Span and use std::span instead
  src/Span.h
  src/broker/Manager.h
  src/broker/messaging.bif
  src/cluster/Backend.cc
  src/cluster/Backend.h
  src/cluster/BifSupport.cc
  src/cluster/BifSupport.h
  src/cluster/Serializer.h
  src/cluster/Telemetry.cc
  src/cluster/Telemetry.h
  src/cluster/serializer/binary-serialization-format/Serializer.cc
  src/cluster/serializer/binary-serialization-format/Serializer.h
  src/logging/WriterBackend.cc
  src/logging/WriterBackend.h
  src/logging/WriterFrontend.cc
  src/packet_analysis/Manager.cc
  src/packet_analysis/Manager.h
  src/packet_analysis/protocol/geneve/Geneve.cc
  src/packet_analysis/protocol/geneve/Geneve.h
  src/packet_analysis/protocol/geneve/functions.bif
  src/telemetry/Counter.cc
  src/telemetry/Counter.h
  src/telemetry/Gauge.cc
  src/telemetry/Gauge.h
  src/telemetry/Histogram.cc
  src/telemetry/Histogram.h
  src/telemetry/Manager.cc
  src/telemetry/Manager.h
  src/telemetry/MetricFamily.h
  src/telemetry/Utils.cc
  src/telemetry/Utils.h
  src/telemetry/telemetry_functions.bif
  src/util-types.h
Due: license

pre-commit-config: Bump spicy-format to 0.26.0
  .pre-commit-config.yaml
Due: none

analyzer/protocol: Reformat with spicy-format
  .pre-commit-config.yaml
  src/analyzer/protocol/ldap/asn1.spicy
  src/analyzer/protocol/ldap/ldap.spicy
  src/analyzer/protocol/ldap/ldap_zeek.spicy
  src/analyzer/protocol/quic/QUIC.spicy
  src/analyzer/protocol/websocket/websocket.spicy
Due: license

Update .git-blame-ignore-revs
  .git-blame-ignore-revs
Due: none

Move Conn::set_conn() from connection_state_remove to new_connection
  scripts/base/protocols/conn/main.zeek
  scripts/policy/protocols/conn/community-id-logging.zeek
  scripts/policy/protocols/conn/failed-service-logging.zeek
  scripts/policy/protocols/conn/ip-proto-name-logging.zeek
  scripts/policy/protocols/conn/pppoe-session-id-logging.zeek
  testing/btest/Baseline.zam/scripts.policy.misc.dump-events/all-events-no-args.log
  testing/btest/Baseline.zam/scripts.policy.misc.dump-events/all-events.log
  testing/btest/Baseline.zam/scripts.policy.misc.dump-events/really-all-events.log
  testing/btest/Baseline.zam/scripts.policy.misc.dump-events/smtp-events.log
  testing/btest/Baseline/core.pbb/conn.log
  testing/btest/Baseline/plugins.hooks/output
  testing/btest/Baseline/scripts.base.frameworks.logging.field-extension-complex/conn.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-extension-include-exclude/conn-exc.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-extension-include-exclude/conn-inc.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-extension-optional/conn.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-extension/conn.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-name-map/conn.log
  testing/btest/Baseline/scripts.base.frameworks.logging.scope_sep/conn.log
  testing/btest/Baseline/scripts.base.frameworks.logging.scope_sep_and_field_name_map/conn.log
  testing/btest/Baseline/scripts.base.frameworks.netcontrol.packetfilter/conn.log
  testing/btest/Baseline/scripts.base.protocols.pop3.basic/conn.log
  testing/btest/Baseline/scripts.policy.misc.dump-events/all-events-no-args.log
  testing/btest/Baseline/scripts.policy.misc.dump-events/all-events.log
  testing/btest/Baseline/scripts.policy.misc.dump-events/really-all-events.log
  testing/btest/Baseline/scripts.policy.misc.dump-events/smtp-events.log
  testing/btest/Baseline/scripts.policy.protocols.conn.mac-logging/conn1.log
Due: btest-command-commented

Optimize Conn::set_conn to minimize operations
  scripts/base/protocols/conn/main.zeek
  testing/btest/Baseline/core.local-flip/conn.log
  testing/btest/Baseline/plugins.hooks/output
  testing/btest/Baseline/scripts.base.protocols.http.flip-content-line-orig/conn.log.cut
  testing/btest/Baseline/scripts.base.protocols.http.flip-content-line-orig/files.log.cut
  testing/btest/Baseline/scripts.base.protocols.http.flip-content-line-orig/http.log.cut
  testing/btest/Traces/http/zeek-image-post-1080-8000-x.pcap
  testing/btest/core/history-flip.zeek
  testing/btest/core/local-flip.zeek
Due: btest-command-commented

cluster/zeromq: Drop events when overloaded
  scripts/policy/frameworks/cluster/backend/zeromq/main.zeek
  src/cluster/backend/zeromq/ZeroMQ.cc
  src/cluster/backend/zeromq/ZeroMQ.h
Due: license

cluster.bif: Improve Cluster::publish() docstring
  src/cluster/cluster.bif
Due: none

cluster/zeromq: Support local XPUB/XSUB hwm and buf configurability
  scripts/policy/frameworks/cluster/backend/zeromq/main.zeek
  src/cluster/backend/zeromq/ZeroMQ.cc
  src/cluster/backend/zeromq/ZeroMQ.h
Due: license

cluster/zeromq: Comments and move lookups to InitPostScript()
  src/cluster/backend/zeromq/ZeroMQ.cc
  src/cluster/backend/zeromq/ZeroMQ.h
Due: license

cluster/zeromq: Rework lambdas to member functions
  src/cluster/backend/zeromq/ZeroMQ.cc
  src/cluster/backend/zeromq/ZeroMQ.h
Due: license

btest/cluster/zeromq: Add tests for overload behavior
  testing/btest/Baseline/cluster.zeromq.overload-drop/manager.out
  testing/btest/Baseline/cluster.zeromq.overload-drop/proxy.out
  testing/btest/Baseline/cluster.zeromq.overload-drop/worker-1.out
  testing/btest/Baseline/cluster.zeromq.overload-drop/worker-2.out
  testing/btest/Baseline/cluster.zeromq.overload-no-drop/manager.out
  testing/btest/Baseline/cluster.zeromq.overload-no-drop/proxy.out
  testing/btest/Baseline/cluster.zeromq.overload-no-drop/worker-1.out
  testing/btest/Baseline/cluster.zeromq.overload-no-drop/worker-2.out
  testing/btest/Baseline/cluster.zeromq.overload-worker-proxy-topic-drop/manager.out
  testing/btest/Baseline/cluster.zeromq.overload-worker-proxy-topic-drop/proxy.out
  testing/btest/Baseline/cluster.zeromq.overload-worker-proxy-topic-drop/worker-1.out
  testing/btest/Baseline/cluster.zeromq.overload-worker-proxy-topic-drop/worker-2.out
  testing/btest/Baseline/cluster.zeromq.overload-worker-proxy-topic-no-drop/manager.out
  testing/btest/Baseline/cluster.zeromq.overload-worker-proxy-topic-no-drop/proxy.out
  testing/btest/Baseline/cluster.zeromq.overload-worker-proxy-topic-no-drop/worker-1.out
  testing/btest/Baseline/cluster.zeromq.overload-worker-proxy-topic-no-drop/worker-2.out
  testing/btest/Files/zeromq/metrics.zeek
  testing/btest/cluster/zeromq/overload-drop.zeek
  testing/btest/cluster/zeromq/overload-no-drop.zeek
  testing/btest/cluster/zeromq/overload-worker-proxy-topic-drop.zeek
  testing/btest/cluster/zeromq/overload-worker-proxy-topic-no-drop.zeek
Due: btest-command-commented

cluster/zeromq: Metric for msg errors
  src/cluster/backend/zeromq/ZeroMQ.cc
  src/cluster/backend/zeromq/ZeroMQ.h
Due: license

cluster/OnLoop: Support DontBlock and Force flags for queueing
  src/cluster/OnLoop.h
Due: license

cluster::Event: Move implementation into cluster/Event.{h,cc}
  src/cluster/Backend.cc
  src/cluster/Backend.h
  src/cluster/CMakeLists.txt
  src/cluster/Event.cc
  src/cluster/Event.h
  src/cluster/serializer/broker/Serializer.cc
Due: license

cluster: Move cluster::detail::Event to cluster::Event
  src/broker/Manager.cc
  src/broker/Manager.h
  src/broker/WebSocketShim.cc
  src/broker/WebSocketShim.h
  src/cluster/Backend.cc
  src/cluster/Backend.h
  src/cluster/BifSupport.cc
  src/cluster/Serializer.h
  src/cluster/serializer/broker/Serializer.cc
  src/cluster/serializer/broker/Serializer.h
  src/cluster/websocket/WebSocket.cc
  src/plugin/Manager.cc
  src/plugin/Manager.h
  src/plugin/Plugin.cc
  src/plugin/Plugin.h
  testing/btest/plugins/publish-event-hook-plugin/src/Plugin.cc
  testing/btest/plugins/publish-event-hook-plugin/src/Plugin.h
  testing/btest/plugins/publish-event-metadata-plugin/src/Plugin.cc
  testing/btest/plugins/publish-event-metadata-plugin/src/Plugin.h
Due: license, btest-command-commented

DNS-fuzzer: raise new_connection event
  src/fuzzers/dns-fuzzer.cc
Due: license

Update NEWS for Conn::set_conn changes
  NEWS
Due: none

fixes for specialized ZAM operations needing to check whether record fields exist
  src/Val.h
  src/script_opt/ZAM/OPs/constructors.op
  src/script_opt/ZAM/OPs/macros.op
  src/script_opt/ZAM/OPs/script-idioms.op
  src/script_opt/ZAM/ZBody.h
  testing/btest/Baseline/opt.regress-missing-fields/error-messages
  testing/btest/opt/regress-missing-fields.zeek
Due: license, btest-command-commented

Move c$service_violation to deprecated-dpd-log.zeek
  NEWS
  scripts/base/frameworks/analyzer/dpd.zeek
  scripts/policy/frameworks/analyzer/deprecated-dpd-log.zeek
  testing/btest/Baseline.zam/scripts.policy.misc.dump-events/all-events.log
  testing/btest/Baseline.zam/scripts.policy.misc.dump-events/really-all-events.log
  testing/btest/Baseline.zam/scripts.policy.misc.dump-events/smtp-events.log
  testing/btest/Baseline/coverage.record-fields/out.bare
  testing/btest/Baseline/coverage.record-fields/out.default
  testing/btest/Baseline/plugins.hooks/output
  testing/btest/Baseline/scripts.base.protocols.mount.basic/.stdout
  testing/btest/Baseline/scripts.base.protocols.nfs.basic/.stdout
  testing/btest/Baseline/scripts.base.protocols.postgresql.dump-events/output
  testing/btest/Baseline/scripts.policy.misc.dump-events/all-events.log
  testing/btest/Baseline/scripts.policy.misc.dump-events/really-all-events.log
  testing/btest/Baseline/scripts.policy.misc.dump-events/smtp-events.log
Due: btest-command-commented

Add tests for the deprecated-dpd-log.zeek policy script
  testing/btest/Baseline/scripts.policy.frameworks.analyzer.deprecated-dpd-log/dpd-ftp-invalid-reply-code.log
  testing/btest/Baseline/scripts.policy.frameworks.analyzer.deprecated-dpd-log/dpd-ftp-missing-space-after-reply-code.log
  testing/btest/Baseline/scripts.policy.frameworks.analyzer.deprecated-dpd-log/dpd-gtp9_unknown_or_too_short_payload.log
  testing/btest/Baseline/scripts.policy.frameworks.analyzer.deprecated-dpd-log/dpd-http-11-request-then-cruft.log
  testing/btest/Baseline/scripts.policy.frameworks.analyzer.deprecated-dpd-log/dpd-ntlm-empty-av-sequence.log
  testing/btest/scripts/policy/frameworks/analyzer/deprecated-dpd-log.zeek
Due: btest-command-commented

Path conditions:
  license: any of: \.(h|c|cpp|cc|spicy|evt)$, but not: ^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*)$
  btest-command-commented: any of: ^testing/btest/.*$
