Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

license:
  name: Check for license headers
  entry: ./ci/license-header.py
  language: python

btest-command-commented:
  name: Check that all BTest command lines are commented out
  entry: ^\s*@TEST-
  language: pygrep

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/scripts/base/bif/event.bif.zeek.rst
  doc/scripts/policy/misc/dump-events.zeek.rst
Due: none

Docs: Fixed content linkage with `:zeek:see:` directive
  doc/scripts/base/protocols/conn/main.zeek.rst
Due: none

Allow port redefs for built-in analyzers
  scripts/base/frameworks/analyzer/main.zeek
  scripts/base/protocols/dce-rpc/main.zeek
  scripts/base/protocols/dhcp/main.zeek
  scripts/base/protocols/dnp3/main.zeek
  scripts/base/protocols/dns/main.zeek
  scripts/base/protocols/finger/main.zeek
  scripts/base/protocols/ftp/main.zeek
  scripts/base/protocols/http/main.zeek
  scripts/base/protocols/imap/main.zeek
  scripts/base/protocols/irc/main.zeek
  scripts/base/protocols/krb/main.zeek
  scripts/base/protocols/ldap/main.zeek
  scripts/base/protocols/modbus/main.zeek
  scripts/base/protocols/mqtt/main.zeek
  scripts/base/protocols/mysql/main.zeek
  scripts/base/protocols/ntp/main.zeek
  scripts/base/protocols/postgresql/main.zeek
  scripts/base/protocols/quic/main.zeek
  scripts/base/protocols/radius/main.zeek
  scripts/base/protocols/rdp/main.zeek
  scripts/base/protocols/redis/main.zeek
  scripts/base/protocols/sip/main.zeek
  scripts/base/protocols/smb/main.zeek
  scripts/base/protocols/smtp/main.zeek
  scripts/base/protocols/snmp/main.zeek
  scripts/base/protocols/socks/main.zeek
  scripts/base/protocols/ssh/main.zeek
  scripts/base/protocols/ssl/main.zeek
  scripts/base/protocols/syslog/main.zeek
  scripts/base/protocols/xmpp/main.zeek
Due: none

Allow port redefs for built-in packet analyzers
  scripts/base/packet-protocols/ayiya/main.zeek
  scripts/base/packet-protocols/geneve/main.zeek
  scripts/base/packet-protocols/gtpv1/main.zeek
  scripts/base/packet-protocols/main.zeek
  scripts/base/packet-protocols/teredo/main.zeek
  scripts/base/packet-protocols/vxlan/main.zeek
Due: none

Update btest
  testing/btest/Baseline/plugins.hooks/output
Due: btest-command-commented

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/scripts/base/protocols/conn/main.zeek.rst
Due: none

Integrate new Broker optimization
  src/broker/Manager.cc
Due: license

Add flags for controlling utf8 escaping instead of bools
  src/Desc.cc
  src/Val.cc
  src/broker/Manager.cc
  src/threading/formatters/JSON.cc
  src/util.cc
  src/util.h
Due: license

ZVal: Add missing header
  src/ZVal.h
Due: license

analyzer: Introduce analyzer::for_each
  src/analyzer/Analyzer.cc
  src/analyzer/Analyzer.h
Due: license

Fix `:zeek:see:` in backtick in docs
  scripts/base/protocols/conn/main.zeek
Due: none

scan/parse/Attr: Introduce &volatile
  NEWS
  doc/script-reference/attributes.rst
  scripts/base/init-bare.zeek
  src/Attr.cc
  src/Attr.h
  src/parse.y
  src/scan.l
Due: license

TypeDecl: Add is_volatile helper
  src/Type.cc
  src/Type.h
Due: license

Analyzer/Conn: Deprecate UpdateConnVal(), introduce InitConnVal()
  NEWS
  src/Conn.cc
  src/Conn.h
  src/analyzer/Analyzer.cc
  src/analyzer/Analyzer.h
  src/packet_analysis/protocol/ip/SessionAdapter.cc
  src/packet_analysis/protocol/tcp/TCPSessionAdapter.cc
Due: license

Connection: Deprecate SetStartTime()
  src/session/Session.h
Due: license

SessionAdapter: Prepare for callback based endpoint state and size fields
  src/packet_analysis/protocol/ip/SessionAdapter.cc
  src/packet_analysis/protocol/ip/SessionAdapter.h
  src/packet_analysis/protocol/tcp/TCPSessionAdapter.cc
  src/zeek-setup.cc
Due: license

ConnSize: Make callback based
  src/analyzer/protocol/conn-size/ConnSize.cc
  src/analyzer/protocol/conn-size/ConnSize.h
  src/analyzer/protocol/conn-size/Plugin.cc
Due: license

logging/Manager: Bail on callback based fields for now
  src/logging/Manager.cc
Due: license

ZValElement: Support field_callback
  src/Val.cc
  src/Val.h
Due: license

RecordFieldCallback: Introduce interface for callback based record fields
  src/RecordFieldCallback.h
Due: license

SessionAdapter/TapAnalyzer: Remove UpdateConnVal
  src/packet_analysis/protocol/ip/SessionAdapter.cc
  src/packet_analysis/protocol/ip/SessionAdapter.h
  testing/btest/plugins/tap-analyzer-conn-val-plugin/.btest-ignore
  testing/btest/plugins/tap-analyzer-conn-val-plugin/src/Plugin.cc
  testing/btest/plugins/tap-analyzer-conn-val-plugin/src/Plugin.h
  testing/btest/plugins/tap-analyzer-conn-val.zeek
Due: license, btest-command-commented

EventTrace: Fix copying of uninitialized ZValElement
  src/EventTrace.cc
Due: license

testing: Disable ZAM for CI
  testing/btest/opt/basic.zeek
  testing/btest/opt/regress-missing-fields.zeek
Due: btest-command-commented

testing: Update baselines, add endpoint tests
  testing/btest/Baseline/core.conn-size-endpoint-update-timer/out
  testing/btest/Baseline/core.conn-size-endpoint-update/out
  testing/btest/Baseline/plugins.hooks/output
  testing/btest/Baseline/scripts.base.protocols.mount.basic/.stdout
  testing/btest/Baseline/scripts.base.protocols.nfs.basic/.stdout
  testing/btest/Baseline/scripts.base.protocols.postgresql.dump-events/output
  testing/btest/Baseline/scripts.policy.misc.dump-events/all-events.log
  testing/btest/Baseline/scripts.policy.misc.dump-events/really-all-events.log
  testing/btest/Baseline/scripts.policy.misc.dump-events/smtp-events.log
  testing/btest/core/conn-size-endpoint-update-timer.zeek
  testing/btest/core/conn-size-endpoint-update.zeek
  testing/external/commit-hash.zeek-testing
Due: btest-command-commented

tcp,udp,icmp,unknown: Implement GetEndpointSize() / GetEndpointState()
  src/packet_analysis/protocol/icmp/ICMP.cc
  src/packet_analysis/protocol/icmp/ICMPSessionAdapter.cc
  src/packet_analysis/protocol/icmp/ICMPSessionAdapter.h
  src/packet_analysis/protocol/tcp/TCPSessionAdapter.cc
  src/packet_analysis/protocol/tcp/TCPSessionAdapter.h
  src/packet_analysis/protocol/udp/UDPSessionAdapter.cc
  src/packet_analysis/protocol/udp/UDPSessionAdapter.h
  src/packet_analysis/protocol/unknown_ip_transport/UnknownIPSessionAdapter.h
Due: license

RecordVal: Support assigning RecordFieldCallback pointers
  src/Val.cc
  src/Val.h
Due: license

Connection: Use callbacks for history and duration
  src/Conn.cc
  src/Conn.h
Due: license

fixup! ZValElement: Support field_callback
  src/Val.cc
  src/Val.h
Due: license

fixup! testing: Update baselines, add endpoint tests
  testing/btest/Traces/tcp/synack.pcap
Due: btest-command-commented

Docs: fix permanent redirect warning from link checker
  doc/about.rst
Due: none

Fix error when table type cannot be determined
  src/Expr.cc
  testing/btest/Baseline/language.init-mismatch/.stderr
  testing/btest/Baseline/language.table-key-fail/out
  testing/btest/language/table-key-fail.zeek
Due: license, btest-command-commented

btest: Skip misc/dump-events-json with older jq versions
  testing/btest/scripts/policy/misc/dump-events-json.zeek
Due: btest-command-commented

Use ranges versions of all_of, any_of, etc.
  src/DNS_Mapping.cc
  src/Dict.h
  src/RuleAction.cc
  src/packet_analysis/Dispatcher.cc
  src/scan.l
  src/telemetry/telemetry_functions.bif
Due: license

EventTrace: Use GetField(), not RawOptField()
  src/EventTrace.cc
Due: license

ZAM/macros: Add LoadField macros
  src/script_opt/ZAM/OPs/macros.op
Due: none

tools/gen-zam: Improve assign-val indentation
  tools/gen-zam/Gen-ZAM.cc
  tools/gen-zam/Gen-ZAM.h
Due: license

ZAM: Use LoadField* macros
  src/script_opt/ZAM/OPs/non-uniform.op
  src/script_opt/ZAM/ZBody.h
  tools/gen-zam/Gen-ZAM.cc
Due: license

tools/gen-zam: Add assign-zval template attribute
  src/script_opt/ZAM/OPs/README.txt
  tools/gen-zam/Gen-ZAM.cc
  tools/gen-zam/Gen-ZAM.h
Due: license

Path conditions:
  license: any of: \.(h|c|cpp|cc|spicy|evt)$, but not: ^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$
  btest-command-commented: any of: ^testing/btest/.*$
