Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*|doc/devel/spicy/autogen/.*.spicy'

CPP/RuntimeOps: Update
  src/script_opt/CPP/RuntimeOps.h
Due: license

fixup! fixup! ZValElement: Support field_callback
  src/Val.h
Due: license

NEWS: More about stale connection fields
  NEWS
Due: none

testing: Update ZAM baselines
  testing/btest/Baseline.zam/scripts.policy.misc.dump-events/all-events.log
  testing/btest/Baseline.zam/scripts.policy.misc.dump-events/really-all-events.log
  testing/btest/Baseline.zam/scripts.policy.misc.dump-events/smtp-events.log
Due: btest-command-commented

fix for interoperability between ZAM and -O use-C++ (or standalone C++)
  src/script_opt/ProfileFunc.cc
Due: license

fix for standalone-C++ generating spurious Zeekygen warnings
  src/script_opt/CPP/RuntimeInitSupport.cc
Due: license

Add columns to kerberos.log with sha256 hashes
  scripts/policy/protocols/krb/ticket-logging.zeek
  testing/btest/Baseline/scripts.policy.protocols.krb.ticket-logging/kerberos.log
Due: btest-command-commented

ZVal: Add missing header
  src/ZVal.h
Due: license

analyzer: Introduce analyzer::for_each() helper
  src/analyzer/Analyzer.cc
  src/analyzer/Analyzer.h
Due: license

scan/parse/Attr: Introduce &volatile
  NEWS
  doc/script-reference/attributes.rst
  scripts/base/init-bare.zeek
  src/Attr.cc
  src/Attr.h
  src/parse.y
  src/scan.l
Due: license

TypeDecl: Add is_volatile helper
  src/Type.cc
  src/Type.h
Due: license

Analyzer/Conn: Deprecate UpdateConnVal(), introduce InitConnVal()
  NEWS
  src/Conn.cc
  src/Conn.h
  src/analyzer/Analyzer.cc
  src/analyzer/Analyzer.h
  src/packet_analysis/protocol/ip/SessionAdapter.cc
  src/packet_analysis/protocol/tcp/TCPSessionAdapter.cc
Due: license

ZValElement: Support field_callback
  src/Val.cc
  src/Val.h
Due: license

RecordVal: Support assigning RecordFieldCallback pointers
  src/Val.cc
  src/Val.h
Due: license

RecordFieldCallback: Introduce interface for callback based record fields
  src/RecordFieldCallback.h
Due: license

Connection: Use callbacks for history and duration
  src/Conn.cc
  src/Conn.h
Due: license

SessionAdapter: Prepare for callback based endpoint state and size fields
  src/packet_analysis/protocol/ip/SessionAdapter.cc
  src/packet_analysis/protocol/ip/SessionAdapter.h
  src/packet_analysis/protocol/tcp/TCPSessionAdapter.cc
  src/zeek-setup.cc
Due: license

tcp,udp,icmp,unknown: Implement GetEndpointSize() / GetEndpointState()
  src/packet_analysis/protocol/icmp/ICMP.cc
  src/packet_analysis/protocol/icmp/ICMPSessionAdapter.cc
  src/packet_analysis/protocol/icmp/ICMPSessionAdapter.h
  src/packet_analysis/protocol/tcp/TCPSessionAdapter.cc
  src/packet_analysis/protocol/tcp/TCPSessionAdapter.h
  src/packet_analysis/protocol/udp/UDPSessionAdapter.cc
  src/packet_analysis/protocol/udp/UDPSessionAdapter.h
  src/packet_analysis/protocol/unknown_ip_transport/UnknownIPSessionAdapter.h
Due: license

Session: Deprecate SetStartTime()
  src/session/Session.h
Due: license

analyzer/ConnSize: Switch to callback based endpoint fields
  src/analyzer/protocol/conn-size/ConnSize.cc
  src/analyzer/protocol/conn-size/ConnSize.h
  src/analyzer/protocol/conn-size/Plugin.cc
Due: license

SessionAdapter/TapAnalyzer: Remove UpdateConnVal
  src/packet_analysis/protocol/ip/SessionAdapter.cc
  src/packet_analysis/protocol/ip/SessionAdapter.h
  testing/btest/plugins/tap-analyzer-conn-val-plugin/.btest-ignore
  testing/btest/plugins/tap-analyzer-conn-val-plugin/src/Plugin.cc
  testing/btest/plugins/tap-analyzer-conn-val-plugin/src/Plugin.h
  testing/btest/plugins/tap-analyzer-conn-val.zeek
Due: license, btest-command-commented

analyzer/ConnSize: Use std::swap() in FlipRoles()
  src/analyzer/protocol/conn-size/ConnSize.cc
  src/analyzer/protocol/conn-size/ConnSize.h
Due: license

logging/Manager: Handle callback based fields
  src/logging/Manager.cc
Due: license

EventTrace: Use GetField(), not RawOptField()
  src/EventTrace.cc
Due: license

tools/gen-zam: Improve assign-val indentation
  tools/gen-zam/Gen-ZAM.cc
  tools/gen-zam/Gen-ZAM.h
Due: license

tools/gen-zam: Add assign-zval template attribute
  src/script_opt/ZAM/OPs/README.txt
  src/script_opt/ZAM/ZBody.cc
  tools/gen-zam/Gen-ZAM.cc
  tools/gen-zam/Gen-ZAM.h
Due: license

NEWS: Add commentary about stale connection and endpoint fields
  NEWS
Due: none

Add column to ssh.log with sha256 host key fingerprint
  scripts/base/protocols/ssh/main.zeek
  src/analyzer/protocol/ssh/events.bif
  src/analyzer/protocol/ssh/ssh-analyzer.pac
  testing/btest/Baseline.zam/coverage.test-all-policy-cluster/.stderr
  testing/btest/Baseline.zam/coverage.test-all-policy-zeekygen/.stderr
  testing/btest/Baseline.zam/coverage.test-all-policy-zeekygen/.stdout
  testing/btest/Baseline/core.tunnels.gre/ssh.log
  testing/btest/Baseline/coverage.record-fields/out.default
  testing/btest/Baseline/scripts.base.protocols.ssh.basic/ssh.log
  testing/btest/Baseline/scripts.base.protocols.ssh.curve25519_kex/ssh.log
  testing/btest/Baseline/scripts.base.protocols.ssh.fingerprints/out
  testing/btest/Baseline/scripts.base.protocols.ssh.half-duplex-client/ssh.log
  testing/btest/Baseline/scripts.base.protocols.ssh.half-duplex-server/ssh.log
  testing/btest/Baseline/scripts.base.protocols.ssh.pre-banner/ssh.log
  testing/btest/Baseline/scripts.base.protocols.ssh.ssh_version_199/ssh.log
  testing/btest/Baseline/spicy.protocol-analyzer-tcp-over-udp/ssh.log
  testing/btest/scripts/base/protocols/ssh/fingerprints.zeek
Due: btest-command-commented

Update external baselines for MD5 changes
  testing/external/commit-hash.zeek-testing
  testing/external/commit-hash.zeek-testing-private
Due: none

Remove ssh/krb md5 fields by default, add policy scripts to restore them
  scripts/base/protocols/ssh/main.zeek
  scripts/policy/protocols/krb/md5-ticket-logging.zeek
  scripts/policy/protocols/krb/ticket-logging.zeek
  scripts/policy/protocols/ssh/md5-host-key-logging.zeek
  scripts/test-all-policy.zeek
  testing/btest/Baseline/core.tunnels.gre/ssh.log
  testing/btest/Baseline/coverage.record-fields/out.default
  testing/btest/Baseline/scripts.base.protocols.ssh.basic/ssh.log
  testing/btest/Baseline/scripts.base.protocols.ssh.curve25519_kex/ssh.log
  testing/btest/Baseline/scripts.base.protocols.ssh.half-duplex-client/ssh.log
  testing/btest/Baseline/scripts.base.protocols.ssh.half-duplex-server/ssh.log
  testing/btest/Baseline/scripts.base.protocols.ssh.pre-banner/ssh.log
  testing/btest/Baseline/scripts.base.protocols.ssh.ssh_version_199/ssh.log
  testing/btest/Baseline/scripts.policy.protocols.krb.ticket-logging/kerberos.log
  testing/btest/Baseline/spicy.protocol-analyzer-tcp-over-udp/ssh.log
Due: btest-command-commented

Add blurb to NEWS about MD5 changes
  NEWS
Due: none

Prevent crashes when evaluating expressions that access locals in isolation
  src/Attr.cc
  src/Expr.cc
  src/Expr.h
  src/Func.cc
  src/ID.cc
  src/Stmt.cc
  src/Type.cc
  src/Val.cc
  src/Var.cc
  src/broker/Manager.cc
  src/input/Manager.cc
  src/parse.y
  src/scan.l
  src/script_opt/CPP/InitsInfo.cc
  src/script_opt/CPP/Stmts.cc
  src/script_opt/Expr.cc
  src/script_opt/Reduce.cc
  src/script_opt/ZAM/Low-Level.cc
  testing/btest/Baseline/broker.store.brokerstore-backend-error/output
  testing/btest/Baseline/core.expr-isolation/output
  testing/btest/broker/store/brokerstore-backend-error.zeek
  testing/btest/core/expr-isolation.zeek
Due: license, btest-command-commented

Add unit test for Packet::Init()
  src/iosource/Packet.cc
Due: license

Reorder initializations in Packet::Init() to (mostly) match class layout
  src/iosource/Packet.cc
Due: license

Add missing Packet member initializations to Packet::Init()
  src/iosource/Packet.cc
Due: license

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/script-reference/autogenerated-protocol-analyzer-index.rst
  doc/script-reference/autogenerated-script-index.rst
  doc/scripts/base/bif/plugins/Zeek_MIME.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_SSH.events.bif.zeek.rst
  doc/scripts/base/protocols/krb/main.zeek.rst
  doc/scripts/base/protocols/ssh/main.zeek.rst
  doc/scripts/policy/protocols/krb/md5-ticket-logging.zeek.rst
  doc/scripts/policy/protocols/krb/ticket-logging.zeek.rst
  doc/scripts/policy/protocols/ssh/md5-host-key-logging.zeek.rst
  doc/scripts/test-all-policy.zeek.rst
Due: none
