Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*|doc/devel/spicy/autogen/.*.spicy'

Pass sanitizer flags to external plugin builds
  CMakeLists.txt
  cmake_templates/ZeekPluginBootstrap.cmake.in
Due: none

Add iosource that uses LightPcapNg to be able to read pcapng files
  .gitmodules
  src/iosource/CMakeLists.txt
  src/iosource/Manager.cc
  src/iosource/pcapng/CMakeLists.txt
  src/iosource/pcapng/Plugin.cc
  src/iosource/pcapng/Source.cc
  src/iosource/pcapng/Source.h
Due: license

Prefer pcap-mode vs. live-capture for doc tutorial
  doc/tutorial/logs.rst
  doc/tutorial/scripting/tutorial-example.rst
Due: none

CI: Format scripts in docker_build_template the same
  .cirrus.yml
Due: none

Add OpenContainers labels to the docker images
  .cirrus.yml
  docker/builder.Dockerfile
  docker/final.Dockerfile
Due: none

Add back missing section label
  doc/tutorial/scripting/basics.rst
Due: none

Remove superfluous internal_md5() utility method
  src/Hash.cc
  src/OpaqueVal.h
  src/digest.cc
  src/digest.h
  src/util.cc
Due: license

Add SHA256 hmac methods, BIF, keys, etc
  src/Anon.cc
  src/Hash.cc
  src/Hash.h
  src/OpaqueVal.h
  src/script_opt/FuncInfo.cc
  src/util.cc
  src/util.h
  src/zeek.bif
  testing/btest/opt/ZAM-bif-tracking.zeek
Due: license, btest-command-commented

Make the anonymizer bif docs more descriptive/helpful
  src/zeek.bif
Due: none

Add new btest for IP anonymizer coverage
  src/Anon.cc
  src/zeek.bif
  testing/btest/Baseline/bifs.anonymize_addr-2/.stderr
  testing/btest/Baseline/bifs.anonymize_addr-2/.stdout
  testing/btest/Baseline/bifs.anonymize_addr-3/.stderr
  testing/btest/Baseline/bifs.anonymize_addr-3/.stdout
  testing/btest/Baseline/bifs.anonymize_addr-4/.stderr
  testing/btest/Baseline/bifs.anonymize_addr-4/.stdout
  testing/btest/Baseline/bifs.anonymize_addr/.stderr
  testing/btest/Baseline/bifs.anonymize_addr/.stdout
  testing/btest/bifs/anonymize_addr.zeek
Due: license, btest-command-commented

Deprecate MD5 IP anonymizers, add SHA256 versions
  scripts/base/init-bare.zeek
  src/Anon.cc
  src/Anon.h
Due: license

Member variable cleanup in AnonymizeIPAddr_A50
  src/Anon.cc
  src/Anon.h
Due: license

Lazily initialize the keys for HMAC-MD5
  src/Hash.cc
  src/Hash.h
  src/util.cc
  src/zeek.bif
Due: license

Check magic numbers instead of file suffixes
  src/iosource/Component.cc
  src/iosource/Component.h
  src/iosource/Manager.cc
  src/iosource/pcap/Plugin.cc
  src/iosource/pcapng/Plugin.cc
Due: license

Fix BPF filter support
  src/iosource/pcapng/Source.cc
  src/iosource/pcapng/Source.h
Due: license

testing/Baseline.zam: Fixup coverage baselines
  CHANGES
  VERSION
  testing/btest/Baseline.zam/coverage.test-all-policy-cluster/.stderr
  testing/btest/Baseline.zam/coverage.test-all-policy-zeekygen/.stderr
Due: btest-command-commented

Integrate new Broker optimization
  src/broker/Manager.cc
Due: license

Build Javascript bindings in CI on macos
  ci/macos/prepare.sh
Due: none

testing/btest: Skip websocket/server tests when Python lib is missing
  testing/btest/cluster/websocket/server/broker.zeek
  testing/btest/cluster/websocket/server/default.zeek
  testing/btest/cluster/websocket/server/ipc.zeek
Due: btest-command-commented

Adding check to initialize REQ socket only if ZeroMQ is configured.
  src/telemetry/Manager.cc
Due: license

Add missing word to `?$` docs
  doc/script-reference/operators.rst
Due: none

Address misc review feedback for tutorial
  doc/customizations.rst
  doc/tutorial/index.rst
  doc/tutorial/invoking-zeek.rst
  doc/tutorial/logs.rst
  doc/tutorial/scripting/basics.rst
  doc/tutorial/scripting/index.rst
  doc/tutorial/scripting/tutorial-example.rst
  doc/tutorial/setup.rst
  doc/tutorial/using-packages.rst
Due: none

Remove frameworks section from the tutorial
  doc/tutorial/frameworks/framework-scripts/match.sig
  doc/tutorial/frameworks/framework-scripts/match.zeek
  doc/tutorial/frameworks/zeek-frameworks.rst
  doc/tutorial/index.rst
Due: none

Fix broken link in documentation
  src/analyzer/protocol/netbios/functions.bif
Due: none

Pass sanitizer flags to external plugin builds
  CMakeLists.txt
  NEWS
  cmake_templates/ZeekPluginBootstrap.cmake.in
Due: none

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/script-reference/autogenerated-protocol-analyzer-index.rst
  doc/scripts/base/bif/plugins/Zeek_NetBIOS.functions.bif.zeek.rst
Due: none

Spicy: Disable expensive debug checks.
  CMakeLists.txt
Due: none

Adding conditional compilation of ZeroMQ code. Added ZeroMQ socket close in Manager terminate function.
  src/telemetry/Manager.cc
  src/telemetry/Manager.h
Due: license

Fromatting changes
  src/telemetry/Manager.h
Due: license

Fix ssl certificate logging when encountering protocol errors
  scripts/base/protocols/ssl/main.zeek
  testing/btest/Baseline/scripts.base.protocols.ssl.tls-1.2-late-protocol-error/analyzer.log
  testing/btest/Baseline/scripts.base.protocols.ssl.tls-1.2-late-protocol-error/ssl.log
  testing/btest/Baseline/scripts.base.protocols.ssl.tls-1.2-late-protocol-error/x509.log
  testing/btest/Traces/tls/tls1.2-late-protocol-error.pcap
  testing/btest/scripts/base/protocols/ssl/tls-1.2-late-protocol-error.test
Due: btest-command-commented

cluster/non-Broker: Report errors for &backend and &broker_store
  NEWS
  src/cluster/Manager.cc
  src/cluster/Manager.h
  src/zeek-setup.cc
  testing/btest/Baseline/cluster.generic.table-errors/broker.err
  testing/btest/Baseline/cluster.generic.table-errors/zeromq.err
  testing/btest/cluster/generic/table-errors.zeek
Due: license, btest-command-commented
