Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

license:
  name: Check for license headers
  entry: ./ci/license-header.py
  language: python

btest-command-commented:
  name: Check that all BTest command lines are commented out
  entry: ^\s*@TEST-
  language: pygrep

SSH: Cap packet_length and string_length to 8MB and 2MB
  scripts/base/frameworks/notice/weird.zeek
  scripts/base/init-bare.zeek
  src/analyzer/protocol/ssh/CMakeLists.txt
  src/analyzer/protocol/ssh/consts.bif
  src/analyzer/protocol/ssh/ssh-analyzer.pac
  src/analyzer/protocol/ssh/ssh-protocol.pac
  testing/btest/Baseline/coverage.bare-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.default-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/plugins.hooks/output
  testing/btest/Baseline/scripts.base.protocols.ssh.max-lengths-2/conn.log
  testing/btest/Baseline/scripts.base.protocols.ssh.max-lengths-2/weird.log
  testing/btest/Baseline/scripts.base.protocols.ssh.max-lengths-3/conn.log
  testing/btest/Baseline/scripts.base.protocols.ssh.max-lengths-3/weird.log
  testing/btest/Baseline/scripts.base.protocols.ssh.max-lengths-4/conn.log
  testing/btest/Baseline/scripts.base.protocols.ssh.max-lengths-4/weird.log
  testing/btest/Baseline/scripts.base.protocols.ssh.max-lengths/conn.log
  testing/btest/Baseline/scripts.base.protocols.ssh.max-lengths/weird.log
  testing/btest/scripts/base/protocols/ssh/max-lengths.test
Due: btest-command-commented

websocket: Consume data past control frame max size
  src/analyzer/protocol/websocket/websocket-analyzer.pac
  src/analyzer/protocol/websocket/websocket-protocol.pac
  src/analyzer/protocol/websocket/websocket.spicy
  testing/btest/Baseline/scripts.base.protocols.websocket.close-too-large/out-pac-capped
  testing/btest/Baseline/scripts.base.protocols.websocket.close-too-large/out-pac-uncapped
  testing/btest/Baseline/scripts.base.protocols.websocket.close-too-large/out-spicy-capped
  testing/btest/Baseline/scripts.base.protocols.websocket.close-too-large/out-spicy-uncapped
  testing/btest/scripts/base/protocols/websocket/close-too-large.zeek
Due: license, btest-command-commented

Add flag to IP_Hdr::ToPktHdrVal() to check for capture length
  src/Discard.cc
  src/Frag.cc
  src/IP.cc
  src/IP.h
  src/packet_analysis/protocol/ip/IP.cc
  testing/btest/Baseline/core.truncation/discarder.output
  testing/btest/Baseline/core.truncation/output
  testing/btest/Traces/README
  testing/btest/Traces/trunc/ip-discarder-truncated-tcp-oob.pcapng
  testing/btest/Traces/trunc/ip-discarder-truncated-tcp-oob.pcapng.py
  testing/btest/core/truncation.test
Due: license, btest-command-commented

Traces/README: Update with a note about http/261
  testing/btest/Traces/README
Due: btest-command-commented

krb: Fix crash with Kerberos error handling
  src/analyzer/protocol/krb/krb-analyzer.pac
  src/analyzer/protocol/krb/krb-padata.pac
  testing/btest/Baseline/scripts.base.protocols.krb.error-preauth-padata/kerberos.log
  testing/btest/Traces/README
  testing/btest/Traces/krb/error-preauth-padata.pcap
  testing/btest/Traces/krb/error-preauth-padata.pcap.py
  testing/btest/scripts/base/protocols/krb/error-preauth-padata.zeek
Due: btest-command-commented

finger: Add limit to lines to avoid buffer growth
  scripts/base/init-bare.zeek
  src/analyzer/protocol/finger/finger.spicy
  testing/btest/Baseline/plugins.hooks/output
  testing/btest/Baseline/scripts.base.protocols.finger.line-limit-exceeded/out-reply
  testing/btest/Baseline/scripts.base.protocols.finger.line-limit-exceeded/out-request
  testing/btest/Traces/README
  testing/btest/Traces/finger/long-reply-line.pcapng
  testing/btest/Traces/finger/long-reply-line.pcapng.py
  testing/btest/Traces/finger/long-request.pcapng
  testing/btest/Traces/finger/long-request.pcapng.py
  testing/btest/scripts/base/protocols/finger/line-limit-exceeded.zeek
Due: license, btest-command-commented

SerialTypes: Allocate sets/vectors incrementally during parsing
  src/threading/SerialTypes.cc
Due: license

RPC: Limit calls map via rpc_max_pending_calls const redef
  scripts/base/frameworks/notice/weird.zeek
  scripts/base/init-bare.zeek
  src/analyzer/protocol/rpc/CMakeLists.txt
  src/analyzer/protocol/rpc/RPC.cc
  src/analyzer/protocol/rpc/consts.bif
  src/analyzer/protocol/rpc/events.bif
  testing/btest/Baseline/coverage.bare-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.default-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/plugins.hooks/output
  testing/btest/Baseline/scripts.base.protocols.rpc.max-pending-calls/conn.log
  testing/btest/Baseline/scripts.base.protocols.rpc.max-pending-calls/out
  testing/btest/Baseline/scripts.base.protocols.rpc.max-pending-calls/weird.log
  testing/btest/Traces/README
  testing/btest/Traces/portmapper-many-unanswered-calls.pcapng.gz
  testing/btest/Traces/portmapper-many-unanswered-calls.py
  testing/btest/scripts/base/protocols/rpc/max-pending-calls.zeek
Due: license, btest-command-commented

gnutella: Fix multiple header lines buffer growth
  scripts/base/init-bare.zeek
  src/analyzer/protocol/gnutella/Gnutella.cc
  src/analyzer/protocol/gnutella/consts.bif
  testing/btest/Baseline/scripts.base.protocols.gnutella.max-header-length/conn.log
  testing/btest/Baseline/scripts.base.protocols.gnutella.max-header-length/weird.log
  testing/btest/Traces/README
  testing/btest/Traces/gnutella/buffer-growth-generator.py
  testing/btest/Traces/gnutella/max-header.pcapng
  testing/btest/Traces/gnutella/max-line.pcapng
  testing/btest/scripts/base/protocols/gnutella/max-header-length.zeek
Due: license, btest-command-commented

SerializationFormat: Handle negative string lengths
  src/SerializationFormat.cc
Due: license

HTTP: Weird on Content-Length: 0 and Expect: usage
  src/analyzer/protocol/http/HTTP.cc
  src/analyzer/protocol/http/HTTP.h
  testing/btest/Baseline/scripts.base.protocols.http.261.cl-0-expect-100/conn.log
  testing/btest/Baseline/scripts.base.protocols.http.261.cl-0-expect-100/http.log
  testing/btest/Baseline/scripts.base.protocols.http.261.cl-0-expect-100/weird.log
  testing/btest/Traces/http/261/variant-07-expect_100_cl0.pcap
  testing/btest/scripts/base/protocols/http/261/cl-0-expect-100.zeek
Due: license, btest-command-commented

contentline: Fix unbounded state growth in lines
  src/analyzer/protocol/login/NVT.cc
  src/analyzer/protocol/login/RSH.cc
  src/analyzer/protocol/login/Rlogin.cc
  src/analyzer/protocol/tcp/ContentLine.cc
  src/analyzer/protocol/tcp/ContentLine.h
  testing/btest/Baseline/scripts.base.protocols.login.nvt-contentline-length/conn.log
  testing/btest/Baseline/scripts.base.protocols.login.nvt-contentline-length/weird.log
  testing/btest/Baseline/scripts.base.protocols.login.nvt-option-length/conn.log
  testing/btest/Baseline/scripts.base.protocols.login.nvt-option-length/weird.log
  testing/btest/Baseline/scripts.base.protocols.login.rlogin-line-length/conn.log
  testing/btest/Baseline/scripts.base.protocols.login.rlogin-line-length/weird.log
  testing/btest/Baseline/scripts.base.protocols.login.rsh-line-length/conn.log
  testing/btest/Baseline/scripts.base.protocols.login.rsh-line-length/weird.log
  testing/btest/Traces/README
  testing/btest/Traces/contentline/contentline-irc-5k-line.pcap
  testing/btest/Traces/contentline/rlogin-long-client-user-no-nul.pcapng.gz
  testing/btest/Traces/contentline/rlogin-long-client-user-no-nul.pcapng.py
  testing/btest/Traces/contentline/rsh-long-client-user-no-nul.pcapng.gz
  testing/btest/Traces/contentline/rsh-long-client-user-no-nul.pcapng.py
  testing/btest/Traces/contentline/telnet-long-line-no-eol.pcapng.gz
  testing/btest/Traces/contentline/telnet-long-line-no-eol.pcapng.py
  testing/btest/Traces/contentline/telnet-unclosed-suboption.pcapng.gz
  testing/btest/Traces/contentline/telnet-unclosed-suboption.pcapng.py
  testing/btest/core/conn-stats.zeek
  testing/btest/scripts/base/protocols/irc/longline.test
  testing/btest/scripts/base/protocols/login/nvt-contentline-length.zeek
  testing/btest/scripts/base/protocols/login/nvt-option-length.zeek
  testing/btest/scripts/base/protocols/login/rlogin-line-length.zeek
  testing/btest/scripts/base/protocols/login/rsh-line-length.zeek
Due: license, btest-command-commented

websocket: Add limit to control frame buffer
  scripts/base/init-bare.zeek
  src/analyzer/protocol/websocket/consts.bif
  src/analyzer/protocol/websocket/websocket-protocol.pac
  src/analyzer/protocol/websocket/websocket.spicy
  testing/btest/Baseline/scripts.base.protocols.websocket.close-too-large/weird-pac.log
  testing/btest/Baseline/scripts.base.protocols.websocket.close-too-large/weird-spicy.log
  testing/btest/Traces/README
  testing/btest/Traces/websocket/oversized-close-frame.pcapng
  testing/btest/Traces/websocket/oversized-close-frame.pcapng.py
  testing/btest/scripts/base/protocols/websocket/close-too-large.zeek
Due: license, btest-command-commented

SerialTypes/SerializationFormat: Remove abort()s from Read() paths
  src/SerializationFormat.cc
  src/threading/SerialTypes.cc
Due: license

HTTP: Weird on chunked mixed with Content-Length/Content-Range
  src/analyzer/protocol/http/HTTP.cc
  testing/btest/Baseline/scripts.base.protocols.http.261.te-cl-desync/conn.log
  testing/btest/Baseline/scripts.base.protocols.http.261.te-cl-desync/http.log
  testing/btest/Baseline/scripts.base.protocols.http.261.te-cl-desync/weird.log
  testing/btest/Traces/http/261/variant-04-te_cl_desync.pcap
  testing/btest/scripts/base/protocols/http/261/te-cl-desync.zeek
Due: license, btest-command-commented

HTTP: Weird on obsolete line folding
  src/analyzer/protocol/http/HTTP.cc
  src/analyzer/protocol/mime/MIME.h
  testing/btest/Baseline/scripts.base.protocols.http.261.obsolete-line-fold/conn.log
  testing/btest/Baseline/scripts.base.protocols.http.261.obsolete-line-fold/http.log
  testing/btest/Baseline/scripts.base.protocols.http.261.obsolete-line-fold/weird.log
  testing/btest/Traces/http/261/variant-09-te_obs_fold.pcap
  testing/btest/scripts/base/protocols/http/261/obsolete-line-fold.zeek
Due: license, btest-command-commented

gnutella: Fix uncontrolled buffer growth on lines
  scripts/base/init-bare.zeek
  src/analyzer/protocol/gnutella/CMakeLists.txt
  src/analyzer/protocol/gnutella/Gnutella.cc
  src/analyzer/protocol/gnutella/consts.bif
  testing/btest/Baseline/coverage.bare-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.default-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/plugins.hooks/output
  testing/btest/Baseline/scripts.base.protocols.gnutella.max-line-length/conn.log
  testing/btest/Baseline/scripts.base.protocols.gnutella.max-line-length/weird.log
  testing/btest/Traces/README
  testing/btest/Traces/gnutella/max-line.pcapng
  testing/btest/Traces/gnutella/max-line.pcapng.py
  testing/btest/scripts/base/protocols/gnutella/max-line-length.zeek
Due: license, btest-command-commented

HTTP: Weird on Transfer-Encoding: chunked, something
  src/analyzer/protocol/http/HTTP.cc
  testing/btest/Baseline/scripts.base.protocols.http.261.chunked-rest/conn.log
  testing/btest/Baseline/scripts.base.protocols.http.261.chunked-rest/http.log
  testing/btest/Baseline/scripts.base.protocols.http.261.chunked-rest/weird.log
  testing/btest/Traces/http/261/variant-10-multi_value_te.pcap
  testing/btest/scripts/base/protocols/http/261/chunked-rest.zeek
Due: license, btest-command-commented

HTTP: Weird for out of range Content-Length headers
  src/analyzer/protocol/http/HTTP.cc
  testing/btest/Baseline/scripts.base.protocols.http.261.chunk-2pow64-overflow/conn.log
  testing/btest/Baseline/scripts.base.protocols.http.261.chunk-2pow64-overflow/http.log
  testing/btest/Baseline/scripts.base.protocols.http.261.chunk-2pow64-overflow/weird.log
  testing/btest/Baseline/scripts.base.protocols.http.261.cl-negative/conn.log
  testing/btest/Baseline/scripts.base.protocols.http.261.cl-negative/http.log
  testing/btest/Baseline/scripts.base.protocols.http.261.cl-negative/weird.log
  testing/btest/Baseline/scripts.base.protocols.http.261.cl-uint64max/conn.log
  testing/btest/Baseline/scripts.base.protocols.http.261.cl-uint64max/http.log
  testing/btest/Baseline/scripts.base.protocols.http.261.cl-uint64max/weird.log
  testing/btest/Traces/http/261/variant-01-chunk_2pow64_overflow.pcap
  testing/btest/Traces/http/261/variant-02-cl_uint64max.pcap
  testing/btest/Traces/http/261/variant-03-cl_negative.pcap
  testing/btest/scripts/base/protocols/http/261/chunk-2pow64-overflow.zeek
  testing/btest/scripts/base/protocols/http/261/cl-negative.zeek
  testing/btest/scripts/base/protocols/http/261/cl-uint64max.zeek
Due: license, btest-command-commented

nvt: Switch options to only allocate a needed byte
  src/analyzer/protocol/login/NVT.cc
Due: license

HTTP: Weird on Content-Lengths that start with 0s
  src/analyzer/protocol/http/HTTP.cc
  testing/btest/Baseline/scripts.base.protocols.http.261.cl-leading-zeros/conn.log
  testing/btest/Baseline/scripts.base.protocols.http.261.cl-leading-zeros/http.log
  testing/btest/Baseline/scripts.base.protocols.http.261.cl-leading-zeros/weird.log
  testing/btest/Traces/http/261/variant-08-leading_zeros.pcap
  testing/btest/scripts/base/protocols/http/261/cl-leading-zeros.zeek
Due: license, btest-command-commented

ICMP: Add length checking before calling BuildNDOptionsVal
  src/packet_analysis/protocol/icmp/ICMP.cc
  testing/btest/Baseline/scripts.base.protocols.icmp.icmp6-nd-short-options/weird.log
  testing/btest/Traces/README
  testing/btest/Traces/icmp/icmp6-nd-short-options.pcap
  testing/btest/Traces/icmp/icmp6-nd-short-options.pcap.py
  testing/btest/scripts/base/protocols/icmp/icmp6-nd-short-options.zeek
Due: license, btest-command-commented

Check for valid length before outputting unknown IP packet contents
  src/packet_analysis/protocol/unknown_ip_transport/UnknownIPTransport.cc
  testing/btest/Baseline/scripts.base.protocols.conn.unknown-ip-short-payload/output
  testing/btest/Traces/README
  testing/btest/Traces/unknown-ip-short-payload.pcap
  testing/btest/Traces/unknown-ip-short-payload.py
  testing/btest/scripts/base/protocols/conn/unknown-ip-short-payload.zeek
Due: license, btest-command-commented

SerializationFormat: Avoid overflows in length check
  src/SerializationFormat.cc
Due: license

HTTP: zeek-testing-private baseline update for new weirds
  testing/external/commit-hash.zeek-testing-private
Due: none

Add NEWS entries for 8.0.9 security patches
  NEWS
Due: none

Add NEWS entries for 8.2.1 security patches
  NEWS
Due: none

Regenerate docs for 8.0.9 release
  doc/script-reference/autogenerated-file-analyzer-index.rst
  doc/script-reference/autogenerated-protocol-analyzer-index.rst
  doc/script-reference/autogenerated-script-index.rst
  doc/scripts/base/bif/event.bif.zeek.rst
  doc/scripts/base/bif/index.rst
  doc/scripts/base/bif/plugins/Zeek_Gnutella.consts.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_RPC.consts.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_RPC.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_SSH.consts.bif.zeek.rst
  doc/scripts/base/bif/plugins/__load__.zeek.rst
  doc/scripts/base/bif/plugins/index.rst
  doc/scripts/base/frameworks/notice/weird.zeek.rst
  doc/scripts/base/init-bare.zeek.rst
Due: none

Regenerate docs for 8.2.1 release
  doc/reference/zeekscript/autogenerated-file-analyzer-index.rst
  doc/reference/zeekscript/autogenerated-protocol-analyzer-index.rst
  doc/reference/zeekscript/autogenerated-script-index.rst
  doc/scripts/base/bif/event.bif.zeek.rst
  doc/scripts/base/bif/index.rst
  doc/scripts/base/bif/plugins/Zeek_Gnutella.consts.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_RPC.consts.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_RPC.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_SSH.consts.bif.zeek.rst
  doc/scripts/base/bif/plugins/__load__.zeek.rst
  doc/scripts/base/bif/plugins/index.rst
  doc/scripts/base/frameworks/notice/weird.zeek.rst
  doc/scripts/base/init-bare.zeek.rst
Due: none

CCI: Rename yaml files for config.yml to contain dynamic config
  .circleci/builds.yml
  .circleci/config.yml
  .circleci/setup.yml
Due: none

Merge remote-tracking branch 'origin/topic/timw/circleci-fix-check-for-master-pushes'
  .circleci/config.yml
  CHANGES
  VERSION
Due: none

CCI: Avoid double builds for tag pushes
  .circleci/config.yml
Due: none

CCI: Remove unnecessary docs about how to get trigger IDs
  .circleci/config.yml
Due: none

CCI: Remove unnecessary docs about how to get trigger IDs
  .circleci/config.yml
  CHANGES
  VERSION
Due: none

CI: Remove Cirrus-isms from ci/init-external-repos.sh
  ci/init-external-repos.sh
Due: none

Path conditions:
  license: any of: \.(h|c|cpp|cc|spicy|evt)$, but not: ^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$
  btest-command-commented: any of: ^testing/btest/.*$
