Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

license:
  name: Check for license headers
  entry: ./ci/license-header.py
  language: python

btest-command-commented:
  name: Check that all BTest command lines are commented out
  entry: ^\s*@TEST-
  language: pygrep

Preserve Rust regex text across pattern merges
  src/RE.cc
  src/RE.h
Due: license

Fix threaded pattern value copying
  src/threading/SerialTypes.cc
Due: license

Move longest-prefix matching to Rust
  rust/zeek-regex-backend/src/lib.rs
  src/RE.cc
  src/RegexBackend.cc
  src/RegexBackend.h
Due: license

Drop legacy DFA builds for Rust regex matchers
  src/RE.cc
  src/RuleMatcher.cc
Due: license

Support quoted regex strings in Rust backend
  src/RE.cc
Due: license

Move Rust stream matching to hybrid lazy DFA
  rust/zeek-regex-backend/src/lib.rs
  src/RuleMatcher.cc
Due: license

Share Rust stream DFA caches across matcher states
  rust/zeek-regex-backend/src/lib.rs
Due: none

Share and uncap Rust stream DFA caches by default
  rust/zeek-regex-backend/src/lib.rs
  scripts/base/init-bare.zeek
  src/NetVar.cc
  src/NetVar.h
  src/RE.cc
  src/RegexBackend.cc
  src/RegexBackend.h
Due: license

Fix malformed libmagic-generated regex
  scripts/base/frameworks/files/magic/libmagic.sig
Due: none

Use byte classes in Rust boundary matching
  rust/zeek-regex-backend/src/lib.rs
Due: none

Remove legacy regex engine
  src/CCL.cc
  src/CCL.h
  src/CMakeLists.txt
  src/DFA.cc
  src/DFA.h
  src/EquivClass.cc
  src/EquivClass.h
  src/NFA.cc
  src/NFA.h
  src/RE.cc
  src/RE.h
  src/RuleMatcher.cc
  src/RuleMatcher.h
  src/Val.cc
  src/Val.h
  src/re-parse.y
  src/re-scan.l
  src/zeek.bif
Due: license

Fix Rust regex exact-match parity
  rust/zeek-regex-backend/src/lib.rs
  src/RE.cc
  src/Val.cc
Due: license

Document Rust regex compatibility boundaries
  doc/devel/index.rst
  doc/devel/rust-regex-backend-compat.rst
  doc/devel/rust-regex-backend.rst
Due: none

telemetry/ProcessStats: Fix missing procstat_freefiles()
  src/telemetry/ProcessStats.cc
Due: license

Integrate new Broker optimization
  src/broker/Manager.cc
  testing/btest/Baseline/scripts.base.frameworks.telemetry.internal-metrics/out
Due: license, btest-command-commented

Replace tm1t.pcap in docs
  doc/reference/logs/dns.rst
  doc/reference/logs/http.rst
  testing/btest/Traces/README
  testing/btest/Traces/dns/tm1t.pcap
  testing/btest/Traces/http/testmyids.pcap
Due: btest-command-commented

Update pygments dependency to newest version
  doc/requirements.txt
Due: none

Update doctest to 2.5.0
  src/3rdparty/doctest.h
Due: license

Fix signed/unsigned comparison warnings with new doctest
  src/ZeekString.cc
  src/cluster/Backend.cc
  src/cluster/serializer/binary-serialization-format/Serializer.cc
  src/cluster/serializer/broker/Serializer.cc
  src/file_analysis/FileReassembler.cc
Due: license

Make KeyedHash and HashKey final
  src/Hash.h
Due: license

Rename HashKey::size to HashKey::key_size
  src/Hash.cc
  src/Hash.h
Due: license

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/reference/zeekscript/autogenerated-protocol-analyzer-index.rst
  doc/scripts/base/bif/event.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_HTTP.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_SSL.events.bif.zeek.rst
  doc/scripts/base/frameworks/notice/weird.zeek.rst
Due: none

Spicy: Update integration for new HILTI string implementation.
  src/analyzer/protocol/ssl/spicy/support.cc
  src/spicy/manager.cc
  src/spicy/manager.h
  src/spicy/packet-analyzer.cc
  src/spicy/protocol-analyzer.cc
  src/spicy/runtime-support.cc
  src/spicy/runtime-support.h
  src/spicy/spicyz/config.h.in
  testing/btest/Baseline/spicy.preprocessor-spicy/output
Due: license, btest-command-commented

devel/cluster: Add Spawning a Cluster section
  doc/advanced/devel/cluster/architectures.rst
  doc/advanced/devel/cluster/spawning.rst
  doc/advanced/devel/cluster/supervisor.sh
  doc/advanced/devel/index.rst
Due: none

Remove `util::fmt` call in triple VLAN tag
  src/packet_analysis/protocol/vlan/VLAN.cc
  testing/btest/Baseline/scripts.base.protocols.vlan.vlan-qinqinq/weird.log
Due: license, btest-command-commented

Allow VLAN of 0
  NEWS
  src/Conn.cc
  src/Conn.h
  src/iosource/Packet.cc
  src/iosource/Packet.h
  src/iosource/af_packet/AF_Packet.cc
  src/packet_analysis/protocol/ip/conn_key/vlan_fivetuple/Factory.cc
  src/packet_analysis/protocol/vlan/VLAN.cc
  testing/btest/Baseline/scripts.base.protocols.vlan.vlan-0-qinq/conn.log.cut
  testing/btest/Baseline/scripts.base.protocols.vlan.vlan-0/conn.log.cut
  testing/btest/Traces/http-qinq-0.pcap
  testing/btest/Traces/http-vlan-0.pcap
  testing/btest/scripts/base/protocols/vlan/vlan-0-qinq.zeek
  testing/btest/scripts/base/protocols/vlan/vlan-0.zeek
Due: license, btest-command-commented

Rename `test.zeek` in VLAN test
  testing/btest/Baseline/scripts.base.protocols.vlan.vlan-pcp-dei/output
  testing/btest/scripts/base/protocols/vlan/vlan-pcp-dei.zeek
Due: btest-command-commented

Add a weird for QinQinQ (triple-tagged VLAN)
  src/packet_analysis/protocol/vlan/VLAN.cc
  testing/btest/Baseline/scripts.base.protocols.vlan.vlan-qinqinq/weird.log
  testing/btest/Traces/vlan-qinqinq.pcap
  testing/btest/scripts/base/protocols/vlan/vlan-qinqinq.zeek
Due: license, btest-command-commented

fuzzer-setup: Switch order of Zeek and Fuzzer arguments around --
  src/fuzzers/fuzzer-setup.h
Due: license

tools/systemd-generator: Remove unused archiver_dir, fix comment
  tools/systemd-generator/etc/zeek/zeek.conf
Due: none

tools/systemd-generator: Fix ext_path handling
  testing/btest/Baseline/tools.systemd-generator.test-ext-path/..dir1.zeek-manager.service
  testing/btest/Baseline/tools.systemd-generator.test-ext-path/..dir1.zeek-worker@.service
  testing/btest/Baseline/tools.systemd-generator.test-ext-zeek-path/..dir1.zeek-manager.service
  testing/btest/Baseline/tools.systemd-generator.test-ext-zeek-path/..dir1.zeek-worker@.service
  testing/btest/tools/systemd-generator/test-ext-path.sh
  testing/btest/tools/systemd-generator/test-ext-zeek-path.sh
  tools/systemd-generator/src/zeek-cluster-config.cc
Due: license, btest-command-commented

tools/systemd-generator: Fix WriteDropIn() return
  tools/systemd-generator/src/systemd-unit.cc
Due: license

tools/systemd-generator: Drop extra CPUAffinity output
  tools/systemd-generator/src/systemd-unit.cc
Due: license

tools/systemd-generator/zeek-cluster-layout-generator: Include errno string when open fails
  testing/btest/Baseline/tools.systemd-generator.test-zeek-cluster-layout-generator-open-error/.stderr
  testing/btest/tools/systemd-generator/test-zeek-cluster-layout-generator-open-error.sh
  testing/btest/tools/systemd-generator/test-zeek-cluster-layout-generator.sh
  tools/systemd-generator/src/zeek-cluster-layout-generator.cc
Due: license, btest-command-commented

Add files via upload
  testing/btest/Traces/dns/dns_notify2.pcap
Due: btest-command-commented

Add files via upload
  testing/btest/scripts/base/protocols/dns/dns_notify.zeek
Due: btest-command-commented

Create dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.notify/dns.log
Due: btest-command-commented

Add files via upload
  testing/btest/Baseline/scripts.base.protocols.dns.notify/dns.log
Due: btest-command-commented

Rename dns_notify.zeek to notify.zeek
  testing/btest/scripts/base/protocols/dns/notify.zeek
Due: btest-command-commented

Path conditions:
  license: any of: \.(h|c|cpp|cc|spicy|evt)$, but not: ^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$
  btest-command-commented: any of: ^testing/btest/.*$
