Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*|doc/devel/spicy/autogen/.*.spicy'

Disable scripts/base/protocols/ldap/functions btest for asan builds
  testing/btest/scripts/base/protocols/ldap/functions.spicy
  testing/scripts/have-asan
Due: btest-command-commented

dns: cast remaining ExtractLong byte shifts to uint32_t
  src/analyzer/protocol/dns/DNS.cc
Due: license

Fix potential null-dereference in pcapng packet source
  src/iosource/pcapng/Source.cc
Due: license

netbios: fix out-of-bounds read in NetbiosSSN_Interpreter::ConvertName
  src/analyzer/protocol/netbios/NetbiosSSN.cc
Due: license

bittorrent: fix out-of-bounds read in ResponseBenc peers parser
  src/analyzer/protocol/bittorrent/BitTorrentTracker.cc
Due: license

use uint32_t for ftp PORT address shift in parse_port
  src/analyzer/protocol/ftp/functions.bif
Due: none

cluster/backend/zeromq: Move redefs into options.zeek
  scripts/policy/frameworks/cluster/backend/zeromq/main.zeek
  scripts/policy/frameworks/cluster/backend/zeromq/options.zeek
  testing/btest/cluster/zeromq/supervisor-runs-zmq-proxy.zeek
Due: btest-command-commented

testing/btest/cluster/zeromq: Supervisor using publish/subscribe via ZeroMQ
  testing/btest/Baseline/cluster.zeromq.supervisor-runs-zmq-proxy-and-connects/supervisor..stderr
  testing/btest/Baseline/cluster.zeromq.supervisor-runs-zmq-proxy-and-connects/supervisor..stdout
  testing/btest/Baseline/cluster.zeromq.supervisor-runs-zmq-proxy-and-connects/supervisor.logger.stdout
  testing/btest/Baseline/cluster.zeromq.supervisor-runs-zmq-proxy-and-connects/supervisor.manager.stdout
  testing/btest/Baseline/cluster.zeromq.supervisor-runs-zmq-proxy-and-connects/supervisor.proxy.stdout
  testing/btest/Baseline/cluster.zeromq.supervisor-runs-zmq-proxy-and-connects/supervisor.worker-1.stdout
  testing/btest/Baseline/cluster.zeromq.supervisor-runs-zmq-proxy-and-connects/supervisor.worker-2.stdout
  testing/btest/cluster/zeromq/supervisor-runs-zmq-proxy-and-connects.zeek
Due: btest-command-commented

irc: use starts_with for empty-safe nick prefix check in DeliverStream
  src/analyzer/protocol/irc/IRC.cc
Due: license

netbios: report violation on short UDP datagram and use extract_uint32 for srcip
  src/analyzer/protocol/netbios/NetbiosSSN.cc
Due: license

rfb: use data() directly for server-params name pointer
  src/analyzer/protocol/rfb/rfb-analyzer.pac
Due: none

ident: only guard the overflow in ParsePort, keep range check below
  src/analyzer/protocol/ident/Ident.cc
Due: license

nflog: report bad TLV lengths and add a regression test
  src/packet_analysis/protocol/nflog/NFLog.cc
  testing/btest/Baseline/core.nflog-bad-tlv-len/weird.log
  testing/btest/Traces/nflog-bad-tlv-len.pcap
  testing/btest/Traces/nflog-bad-tlv-len.pcap.py
  testing/btest/core/nflog-bad-tlv-len.zeek
Due: license, btest-command-commented

Switch to zeekpy
  tools/netcontrol/README.md
  tools/netcontrol/requirements.txt
  tools/netcontrol/ws-acldng.py
Due: none

ipaddr: cast first octet to uint32_t in ConvertString
  src/IPAddr.cc
Due: license

NEWS: add missing entry for #5433
  NEWS
Due: none

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/scripts/base/frameworks/cluster/main.zeek.rst
  doc/scripts/base/frameworks/cluster/pools.zeek.rst
  doc/scripts/base/frameworks/cluster/telemetry.zeek.rst
  doc/scripts/base/init-bare.zeek.rst
  doc/scripts/policy/frameworks/cluster/backend/zeromq/main.zeek.rst
  doc/scripts/policy/frameworks/cluster/backend/zeromq/options.zeek.rst
Due: none

Add AI Usage Policy
  AI_POLICY.md
Due: none

Add note about Broker WebSocketShim abort() to NEWS
  NEWS
Due: none

WIP
  tools/netcontrol/demo.zeek
Due: none

Move `Log::flush_all` and pcapng source NEWS
  NEWS
Due: none

github/workflows: Switch cifuzz to run nightly
  .github/workflows/cifuzz.yml
Due: none

CI: Set VSINSTALLDIR for Circle Windows builds
  .circleci/config.yml
Due: none

MIME: Fix mime_content_hash_sha256 and remove unused variable
  src/analyzer/protocol/mime/MIME.cc
  src/analyzer/protocol/mime/MIME.h
  testing/btest/Baseline/scripts.base.files.mime.mime-content-hash-2/conn.log
  testing/btest/Baseline/scripts.base.files.mime.mime-content-hash-2/out
  testing/btest/Baseline/scripts.base.files.mime.mime-content-hash-3/conn.log
  testing/btest/Baseline/scripts.base.files.mime.mime-content-hash-3/out
  testing/btest/Baseline/scripts.base.files.mime.mime-content-hash/conn.log
  testing/btest/Baseline/scripts.base.files.mime.mime-content-hash/out
  testing/btest/scripts/base/files/mime/mime-content-hash.zeek
Due: license, btest-command-commented

add value conversion functions that return C++ native types
  src/val-convert.cc
  src/val-convert.h
Due: license

Remove obsolete Broker WebSocket server references
  NEWS
  doc/frameworks/management.rst
  doc/scripts/base/bif/comm.bif.zeek.rst
  doc/scripts/base/frameworks/broker/main.zeek.rst
  scripts/base/frameworks/broker/main.zeek
  src/broker/Manager.cc
  src/broker/Manager.h
  src/broker/WebSocketShim.h
  src/broker/comm.bif
  testing/btest/cluster/websocket/tls-nocert.zeek
Due: license, btest-command-commented

Update scripts.base.frameworks.telemetry.internal-metrics baseline
  testing/btest/Baseline/scripts.base.frameworks.telemetry.internal-metrics/out
Due: btest-command-commented

extend bifcl to generate C++-native versions of BiFs as well as script-callable shims
  tools/bifcl/bif_arg.cc
  tools/bifcl/builtin-func.l
  tools/bifcl/builtin-func.y
  tools/bifcl/include/bif_arg.h
  tools/bifcl/include/bif_type.def
Due: license

remove unnecessary (and in some cases deterimental) std::move's from BiF returns
  src/reporter.bif
  src/spicy/spicy.bif
  src/stats.bif
  src/strings.bif
  src/supervisor/supervisor.bif
  src/zeek.bif
Due: none

dce-rpc: fix off-by-one read when trimming trailing null from sec_addr
  src/analyzer/protocol/dce-rpc/dce_rpc-analyzer.pac
Due: none

Spicy SSL support for the Encrypted Client Hello extension
  src/analyzer/protocol/ssl/spicy/SSL.evt
  src/analyzer/protocol/ssl/spicy/SSL.spicy
  testing/btest/Baseline/scripts.base.protocols.ssl.tls-ech/.stdout
  testing/btest/scripts/base/protocols/ssl/tls-ech.test
Due: license, btest-command-commented

testing/btest: Skip large-cluster under ASAN, bump some timeouts
  testing/btest/cluster/websocket/bad-url.zeek
  testing/btest/scripts/base/frameworks/notice/suppression-batching-cluster.zeek
  testing/btest/supervisor/large-cluster.zeek
Due: btest-command-commented

Binpac support for the TLS 1.3 encrypted client hello extension
  NEWS
  src/analyzer/protocol/ssl/events.bif
  src/analyzer/protocol/ssl/ssl-defs.pac
  src/analyzer/protocol/ssl/tls-handshake-analyzer.pac
  src/analyzer/protocol/ssl/tls-handshake-protocol.pac
Due: none

Add encrypted_client_hello HPKE KDF and AEAD id to ssl-log-ext
  NEWS
  scripts/policy/protocols/ssl/ssl-log-ext.zeek
  testing/btest/Baseline/scripts.policy.protocols.ssl.ssl-log-ext/ssl-all.log
  testing/btest/scripts/policy/protocols/ssl/ssl-log-ext.zeek
  testing/external/commit-hash.zeek-testing
  testing/external/commit-hash.zeek-testing-private
Due: btest-command-commented

Automatically cancel exisiting GH CI workflows on PR update
  .github/workflows/check.yml
  .github/workflows/cifuzz.yml
  .github/workflows/generate-docs.yml
  .github/workflows/pre-commit.yml
Due: none

Do not run concurrent GH actions workflow for anything but tags [skip ci]
  .github/workflows/check.yml
  .github/workflows/cifuzz.yml
  .github/workflows/pre-commit.yml
Due: none

Fix test and format python script for contribution
  testing/btest/Baseline/core.nflog-bad-tlv-len/weird.log
  testing/btest/Traces/nflog-bad-tlv-len.pcap.py
  testing/btest/core/nflog-bad-tlv-len.zeek
Due: btest-command-commented
