Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

license:
  name: Check for license headers
  entry: ./ci/license-header.py
  language: python

btest-command-commented:
  name: Check that all BTest command lines are commented out
  entry: ^\s*@TEST-
  language: pygrep

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/reference/zeekscript/autogenerated-file-analyzer-index.rst
  doc/reference/zeekscript/autogenerated-protocol-analyzer-index.rst
  doc/reference/zeekscript/autogenerated-script-index.rst
  doc/scripts/base/bif/event.bif.zeek.rst
  doc/scripts/base/frameworks/cluster/main.zeek.rst
  doc/scripts/base/init-bare.zeek.rst
  doc/scripts/base/utils/addrs.zeek.rst
  doc/scripts/policy/frameworks/cluster/backend/zeromq/__load__.zeek.rst
  doc/scripts/policy/frameworks/cluster/backend/zeromq/connect.zeek.rst
  doc/scripts/policy/frameworks/cluster/backend/zeromq/index.rst
  doc/scripts/policy/frameworks/cluster/backend/zeromq/main.zeek.rst
  doc/scripts/policy/frameworks/cluster/backend/zeromq/options.zeek.rst
  doc/scripts/test-all-policy.zeek.rst
Due: none

Make Zeek compile against OpenSSL 4.0
  src/file_analysis/analyzer/x509/OCSP.cc
  src/file_analysis/analyzer/x509/OCSP.h
  src/file_analysis/analyzer/x509/X509.cc
  src/file_analysis/analyzer/x509/X509.h
  src/file_analysis/analyzer/x509/X509Common.cc
  src/file_analysis/analyzer/x509/X509Common.h
  src/file_analysis/analyzer/x509/functions.bif
Due: license

Keep track of OpenSSL major version for one of our header files
  CMakeLists.txt
  cmake_templates/zeek-config.h.in
  src/file_analysis/analyzer/x509/X509Common.h
Due: license

Add storage-framework options to known-certs and known-hosts
  scripts/policy/protocols/conn/known-hosts.zeek
  scripts/policy/protocols/conn/known-services.zeek
  scripts/policy/protocols/ssl/known-certs.zeek
  testing/btest/Baseline/scripts.policy.protocols.conn.known-hosts/knownhosts-broker-store.log
  testing/btest/Baseline/scripts.policy.protocols.conn.known-hosts/knownhosts-storage-framework.log
  testing/btest/Baseline/scripts.policy.protocols.conn.known-hosts/logs-diff.txt
  testing/btest/Baseline/scripts.policy.protocols.ssl.known-certs/knowncerts-broker-store.log
  testing/btest/Baseline/scripts.policy.protocols.ssl.known-certs/knowncerts-storage-framework.log
  testing/btest/Baseline/scripts.policy.protocols.ssl.known-certs/logs-diff.txt
  testing/btest/scripts/policy/protocols/conn/known-hosts.zeek
  testing/btest/scripts/policy/protocols/conn/known-services.zeek
  testing/btest/scripts/policy/protocols/ssl/known-certs.zeek
Due: btest-command-commented

Rework naming of option, move default store file location
  NEWS
  scripts/policy/protocols/conn/known-hosts.zeek
  scripts/policy/protocols/conn/known-services.zeek
  scripts/policy/protocols/ssl/known-certs.zeek
  testing/btest/scripts/policy/protocols/conn/known-hosts.zeek
  testing/btest/scripts/policy/protocols/conn/known-services.zeek
  testing/btest/scripts/policy/protocols/ssl/known-certs.zeek
Due: btest-command-commented

renamed a number of functions and other identifiers associatd with ZAM profiling BiFs
  scripts/base/init-bare.zeek
  src/script_opt/FuncInfo.cc
  src/script_opt/ScriptOpt.cc
  src/script_opt/ScriptOpt.h
  src/script_opt/ZAM/CMakeLists.txt
  src/script_opt/ZAM/ZBody.cc
  src/script_opt/ZAM/ZBody.h
  src/script_opt/ZAM/zam-prof.bif
  testing/btest/Baseline/coverage.bare-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.default-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/plugins.hooks/output
  testing/btest/opt/ZAM-bif-tracking.zeek
  testing/btest/opt/ZAM-profiling.zeek
Due: license, btest-command-commented

init-bare: Fix missing export section for ZAM::Prof
  CHANGES
  VERSION
  scripts/base/init-bare.zeek
Due: none

Update pe.log baseline for CTU-SME external test
  testing/external/commit-hash.zeek-testing
Due: none

Require sqlite3 binary for scripts.base.frameworks.storage.sqlite.multi-backend btest
  testing/btest/scripts/base/frameworks/storage/sqlite/multi-backend.zeek
Due: btest-command-commented

CI: Drop Fedora 42 (EOL May 13), add Fedora 44
  .cirrus.yml
  ci/fedora-44/Dockerfile
Due: none

CI: drop openSUSE Leap 15.6, EOL'd April 30
  .cirrus.yml
  ci/opensuse-leap-15.6/Dockerfile
Due: none

Merge remote-tracking branch 'origin/topic/timw/require-sqlite3-for-multi-backend-btest'
  CHANGES
  VERSION
  testing/btest/scripts/base/frameworks/storage/sqlite/multi-backend.zeek
Due: btest-command-commented

Fix recently-introduced clang-tidy findings
  src/script_opt/ScriptOpt.cc
  src/script_opt/ScriptOpt.h
Due: license

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/reference/zeekscript/autogenerated-script-index.rst
  doc/scripts/base/bif/__load__.zeek.rst
  doc/scripts/base/bif/event.bif.zeek.rst
  doc/scripts/base/bif/index.rst
  doc/scripts/base/bif/zam-prof.bif.zeek.rst
  doc/scripts/base/init-bare.zeek.rst
  doc/scripts/policy/protocols/conn/known-hosts.zeek.rst
  doc/scripts/policy/protocols/conn/known-services.zeek.rst
  doc/scripts/policy/protocols/ssl/known-certs.zeek.rst
Due: none

Merge remote-tracking branch 'origin/topic/timw/require-sqlite3-for-multi-backend-btest'
  CHANGES
  VERSION
  testing/btest/scripts/base/frameworks/storage/sqlite-multi-backend.zeek
Due: btest-command-commented

CI: fix openSUSE Leap 16.0 EOL date in comment
  .cirrus.yml
Due: none

Merge remote-tracking branch 'origin/topic/johanna/u2604ci'
  .cirrus.yml
  CHANGES
  VERSION
  ci/ubuntu-26.04/Dockerfile
Due: none

Merge branch 'topic/christian/ci-updates'
  .cirrus.yml
  CHANGES
  VERSION
  ci/fedora-44/Dockerfile
  ci/opensuse-leap-15.6/Dockerfile
Due: none

for script optimization of records, profiling hashes now always only cover the original fields
  src/script_opt/CPP/RuntimeOps.h
  src/script_opt/Inline.cc
  src/script_opt/ProfileFunc.cc
  src/script_opt/ProfileFunc.h
  src/script_opt/ScriptOpt.cc
Due: license

Warn when expiration interval is a dynamic value
  src/Attr.cc
Due: license

ci: fix macos build
  .cirrus.yml
  ci/macos/prepare.sh
Due: none

Merge remote-tracking branch 'origin/topic/bbannier/bump-spicy'
  CHANGES
  VERSION
Due: none

Merge remote-tracking branch 'origin/topic/bbannier/ci-macos-node-dep'
  .cirrus.yml
  CHANGES
  VERSION
  ci/macos/prepare.sh
Due: none

Merge remote-tracking branch 'origin/topic/bbannier/ci-macos-node-dep'
  .cirrus.yml
  ci/macos/prepare.sh
Due: none

Updating CHANGES and VERSION.
  CHANGES
  VERSION
Due: none

Remove support for OpenSSL versions < 3.0
  CMakeLists.txt
  cmake_templates/zeek-config.h.in
  src/OpaqueVal.cc
  src/analyzer/protocol/quic/CMakeLists.txt
  src/analyzer/protocol/ssl/SSL.cc
  src/file_analysis/analyzer/x509/X509.cc
  testing/btest/Baseline/scripts.base.protocols.ssl.x509_extensions/.stdout
  testing/btest/Baseline/scripts.base.protocols.ssl.x509_extensions/stdout-openssl-3.0
  testing/btest/scripts/base/protocols/ssl/x509_extensions.test
  testing/btest/scripts/policy/protocols/ssl/decryption-keylog.zeek
  testing/btest/scripts/policy/protocols/ssl/decryption.zeek
Due: license, btest-command-commented

Add header size limit for MIME entities
  scripts/base/init-bare.zeek
  src/analyzer/protocol/mime/MIME.cc
  src/analyzer/protocol/mime/MIME.h
  src/analyzer/protocol/mime/consts.bif
  testing/btest/Baseline/scripts.base.protocols.smtp.mime-header-size-limit/weird.log
  testing/btest/Traces/smtp/mime-header-size-limit.pcap.gz
  testing/btest/Traces/smtp/mime-header-size-limit.pcap.py
  testing/btest/scripts/base/protocols/smtp/mime-header-size-limit.zeek
Due: license, btest-command-commented

Add `x` for exceeded mime header length in history
  src/analyzer/protocol/mime/MIME.cc
  testing/btest/Baseline/scripts.base.protocols.smtp.mime-header-size-limit/conn-history.log
  testing/btest/scripts/base/protocols/smtp/mime-header-size-limit.zeek
Due: license, btest-command-commented

Update NEWS for v8.0.8
  NEWS
Due: none

Update docs for v8.0.8
  doc/script-reference/autogenerated-file-analyzer-index.rst
  doc/script-reference/autogenerated-protocol-analyzer-index.rst
  doc/scripts/base/bif/event.bif.zeek.rst
  doc/scripts/base/init-bare.zeek.rst
Due: none

Move FreeBSD to unsupported-platform territory
  .cirrus.yml
  NEWS
Due: none

Update docs for v8.2.0
  CHANGES
  VERSION
  doc/reference/zeekscript/autogenerated-file-analyzer-index.rst
  doc/reference/zeekscript/autogenerated-protocol-analyzer-index.rst
  doc/scripts/base/bif/event.bif.zeek.rst
  doc/scripts/base/init-bare.zeek.rst
Due: none

Disable ZIP analyzer by default, add policy script
  NEWS
  scripts/policy/files/zip/register.zeek
  scripts/test-all-policy.zeek
  src/file_analysis/analyzer/zip/zip.evt
  testing/btest/scripts/base/files/zip/a.zip.zeek
  testing/btest/scripts/base/files/zip/basic.zeek
  testing/btest/scripts/base/files/zip/descriptor.zeek
  testing/btest/scripts/base/files/zip/nested.zeek
  testing/external/scripts/testing-setup.zeek
Due: license, btest-command-commented

Path conditions:
  license: any of: \.(h|c|cpp|cc|spicy|evt)$, but not: ^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$
  btest-command-commented: any of: ^testing/btest/.*$
