Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

license:
  name: Check for license headers
  entry: ./ci/license-header.py
  language: python

btest-command-commented:
  name: Check that all BTest command lines are commented out
  entry: ^\s*@TEST-
  language: pygrep

Merge remote-tracking branch 'origin/topic/awelzel/5119-multi-arch-imagetools-over-docker-manifest'
  .cirrus.yml
  CHANGES
  VERSION
  ci/container-images-tag-and-push.sh
Due: none

Merge remote-tracking branch 'origin/topic/awelzel/5121-no-rc-container-images'
  .cirrus.yml
  CHANGES
  VERSION
Due: none

Merge remote-tracking branch 'origin/topic/awelzel/systemd-generator-follow-up-for-8.1'
  CHANGES
  VERSION
  testing/btest/Baseline/tools.systemd-generator.test-interface-substitution/..dir3.zeek-worker@1.service.d.10-zeek-systemd-generator.conf
  testing/btest/Baseline/tools.systemd-generator.test-interface-substitution/..dir3.zeek-worker@2.service.d.10-zeek-systemd-generator.conf
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator-defaults/normal-dir.zeek-archiver.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator-defaults/normal-dir.zeek-logger@.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator-defaults/normal-dir.zeek-manager.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator-defaults/normal-dir.zeek-proxy@.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator-defaults/normal-dir.zeek-worker@.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator-defaults/out
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-archiver.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-logger@.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-manager.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-proxy@.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-worker@.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/out
  testing/btest/tools/systemd-generator/test-cpulist.sh
  testing/btest/tools/systemd-generator/test-interface-substitution.sh
  testing/btest/tools/systemd-generator/test-zeek-cluster-layout-generator.sh
  tools/systemd-generator/README.md
  tools/systemd-generator/etc/zeek/zeek.conf
  tools/systemd-generator/src/systemd-unit.cc
  tools/systemd-generator/src/systemd-unit.h
  tools/systemd-generator/src/zeek-cluster-config.cc
  tools/systemd-generator/src/zeek-systemd-generator.cc
Due: license, btest-command-commented

Merge remote-tracking branch 'origin/topic/vern/zam-self-assignment-fix2'
  CHANGES
  VERSION
  src/script_opt/Reduce.cc
  testing/btest/Baseline/opt.regress-self-assign/output
  testing/btest/opt/regress-self-assign.zeek
Due: license, btest-command-commented

fixes for -O gen-standalone-C++ working with empty Attributes
  src/script_opt/CPP/Attrs.cc
  src/script_opt/CPP/Attrs.h
  src/script_opt/CPP/Inits.cc
  src/script_opt/CPP/InitsInfo.cc
  src/script_opt/ProfileFunc.cc
Due: license

IPAddr: Align IPPrefix::ConvertString() parsing to Zeek script semantics
  NEWS
  src/IPAddr.cc
  testing/btest/Baseline/bifs.to_subnet/error
  testing/btest/Baseline/bifs.to_subnet/output
  testing/btest/Baseline/language.subnet/out
  testing/btest/bifs/to_subnet.zeek
  testing/btest/language/subnet.zeek
Due: license, btest-command-commented

Bump Spicy.
  src/spicy/spicyz/main.cc
  testing/btest/Baseline/spicy.profiling/prof.log
Due: license, btest-command-commented

Merge remote-tracking branch 'origin/topic/robin/spicy-bump'
  CHANGES
  VERSION
  src/spicy/spicyz/main.cc
  testing/btest/Baseline/spicy.profiling/prof.log
Due: license, btest-command-commented

Add policy script to disable the opcode and opcode_name fields from dns.log
  NEWS
  scripts/policy/protocols/dns/disable-opcode-log-fields.zeek
  scripts/test-all-policy.zeek
  scripts/zeekygen/__load__.zeek
Due: none

Merge remote-tracking branch 'origin/topic/timw/add-script-to-remove-opcode-from-dns-log'
  CHANGES
  NEWS
  VERSION
  scripts/policy/protocols/dns/disable-opcode-log-fields.zeek
  scripts/test-all-policy.zeek
  scripts/zeekygen/__load__.zeek
Due: none

Update docs for 8.1.0-rc2 release [nomail] [skip ci]
  doc/conf.py
  doc/script-reference/autogenerated-script-index.rst
  doc/scripts/base/protocols/dns/main.zeek.rst
  doc/scripts/policy/protocols/dns/disable-opcode-log-fields.zeek.rst
  doc/scripts/zeekygen/__load__.zeek.rst
Due: none

Updating CHANGES and VERSION.
  CHANGES
  VERSION
Due: none

Fix tabs in input framework docs
  doc/frameworks/input.rst
  doc/frameworks/input/denylist.file
  doc/frameworks/input/denylist.jsonl
  doc/frameworks/input/input_json_1.zeek
Due: none

Fix some formatting in 8.1.0 NEWS [nomai] [skip ci]
  NEWS
Due: none

CI: Disable running tests for clang-tidy tasks
  .cirrus.yml
Due: none

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/script-reference/autogenerated-script-index.rst
  doc/scripts/base/protocols/dns/main.zeek.rst
  doc/scripts/policy/protocols/dns/disable-opcode-log-fields.zeek.rst
  doc/scripts/zeekygen/__load__.zeek.rst
Due: none

testing/scripts: Add btest-diff-cut
  testing/scripts/btest-diff-cut
Due: none

testing/btest: Some btest-diff-cut examples
  testing/btest/Baseline/scripts.base.frameworks.logging.delay.basic-2/test.log
  testing/btest/Baseline/scripts.base.frameworks.logging.delay.basic-3/test.log
  testing/btest/Baseline/scripts.base.frameworks.logging.delay.basic-4/test.log
  testing/btest/Baseline/scripts.base.frameworks.logging.delay.basic-5/test.log
  testing/btest/Baseline/scripts.base.frameworks.logging.delay.basic/test.log
  testing/btest/Baseline/scripts.base.frameworks.logging.delay.coerce/test.log
  testing/btest/Baseline/scripts.base.protocols.websocket.wstunnel-https/conn.log
  testing/btest/Baseline/scripts.base.protocols.websocket.wstunnel-https/ssl.log
  testing/btest/Baseline/scripts.base.protocols.websocket.wstunnel-ssh/conn.log
  testing/btest/Baseline/scripts.base.protocols.websocket.wstunnel-ssh/ssh.log
  testing/btest/core/mmdb/explicit-open.zeek
  testing/btest/core/mmdb/reopen.zeek
  testing/btest/scripts/base/frameworks/logging/delay/basic.zeek
  testing/btest/scripts/base/frameworks/logging/delay/coerce.zeek
  testing/btest/scripts/base/protocols/ldap/basic.zeek
  testing/btest/scripts/base/protocols/ldap/who-am-i.zeek
  testing/btest/scripts/base/protocols/websocket/wstunnel-https.zeek
  testing/btest/scripts/base/protocols/websocket/wstunnel-ssh.zeek
Due: btest-command-commented

fixup! testing/scripts: Add btest-diff-cut
  testing/scripts/btest-diff-cut
Due: none

fixup! testing/btest: Some btest-diff-cut examples
  testing/btest/Baseline/scripts.base.protocols.websocket.broker-websocket/conn.log
  testing/btest/Baseline/scripts.base.protocols.websocket.broker-websocket/websocket.log
  testing/btest/Baseline/scripts.base.protocols.websocket.jupyter-websocket/conn.log
  testing/btest/Baseline/scripts.base.protocols.websocket.jupyter-websocket/websocket.log
  testing/btest/Baseline/scripts.base.protocols.websocket.key-accept-wrong/websocket.log
  testing/btest/Baseline/scripts.base.protocols.websocket.key-accept-wrong/weird.log
  testing/btest/Baseline/scripts.base.protocols.websocket.wstunnel-http/conn.log
  testing/btest/Baseline/scripts.base.protocols.websocket.wstunnel-http/http.log
  testing/btest/Baseline/scripts.base.protocols.websocket.wstunnel-http/websocket.log
  testing/btest/Baseline/scripts.base.protocols.websocket.wstunnel-https/websocket.log
  testing/btest/Baseline/scripts.base.protocols.websocket.wstunnel-ssh-configure-break/conn.log
  testing/btest/Baseline/scripts.base.protocols.websocket.wstunnel-ssh-configure-break/websocket.log
  testing/btest/Baseline/scripts.base.protocols.websocket.wstunnel-ssh-configure-wrong/conn.log
  testing/btest/Baseline/scripts.base.protocols.websocket.wstunnel-ssh-configure-wrong/websocket.log
  testing/btest/Baseline/scripts.base.protocols.websocket.wstunnel-ssh-configure/conn.log
  testing/btest/Baseline/scripts.base.protocols.websocket.wstunnel-ssh-configure/ssh.log
  testing/btest/Baseline/scripts.base.protocols.websocket.wstunnel-ssh-configure/websocket.log
  testing/btest/Baseline/scripts.base.protocols.websocket.wstunnel-ssh-disabled/conn.log
  testing/btest/Baseline/scripts.base.protocols.websocket.wstunnel-ssh/websocket.log
  testing/btest/scripts/base/protocols/websocket/broker-websocket.zeek
  testing/btest/scripts/base/protocols/websocket/jupyter-websocket.zeek
  testing/btest/scripts/base/protocols/websocket/key-accept-wrong.zeek
  testing/btest/scripts/base/protocols/websocket/wstunnel-http.zeek
  testing/btest/scripts/base/protocols/websocket/wstunnel-https.zeek
  testing/btest/scripts/base/protocols/websocket/wstunnel-ssh-configure-break.zeek
  testing/btest/scripts/base/protocols/websocket/wstunnel-ssh-configure-wrong.zeek
  testing/btest/scripts/base/protocols/websocket/wstunnel-ssh-configure.zeek
  testing/btest/scripts/base/protocols/websocket/wstunnel-ssh-disabled.zeek
  testing/btest/scripts/base/protocols/websocket/wstunnel-ssh.zeek
Due: btest-command-commented

Fix trailing spaces in ODesc/Zeekygen for docs
  src/Desc.cc
  src/Val.cc
  src/zeekygen/PackageInfo.cc
  src/zeekygen/ReStructuredTextTable.cc
  src/zeekygen/Target.cc
  testing/btest/Baseline/bifs.from_json/.stdout
  testing/btest/Baseline/bifs.table_keys/out
  testing/btest/Baseline/bifs.table_values/out
  testing/btest/Baseline/broker.remote_event_index_types/recv.recv.out
  testing/btest/Baseline/broker.store.brokerstore-attr-simple/clone.out
  testing/btest/Baseline/doc.zeekygen.example/example.rst
  testing/btest/Baseline/doc.zeekygen.func-params/autogen-reST-func-params.rst
  testing/btest/Baseline/doc.zeekygen.identifier/test.rst
  testing/btest/Baseline/doc.zeekygen.package/test.rst
  testing/btest/Baseline/language.cross-product-init/output
  testing/btest/Baseline/language.init-integration/out
  testing/btest/Baseline/language.named-set-ctors/out
  testing/btest/Baseline/language.set-vector-index/out
  testing/btest/Baseline/language.table-init-container-ctors/output
  testing/btest/Baseline/scripts.base.frameworks.intel.cluster-indicator-inserted-new-min-store/worker-1-run-2..stdout
  testing/btest/Baseline/spicy.zeekygen/output2
Due: license, btest-command-commented

btest/Baseline.zam: Remove to_subnet baselines
  testing/btest/Baseline.zam/bifs.to_subnet/error
  testing/btest/Baseline.zam/bifs.to_subnet/output
Due: btest-command-commented

NEWS: Add a note about ZeroMQ communication being unencrypted by default
  NEWS
Due: none

Add note to 8.1 NEWS about dns_msg [skip ci]
  NEWS
Due: none

Update ZAM btest baseline that fails on CI
  testing/btest/Baseline.zam/bifs.from_json/.stdout
  testing/btest/Baseline.zam/broker.remote_event_index_types/recv.recv.out
Due: btest-command-commented

Describe current as default docs version
  doc/index.rst
Due: none

Remove gcc-10.2 workaround from util::strsplit
  src/util.cc
Due: license

Directly render into std::string where appropriate
  src/IPAddr.cc
  src/util.cc
Due: license

Add minor optimization for strings without trailing zeroes
  src/util.cc
Due: license

Remove uses of modp_* methods from threading::Formatter
  src/IPAddr.cc
  src/threading/Formatter.cc
  testing/btest/Baseline/scripts.base.frameworks.logging.ascii-timestamps/test.log
Due: license, btest-command-commented

Directly include <charconv>
  src/util.cc
Due: license

Replace use of modp_dtoa2 in ODesc::Add with std::to_chars
  src/Desc.cc
  src/util.cc
  src/util.h
  testing/btest/Baseline/language.double/out
Due: license, btest-command-commented

Replace uses of modp integer methods in ZAM code
  src/script_opt/ZAM/BuiltInSupport.cc
  src/script_opt/ZAM/BuiltInSupport.h
  src/script_opt/ZAM/OPs/ZBI.op
Due: license

Replace uses of modp integer methods in ODesc::Add
  src/Desc.cc
Due: license

Replace use of modp_dtoa2 method in ZAM code
  src/script_opt/ZAM/BuiltInSupport.cc
Due: license

-O gen-standalone-C++ support for creating modules unique to compiled scripts
  src/script_opt/CPP/Driver.cc
  src/script_opt/CPP/Inits.cc
  src/script_opt/CPP/Runtime.h
  src/script_opt/CPP/Vars.h
Due: license

minor factoring of logic for @ifdef conditionals
  src/scan.l
Due: none

Add btest, example of using pktsrc metadata
  testing/btest/Baseline/core.pcapng-pktsrc/conn.log
  testing/btest/Baseline/core.pcapng-pktsrc/out
  testing/btest/Traces/README
  testing/btest/Traces/pcapng-multi-interface.pcapng
  testing/btest/core/pcapng-pktsrc.zeek
Due: btest-command-commented

Path conditions:
  license: any of: \.(h|c|cpp|cc|spicy|evt)$, but not: ^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$
  btest-command-commented: any of: ^testing/btest/.*$
