Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*|doc/devel/spicy/autogen/.*.spicy'

ci: enable btests on Windows with retry logic
  .cirrus.yml
  ci/windows/run-btests.sh
  ci/windows/test.cmd
Due: none

build : add openssl to vcpkg dependencies
  vcpkg.json
Due: none

testing: skip flaky tests in Windows CI
  testing/btest/broker/peering-directionality.zeek
  testing/btest/cluster/zeromq/overload-worker-proxy-topic-drop.zeek
  testing/btest/cluster/zeromq/overload-worker-proxy-topic-no-drop.zeek
  testing/btest/scripts/base/files/x509/log-caching-cluster.test
  testing/btest/scripts/base/files/x509/log-caching-disabled-cluster.test
  testing/btest/scripts/base/frameworks/logging/rotate-ascii-logdir-leftover-log-rotation.zeek
  testing/btest/scripts/base/frameworks/logging/rotate-custom.zeek
  testing/btest/scripts/base/frameworks/openflow/broker-basic.zeek
  testing/btest/scripts/policy/frameworks/cluster/cluster_started_restart_manager.zeek
  testing/btest/scripts/policy/frameworks/cluster/cluster_started_restart_worker.zeek
  testing/btest/supervisor/config-bare-mode.zeek
  testing/btest/supervisor/config-cluster-log-archival.zeek
  testing/btest/supervisor/config-cluster-multi-logger.zeek
  testing/btest/supervisor/config-cluster.zeek
  testing/btest/supervisor/config-directory.zeek
  testing/btest/supervisor/config-env.zeek
  testing/btest/supervisor/config-output-redirect.zeek
  testing/btest/supervisor/config-scripts.zeek
  testing/btest/supervisor/create-windows.zeek
  testing/btest/supervisor/destroy.zeek
  testing/btest/supervisor/output-redirect-windows.zeek
  testing/btest/supervisor/revive-leaf-windows.zeek
  testing/scripts/diff-remove-abspath
  testing/scripts/is-windows-ci
Due: btest-command-commented

Add test with a gap during an SMTP BDAT transaction
  testing/btest/Baseline/scripts.base.protocols.smtp.bdat-gap/conn.log.cut
  testing/btest/Baseline/scripts.base.protocols.smtp.bdat-gap/files.log.cut
  testing/btest/Baseline/scripts.base.protocols.smtp.bdat-gap/out
  testing/btest/Baseline/scripts.base.protocols.smtp.bdat-gap/smtp.log
  testing/btest/Baseline/scripts.base.protocols.smtp.bdat-gap/weird.log
  testing/btest/Traces/smtp/smtp-bdat-gap.pcap
  testing/btest/scripts/base/protocols/smtp/bdat-gap.test
Due: btest-command-commented

[windows] fix spicyz build failure after spicy latest changes
  src/spicy/spicyz/glue-compiler.cc
Due: license

Add X509 test with a ML-DSA-44 certificate.
  testing/btest/Baseline/scripts.base.protocols.ssl.ml-dsa-44-cert/ssl.log
  testing/btest/Baseline/scripts.base.protocols.ssl.ml-dsa-44-cert/x509.log
  testing/btest/Traces/tls/ml-dsa-44-cert.pcap
  testing/btest/scripts/base/protocols/ssl/ml-dsa-44-cert.test
Due: btest-command-commented

Enable libsodium for ZeroMQ CURVE encryption support on Windows
  vcpkg.json
Due: none

remove vestigial method for restoring ZAM instructions saved to a file
  src/script_opt/ZAM/ZBody.cc
  src/script_opt/ZAM/ZBody.h
Due: license

SMTP: Forward Undelivered() as Gap() for rfc822_msg_file_analysis
  NEWS
  src/analyzer/protocol/smtp/SMTP.cc
  src/analyzer/protocol/smtp/SMTP.h
  testing/btest/Baseline/scripts.base.protocols.smtp.rfc822-msg-file-analysis-gap/extract_files.mail
  testing/btest/Baseline/scripts.base.protocols.smtp.rfc822-msg-file-analysis-gap/files.cut
  testing/btest/Baseline/scripts.base.protocols.smtp.rfc822-msg-file-analysis-gap/out
  testing/btest/scripts/base/protocols/smtp/rfc822-msg-file-analysis-gap.test
Due: license, btest-command-commented

dns: validate LOC rdlength before parsing
  src/analyzer/protocol/dns/DNS.cc
  testing/btest/Traces/dns/loc-invalid-length.pcap
  testing/btest/scripts/base/protocols/dns/loc-invalid-length.zeek
Due: license, btest-command-commented

dns: reject malformed names and propagate parse errors
  src/analyzer/protocol/dns/DNS.cc
  src/analyzer/protocol/dns/DNS.h
  testing/btest/Traces/dns/dns-invalid-names.pcap
  testing/btest/scripts/base/protocols/dns/invalid-names.zeek
Due: license, btest-command-commented

dns: enforce rdlength bounds in EDNS option parsing
  src/analyzer/protocol/dns/DNS.cc
  testing/btest/Traces/dns/dns-edns-bad-length.pcap
  testing/btest/scripts/base/protocols/dns/edns-bad-length.zeek
Due: license, btest-command-commented

Merge branch 'smtp_state' of https://github.com/cccs-will/zeek
  CHANGES
  VERSION
  src/analyzer/protocol/smtp/SMTP.cc
  testing/btest/Baseline/scripts.base.protocols.smtp.bdat-gap/conn.log.cut
  testing/btest/Baseline/scripts.base.protocols.smtp.bdat-gap/files.log.cut
  testing/btest/Baseline/scripts.base.protocols.smtp.bdat-gap/out
  testing/btest/Baseline/scripts.base.protocols.smtp.bdat-gap/smtp.log
  testing/btest/Baseline/scripts.base.protocols.smtp.bdat-gap/weird.log
  testing/btest/Traces/smtp/smtp-bdat-gap.pcap
  testing/btest/scripts/base/protocols/smtp/bdat-gap.test
Due: license, btest-command-commented

Update NEWS with more 8.1.2 additions [nomail]
  NEWS
Due: none

Update NEWS with more 8.0.7 additions [nomail]
  NEWS
Due: none

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/reference/zeekscript/autogenerated-protocol-analyzer-index.rst
  doc/scripts/base/bif/plugins/Zeek_SSL.events.bif.zeek.rst
  doc/scripts/builtin-plugins/Zeek_JavaScript/__load__.zeek.rst
Due: none

Add warning to SSL::hash_algorithms and signature_algorithms.
  scripts/base/protocols/ssl/consts.zeek
Due: none

fix: apply clang-format
  src/analyzer/protocol/dns/DNS.cc
Due: license

testing/btest: Add a few more log writes to ascii-json-utf8
  testing/btest/Baseline/scripts.base.frameworks.logging.ascii-json-utf8/ssh.log
  testing/btest/scripts/base/frameworks/logging/ascii-json-utf8.zeek
Due: btest-command-commented

util/encode_utf8: Revert to explicit printable controls list
  src/util.cc
  src/util.h
Due: license

X509 certificate type parsing: fix build failure on Rocky Linux 8
  src/file_analysis/analyzer/x509/X509.cc
Due: license

fixup! reworking transports
  src/Conn.cc
  src/Conn.h
  src/transports/Manager.h
Due: license

reworking transports
  src/CMakeLists.txt
  src/packet_analysis/protocol/icmp/ICMP.cc
  src/packet_analysis/protocol/ip/IPBasedAnalyzer.cc
  src/packet_analysis/protocol/ip/IPBasedAnalyzer.h
  src/packet_analysis/protocol/tcp/TCP.cc
  src/packet_analysis/protocol/udp/UDP.cc
  src/packet_analysis/protocol/unknown_ip_transport/UnknownIPTransport.cc
  src/plugin/Component.h
  src/transports/Component.cc
  src/transports/Component.h
  src/transports/Manager.cc
  src/transports/Manager.h
Due: license

Add section about Windows improvements to 8.2 NEWS [nomail] [skip ci]
  NEWS
Due: none

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/scripts/base/protocols/ssl/consts.zeek.rst
Due: none

broker/WebSocketShim: Do not throw on unhandled broker::zeek messages
  src/broker/WebSocketShim.h
  testing/btest/Baseline/cluster.websocket.broker.match-all-subscription/..client..stderr
  testing/btest/Baseline/cluster.websocket.broker.match-all-subscription/..client..stdout
  testing/btest/Baseline/cluster.websocket.broker.match-all-subscription/..logger-1..stdout
  testing/btest/Baseline/cluster.websocket.broker.match-all-subscription/..logger-2..stdout
  testing/btest/Baseline/cluster.websocket.broker.match-all-subscription/..manager..stderr
  testing/btest/Baseline/cluster.websocket.broker.match-all-subscription/..manager..stdout
  testing/btest/cluster/websocket/broker/match-all-subscription.zeek
Due: license, btest-command-commented

testing/btest/broker/publish-errors: Filter out PEER_UNAVAILALBE messages on stderr
  testing/btest/broker/publish-errors.zeek
Due: btest-command-commented

testing/btest/opt/gen-cpp-basic: Skip on -a zam runs
  testing/btest/opt/gen-cpp-basic.zeek
Due: btest-command-commented

scan.l: Reject strings with embedded NUL bytes
  .gitattributes
  src/scan.l
  testing/btest/Baseline/language.string-nul-2/.stderr
  testing/btest/Baseline/language.string-nul/.stderr
  testing/btest/language/string-nul.zeek
Due: btest-command-commented

xdp-shunt: Add XDP shunter to build and whatnot
  .pre-commit-config.yaml
  CMakeLists.txt
  configure
  scripts/base/frameworks/xdp-shunt/__load__.zeek
  scripts/base/frameworks/xdp-shunt/__preload__.zeek
  scripts/base/frameworks/xdp-shunt/types.zeek
  scripts/base/frameworks/xdp-shunt/xdp/__load__.zeek
  scripts/base/frameworks/xdp-shunt/xdp/connect.zeek
  scripts/base/frameworks/xdp-shunt/xdp/main.zeek
  scripts/base/frameworks/xdp-shunt/xdp/shunt/conn_id/__load__.zeek
  scripts/base/frameworks/xdp-shunt/xdp/shunt/ip_pair/__load__.zeek
  scripts/base/frameworks/xdp-shunt/xdp/shunt/policy/__load__.zeek
  scripts/base/init-bare.zeek
  scripts/policy/frameworks/xdp-shunt/__load__.zeek
  scripts/policy/frameworks/xdp-shunt/bulk.zeek
  scripts/policy/frameworks/xdp-shunt/conn-id-logging.zeek
  scripts/policy/frameworks/xdp-shunt/connect.zeek
  scripts/policy/frameworks/xdp-shunt/main.zeek
  scripts/policy/frameworks/xdp-shunt/shunt-conn-id.zeek
  scripts/policy/frameworks/xdp-shunt/shunt-ip-pair.zeek
  scripts/policy/frameworks/xdp-shunt/ssl.zeek
  scripts/test-all-policy.zeek
  src/CMakeLists.txt
  src/types.bif
  src/xdp_shunt/CMakeLists.txt
  src/xdp_shunt/Plugin.cc
  src/xdp_shunt/Plugin.h
  src/xdp_shunt/ShuntUtil.cc
  src/xdp_shunt/ShuntUtil.h
  src/xdp_shunt/XDPProgram.cc
  src/xdp_shunt/XDPProgram.h
  src/xdp_shunt/bpf/UserXDP.cc
  src/xdp_shunt/bpf/UserXDP.h
  src/xdp_shunt/bpf/filter.c
  src/xdp_shunt/bpf/filter_common.h
  src/xdp_shunt/bpf/vmlinux.h
  src/xdp_shunt/conn_id_shunter.bif
  src/xdp_shunt/ip_pair_shunter.bif
  src/xdp_shunt/shunter.bif
  testing/btest/Baseline/coverage.find-bro-logs/out
Due: license, btest-command-commented

Document the XDP shunter
  doc/advanced/index.rst
  doc/advanced/xdp-shunt.rst
  doc/advanced/xdp-shunt/basic.zeek
  doc/advanced/xdp-shunt/shunt-internal-only.zeek
  doc/advanced/xdp-shunt/shunt-ssl.zeek
Due: none

xdp-shunt: Add Rust XDP loader
  CMakeLists.txt
  tools/zeek-xdp-loader/.cargo/config.toml
  tools/zeek-xdp-loader/.gitignore
  tools/zeek-xdp-loader/CMakeLists.txt
  tools/zeek-xdp-loader/Cargo.lock
  tools/zeek-xdp-loader/Cargo.toml
  tools/zeek-xdp-loader/rustfmt.toml
  tools/zeek-xdp-loader/src/main.rs
  tools/zeek-xdp-loader/src/maps.rs
Due: none

Add hook to suppress shunting
  scripts/policy/frameworks/xdp-shunt/main.zeek
  scripts/policy/frameworks/xdp-shunt/shunt-conn-id.zeek
Due: none

Expr/RecordConstructorExpr: Concretize unspecified vectors only if field type is a vector
  src/Expr.cc
  testing/btest/Baseline/language.record-vector-any-field-2/.stderr
  testing/btest/Baseline/language.record-vector-any-field-2/.stdout
  testing/btest/Baseline/language.record-vector-any-field/.stderr
  testing/btest/Baseline/language.record-vector-any-field/.stdout
  testing/btest/language/record-vector-any-field.zeek
Due: license, btest-command-commented
