Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

license:
  name: Check for license headers
  entry: ./ci/license-header.py
  language: python

btest-command-commented:
  name: Check that all BTest command lines are commented out
  entry: ^\s*@TEST-
  language: pygrep

testing/btest/dns: Add scapy scripts and generated PCAPs for alpn/port parsing
  testing/btest/Baseline/scripts.base.protocols.dns.svcb-alpn-malformed-len/out-too-long
  testing/btest/Baseline/scripts.base.protocols.dns.svcb-alpn-malformed-len/out-too-short
  testing/btest/Baseline/scripts.base.protocols.dns.svcb-alpn-malformed-len/weird.log-too-long
  testing/btest/Baseline/scripts.base.protocols.dns.svcb-alpn-malformed-len/weird.log-too-short
  testing/btest/Baseline/scripts.base.protocols.dns.svcb-port-malformed/out
  testing/btest/Baseline/scripts.base.protocols.dns.svcb-port-malformed/weird.log
  testing/btest/Traces/README
  testing/btest/Traces/dns/svcb-alpn-malformed-len-too-long.pcap
  testing/btest/Traces/dns/svcb-alpn-malformed-len-too-short.pcap
  testing/btest/Traces/dns/svcb-alpn-malformed.pcap.py
  testing/btest/Traces/dns/svcb-port-malformed.pcap
  testing/btest/Traces/dns/svcb-port-malformed.pcap.py
  testing/btest/scripts/base/protocols/dns/svcb-alpn-malformed-len.zeek
  testing/btest/scripts/base/protocols/dns/svcb-port-malformed.zeek
Due: btest-command-commented

Start of v9.0.0 development
  NEWS
  VERSION
  testing/btest/scripts/site/local-compat.test
Due: btest-command-commented

Updating CHANGES and VERSION.
  CHANGES
  VERSION
Due: none

DNS: Use ExtractStream() for alpn string
  src/analyzer/protocol/dns/DNS.cc
Due: license

Fix spicy.preprocessor btest
  testing/btest/spicy/preprocessor.evt
Due: btest-command-commented

Include zeek-packet-source-udp as builtin plugin
  .gitmodules
  CMakeLists.txt
  NEWS
  testing/btest/coverage/bare-load-baseline.test
  testing/btest/coverage/default-load-baseline.test
  testing/btest/plugins/hooks-plugin/src/Plugin.cc
Due: btest-command-commented

tools/systemd-generator: Write NUMAPolicy also for drop-in
  tools/systemd-generator/src/systemd-unit.cc
Due: license

tools/systemd-generator: Only render Nice= and MemoryMax= when set
  testing/btest/Baseline/tools.systemd-generator.test-ext-path/..dir1.zeek-manager.service
  testing/btest/Baseline/tools.systemd-generator.test-ext-path/..dir1.zeek-worker@.service
  testing/btest/Baseline/tools.systemd-generator.test-ext-zeek-path/..dir1.zeek-manager.service
  testing/btest/Baseline/tools.systemd-generator.test-ext-zeek-path/..dir1.zeek-worker@.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator-defaults/normal-dir.zeek-archiver.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator-defaults/normal-dir.zeek-logger@.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator-defaults/normal-dir.zeek-manager.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator-defaults/normal-dir.zeek-proxy@.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator-defaults/normal-dir.zeek-setup.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator-defaults/normal-dir.zeek-worker@.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-archiver.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-logger@.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-manager.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-proxy@.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-setup.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-worker@.service
  tools/systemd-generator/src/systemd-unit.cc
  tools/systemd-generator/src/systemd-unit.h
  tools/systemd-generator/src/zeek-cluster-config.cc
  tools/systemd-generator/src/zeek-cluster-config.h
  tools/systemd-generator/src/zeek-systemd-generator.cc
Due: license, btest-command-commented

doc: Add some notes about zeek.conf and systemd
  doc/advanced/deploy/index.rst
  doc/advanced/deploy/systemd.rst
  doc/advanced/index.rst
Due: none

Cap all parsed Redis fields to 250 bytes
  src/analyzer/protocol/redis/redis.spicy
  testing/btest/Baseline/scripts.base.protocols.redis.large-requests-responses/.stderr
  testing/btest/Baseline/scripts.base.protocols.redis.large-requests-responses/redis.log
  testing/btest/Traces/redis/large-requests-responses.pcap
  testing/btest/scripts/base/protocols/redis/large-requests-responses.zeek
Due: license, btest-command-commented

WIP tools/systemd-generator: Support zeek.conf with sections and multi-interfaces
  tools/systemd-generator/src/zeek-cluster-config.cc
  tools/systemd-generator/src/zeek-cluster-config.h
  tools/systemd-generator/src/zeek-systemd-generator.cc
Due: license

Cleanup `resp.evt`->`redis.evt` for Redis analyzer
  src/analyzer/protocol/redis/CMakeLists.txt
  src/analyzer/protocol/redis/redis.evt
Due: license

Allow configuring max Redis parser size limit
  scripts/base/protocols/redis/main.zeek
  src/analyzer/protocol/redis/redis.spicy
  src/analyzer/protocol/redis/resp.spicy
  testing/btest/Baseline/scripts.base.protocols.redis.large-requests-responses/default.err
  testing/btest/Baseline/scripts.base.protocols.redis.large-requests-responses/redis-default.log
  testing/btest/Baseline/scripts.base.protocols.redis.large-requests-responses/redis-smaller.log
  testing/btest/Baseline/scripts.base.protocols.redis.large-requests-responses/redis-uncapped.filtered.log
  testing/btest/Baseline/scripts.base.protocols.redis.large-requests-responses/smaller.err
  testing/btest/scripts/base/protocols/redis/large-requests-responses.zeek
Due: license, btest-command-commented

initial cut at adding profiling BiFs
  src/script_opt/ZAM/CMakeLists.txt
  src/script_opt/ZAM/prof.bif
Due: none

overhead BiFs
  scripts/base/init-bare.zeek
  src/script_opt/ZAM/ZBody.cc
  src/script_opt/ZAM/ZBody.h
  src/script_opt/ZAM/prof.bif
Due: license

Make LDAP recursion tests more robust
  testing/btest/Baseline/scripts.base.protocols.ldap.asn1_max_recursion/debug-filtered.log
  testing/btest/Baseline/scripts.base.protocols.ldap.asn1_max_recursion/output
  testing/btest/Baseline/scripts.base.protocols.ldap.ldap_max_recursion/debug-filtered.log
  testing/btest/Baseline/scripts.base.protocols.ldap.ldap_max_recursion/output
  testing/btest/scripts/base/protocols/ldap/asn1_max_recursion.zeek
  testing/btest/scripts/base/protocols/ldap/ldap_max_recursion.zeek
Due: btest-command-commented

Bump zeek-packet-source-udp for CMakeLists fixes
  CMakeLists.txt
Due: none

Fix CMake option() fail for the UDP packet source
  CMakeLists.txt
  testing/btest/Baseline/misc.udp/out
  testing/btest/misc/udp.sh
  testing/scripts/is-freebsd
  testing/scripts/is-linux
Due: btest-command-commented

Remove stale btest baselines
  testing/btest/Baseline/core.check-unused-event-handlers/.stderr
  testing/btest/Baseline/core.disable-mobile-ipv6/unknown_protocols.log
  testing/btest/Baseline/core.disable-mobile-ipv6/weird.log
  testing/btest/Baseline/core.load-explicit-bro-suffix-fallback/out
  testing/btest/Baseline/doc.zeekygen.all_scripts/.stderr
  testing/btest/Baseline/doc.zeekygen.all_scripts/.stdout
  testing/btest/Baseline/language.closure-sending/recv.recv.out
  testing/btest/Baseline/language.closure-sending/send.send.out
  testing/btest/Baseline/language.delete-table-set/.stderr
  testing/btest/Baseline/language.raw_output_attr-2/output
  testing/btest/Baseline/language.record-recursive-table-2/output
  testing/btest/Baseline/plugins.doctest-disabled/testnames
  testing/btest/Baseline/plugins.legacy-func-hook/output
  testing/btest/Baseline/signatures.tcp-end-of-match-2/.stderr
  testing/btest/Baseline/signatures.tcp-end-of-match-2/.stdout
  testing/btest/Baseline/spicy.dns/output
  testing/btest/Baseline/spicy.port-fail-5/output
  testing/btest/Baseline/spicy.tuple-optional/output
  testing/btest/Baseline/tools.test-paths/..dir1.zeek-worker@.service
  testing/btest/Baseline/tools.test-paths/..dir2.zeek-worker@.service
Due: btest-command-commented

Fix http-11-request-then-cruft btest name
  testing/btest/scripts/base/protocols/http/http-11-request-then-cruft.zeek
Due: btest-command-commented

WIP tools/systemd-generator: Nicer unit names
  tools/systemd-generator/src/zeek-cluster-config.cc
  tools/systemd-generator/src/zeek-cluster-config.h
  tools/systemd-generator/src/zeek-systemd-generator.cc
Due: license

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/reference/zeekscript/autogenerated-file-analyzer-index.rst
  doc/reference/zeekscript/autogenerated-package-index.rst
  doc/reference/zeekscript/autogenerated-protocol-analyzer-index.rst
  doc/reference/zeekscript/autogenerated-script-index.rst
  doc/scripts/base/bif/index.rst
  doc/scripts/base/bif/plugins/Zeek_PacketSourceUDP.packet_source_udp.bif.zeek.rst
  doc/scripts/base/bif/plugins/__load__.zeek.rst
  doc/scripts/base/bif/plugins/index.rst
  doc/scripts/base/files/zip/main.zeek.rst
  doc/scripts/base/frameworks/files/main.zeek.rst
  doc/scripts/base/init-bare.zeek.rst
  doc/scripts/base/protocols/conn/inactivity.zeek.rst
  doc/scripts/base/protocols/redis/main.zeek.rst
  doc/scripts/base/protocols/redis/spicy-events.zeek.rst
  doc/scripts/builtin-plugins/Zeek_PacketSourceUDP/__load__.zeek.rst
  doc/scripts/builtin-plugins/Zeek_PacketSourceUDP/index.rst
  doc/scripts/builtin-plugins/__load__.zeek.rst
  doc/scripts/builtin-plugins/index.rst
Due: none

support script loading from a zip
  ci/alpine/Dockerfile
  ci/centos-stream-10/Dockerfile
  ci/centos-stream-9/Dockerfile
  ci/debian-12/Dockerfile
  ci/debian-13/Dockerfile
  ci/debian-unstable/Dockerfile
  ci/fedora-42/Dockerfile
  ci/fedora-43/Dockerfile
  ci/freebsd/prepare.sh
  ci/macos/prepare.sh
  ci/opensuse-leap-15.6/Dockerfile
  ci/opensuse-leap-16.0/Dockerfile
  ci/opensuse-tumbleweed/Dockerfile
  ci/ubuntu-22.04/Dockerfile
  ci/ubuntu-24.04/Dockerfile
  ci/ubuntu-25.04/Dockerfile
  src/CMakeLists.txt
  src/Options.cc
  src/Options.h
  src/ZipScriptProvider.cc
  src/ZipScriptProvider.h
  src/ZipScriptsPlugin.cc
  src/scan.l
  src/util.cc
  src/zeek-setup.cc
  testing/btest/Baseline/core.load-zip-basic/output
  testing/btest/Baseline/core.load-zip-mixed/output
  testing/btest/Baseline/core.load-zip-mount/output
  testing/btest/Baseline/core.load-zip-multi/output
  testing/btest/Baseline/core.load-zip-package/output
  testing/btest/Baseline/core.load-zip-unload/output
  testing/btest/Files/create-zip.py
  testing/btest/core/load-zip-basic.test
  testing/btest/core/load-zip-mixed.test
  testing/btest/core/load-zip-mount.test
  testing/btest/core/load-zip-multi.test
  testing/btest/core/load-zip-package.test
  testing/btest/core/load-zip-unload.test
  vcpkg.json
Due: license, btest-command-commented

use build.sh until images are rebuilt
  ci/build.sh
  ci/pre-build.sh
Due: none

Add worker_env support
  testing/btest/Baseline/tools.systemd-generator.test-worker-env/..dir1.zeek-worker-eth0@1.service.d.10-zeek-systemd-generator.conf
  testing/btest/Baseline/tools.systemd-generator.test-worker-env/..dir1.zeek-worker-eth0@2.service.d.10-zeek-systemd-generator.conf
  testing/btest/Baseline/tools.systemd-generator.test-worker-env/..dir1.zeek-worker-eth1@1.service.d.10-zeek-systemd-generator.conf
  testing/btest/Baseline/tools.systemd-generator.test-worker-env/..dir1.zeek-worker-eth1@2.service.d.10-zeek-systemd-generator.conf
  testing/btest/Baseline/tools.systemd-generator.test-worker-env/.stderr
  testing/btest/Baseline/tools.systemd-generator.test-worker-env/out
  testing/btest/tools/systemd-generator/test-worker-env.sh
  tools/systemd-generator/src/zeek-cluster-config.cc
  tools/systemd-generator/src/zeek-cluster-config.h
  tools/systemd-generator/src/zeek-systemd-generator.cc
Due: license, btest-command-commented

pre-commit: Skip formatting systemd-generator env test
  .pre-commit-config.yaml
Due: none

fixup! Add worker_env support
  testing/btest/Baseline/tools.systemd-generator.test-interface-substitution/..dir3.zeek-worker-eth2@1.service.d.10-zeek-systemd-generator.conf
  testing/btest/Baseline/tools.systemd-generator.test-interface-substitution/..dir3.zeek-worker-eth2@2.service.d.10-zeek-systemd-generator.conf
  testing/btest/Baseline/tools.systemd-generator.test-interface-substitution/..dir3.zeek-worker-eth2@3.service.d.10-zeek-systemd-generator.conf
  testing/btest/Baseline/tools.systemd-generator.test-multi-interface-errors-10/.stderr
  testing/btest/Baseline/tools.systemd-generator.test-multi-interface-errors-11/.stderr
  testing/btest/Baseline/tools.systemd-generator.test-multi-interface-errors-9/.stderr
  testing/btest/Baseline/tools.systemd-generator.test-worker-env/..dir1.zeek-worker-eth0@1.service.d.10-zeek-systemd-generator.conf
  testing/btest/Baseline/tools.systemd-generator.test-worker-env/..dir1.zeek-worker-eth0@2.service.d.10-zeek-systemd-generator.conf
  testing/btest/tools/systemd-generator/test-interface-substitution.sh
  testing/btest/tools/systemd-generator/test-multi-interface-errors.sh
  testing/btest/tools/systemd-generator/test-multi-interface.sh
  testing/btest/tools/systemd-generator/test-worker-env.sh
  tools/systemd-generator/src/zeek-cluster-config.cc
  tools/systemd-generator/src/zeek-cluster-config.h
  tools/systemd-generator/src/zeek-systemd-generator.cc
Due: license, btest-command-commented

fixup! doc: Add some notes about zeek.conf and systemd
  doc/advanced/deploy/systemd.rst
Due: none

refactor: introduce VFS abstraction layer for script loading
  ci/build.sh
  src/CMakeLists.txt
  src/ZipScriptProvider.h
  src/ZipScriptsPlugin.cc
  src/scan.l
  src/util.cc
  src/vfs/FilesystemVFS.cc
  src/vfs/FilesystemVFS.h
  src/vfs/InMemoryZipVFS.cc
  src/vfs/InMemoryZipVFS.h
  src/vfs/Manager.cc
  src/vfs/Manager.h
  src/vfs/VFS.h
  src/zeek-setup.cc
Due: license

tools/zeek-cluster-layout-generator: Support -W with tags
  testing/btest/Baseline/tools.systemd-generator.test-multi-interface/..dir1.zeek-setup.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-cluster-layout-generator/cluster-layout-default.zeek
  testing/btest/Baseline/tools.systemd-generator.test-zeek-cluster-layout-generator/cluster-layout-tagged.zeek
  testing/btest/Baseline/tools.systemd-generator.test-zeek-cluster-layout-generator/cluster-layout-zeekctl.zeek
  testing/btest/tools/systemd-generator/test-zeek-cluster-layout-generator.sh
  tools/systemd-generator/src/zeek-cluster-config.cc
  tools/systemd-generator/src/zeek-cluster-layout-generator.cc
Due: license, btest-command-commented

Drop duplicate case in Redis analyzer
  src/analyzer/protocol/redis/redis.spicy
Due: license

Add log policy that tracks multicast connections to sources from IGMP
  NEWS
  scripts/policy/protocols/igmp/igmp-conn-log.zeek
  scripts/test-all-policy.zeek
  testing/btest/Baseline/coverage.find-bro-logs/out
  testing/btest/Baseline/scripts.policy.protocols.igmp.igmp-conn-log/igmp_conn.log
  testing/btest/Traces/README
  testing/btest/Traces/igmp/home-multicast-short.pcap
  testing/btest/scripts/policy/protocols/igmp/igmp-conn-log.zeek
  testing/external/commit-hash.zeek-testing
Due: btest-command-commented

Move script to policy/protocols/conn, rename to multicast-participants.log
  NEWS
  doc/reference/zeekscript/autogenerated-packet-analyzer-index.rst
  doc/reference/zeekscript/autogenerated-script-index.rst
  doc/scripts/base/frameworks/logging/main.zeek.rst
  doc/scripts/base/init-bare.zeek.rst
  doc/scripts/base/packet-protocols/igmp/spicy-events.zeek.rst
  doc/scripts/policy/protocols/conn/multicast-participants.zeek.rst
  doc/scripts/test-all-policy.zeek.rst
  scripts/policy/protocols/conn/multicast-participants.zeek
  scripts/test-all-policy.zeek
  testing/btest/Baseline/coverage.find-bro-logs/out
  testing/btest/Baseline/scripts.policy.protocols.conn.multicast-participants/multicast_participants.log
  testing/btest/scripts/policy/protocols/conn/multicast-participants.zeek
  testing/btest/scripts/policy/protocols/igmp/igmp-conn-log.zeek
  testing/external/commit-hash.zeek-testing
Due: btest-command-commented

Path conditions:
  license: any of: \.(h|c|cpp|cc|spicy|evt)$, but not: ^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$
  btest-command-commented: any of: ^testing/btest/.*$
