Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*|doc/devel/spicy/autogen/.*.spicy'

Merge remote-tracking branch 'origin/topic/etyp/flush-all-news-move'
  CHANGES
  NEWS
  VERSION
Due: none

Merge branch 'tcp-window-scale-shift-ub' of https://github.com/dxbjavid/zeek
  CHANGES
  VERSION
  scripts/base/frameworks/notice/weird.zeek
  src/packet_analysis/protocol/tcp/TCPSessionAdapter.cc
  testing/btest/Baseline/core.tcp.window-scale-range/weird.log
  testing/btest/Traces/README
  testing/btest/Traces/tcp/window-scale-range.pcap
  testing/btest/core/tcp/window-scale-range.zeek
Due: license, btest-command-commented

Merge remote-tracking branch 'origin/topic/johanna/geneve-ipv6'
  CHANGES
  VERSION
  scripts/base/packet-protocols/geneve/main.zeek
  testing/btest/Baseline/core.tunnels.geneve-ipv6/conn.log
  testing/btest/Baseline/core.tunnels.geneve-ipv6/tunnel.log
  testing/btest/Baseline/plugins.hooks/output
  testing/btest/Traces/README
  testing/btest/Traces/tunnels/geneve-ipv6.pcap
  testing/btest/Traces/tunnels/geneve-ipv6.pcap.py
  testing/btest/core/tunnels/geneve-ipv6.zeek
Due: btest-command-commented

Merge remote-tracking branch 'origin/topic/johanna/management-node-port-bug'
  CHANGES
  VERSION
  scripts/policy/frameworks/management/controller/main.zeek
Due: none

Merge remote-tracking branch 'dxbjavid/dce-rpc-bind-ack-oob-read'
  CHANGES
  VERSION
  src/analyzer/protocol/dce-rpc/dce_rpc-analyzer.pac
  testing/btest/Baseline/scripts.base.protocols.dce-rpc.no-inband-null/out
  testing/btest/Traces/README
  testing/btest/Traces/dce-rpc/bind-ack-no-inband-null.pcap
  testing/btest/Traces/dce-rpc/bind-ack-no-inband-null.pcap.py
  testing/btest/scripts/base/protocols/dce-rpc/no-inband-null.zeek
Due: btest-command-commented

Merge remote-tracking branch 'dxbjavid/ayiya-identity-len-truncation'
  CHANGES
  VERSION
  src/packet_analysis/protocol/ayiya/AYIYA.cc
  testing/btest/Baseline/core.tunnels.ayiya-large-identity/conn.log
  testing/btest/Baseline/core.tunnels.ayiya-large-identity/tunnel.log
  testing/btest/Traces/README
  testing/btest/Traces/tunnels/ayiya-large-identity.pcap
  testing/btest/Traces/tunnels/ayiya-large-identity.pcap.py
  testing/btest/core/tunnels/ayiya-large-identity.test
Due: license, btest-command-commented

Merge remote-tracking branch 'dxbjavid/nflog-tlv-oob-read'
  CHANGES
  VERSION
  src/packet_analysis/protocol/nflog/NFLog.cc
  testing/btest/Baseline/core.nflog-bad-tlv-len/weird.log
  testing/btest/Traces/README
  testing/btest/Traces/nflog-bad-tlv-len.pcap
  testing/btest/Traces/nflog-bad-tlv-len.pcap.py
  testing/btest/core/nflog-bad-tlv-len.zeek
Due: license, btest-command-commented

Merge branch 'fix/ssl-decrypt-oob-read-short-records' of github.com:uwezkhan/zeek
  CHANGES
  VERSION
  src/analyzer/protocol/ssl/SSL.cc
Due: license

Merge branch 'ident-parseport-overflow' of https://github.com/dxbjavid/zeek
  CHANGES
  VERSION
  src/analyzer/protocol/ident/Ident.cc
Due: license

Merge remote-tracking branch 'dxbjavid/dns-extract-long-shift-ub'
  CHANGES
  VERSION
  src/analyzer/protocol/dns/DNS.cc
Due: license

Merge remote-tracking branch 'dxbjavid/gtpv1-end-user-addr-oob-read'
  CHANGES
  VERSION
  src/packet_analysis/protocol/gtpv1/gtpv1-analyzer.pac
Due: none

Merge remote-tracking branch 'dxbjavid/null-shift-ub'
  CHANGES
  VERSION
  src/packet_analysis/protocol/null/Null.cc
Due: license

Merge remote-tracking branch 'dxbjavid/gssapi-is-first-byte-empty-token'
  CHANGES
  VERSION
  src/analyzer/protocol/gssapi/gssapi-protocol.pac
Due: none

Merge remote-tracking branch 'origin/topic/timw/fix-potential-crash-in-pcapng-source'
  CHANGES
  VERSION
  src/iosource/pcapng/Source.cc
Due: license

Merge branch 'fix-netbios-parsemessageudp-short-read' of https://github.com/dxbjavid/zeek
  CHANGES
  VERSION
  src/analyzer/protocol/netbios/NetbiosSSN.cc
Due: license

Merge branch 'irc-nick-empty-params' of https://github.com/dxbjavid/zeek
  CHANGES
  VERSION
  src/analyzer/protocol/irc/IRC.cc
Due: license

Merge branch 'topic/jgras/fix-threading-value-constructor' of github.com:/J-Gras/zeek
  CHANGES
  VERSION
  src/threading/SerialTypes.cc
Due: license

Merge remote-tracking branch 'jmestwa-coder/krb-principal-name-oob-read'
  CHANGES
  VERSION
  src/analyzer/protocol/krb/krb-types.pac
Due: none

Merge branch 'fix/netbios-dgm-make-int16-shift' of https://github.com/dxbjavid/zeek
  CHANGES
  VERSION
  src/analyzer/protocol/netbios/NetbiosSSN.cc
Due: license

Merge branch 'fix/netbios-parsebroadcast-oob-read' of https://github.com/dxbjavid/zeek
  CHANGES
  VERSION
  src/analyzer/protocol/netbios/NetbiosSSN.cc
Due: license

Merge remote-tracking branch 'origin/topic/etyp/global-ids-segfault'
  CHANGES
  VERSION
  src/zeek.bif
  testing/btest/Baseline/bifs.global_ids_global/.stderr
  testing/btest/bifs/global_ids_global.zeek
Due: btest-command-commented

Merge branch 'fix/bittorrent-peers-oob-read' of https://github.com/jmestwa-coder/zeek
  CHANGES
  VERSION
  src/analyzer/protocol/bittorrent/BitTorrentTracker.cc
Due: license

Merge branch 'fix/login-extractenv-oob-read' of https://github.com/dxbjavid/zeek
  CHANGES
  VERSION
  src/analyzer/protocol/login/NVT.cc
Due: license

Merge branch 'fix/netbios-convertname-oob-read' of https://github.com/dxbjavid/zeek
  CHANGES
  VERSION
  src/analyzer/protocol/netbios/NetbiosSSN.cc
Due: license

Merge branch 'dtls-handshake-shift-window' of github.com:/dxbjavid/zeek
  CHANGES
  VERSION
  src/analyzer/protocol/ssl/dtls-analyzer.pac
  testing/btest/Baseline/scripts.base.protocols.ssl.dtls-sequence-number-jumps/analyzer_debug.log
  testing/btest/Traces/tls/dtls-sequence-number-jumps.pcap
  testing/btest/Traces/tls/dtls-sequence-number-jumps.py
  testing/btest/scripts/base/protocols/ssl/dtls-sequence-number-jumps.test
Due: btest-command-commented

Merge remote-tracking branch 'origin/topic/awelzel/smb1-write-andx-response'
  CHANGES
  VERSION
  src/analyzer/protocol/smb/smb1-com-write-andx.pac
Due: none

Merge remote-tracking branch 'origin/topic/awelzel/utils-atoi-n-overflow'
  CHANGES
  VERSION
  src/util.cc
Due: license

Merge remote-tracking branch 'origin/topic/timw/ntp-extension-length-checking'
  CHANGES
  VERSION
  src/analyzer/protocol/ntp/ntp-protocol.pac
  testing/btest/Baseline/scripts.base.protocols.ntp.ntp-no-extensions-mac/.stdout
  testing/btest/Baseline/scripts.base.protocols.ntp.ntp-no-extensions-mac/analyzer_debug.log
  testing/btest/Traces/README
  testing/btest/Traces/ntp/ntp-no-extensions-mac.pcap
  testing/btest/scripts/base/protocols/ntp/ntp-no-extensions-mac.zeek
Due: btest-command-commented

Merge branch 'topic/timw/allow-unsigned-constants-in-binpac'
  CHANGES
  VERSION
  src/analyzer/protocol/ntp/ntp-protocol.pac
  tools/binpac/src/pac_expr.cc
  tools/binpac/src/pac_number.h
  tools/binpac/src/pac_scan.ll
Due: license

Merge remote-tracking branch 'origin/topic/awelzel/rdp-cap-field-lengths'
  CHANGES
  VERSION
  src/analyzer/protocol/rdp/rdp-protocol.pac
Due: none

Merge remote-tracking branch 'origin/topic/etyp/some-ub-shifts'
  CHANGES
  VERSION
  src/Base64.cc
  src/packet_analysis/protocol/geneve/Geneve.cc
  src/packet_analysis/protocol/snap/SNAP.cc
  src/packet_analysis/protocol/vxlan/VXLAN.cc
Due: license

Merge branch 'topic/timw/allow-unsigned-constants-in-binpac'
  CHANGES
  VERSION
  src/analyzer/protocol/ntp/ntp-protocol.pac
Due: none

Remove Cirrus config, migrate GH CI config and CI script changes
  .cirrus.yml
  .github/workflows/check.yml
  ci/benchmark.sh
  ci/build.sh
  ci/init-external-repos.sh
  ci/macos/prepare.sh
  ci/spicy-install-analyzers.sh
  ci/test.sh
  ci/upload-coverage.sh
Due: none
