Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*|doc/devel/spicy/autogen/.*.spicy'

Import IGMP analyzer from zeek-plugins/igmp
  scripts/base/packet-protocols/__load__.zeek
  scripts/base/packet-protocols/igmp/__load__.zeek
  scripts/base/packet-protocols/igmp/main.zeek
  scripts/base/packet-protocols/igmp/types.zeek
  src/packet_analysis/protocol/CMakeLists.txt
  src/packet_analysis/protocol/igmp/CMakeLists.txt
  src/packet_analysis/protocol/igmp/igmp.evt
  src/packet_analysis/protocol/igmp/igmp.spicy
  testing/btest/Baseline/coverage.bare-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.default-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.find-bro-logs/out
  testing/btest/Baseline/plugins.hooks/output
  testing/btest/Baseline/scripts.base.protocols.igmp.bad-checksum/igmp.log
  testing/btest/Baseline/scripts.base.protocols.igmp.basic/igmp.log
  testing/btest/Traces/igmp/igmp-bad-checksum.pcap
  testing/btest/Traces/igmp/igmp.pcap
  testing/btest/scripts/base/protocols/igmp/bad-checksum.zeek
  testing/btest/scripts/base/protocols/igmp/basic.zeek
  testing/external/commit-hash.zeek-testing
Due: license, btest-command-commented

Update docs for IGMP analyzer addition, reformat code
  doc/script-reference/autogenerated-package-index.rst
  doc/script-reference/autogenerated-packet-analyzer-index.rst
  doc/script-reference/autogenerated-protocol-analyzer-index.rst
  doc/script-reference/autogenerated-script-index.rst
  doc/scripts/base/bif/index.rst
  doc/scripts/base/frameworks/logging/main.zeek.rst
  doc/scripts/base/packet-protocols/__load__.zeek.rst
  doc/scripts/base/packet-protocols/igmp/__load__.zeek.rst
  doc/scripts/base/packet-protocols/igmp/index.rst
  doc/scripts/base/packet-protocols/igmp/main.zeek.rst
  doc/scripts/base/packet-protocols/igmp/types.zeek.rst
  doc/scripts/base/packet-protocols/index.rst
  doc/scripts/base/protocols/conn/inactivity.zeek.rst
  scripts/base/packet-protocols/igmp/main.zeek
  scripts/base/packet-protocols/igmp/types.zeek
Due: none

Add igmp/spicy-events.zeek for docs, expand testing of events
  doc/scripts/base/packet-protocols/igmp/main.zeek.rst
  doc/scripts/base/packet-protocols/igmp/types.zeek.rst
  scripts/base/packet-protocols/igmp/main.zeek
  scripts/base/packet-protocols/igmp/spicy-events.zeek
  scripts/base/packet-protocols/igmp/types.zeek
  src/packet_analysis/protocol/igmp/igmp.evt
  testing/btest/Baseline/coverage.init-default/missing_loads
  testing/btest/Baseline/plugins.hooks/output
  testing/btest/Baseline/scripts.base.protocols.igmp.bad-checksum/out
  testing/btest/Baseline/scripts.base.protocols.igmp.basic/out
  testing/btest/scripts/base/protocols/igmp/bad-checksum.zeek
  testing/btest/scripts/base/protocols/igmp/basic.zeek
Due: license, btest-command-commented

Fix inconsistencies in IGMP analyzer.
  scripts/base/packet-protocols/igmp/__load__.zeek
  scripts/base/packet-protocols/igmp/main.zeek
  src/packet_analysis/protocol/igmp/igmp.evt
  testing/btest/Baseline/coverage.bare-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.default-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.init-default/missing_loads
  testing/btest/Baseline/plugins.hooks/output
  testing/btest/Baseline/scripts.base.protocols.igmp.basic/out
  testing/btest/scripts/base/protocols/igmp/bad-checksum.zeek
  testing/btest/scripts/base/protocols/igmp/basic.zeek
Due: license, btest-command-commented

Add igmpv1 btest/trace
  testing/btest/Baseline/scripts.base.protocols.igmp.basic-v1/igmp.log
  testing/btest/Traces/README
  testing/btest/Traces/igmp/multicast-igmp-version-membership-query-and-report.pcap
  testing/btest/scripts/base/protocols/igmp/basic-v1.zeek
Due: btest-command-commented

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/scripts/policy/frameworks/analyzer/detect-protocols.zeek.rst
Due: none

Move zeek-cut from zeek-aux to main Zeek repo
  CMakeLists.txt
  testing/btest/btest.cfg
  tools/zeek-cut/CMakeLists.txt
  tools/zeek-cut/zeek-cut.1
  tools/zeek-cut/zeek-cut.c
Due: license, btest-command-commented

Update Spicy integration for new struct field optimization.
  src/spicy/spicyz/driver.cc
  src/spicy/spicyz/driver.h
  src/spicy/spicyz/glue-compiler.cc
  src/spicy/spicyz/glue-compiler.h
  testing/btest/Baseline/spicy.event-user-type/output
  testing/btest/btest.cfg
  testing/btest/spicy/event-user-type
  testing/btest/spicy/type-converter.zeek
Due: license, btest-command-commented

Add a hook to prevent timeouts
  NEWS
  scripts/base/init-bare.zeek
  src/session/Session.cc
  testing/btest/Baseline/core.stop-timeout/out
  testing/btest/core/stop-timeout.zeek
Due: license, btest-command-commented

Add analyzer for handling NAT-PMP and PCP
  scripts/base/init-default.zeek
  scripts/base/protocols/nat-mapping/__load__.zeek
  scripts/base/protocols/nat-mapping/main.zeek
  scripts/base/protocols/nat-mapping/spicy-events.zeek
  src/analyzer/protocol/CMakeLists.txt
  src/analyzer/protocol/nat-mapping/CMakeLists.txt
  src/analyzer/protocol/nat-mapping/natmapping.evt
  src/analyzer/protocol/nat-mapping/natmapping.spicy
  src/analyzer/protocol/nat-mapping/natpmp.spicy
  src/analyzer/protocol/nat-mapping/pcp.spicy
Due: license

Integrate new Broker optimization
  src/broker/Manager.cc
Due: license

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/script-reference/autogenerated-file-analyzer-index.rst
  doc/script-reference/autogenerated-protocol-analyzer-index.rst
  doc/scripts/base/bif/event.bif.zeek.rst
  doc/scripts/base/init-bare.zeek.rst
Due: none

cluster/zeromq: Add CURVE encryption support
  scripts/policy/frameworks/cluster/backend/zeromq/main.zeek
  src/cluster/backend/zeromq/ZeroMQ-Proxy.cc
  src/cluster/backend/zeromq/ZeroMQ-Proxy.h
  src/cluster/backend/zeromq/ZeroMQ.cc
  src/cluster/backend/zeromq/ZeroMQ.h
  src/cluster/backend/zeromq/cluster_backend_zeromq.bif
  testing/btest/Baseline/cluster.zeromq.logging-encryption/cluster.log.normalized
  testing/btest/Baseline/cluster.zeromq.logging-encryption/manager.out
  testing/btest/Baseline/cluster.zeromq.logging-encryption/node_up.sorted
  testing/btest/Baseline/cluster.zeromq.two-nodes-encryption/..manager.out
  testing/btest/Baseline/cluster.zeromq.two-nodes-encryption/..worker.out
  testing/btest/cluster/zeromq/logging-encryption.zeek
  testing/btest/cluster/zeromq/two-nodes-encryption.zeek
Due: license, btest-command-commented

cluster/zeromq: Implement monitoring_event() to check for handshake errors
  scripts/policy/frameworks/cluster/backend/zeromq/main.zeek
  src/cluster/backend/zeromq/ZeroMQ.cc
  src/cluster/backend/zeromq/ZeroMQ.h
  testing/btest/Baseline/cluster.zeromq.two-nodes-encryption-mismatch-2/worker.stderr
  testing/btest/Baseline/cluster.zeromq.two-nodes-encryption-mismatch/worker.stderr
  testing/btest/cluster/zeromq/two-nodes-encryption-mismatch-2.zeek
  testing/btest/cluster/zeromq/two-nodes-encryption-mismatch.zeek
Due: license, btest-command-commented

cluster/zeromq: Unmagicify tags used for BackendMessages
  src/cluster/backend/zeromq/ZeroMQ.cc
Due: license

cluster/zeromq: Add ZAP handler thread
  src/cluster/backend/zeromq/CMakeLists.txt
  src/cluster/backend/zeromq/ZeroMQ-Proxy.cc
  src/cluster/backend/zeromq/ZeroMQ-Proxy.h
  src/cluster/backend/zeromq/ZeroMQ-ZAP.cc
  src/cluster/backend/zeromq/ZeroMQ-ZAP.h
  src/cluster/backend/zeromq/ZeroMQ.cc
  src/cluster/backend/zeromq/ZeroMQ.h
  testing/btest/Baseline/cluster.zeromq.two-nodes-encryption-wrong-client-publickey/worker.stderr
  testing/btest/cluster/zeromq/two-nodes-encryption-wrong-client-publickey.zeek
Due: license, btest-command-commented

fixup! cluster/zeromq: Add ZAP handler thread
  testing/btest/cluster/zeromq/two-nodes-encryption-wrong-client-publickey.zeek
Due: btest-command-commented

fixup! cluster/zeromq: Implement monitoring_event() to check for handshake errors
  testing/btest/cluster/zeromq/two-nodes-encryption-mismatch-2.zeek
  testing/btest/cluster/zeromq/two-nodes-encryption-mismatch.zeek
Due: btest-command-commented

cluster/zeromq: Fixup comment after adding the ZAP handler
  scripts/policy/frameworks/cluster/backend/zeromq/main.zeek
Due: none

fixup! cluster/zeromq: Fixup comment after adding the ZAP handler
  scripts/policy/frameworks/cluster/backend/zeromq/main.zeek
Due: none

Add /D_CRT_DECLARE_NONSTDC_NAMES=0 to Windows builds
  CMakeLists.txt
Due: none

strncasecmp() is defined in strings.h
  src/analyzer/protocol/http/HTTP.cc
  src/analyzer/protocol/mime/MIME.cc
  src/analyzer/protocol/smtp/BDAT.cc
  src/analyzer/protocol/smtp/SMTP.cc
  src/util.cc
Due: license

Add missing unistd.h include to pac_cstr.cc
  tools/binpac/src/pac_cstr.cc
Due: license

make build pass on windows
  CMakeLists.txt
  CMakePresets.json
  vcpkg-triplets/x64-windows-static-17.cmake
Due: none

cluster/pf_ring: Update instructions to use 9.2.0
  doc/cluster/pf_ring.rst
Due: none

[windows] fix paths tests
  scripts/base/utils/paths.zeek
  testing/btest/Baseline/scripts.base.utils.paths/output
  testing/btest/README
  testing/btest/scripts/base/utils/paths.test
Due: btest-command-commented

[windows] fix create_file tests
  testing/btest/bifs/create_file.zeek
Due: btest-command-commented

Correction to the test invocation
  doc/tutorial/invoking-zeek.rst
  doc/tutorial/setup.rst
Due: none

Refresh the acknowledgments
  doc/acknowledgements.rst
Due: none

Edits to the expanded script example
  doc/tutorial/scripting/tutorial-example.rst
Due: none

Remove TODOs in new tutorial
  doc/tutorial/invoking-zeek.rst
  doc/tutorial/logs.rst
  doc/tutorial/scripting/index.rst
  doc/tutorial/scripting/tutorial-example.rst
  doc/tutorial/using-packages.rst
Due: none

Prefer pcap-mode vs. live-capture for doc tutorial
  doc/tutorial/logs.rst
  doc/tutorial/scripting/tutorial-example.rst
Due: none

Minor edits to the Zeek invocation section of the tutorial
  doc/tutorial/invoking-zeek.rst
Due: none

Add disclaimers for unfinished tutorial sections
  doc/tutorial/cluster-backends.rst
  doc/tutorial/index.rst
  doc/tutorial/invoking-zeekctl.rst
  doc/tutorial/logs.rst
Due: none

Edits to the JavaScript section
  doc/tutorial/scripting/javascript.rst
Due: none

Add `zeekctl` section to tutorial
  doc/cluster-setup.rst
  doc/tutorial/invoking-zeekctl.rst
  doc/tutorial/logs.rst
Due: none

Re-add the tracing events section
  doc/script-reference/event-semantics.rst
Due: none
