Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*'

CI: Add label for enabling the Windows build in PRs
  .cirrus.yml
Due: none

Enable building ZeroMQ support on Windows
  ci/windows/build.cmd
  src/cluster/backend/CMakeLists.txt
  src/cluster/backend/zeromq/CMakeLists.txt
  vcpkg.json
Due: none

Reword comment about when ZeroMQ is required for the build
  src/cluster/backend/CMakeLists.txt
Due: none

start tinkering with starlark
  .cirrus.star
  .old-cirrus.yml
  ci/alpine/config.star
  ci/centos-stream-10/config.star
Due: none

Management framework: don't hardwire controller IP in agent
  scripts/policy/frameworks/management/agent/config.zeek
  scripts/policy/frameworks/management/controller/config.zeek
Due: none

fixup! added &no_ZAM_opt/&no_CPP_opt attributes and --no-opt-files/--no-opt-funcs for controlling skipping script optimization
  src/Attr.cc
  src/Options.cc
Due: license

fixup! BTests & baselines for testing selective skipping of script optimization
  testing/btest/Baseline/opt.opt-skip-funcs/out1
  testing/btest/Baseline/opt.opt-skip-funcs/out2
  testing/btest/Baseline/opt.opt-skip-other/out1
  testing/btest/Baseline/opt.opt-skip-other/out2
  testing/btest/language/skip-opt2.zeek
  testing/btest/language/skip-opt3.zeek
  testing/btest/opt/opt-skip-files.zeek
  testing/btest/opt/opt-skip-files2.zeek
  testing/btest/opt/opt-skip-funcs.zeek
  testing/btest/opt/opt-skip-funcs2.zeek
  testing/btest/opt/opt-skip-other-file.zeek
  testing/btest/opt/opt-skip-other-func.zeek
  testing/btest/opt/opt-skip-other.zeek
Due: btest-command-commented

Deprecate SetType, as it can be replaced by TableType
  src/DNS_Mgr.cc
  src/Expr.cc
  src/Type.cc
  src/Type.h
  src/Val.cc
  src/Var.cc
  src/broker/messaging.bif
  src/input/Manager.cc
  src/input/readers/config/Config.cc
  src/logging/Manager.cc
  src/parse.y
  src/threading/SerialTypes.cc
  src/zeek.bif
Due: license

tracking of event groups for compilation to standalone-C++
  src/EventRegistry.h
  src/Func.cc
  src/Func.h
  src/script_opt/CPP/DeclFunc.cc
  src/script_opt/CPP/DeclFunc.h
  src/script_opt/CPP/Driver.cc
  src/script_opt/CPP/Emit.h
  src/script_opt/CPP/Func.h
  src/script_opt/CPP/GenFunc.cc
  src/script_opt/CPP/GenFunc.h
  src/script_opt/CPP/Inits.cc
  src/script_opt/CPP/RuntimeInitSupport.cc
  src/script_opt/CPP/RuntimeInitSupport.h
  src/script_opt/CPP/RuntimeInits.h
  src/script_opt/Inline.cc
  src/script_opt/ScriptOpt.cc
  src/script_opt/ScriptOpt.h
Due: license

Remove the built-in script debuggger
  src/CMakeLists.txt
  src/DbgBreakpoint.cc
  src/DbgBreakpoint.h
  src/DbgDisplay.h
  src/DbgHelp.cc
  src/DbgWatch.cc
  src/DbgWatch.h
  src/Debug.cc
  src/Debug.h
  src/DebugCmdInfoConstants.in
  src/DebugCmds.cc
  src/DebugCmds.h
  src/Frame.h
  src/Func.cc
  src/Options.cc
  src/Options.h
  src/PolicyFile.cc
  src/Scope.cc
  src/Scope.h
  src/Stmt.cc
  src/StmtBase.h
  src/make_dbg_constants.py
  src/parse.y
  src/scan.l
  src/zeek-setup.cc
Due: license

Fix clang-tidy finding in recent script_opt changes
  src/script_opt/CPP/DeclFunc.cc
Due: license

Bump libkqueue to latest upstream master
  NEWS
Due: none

fix for tracking types seen in attribute expressions
  src/script_opt/CPP/Driver.cc
Due: license

fix for tracking BiFs seen in attribute expressions
  src/script_opt/CPP/Driver.cc
Due: license

Restore the SetType constructor and destructor
  src/Type.cc
Due: license

fixes for standalone globals that aren't referred to in compiled functions
  src/script_opt/CPP/Driver.cc
  src/script_opt/ProfileFunc.cc
  src/script_opt/ProfileFunc.h
Due: license

OpaqueVal, OCSP, X509: drop outdated LibreSSL guards to fix OpenBSD build
  src/OpaqueVal.cc
  src/file_analysis/analyzer/x509/OCSP.cc
  src/file_analysis/analyzer/x509/X509.h
  src/file_analysis/analyzer/x509/functions.bif
Due: license

utils/decompose_uri: Support URIs containing IPv6 addresses
  scripts/base/utils/urls.zeek
  testing/btest/Baseline/scripts.base.utils.decompose_uri/.stderr
  testing/btest/Baseline/scripts.base.utils.decompose_uri/output
  testing/btest/scripts/base/utils/decompose_uri.zeek
Due: btest-command-commented

added &no_ZAM_opt/&no_CPP_opt attributes and --no-opt-files/--no-opt-funcs for controlling skipping script optimization
  src/Attr.cc
  src/Attr.h
  src/Func.cc
  src/Options.cc
  src/parse.y
  src/scan.l
  src/script_opt/CPP/Driver.cc
  src/script_opt/CPP/Exprs.cc
  src/script_opt/CPP/Inits.cc
  src/script_opt/CPP/InitsInfo.cc
  src/script_opt/CPP/Types.cc
  src/script_opt/CPP/Util.cc
  src/script_opt/CPP/Vars.cc
  src/script_opt/ScriptOpt.cc
  src/script_opt/ScriptOpt.h
  src/script_opt/ZAM/Support.cc
Due: license

BTests & baselines for testing selective skipping of script optimization
  testing/btest/Baseline.cpp/language.skip-opt1/out
  testing/btest/Baseline.cpp/language.skip-opt2/out
  testing/btest/Baseline.zam/language.skip-opt1/out
  testing/btest/Baseline.zam/language.skip-opt2/out
  testing/btest/Baseline/language.skip-opt1/out
  testing/btest/Baseline/language.skip-opt2/out
  testing/btest/Baseline/language.skip-opt3/out
  testing/btest/Baseline/opt.opt-skip-files/output
  testing/btest/Baseline/opt.opt-skip-funcs/out1
  testing/btest/Baseline/opt.opt-skip-funcs/out2
  testing/btest/Baseline/opt.opt-skip-other/out1
  testing/btest/Baseline/opt.opt-skip-other/out2
  testing/btest/language/skip-opt1.zeek
  testing/btest/language/skip-opt2.zeek
  testing/btest/language/skip-opt3.zeek
  testing/btest/opt/opt-files.zeek
  testing/btest/opt/opt-files2.zeek
  testing/btest/opt/opt-files3.zeek
  testing/btest/opt/opt-func.zeek
  testing/btest/opt/opt-func2.zeek
  testing/btest/opt/opt-func3.zeek
  testing/btest/opt/opt-no-files.zeek
  testing/btest/opt/opt-no-func.zeek
  testing/btest/opt/opt-no-func2.zeek
  testing/btest/opt/opt-skip-files.zeek
  testing/btest/opt/opt-skip-funcs.zeek
  testing/btest/opt/opt-skip-other.zeek
Due: btest-command-commented

btest/bifs/hll_cluster: Use ZeroMQ
  testing/btest/bifs/hll_cluster.zeek
Due: btest-command-commented

cluster: Add None backend
  src/cluster/backend/CMakeLists.txt
  src/cluster/backend/none/CMakeLists.txt
  src/cluster/backend/none/Plugin.cc
Due: license

btest/websocket/terminate-while-queueing: Use ZeroMQ
  testing/btest/Files/zeromq/single-node.zeek
  testing/btest/cluster/websocket/terminate-while-queuing.zeek
Due: btest-command-commented

cluster: allow cluster-layout script to redef cluster backend
  scripts/base/frameworks/cluster/__load__.zeek
Due: none

btest/broker/remote_event_ts_compat: Replace 15 second sleep with wait-for-file
  testing/btest/broker/remote_event_ts_compat.zeek
Due: btest-command-commented

btest/broker: Prepare for non-Broker default
  testing/btest/Baseline/broker.remote_event/recv.recv.out
  testing/btest/Baseline/broker.remote_event_any/recv.recv.out
  testing/btest/Baseline/broker.remote_event_ssl_auth/recv.recv.out
  testing/btest/Files/broker/cluster-layout.zeek
  testing/btest/broker/remote_event.zeek
  testing/btest/broker/remote_event_any.zeek
  testing/btest/broker/remote_event_ssl_auth.zeek
  testing/btest/broker/remote_log.zeek
  testing/btest/broker/remote_log_batch.zeek
  testing/btest/broker/remote_log_late_join.zeek
  testing/btest/broker/remote_log_types.zeek
  testing/btest/broker/telemetry.zeek
Due: btest-command-commented

btest/cluster: Prepare for non-Broker default
  testing/btest/Baseline/cluster.generic.cluster-publish-errors/.stderr
  testing/btest/cluster/generic/cluster-publish-errors.zeek
Due: btest-command-commented

btest/Files/zeromq/metrics: Add missing load for telemetry framework
  testing/btest/Files/zeromq/metrics.zeek
Due: btest-command-commented

btest/plugins/publish-event-hook: Use Broker explicitly
  testing/btest/plugins/publish-event-hook.zeek
Due: btest-command-commented

btest/control: Use Broker explicitly
  testing/btest/scripts/base/frameworks/control/configuration_update.zeek
  testing/btest/scripts/base/frameworks/control/id_value.zeek
  testing/btest/scripts/base/frameworks/control/shutdown.zeek
  testing/btest/scripts/base/frameworks/logging/length-checking.zeek
  testing/btest/scripts/policy/frameworks/telemetry/prometheus.zeek
Due: btest-command-commented

btest/suspend_processing/websocket: Use ZeroMQ
  testing/btest/core/suspend_processing/websocket.zeek
Due: btest-command-commented

init-bare: Default to CLUSTER_BACKEND_NONE
  scripts/base/init-bare.zeek
Due: none

btest/cluster_started: Explicitly use Broker
  testing/btest/scripts/policy/frameworks/cluster/cluster_started_restart_manager.zeek
  testing/btest/scripts/policy/frameworks/cluster/cluster_started_restart_worker.zeek
Due: btest-command-commented

Fixes for -O gen-standalone-C++ for tracking BiFs, lambdas, attribute types, and independent globals
  src/script_opt/CPP/Driver.cc
  src/script_opt/ProfileFunc.cc
  src/script_opt/ProfileFunc.h
Due: license

cluster/zeromq: Improve EINTR handling
  src/cluster/backend/zeromq/ZeroMQ-Proxy.cc
  src/cluster/backend/zeromq/ZeroMQ.cc
  testing/btest/Baseline/cluster.zeromq.supervisor-runs-zmq-proxy/supervisor.cluster.log
  testing/btest/cluster/zeromq/supervisor-runs-zmq-proxy.zeek
Due: license, btest-command-commented

cluster/zeromq: Fix Cluster::subscribe() block if not initialized
  src/cluster/backend/zeromq/ZeroMQ.cc
  testing/btest/Baseline/cluster.zeromq.subscribe-before-init/..manager.out
  testing/btest/cluster/zeromq/subscribe-before-init.zeek
Due: license, btest-command-commented

supervisor: Switch from Broker:: to Cluster::
  scripts/base/frameworks/supervisor/main.zeek
  testing/btest/Baseline/coverage.bare-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.default-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/plugins.hooks/output
  testing/btest/scripts/policy/frameworks/management/controller/agent-checkin.zeek
Due: btest-command-commented
