Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*|doc/devel/spicy/autogen/.*.spicy'

cluster: Introduce PublishOnChangeState class and script-level support
  scripts/base/frameworks/cluster/__load__.zeek
  scripts/base/frameworks/cluster/publish-on-change.zeek
  scripts/base/init-bare.zeek
  src/cluster/CMakeLists.txt
  src/cluster/PublishOnChangeState.cc
  src/cluster/PublishOnChangeState.h
  src/cluster/publish_on_change.bif
  testing/btest/Baseline/cluster.generic.on-subscribe-unsubscribe/.stdout
  testing/btest/Baseline/coverage.bare-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.default-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/plugins.hooks/output
Due: license, btest-command-commented

zeek-setup: Run PublishOnChangeState::InitPostScript()
  src/zeek-setup.cc
Due: license

doc/attributes: Add &backend and &broker_store deprecation info
  doc/reference/zeekscript/attributes.rst
Due: none

scan/parse: Add &publish_on_change support
  src/parse.y
  src/scan.l
Due: none

cluster/PublishOnChange: Add InitPostScript() hook, use GetPublishOnChangeState()
  src/cluster/PublishOnChangeState.cc
  src/cluster/PublishOnChangeState.h
  src/cluster/publish_on_change.bif
Due: license

TableVal: Hook-up poc_state for &publish_on_change functionality
  src/Val.cc
  src/Val.h
Due: license

cluster: Add Cluster::publish_table()
  scripts/base/frameworks/cluster/publish-on-change.zeek
  src/cluster/PublishOnChangeState.cc
  src/cluster/PublishOnChangeState.h
  src/cluster/publish_on_change.bif
  testing/btest/Baseline/cluster.publish-on-change.broker-publish-table-batch-testing/..manager.out
  testing/btest/Baseline/cluster.publish-on-change.broker-publish-table-batch-testing/..worker-1.out
  testing/btest/Baseline/cluster.publish-on-change.broker-publish-table-batch-testing/..worker-2.out
  testing/btest/Baseline/cluster.publish-on-change.broker-publish-table/..manager.out
  testing/btest/Baseline/cluster.publish-on-change.broker-publish-table/..worker.out
  testing/btest/Baseline/cluster.publish-on-change.publish-table-batch-testing/..manager.out
  testing/btest/Baseline/cluster.publish-on-change.publish-table-batch-testing/..worker-1.out
  testing/btest/Baseline/cluster.publish-on-change.publish-table-batch-testing/..worker-2.out
  testing/btest/Baseline/cluster.publish-on-change.publish-table/..manager.out
  testing/btest/Baseline/cluster.publish-on-change.publish-table/..worker.out
  testing/btest/cluster/publish-on-change/broker-publish-table-batch-testing.zeek
  testing/btest/cluster/publish-on-change/broker-publish-table.zeek
  testing/btest/cluster/publish-on-change/publish-table-batch-testing.zeek
  testing/btest/cluster/publish-on-change/publish-table.zeek
Due: license, btest-command-commented

doc/attributes: Add &publish_on_change documentation
  doc/reference/zeekscript/attributes.rst
Due: none

policy/known-*: Deprecate store usage
  scripts/policy/protocols/conn/known-hosts.zeek
  scripts/policy/protocols/conn/known-services.zeek
  scripts/policy/protocols/ssl/known-certs.zeek
Due: none

Deprecate Broker store entry APIs
  scripts/base/frameworks/broker/store.zeek
  scripts/base/frameworks/cluster/__load__.zeek
  scripts/base/frameworks/cluster/broker-stores.zeek
  scripts/base/frameworks/cluster/main.zeek
  src/broker/store.bif
  src/cluster/Manager.cc
  src/cluster/Manager.h
  src/zeek-setup.cc
  testing/btest/Baseline/coverage.bare-mode-errors/errors
  testing/btest/broker/store/brokerstore-backend-sqlite-wal-mode.zeek
  testing/btest/broker/store/create-failure.zeek
  testing/btest/broker/store/create-global-failure.zeek
Due: license, btest-command-commented

plugin/Manager: Extract LoadDynamicPlugin() helper
  src/plugin/Manager.cc
  src/plugin/Manager.h
Due: license

testing/btest: Test loading of .so files
  testing/btest/Baseline/plugins.load-so-twice/out
  testing/btest/Baseline/plugins.load-so/out
  testing/btest/plugins/load-so-twice.zeek
  testing/btest/plugins/load-so.zeek
  testing/btest/plugins/plugin-load-so/.btest-ignore
  testing/btest/plugins/plugin-load-so/src/Plugin.cc
  testing/btest/plugins/plugin-load-so/src/Plugin.h
Due: btest-command-commented

scan.l: Support loading of .so files
  src/scan.l
Due: none

scan.l: Shuffle around ScannedFile usage
  src/scan.l
Due: none

NEWS: Add entry shared object support for @load
  NEWS
Due: none

testing/btest/plugins: Add load-so-bif test
  testing/btest/Baseline/plugins.load-so-bif/out
  testing/btest/plugins/load-so-bif.zeek
  testing/btest/plugins/plugin-load-so-bif/.btest-ignore
  testing/btest/plugins/plugin-load-so-bif/src/Plugin.cc
  testing/btest/plugins/plugin-load-so-bif/src/Plugin.h
Due: btest-command-commented

testing/btest/language: Add test showing directory ending in .so
  testing/btest/Baseline/language.at-load-so/.stderr
  testing/btest/Baseline/language.at-load-so/out
  testing/btest/language/at-load-so.zeek
Due: btest-command-commented

Use full include path for bif netvar headers
  src/NetVar.h
Due: license

Disable shared-object plugin loading on Windows
  src/plugin/Manager.cc
Due: license

Fix copy-instead-of-move in Hash.cc's unit tests
  src/Hash.cc
Due: license

Use contains() instead of count() in Gen-ZAM
  tools/gen-zam/Gen-ZAM.cc
Due: license

Add missing std::move in Gen-ZAM
  tools/gen-zam/Gen-ZAM.cc
Due: license

Remove unnecessary check of unsigned value in ZAM
  src/script_opt/ZAM/AM-Opt.cc
Due: license

Avoid recreating existing std::string in spicy manager
  src/spicy/manager.cc
Due: license

Fix some copy-instead-of-move and auto-causes-copy warnings in spicy runtime-support
  src/spicy/runtime-support.cc
Due: license

Fix integer overflow in Gnutella analyzer
  src/analyzer/protocol/gnutella/Gnutella.cc
Due: license

Fix auto-causes-copy warnings in script_opt
  src/script_opt/CPP/RuntimeInitSupport.cc
Due: license

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/reference/zeekscript/autogenerated-script-index.rst
  doc/scripts/base/bif/__load__.zeek.rst
  doc/scripts/base/bif/event.bif.zeek.rst
  doc/scripts/base/bif/index.rst
  doc/scripts/base/bif/publish_on_change.bif.zeek.rst
  doc/scripts/base/frameworks/cluster/__load__.zeek.rst
  doc/scripts/base/frameworks/cluster/index.rst
  doc/scripts/base/frameworks/cluster/publish-on-change.zeek.rst
  doc/scripts/base/frameworks/cluster/pubsub.zeek.rst
  doc/scripts/base/init-bare.zeek.rst
Due: none

[windows] enable spicy and fix build errors
  CMakeLists.txt
  cmake_templates/hilti-cxx-include-dirs.in
  src/CMakeLists.txt
  src/File.cc
  src/analyzer/Manager.h
  src/cluster/PublishOnChangeState.cc
  src/cluster/PublishOnChangeState.h
  src/generate-jit-export-def.py
  src/plugin/Manager.cc
  src/spicy/CMakeLists.txt
  src/spicy/manager.cc
  src/spicy/runtime-support.cc
  src/spicy/runtime-support.h
  src/spicy/spicyz/config.h.in
  src/spicy/spicyz/driver.cc
  src/spicy/spicyz/glue-compiler.cc
  src/spicy/spicyz/glue-compiler.h
  src/spicy/spicyz/main.cc
  testing/scripts/diff-remove-abspath
Due: license

DNS/Parse_SvcParams: Fix value_len accounting
  src/analyzer/protocol/dns/DNS.cc
Due: license

DNS/Parse_SvcParams: Move static initialization out of while loop
  src/analyzer/protocol/dns/DNS.cc
Due: license

DNS/Parse_SvcParams: Scope item_len_parsed to cases
  src/analyzer/protocol/dns/DNS.cc
Due: license

testing/btest/cluster: Lower HWMs on non-manager nodes
  testing/btest/cluster/zeromq/overload-worker-proxy-topic-drop.zeek
Due: btest-command-commented

cluster/PublishOnChange: clang-tidy follow-ups
  src/cluster/PublishOnChangeState.cc
  src/cluster/PublishOnChangeState.h
Due: license

Add ZEEK_EXTERN_DATA/ZEEK_IMPORT_DATA macros for cross-DLL symbol access
  cmake_templates/zeek-config.h.in
  src/DNS_Mgr.h
  src/DebugLogger.h
  src/Event.h
  src/EventHandler.h
  src/EventRegistry.h
  src/EventTrace.h
  src/Frag.h
  src/Func.h
  src/ID.h
  src/NetVar.h
  src/Obj.h
  src/Reporter.h
  src/RunState.h
  src/Scope.h
  src/StmtBase.h
  src/Timer.h
  src/Trigger.h
  src/Val.h
  src/analyzer/Manager.h
  src/broker/Manager.h
  src/cluster/Manager.h
  src/conn_key/Manager.h
  src/file_analysis/Manager.h
  src/input/Manager.h
  src/iosource/Manager.h
  src/logging/Manager.h
  src/packet_analysis/Manager.h
  src/plugin/Manager.h
  src/session/Manager.h
  src/storage/Backend.h
  src/storage/Manager.h
  src/storage/ReturnCode.h
  src/supervisor/Supervisor.h
  src/telemetry/Manager.h
  src/threading/Manager.h
  src/zeekygen/Manager.h
Due: license

CMake: support MSVC dynamic plugin building and linking
  CMakeLists.txt
  cmake_templates/ZeekConfig.cmake.in
  cmake_templates/ZeekPluginConfig.cmake.in
  src/CMakeLists.txt
Due: none

Enable dynamic plugin loading on Windows via LoadLibrary
  src/generate-jit-export-def.py
  src/plugin/Manager.cc
Due: license

Testing: add Windows shims and portable test fixes
  testing/btest/coverage/bare-load-baseline.test
  testing/btest/coverage/default-load-baseline.test
  testing/btest/coverage/find-bro-logs.test
  testing/scripts/diff-remove-abspath
  testing/scripts/hexdump
  testing/scripts/make
  testing/scripts/nm
Due: btest-command-commented
