Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*|doc/devel/spicy/autogen/.*.spicy'

Remove Cirrus config, migrate GH CI config and CI script changes
  .cirrus.yml
  .github/workflows/check.yml
  ci/benchmark.sh
  ci/build.sh
  ci/init-external-repos.sh
  ci/macos/prepare.sh
  ci/spicy-install-analyzers.sh
  ci/test.sh
  ci/upload-coverage.sh
Due: none

Initial docs updates for 8.0.9
  doc/scripts/base/bif/event.bif.zeek.rst
  doc/scripts/base/frameworks/notice/weird.zeek.rst
  doc/scripts/builtin-plugins/Zeek_JavaScript/__load__.zeek.rst
Due: none

Initial docs updates for 8.2.1
  doc/conf.py
  doc/scripts/base/bif/event.bif.zeek.rst
  doc/scripts/base/frameworks/notice/weird.zeek.rst
Due: none

Migrate CircleCi configuration, including Dockerfile refreshes
  .circleci/config.yml
  .circleci/generate-workflow-params.py
  .circleci/setup.yml
  ci/alpine/Dockerfile
  ci/centos-stream-10/Dockerfile
  ci/centos-stream-9/Dockerfile
  ci/debian-12/Dockerfile
  ci/debian-13/Dockerfile
  ci/debian-unstable/Dockerfile
  ci/fedora-43/Dockerfile
  ci/fedora-44/Dockerfile
  ci/opensuse-leap-16.0/Dockerfile
  ci/opensuse-tumbleweed/Dockerfile
  ci/ubuntu-22.04/Dockerfile
  ci/ubuntu-24.04/Dockerfile
  ci/ubuntu-26.04/Dockerfile
  ci/windows/Dockerfile
Due: none

Bump zeek-testing to pull in CTU pcap cleanup
  testing/external/commit-hash.zeek-testing
Due: none

Bump auxil/spicy to latest development snapshot
  testing/btest/Baseline/spicy.preprocessor-spicy/output
Due: btest-command-commented

NTP: log mode 6 control and mode 7 private messages to separate logs
  scripts/base/protocols/ntp/main.zeek
  testing/btest/Baseline/coverage.find-bro-logs/out
  testing/btest/Baseline/coverage.record-fields/out.default
  testing/btest/Baseline/scripts.base.protocols.ntp.ntpmode67/ntp_control.log
  testing/btest/Baseline/scripts.base.protocols.ntp.ntpmode67/ntp_private.log
  testing/btest/scripts/base/protocols/ntp/ntpmode67.test
Due: btest-command-commented

finger: Add limit to lines to avoid buffer growth
  scripts/base/init-bare.zeek
  src/analyzer/protocol/finger/finger.spicy
  testing/btest/Baseline/plugins.hooks/output
  testing/btest/Baseline/scripts.base.protocols.finger.line-limit-exceeded/out-reply
  testing/btest/Baseline/scripts.base.protocols.finger.line-limit-exceeded/out-request
  testing/btest/Traces/README
  testing/btest/Traces/finger/long-reply-line.pcapng
  testing/btest/Traces/finger/long-reply-line.pcapng.py
  testing/btest/Traces/finger/long-request.pcapng
  testing/btest/Traces/finger/long-request.pcapng.py
  testing/btest/scripts/base/protocols/finger/line-limit-exceeded.zeek
Due: license, btest-command-commented

Adjust Dockerfile dates to include a version number
  .circleci/config.yml
  ci/alpine/Dockerfile
  ci/centos-stream-10/Dockerfile
  ci/centos-stream-9/Dockerfile
  ci/debian-12/Dockerfile
  ci/debian-13/Dockerfile
  ci/debian-unstable/Dockerfile
  ci/fedora-43/Dockerfile
  ci/fedora-44/Dockerfile
  ci/opensuse-leap-16.0/Dockerfile
  ci/opensuse-tumbleweed/Dockerfile
  ci/ubuntu-22.04/Dockerfile
  ci/ubuntu-24.04/Dockerfile
  ci/ubuntu-26.04/Dockerfile
  ci/windows/Dockerfile
Due: none

Merge remote-tracking branch 'origin/topic/timw/extend-btest-timeouts-to-fix-zam-ci-failures'
  CHANGES
  VERSION
  testing/btest/cluster/zeromq/overload-worker-proxy-topic-no-drop.zeek
  testing/btest/scripts/base/files/x509/log-caching-disabled-cluster.test
  testing/btest/scripts/base/frameworks/openflow/log-cluster.zeek
  testing/btest/scripts/base/frameworks/storage/redis/cluster.zeek
  testing/btest/scripts/base/frameworks/storage/sqlite/cluster.zeek
  testing/btest/scripts/base/frameworks/sumstats/sample-cluster.zeek
  testing/btest/scripts/policy/frameworks/cluster/cluster_started_restart_manager.zeek
  testing/btest/scripts/policy/frameworks/management/controller/agent-checkin.zeek
  testing/btest/supervisor/config-bare-mode.zeek
  testing/btest/supervisor/config-cluster-pcap.zeek
Due: btest-command-commented

Update Windows CI scripts to match master
  ci/windows/build.cmd
  ci/windows/configure.cmd
  ci/windows/prepare.cmd
  ci/windows/run-btests.sh
  ci/windows/test.cmd
Due: none

Fix image-generation ccache and workspace persistence
  .circleci/config.yml
Due: none

Add better error handling to the release image builds
  .circleci/config.yml
Due: none

Merge remote-tracking branch 'origin/topic/timw/circleci-release-image-generation-fixes'
  .circleci/config.yml
  CHANGES
  VERSION
Due: none

doc: Add hacking.rst and btest.rst
  doc/advanced/devel/btest.rst
  doc/advanced/devel/hacking.rst
  doc/advanced/devel/index.rst
Due: none

Introduce AGENTS.md
  AGENTS.md
Due: none

Drop `zkg` from distribution
  .circleci/config.yml
  .github/workflows/check.yml
  .gitmodules
  CMakeLists.txt
  ci/ubuntu-24.04/Dockerfile
  cmake_templates/zkg-config.in
  configure
Due: none

NTP: address review feedback
  scripts/base/protocols/ntp/main.zeek
  testing/btest/Baseline/scripts.base.protocols.ntp.ntpmode67/.stdout
  testing/btest/scripts/base/protocols/ntp/ntpmode67.test
  testing/btest/scripts/base/protocols/ntp/ntpmode67.zeek
Due: btest-command-commented

GENEVE/VXLAN: Fix EnqueueEvent() invocation on inner_packet->session
  src/packet_analysis/protocol/geneve/Geneve.cc
  src/packet_analysis/protocol/vxlan/VXLAN.cc
Due: license

GENEVE/VXLAN: Regression test for UBSAN nullptr deref inner_packet->session
  testing/btest/Baseline/core.tunnels.geneve-inner-tcp-bad-checksum/conn.log
  testing/btest/Baseline/core.tunnels.geneve-inner-tcp-bad-checksum/out
  testing/btest/Baseline/core.tunnels.geneve-inner-tcp-bad-checksum/weird.log
  testing/btest/Baseline/core.tunnels.vxlan-inner-tcp-bad-checksum/conn.log
  testing/btest/Baseline/core.tunnels.vxlan-inner-tcp-bad-checksum/out
  testing/btest/Baseline/core.tunnels.vxlan-inner-tcp-bad-checksum/weird.log
  testing/btest/Traces/README
  testing/btest/Traces/tunnels/geneve-inner-tcp-bad-checksum.pcap
  testing/btest/Traces/tunnels/geneve-inner-tcp-bad-checksum.pcap.py
  testing/btest/Traces/tunnels/vxlan-inner-tcp-bad-checksum.pcap
  testing/btest/Traces/tunnels/vxlan-inner-tcp-bad-checksum.pcap.py
  testing/btest/core/tunnels/geneve-inner-tcp-bad-checksum.zeek
  testing/btest/core/tunnels/vxlan-inner-tcp-bad-checksum.zeek
Due: btest-command-commented

doc: A few more btest.rst additions and changes
  doc/advanced/devel/btest.rst
Due: none

feat: Add QUIC DPD signatures for protocol detection on non-standard ports
  scripts/base/protocols/quic/__load__.zeek
  scripts/base/protocols/quic/dpd.sig
  testing/btest/Baseline/scripts.base.protocols.quic.dpd-custom-port/conn.log.cut
  testing/btest/Baseline/scripts.base.protocols.quic.dpd-custom-port/quic.log
  testing/btest/Baseline/scripts.base.protocols.quic.dpd-v2-custom-port/conn.log.cut
  testing/btest/Baseline/scripts.base.protocols.quic.dpd-v2-custom-port/quic.log
  testing/btest/Traces/README
  testing/btest/Traces/quic/chromium-dpd-custom-port-4433.pcap
  testing/btest/Traces/quic/quicv2-echo-dpd-custom-port-4433.pcap
  testing/btest/scripts/base/protocols/quic/dpd-custom-port.zeek
  testing/btest/scripts/base/protocols/quic/dpd-v2-custom-port.zeek
Due: btest-command-commented

Reformat list of enabled/diasabled checks in CMakeLists.txt
  CMakeLists.txt
Due: none

Enable UBSan 'builtin' and 'pointer-overflow' checks
  CMakeLists.txt
Due: none

Use target-based approach for enabling sanitizers
  CMakeLists.txt
  src/CMakeLists.txt
  src/spicy/spicyz/CMakeLists.txt
Due: none

HTTP: Avoid int64_t overflow when parsing Content-Range
  src/analyzer/protocol/http/HTTP.cc
  testing/btest/Baseline/scripts.base.protocols.http.bad-content-range/weird.log
Due: license, btest-command-commented

HTTP: Add regression test for invalid Content-Range headers
  testing/btest/Baseline/scripts.base.protocols.http.invalid-content-ranges/conn.log
  testing/btest/Baseline/scripts.base.protocols.http.invalid-content-ranges/http.log
  testing/btest/Baseline/scripts.base.protocols.http.invalid-content-ranges/weird.log
  testing/btest/Traces/http/invalid-content-ranges.pcap
  testing/btest/Traces/http/invalid-content-ranges.pcap.py
  testing/btest/scripts/base/protocols/http/invalid-content-ranges.zeek
Due: btest-command-commented

Add Zeek for SOC Analysts: Practical Detection Guide
  docs/soc/zeek-for-soc-analysts.rst
Due: none

Bump `auxil/package-manager`
  ci/debian-12/Dockerfile
  ci/debian-13/Dockerfile
  ci/debian-unstable/Dockerfile
  ci/ubuntu-22.04/Dockerfile
  ci/ubuntu-24.04/Dockerfile
  ci/ubuntu-26.04/Dockerfile
Due: none

NTP: Prevent len underflow in &enforce during extension parsing
  src/analyzer/protocol/ntp/ntp-protocol.pac
Due: none

rpc/nfs/mount: Fix ubsan santizer issues with invalid enum values
  src/analyzer/protocol/rpc/MOUNT.cc
  src/analyzer/protocol/rpc/NFS.cc
Due: license

testing/btest: Add some test pcaps for checking on the mount/nfs weirds
  testing/btest/Baseline/scripts.base.protocols.mount.weird/weird.log.all
  testing/btest/Baseline/scripts.base.protocols.nfs.weird/weird.log.all
  testing/btest/Traces/README
  testing/btest/Traces/mount/mount-unmount-bad-auth-flavor.pcap
  testing/btest/Traces/mount/mount-unmount-bad-status.pcap
  testing/btest/Traces/mount/mount-unmount-scramble.py
  testing/btest/Traces/mount/mount-unmount.pcap
  testing/btest/Traces/nfs/nfs_fsinfo_bad_status.pcap
  testing/btest/Traces/nfs/nfs_getattr_bad_ftype.pcap
  testing/btest/Traces/nfs/nfs_scramble.py
  testing/btest/Traces/nfs/nfs_setattr_bad_set_it.pcap
  testing/btest/Traces/nfs/nfs_write.pcap
  testing/btest/Traces/nfs/nfs_write_bad_stable_how.pcap
  testing/btest/scripts/base/protocols/mount/weird.test
  testing/btest/scripts/base/protocols/nfs/weird.test
Due: btest-command-commented

nfs: Skip over NFSACL programs
  src/analyzer/protocol/rpc/NFS.cc
  testing/btest/Baseline/scripts.base.protocols.nfs.weird/weird.log.all
Due: license, btest-command-commented

HTTP: Weird for out of range Content-Length headers
  src/analyzer/protocol/http/HTTP.cc
  testing/btest/Baseline/scripts.base.protocols.http.261.chunk-2pow64-overflow/conn.log
  testing/btest/Baseline/scripts.base.protocols.http.261.chunk-2pow64-overflow/http.log
  testing/btest/Baseline/scripts.base.protocols.http.261.chunk-2pow64-overflow/weird.log
  testing/btest/Baseline/scripts.base.protocols.http.261.cl-negative/conn.log
  testing/btest/Baseline/scripts.base.protocols.http.261.cl-negative/http.log
  testing/btest/Baseline/scripts.base.protocols.http.261.cl-negative/weird.log
  testing/btest/Baseline/scripts.base.protocols.http.261.cl-uint64max/conn.log
  testing/btest/Baseline/scripts.base.protocols.http.261.cl-uint64max/http.log
  testing/btest/Baseline/scripts.base.protocols.http.261.cl-uint64max/weird.log
  testing/btest/Traces/http/261/variant-01-chunk_2pow64_overflow.pcap
  testing/btest/Traces/http/261/variant-02-cl_uint64max.pcap
  testing/btest/Traces/http/261/variant-03-cl_negative.pcap
  testing/btest/scripts/base/protocols/http/261/chunk-2pow64-overflow.zeek
  testing/btest/scripts/base/protocols/http/261/cl-negative.zeek
  testing/btest/scripts/base/protocols/http/261/cl-uint64max.zeek
Due: license, btest-command-commented

HTTP: Weird on Content-Length: 0 and Expect: usage
  src/analyzer/protocol/http/HTTP.cc
  src/analyzer/protocol/http/HTTP.h
  testing/btest/Baseline/scripts.base.protocols.http.261.cl-0-expect-100/conn.log
  testing/btest/Baseline/scripts.base.protocols.http.261.cl-0-expect-100/http.log
  testing/btest/Baseline/scripts.base.protocols.http.261.cl-0-expect-100/weird.log
  testing/btest/Traces/http/261/variant-07-expect_100_cl0.pcap
  testing/btest/scripts/base/protocols/http/261/cl-0-expect-100.zeek
Due: license, btest-command-commented

HTTP: Weird on Content-Lengths that start with 0s
  src/analyzer/protocol/http/HTTP.cc
  testing/btest/Baseline/scripts.base.protocols.http.261.cl-leading-zeros/conn.log
  testing/btest/Baseline/scripts.base.protocols.http.261.cl-leading-zeros/http.log
  testing/btest/Baseline/scripts.base.protocols.http.261.cl-leading-zeros/weird.log
  testing/btest/Traces/http/261/variant-08-leading_zeros.pcap
  testing/btest/scripts/base/protocols/http/261/cl-leading-zeros.zeek
Due: license, btest-command-commented

HTTP: Weird on obsolete line folding
  src/analyzer/protocol/http/HTTP.cc
  src/analyzer/protocol/mime/MIME.h
  testing/btest/Baseline/scripts.base.protocols.http.261.obsolete-line-fold/conn.log
  testing/btest/Baseline/scripts.base.protocols.http.261.obsolete-line-fold/http.log
  testing/btest/Baseline/scripts.base.protocols.http.261.obsolete-line-fold/weird.log
  testing/btest/Traces/http/261/variant-09-te_obs_fold.pcap
  testing/btest/scripts/base/protocols/http/261/obsolete-line-fold.zeek
Due: license, btest-command-commented

HTTP: Weird on Transfer-Encoding: chunked, something
  src/analyzer/protocol/http/HTTP.cc
  testing/btest/Baseline/scripts.base.protocols.http.261.chunked-rest/conn.log
  testing/btest/Baseline/scripts.base.protocols.http.261.chunked-rest/http.log
  testing/btest/Baseline/scripts.base.protocols.http.261.chunked-rest/weird.log
  testing/btest/Traces/http/261/variant-10-multi_value_te.pcap
  testing/btest/scripts/base/protocols/http/261/chunked-rest.zeek
Due: license, btest-command-commented

HTTP: Weird on chunked mixed with Content-Length/Content-Range
  src/analyzer/protocol/http/HTTP.cc
  testing/btest/Baseline/scripts.base.protocols.http.261.te-cl-desync/conn.log
  testing/btest/Baseline/scripts.base.protocols.http.261.te-cl-desync/http.log
  testing/btest/Baseline/scripts.base.protocols.http.261.te-cl-desync/weird.log
  testing/btest/Traces/http/261/variant-04-te_cl_desync.pcap
  testing/btest/scripts/base/protocols/http/261/te-cl-desync.zeek
Due: license, btest-command-commented

NEWS: Add note on new weirds
  NEWS
Due: none
