Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

license:
  name: Check for license headers
  entry: ./ci/license-header.py
  language: python

btest-command-commented:
  name: Check that all BTest command lines are commented out
  entry: ^\s*@TEST-
  language: pygrep

Clean up initialization of DNS_Interpreter
  src/analyzer/protocol/dns/DNS.cc
  src/analyzer/protocol/dns/DNS.h
Due: license

Support DNS Dynamic Update messages in DNS analyzer
  src/analyzer/protocol/dns/DNS.cc
  src/analyzer/protocol/dns/DNS.h
Due: license

Add basic event for emitting DNS dynamic update data
  scripts/base/init-bare.zeek
  src/analyzer/protocol/dns/DNS.cc
  src/analyzer/protocol/dns/DNS.h
  src/analyzer/protocol/dns/events.bif
  testing/btest/Baseline/scripts.base.protocols.dns.dynamic-update/out
  testing/btest/Baseline/scripts.base.protocols.dns.dynamic-update/weird.log
  testing/btest/scripts/base/protocols/dns/dynamic-update.zeek
Due: license, btest-command-commented

Add opcode/opcode_name to DNS log record
  scripts/base/init-bare.zeek
  scripts/base/protocols/dns/consts.zeek
  scripts/base/protocols/dns/main.zeek
  src/analyzer/protocol/dns/DNS.cc
  testing/btest/Baseline/core.ipv6-frag/dns.log
  testing/btest/Baseline/core.tunnels.gre-over-udp/dns.log
  testing/btest/Baseline/core.tunnels.gre-pptp/dns.log
  testing/btest/Baseline/core.tunnels.gre/dns.log
  testing/btest/Baseline/core.tunnels.gtp.false_gtp/dns.log
  testing/btest/Baseline/coverage.record-fields/out.default
  testing/btest/Baseline/opt.basic/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.binds/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.dns-key/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.dnskey/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.ds/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.duplicate-reponses/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.flip/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.hinfo/.stdout
  testing/btest/Baseline/scripts.base.protocols.dns.loc/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.multiple-txt-strings/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.naptr/out
  testing/btest/Baseline/scripts.base.protocols.dns.nsec/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.nsec3/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.nsec3param/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.rrsig/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.spf/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.sshfp/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.tkey/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.wks/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.zero-responses/dns.log
  testing/btest/Baseline/scripts.policy.protocols.dns.original_case/dns.log
Due: license, btest-command-commented

for -O gen-standalone-C++, make the presence of uncompilable functions fatal unless -O allow-cond is used
  src/script_opt/CPP/Driver.cc
  src/script_opt/CPP/Driver.h
Due: license

zeek-archiver: Use standard headers for IP/Ethernet structures and defines
  auxil/zeek-aux/adtrace/adtrace.c
  auxil/zeek-aux/adtrace/ether.h
  auxil/zeek-aux/adtrace/ethertype.h
  auxil/zeek-aux/adtrace/ip.h
Due: license

Reformat code in zeek-aux with clang-format/cmake-format
  auxil/zeek-aux/CMakeLists.txt
  auxil/zeek-aux/adtrace/CMakeLists.txt
  auxil/zeek-aux/adtrace/adtrace.c
  auxil/zeek-aux/adtrace/ether.h
  auxil/zeek-aux/adtrace/ethertype.h
  auxil/zeek-aux/adtrace/ip.h
  auxil/zeek-aux/plugin-support/skeleton/src/Plugin.cc
  auxil/zeek-aux/rst/CMakeLists.txt
  auxil/zeek-aux/rst/rst.c
  auxil/zeek-aux/testing/Baseline/update-changes.replace-version-in-c-header/header.h
  auxil/zeek-aux/zeek-archiver/zeek-archiver.cc
  auxil/zeek-aux/zeek-cut/zeek-cut.c
Due: license

zeek-aux: Ignore some files for license file pre-commit check
  .pre-commit-config.yaml
Due: none

Remove zeek-aux git submodule
  .gitmodules
Due: none

An experiment to disambiguate "\x" in JSON output.
  src/threading/formatters/JSON.cc
  src/threading/formatters/JSON.h
  src/util.cc
Due: license

Update zeek-testing and zeek-testing-private commit hashes
  testing/external/commit-hash.zeek-testing
  testing/external/commit-hash.zeek-testing-private
Due: none

added &no_ZAM_opt/&no_CPP_opt attributes and --no-opt-files/--no-opt-funcs for controlling skipping script optimization
  src/Attr.cc
  src/Attr.h
  src/Func.cc
  src/Options.cc
  src/parse.y
  src/scan.l
  src/script_opt/CPP/Driver.cc
  src/script_opt/CPP/Exprs.cc
  src/script_opt/CPP/Inits.cc
  src/script_opt/CPP/InitsInfo.cc
  src/script_opt/CPP/Types.cc
  src/script_opt/CPP/Util.cc
  src/script_opt/CPP/Vars.cc
  src/script_opt/ScriptOpt.cc
  src/script_opt/ScriptOpt.h
  src/script_opt/ZAM/Support.cc
Due: license

BTests & baselines for testing selective skipping of script optimization
  testing/btest/Baseline.cpp/language.skip-opt1/out
  testing/btest/Baseline.cpp/language.skip-opt2/out
  testing/btest/Baseline.zam/language.skip-opt1/out
  testing/btest/Baseline.zam/language.skip-opt2/out
  testing/btest/Baseline/language.skip-opt1/out
  testing/btest/Baseline/language.skip-opt2/out
  testing/btest/Baseline/language.skip-opt3/out
  testing/btest/Baseline/opt.opt-skip-files/output
  testing/btest/Baseline/opt.opt-skip-funcs/output
  testing/btest/Baseline/opt.opt-skip-funcs2/output
  testing/btest/Baseline/opt.opt-skip-other-file/output
  testing/btest/Baseline/opt.opt-skip-other-func/output
  testing/btest/language/skip-opt1.zeek
  testing/btest/language/skip-opt2.zeek
  testing/btest/language/skip-opt3.zeek
  testing/btest/opt/opt-files3.zeek
  testing/btest/opt/opt-func.zeek
  testing/btest/opt/opt-func2.zeek
  testing/btest/opt/opt-func3.zeek
  testing/btest/opt/opt-no-files.zeek
  testing/btest/opt/opt-no-func.zeek
  testing/btest/opt/opt-no-func2.zeek
  testing/btest/opt/opt-skip-files.zeek
  testing/btest/opt/opt-skip-files2.zeek
  testing/btest/opt/opt-skip-funcs.zeek
  testing/btest/opt/opt-skip-funcs2.zeek
  testing/btest/opt/opt-skip-other-file.zeek
  testing/btest/opt/opt-skip-other-func.zeek
Due: btest-command-commented

first batch of fixes
  src/script_opt/CPP/Consts.cc
  src/script_opt/ProfileFunc.cc
  src/script_opt/ProfileFunc.h
Due: license

track the current body with more rigor
  src/Func.cc
  src/Func.h
Due: license

switch over to tracking current Body's rather than individual components
  src/EventRegistry.h
  src/Func.h
  src/script_opt/Inline.cc
  src/script_opt/ScriptOpt.cc
  src/script_opt/ScriptOpt.h
Due: license

consolidate information associated with function bodies
  src/script_opt/CPP/DeclFunc.cc
  src/script_opt/CPP/Driver.cc
  src/script_opt/CPP/GenFunc.cc
  src/script_opt/CPP/GenFunc.h
  src/script_opt/CPP/Inits.cc
Due: license

support for event groups
  src/script_opt/CPP/DeclFunc.cc
  src/script_opt/CPP/DeclFunc.h
  src/script_opt/CPP/Driver.cc
  src/script_opt/CPP/Emit.h
  src/script_opt/CPP/Func.h
  src/script_opt/CPP/GenFunc.h
  src/script_opt/CPP/RuntimeInitSupport.cc
  src/script_opt/CPP/RuntimeInitSupport.h
  src/script_opt/CPP/RuntimeInits.h
Due: license

support for event groups
  src/script_opt/CPP/RuntimeInitSupport.cc
Due: license

fix precedence bug in '?' operations
  src/script_opt/CPP/Exprs.cc
Due: license

full tracking of global characteristics
  src/script_opt/CPP/InitsInfo.cc
  src/script_opt/CPP/InitsInfo.h
  src/script_opt/CPP/RuntimeInitSupport.cc
  src/script_opt/CPP/RuntimeInitSupport.h
  src/script_opt/CPP/RuntimeInits.cc
  src/script_opt/CPP/RuntimeInits.h
Due: license

remove vestigial "elements" field of SetType's
  src/DNS_Mgr.cc
  src/Expr.cc
  src/Type.cc
  src/Type.h
  src/Val.cc
  src/Var.cc
  src/input/Manager.cc
  src/parse.y
  src/threading/SerialTypes.cc
  src/zeek.bif
Due: license

fixes for initializing attributes of globals
  src/script_opt/CPP/Inits.cc
  src/script_opt/CPP/RuntimeOps.cc
  src/script_opt/CPP/RuntimeOps.h
Due: license

fix for tracking identifiers and aggregates when compiling to standalone-C++
  src/script_opt/CPP/Consts.cc
  src/script_opt/ProfileFunc.cc
  src/script_opt/ProfileFunc.h
Due: license

tracking of event groups for compilation to standalone-C++
  src/EventRegistry.h
  src/Func.cc
  src/Func.h
  src/script_opt/CPP/DeclFunc.cc
  src/script_opt/CPP/DeclFunc.h
  src/script_opt/CPP/Driver.cc
  src/script_opt/CPP/Emit.h
  src/script_opt/CPP/Func.h
  src/script_opt/CPP/GenFunc.cc
  src/script_opt/CPP/GenFunc.h
  src/script_opt/CPP/Inits.cc
  src/script_opt/CPP/RuntimeInitSupport.cc
  src/script_opt/CPP/RuntimeInitSupport.h
  src/script_opt/CPP/RuntimeInits.h
  src/script_opt/Inline.cc
  src/script_opt/ScriptOpt.cc
  src/script_opt/ScriptOpt.h
Due: license

fix for '?' operator precedence when compiling scripts to C++
  src/script_opt/CPP/Exprs.cc
Due: license

Remove a couple of obsolete TODOs in storage manager
  src/storage/Manager.cc
Due: license

Avoid starting up storage expiration thread with zero backends
  src/storage/Manager.cc
  src/storage/Manager.h
  testing/btest/scripts/base/frameworks/storage/redis-expiration.zeek
Due: license, btest-command-commented

full tracking of the characteristics of globals when compiling scripts to C++
  src/script_opt/CPP/InitsInfo.cc
  src/script_opt/CPP/InitsInfo.h
  src/script_opt/CPP/RuntimeInitSupport.cc
  src/script_opt/CPP/RuntimeInitSupport.h
  src/script_opt/CPP/RuntimeInits.cc
  src/script_opt/CPP/RuntimeInits.h
Due: license

fix for associating attributes with globals for -O gen-standalone-C++
  src/script_opt/CPP/Inits.cc
  src/script_opt/CPP/RuntimeOps.cc
  src/script_opt/CPP/RuntimeOps.h
Due: license

Remove doc submodule
  .gitmodules
Due: none

Move readthedocs.yml file out of docs into main directory
  .readthedocs.yml
  doc/.readthedocs.yml
Due: none

Run pre-commit on the imported docs files
  .pre-commit-config.yaml
  doc/.typos.toml
  doc/devel/plugins/connkey-vxlan-fivetuple-plugin-src/CMakeLists.txt
  doc/devel/plugins/event-metadata-plugin-src/CMakeLists.txt
  doc/devel/spicy/autogen-spicy-docs
  doc/devel/spicy/autogen/tftp-no-accept.spicy
  doc/devel/spicy/autogen/tftp.spicy
  doc/devel/spicy/autogen/zeek-functions.spicy
  doc/devel/spicy/examples/my-http.spicy
  doc/frameworks/packet-analysis-2-llc.cc
Due: license

Force SQLite to be in thread-safe mode during CMake
  src/CMakeLists.txt
  src/input/readers/sqlite/SQLite.cc
  src/logging/writers/sqlite/SQLite.cc
  src/storage/backend/sqlite/SQLite.cc
Due: license

Path conditions:
  license: any of: \.(h|c|cpp|cc|spicy|evt)$, but not: ^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*)$
  btest-command-commented: any of: ^testing/btest/.*$
