Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*|doc/devel/spicy/autogen/.*.spicy'

fixup! testing: Add DHCPv6 analyzer baseline tests
  testing/btest/Baseline/scripts.base.protocols.dhcpv6.freebsd-ntpservers/dhcpv6.log
  testing/btest/Baseline/scripts.base.protocols.dhcpv6.freebsd-rapid-commit/dhcpv6.log
  testing/btest/Baseline/scripts.base.protocols.dhcpv6.freebsd-vendorclass/dhcpv6.log
  testing/btest/Baseline/scripts.base.protocols.dhcpv6.hp-nested-status/dhcpv6.log
  testing/btest/Baseline/scripts.base.protocols.dhcpv6.wifi-rapidcommit/dhcpv6.log
Due: btest-command-commented

fixup! Add a DHCPv6 analyzer
  src/analyzer/protocol/dhcpv6/dhcpv6.spicy
Due: license

fixup! testing: Add DHCPv6 analyzer baseline tests
  testing/btest/Baseline/scripts.base.protocols.dhcpv6.freebsd-ntpservers/conn.log
  testing/btest/Baseline/scripts.base.protocols.dhcpv6.freebsd-ntpservers/dhcpv6.log
  testing/btest/Baseline/scripts.base.protocols.dhcpv6.freebsd-rapid-commit/conn.log
  testing/btest/Baseline/scripts.base.protocols.dhcpv6.freebsd-rapid-commit/dhcpv6.log
  testing/btest/Baseline/scripts.base.protocols.dhcpv6.freebsd-vendorclass/conn.log
  testing/btest/Baseline/scripts.base.protocols.dhcpv6.freebsd-vendorclass/dhcpv6.log
  testing/btest/Baseline/scripts.base.protocols.dhcpv6.hp-nested-status/conn.log
  testing/btest/Baseline/scripts.base.protocols.dhcpv6.wifi-rapidcommit/conn.log
  testing/btest/Baseline/scripts.base.protocols.dhcpv6.wifi-rapidcommit/dhcpv6.log
  testing/btest/scripts/base/protocols/dhcpv6/freebsd-ntpservers.zeek
  testing/btest/scripts/base/protocols/dhcpv6/freebsd-rapid-commit.zeek
  testing/btest/scripts/base/protocols/dhcpv6/freebsd-vendorclass.zeek
  testing/btest/scripts/base/protocols/dhcpv6/hp-nested-status.zeek
  testing/btest/scripts/base/protocols/dhcpv6/wifi-rapidcommit.zeek
Due: btest-command-commented

NEWS: Mention the new DHCPv6 analyzer
  NEWS
Due: none

fixup! Add a DHCPv6 analyzer
  scripts/base/protocols/dhcpv6/main.zeek
Due: none

fixup! testing: Add DHCPv6 analyzer baseline tests
  testing/btest/Baseline/scripts.base.protocols.dhcpv6.hp-nested-status/dhcpv6.log
  testing/btest/scripts/base/protocols/dhcpv6/hp-nested-status.zeek
Due: btest-command-commented

UnknownIPTransport: Drop htons() on ip_hdr->NextProto()
  NEWS
  src/packet_analysis/protocol/unknown_ip_transport/UnknownIPTransport.cc
  testing/btest/Baseline/core.unknown-ip-protocol/unknown_protocols.log
  testing/btest/core/unknown-ip-protocol.zeek
Due: license, btest-command-commented

Add auth_type and auth_level mappings
  scripts/base/protocols/dce-rpc/consts.zeek
  src/analyzer/protocol/dce-rpc/events.bif
  testing/btest/Baseline/scripts.base.protocols.dce-rpc.auth/out.kerberos
  testing/btest/Baseline/scripts.base.protocols.dce-rpc.auth/out.netlogon
  testing/btest/Baseline/scripts.base.protocols.dce-rpc.auth/out.ntlm
  testing/btest/Baseline/scripts.base.protocols.dce-rpc.auth/out.ntlm-direct
  testing/btest/Baseline/scripts.base.protocols.dce-rpc.auth/out.privacy
  testing/btest/scripts/base/protocols/dce-rpc/auth.zeek
Due: btest-command-commented

Rewrite Traces/README file for Python generator scripts
  AI_POLICY.md
  doc/advanced/devel/btest.rst
  testing/btest/Traces/README
  testing/btest/Traces/contentline/rlogin-long-client-user-no-nul.pcapng.py
  testing/btest/Traces/contentline/rsh-long-client-user-no-nul.pcapng.py
  testing/btest/Traces/contentline/telnet-long-line-no-eol.pcapng.py
  testing/btest/Traces/contentline/telnet-unclosed-suboption.pcapng.py
  testing/btest/Traces/finger/long-reply-line.pcapng.py
  testing/btest/Traces/finger/long-request.pcapng.py
  testing/btest/Traces/icmp/icmp6-mld-query.pcap.py
  testing/btest/Traces/icmp/icmp6-mldv1.pcap.py
  testing/btest/Traces/icmp/icmp6-mldv2.pcap.py
  testing/btest/Traces/icmp/icmp6-nd-short-options.pcap.py
  testing/btest/Traces/krb/error-preauth-padata.pcap.py
  testing/btest/Traces/portmapper-many-unanswered-calls.pcapng.py
  testing/btest/Traces/tls/dtls-sequence-number-jumps.pcap.py
  testing/btest/Traces/trunc/ip-discarder-truncated-tcp-oob.pcapng.py
  testing/btest/Traces/unknown-ip-short-payload.pcap.py
  testing/btest/Traces/websocket/oversized-close-frame.pcapng.py
Due: btest-command-commented

Fix `from_json` fatal error on bad addr/subnet
  src/Val.cc
  testing/btest/Baseline.zam/bifs.from_json-15/.stderr
  testing/btest/Baseline.zam/bifs.from_json-15/.stdout
  testing/btest/Baseline/bifs.from_json-15/.stderr
  testing/btest/Baseline/bifs.from_json-15/.stdout
  testing/btest/bifs/from_json.zeek
Due: license, btest-command-commented

ZAM: Fix `cat()` self-assignment corrupted refcount
  src/script_opt/ZAM/OPs/ZBI.op
  testing/btest/opt/regress-cat-self-assign.zeek
Due: btest-command-commented

CCI: Remove context from coverage/benchmark builds
  .circleci/builds.yml
Due: none

CCI: Use different environment variable for access to build images
  .circleci/builds.yml
Due: none

CCI: Fix typo in Hilti env variable
  .circleci/builds.yml
Due: none

CCI: Add pipeline parameter tracking internal builds
  .circleci/builds.yml
  .circleci/generate-workflow-params.py
  ci/benchmark.sh
  ci/upload-coverage.sh
Due: none

CI: Only clone zeek-testing-private for internal builds
  .circleci/builds.yml
  ci/init-external-repos.sh
Due: none

update AP message logging
  scripts/base/protocols/krb/main.zeek
  testing/btest/Baseline/scripts.base.protocols.dce-rpc.spnego-gssapi-kerberos/kerberos.log.135
  testing/btest/Baseline/scripts.base.protocols.dce-rpc.spnego-gssapi-kerberos/kerberos.log.445
  testing/btest/Baseline/scripts.base.protocols.krb.kinit/kerberos.log
  testing/btest/Baseline/scripts.base.protocols.krb.smb_gssapi/kerberos.log
  testing/btest/Baseline/scripts.base.protocols.ldap.aduser1/krb.kerberos.log
  testing/btest/Baseline/scripts.base.protocols.tcp.krb-tcp-tso/kerberos.log
Due: btest-command-commented

CCI: Use the right endpoint for requesting GH API info
  .circleci/generate-workflow-params.py
Due: none

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/reference/zeekscript/autogenerated-protocol-analyzer-index.rst
  doc/scripts/base/bif/plugins/Zeek_DCE_RPC.events.bif.zeek.rst
  doc/scripts/base/protocols/dce-rpc/consts.zeek.rst
Due: none

Address security model review feedback
  SECURITY.md
  SECURITY_MODEL.md
Due: none

doc/advanced/deployment: Add archiver and custom address/prefix usage
  doc/advanced/deployment/systemd.rst
Due: none

tools/systemd-generator: Set archiver WorkingDirectory and SyslogIdentifier
  testing/btest/Baseline/tools.systemd-generator.test-all-options/..dir1.zeek-archiver.service
  testing/btest/Baseline/tools.systemd-generator.test-archiver-custom/..dir1.zeek-archiver.service
  testing/btest/Baseline/tools.systemd-generator.test-archiver/..dir1.zeek-archiver.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-archiver.service
  tools/systemd-generator/src/zeek-systemd-generator.cc
Due: license, btest-command-commented

tools/cluster-layout-generator: Support empty cluster_node_prefix
  testing/btest/Baseline/tools.systemd-generator.test-errors-6/.stderr
  testing/btest/Baseline/tools.systemd-generator.test-errors-7/.stderr
  testing/btest/Baseline/tools.systemd-generator.test-errors-8/.stderr
  testing/btest/Baseline/tools.systemd-generator.test-zeek-cluster-layout-generator-empty-cluster-node-prefix/out
  testing/btest/tools/systemd-generator/test-errors.sh
  testing/btest/tools/systemd-generator/test-zeek-cluster-layout-generator-empty-cluster-node-prefix.sh
  tools/systemd-generator/src/zeek-cluster-config.cc
  tools/systemd-generator/src/zeek-cluster-config.h
Due: license, btest-command-commented

added streaming interface to RegEx matching
  src/DFA.cc
  src/DFA.h
  src/RE.cc
  src/RE.h
  testing/btest/Baseline/language.pattern-tables-stats/out
Due: license, btest-command-commented

Streaming_RE_Matcher: Add some doctest based tests
  src/RE.cc
Due: license

Streaming_RE_Matcher: Switch to unified templated DoFeed() helper
  src/RE.cc
  src/RE.h
Due: license

btest/plugin: Custom OpaqueType testing
  testing/btest/Baseline/plugins.opaque-type/output
  testing/btest/plugins/opaque-type-plugin/.btest-ignore
  testing/btest/plugins/opaque-type-plugin/CMakeLists.txt
  testing/btest/plugins/opaque-type-plugin/src/NanoTime.cc
  testing/btest/plugins/opaque-type-plugin/src/NanoTime.h
  testing/btest/plugins/opaque-type-plugin/src/Plugin.cc
  testing/btest/plugins/opaque-type-plugin/src/Plugin.h
  testing/btest/plugins/opaque-type-plugin/src/nanotime.bif
  testing/btest/plugins/opaque-type.zeek
Due: btest-command-commented

GHCI: Skip cache-to of Build Docker image for forks
  .github/workflows/check.yml
Due: none

support for extensible OpaqueTypes/values
  src/CompHash.cc
  src/CompHash.h
  src/Stmt.cc
  src/Type.cc
  src/Type.h
  src/Val.cc
Due: license

Remove temporary IP fragment if header size is invalid
  src/packet_analysis/protocol/ip/IP.cc
  testing/btest/Baseline/core.ipv6-reassembly-state-leak/output
  testing/btest/Baseline/core.ipv6-reassembly-state-leak/weird.log
  testing/btest/Traces/ipv6-reassembly-state-leak.pcap
  testing/btest/Traces/ipv6-reassembly-state-leak.pcap.py
  testing/btest/core/ipv6-reassembly-state-leak.zeek
Due: license, btest-command-commented

Add btests exercising the error cases in expression handling
  testing/btest/Baseline/language.expr-error-arithmetic/err
  testing/btest/Baseline/language.expr-error-assignment/err
  testing/btest/Baseline/language.expr-error-bitwise/err
  testing/btest/Baseline/language.expr-error-call/err
  testing/btest/Baseline/language.expr-error-comparison/err
  testing/btest/Baseline/language.expr-error-conditional/err
  testing/btest/Baseline/language.expr-error-constructors/err
  testing/btest/Baseline/language.expr-error-field-access/err
  testing/btest/Baseline/language.expr-error-operators/err
  testing/btest/Baseline/language.expr-error-runtime/out
  testing/btest/language/expr-error-arithmetic.zeek
  testing/btest/language/expr-error-assignment.zeek
  testing/btest/language/expr-error-bitwise.zeek
  testing/btest/language/expr-error-call.zeek
  testing/btest/language/expr-error-comparison.zeek
  testing/btest/language/expr-error-conditional.zeek
  testing/btest/language/expr-error-constructors.zeek
  testing/btest/language/expr-error-field-access.zeek
  testing/btest/language/expr-error-operators.zeek
  testing/btest/language/expr-error-runtime.zeek
Due: btest-command-commented

Fix out-of-bounds read hashing a wrong-arity composite table key
  src/CompHash.cc
Due: license

Reject table constructors whose key arity doesn't match the index
  src/Expr.cc
  testing/btest/Baseline/language.table-composite-key-arity/out
  testing/btest/language/table-composite-key-arity.zeek
Due: license, btest-command-commented

Make the expr-error runtime tests robust under ZAM
  testing/btest/Baseline.zam/language.expr-error-runtime/out
  testing/btest/Baseline/language.expr-error-constructors/err
  testing/btest/Baseline/language.expr-error-runtime-interp/out
  testing/btest/Baseline/language.expr-error-runtime/out
  testing/btest/language/expr-error-constructors.zeek
  testing/btest/language/expr-error-operators.zeek
  testing/btest/language/expr-error-runtime-interp.zeek
  testing/btest/language/expr-error-runtime.zeek
Due: btest-command-commented

Don't abort script optimization on an assignment used as a value
  src/script_opt/Expr.cc
  testing/btest/Baseline.zam/language.assign-in-constructor-value/out
  testing/btest/Baseline/language.assign-in-constructor-value/out
  testing/btest/language/assign-in-constructor-value.zeek
Due: license, btest-command-commented

Cover remaining expression and composite-key error paths
  testing/btest/Baseline.zam/language.when-capture-errors/out
  testing/btest/Baseline/broker.store.brokerstore-backend-composite-key-arity/worker-1.result.log
  testing/btest/Baseline/language.expr-error-arithmetic/err
  testing/btest/Baseline/language.expr-error-assignment/err
  testing/btest/Baseline/language.expr-error-field-access/err
  testing/btest/Baseline/language.when-capture-errors/out
  testing/btest/broker/store/brokerstore-backend-composite-key-arity.zeek
  testing/btest/language/expr-error-arithmetic.zeek
  testing/btest/language/expr-error-assignment.zeek
  testing/btest/language/expr-error-field-access.zeek
  testing/btest/language/when-capture-errors.zeek
Due: btest-command-commented

NEWS: Add entry about OpaqueType extensions
  NEWS
Due: none

doc/NEWS/policy: Deprecate the Management Framework
  NEWS
  doc/frameworks/management.rst
  scripts/policy/frameworks/management/__load__.zeek
  testing/btest/Baseline/coverage.bare-mode-errors/errors
  testing/btest/Baseline/coverage.test-all-policy-cluster/.stderr
  testing/btest/Baseline/coverage.test-all-policy-zeekygen/.stderr
Due: btest-command-commented
