Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*|doc/devel/spicy/autogen/.*.spicy'

btest/http: Regression tests for Transfer-Encoding and Content-Length in bodies
  testing/btest/Baseline/scripts.base.protocols.http.content-length-in-request-body/http.log.cut
  testing/btest/Baseline/scripts.base.protocols.http.content-length-in-request-body/out
  testing/btest/Baseline/scripts.base.protocols.http.inner-transfer-encoding-ossfuzz/http.log.cut
  testing/btest/Baseline/scripts.base.protocols.http.inner-transfer-encoding-ossfuzz/weird.log.cut
  testing/btest/Baseline/scripts.base.protocols.http.inner-transfer-encoding-reproducer/http.log.cut
  testing/btest/Baseline/scripts.base.protocols.http.inner-transfer-encoding-reproducer/weird.log.cut
  testing/btest/Baseline/scripts.base.protocols.http.smuggle-http-request/http.log.cut
  testing/btest/Baseline/scripts.base.protocols.http.smuggle-http-request/weird.log.cut
  testing/btest/Traces/http/content-length-in-request-body.pcap
  testing/btest/Traces/http/http-inner-transfer-encoding-ossfuzz.pcap
  testing/btest/Traces/http/http-inner-transfer-encoding-reproducer.pcap
  testing/btest/Traces/http/smuggle-http-request.pcap
  testing/btest/scripts/base/protocols/http/content-length-in-request-body.zeek
  testing/btest/scripts/base/protocols/http/inner-transfer-encoding-ossfuzz.zeek
  testing/btest/scripts/base/protocols/http/inner-transfer-encoding-reproducer.zeek
  testing/btest/scripts/base/protocols/http/smuggle-http-request.zeek
Due: btest-command-commented

HTTP: Respect most outer Content-Length also for multipart and message
  src/analyzer/protocol/http/HTTP.cc
Due: license

btest/http: Add test PCAPs from CTU-SME and m57-long external tests
  testing/btest/Baseline/scripts.base.protocols.http.ctu-agent-tesla/http.log.cut
  testing/btest/Baseline/scripts.base.protocols.http.ctu-agent-tesla/out
  testing/btest/Baseline/scripts.base.protocols.http.m57-long-download-windowsupdate-1/conn.log.cut
  testing/btest/Baseline/scripts.base.protocols.http.m57-long-download-windowsupdate-1/files.log.cut
  testing/btest/Baseline/scripts.base.protocols.http.m57-long-download-windowsupdate-1/http.log.cut
  testing/btest/Baseline/scripts.base.protocols.http.m57-long-download-windowsupdate-1/out
  testing/btest/Baseline/scripts.base.protocols.http.m57-long-download-windowsupdate-2/conn.log.cut
  testing/btest/Baseline/scripts.base.protocols.http.m57-long-download-windowsupdate-2/files.log.cut
  testing/btest/Baseline/scripts.base.protocols.http.m57-long-download-windowsupdate-2/http.log.cut
  testing/btest/Baseline/scripts.base.protocols.http.m57-long-download-windowsupdate-2/out
  testing/btest/Traces/README
  testing/btest/Traces/http/ctu-62604-80.pcap
  testing/btest/Traces/http/m57-long-49583-80.pcap
  testing/btest/Traces/http/m57-long-49600-80.pcap
  testing/btest/scripts/base/protocols/http/ctu-agent-tesla.zeek
  testing/btest/scripts/base/protocols/http/m57-long-download-windowsupdate-1.zeek
  testing/btest/scripts/base/protocols/http/m57-long-download-windowsupdate-2.zeek
Due: btest-command-commented

external: Update zeek-testing baseline
  testing/external/commit-hash.zeek-testing
Due: none

Updating CHANGES and VERSION.
  CHANGES
  VERSION
Due: none

Adding missing documentation tags to existing Spicy analyzers.
  src/analyzer/protocol/postgresql/postgresql.evt
  src/analyzer/protocol/redis/resp.evt
  src/analyzer/protocol/ssl/spicy/SSL.evt
Due: license

Import IGMP analyzer from zeek-plugins/igmp
  scripts/base/packet-protocols/__load__.zeek
  scripts/base/packet-protocols/igmp/__load__.zeek
  scripts/base/packet-protocols/igmp/main.zeek
  scripts/base/packet-protocols/igmp/types.zeek
  src/packet_analysis/protocol/CMakeLists.txt
  src/packet_analysis/protocol/igmp/CMakeLists.txt
  src/packet_analysis/protocol/igmp/igmp.evt
  src/packet_analysis/protocol/igmp/igmp.spicy
  testing/btest/Baseline/coverage.bare-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.default-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.find-bro-logs/out
  testing/btest/Baseline/plugins.hooks/output
  testing/btest/Baseline/scripts.base.protocols.igmp.bad-checksum/igmp.log
  testing/btest/Baseline/scripts.base.protocols.igmp.basic/igmp.log
  testing/btest/Traces/igmp/igmp-bad-checksum.pcap
  testing/btest/Traces/igmp/igmp.pcap
  testing/btest/scripts/base/protocols/igmp/bad-checksum.zeek
  testing/btest/scripts/base/protocols/igmp/basic.zeek
  testing/external/commit-hash.zeek-testing
Due: license, btest-command-commented

Update docs for IGMP analyzer addition
  doc/script-reference/autogenerated-package-index.rst
  doc/script-reference/autogenerated-packet-analyzer-index.rst
  doc/script-reference/autogenerated-protocol-analyzer-index.rst
  doc/script-reference/autogenerated-script-index.rst
  doc/scripts/base/bif/index.rst
  doc/scripts/base/frameworks/logging/main.zeek.rst
  doc/scripts/base/packet-protocols/__load__.zeek.rst
  doc/scripts/base/packet-protocols/igmp/__load__.zeek.rst
  doc/scripts/base/packet-protocols/igmp/index.rst
  doc/scripts/base/packet-protocols/igmp/main.zeek.rst
  doc/scripts/base/packet-protocols/igmp/types.zeek.rst
  doc/scripts/base/packet-protocols/index.rst
  doc/scripts/base/protocols/conn/inactivity.zeek.rst
Due: none

Add igmpv1 btest/trace
  testing/btest/Baseline/scripts.base.protocols.igmp.basic-v1/igmp.log
  testing/btest/Traces/README
  testing/btest/Traces/igmp/multicast-igmp-version-membership-query-and-report.pcap
  testing/btest/scripts/base/protocols/igmp/basic-v1.zeek
Due: btest-command-commented

Fix inconsistencies in IGMP analyzer.
  scripts/base/packet-protocols/igmp/__load__.zeek
  scripts/base/packet-protocols/igmp/main.zeek
  src/packet_analysis/protocol/igmp/igmp.evt
  testing/btest/Baseline/coverage.bare-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.default-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.init-default/missing_loads
  testing/btest/Baseline/plugins.hooks/output
  testing/btest/Baseline/scripts.base.protocols.igmp.basic/out
  testing/btest/scripts/base/protocols/igmp/bad-checksum.zeek
  testing/btest/scripts/base/protocols/igmp/basic.zeek
Due: license, btest-command-commented

Formatting/documentation updates
  scripts/base/packet-protocols/igmp/main.zeek
  scripts/base/packet-protocols/igmp/types.zeek
Due: none

Add igmp/spicy-events.zeek for docs, expand testing of events
  doc/scripts/base/packet-protocols/igmp/main.zeek.rst
  doc/scripts/base/packet-protocols/igmp/types.zeek.rst
  scripts/base/packet-protocols/igmp/main.zeek
  scripts/base/packet-protocols/igmp/spicy-events.zeek
  scripts/base/packet-protocols/igmp/types.zeek
  src/packet_analysis/protocol/igmp/igmp.evt
  testing/btest/Baseline/coverage.init-default/missing_loads
  testing/btest/Baseline/plugins.hooks/output
  testing/btest/Baseline/scripts.base.protocols.igmp.bad-checksum/out
  testing/btest/Baseline/scripts.base.protocols.igmp.basic/out
  testing/btest/scripts/base/protocols/igmp/bad-checksum.zeek
  testing/btest/scripts/base/protocols/igmp/basic.zeek
Due: license, btest-command-commented

docs: document script profiling (--profile-scripts)
  doc/troubleshooting.rst
Due: none

Enhancement: Add offset parameter to find_first/find_last
  src/strings.bif
  testing/btest/Baseline/bifs.find_first_offset/output
  testing/btest/bifs/find_first_offset.zeek
Due: btest-command-commented

Fix: cast string length to unsigned to fix CI build
  src/strings.bif
Due: none

Fix feedback for contributor PR
  src/strings.bif
  testing/btest/Baseline/bifs.find_first_offset/output
  testing/btest/bifs/find_first_offset.zeek
Due: btest-command-commented

Make README a symlink to README.md
  README
Due: none

Fix clang-tidy warning about needless parameter copies
  src/Func.cc
  src/Func.h
Due: license

Update doc/redirects.yml to doc-redirects format [skip ci]
  doc/redirects.yml
Due: none

Turn "About Zeek" into a chapter and add monitoring to it
  doc/about.rst
  doc/about/architecture.rst
  doc/about/history.rst
  doc/about/index.rst
  doc/about/monitoring.rst
  doc/about/what.rst
  doc/about/why.rst
  doc/index.rst
Due: none

Refresh the acknowledgments
  doc/acknowledgements.rst
Due: none

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/scripts/base/bif/strings.bif.zeek.rst
Due: none

pcpang/CMakeLists: Do not install the targets
  src/iosource/pcapng/CMakeLists.txt
Due: none

src/CMakeLists: Exclude headers from auxil directories
  src/CMakeLists.txt
Due: none

cluster/experimental: Add non-Broker backend support
  scripts/policy/frameworks/cluster/experimental.zeek
  scripts/policy/frameworks/cluster/nodes-experimental/manager.zeek
  testing/btest/Baseline/cluster.generic.cluster-started/logger.out
  testing/btest/Baseline/cluster.generic.cluster-started/manager.out
  testing/btest/Baseline/cluster.generic.cluster-started/proxy.out
  testing/btest/Baseline/cluster.generic.cluster-started/worker-1.out
  testing/btest/Baseline/cluster.generic.cluster-started/worker-2.out
  testing/btest/Baseline/plugins.publish-event-metadata/manager..stdout
  testing/btest/Baseline/plugins.publish-event-metadata/worker-1..stdout
  testing/btest/Baseline/scripts.policy.frameworks.cluster.cluster_started/manager..stdout
  testing/btest/cluster/generic/cluster-started.zeek
  testing/btest/plugins/publish-event-metadata-plugin/src/Plugin.cc
  testing/btest/scripts/policy/frameworks/cluster/cluster_started.zeek
Due: btest-command-commented

Check for __APPLE__ when checking if lsan should be enabled
  cmake_templates/zeek-config.h.in
  tools/bifcl/builtin-func.l
  tools/binpac/src/pac_main.cc
Due: license

Disable clang-format for zeek-config.h.in
  cmake_templates/zeek-config.h.in
Due: none

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/scripts/policy/frameworks/cluster/experimental.zeek.rst
Due: none

Restore running pre-commit during 'Generate Docs' workflow
  .github/workflows/generate-docs.yml
Due: none

Use "modules" instead of "packages" for Zeek's own tree
  doc/reference/zeekscript/packages.rst
Due: none

Restructure grab-bag into advanced scripting
  doc/advanced/grab-bag/index.rst
  doc/advanced/index.rst
  doc/advanced/scripting/conn-id-ctx.rst
  doc/advanced/scripting/conn_id_ctx_my_endpoint.zeek
  doc/advanced/scripting/index.rst
  doc/advanced/scripting/optimization.rst
  doc/advanced/scripting/usage.rst
  doc/tutorial/invoking-zeek.rst
Due: none

Remove existing uses of the "Zeekscript" moniker
  doc/tutorial/scripting/basics.rst
  doc/tutorial/scripting/index.rst
Due: none

Don't use "software framework" to refer to Zeek's general frameworks
  doc/frameworks/index.rst
Due: none
