Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

license:
  name: Check for license headers
  entry: ./ci/license-header.py
  language: python

btest-command-commented:
  name: Check that all BTest command lines are commented out
  entry: ^\s*@TEST-
  language: pygrep

CI: Remove usage of FreeBSD latest ports tree
  ci/freebsd/prepare.sh
Due: none

Fix typos pre-commit failure
  doc/.typos.toml
Due: none

Update zeek-testing commit hash to master commit
  CHANGES
  VERSION
  testing/external/commit-hash.zeek-testing
Due: none

Fix ZIP file extraction and btests on Windows
  src/spicy/runtime-support.cc
  testing/btest/Baseline/scripts.base.files.zip.nested/extracted.log
  testing/btest/scripts/base/files/zip/basic.zeek
  testing/btest/scripts/base/files/zip/descriptor.zeek
  testing/btest/scripts/base/files/zip/nested.zeek
Due: license, btest-command-commented

Introduce src/benchmarks with a bit of serialization
  src/CMakeLists.txt
  src/benchmarks/CMakeLists.txt
  src/benchmarks/cluster/CMakeLists.txt
  src/benchmarks/cluster/broker-deserializer.cc
  src/benchmarks/cluster/broker-serializer.cc
  src/benchmarks/cluster/common.h
  src/benchmarks/cluster/event-serializer.cc
Due: license

cluster/serializer: Initial SansBroker implementation
  src/cluster/serializer/CMakeLists.txt
  src/cluster/serializer/sans-broker/CMakeLists.txt
  src/cluster/serializer/sans-broker/Plugin.cc
  src/cluster/serializer/sans-broker/Plugin.h
  src/cluster/serializer/sans-broker/README
  src/cluster/serializer/sans-broker/Serializer.cc
  src/cluster/serializer/sans-broker/Serializer.h
  src/cluster/serializer/sans-broker/Test.cc
Due: license

WIP ListVal fiddeling
  src/Func.cc
  src/Func.h
  src/OpaqueVal.cc
  src/OpaqueVal.h
  src/broker/Data.cc
  src/broker/Store.cc
  src/file_analysis/analyzer/x509/X509.cc
  src/logging/Manager.cc
  src/probabilistic/Topk.cc
  src/storage/Backend.cc
  src/telemetry/Opaques.h
Due: license

Pass spicy file analyzer component name as source directly
  src/spicy/runtime-support.cc
  testing/btest/Baseline/scripts.base.files.zip.basic/extracted.log
  testing/btest/Baseline/scripts.base.files.zip.basic/files.log
  testing/btest/Baseline/scripts.base.files.zip.descriptor/extracted.log
  testing/btest/Baseline/scripts.base.files.zip.nested/extracted.log
  testing/btest/scripts/base/files/zip/basic.zeek
  testing/external/commit-hash.zeek-testing
Due: license, btest-command-commented

Lookup files from file state instead of passing tag from protocol analyzers
  src/spicy/runtime-support.cc
Due: license

Avoid 'device or resource busy' errors on Windows with .stdout
  testing/btest/scripts/base/files/zip/basic.zeek
  testing/btest/scripts/base/files/zip/descriptor.zeek
  testing/btest/scripts/base/files/zip/nested.zeek
Due: btest-command-commented

Bump version of GitPython used by docs builds
  doc/requirements.txt
Due: none

zip: Pass uncompressed size to zip_file
  src/file_analysis/analyzer/zip/zeek_zip.spicy
  src/file_analysis/analyzer/zip/zip.spicy
  testing/btest/Baseline/scripts.base.files.zip.a.zip/conn.log
  testing/btest/Baseline/scripts.base.files.zip.a.zip/files.log
  testing/btest/Traces/README
  testing/btest/scripts/base/files/zip/a.zip.zeek
Due: license, btest-command-commented

zip: Set filename during ZIP::file()
  scripts/base/files/zip/main.zeek
  testing/btest/Baseline/scripts.base.files.zip.a.zip/files.log
Due: btest-command-commented

Fix broken CHANGES/VERSION from earlier merge
  CHANGES
  VERSION
Due: none

Pass spicy file analyzer component name as source directly
  src/spicy/runtime-support.cc
  testing/btest/Baseline/scripts.base.files.zip.basic/extracted.log
  testing/btest/Baseline/scripts.base.files.zip.basic/files.log
  testing/btest/Baseline/scripts.base.files.zip.descriptor/extracted.log
  testing/btest/Baseline/scripts.base.files.zip.descriptor/files.log
  testing/btest/Baseline/scripts.base.files.zip.nested/extracted.log
  testing/btest/Baseline/scripts.base.files.zip.nested/files.log
  testing/btest/scripts/base/files/zip/basic.zeek
  testing/btest/scripts/base/files/zip/descriptor.zeek
  testing/btest/scripts/base/files/zip/nested.zeek
  testing/external/commit-hash.zeek-testing
Due: license, btest-command-commented

Rename multicast_addr/multicast_p to group_addr/group_p
  scripts/policy/protocols/conn/multicast-participants.zeek
  testing/btest/Baseline/scripts.policy.protocols.conn.multicast-participants/multicast_participants.log
  testing/external/commit-hash.zeek-testing
Due: btest-command-commented

Add storage-framework options to known-certs and known-hosts
  scripts/policy/protocols/conn/known-hosts.zeek
  scripts/policy/protocols/conn/known-services.zeek
  scripts/policy/protocols/ssl/known-certs.zeek
  testing/btest/Baseline/scripts.policy.protocols.conn.known-hosts/knownhosts-broker-store.log
  testing/btest/Baseline/scripts.policy.protocols.conn.known-hosts/knownhosts-storage-framework.log
  testing/btest/Baseline/scripts.policy.protocols.conn.known-hosts/logs-diff.txt
  testing/btest/Baseline/scripts.policy.protocols.ssl.known-certs/knowncerts-broker-store.log
  testing/btest/Baseline/scripts.policy.protocols.ssl.known-certs/knowncerts-storage-framework.log
  testing/btest/Baseline/scripts.policy.protocols.ssl.known-certs/logs-diff.txt
  testing/btest/scripts/policy/protocols/conn/known-hosts.zeek
  testing/btest/scripts/policy/protocols/conn/known-services.zeek
  testing/btest/scripts/policy/protocols/ssl/known-certs.zeek
Due: btest-command-commented

Rework naming of option, move default store file location
  scripts/policy/protocols/conn/known-hosts.zeek
  scripts/policy/protocols/conn/known-services.zeek
  scripts/policy/protocols/ssl/known-certs.zeek
  testing/btest/scripts/policy/protocols/conn/known-hosts.zeek
  testing/btest/scripts/policy/protocols/conn/known-services.zeek
  testing/btest/scripts/policy/protocols/ssl/known-certs.zeek
Due: btest-command-commented

Fix CHANGES and VERSION wanting to use 8.2.0-rc1 versions
  CHANGES
  VERSION
Due: none

CI: Bump visualstudio2022buildtools to 117.14.29
  ci/windows/Dockerfile
Due: none

CI: Add ccache to Windows builds
  .cirrus.yml
  ci/windows/Dockerfile
  ci/windows/build.cmd
Due: none

track per-body modules
  src/script_opt/ZAM/ZBody.cc
  src/script_opt/ZAM/ZBody.h
  src/script_opt/ZAM/ZInst.h
  src/script_opt/ZAM/prof.bif
Due: license

Updating CHANGES and VERSION for 8.2.0-rc1
  CHANGES
  VERSION
Due: none

Drop duplicate case in Redis analyzer
  src/analyzer/protocol/redis/redis.spicy
Due: license

support unix socket in windows
  src/Flare.cc
  testing/btest/core/flare-unix-socket-windows.zeek
Due: license, btest-command-commented

Fix parsing of X509 certificates in RDP
  src/file_analysis/analyzer/x509/X509.cc
  testing/btest/Baseline/scripts.base.protocols.rdp.rdp-x509/x509.log
  testing/btest/scripts/base/protocols/rdp/rdp-x509.zeek
  testing/scripts/diff-remove-x509-key-info
Due: license, btest-command-commented

remove assert that is incorrect for lambdas with condition variables
  src/script_opt/ZAM/ZInstAux.cc
Due: license

full working version
  scripts/base/init-bare.zeek
  src/script_opt/ScriptOpt.cc
  src/script_opt/ScriptOpt.h
  src/script_opt/ZAM/ZBody.cc
  src/script_opt/ZAM/ZBody.h
  src/script_opt/ZAM/prof.bif
Due: license

sans-broker: More stuff
  src/CMakeLists.txt
  src/cluster/serializer/sans-broker/README
  src/cluster/serializer/sans-broker/Serializer.cc
  src/cluster/serializer/sans-broker/Serializer.h
  src/cluster/serializer/sans-broker/Test.cc
Due: license

Path conditions:
  license: any of: \.(h|c|cpp|cc|spicy|evt)$, but not: ^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$
  btest-command-commented: any of: ^testing/btest/.*$
