Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*|doc/devel/spicy/autogen/.*.spicy'

nflog: fix out-of-bounds read in NFLogAnalyzer::AnalyzePacket
  src/packet_analysis/protocol/nflog/NFLog.cc
Due: license

widen ayiya identity_len to avoid uint8_t truncation
  src/packet_analysis/protocol/ayiya/AYIYA.cc
Due: license

krb: fix out-of-bounds read in GetStringFromPrincipalName
  src/analyzer/protocol/krb/krb-types.pac
Due: none

dce-rpc: fix out-of-bounds read in process_dce_rpc_bind_ack
  src/analyzer/protocol/dce-rpc/dce_rpc-analyzer.pac
Due: none

tools/netcontrol/demo: Switch away from asyncio, wip stuff
  tools/netcontrol/demo.py
Due: none

tcp: clamp window_scale to RFC 7323 max to avoid oversized shift
  src/packet_analysis/protocol/tcp/TCPSessionAdapter.cc
Due: license

netbios: remove unused broadcast name parsing in ParseBroadcast
  src/analyzer/protocol/netbios/NetbiosSSN.cc
Due: license

ayiya: add test for identity length that overflows uint8_t
  testing/btest/Baseline/core.tunnels.ayiya-large-identity/conn.log
  testing/btest/Baseline/core.tunnels.ayiya-large-identity/tunnel.log
  testing/btest/Traces/README
  testing/btest/Traces/tunnels/ayiya-large-identity.pcap
  testing/btest/Traces/tunnels/ayiya-large-identity.pcap.py
  testing/btest/core/tunnels/ayiya-large-identity.test
Due: btest-command-commented

btest/cluster/zeromq: Stabilize drop tests, take two
  testing/btest/Baseline/cluster.zeromq.overload-drop/manager.out
  testing/btest/Baseline/cluster.zeromq.overload-worker-proxy-topic-drop/manager.out
  testing/btest/cluster/zeromq/overload-drop.zeek
  testing/btest/cluster/zeromq/overload-worker-proxy-topic-drop.zeek
Due: btest-command-commented

rfb: fix null deref in proc_handle_server_params on empty name
  src/analyzer/protocol/rfb/rfb-analyzer.pac
Due: none

tools/netcontrol/demo: Add support for removal of rules
  tools/netcontrol/demo.py
Due: none

gssapi: fix out-of-bounds read in is_first_byte on empty token
  src/analyzer/protocol/gssapi/gssapi-protocol.pac
Due: none

Bump zeek-testing to pull in m57-long baseline tweak
  testing/external/commit-hash.zeek-testing
Due: none

Fix typo in operator
  src/analyzer/protocol/netbios/NetbiosSSN.cc
Due: license

gtpv1: fix out-of-bounds read in BuildEndUserAddr
  src/packet_analysis/protocol/gtpv1/gtpv1-analyzer.pac
Due: none

dns: cast to uint32_t in ExtractLong to avoid signed-shift overflow
  src/analyzer/protocol/dns/DNS.cc
Due: license

asn1: fix uint64 shift UB on overlong oid subidentifier
  src/analyzer/protocol/asn1/asn1.pac
Due: none

WIP
  tools/netcontrol/demo.py
  tools/netcontrol/demo.zeek
Due: none

net_util: cast to uint32_t in extract_uint32 to avoid signed-shift overflow
  src/net_util.cc
Due: license

demo.py: Remove Receiver, switch to zeekws.Client
  tools/netcontrol/demo.py
Due: none

Rename demo.py to ws-acld.py and some commenting.
  tools/netcontrol/ws-acldng.py
Due: none

fixup! Rename demo.py to ws-acld.py and some commenting.
  tools/netcontrol/ws-acldng.py
Due: none

Fix clang-tidy bugprone-unhandled-code-path findings
  src/analyzer/protocol/login/NVT.cc
  src/packet_analysis/protocol/ip/IP.cc
  src/packet_analysis/protocol/tcp/Stats.cc
Due: license

Disable some new clang-tidy checkers
  .clang-tidy
Due: none

Add a couple clang-tidy modernize-avoid-c-style-cast fixes
  src/val-convert.cc
Due: license

Fix threading value constructor to copy sizes
  src/threading/SerialTypes.cc
Due: license

Fix zeek-testing commit hash
  testing/external/commit-hash.zeek-testing
Due: none

Adapt CI shell scripts to run on other CI providers
  ci/build.sh
  ci/common.sh
  ci/init-external-repos.sh
  ci/spicy-install-analyzers.sh
  ci/test.sh
  ci/windows/build.cmd
  ci/windows/configure.cmd
  ci/windows/prepare.cmd
  ci/windows/run-btests.sh
  ci/windows/test.cmd
Due: none

null: cast all bytes to uint32_t in protocol field
  src/packet_analysis/protocol/null/Null.cc
Due: license

Infer default value for ZEEK_CI_CPUS
  ci/build.sh
Due: none

Do not hardcode path to msvc toolchain path
  ci/windows/build.cmd
  ci/windows/configure.cmd
  ci/windows/test.cmd
Due: none

Consistently use `python3` on Freebsd in CI
  ci/freebsd/prepare.sh
Due: none

CI: Rework Windows Dockerfile to use newer version of Windows
  ci/windows/Dockerfile
Due: none

Replace use of `wmic` with Powershell equivalent
  ci/windows/prepare.cmd
Due: none

Remove CirrusCI configuration
  .cirrus.yml
Due: none

Add Github Actions CI
  .github/workflows/check.yml
Due: none

Bump dates on CI Dockerfiles
  ci/alpine/Dockerfile
  ci/centos-stream-10/Dockerfile
  ci/centos-stream-9/Dockerfile
  ci/debian-12/Dockerfile
  ci/debian-13/Dockerfile
  ci/debian-unstable/Dockerfile
  ci/fedora-43/Dockerfile
  ci/fedora-44/Dockerfile
  ci/opensuse-leap-16.0/Dockerfile
  ci/opensuse-tumbleweed/Dockerfile
  ci/ubuntu-22.04/Dockerfile
  ci/ubuntu-24.04/Dockerfile
  ci/ubuntu-26.04/Dockerfile
Due: none

Add configuration for CircleCI
  .circleci/config.yml
  ci/macos/prepare.sh
Due: none

Use dynamic configuration to manager Github labels for PRs
  .circleci/config.yml
  .circleci/generate-pr-params.py
  .circleci/setup.yml
Due: none
