Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

license:
  name: Check for license headers
  entry: ./ci/license-header.py
  language: python

btest-command-commented:
  name: Check that all BTest command lines are commented out
  entry: ^\s*@TEST-
  language: pygrep

fixup! tools/netcontrol example for Aashish
  tools/netcontrol/demo.py
Due: none

fixup! fixup! tools/netcontrol example for Aashish
  scripts/base/frameworks/netcontrol/plugins/pubsub.zeek
  tools/netcontrol/demo.py
Due: none

fixup! Introduce base/utils/batch-queue
  scripts/base/utils/batch-queue.zeek
Due: none

doc: Add websockets pip --target trick
  doc/building-from-source.rst
Due: none

Tune ZeroMQ drop tests to overflow the XPUB watermark more easily
  testing/btest/cluster/zeromq/overload-drop.zeek
  testing/btest/cluster/zeromq/overload-worker-proxy-topic-drop.zeek
Due: btest-command-commented

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/reference/zeekscript/autogenerated-protocol-analyzer-index.rst
  doc/scripts/base/bif/plugins/Zeek_SSL.events.bif.zeek.rst
Due: none

Consolidate duplicated switch cases as pointed out by `clang-tidy`
  src/Val.cc
Due: license

DO NOT MERGE: Temporarily disable flaky test
  testing/btest/cluster/zeromq/overload-drop.zeek
  testing/btest/cluster/zeromq/overload-worker-proxy-topic-drop.zeek
Due: btest-command-commented

Infer default value for ZEEK_CI_CPUS
  ci/build.sh
Due: none

Add Github Actions CI
  .github/workflows/check.yml
Due: none

DO NOT MERGE: Temporarily disable Cirrus CI
  .cirrus.yml.disabled
Due: none

DO NOT MERGE: Temporarily remove other GH workflows
  .github/workflows/ci-notification.yml
  .github/workflows/coverity-scan.yml
  .github/workflows/docs-link-check.yml
  .github/workflows/generate-docs.yml
  .github/workflows/pre-commit.yml
Due: none

fixup! Add Github Actions CI
  .github/workflows/check.yml
Due: none

Fix segfault when `global_ids` called before types
  src/zeek.bif
  testing/btest/Baseline/bifs.global_ids_global/.stderr
  testing/btest/bifs/global_ids_global.zeek
Due: btest-command-commented

fixup! fixup! Add Github Actions CI
  .github/workflows/check.yml
Due: none

docs: clarify note about package manager versions in Quickstart Guide
  doc/quickstart.rst
Due: none

doc: clarify binary package reference in Quickstart Guide
  doc/quickstart.rst
Due: none

doc: restore original Quickstart wording
  doc/quickstart.rst
Due: none

doc: add clarification about official Zeek binary packages in install guide
  doc/install.rst
Due: none

Add support for IPv6 Multicast Listener Discovery v1/v2
  doc/reference/zeekscript/autogenerated-file-analyzer-index.rst
  doc/reference/zeekscript/autogenerated-protocol-analyzer-index.rst
  doc/scripts/base/bif/event.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_ICMP.events.bif.zeek.rst
  doc/scripts/base/init-bare.zeek.rst
  scripts/base/init-bare.zeek
  src/packet_analysis/protocol/icmp/ICMP.cc
  src/packet_analysis/protocol/icmp/ICMP.h
  src/packet_analysis/protocol/icmp/events.bif
  testing/btest/Baseline/scripts.base.protocols.icmp.icmp6-mldv1/.stdout
  testing/btest/Baseline/scripts.base.protocols.icmp.icmp6-mldv2/.stdout
  testing/btest/Baseline/scripts.base.protocols.icmp.icmp6-mldv2/weird.log
  testing/btest/Traces/README
  testing/btest/Traces/icmp/icmp6-mldv1.pcap
  testing/btest/Traces/icmp/icmp6-mldv1.py
  testing/btest/Traces/icmp/icmp6-mldv2.pcap
  testing/btest/Traces/icmp/icmp6-mldv2.py
  testing/btest/scripts/base/protocols/icmp/icmp6-mldv1.zeek
  testing/btest/scripts/base/protocols/icmp/icmp6-mldv2.zeek
Due: license, btest-command-commented

Switch core.icmp.icmp_sent btest to use a different pcap
  testing/btest/Baseline/core.icmp.icmp_sent/out
  testing/btest/Traces/README
  testing/btest/Traces/icmp/icmp6-mld-query.pcap
  testing/btest/Traces/icmp/icmp6-mld-query.py
  testing/btest/Traces/icmp/icmp_sent.pcap
  testing/btest/core/icmp/icmp_sent.zeek
Due: btest-command-commented

Update libunistd submodule for icmp6.h changes
  CHANGES
  VERSION
Due: none

CI: Rework Windows Dockerfile to use newer version of Windows
  .cirrus.yml
  ci/windows/Dockerfile
Due: none

netbios: fix out-of-bounds read in NetbiosSSN_Interpreter::ConvertName
  src/analyzer/protocol/netbios/NetbiosSSN.cc
Due: license

doc: Touch up install guide outdated distro note
  doc/install.rst
  doc/quickstart.rst
Due: none

Ignore -Wmaybe-uninitialized for GCC when building with --enable-werror
  CMakeLists.txt
Due: none

login: fix out-of-bounds read in TelnetEnvironmentOption::ExtractEnv
  src/analyzer/protocol/login/NVT.cc
Due: license

bittorrent: fix out-of-bounds read in ResponseBenc peers parser
  src/analyzer/protocol/bittorrent/BitTorrentTracker.cc
Due: license

wip netcontrol pubsub plugin
  scripts/base/frameworks/netcontrol/plugins/pubsub.zeek
Due: none

tools/netcontrol/demo: Implement HTTP POST and reply back to Zeek
  tools/netcontrol/demo.py
Due: none

Revert "ci: fix macos build"
  .cirrus.yml
  ci/macos/prepare.sh
Due: none

netbios: fix MAKE_INT16 high-byte left shift
  src/analyzer/protocol/netbios/NetbiosSSN.cc
Due: license

netbios: reject short UDP datagrams in ParseMessageUDP
  src/analyzer/protocol/netbios/NetbiosSSN.cc
Due: license

Fix sending vector of groups from ICMP MLDv2 reports
  scripts/base/init-bare.zeek
  src/packet_analysis/protocol/icmp/ICMP.cc
  src/packet_analysis/protocol/icmp/events.bif
  testing/btest/Baseline/scripts.base.protocols.icmp.icmp6-mldv2/.stdout
  testing/btest/Baseline/scripts.base.protocols.icmp.icmp6-mldv2/weird.log
  testing/btest/scripts/base/protocols/icmp/icmp6-mldv2.zeek
Due: license, btest-command-commented

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/scripts/base/bif/plugins/Zeek_ICMP.events.bif.zeek.rst
  doc/scripts/base/init-bare.zeek.rst
Due: none

ident: fix signed overflow in ParsePort
  src/analyzer/protocol/ident/Ident.cc
Due: license

null: cast to uint32_t to avoid signed-shift UB
  src/packet_analysis/protocol/null/Null.cc
Due: license

Path conditions:
  license: any of: \.(h|c|cpp|cc|spicy|evt)$, but not: ^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$
  btest-command-commented: any of: ^testing/btest/.*$
