Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*|doc/devel/spicy/autogen/.*.spicy'

Merge remote-tracking branch 'origin/topic/awelzel/zeekjs-fix-cmake-quoting'
  CHANGES
  VERSION
Due: none

Merge remote-tracking branch 'origin/topic/timw/fix-spicy-tftp-docs'
  CHANGES
  VERSION
  doc/devel/spicy/autogen/tftp.evt
  doc/devel/spicy/autogen/tftp.spicy
  doc/devel/spicy/autogen/tftp.zeek
Due: none

Update docs for 8.1.1
  doc/scripts/base/protocols/redis/main.zeek.rst
Due: none

Merge branch 'fix/table-iter-info-memory-leak'
  CHANGES
  VERSION
  src/script_opt/ZAM/IterInfo.h
Due: license

btest/http: Add test PCAPs from CTU-SME and m57-long external tests
  testing/btest/Baseline/scripts.base.protocols.http.ctu-agent-tesla/http.log.cut
  testing/btest/Baseline/scripts.base.protocols.http.ctu-agent-tesla/out
  testing/btest/Baseline/scripts.base.protocols.http.m57-long-download-windowsupdate-1/conn.log.cut
  testing/btest/Baseline/scripts.base.protocols.http.m57-long-download-windowsupdate-1/files.log.cut
  testing/btest/Baseline/scripts.base.protocols.http.m57-long-download-windowsupdate-1/http.log.cut
  testing/btest/Baseline/scripts.base.protocols.http.m57-long-download-windowsupdate-1/out
  testing/btest/Baseline/scripts.base.protocols.http.m57-long-download-windowsupdate-2/conn.log.cut
  testing/btest/Baseline/scripts.base.protocols.http.m57-long-download-windowsupdate-2/files.log.cut
  testing/btest/Baseline/scripts.base.protocols.http.m57-long-download-windowsupdate-2/http.log.cut
  testing/btest/Baseline/scripts.base.protocols.http.m57-long-download-windowsupdate-2/out
  testing/btest/Traces/README
  testing/btest/Traces/http/ctu-62604-80.pcap
  testing/btest/Traces/http/m57-long-49583-80.pcap
  testing/btest/Traces/http/m57-long-49600-80.pcap
  testing/btest/scripts/base/protocols/http/ctu-agent-tesla.zeek
  testing/btest/scripts/base/protocols/http/m57-long-download-windowsupdate-1.zeek
  testing/btest/scripts/base/protocols/http/m57-long-download-windowsupdate-2.zeek
  testing/external/commit-hash.zeek-testing
Due: btest-command-commented

HTTP: Make debug messages more useful
  src/analyzer/protocol/http/HTTP.cc
Due: license

btest/http: Regression tests for Transfer-Encoding and Content-Length in bodies
  testing/btest/Baseline/scripts.base.protocols.http.content-length-in-request-body/http.log.cut
  testing/btest/Baseline/scripts.base.protocols.http.content-length-in-request-body/out
  testing/btest/Baseline/scripts.base.protocols.http.inner-transfer-encoding-ossfuzz/http.log.cut
  testing/btest/Baseline/scripts.base.protocols.http.inner-transfer-encoding-ossfuzz/weird.log.cut
  testing/btest/Baseline/scripts.base.protocols.http.inner-transfer-encoding-reproducer/http.log.cut
  testing/btest/Baseline/scripts.base.protocols.http.inner-transfer-encoding-reproducer/weird.log.cut
  testing/btest/Baseline/scripts.base.protocols.http.smuggle-http-request/http.log.cut
  testing/btest/Baseline/scripts.base.protocols.http.smuggle-http-request/weird.log.cut
  testing/btest/Traces/http/content-length-in-request-body.pcap
  testing/btest/Traces/http/http-inner-transfer-encoding-ossfuzz.pcap
  testing/btest/Traces/http/http-inner-transfer-encoding-reproducer.pcap
  testing/btest/Traces/http/smuggle-http-request.pcap
  testing/btest/scripts/base/protocols/http/content-length-in-request-body.zeek
  testing/btest/scripts/base/protocols/http/inner-transfer-encoding-ossfuzz.zeek
  testing/btest/scripts/base/protocols/http/inner-transfer-encoding-reproducer.zeek
  testing/btest/scripts/base/protocols/http/smuggle-http-request.zeek
Due: btest-command-commented

HTTP: Respect most outer Content-Length also for multipart and message
  src/analyzer/protocol/http/HTTP.cc
Due: license

btest/http/deeply-nested-mime: Remove spurious http.log entry
  testing/btest/Baseline/scripts.base.protocols.http.deeply-nested-mime/http.log
Due: btest-command-commented

HTTP: Ignore Transfer-Encoding header of inner MIME entities
  src/analyzer/protocol/http/HTTP.cc
Due: license

Update docs and NEWS for 8.0.6
  NEWS
  doc/scripts/base/protocols/redis/main.zeek.rst
Due: none

Update docs and NEWS for 8.1.1
  NEWS
  doc/scripts/base/protocols/redis/main.zeek.rst
Due: none

Fixes for event grounds in standalone compilation Streamlining of Func::AddBody interfaces
  src/Func.cc
  src/Func.h
  src/Stmt.h
  src/script_opt/CPP/Func.cc
  src/script_opt/CPP/RuntimeInitSupport.cc
  src/script_opt/CPP/RuntimeInits.cc
  src/script_opt/Inline.cc
  src/script_opt/ScriptOpt.cc
  src/script_opt/ScriptOpt.h
  src/script_opt/ZAM/OPs/internal.op
Due: license

tools/bifcl: Support void functions
  NEWS
  testing/btest/Baseline/plugins.bifs-and-scripts/output
  testing/btest/plugins/bifs-and-scripts.sh
  tools/bifcl/builtin-func.y
Due: btest-command-commented

Attr: Allow va_args function for &on_change
  NEWS
  src/Attr.cc
Due: license

PktSrc: Remove spurious newline after listening on line
  src/iosource/PktSrc.cc
Due: license

Disable clang-format for zeek-config.h.in
  cmake_templates/zeek-config.h.in
Due: none

Change `%` in docs to be "remainder"
  doc/script-reference/operators.rst
Due: none

Add `modulo` bif
  NEWS
  doc/script-reference/operators.rst
  doc/scripts/base/bif/zeek.bif.zeek.rst
  src/script_opt/FuncInfo.cc
  src/zeek.bif
  testing/btest/Baseline/bifs.modulo/.stdout
  testing/btest/Baseline/bifs.modulo_fail/.stderr
  testing/btest/bifs/modulo.zeek
  testing/btest/bifs/modulo_fail.zeek
  testing/btest/opt/ZAM-bif-tracking.zeek
Due: license, btest-command-commented

Check for __APPLE__ when checking if lsan should be enabled
  cmake_templates/zeek-config.h.in
  tools/bifcl/builtin-func.l
  tools/binpac/src/pac_main.cc
Due: license

docs: use HTTPS for try.zeek.org link in README
  README.md
Due: none

Describe `%` as remainder and add a note for `int`
  doc/script-reference/types.rst
Due: none

Start the new tutorial doc outline
  doc/index.rst
  doc/tutorial/cluster-backends.rst
  doc/tutorial/index.rst
  doc/tutorial/intro-scripting.rst
  doc/tutorial/invoking-zeek.rst
  doc/tutorial/invoking-zeekctl.rst
  doc/tutorial/logs.rst
  doc/tutorial/setup.rst
  doc/tutorial/using-packages.rst
  doc/tutorial/zeek-frameworks.rst
Due: none

Bring in the initial tutorial
  doc/tutorial/intro-scripting.rst
  doc/tutorial/invoking-zeek.rst
  doc/tutorial/invoking-zeekctl.rst
  doc/tutorial/logs.rst
  doc/tutorial/setup.rst
  doc/tutorial/using-packages.rst
  doc/tutorial/zeek-frameworks.rst
Due: none

Remove TODOs in new tutorial
  doc/tutorial/invoking-zeek.rst
  doc/tutorial/logs.rst
  doc/tutorial/scripting/index.rst
  doc/tutorial/scripting/tutorial-example.rst
  doc/tutorial/using-packages.rst
Due: none

Move scripting tutorial to use diffs
  doc/tutorial/scripting/tutorial-example.rst
  doc/tutorial/scripting/tutorial/01-steps/01.zeek
  doc/tutorial/scripting/tutorial/01-steps/02.zeek
  doc/tutorial/scripting/tutorial/01-steps/02.zeek.diff
  doc/tutorial/scripting/tutorial/01-steps/03.zeek
  doc/tutorial/scripting/tutorial/01-steps/03.zeek.diff
  doc/tutorial/scripting/tutorial/01-steps/04.zeek
  doc/tutorial/scripting/tutorial/01-steps/04.zeek.diff
  doc/tutorial/scripting/tutorial/01-steps/05.zeek
  doc/tutorial/scripting/tutorial/01-steps/05.zeek.diff
  doc/tutorial/scripting/tutorial/01-steps/06.zeek
  doc/tutorial/scripting/tutorial/01-steps/06.zeek.diff
  doc/tutorial/scripting/tutorial/01-steps/07.zeek
  doc/tutorial/scripting/tutorial/01-steps/07.zeek.diff
  doc/tutorial/scripting/tutorial/01-steps/08.zeek
  doc/tutorial/scripting/tutorial/01-steps/08.zeek.diff
  doc/tutorial/scripting/tutorial/02-steps/01.zeek
  doc/tutorial/scripting/tutorial/02-steps/02.zeek
  doc/tutorial/scripting/tutorial/02-steps/02.zeek.diff
  doc/tutorial/scripting/tutorial/02-steps/03.zeek
  doc/tutorial/scripting/tutorial/02-steps/03.zeek.diff
  doc/tutorial/scripting/tutorial/02-steps/04.zeek
  doc/tutorial/scripting/tutorial/02-steps/04.zeek.diff
  doc/tutorial/scripting/tutorial/02-steps/05.zeek
  doc/tutorial/scripting/tutorial/02-steps/05.zeek.diff
  doc/tutorial/scripting/tutorial/03-steps/01.zeek
  doc/tutorial/scripting/tutorial/03-steps/02.zeek
  doc/tutorial/scripting/tutorial/03-steps/02.zeek.diff
  doc/tutorial/scripting/tutorial/03-steps/03.zeek
  doc/tutorial/scripting/tutorial/03-steps/03.zeek.diff
  doc/tutorial/scripting/tutorial/03-steps/04.zeek
  doc/tutorial/scripting/tutorial/03-steps/04.zeek.diff
  doc/tutorial/scripting/tutorial/03-steps/05.zeek
  doc/tutorial/scripting/tutorial/03-steps/05.zeek.diff
  doc/tutorial/scripting/tutorial/03-steps/06.zeek
  doc/tutorial/scripting/tutorial/03-steps/06.zeek.diff
Due: none

Revise the basics scripting section
  doc/tutorial/scripting/basics.rst
  doc/tutorial/scripting/scripts/data_type_addr.zeek
  doc/tutorial/scripting/scripts/data_type_record.zeek
  doc/tutorial/scripting/scripts/data_type_time.zeek
Due: none

Use new setup script for scripting tutorial
  doc/tutorial/scripting/basics.rst
  doc/tutorial/scripting/basics/data_struct_table_complex_blank_value.zeek
  doc/tutorial/scripting/tutorial-example.rst
  doc/tutorial/scripting/tutorial/01-http-entities.zeek
  doc/tutorial/scripting/tutorial/02-http-patterns.zeek
  doc/tutorial/scripting/tutorial/03-http-logging.zeek
  doc/tutorial/setup.rst
Due: none

Add disclaimers for unfinished tutorial sections
  doc/tutorial/cluster-backends.rst
  doc/tutorial/index.rst
  doc/tutorial/invoking-zeekctl.rst
  doc/tutorial/logs.rst
Due: none

Touchup tutorial wording
  doc/tutorial/invoking-zeek.rst
  doc/tutorial/logs.rst
  doc/tutorial/scripting/basics.rst
  doc/tutorial/using-packages.rst
Due: none
