Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*|doc/devel/spicy/autogen/.*.spicy'

Fix c-style casts in binpac/bifcl, including generated code
  tools/bifcl/bif_arg.cc
  tools/binpac/lib/binpac.h.in
  tools/binpac/lib/binpac_bytestring.h
  tools/binpac/src/pac_btype.cc
  tools/binpac/src/pac_case.cc
  tools/binpac/src/pac_expr.cc
  tools/binpac/src/pac_regex.cc
Due: license

Fix a couple other clang-tidy warnings
  src/script_opt/ZAM/ZBody.cc
  src/zeek.bif
Due: license

Fix potential UB in HashKey
  src/Hash.cc
  src/Hash.h
Due: license

Switch default check pragma for sqlite to quick_check
  scripts/policy/frameworks/storage/backend/sqlite/main.zeek
  testing/btest/Baseline/scripts.base.frameworks.storage.sqlite.basic-sync-in-when/out
  testing/btest/Baseline/scripts.base.frameworks.storage.sqlite.basic/out
  testing/btest/Baseline/scripts.base.frameworks.storage.sqlite.erase/out
Due: btest-command-commented

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/scripts/policy/protocols/conn/known-services.zeek.rst
Due: none

Spicy: Fix event parameter mismatches due to too aggressive optimizations.
  src/spicy/spicyz/glue-compiler.cc
  testing/btest/Baseline/spicy.event-user-type-vector/output
  testing/btest/spicy/event-user-type-vector
Due: license, btest-command-commented

Avoid integer overflow
  src/IPAddr.cc
Due: license

WIP
  doc/script-reference/attributes.rst
  scripts/base/init-bare.zeek
  scripts/policy/frameworks/cluster/backend/zeromq/main.zeek
  src/Attr.cc
  src/Attr.h
  src/CMakeLists.txt
  src/PublishOnChange.cc
  src/PublishOnChange.h
  src/Val.cc
  src/Val.h
  src/cluster/CMakeLists.txt
  src/parse.y
  src/scan.l
Due: license

WIP2
  scripts/base/frameworks/cluster/__load__.zeek
  scripts/base/init-bare.zeek
  src/Attr.cc
  src/CMakeLists.txt
  src/PublishOnChange.cc
  src/PublishOnChange.h
  src/Timer.cc
  src/Timer.h
  src/Val.cc
  src/Val.h
  src/cluster/CMakeLists.txt
  src/cluster/PublishOnChange.cc
  src/cluster/PublishOnChange.h
  src/parse.y
  src/zeek-setup.cc
Due: license

WIP3
  scripts/base/frameworks/cluster/table.zeek
  src/cluster/CMakeLists.txt
  src/cluster/publish_on_change.bif
Due: none

[windows] enhance windows combatibility, fixing various btests
  src/ScriptCoverageManager.cc
  src/broker/Manager.cc
  src/input/readers/raw/Raw.cc
  src/input/readers/raw/Raw.h
  src/packet_analysis/protocol/linux_sll/LinuxSLL.h
  src/packet_analysis/protocol/linux_sll2/LinuxSLL2.h
  src/plugin/Manager.cc
  src/util-types.cc
  src/util.cc
  testing/btest/core/load-duplicates-links.zeek
  testing/btest/core/load-duplicates.zeek
  testing/btest/core/proc-status-file.zeek
  testing/btest/core/reporter-paths.zeek
  testing/btest/core/sigterm-regular.sh
  testing/btest/core/sigterm-stdin.sh
Due: license, btest-command-commented

update submodules and use diff-sort in few tests
  testing/btest/Baseline/language.cross-product-init/output
  testing/btest/Baseline/language.init-integration/out
  testing/btest/language/cross-product-init.zeek
  testing/btest/language/init-integration.zeek
Due: btest-command-commented

update cmake submodule + adjust zeek configs to support windows
  CMakeLists.txt
  cmake_templates/ZeekConfig.cmake.in
  testing/btest/btest.cfg
  testing/btest/misc/build-info.sh
Due: btest-command-commented

Updates to TLS consts
  scripts/base/protocols/ssl/consts.zeek
Due: none

use python as python3 fallback
  testing/btest/btest.cfg
  testing/btest/misc/build-info.sh
Due: btest-command-commented

fix crlf issue on btests + use fseeki64 on windows
  .gitattributes
  src/file_analysis/analyzer/extract/Extract.cc
Due: license

properly release file handles on config read
  src/input/readers/config/Config.cc
  src/input/readers/config/Config.h
Due: license

Import IGMP analyzer from zeek-plugins/igmp
  scripts/base/packet-protocols/__load__.zeek
  scripts/base/packet-protocols/igmp/__load__.zeek
  scripts/base/packet-protocols/igmp/main.zeek
  scripts/base/packet-protocols/igmp/types.zeek
  src/packet_analysis/protocol/CMakeLists.txt
  src/packet_analysis/protocol/igmp/CMakeLists.txt
  src/packet_analysis/protocol/igmp/igmp.evt
  src/packet_analysis/protocol/igmp/igmp.spicy
  testing/btest/Baseline/coverage.bare-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.default-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.find-bro-logs/out
  testing/btest/Baseline/plugins.hooks/output
  testing/btest/Baseline/scripts.base.protocols.igmp.bad-checksum/igmp.log
  testing/btest/Baseline/scripts.base.protocols.igmp.basic/igmp.log
  testing/btest/Traces/igmp/igmp-bad-checksum.pcap
  testing/btest/Traces/igmp/igmp.pcap
  testing/btest/scripts/base/protocols/igmp/bad-checksum.zeek
  testing/btest/scripts/base/protocols/igmp/basic.zeek
  testing/external/commit-hash.zeek-testing
Due: license, btest-command-commented

Update docs for IGMP analyzer addition, reformat code
  doc/script-reference/autogenerated-package-index.rst
  doc/script-reference/autogenerated-packet-analyzer-index.rst
  doc/script-reference/autogenerated-protocol-analyzer-index.rst
  doc/script-reference/autogenerated-script-index.rst
  doc/scripts/base/bif/index.rst
  doc/scripts/base/frameworks/logging/main.zeek.rst
  doc/scripts/base/packet-protocols/__load__.zeek.rst
  doc/scripts/base/packet-protocols/igmp/__load__.zeek.rst
  doc/scripts/base/packet-protocols/igmp/index.rst
  doc/scripts/base/packet-protocols/igmp/main.zeek.rst
  doc/scripts/base/packet-protocols/igmp/types.zeek.rst
  doc/scripts/base/packet-protocols/index.rst
  doc/scripts/base/protocols/conn/inactivity.zeek.rst
  scripts/base/packet-protocols/igmp/main.zeek
  scripts/base/packet-protocols/igmp/types.zeek
Due: none

Adding missing documentation tags to existing Spicy analyzers.
  src/analyzer/protocol/postgresql/postgresql.evt
  src/analyzer/protocol/redis/resp.evt
  src/analyzer/protocol/ssl/spicy/SSL.evt
Due: license

Add igmpv1 btest/trace
  testing/btest/Baseline/scripts.base.protocols.igmp.basic-v1/igmp.log
  testing/btest/Traces/README
  testing/btest/Traces/igmp/multicast-igmp-version-membership-query-and-report.pcap
  testing/btest/scripts/base/protocols/igmp/basic-v1.zeek
Due: btest-command-commented

Fix inconsistencies in IGMP analyzer.
  scripts/base/packet-protocols/igmp/__load__.zeek
  scripts/base/packet-protocols/igmp/main.zeek
  src/packet_analysis/protocol/igmp/igmp.evt
  testing/btest/Baseline/coverage.bare-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.default-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.init-default/missing_loads
  testing/btest/Baseline/plugins.hooks/output
  testing/btest/Baseline/scripts.base.protocols.igmp.basic/out
  testing/btest/scripts/base/protocols/igmp/bad-checksum.zeek
  testing/btest/scripts/base/protocols/igmp/basic.zeek
Due: license, btest-command-commented

Remove an unnecessary field from the v3 event
  scripts/base/packet-protocols/igmp/main.zeek
  scripts/base/packet-protocols/igmp/spicy-events.zeek
  src/packet_analysis/protocol/igmp/igmp.evt
  testing/btest/Baseline/scripts.base.protocols.igmp.basic/out
  testing/btest/scripts/base/protocols/igmp/basic.zeek
Due: license, btest-command-commented

Add NEWS entry for IGMP analyzer
  NEWS
Due: none

Implement rate limiting for IGMP logs
  scripts/base/packet-protocols/igmp/main.zeek
  scripts/base/packet-protocols/igmp/types.zeek
  testing/btest/Baseline/scripts.base.protocols.igmp.bad-checksum/igmp.log
  testing/btest/Baseline/scripts.base.protocols.igmp.basic-v1/igmp.log
  testing/btest/Baseline/scripts.base.protocols.igmp.basic/igmp.log
  testing/btest/scripts/base/protocols/igmp/basic.zeek
Due: btest-command-commented

Report a weird for a bad IGMP checksum instead of an event
  scripts/base/packet-protocols/igmp/spicy-events.zeek
  src/packet_analysis/protocol/igmp/igmp.evt
  src/packet_analysis/protocol/igmp/igmp.spicy
  testing/btest/Baseline/scripts.base.protocols.igmp.bad-checksum/igmp.log
  testing/btest/Baseline/scripts.base.protocols.igmp.bad-checksum/out
  testing/btest/Baseline/scripts.base.protocols.igmp.bad-checksum/weird.log
  testing/btest/scripts/base/protocols/igmp/bad-checksum.zeek
Due: license, btest-command-commented

Add igmp/spicy-events.zeek for docs, expand testing of events
  doc/scripts/base/packet-protocols/igmp/main.zeek.rst
  doc/scripts/base/packet-protocols/igmp/types.zeek.rst
  scripts/base/packet-protocols/igmp/main.zeek
  scripts/base/packet-protocols/igmp/spicy-events.zeek
  scripts/base/packet-protocols/igmp/types.zeek
  src/packet_analysis/protocol/igmp/igmp.evt
  testing/btest/Baseline/coverage.init-default/missing_loads
  testing/btest/Baseline/plugins.hooks/output
  testing/btest/Baseline/scripts.base.protocols.igmp.bad-checksum/out
  testing/btest/Baseline/scripts.base.protocols.igmp.basic/out
  testing/btest/scripts/base/protocols/igmp/bad-checksum.zeek
  testing/btest/scripts/base/protocols/igmp/basic.zeek
Due: license, btest-command-commented

code review update
  .gitattributes
  src/util.cc
  testing/btest/core/reporter-paths.zeek
Due: license, btest-command-commented

Add analyzer for handling NAT-PMP and PCP
  scripts/base/init-default.zeek
  scripts/base/protocols/nat-mapping/__load__.zeek
  scripts/base/protocols/nat-mapping/main.zeek
  scripts/base/protocols/nat-mapping/spicy-events.zeek
  src/analyzer/protocol/CMakeLists.txt
  src/analyzer/protocol/nat-mapping/CMakeLists.txt
  src/analyzer/protocol/nat-mapping/natmapping.evt
  src/analyzer/protocol/nat-mapping/natmapping.spicy
  src/analyzer/protocol/nat-mapping/natpmp.spicy
  src/analyzer/protocol/nat-mapping/pcp.spicy
Due: license

Add is_valid_base64() BiF
  src/Base64.cc
  src/Base64.h
  src/zeek.bif
Due: license

style: apply clang-format to Base64.cc
  src/Base64.cc
Due: license

Disable zeekygen warnings by default
  src/zeekygen/Manager.cc
  src/zeekygen/Manager.h
  testing/btest/Baseline/doc.zeekygen.warning-control/default
  testing/btest/Baseline/doc.zeekygen.warning-control/with_warning
  testing/btest/doc/zeekygen/warning-control.zeek
Due: license, btest-command-commented

WIP4
  scripts/base/frameworks/cluster/table.zeek
  scripts/base/init-bare.zeek
  scripts/policy/frameworks/cluster/backend/zeromq/main.zeek
  src/Val.cc
  src/cluster/PublishOnChange.cc
  src/cluster/PublishOnChange.h
  src/cluster/publish_on_change.bif
Due: license

WIP5 - broker support :-(
  scripts/base/frameworks/cluster/table.zeek
  scripts/base/init-bare.zeek
  src/Val.cc
  src/cluster/CMakeLists.txt
  src/cluster/PublishOnChangeState.cc
  src/cluster/PublishOnChangeState.h
  src/cluster/publish_on_change.bif
  src/parse.y
  src/zeek-setup.cc
Due: license
