Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.7
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.11.0.2
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.1
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.33.1
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*'

Bump pre-commit hooks
  .pre-commit-config.yaml
  src/cluster/Backend.h
Due: license

Pass DNS complete_flag along as a uint8_t instead of a String
  src/analyzer/protocol/dns/DNS.cc
  src/analyzer/protocol/dns/DNS.h
Due: license

Merge remote-tracking branch 'origin/topic/bbannier/bump-spicy'
  .pre-commit-config.yaml
  CHANGES
  VERSION
  src/cluster/Backend.h
Due: license

Updating CHANGES and VERSION.
  CHANGES
  VERSION
Due: none

Add options to filter at the stream level as well as globally
  scripts/base/frameworks/logging/main.zeek
  scripts/base/init-bare.zeek
  src/logging/Manager.cc
  src/logging/Manager.h
  testing/btest/Baseline/plugins.hooks/output
  testing/btest/Baseline/scripts.base.frameworks.logging.delay.static-errors-2/.stderr
  testing/btest/Baseline/scripts.base.frameworks.logging.delay.static-errors-3/.stderr
  testing/btest/Baseline/scripts.base.frameworks.logging.delay.static-errors-4/.stderr
  testing/btest/Baseline/scripts.base.frameworks.logging.delay.static-errors/.stderr
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-stream-2/.stdout
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-stream-2/test.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-stream-2/weird.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-stream-3/.stdout
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-stream-3/test.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-stream-3/weird.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-stream-4/.stdout
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-stream-4/test.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-stream-4/weird.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-stream-5/.stdout
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-stream-5/test.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-stream-5/weird.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-stream-6/.stdout
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-stream-6/test.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-stream-6/weird.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-stream/.stdout
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-stream/test.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-stream/weird.log
  testing/btest/scripts/base/frameworks/logging/field-length-limiting-stream.zeek
  testing/btest/scripts/base/frameworks/logging/length-checking.zeek
Due: license, btest-command-commented

Add a weird that gets emitted when strings/containers are over the limits
  src/logging/Manager.cc
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-2/.stdout
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-2/weird.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-3/.stdout
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-3/weird.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-4/.stdout
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-4/weird.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-5/.stdout
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-5/weird.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-6/.stdout
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-6/weird.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting/.stdout
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting/weird.log
  testing/btest/scripts/base/frameworks/logging/field-length-limiting.zeek
Due: license, btest-command-commented

Add metrics to track string and container fields limited by length
  src/logging/Manager.cc
  src/logging/Manager.h
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-2/.stdout
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-3/.stdout
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-4/.stdout
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-5/.stdout
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-6/.stdout
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting/.stdout
  testing/btest/Baseline/scripts.base.frameworks.logging.telemetry/telemetry.log
  testing/btest/scripts/base/frameworks/logging/field-length-limiting.zeek
Due: license, btest-command-commented

Expand the size of the log-size filters for x509
  scripts/base/files/x509/main.zeek
  scripts/policy/protocols/ssl/log-certs-base64.zeek
Due: none

Replace unused stream argument from RecordToLogRecord with WriterInfo
  src/logging/Manager.cc
  src/logging/Manager.h
Due: license

Implement string- and container-length filtering at the log record level
  scripts/base/init-bare.zeek
  src/logging/Manager.cc
  src/logging/Manager.h
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-2/test.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-3/test.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-4/test.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-5/test.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-6/test.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting/test.log
  testing/btest/scripts/base/frameworks/logging/field-length-limiting.zeek
  testing/btest/scripts/base/frameworks/logging/length-checking.zeek
Due: license, btest-command-commented

Make total_size counter a member in logging::Manager
  src/logging/Manager.cc
  src/logging/Manager.h
Due: license

Tag truncated values with a flag, plus pack threading::Value better
  src/logging/Manager.cc
  src/threading/SerialTypes.h
Due: license

Remove using numeric_limits and just check for zero instead
  src/logging/Manager.cc
Due: license

Add NEWS entry for field length limiting
  NEWS
Due: none

Remove length limiting on string fields for HTTP
  scripts/base/protocols/http/main.zeek
  testing/btest/Baseline/plugins.hooks/output
Due: btest-command-commented

docker: Bump to debian:trixie-slim
  docker/builder.Dockerfile
  docker/final.Dockerfile
Due: none

ci: Add Debian 13.0 (trixie)
  .cirrus.yml
  ci/debian-13/Dockerfile
Due: none

ci: Enable Spicy for arm_debian13
  .cirrus.yml
Due: none

ci: Prepend timestamps to output
  .cirrus.yml
Due: none

ci: Run zeekctl and builtin tasks with Debian 13, too
  .cirrus.yml
Due: none

Only allow `&optional` in records
  src/Attr.cc
  testing/btest/Baseline/language.attr-default-global-set-error/out
  testing/btest/Baseline/language.invalid-optional-attr/out
  testing/btest/language/invalid-optional-attr.zeek
Due: license, btest-command-commented

Fix parameter attributes pretending to be records
  src/Attr.cc
  src/Attr.h
  src/parse.y
  testing/btest/Baseline/language.invalid-optional-attr/out
  testing/btest/language/invalid-optional-attr.zeek
Due: license, btest-command-commented

broker/Data: Support unwrapping Broker::Data records
  src/broker/Data.cc
  src/broker/Data.h
Due: license

cluster/serializer/broker: Do not special case Broker::Data anymore
  src/broker/Data.cc
  src/cluster/serializer/broker/Serializer.cc
  testing/btest/Baseline/cluster.generic.publish-any/..manager..stdout
  testing/btest/Baseline/cluster.generic.publish-any/..worker-1..stdout
  testing/btest/cluster/generic/publish-any.zeek
Due: license, btest-command-commented

management/controller: Add dedicated tls options
  scripts/policy/frameworks/management/controller/config.zeek
  scripts/policy/frameworks/management/controller/main.zeek
Due: none

Add a Log::stream_action hook to learn about updates to streams' liveness
  scripts/base/frameworks/logging/main.zeek
Due: none

Move zeek-af_packet-plugin code into the main Zeek repository
  .gitmodules
  CMakeLists.txt
  scripts/base/init-bare.zeek
  src/iosource/CMakeLists.txt
  src/iosource/af_packet/AF_Packet.cc
  src/iosource/af_packet/AF_Packet.h
  src/iosource/af_packet/CMakeLists.txt
  src/iosource/af_packet/Plugin.cc
  src/iosource/af_packet/README
  src/iosource/af_packet/RX_Ring.cc
  src/iosource/af_packet/RX_Ring.h
  src/iosource/af_packet/af_packet.bif
  src/types.bif
Due: license

Move the bifcl code into the main Zeek repository
  .gitmodules
  CMakeLists.txt
  tools/bifcl/CMakeLists.txt
  tools/bifcl/README
  tools/bifcl/bif_arg.cc
  tools/bifcl/builtin-func.l
  tools/bifcl/builtin-func.y
  tools/bifcl/include/bif_arg.h
  tools/bifcl/include/bif_type.def
  tools/bifcl/include/module_util.h
  tools/bifcl/module_util.cc
Due: license

Move gen-zam code into the main Zeek repository
  .gitmodules
  CMakeLists.txt
  tools/gen-zam/CMakeLists.txt
  tools/gen-zam/README.md
  tools/gen-zam/src/Gen-ZAM.cc
  tools/gen-zam/src/Gen-ZAM.h
Due: license

Fix some clang-tidy findings in generated BIF code
  src/strings.bif
  src/telemetry/telemetry_functions.bif
  src/zeek.bif
  testing/btest/Baseline/bifs.haversine_distance/out
  testing/btest/bifs/haversine_distance.zeek
Due: btest-command-commented

Fix clang-tidy findings in the binpac lib code
  tools/binpac/lib/binpac_buffer.h
  tools/binpac/lib/binpac_bytestring.h
  tools/binpac/lib/binpac_exception.h
  tools/binpac/lib/binpac_regex.h
  tools/binpac/src/pac_main.cc
Due: license

Fix clang-tidy and pre-commit warnings for gen-zam code files
  tools/gen-zam/src/Gen-ZAM.cc
  tools/gen-zam/src/Gen-ZAM.h
Due: license
