Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

license:
  name: Check for license headers
  entry: ./ci/license-header.py
  language: python

btest-command-commented:
  name: Check that all BTest command lines are commented out
  entry: ^\s*@TEST-
  language: pygrep

Attr: Improve &backend/&broker_store deprecation warning
  src/Attr.cc
  testing/btest/Baseline/cluster.generic.table-errors/broker.err
  testing/btest/Baseline/cluster.generic.table-errors/zeromq.err
  testing/btest/Baseline/coverage.bare-mode-errors/errors
Due: license, btest-command-commented

Add back missing section label
  doc/tutorial/scripting/basics.rst
Due: none

Add SHA256 hmac methods, BIF, keys, etc
  src/Anon.cc
  src/Hash.cc
  src/Hash.h
  src/OpaqueVal.h
  src/script_opt/FuncInfo.cc
  src/util.cc
  src/util.h
  src/zeek.bif
  testing/btest/opt/ZAM-bif-tracking.zeek
Due: license, btest-command-commented

Remove superfluous internal_md5() utility method
  src/Hash.cc
  src/OpaqueVal.h
  src/digest.cc
  src/digest.h
  src/util.cc
Due: license

Deprecate MD5 IP anonymizers, add SHA256 versions
  scripts/base/init-bare.zeek
  src/Anon.cc
  src/Anon.h
Due: license

Lazily initialize the keys for HMAC-MD5
  src/Hash.cc
  src/Hash.h
  src/util.cc
  src/zeek.bif
Due: license

Make the anonymizer bif docs more descriptive/helpful
  src/zeek.bif
Due: none

Add new btest for IP anonymizer coverage
  src/Anon.cc
  src/zeek.bif
  testing/btest/Baseline/bifs.anonymize_addr-2/.stderr
  testing/btest/Baseline/bifs.anonymize_addr-2/.stdout
  testing/btest/Baseline/bifs.anonymize_addr-3/.stderr
  testing/btest/Baseline/bifs.anonymize_addr-3/.stdout
  testing/btest/Baseline/bifs.anonymize_addr-4/.stderr
  testing/btest/Baseline/bifs.anonymize_addr-4/.stdout
  testing/btest/Baseline/bifs.anonymize_addr/.stderr
  testing/btest/Baseline/bifs.anonymize_addr/.stdout
  testing/btest/bifs/anonymize_addr.zeek
Due: license, btest-command-commented

Member variable cleanup in AnonymizeIPAddr_A50
  src/Anon.cc
  src/Anon.h
Due: license

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/script-reference/autogenerated-file-analyzer-index.rst
  doc/script-reference/autogenerated-protocol-analyzer-index.rst
  doc/scripts/base/bif/event.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_X509.events.bif.zeek.rst
  doc/scripts/base/bif/zeek.bif.zeek.rst
  doc/scripts/base/files/x509/main.zeek.rst
  doc/scripts/base/frameworks/files/main.zeek.rst
  doc/scripts/base/init-bare.zeek.rst
Due: none

Management framework: explicitly use Broker for now
  scripts/policy/frameworks/management/config.zeek
Due: none

Add SHA256 to hash-all-files policy script
  NEWS
  scripts/policy/frameworks/files/hash-all-files.zeek
  testing/btest/Baseline/scripts.base.frameworks.file-analysis.big-bof-buffer/files.log
  testing/external/commit-hash.zeek-testing
  testing/external/commit-hash.zeek-testing-private
Due: btest-command-commented

cirrus: Try double star matching for changesIncludeOnly()
  .cirrus.yml
Due: none

doc/devel/cluster: Add some architecture diagrams
  doc/devel/cluster/architectures.rst
  doc/devel/index.rst
  doc/images/cluster/misc/README
  doc/images/cluster/misc/nic-behind.svg
  doc/images/cluster/single-system-one-nic.svg
  doc/images/cluster/single-system-two-nics.svg
  doc/images/cluster/three-systems-independent-one-nic.svg
  doc/images/cluster/three-systems-one-nic.svg
Due: none

doc/devel/cluster: WebSocket API and rewrite a bit more
  doc/cluster-setup.rst
  doc/devel/cluster/architectures.rst
  doc/devel/cluster/backend/zeromq.rst
  doc/images/cluster/misc/README
  doc/images/cluster/misc/server-1313181674.svg
  doc/images/cluster/misc/xxv-Dell-1U-Server.svg
  doc/images/cluster/single-system-one-nic.svg
  doc/images/cluster/single-system-two-nics.svg
  doc/images/cluster/single-system-websocket.svg
  doc/images/cluster/three-systems-independent-one-nic.svg
  doc/images/cluster/three-systems-one-nic.svg
Due: none

doc/devel/cluster: Prometheus diagram and polish a bit
  doc/devel/cluster/architectures.rst
  doc/images/cluster/misc/Prometheus_software_logo.svg.png
  doc/images/cluster/misc/README
  doc/images/cluster/single-system-prometheus.svg
Due: none

devel/websocket-api: Fix anchor
  doc/devel/websocket-api.rst
Due: none

doc: Move ZeroMQ notes into devel/cluster/backend
  doc/devel/cluster/backend/zeromq.rst
  doc/devel/index.rst
  doc/images/cluster/backend/zeromq/Makefile
  doc/images/cluster/backend/zeromq/README.md
  doc/images/cluster/backend/zeromq/zeromq-cluster.mermaid
  doc/images/cluster/backend/zeromq/zeromq-cluster.png
  doc/images/cluster/backend/zeromq/zeromq-logging.mermaid
  doc/images/cluster/backend/zeromq/zeromq-logging.png
  doc/images/cluster/backend/zeromq/zeromq-pubsub.mermaid
  doc/images/cluster/backend/zeromq/zeromq-pubsub.png
Due: none

Bump zeek-testing-cluster to pull in docker-compose modernization
  testing/external/commit-hash.zeek-testing-cluster
Due: none

Fix FuncInfo flag for ZAM for anonymize_addr BIF
  src/script_opt/FuncInfo.cc
  testing/btest/bifs/anonymize_addr.zeek
Due: license, btest-command-commented

CI: Skip image builds by checking label in cached images
  .cirrus.yml
Due: none

Attempt to fix circular TOC dependency in docs
  doc/README
  doc/devel/index.rst
Due: none

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/scripts/policy/frameworks/files/hash-all-files.zeek.rst
  doc/scripts/policy/frameworks/management/config.zeek.rst
Due: none

Bump auxil/spicy to latest development snapshot
  testing/btest/Baseline/spicy.profiling/prof.log
Due: btest-command-commented

Add packet source that uses LightPcapNg to be able to read pcapng files
  .gitmodules
  NEWS
  scripts/base/init-bare.zeek
  src/event.bif
  src/iosource/CMakeLists.txt
  src/iosource/Component.cc
  src/iosource/Component.h
  src/iosource/Manager.cc
  src/iosource/pcap/Plugin.cc
  src/iosource/pcapng/CMakeLists.txt
  src/iosource/pcapng/Plugin.cc
  src/iosource/pcapng/Source.cc
  src/iosource/pcapng/Source.h
  src/types.bif
Due: license

Allow port redefs for built-in packet analyzers
  scripts/base/packet-protocols/ayiya/main.zeek
  scripts/base/packet-protocols/geneve/main.zeek
  scripts/base/packet-protocols/gtpv1/main.zeek
  scripts/base/packet-protocols/main.zeek
  scripts/base/packet-protocols/teredo/main.zeek
  scripts/base/packet-protocols/vxlan/main.zeek
Due: none

Allow port redefs for built-in analyzers
  scripts/base/frameworks/analyzer/main.zeek
  scripts/base/protocols/dce-rpc/main.zeek
  scripts/base/protocols/dhcp/main.zeek
  scripts/base/protocols/dnp3/main.zeek
  scripts/base/protocols/dns/main.zeek
  scripts/base/protocols/finger/main.zeek
  scripts/base/protocols/ftp/main.zeek
  scripts/base/protocols/http/main.zeek
  scripts/base/protocols/imap/main.zeek
  scripts/base/protocols/irc/main.zeek
  scripts/base/protocols/krb/main.zeek
  scripts/base/protocols/ldap/main.zeek
  scripts/base/protocols/modbus/main.zeek
  scripts/base/protocols/mqtt/main.zeek
  scripts/base/protocols/mysql/main.zeek
  scripts/base/protocols/ntp/main.zeek
  scripts/base/protocols/postgresql/main.zeek
  scripts/base/protocols/quic/main.zeek
  scripts/base/protocols/radius/main.zeek
  scripts/base/protocols/rdp/main.zeek
  scripts/base/protocols/redis/main.zeek
  scripts/base/protocols/sip/main.zeek
  scripts/base/protocols/smb/main.zeek
  scripts/base/protocols/smtp/main.zeek
  scripts/base/protocols/snmp/main.zeek
  scripts/base/protocols/socks/main.zeek
  scripts/base/protocols/ssh/main.zeek
  scripts/base/protocols/ssl/main.zeek
  scripts/base/protocols/syslog/main.zeek
  scripts/base/protocols/xmpp/main.zeek
Due: none

Update btest
  testing/btest/Baseline/plugins.hooks/output
Due: btest-command-commented

Move analyzer port variables into export
  scripts/base/packet-protocols/ayiya/main.zeek
  scripts/base/packet-protocols/gtpv1/main.zeek
  scripts/base/packet-protocols/teredo/main.zeek
  scripts/base/protocols/dce-rpc/main.zeek
  scripts/base/protocols/dhcp/main.zeek
  scripts/base/protocols/dnp3/main.zeek
  scripts/base/protocols/dns/main.zeek
  scripts/base/protocols/finger/main.zeek
  scripts/base/protocols/ftp/main.zeek
  scripts/base/protocols/http/main.zeek
  scripts/base/protocols/imap/main.zeek
  scripts/base/protocols/irc/main.zeek
  scripts/base/protocols/krb/main.zeek
  scripts/base/protocols/modbus/main.zeek
  scripts/base/protocols/mqtt/main.zeek
  scripts/base/protocols/mysql/main.zeek
  scripts/base/protocols/ntp/main.zeek
  scripts/base/protocols/postgresql/main.zeek
  scripts/base/protocols/quic/main.zeek
  scripts/base/protocols/radius/main.zeek
  scripts/base/protocols/rdp/main.zeek
  scripts/base/protocols/sip/main.zeek
  scripts/base/protocols/smb/main.zeek
  scripts/base/protocols/smtp/main.zeek
  scripts/base/protocols/snmp/main.zeek
  scripts/base/protocols/socks/main.zeek
  scripts/base/protocols/ssh/main.zeek
  scripts/base/protocols/ssl/main.zeek
  scripts/base/protocols/syslog/main.zeek
  scripts/base/protocols/xmpp/main.zeek
Due: none

quic: Exclude DoQ ports from likely_server_ports
  scripts/base/protocols/quic/main.zeek
Due: none

NEWS: Add an entry about redef of analyzer ports
  NEWS
Due: none

Add `zeekctl` section to tutorial
  doc/cluster-setup.rst
  doc/tutorial/invoking-zeekctl.rst
  doc/tutorial/logs.rst
Due: none

Finish the logs tutorial section
  doc/tutorial/logs.rst
Due: none

Delete the old log introspection section
  doc/index.rst
  doc/log-formats.rst
  doc/quickstart.rst
  doc/tutorial/logs.rst
Due: none

Avoid describing containers as "Docker containers"
  doc/tutorial/logs.rst
  doc/tutorial/scripting/tutorial-example.rst
  doc/tutorial/setup.rst
Due: none

Path conditions:
  license: any of: \.(h|c|cpp|cc|spicy|evt)$, but not: ^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$
  btest-command-commented: any of: ^testing/btest/.*$
