Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*|doc/devel/spicy/autogen/.*.spicy'

btest/plugins/opaque-type: Skip with ZAM enabled
  testing/btest/plugins/opaque-type.zeek
Due: btest-command-commented

Analyzer: Add LimitReachedWeird() helper
  src/analyzer/Analyzer.cc
  src/analyzer/Analyzer.h
  src/analyzer/protocol/dns/DNS.cc
  src/analyzer/protocol/ftp/FTP.cc
  src/analyzer/protocol/gnutella/Gnutella.cc
  src/analyzer/protocol/login/NVT.cc
  src/analyzer/protocol/login/RSH.cc
  src/analyzer/protocol/login/Rlogin.cc
  src/analyzer/protocol/mime/MIME.cc
  src/analyzer/protocol/ssh/ssh-analyzer.pac
Due: license

Fix test failure from #5759
  testing/btest/Baseline/scripts.base.protocols.dns.max-compression-depth/weird.log
Due: btest-command-commented

Canonify Spicy locations in tests as `<location>`
  testing/btest/Baseline.zam/spicy.ssh-banner/output
  testing/btest/Baseline/scripts.base.protocols.ldap.asn1_max_recursion/output
  testing/btest/Baseline/scripts.base.protocols.ldap.ldap_max_recursion/output
  testing/btest/Baseline/spicy.event-args/output
  testing/btest/Baseline/spicy.export-type-fail/output
  testing/btest/Baseline/spicy.export-type-with-fields-fail/output
  testing/btest/Baseline/spicy.parse-error/analyzer.log
  testing/btest/Baseline/spicy.ssh-banner/analyzer_debug.log
  testing/btest/Baseline/spicy.ssh-banner/output
  testing/btest/Baseline/spicy.tcp-eod-behavior/output-1024-fins
  testing/btest/scripts/base/protocols/ldap/asn1_max_recursion.zeek
  testing/btest/scripts/base/protocols/ldap/ldap_max_recursion.zeek
  testing/btest/scripts/base/protocols/quic/decrypt-crash.zeek
  testing/btest/scripts/base/protocols/quic/vector-max-size-crash.zeek
  testing/btest/spicy/ssh-banner.zeek
  testing/btest/spicy/tcp-eod-behavior.zeek
  testing/external/commit-hash.zeek-testing-private
  testing/scripts/diff-canonifier-external
  testing/scripts/diff-canonifier-spicy
  testing/scripts/diff-remove-locations
Due: btest-command-commented

udp: Fix OOB read when using `udp_contents`
  src/packet_analysis/protocol/udp/UDP.cc
  testing/btest/Baseline/core.udp-contents-buffer-len/output
  testing/btest/Traces/udp-contents-truncated-oob.pcap
  testing/btest/Traces/udp-contents-truncated-oob.pcap.py
  testing/btest/core/udp-contents-buffer-len.zeek
Due: license, btest-command-commented

smb: Honor `skip` in dce-rpc named-pipe delivery
  src/analyzer/protocol/smb/smb-pipe.pac
  testing/btest/Baseline/scripts.base.protocols.smb.named-pipe-fragment/weird.log
  testing/btest/Traces/smb/fragment-state-exhaustion.pcap
  testing/btest/Traces/smb/fragment-state-exhaustion.pcap.py
  testing/btest/scripts/base/protocols/smb/named-pipe-fragment.zeek
Due: btest-command-commented

Skip creating a record object for DNP3 g70v1 record fields
  src/analyzer/protocol/dnp3/dnp3-objects.pac
Due: none

tools/systemd-generator: build the systemd generator on Linux only
  tools/systemd-generator/CMakeLists.txt
  tools/systemd-generator/src/utils.cc
Due: license

Move Github community health files to `.github`
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/SECURITY.md
Due: none

Bump version of GitPython used by docs builds
  doc/requirements.txt
Due: none

SIP: Add checks/weirds for excessive request/response path lengths
  scripts/base/protocols/sip/main.zeek
  testing/btest/Baseline/scripts.base.protocols.sip.path-length-limits/output
  testing/btest/Baseline/scripts.base.protocols.sip.path-length-limits/weird.log
  testing/btest/Traces/sip/sip-long-request-response-paths.pcap
  testing/btest/Traces/sip/sip-long-request-response-paths.pcap.py
  testing/btest/scripts/base/protocols/sip/path-length-limits.zeek
Due: btest-command-commented

CCI: Add hashes of Dockerfiles to setup parameters
  .circleci/builds.yml
  .circleci/generate-workflow-params.py
Due: none

Add bugprone-signed-bitwise suppressions involving third-party constants
  src/DNS_Mgr.cc
  src/Expr.cc
  src/Pipe.cc
  src/analyzer/protocol/dns/DNS.cc
  src/analyzer/protocol/login/NVT.cc
  src/cluster/backend/zeromq/ZeroMQ.cc
  src/script_opt/CPP/RuntimeVec.cc
  src/storage/backend/redis/Redis.cc
Due: license

fixup! Add bugprone-signed-bitwise suppressions involving third-party constants
  src/DNS_Mgr.cc
Due: license

Add bugprone-signed-bitwise suppressions in generated binpac/gen-zam code
  tools/binpac/src/pac_main.cc
  tools/gen-zam/Gen-ZAM.cc
Due: license

fixup! Add bugprone-signed-bitwise suppressions in generated binpac/gen-zam code
  src/script_opt/CPP/RuntimeVec.cc
Due: license

Merge branch 'topic/jgras/fix-do-notice-anywhere' of https://github.com/J-Gras/zeek
  CHANGES
  VERSION
  scripts/policy/frameworks/intel/do_notice.zeek
  testing/btest/Baseline/scripts.policy.frameworks.intel.notice/notice.log
  testing/btest/scripts/policy/frameworks/intel/notice.zeek
Due: btest-command-commented

util/fmt: Use thread-safe Fmt() in backend threads
  CHANGES
  VERSION
  src/input/readers/ascii/Ascii.cc
  src/input/readers/binary/Binary.cc
  src/logging/writers/ascii/Ascii.cc
  src/util.h
Due: license

Merge remote-tracking branch 'origin/topic/awelzel/5674-prometheus-service-discovery-ipv6'
  CHANGES
  VERSION
  src/telemetry/Manager.cc
  testing/btest/Baseline/scripts.policy.frameworks.telemetry.prometheus-ipv6/manager.services.out
  testing/btest/scripts/policy/frameworks/telemetry/prometheus-ipv6.zeek
Due: license, btest-command-commented

Merge remote-tracking branch 'origin/topic/awelzel/ip-next-proto-is-a-byte'
  CHANGES
  VERSION
  src/packet_analysis/protocol/unknown_ip_transport/UnknownIPTransport.cc
  testing/btest/Baseline/core.unknown-ip-protocol/unknown_protocols.log
  testing/btest/core/unknown-ip-protocol.zeek
Due: license, btest-command-commented

Regenerate docs [nomail]
  doc/scripts/base/frameworks/intel/main.zeek.rst
  doc/scripts/policy/frameworks/intel/do_notice.zeek.rst
Due: none

Add initial NEWS block for 8.0.10 [nomail] [skip ci]
  NEWS
Due: none

Add const to control the maximum number of pending IRC dcc send commands
  scripts/base/protocols/irc/dcc-send.zeek
  testing/btest/Baseline/scripts.base.protocols.irc.max-dcc-send-expected/weird.log
  testing/btest/Traces/irc-dcc-state-growth.pcap.py
  testing/btest/Traces/irc-dcc-state-growth.pcapng
  testing/btest/scripts/base/protocols/irc/max-dcc-send-expected.zeek
Due: btest-command-commented

Check for valid command field when processing IRC DCC commands
  scripts/base/protocols/irc/dcc-send.zeek
  testing/btest/Baseline/scripts.base.protocols.irc.dcc-first-command/err
  testing/btest/Traces/irc-dcc-first-command.pcap
  testing/btest/Traces/irc-dcc-first-command.pcap.py
  testing/btest/scripts/base/protocols/irc/dcc-first-command.zeek
Due: btest-command-commented

Check for valid IRC hosts/ports when processing IRC DCC packets
  src/analyzer/protocol/irc/IRC.cc
  testing/btest/Baseline/scripts.base.protocols.irc.malformed-dcc/combined.weird.log
  testing/btest/Baseline/scripts.base.protocols.irc.malformed-dcc/weird.log
  testing/btest/Traces/irc-dcc-send-malformed-host.pcap
  testing/btest/Traces/irc-dcc-send-malformed-host.pcap.py
  testing/btest/Traces/irc-dcc-send-malformed-port.pcap
  testing/btest/Traces/irc-dcc-send-malformed-port.pcap.py
  testing/btest/scripts/base/protocols/irc/malformed-dcc.zeek
Due: license, btest-command-commented

Set l2_src/l2_dst fields for inner tunnel packet to empty
  src/packet_analysis/protocol/iptunnel/IPTunnel.cc
  testing/btest/Baseline/core.tunnels.geneve-arp/conn.log
  testing/btest/Baseline/core.tunnels.geneve-arp/out
  testing/btest/Traces/tunnels/geneve-arp.pcap
  testing/btest/Traces/tunnels/geneve-arp.pcap.py
  testing/btest/core/tunnels/geneve-arp.zeek
Due: license, btest-command-commented

dhcp: Factor log writing from expiration function
  scripts/base/protocols/dhcp/main.zeek
Due: none

dhcp: Cap size of DHCP::join_data to DHCP::max_tracked_transactions
  scripts/base/protocols/dhcp/main.zeek
  testing/btest/Baseline/scripts.base.protocols.dhcp.dhcp-max-tracked-transactions/dhcp.log
  testing/btest/Baseline/scripts.base.protocols.dhcp.dhcp-max-tracked-transactions/out
  testing/btest/Baseline/scripts.base.protocols.dhcp.dhcp-max-tracked-transactions/weird.log
  testing/btest/Traces/dhcp/dhcp-unique-xid-join-data-growth.pcapng
  testing/btest/Traces/dhcp/dhcp-unique-xid-join-data-growth.pcapng.py
  testing/btest/scripts/base/protocols/dhcp/dhcp-max-tracked-transactions.zeek
Due: btest-command-commented

Add const to control maximum packet analyzer chain depth
  scripts/base/packet-protocols/main.zeek
  src/packet_analysis/Analyzer.cc
  src/packet_analysis/CMakeLists.txt
  src/packet_analysis/Manager.h
  src/packet_analysis/consts.bif
  testing/btest/Baseline/core.max-packet-analyzer-depth/weird.log
  testing/btest/Baseline/coverage.bare-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.default-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.include-directory/..include-dir.out
  testing/btest/Baseline/plugins.hooks/output
  testing/btest/Traces/pbb-recursive-frames.pcapng
  testing/btest/Traces/pbb-recursive-frames.pcapng.py
  testing/btest/core/max-packet-analyzer-depth.zeek
Due: license, btest-command-commented

Merge branch 'topic/bbannier/ccache-for-tests'
  .circleci/builds.yml
  CHANGES
  VERSION
Due: none

Merge branch 'topic/timw/stop-running-coveralls-dry-run-mode'
  CHANGES
  VERSION
  ci/collect-repo-info.py
  testing/coverage/lcov_html.sh
Due: none

Merge remote-tracking branch 'origin/topic/timw/circleci-reenable-zeek-testing-private'
  .circleci/builds.yml
  CHANGES
  VERSION
  ci/init-external-repos.sh
Due: none

Merge remote-tracking branch 'origin/topic/timw/fix-additional-tags-for-image-creation'
  CHANGES
  VERSION
  ci/container-images-addl-tags.sh
Due: none

Merge remote-tracking branch 'origin/topic/timw/circleci-use-separate-token-for-build-images'
  .circleci/builds.yml
  .circleci/generate-workflow-params.py
  CHANGES
  VERSION
  ci/benchmark.sh
  ci/init-external-repos.sh
  ci/upload-coverage.sh
Due: none

Merge remote-tracking branch 'origin/topic/timw/circleci-use-correct-github-endpoint'
  .circleci/generate-workflow-params.py
  CHANGES
  VERSION
Due: none

Merge remote-tracking branch 'origin/topic/timw/fix-cluster-ping-test-with-new-websockets-version'
  CHANGES
  VERSION
  testing/btest/cluster/websocket/ping-timeout.zeek
Due: btest-command-commented

CCI: Adapt ci/benchmark.sh to work with CircleCI
  ci/benchmark.sh
Due: none

Merge remote-tracking branch 'origin/topic/awelzel/asan-cluster-tests-timeouts'
  CHANGES
  VERSION
  testing/btest/cluster/websocket/bad-url.zeek
  testing/btest/supervisor/large-cluster.zeek
Due: btest-command-commented
