Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

license:
  name: Check for license headers
  entry: ./ci/license-header.py
  language: python

btest-command-commented:
  name: Check that all BTest command lines are commented out
  entry: ^\s*@TEST-
  language: pygrep

Fix clang-tidy warnings from recent merges
  src/analyzer/protocol/ssh/ssh-protocol.pac
  src/threading/SerialTypes.cc
Due: license

Add ws-acldng.py
  tools/netcontrol/ws-acldng.py
Due: none

Add demo.zeek
  tools/netcontrol/demo.zeek
Due: none

Regenerate docs after security patch merges [nomail]
  CHANGES
  VERSION
  doc/reference/zeekscript/autogenerated-file-analyzer-index.rst
  doc/reference/zeekscript/autogenerated-protocol-analyzer-index.rst
  doc/reference/zeekscript/autogenerated-script-index.rst
  doc/scripts/base/bif/__load__.zeek.rst
  doc/scripts/base/bif/consts.bif.zeek.rst
  doc/scripts/base/bif/event.bif.zeek.rst
  doc/scripts/base/bif/index.rst
  doc/scripts/base/bif/plugins/Zeek_DHCP.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_File.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_IRC.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_SIP.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_SMTP.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_SSH.events.bif.zeek.rst
  doc/scripts/base/init-bare.zeek.rst
  doc/scripts/base/packet-protocols/main.zeek.rst
  doc/scripts/base/protocols/dhcp/main.zeek.rst
  doc/scripts/base/protocols/ftp/main.zeek.rst
  doc/scripts/base/protocols/irc/dcc-send.zeek.rst
  doc/scripts/base/protocols/ldap/main.zeek.rst
  doc/scripts/base/protocols/ldap/spicy-events.zeek.rst
  doc/scripts/base/protocols/redis/main.zeek.rst
  doc/scripts/base/protocols/redis/spicy-events.zeek.rst
  doc/scripts/base/protocols/sip/main.zeek.rst
  doc/scripts/base/protocols/smtp/main.zeek.rst
  doc/scripts/base/protocols/ssh/main.zeek.rst
Due: none

Fix clang-tidy warnings from recent merges
  CHANGES
  VERSION
  src/analyzer/protocol/ssh/ssh-protocol.pac
Due: none

Regenerate docs after security patch merges [nomail]
  doc/reference/zeekscript/autogenerated-file-analyzer-index.rst
  doc/reference/zeekscript/autogenerated-packet-analyzer-index.rst
  doc/reference/zeekscript/autogenerated-protocol-analyzer-index.rst
  doc/reference/zeekscript/autogenerated-script-index.rst
  doc/scripts/base/bif/__load__.zeek.rst
  doc/scripts/base/bif/consts.bif.zeek.rst
  doc/scripts/base/bif/event.bif.zeek.rst
  doc/scripts/base/bif/index.rst
  doc/scripts/base/bif/plugins/Zeek_DHCP.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_File.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_IRC.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_SIP.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_SMTP.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_SSH.events.bif.zeek.rst
  doc/scripts/base/init-bare.zeek.rst
  doc/scripts/base/packet-protocols/igmp/spicy-events.zeek.rst
  doc/scripts/base/packet-protocols/main.zeek.rst
  doc/scripts/base/protocols/dhcp/main.zeek.rst
  doc/scripts/base/protocols/ftp/main.zeek.rst
  doc/scripts/base/protocols/irc/dcc-send.zeek.rst
  doc/scripts/base/protocols/ldap/main.zeek.rst
  doc/scripts/base/protocols/ldap/spicy-events.zeek.rst
  doc/scripts/base/protocols/redis/main.zeek.rst
  doc/scripts/base/protocols/redis/spicy-events.zeek.rst
  doc/scripts/base/protocols/sip/main.zeek.rst
  doc/scripts/base/protocols/smtp/main.zeek.rst
  doc/scripts/base/protocols/ssh/main.zeek.rst
  doc/scripts/policy/protocols/conn/multicast-participants.zeek.rst
Due: none

Fix clang-tidy warning from recent security patches
  src/analyzer/protocol/ssh/ssh-protocol.pac
Due: none

Fix missing python3-venv in a few builds
  .circleci/builds.yml
  docker/builder.Dockerfile
Due: none

Fix docs issue with AndX security patch
  CHANGES
  VERSION
  doc/reference/zeekscript/autogenerated-file-analyzer-index.rst
  doc/reference/zeekscript/autogenerated-protocol-analyzer-index.rst
  doc/scripts/base/bif/event.bif.zeek.rst
  doc/scripts/base/init-bare.zeek.rst
  scripts/base/init-bare.zeek
Due: none

CCI: Add hashes of Dockerfiles to setup parameters
  .circleci/builds.yml
  .circleci/generate-workflow-params.py
Due: none

Fix formatting error in NEWS
  NEWS
Due: none

Remove DOCKER_BUILDIMAGE_LOGIN environment variable
  .circleci/builds.yml
Due: none

Add 9.0 contributors to NEWS file
  NEWS
Due: none

CCI: Ignore PRs that only include changes to NEWS
  .circleci/config.yml
Due: none

Guard against empty `reply_queue` in Redis `DoExpire`
  src/storage/backend/redis/Redis.cc
Due: license

Use binary-safe `DEL` in Redis `DoExpire`
  src/storage/backend/redis/Redis.cc
Due: license

Implement `DoGetAll` for the SQLite storage backend
  src/storage/backend/sqlite/SQLite.cc
  src/storage/backend/sqlite/SQLite.h
  testing/btest/scripts/base/frameworks/storage/sqlite/get-all-expiration.zeek
  testing/btest/scripts/base/frameworks/storage/sqlite/get-all.zeek
Due: license, btest-command-commented

Add `NOT_SUPPORTED` storage return code
  scripts/base/init-bare.zeek
  src/storage/ReturnCode.cc
  src/storage/ReturnCode.h
Due: license

Add `Size` operation to storage backend interface
  scripts/base/frameworks/storage/sync.zeek
  src/storage/Backend.cc
  src/storage/Backend.h
  src/storage/backend/redis/Redis.cc
  src/storage/backend/redis/Redis.h
  src/storage/backend/sqlite/SQLite.cc
  src/storage/backend/sqlite/SQLite.h
  src/storage/storage-sync.bif
  testing/btest/scripts/base/frameworks/storage/redis/size-expiration.zeek
  testing/btest/scripts/base/frameworks/storage/redis/size.zeek
  testing/btest/scripts/base/frameworks/storage/sqlite/size.zeek
Due: license, btest-command-commented

Add `GetAll` operation to storage backend interface
  scripts/base/frameworks/storage/sync.zeek
  scripts/base/init-bare.zeek
  src/storage/Backend.cc
  src/storage/Backend.h
  src/storage/ReturnCode.cc
  src/storage/ReturnCode.h
  src/storage/storage-sync.bif
Due: license

Add telemetry metrics for `get_all` and `size` operations
  src/storage/Backend.cc
  src/storage/Backend.h
  testing/btest/Baseline/scripts.base.frameworks.storage.redis.async/out
  testing/btest/Baseline/scripts.base.frameworks.storage.redis.forced-sync/out
  testing/btest/Baseline/scripts.base.frameworks.storage.redis.sync/out
  testing/btest/Baseline/scripts.base.frameworks.storage.sqlite.basic/out
  testing/btest/Baseline/scripts.base.frameworks.storage.sqlite.metrics/out
Due: license, btest-command-commented

Implement `DoGetAll` for the Redis storage backend
  src/storage/backend/redis/Redis.cc
  src/storage/backend/redis/Redis.h
  testing/btest/scripts/base/frameworks/storage/redis/get-all-expiration.zeek
  testing/btest/scripts/base/frameworks/storage/redis/get-all.zeek
Due: license, btest-command-commented

SSH: Recognize diffie-hellman-group18-sha512 as fixed-group DH KEX
  src/analyzer/protocol/ssh/ssh-protocol.pac
  testing/btest/Baseline/scripts.base.protocols.ssh.dh_group18_kex/conn.log
  testing/btest/Baseline/scripts.base.protocols.ssh.dh_group18_kex/out
  testing/btest/Baseline/scripts.base.protocols.ssh.dh_group18_kex/ssh.log
  testing/btest/Traces/README
  testing/btest/Traces/ssh/ssh_kex_dh_group18.pcap
  testing/btest/scripts/base/protocols/ssh/dh_group18_kex.zeek
Due: btest-command-commented

tools/systemd-generator: Drop setting CapabilityBoundingSet
  testing/btest/Baseline/tools.systemd-generator.test-all-options/..dir1.zeek-worker-eth0@.service
  testing/btest/Baseline/tools.systemd-generator.test-all-options/..dir1.zeek-worker-eth1@.service
  testing/btest/Baseline/tools.systemd-generator.test-empty-zeek-section/..dir1.zeek-worker-eth0@.service
  testing/btest/Baseline/tools.systemd-generator.test-ext-path/..dir1.zeek-worker@.service
  testing/btest/Baseline/tools.systemd-generator.test-ext-zeek-path/..dir1.zeek-worker@.service
  testing/btest/Baseline/tools.systemd-generator.test-minimal-no-manager/..dir1.zeek-worker@.service
  testing/btest/Baseline/tools.systemd-generator.test-minimal/..dir1.zeek-worker@.service
  testing/btest/Baseline/tools.systemd-generator.test-multi-interface/..dir1.zeek-worker-eth0@.service
  testing/btest/Baseline/tools.systemd-generator.test-multi-interface/..dir1.zeek-worker-eth1@.service
  testing/btest/Baseline/tools.systemd-generator.test-multi-interface/..dir1.zeek-worker-eth2@.service
  testing/btest/Baseline/tools.systemd-generator.test-no-zeek-section/..dir1.zeek-worker-eth0@.service
  testing/btest/Baseline/tools.systemd-generator.test-only-workers/..dir1.zeek-worker@.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-worker@.service
  tools/systemd-generator/src/zeek-systemd-generator.cc
Due: license, btest-command-commented

tools/systemd-generator: Set working directory for zeek-setup.service
  testing/btest/Baseline/tools.systemd-generator.test-all-options/..dir1.zeek-setup.service
  testing/btest/Baseline/tools.systemd-generator.test-cluster-ipv6/..mgr-dir.zeek-setup.service
  testing/btest/Baseline/tools.systemd-generator.test-cluster-ipv6/..worker-1-dir.zeek-setup.service
  testing/btest/Baseline/tools.systemd-generator.test-cluster-ipv6/..worker-2-dir.zeek-setup.service
  testing/btest/Baseline/tools.systemd-generator.test-cluster-layout/..dir1.zeek-setup.service
  testing/btest/Baseline/tools.systemd-generator.test-cluster-node-prefix/..dir1.zeek-setup.service
  testing/btest/Baseline/tools.systemd-generator.test-ext-path/..dir1.zeek-setup.service
  testing/btest/Baseline/tools.systemd-generator.test-minimal-cluster/..mgr-dir.zeek-setup.service
  testing/btest/Baseline/tools.systemd-generator.test-minimal-cluster/..worker-1-dir.zeek-setup.service
  testing/btest/Baseline/tools.systemd-generator.test-minimal-cluster/..worker-2-dir.zeek-setup.service
  testing/btest/Baseline/tools.systemd-generator.test-minimal-no-manager/..dir1.zeek-setup.service
  testing/btest/Baseline/tools.systemd-generator.test-minimal/..dir1.zeek-setup.service
  testing/btest/Baseline/tools.systemd-generator.test-multi-interface/..dir1.zeek-setup.service
  testing/btest/Baseline/tools.systemd-generator.test-no-loggers/..dir1.zeek-setup.service
  testing/btest/Baseline/tools.systemd-generator.test-no-workers/..dir1.zeek-setup.service
  testing/btest/Baseline/tools.systemd-generator.test-only-manager/..dir1.zeek-setup.service
  testing/btest/Baseline/tools.systemd-generator.test-only-workers/..dir1.zeek-setup.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator-defaults/normal-dir.zeek-setup.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-setup.service
  testing/btest/tools/systemd-generator/test-cluster-ipv6.sh
  testing/btest/tools/systemd-generator/test-cluster-node-prefix.sh
  testing/btest/tools/systemd-generator/test-minimal-cluster.sh
  testing/btest/tools/systemd-generator/test-minimal.sh
  tools/systemd-generator/src/zeek-systemd-generator.cc
Due: license, btest-command-commented

doc/systemd: Document AmbientCapabilities default and customization options
  doc/advanced/deployment/systemd.rst
Due: none

tools/systemd-generator: Add multi-user.target.wants/zeek.target symlink
  testing/btest/Baseline/tools.systemd-generator.test-all-options/out
  testing/btest/Baseline/tools.systemd-generator.test-archiver-custom/out
  testing/btest/Baseline/tools.systemd-generator.test-archiver/out
  testing/btest/Baseline/tools.systemd-generator.test-cluster-ipv6/out
  testing/btest/Baseline/tools.systemd-generator.test-cluster-layout/out
  testing/btest/Baseline/tools.systemd-generator.test-cluster-node-prefix/out
  testing/btest/Baseline/tools.systemd-generator.test-empty-zeek-section/out
  testing/btest/Baseline/tools.systemd-generator.test-ext-path/out
  testing/btest/Baseline/tools.systemd-generator.test-minimal-cluster/out
  testing/btest/Baseline/tools.systemd-generator.test-minimal-no-manager/out
  testing/btest/Baseline/tools.systemd-generator.test-minimal/out
  testing/btest/Baseline/tools.systemd-generator.test-multi-interface/out
  testing/btest/Baseline/tools.systemd-generator.test-no-loggers/out
  testing/btest/Baseline/tools.systemd-generator.test-no-workers/out
  testing/btest/Baseline/tools.systemd-generator.test-no-zeek-section/out
  testing/btest/Baseline/tools.systemd-generator.test-only-manager/out
  testing/btest/Baseline/tools.systemd-generator.test-only-workers/out
  testing/btest/Baseline/tools.systemd-generator.test-worker-env/out
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator-default-config/out
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator-defaults/out
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator-three-dirs/out
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/out
  tools/systemd-generator/src/zeek-systemd-generator.cc
Due: license, btest-command-commented

tcp: Error on mismatched analyzer transport
  NEWS
  src/RuleAction.cc
  src/analyzer/Analyzer.h
  src/analyzer/Component.cc
  src/analyzer/Component.h
  src/analyzer/Manager.cc
  src/analyzer/Manager.h
  src/analyzer/protocol/pia/PIA.h
  src/analyzer/protocol/tcp/TCP.h
  src/packet_analysis/protocol/ip/IPBasedAnalyzer.cc
  src/packet_analysis/protocol/tcp/TCPSessionAdapter.cc
  src/spicy/manager.cc
  testing/btest/Baseline/spicy.dpd-enable-transport-mismatch/out
  testing/btest/Baseline/spicy.replaces-transport-tcp-child/tcp.out
  testing/btest/Baseline/spicy.replaces-transport-tcp-child/udp.out
  testing/btest/spicy/dpd-enable-transport-mismatch.zeek
  testing/btest/spicy/replaces-transport-tcp-child.zeek
Due: license, btest-command-commented

Update doc/security-considerations.rst
  doc/security-considerations.rst
Due: none

Disable building zkg on airgapped systems
  CMakeLists.txt
Due: none

Increase ccache cache sizes for GH action ASAN jobs
  .github/workflows/check.yml
Due: none

Switch all Git submodules to shallow mode
  .gitmodules
Due: none

doc/btest: Add "Diagnosing Test Failures" section
  doc/advanced/devel/btest.rst
Due: none

doc/btest: Move non-pcap tests earlier
  doc/advanced/devel/btest.rst
Due: none

Add a security consideration for the systemd generator configuration
  doc/security-considerations.rst
Due: none

Update security-considerations.rst
  doc/security-considerations.rst
Due: none

Path conditions:
  license: any of: \.(h|c|cpp|cc|spicy|evt)$, but not: ^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$
  btest-command-commented: any of: ^testing/btest/.*$
