Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*|doc/devel/spicy/autogen/.*.spicy'

btest/Traces: Make ayiya-large-identity.pcap.py reproducible
  testing/btest/Traces/tunnels/ayiya-large-identity.pcap
  testing/btest/Traces/tunnels/ayiya-large-identity.pcap.py
Due: btest-command-commented

btest/Traces: Make smb/fragment-state-exhaustion.pcap.py reproducible
  testing/btest/Traces/smb/fragment-state-exhaustion.pcap
  testing/btest/Traces/smb/fragment-state-exhaustion.pcap.py
Due: btest-command-commented

btest/Traces: Make irc-dcc-send-malformed-port.pcap.py reproducible
  testing/btest/Traces/irc-dcc-send-malformed-port.pcap
  testing/btest/Traces/irc-dcc-send-malformed-port.pcap.py
Due: btest-command-commented

btest/Traces: Make tunnels/vxlan-inner-tcp-bad-checksum.pcap.py reproducible
  testing/btest/Traces/tunnels/vxlan-inner-tcp-bad-checksum.pcap
  testing/btest/Traces/tunnels/vxlan-inner-tcp-bad-checksum.pcap.py
Due: btest-command-commented

btest/Traces: Make netbios/netbios-truncated-session-msg.pcap.py reproducible
  testing/btest/Traces/netbios/netbios-truncated-session-msg.pcap
  testing/btest/Traces/netbios/netbios-truncated-session-msg.pcap.py
Due: btest-command-commented

btest/Traces: Make smb1-logoff-andx-no-advance.pcap.py reproducible
  testing/btest/Traces/smb/smb1-logoff-andx-no-advance.pcap
  testing/btest/Traces/smb/smb1-logoff-andx-no-advance.pcap.py
Due: btest-command-commented

btest/Traces: Make mime-header-size-limit.pcap.py self-contained
  testing/btest/Traces/smtp/mime-header-size-limit.pcap.gz
  testing/btest/Traces/smtp/mime-header-size-limit.pcap.py
Due: btest-command-commented

btest/Traces: Make ipv6-reassembly-state-leak.pcap.py quiet
  testing/btest/Traces/ipv6-reassembly-state-leak.pcap.py
Due: btest-command-commented

btest/Traces: Make krb/error-preauth-padata.pcap.py reproducible
  testing/btest/Traces/krb/error-preauth-padata.pcap
  testing/btest/Traces/krb/error-preauth-padata.pcap.py
Due: btest-command-commented

btest/Traces: Make ldap/ldap-abandon.pcap.py reproducible
  testing/btest/Traces/ldap/ldap-abandon.pcap.py
Due: btest-command-commented

btest/Traces: Make snmp-oid-subidentifier-too-long.pcap.py reproducible
  testing/btest/Traces/snmp/snmp-oid-subidentifier-too-long.pcap
  testing/btest/Traces/snmp/snmp-oid-subidentifier-too-long.pcap.py
Due: btest-command-commented

btest/Traces: Make ldap/pending-adds-10.pcap.py reproducible
  testing/btest/Traces/ldap/pending-adds-10.pcap
  testing/btest/Traces/ldap/pending-adds-10.pcap.py
Due: btest-command-commented

btest/Traces: Make ldap/ldap-delete.pcap.py reproducible
  testing/btest/Traces/ldap/ldap-delete.pcap.py
Due: btest-command-commented

ci: Introduce run-pcap-generators.py
  ci/run-pcap-generators.py
Due: none

Fix test baseline for differences between openssl-3 and openssl-4
  ci/macos/prepare.sh
  testing/btest/Baseline/scripts.base.protocols.ssl.x509_extensions/.stdout
  testing/btest/scripts/base/protocols/ssl/x509_extensions.test
Due: btest-command-commented

CI: Add ci/scapy/Dockerfile .github/workflows/generate-pcaps.yml
  .github/workflows/generate-pcaps.yml
  ci/scapy/Dockerfile
Due: none

CCI: Recognize scapy_image_version
  .circleci/builds.yml
Due: none

fixup! ci: Introduce run-pcap-generators.py
  ci/run-pcap-generators.py
Due: none

Add test for Kerberos GSS-API tokens without SPNEGO
  testing/btest/Baseline/scripts.base.protocols.krb.gssapi-krb5-without-spnego/conn.log
  testing/btest/Baseline/scripts.base.protocols.krb.gssapi-krb5-without-spnego/ldap.log
  testing/btest/Traces/README
  testing/btest/Traces/krb/sasl-gssapi-krb5.pcap
  testing/btest/scripts/base/protocols/krb/gssapi-krb5-without-spnego.zeek
Due: btest-command-commented

GSSAPI: Forward Kerberos tokens without SPNEGO
  src/analyzer/protocol/gssapi/gssapi-analyzer.pac
  src/analyzer/protocol/gssapi/gssapi-protocol.pac
  testing/btest/Baseline/scripts.base.protocols.krb.gssapi-krb5-without-spnego/conn.log
  testing/btest/Baseline/scripts.base.protocols.krb.gssapi-krb5-without-spnego/kerberos.log
  testing/btest/scripts/base/protocols/krb/gssapi-krb5-without-spnego.zeek
Due: btest-command-commented

LDAP: Handle SASL binds without credentials
  src/analyzer/protocol/ldap/ldap.spicy
  src/analyzer/protocol/ldap/ldap_zeek.spicy
  testing/btest/Baseline/scripts.base.protocols.krb.gssapi-krb5-without-spnego/conn.log
  testing/btest/Baseline/scripts.base.protocols.krb.gssapi-krb5-without-spnego/ldap.log
  testing/btest/Baseline/scripts.base.protocols.krb.gssapi-krb5-without-spnego/ldap_search.log
  testing/btest/scripts/base/protocols/krb/gssapi-krb5-without-spnego.zeek
Due: license, btest-command-commented

CCI: Switch Windows to a medium runner
  .circleci/builds.yml
Due: none

TEMP: Disable other builds
  .circleci/builds.yml
Due: none

CCI: Remove unused pr_label_spicy flag
  .circleci/builds.yml
  .circleci/generate-workflow-params.py
Due: none

CCI: Remove obsolete changes_only_docs flag
  .circleci/builds.yml
Due: none

CCI: Move public-ecr-cleanup build to weekly
  .circleci/builds.yml
Due: none

NEWS/DHCPv6: Minor whitespace and NEWS updates
  NEWS
  scripts/base/protocols/dhcpv6/__load__.zeek
  scripts/base/protocols/dhcpv6/consts.zeek
  scripts/base/protocols/dhcpv6/main.zeek
  src/analyzer/protocol/dhcpv6/dhcpv6.evt
  testing/external/commit-hash.zeek-testing
Due: license

Fix Log::delay crash with zero delay queue size
  src/logging/Manager.cc
  testing/btest/Baseline/scripts.base.frameworks.logging.delay.queue-zero/delay-zero.log
  testing/btest/Baseline/scripts.base.frameworks.logging.delay.queue-zero/out
  testing/btest/scripts/base/frameworks/logging/delay/queue-zero.zeek
Due: license, btest-command-commented

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/reference/zeekscript/autogenerated-package-index.rst
  doc/reference/zeekscript/autogenerated-protocol-analyzer-index.rst
  doc/reference/zeekscript/autogenerated-script-index.rst
  doc/scripts/base/frameworks/logging/main.zeek.rst
  doc/scripts/base/init-default.zeek.rst
  doc/scripts/base/protocols/dhcp/index.rst
  doc/scripts/base/protocols/dhcpv6/__load__.zeek.rst
  doc/scripts/base/protocols/dhcpv6/consts.zeek.rst
  doc/scripts/base/protocols/dhcpv6/index.rst
  doc/scripts/base/protocols/dhcpv6/main.zeek.rst
  doc/scripts/base/protocols/dhcpv6/spicy-events.zeek.rst
Due: none

Add test for TLS ClientHello from the TCP responder
  testing/btest/Baseline/scripts.base.protocols.ssl.tls-1.2-clienthello-from-tcp-responder/conn.log
  testing/btest/Baseline/scripts.base.protocols.ssl.tls-1.2-clienthello-from-tcp-responder/ssl.log
  testing/btest/Traces/tls/tls-1.2-clienthello-from-tcp-responder.pcap
  testing/btest/Traces/tls/tls-1.2-clienthello-from-tcp-responder.pcap.py
  testing/btest/scripts/base/protocols/ssl/tls-1.2-clienthello-from-tcp-responder.test
Due: btest-command-commented

Drop tcp-state from the TLS DPD signatures
  scripts/base/protocols/ssl/dpd.sig
  testing/btest/Baseline/scripts.base.protocols.ssl.tls-1.2-clienthello-from-tcp-responder/conn.log
  testing/btest/Baseline/scripts.base.protocols.ssl.tls-1.2-clienthello-from-tcp-responder/ssl.log
  testing/btest/scripts/base/protocols/ssl/tls-1.2-clienthello-from-tcp-responder.test
Due: btest-command-commented

doc/typos.toml: Add new entries from root-level .typos.toml
  doc/.typos.toml
Due: none

Address review feedback
  src/Val.cc
  testing/btest/Baseline/language.set-remove-from-self/out
  testing/btest/Baseline/language.set/out
  testing/btest/language/set-remove-from-self.zeek
  testing/btest/language/set.zeek
Due: license, btest-command-commented

Fix unbounded delay queue behavior when limit is zero
  scripts/base/frameworks/logging/main.zeek
  src/logging/Manager.cc
  testing/btest/Baseline/scripts.base.frameworks.logging.delay.queue-setter-3/.stderr
  testing/btest/Baseline/scripts.base.frameworks.logging.delay.queue-setter-3/.stdout
  testing/btest/Baseline/scripts.base.frameworks.logging.delay.queue-setter-3/test.cut
  testing/btest/Baseline/scripts.base.frameworks.logging.delay.queue-zero/out
  testing/btest/Baseline/scripts.base.frameworks.logging.delay.static-errors-2/.stderr
  testing/btest/Baseline/scripts.base.frameworks.logging.delay.static-errors-3/.stderr
  testing/btest/Baseline/scripts.base.frameworks.logging.delay.static-errors-4/.stderr
  testing/btest/Baseline/scripts.base.frameworks.logging.delay.static-errors/.stderr
  testing/btest/scripts/base/frameworks/logging/delay/queue-setter.zeek
  testing/btest/scripts/base/frameworks/logging/delay/queue-zero.zeek
Due: license, btest-command-commented

Fix SOCKS5 IPv6 address handling
  src/analyzer/protocol/socks/socks-analyzer.pac
  testing/btest/Baseline/scripts.base.protocols.socks.socks5-ipv6/socks.log
  testing/btest/Traces/socks/socks5-ipv6.pcap
  testing/btest/Traces/socks/socks5-ipv6.pcap.py
  testing/btest/scripts/base/protocols/socks/socks5-ipv6.zeek
Due: btest-command-commented

DHCPv6: Add support for prefix delegation (IA_PD)
  scripts/base/protocols/dhcpv6/main.zeek
  scripts/base/protocols/dhcpv6/spicy-events.zeek
  src/analyzer/protocol/dhcpv6/dhcpv6.spicy
Due: license

NEWS: Mention DHCPv6 prefix delegation support
  NEWS
Due: none

testing: Add DHCPv6 IA_PD baseline tests
  testing/btest/Baseline/scripts.base.protocols.dhcpv6.freebsd-ntpservers/dhcpv6.log
  testing/btest/Baseline/scripts.base.protocols.dhcpv6.freebsd-rapid-commit/dhcpv6.log
  testing/btest/Baseline/scripts.base.protocols.dhcpv6.freebsd-vendorclass/dhcpv6.log
  testing/btest/Baseline/scripts.base.protocols.dhcpv6.hp-nested-status/dhcpv6.log
  testing/btest/Baseline/scripts.base.protocols.dhcpv6.ia-pd/conn.log
  testing/btest/Baseline/scripts.base.protocols.dhcpv6.ia-pd/dhcpv6.log
  testing/btest/Baseline/scripts.base.protocols.dhcpv6.wifi-rapidcommit/dhcpv6.log
  testing/btest/Traces/README
  testing/btest/Traces/dhcpv6/dhcpv6-ia-pd.pcap
  testing/btest/scripts/base/protocols/dhcpv6/ia-pd.zeek
Due: btest-command-commented

tools/systemd-generator: Use zeek.target.requires over zeek.target.wants
  doc/advanced/deployment/systemd.rst
  testing/btest/Baseline/tools.systemd-generator.test-all-options/out
  testing/btest/Baseline/tools.systemd-generator.test-archiver-custom/out
  testing/btest/Baseline/tools.systemd-generator.test-archiver/out
  testing/btest/Baseline/tools.systemd-generator.test-cluster-ipv6/out
  testing/btest/Baseline/tools.systemd-generator.test-cluster-layout/out
  testing/btest/Baseline/tools.systemd-generator.test-cluster-node-prefix/out
  testing/btest/Baseline/tools.systemd-generator.test-empty-zeek-section/out
  testing/btest/Baseline/tools.systemd-generator.test-ext-path/out
  testing/btest/Baseline/tools.systemd-generator.test-minimal-cluster/out
  testing/btest/Baseline/tools.systemd-generator.test-minimal-no-manager/out
  testing/btest/Baseline/tools.systemd-generator.test-minimal/out
  testing/btest/Baseline/tools.systemd-generator.test-multi-interface/out
  testing/btest/Baseline/tools.systemd-generator.test-no-loggers/out
  testing/btest/Baseline/tools.systemd-generator.test-no-workers/out
  testing/btest/Baseline/tools.systemd-generator.test-no-zeek-section/out
  testing/btest/Baseline/tools.systemd-generator.test-only-manager/out
  testing/btest/Baseline/tools.systemd-generator.test-only-workers/out
  testing/btest/Baseline/tools.systemd-generator.test-worker-env/out
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator-default-config/out
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator-defaults/out
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator-three-dirs/out
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/out
  tools/systemd-generator/src/zeek-systemd-generator.cc
Due: license, btest-command-commented

tools/systemd-generator: Add Before= support in sytemd-unit.h
  tools/systemd-generator/src/systemd-unit.cc
  tools/systemd-generator/src/systemd-unit.h
Due: license
