Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

license:
  name: Check for license headers
  entry: ./ci/license-header.py
  language: python

btest-command-commented:
  name: Check that all BTest command lines are commented out
  entry: ^\s*@TEST-
  language: pygrep

Add worker_env support
  testing/btest/Baseline/tools.systemd-generator.test-interface-substitution/..dir3.zeek-worker-eth2@2.service.d.10-zeek-systemd-generator.conf
  testing/btest/Baseline/tools.systemd-generator.test-interface-substitution/..dir3.zeek-worker-eth2@3.service.d.10-zeek-systemd-generator.conf
  testing/btest/Baseline/tools.systemd-generator.test-multi-interface-errors-10/.stderr
  testing/btest/Baseline/tools.systemd-generator.test-multi-interface-errors-11/.stderr
  testing/btest/Baseline/tools.systemd-generator.test-multi-interface-errors-9/.stderr
  testing/btest/Baseline/tools.systemd-generator.test-worker-env/..dir1.zeek-worker-eth0@1.service.d.10-zeek-systemd-generator.conf
  testing/btest/Baseline/tools.systemd-generator.test-worker-env/..dir1.zeek-worker-eth0@2.service.d.10-zeek-systemd-generator.conf
  testing/btest/Baseline/tools.systemd-generator.test-worker-env/..dir1.zeek-worker-eth1@1.service.d.10-zeek-systemd-generator.conf
  testing/btest/Baseline/tools.systemd-generator.test-worker-env/..dir1.zeek-worker-eth1@2.service.d.10-zeek-systemd-generator.conf
  testing/btest/Baseline/tools.systemd-generator.test-worker-env/.stderr
  testing/btest/Baseline/tools.systemd-generator.test-worker-env/out
  testing/btest/tools/systemd-generator/test-interface-substitution.sh
  testing/btest/tools/systemd-generator/test-multi-interface-errors.sh
  testing/btest/tools/systemd-generator/test-multi-interface.sh
  testing/btest/tools/systemd-generator/test-worker-env.sh
  tools/systemd-generator/src/zeek-cluster-config.cc
  tools/systemd-generator/src/zeek-cluster-config.h
  tools/systemd-generator/src/zeek-systemd-generator.cc
Due: license, btest-command-commented

pre-commit: Skip formatting systemd-generator env test
  .pre-commit-config.yaml
Due: none

systemd-generator: Also support for cluster_layout
  testing/btest/Baseline/tools.systemd-generator.test-cluster-layout/..dir1.zeek-setup.service
  testing/btest/Baseline/tools.systemd-generator.test-cluster-layout/.stderr
  testing/btest/Baseline/tools.systemd-generator.test-cluster-layout/out
  testing/btest/Baseline/tools.systemd-generator.test-no-manager-requires-cluster-layout/.stderr
  testing/btest/tools/systemd-generator/test-cluster-layout.zeek
  testing/btest/tools/systemd-generator/test-minimal-no-manager.sh
  testing/btest/tools/systemd-generator/test-no-manager-requires-cluster-layout.zeek
  tools/systemd-generator/src/zeek-cluster-config.cc
  tools/systemd-generator/src/zeek-cluster-config.h
  tools/systemd-generator/src/zeek-systemd-generator.cc
Due: license, btest-command-commented

systemd-generator: Support manager = 0|1
  testing/btest/Baseline/tools.systemd-generator.test-minimal-no-manager/..dir1.zeek-logger@.service
  testing/btest/Baseline/tools.systemd-generator.test-minimal-no-manager/..dir1.zeek-proxy@.service
  testing/btest/Baseline/tools.systemd-generator.test-minimal-no-manager/..dir1.zeek-setup.service
  testing/btest/Baseline/tools.systemd-generator.test-minimal-no-manager/..dir1.zeek-worker@.service
  testing/btest/Baseline/tools.systemd-generator.test-minimal-no-manager/..dir1.zeek-worker@1.service.d.10-zeek-systemd-generator.conf
  testing/btest/Baseline/tools.systemd-generator.test-minimal-no-manager/.stderr
  testing/btest/Baseline/tools.systemd-generator.test-minimal-no-manager/out
  testing/btest/tools/systemd-generator/test-minimal-no-manager.sh
  tools/systemd-generator/src/zeek-cluster-config.cc
  tools/systemd-generator/src/zeek-cluster-config.h
  tools/systemd-generator/src/zeek-systemd-generator.cc
Due: license, btest-command-commented

Merge remote-tracking branch 'origin/topic/awelzel/5377-zeromq-overload-tests'
  CHANGES
  VERSION
  testing/btest/Baseline/cluster.zeromq.subscribe-before-init/..worker.out
  testing/btest/cluster/telemetry/ws-app.zeek
  testing/btest/cluster/zeromq/overload-drop.zeek
  testing/btest/cluster/zeromq/overload-worker-proxy-topic-drop.zeek
  testing/btest/cluster/zeromq/subscribe-before-init.zeek
  testing/btest/cluster/zeromq/supervisor-runs-zmq-proxy.zeek
  testing/btest/scripts/base/frameworks/logging/rotate-pp-env.zeek
  testing/btest/scripts/base/frameworks/telemetry/process-collect.zeek
Due: btest-command-commented

systemd-generator: Support non-worker-only setups
  testing/btest/Baseline/tools.systemd-generator.test-no-workers/..dir1.zeek-logger@.service
  testing/btest/Baseline/tools.systemd-generator.test-no-workers/..dir1.zeek-manager.service
  testing/btest/Baseline/tools.systemd-generator.test-no-workers/..dir1.zeek-proxy@.service
  testing/btest/Baseline/tools.systemd-generator.test-no-workers/..dir1.zeek-setup.service
  testing/btest/Baseline/tools.systemd-generator.test-no-workers/.stderr
  testing/btest/Baseline/tools.systemd-generator.test-no-workers/out
  testing/btest/Baseline/tools.systemd-generator.test-only-manager/..dir1.zeek-manager.service
  testing/btest/Baseline/tools.systemd-generator.test-only-manager/..dir1.zeek-setup.service
  testing/btest/Baseline/tools.systemd-generator.test-only-manager/.stderr
  testing/btest/Baseline/tools.systemd-generator.test-only-manager/out
  testing/btest/tools/systemd-generator/test-no-workers.sh
  testing/btest/tools/systemd-generator/test-only-manager.sh
  tools/systemd-generator/src/zeek-cluster-config.cc
  tools/systemd-generator/src/zeek-cluster-config.h
  tools/systemd-generator/src/zeek-systemd-generator.cc
Due: license, btest-command-commented

Merge remote-tracking branch 'origin/topic/awelzel/zeromq-stabilize-overload-tests-take-two'
  CHANGES
  VERSION
  testing/btest/Baseline/cluster.zeromq.overload-drop/manager.out
  testing/btest/Baseline/cluster.zeromq.overload-worker-proxy-topic-drop/manager.out
  testing/btest/cluster/zeromq/overload-drop.zeek
  testing/btest/cluster/zeromq/overload-worker-proxy-topic-drop.zeek
Due: btest-command-commented

Fix sparse index vector in scripting segfault
  src/Expr.cc
  testing/btest/Baseline/language.sparse-index-vec/output
  testing/btest/language/sparse-index-vec.zeek
Due: license, btest-command-commented

systemd-generator: Support cluster_node_prefix
  testing/btest/Baseline/tools.systemd-generator.test-cluster-node-prefix/..dir1.zeek-logger@.service
  testing/btest/Baseline/tools.systemd-generator.test-cluster-node-prefix/..dir1.zeek-manager.service
  testing/btest/Baseline/tools.systemd-generator.test-cluster-node-prefix/..dir1.zeek-proxy@.service
  testing/btest/Baseline/tools.systemd-generator.test-cluster-node-prefix/..dir1.zeek-setup.service
  testing/btest/Baseline/tools.systemd-generator.test-cluster-node-prefix/..dir1.zeek-worker@.service
  testing/btest/Baseline/tools.systemd-generator.test-cluster-node-prefix/.stderr
  testing/btest/Baseline/tools.systemd-generator.test-cluster-node-prefix/out
  testing/btest/tools/systemd-generator/test-cluster-node-prefix.sh
  tools/systemd-generator/src/zeek-cluster-config.cc
  tools/systemd-generator/src/zeek-cluster-config.h
  tools/systemd-generator/src/zeek-systemd-generator.cc
Due: license, btest-command-commented

krb: Fix crash with Kerberos error handling
  src/analyzer/protocol/krb/krb-analyzer.pac
  src/analyzer/protocol/krb/krb-padata.pac
  testing/btest/Baseline/scripts.base.protocols.krb.error-preauth-padata/kerberos.log
  testing/btest/Traces/README
  testing/btest/Traces/krb/error-preauth-padata.pcap
  testing/btest/Traces/krb/error-preauth-padata.pcap.py
  testing/btest/scripts/base/protocols/krb/error-preauth-padata.zeek
Due: btest-command-commented

Add flag to IP_Hdr::ToPktHdrVal() to check for capture length
  src/Discard.cc
  src/Frag.cc
  src/IP.cc
  src/IP.h
  src/packet_analysis/protocol/ip/IP.cc
  testing/btest/Baseline/core.truncation/discarder.output
  testing/btest/Baseline/core.truncation/output
  testing/btest/Traces/README
  testing/btest/Traces/trunc/ip-discarder-truncated-tcp-oob.pcapng
  testing/btest/Traces/trunc/ip-discarder-truncated-tcp-oob.pcapng.py
  testing/btest/core/truncation.test
Due: license, btest-command-commented

SSH: Cap packet_length and string_length to 8MB and 2MB
  scripts/base/frameworks/notice/weird.zeek
  scripts/base/init-bare.zeek
  src/analyzer/protocol/ssh/CMakeLists.txt
  src/analyzer/protocol/ssh/consts.bif
  src/analyzer/protocol/ssh/ssh-analyzer.pac
  src/analyzer/protocol/ssh/ssh-protocol.pac
  testing/btest/Baseline/coverage.bare-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.default-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/plugins.hooks/output
  testing/btest/Baseline/scripts.base.protocols.ssh.max-lengths-2/conn.log
  testing/btest/Baseline/scripts.base.protocols.ssh.max-lengths-2/weird.log
  testing/btest/Baseline/scripts.base.protocols.ssh.max-lengths-3/conn.log
  testing/btest/Baseline/scripts.base.protocols.ssh.max-lengths-3/weird.log
  testing/btest/Baseline/scripts.base.protocols.ssh.max-lengths-4/conn.log
  testing/btest/Baseline/scripts.base.protocols.ssh.max-lengths-4/weird.log
  testing/btest/Baseline/scripts.base.protocols.ssh.max-lengths/conn.log
  testing/btest/Baseline/scripts.base.protocols.ssh.max-lengths/weird.log
  testing/btest/scripts/base/protocols/ssh/max-lengths.test
Due: btest-command-commented

Initial NEWS block for 8.2.1
  NEWS
Due: none

RPC: Limit calls map via rpc_max_pending_calls const redef
  NEWS
  scripts/base/frameworks/notice/weird.zeek
  scripts/base/init-bare.zeek
  src/analyzer/protocol/rpc/CMakeLists.txt
  src/analyzer/protocol/rpc/RPC.cc
  src/analyzer/protocol/rpc/consts.bif
  src/analyzer/protocol/rpc/events.bif
  testing/btest/Baseline/coverage.bare-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/coverage.default-load-baseline/canonified_loaded_scripts.log
  testing/btest/Baseline/plugins.hooks/output
  testing/btest/Baseline/scripts.base.protocols.rpc.max-pending-calls/conn.log
  testing/btest/Baseline/scripts.base.protocols.rpc.max-pending-calls/out
  testing/btest/Baseline/scripts.base.protocols.rpc.max-pending-calls/weird.log
  testing/btest/Traces/README
  testing/btest/Traces/portmapper-many-unanswered-calls.pcapng.gz
  testing/btest/Traces/portmapper-many-unanswered-calls.py
  testing/btest/scripts/base/protocols/rpc/max-pending-calls.zeek
Due: license, btest-command-commented

Add recursion depth to scripts
  NEWS
  src/Func.cc
  src/Func.h
  src/zeek.bif
  testing/btest/Baseline/language.recursion-depth/.stderr
  testing/btest/Baseline/language.recursion-depth/output
  testing/btest/language/recursion-depth.zeek
Due: license, btest-command-commented

Ensure no-return sort function doesn't crash
  src/Val.cc
  testing/btest/Baseline/language.sort-no-return/output
  testing/btest/language/sort-no-return.zeek
Due: license, btest-command-commented

Add release notes for 8.0.9 [skip ci]
  NEWS
Due: none

CCI: Store the build artifact as part of the ubuntu-24.04 job
  .circleci/config.yml
Due: none

CCI: Adapt ci/benchmark.sh to work with CircleCI
  ci/benchmark.sh
Due: none

CCI: Enable running the benchmarks on ubuntu-24.04 and ubuntu-24.04-spicy
  .circleci/config.yml
Due: none

TEMP: disable additional builds
  .circleci/config.yml
Due: none

fixup! CCI: Adapt ci/benchmark.sh to work with CircleCI
  ci/benchmark.sh
Due: none

fixup! TEMP: disable additional builds
  .circleci/config.yml
Due: none

fixup! fixup! CCI: Adapt ci/benchmark.sh to work with CircleCI
  ci/benchmark.sh
Due: none

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/scripts/base/bif/zeek.bif.zeek.rst
Due: none

doc: A few more btest.rst additions and changes
  doc/advanced/devel/btest.rst
Due: none

Expose new functions to retrieve original X.509 distinguished names
  src/file_analysis/analyzer/x509/functions.bif
  testing/btest/Baseline/bifs.x509_encoding/out
  testing/btest/Traces/tls/tls12-encoding.pcap
  testing/btest/bifs/x509_encoding.zeek
Due: btest-command-commented

CCI: Rename yaml files for config.yml to contain dynamic config
  .circleci/builds.yml
  .circleci/config.yml
  .circleci/setup.yml
Due: none

CI: upgrade to clang 22 on ubuntu 24.04 Docker image
  .circleci/config.yml
  .github/workflows/check.yml
  ci/ubuntu-24.04/Dockerfile
Due: none

CCI: Fix check for pushes to master to avoid double-builds
  .circleci/config.yml
Due: none

util/fmt: Make the vfmt() format buffer thread-local
  src/util.cc
Due: license

Fix code formatting issue
  src/util.cc
Due: license

Add Broker backpressure tests
  testing/btest/Baseline/cluster.broker.backpressure.overflows-2/manager..stdout
  testing/btest/Baseline/cluster.broker.backpressure.overflows-2/proxy-1..stdout
  testing/btest/Baseline/cluster.broker.backpressure.overflows-2/worker-1..stdout
  testing/btest/Baseline/cluster.broker.backpressure.overflows-3/manager..stdout
  testing/btest/Baseline/cluster.broker.backpressure.overflows-3/proxy-1..stdout
  testing/btest/Baseline/cluster.broker.backpressure.overflows-3/worker-1..stdout
  testing/btest/Baseline/cluster.broker.backpressure.overflows-4/manager..stdout
  testing/btest/Baseline/cluster.broker.backpressure.overflows-4/proxy-1..stdout
  testing/btest/Baseline/cluster.broker.backpressure.overflows-4/worker-1..stdout
  testing/btest/Baseline/cluster.broker.backpressure.overflows-5/manager..stdout
  testing/btest/Baseline/cluster.broker.backpressure.overflows-5/proxy-1..stdout
  testing/btest/Baseline/cluster.broker.backpressure.overflows-5/worker-1..stdout
  testing/btest/Baseline/cluster.broker.backpressure.overflows-6/manager..stdout
  testing/btest/Baseline/cluster.broker.backpressure.overflows-6/proxy-1..stdout
  testing/btest/Baseline/cluster.broker.backpressure.overflows-6/worker-1..stdout
  testing/btest/Baseline/cluster.broker.backpressure.overflows/manager..stdout
  testing/btest/Baseline/cluster.broker.backpressure.overflows/proxy-1..stdout
  testing/btest/Baseline/cluster.broker.backpressure.overflows/worker-1..stdout
  testing/btest/cluster/broker/backpressure/common/.btest-ignore
  testing/btest/cluster/broker/backpressure/common/common.zeek
  testing/btest/cluster/broker/backpressure/common/manager.zeek
  testing/btest/cluster/broker/backpressure/common/receiver.zeek
  testing/btest/cluster/broker/backpressure/common/sender-disconnect.zeek
  testing/btest/cluster/broker/backpressure/common/sender-drop.zeek
  testing/btest/cluster/broker/backpressure/common/sender.zeek
  testing/btest/cluster/broker/backpressure/overflows.zeek
Due: btest-command-commented

Fix reporter logging without wallclock fallback
  src/Reporter.cc
Due: license

Path conditions:
  license: any of: \.(h|c|cpp|cc|spicy|evt)$, but not: ^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$
  btest-command-commented: any of: ^testing/btest/.*$
