Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

license:
  name: Check for license headers
  entry: ./ci/license-header.py
  language: python

btest-command-commented:
  name: Check that all BTest command lines are commented out
  entry: ^\s*@TEST-
  language: pygrep

util/fmt: Use thread-safe Fmt() in backend threads
  src/input/readers/ascii/Ascii.cc
  src/input/readers/binary/Binary.cc
  src/logging/writers/ascii/Ascii.cc
  src/util.h
Due: license

CI: Temporarily disable cloning zeek-testing-private repo
  ci/init-external-repos.sh
Due: none

Merge branch 'topic/timw/ci-remove-cirrusisms-from-init-external-repos'
  CHANGES
  VERSION
  ci/init-external-repos.sh
Due: none

Fix #5642: Implement WebSocket per-message deflate compression
  scripts/base/protocols/websocket/main.zeek
  src/analyzer/protocol/websocket/Plugin.cc
  src/analyzer/protocol/websocket/WebSocket.cc
  src/analyzer/protocol/websocket/WebSocket.h
  src/analyzer/protocol/websocket/functions.bif
  src/analyzer/protocol/websocket/websocket-analyzer.pac
  src/analyzer/protocol/websocket/websocket.pac
Due: license

removed ws_traffic_generator.py
  ws_traffic_generator.py
Due: none

moved pcap files generated by ws_traffic_generator.py
  testing/btest/Traces/websocket/websocket_baseline.pcap
  testing/btest/Traces/websocket/websocket_compressed.pcap
Due: btest-command-commented

moved pcap files generated by ws_traffic_generator.py
  websocket_baseline.pcap
  websocket_compressed.pcap
Due: none

Updating CHANGES and VERSION.
  CHANGES
  VERSION
Due: none

CCI: Fix a couple of typos in config.yml triggers
  .circleci/config.yml
Due: none

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/reference/zeekscript/autogenerated-file-analyzer-index.rst
  doc/reference/zeekscript/autogenerated-protocol-analyzer-index.rst
  doc/reference/zeekscript/autogenerated-script-index.rst
  doc/scripts/base/bif/event.bif.zeek.rst
  doc/scripts/base/bif/index.rst
  doc/scripts/base/bif/plugins/Zeek_Gnutella.consts.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_RPC.consts.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_RPC.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_SSH.consts.bif.zeek.rst
  doc/scripts/base/bif/plugins/__load__.zeek.rst
  doc/scripts/base/bif/plugins/index.rst
  doc/scripts/base/frameworks/intel/main.zeek.rst
  doc/scripts/base/frameworks/notice/weird.zeek.rst
  doc/scripts/base/init-bare.zeek.rst
  doc/scripts/policy/frameworks/intel/do_notice.zeek.rst
Due: none

Update the documentation for SSL/TLS elliptic curves extension
  src/analyzer/protocol/ssl/events.bif
Due: none

Fix stall with OpenSSL check on Mac with ASAN
  CMakeLists.txt
Due: none

btest/cluster/websocket: Do not assume port 21 is unused
  testing/btest/cluster/websocket/broker/spurious-peer-error.zeek
Due: btest-command-commented

Removed redundant functions, fields and normalised header names
  scripts/base/protocols/websocket/main.zeek
  src/analyzer/protocol/websocket/WebSocket.h
  src/analyzer/protocol/websocket/websocket-protocol.pac
  src/analyzer/protocol/websocket/websocket.pac
Due: license

Refactored decompression logic, general clean up and added btests for permessage-deflate
  src/analyzer/protocol/websocket/WebSocket.cc
  src/analyzer/protocol/websocket/WebSocket.h
  src/analyzer/protocol/websocket/websocket-analyzer.pac
  src/analyzer/protocol/websocket/websocket.pac
  testing/btest/Baseline/scripts.base.protocols.websocket.events/out
  testing/btest/Baseline/scripts.base.protocols.websocket.permessage-deflate-jupyter/output.txt
  testing/btest/Baseline/scripts.base.protocols.websocket.permessage-deflate-jupyter/websocket.log
  testing/btest/Baseline/scripts.base.protocols.websocket.permessage-deflate-wstunnel-http/output.txt
  testing/btest/Baseline/scripts.base.protocols.websocket.permessage-deflate-wstunnel-http/websocket.log
  testing/btest/Baseline/scripts.base.protocols.websocket.permessage-deflate-wstunnel-ssh/output.txt
  testing/btest/Baseline/scripts.base.protocols.websocket.permessage-deflate-wstunnel-ssh/websocket.log
  testing/btest/Baseline/scripts.base.protocols.websocket.permessage-deflate/output.txt
  testing/btest/Baseline/scripts.base.protocols.websocket.permessage-deflate/websocket.log
  testing/btest/scripts/base/protocols/websocket/permessage-deflate-jupyter.zeek
  testing/btest/scripts/base/protocols/websocket/permessage-deflate-wstunnel-http.zeek
  testing/btest/scripts/base/protocols/websocket/permessage-deflate-wstunnel-ssh.zeek
  testing/btest/scripts/base/protocols/websocket/permessage-deflate.zeek
Due: license, btest-command-commented

util/fmt: guard fmt() misuse
  src/util.cc
Due: license

GHCI: Fix whitespace issues reported by yamllint
  .github/workflows/check.yml
Due: none

GHCI: Fix tag pattern to match typical Zeek version numbering
  .github/workflows/check.yml
Due: none

GHCI: Generate Linux build matrix via a python script for conditionals
  .github/scripts/generate-gh-check-matrix.py
  .github/workflows/check.yml
Due: none

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/reference/zeekscript/autogenerated-protocol-analyzer-index.rst
  doc/scripts/base/bif/plugins/Zeek_SSL.events.bif.zeek.rst
Due: none

Clarify SMTP documentation Remove email header label for SMTP commands Expand Message-ID & Reply-To to match RFC822
  doc/scripts/base/protocols/smtp/main.zeek.rst
  scripts/base/protocols/smtp/main.zeek
Due: none

Align RCPT TO comment with docs
  scripts/base/protocols/smtp/main.zeek
Due: none

Replace Dict.h internals with plf::hive + ankerl::unordered_dense
  src/Dict.cc
  src/Dict.h
Due: license

Add ankerl::unordered_dense and plf::hive
  src/3rdparty/ankerl/stl.h
  src/3rdparty/ankerl/unordered_dense.h
  src/3rdparty/plf_hive.h
Due: license

Protocol/file analysis bif doc fixes
  src/analyzer/protocol/dce-rpc/events.bif
  src/analyzer/protocol/dnp3/events.bif
  src/analyzer/protocol/dns/events.bif
  src/analyzer/protocol/http/events.bif
  src/analyzer/protocol/irc/events.bif
  src/analyzer/protocol/login/events.bif
  src/analyzer/protocol/ntlm/events.bif
  src/analyzer/protocol/rfb/events.bif
  src/analyzer/protocol/rpc/events.bif
  src/analyzer/protocol/smb/smb1_com_session_setup_andx.bif
  src/analyzer/protocol/smtp/events.bif
  src/analyzer/protocol/ssh/events.bif
  src/analyzer/protocol/ssl/events.bif
  src/analyzer/protocol/syslog/legacy/events.bif
  src/analyzer/protocol/websocket/events.bif
  src/file_analysis/analyzer/x509/functions.bif
  src/file_analysis/analyzer/x509/ocsp_events.bif
Due: none

ci/NEWS: Skip installing libnode-dev on Debian 12
  NEWS
  ci/debian-12/Dockerfile
Due: none

Disable leak checking on cycle test
  testing/btest/bifs/footprint.zeek
  testing/btest/language/copy-cycle.zeek
  testing/btest/language/cycle-print.zeek
Due: btest-command-commented

util/fmt: Remove non-main thread warning / abort() again
  src/util.cc
Due: license

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/reference/zeekscript/autogenerated-file-analyzer-index.rst
  doc/reference/zeekscript/autogenerated-protocol-analyzer-index.rst
  doc/scripts/base/bif/plugins/Zeek_DCE_RPC.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_DNP3.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_DNS.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_HTTP.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_IRC.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_Login.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_NTLM.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_RFB.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_RPC.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_SMB.smb1_com_session_setup_andx.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_SMTP.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_SSH.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_SSL.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_WebSocket.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_X509.ocsp_events.bif.zeek.rst
Due: none

Path conditions:
  license: any of: \.(h|c|cpp|cc|spicy|evt)$, but not: ^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$
  btest-command-commented: any of: ^testing/btest/.*$
