Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

license:
  name: Check for license headers
  entry: ./ci/license-header.py
  language: python

btest-command-commented:
  name: Check that all BTest command lines are commented out
  entry: ^\s*@TEST-
  language: pygrep

RecordType: Allow deferring &default=vector(), set(), table() fields
  NEWS
  src/Type.cc
  testing/btest/Baseline/language.delete-field-set/output
Due: license, btest-command-commented

Attr: Deprecate using &default and &optional together on record fields
  NEWS
  scripts/base/frameworks/notice/weird.zeek
  src/Attr.cc
  testing/btest/Baseline/language.optional-and-default-field/.stderr
  testing/btest/Baseline/language.optional-and-default-field/.stdout
  testing/btest/language/optional-and-default-field.zeek
Due: license, btest-command-commented

RecordType: Ensure &default fields are always re-initialized
  NEWS
  src/Type.cc
  testing/btest/Baseline/language.delete-field-set-2/output
  testing/btest/language/delete-field-set.zeek
Due: license, btest-command-commented

Fix use-after-move reported by clang-tidy
  src/Type.cc
Due: license

btest/plugins: Add smoke test for DeliverSkippedPacket()
  testing/btest/Baseline/plugins.deliver-skipped-packet/output
  testing/btest/plugins/deliver-skipped-packet-plugin/.btest-ignore
  testing/btest/plugins/deliver-skipped-packet-plugin/src/Plugin.cc
  testing/btest/plugins/deliver-skipped-packet-plugin/src/Plugin.h
  testing/btest/plugins/deliver-skipped-packet.zeek
Due: btest-command-commented

Update CT/CA lists to versions from NSS 3.114
  scripts/base/protocols/ssl/ct-list.zeek
  scripts/base/protocols/ssl/mozilla-ca-list.zeek
  testing/external/commit-hash.zeek-testing
Due: none

added definition for skipped packet
  src/analyzer/Analyzer.h
Due: license

cluster/zeromq: Bail on missing ZeroMQ by default
  NEWS
  src/cluster/backend/CMakeLists.txt
Due: none

ci/windows: No ZeroMQ cluster backend
  ci/windows/build.cmd
Due: none

cluster: Add on_subscribe() and on_unsubscribe() hooks
  NEWS
  scripts/base/frameworks/cluster/main.zeek
  src/cluster/Backend.cc
  src/cluster/Backend.h
  testing/btest/Baseline.zam/cluster.websocket.listen-idempotent/.stderr
  testing/btest/Baseline.zam/cluster.websocket.tls-usage-error/.stderr
  testing/btest/Baseline/cluster.generic.on-subscribe-unsubscribe/.stderr
  testing/btest/Baseline/cluster.generic.on-subscribe-unsubscribe/.stdout
  testing/btest/cluster/generic/on-subscribe-unsubscribe.zeek
Due: license, btest-command-commented

Replace unused stream argument from RecordToLogRecord with WriterInfo
  src/logging/Manager.cc
  src/logging/Manager.h
Due: license

Add metrics to track string and container fields limited by length
  src/logging/Manager.cc
  src/logging/Manager.h
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-2/.stdout
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-3/.stdout
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-4/.stdout
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-5/.stdout
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-6/.stdout
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting/.stdout
  testing/btest/Baseline/scripts.base.frameworks.logging.telemetry/telemetry.log
  testing/btest/scripts/base/frameworks/logging/field-length-limiting.zeek
Due: license, btest-command-commented

Implement string- and container-length filtering at the log record level
  scripts/base/init-bare.zeek
  src/logging/Manager.cc
  src/logging/Manager.h
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-2/test.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-3/test.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-4/test.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-5/test.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-6/test.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting/test.log
  testing/btest/scripts/base/frameworks/logging/field-length-limiting.zeek
  testing/btest/scripts/base/frameworks/logging/length-checking.zeek
Due: license, btest-command-commented

Add a weird that gets emitted when strings/containers are over the limits
  src/logging/Manager.cc
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-2/.stdout
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-2/weird.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-3/.stdout
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-3/weird.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-4/.stdout
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-4/weird.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-5/.stdout
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-5/weird.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-6/.stdout
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting-6/weird.log
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting/.stdout
  testing/btest/Baseline/scripts.base.frameworks.logging.field-length-limiting/weird.log
  testing/btest/scripts/base/frameworks/logging/field-length-limiting.zeek
Due: license, btest-command-commented

ip/SessionAdapter: Introduce TapAnalyzer idea
  src/packet_analysis/protocol/ip/SessionAdapter.cc
  src/packet_analysis/protocol/ip/SessionAdapter.h
Due: license

packet_analysis: icmp,tcp,udp: Call TapAnalyzer hooks
  src/packet_analysis/protocol/icmp/ICMP.cc
  src/packet_analysis/protocol/tcp/TCP.cc
  src/packet_analysis/protocol/udp/UDP.cc
Due: license

btest/plugins: Add smoke test for TapAnalyzer
  testing/btest/Baseline/plugins.tap-analyzer/output
  testing/btest/plugins/tap-analyzer-plugin/.btest-ignore
  testing/btest/plugins/tap-analyzer-plugin/src/Plugin.cc
  testing/btest/plugins/tap-analyzer-plugin/src/Plugin.h
  testing/btest/plugins/tap-analyzer.zeek
Due: btest-command-commented

fixup! ip/SessionAdapter: Introduce TapAnalyzer idea
  src/packet_analysis/protocol/ip/SessionAdapter.h
Due: license

SessionAdapter: Allow TapAnalyzers to UpdateConnVal()
  src/packet_analysis/protocol/ip/SessionAdapter.cc
  src/packet_analysis/protocol/ip/SessionAdapter.h
Due: license

Start of 8.1.0 development
  NEWS
  VERSION
  testing/btest/scripts/site/local-compat.test
Due: btest-command-commented

Compile contributors for Zeek 8.0 in the NEWS file
  .typos.toml
  NEWS
Due: none

Compile contributors for Zeek 8.0 in the NEWS file
  .typos.toml
  CHANGES
  NEWS
  VERSION
Due: none

Updating CHANGES and VERSION.
  CHANGES
  VERSION
Due: none

Remove binpac git submodule
  .gitmodules
Due: none

Fix record coercion with compatible types
  src/Type.cc
  testing/btest/Baseline/language.arithmetic-record-vec-fail/err
  testing/btest/Baseline/language.arithmetic-record-vec/out
  testing/btest/language/arithmetic-record-vec-fail.zeek
  testing/btest/language/arithmetic-record-vec.zeek
Due: license, btest-command-commented

Remove bifcl git submodule
  .gitmodules
Due: none

Add cleaned-up version of Bifcl
  auxil/bifcl/CMakeLists.txt
  auxil/bifcl/README
  auxil/bifcl/bif_arg.cc
  auxil/bifcl/builtin-func.l
  auxil/bifcl/builtin-func.y
  auxil/bifcl/include/bif_arg.h
  auxil/bifcl/include/bif_type.def
  auxil/bifcl/include/module_util.h
  auxil/bifcl/module_util.cc
Due: license

SessionAdapter: Introduce TapAnalyzer for session adapter
  NEWS
  src/packet_analysis/protocol/icmp/ICMP.cc
  src/packet_analysis/protocol/ip/SessionAdapter.cc
  src/packet_analysis/protocol/ip/SessionAdapter.h
  src/packet_analysis/protocol/tcp/TCP.cc
  src/packet_analysis/protocol/udp/UDP.cc
  testing/btest/Baseline/plugins.tap-analyzer/output
  testing/btest/plugins/tap-analyzer-plugin/.btest-ignore
  testing/btest/plugins/tap-analyzer-plugin/src/Plugin.cc
  testing/btest/plugins/tap-analyzer-plugin/src/Plugin.h
  testing/btest/plugins/tap-analyzer.zeek
Due: license, btest-command-commented

IPBasedAnalyzer: Call TapPacket() when skipping
  src/packet_analysis/protocol/ip/IPBasedAnalyzer.cc
  src/packet_analysis/protocol/ip/SessionAdapter.h
  testing/btest/Baseline/plugins.tap-analyzer/output
  testing/btest/plugins/tap-analyzer.zeek
Due: license, btest-command-commented

TapAnalyzer: More verdict to action rename
  src/packet_analysis/protocol/ip/SessionAdapter.h
  testing/btest/Baseline/plugins.tap-analyzer/output
  testing/btest/plugins/tap-analyzer-plugin/src/Plugin.cc
Due: license, btest-command-commented

Add proto to analyzer.log
  scripts/base/frameworks/analyzer/logging.zeek
  testing/btest/Baseline/core.tunnels.gtp.unknown_or_too_short/analyzer.log
  testing/btest/Baseline/scripts.base.protocols.dce-rpc.ntlm-empty-av-pair-seq/analyzer.log
  testing/btest/Baseline/scripts.base.protocols.dce-rpc.ntlm-unterminated-av-pair-seq/analyzer.log
  testing/btest/Baseline/scripts.base.protocols.ftp.ftp-invalid-reply-code/analyzer.log
  testing/btest/Baseline/scripts.base.protocols.ftp.ftp-missing-reply-code/analyzer.log
  testing/btest/Baseline/scripts.base.protocols.ftp.ftp-missing-space-after-reply-code/analyzer.log
  testing/btest/Baseline/scripts.base.protocols.http.http-11-request-then-cruft/analyzer.log
  testing/btest/Baseline/scripts.base.protocols.postgresql.bad-backend-message/analyzer.cut
  testing/btest/Baseline/scripts.policy.frameworks.analyzer.packet-segment-logging/analyzer.log
  testing/btest/Baseline/spicy.parse-error/analyzer.log
  testing/external/commit-hash.zeek-testing
  testing/external/commit-hash.zeek-testing-private
Due: btest-command-commented

btest/plugins/tap-analyzer: Update baseline
  testing/btest/Baseline/plugins.tap-analyzer/output
Due: btest-command-commented

TapAnalyzer: Fix docstring
  src/packet_analysis/protocol/ip/SessionAdapter.h
Due: license

logging/WriterBackend: Deprecate heartbeats
  src/logging/WriterBackend.cc
  src/logging/WriterBackend.h
Due: license

Path conditions:
  license: any of: \.(h|c|cpp|cc|spicy|evt)$, but not: ^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*)$
  btest-command-commented: any of: ^testing/btest/.*$
