Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*|doc/devel/spicy/autogen/.*.spicy'

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/script-reference/autogenerated-protocol-analyzer-index.rst
  doc/scripts/base/bif/event.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_SNMP.events.bif.zeek.rst
  doc/scripts/base/init-bare.zeek.rst
  doc/scripts/base/protocols/snmp/main.zeek.rst
Due: none

Drop libunistd regex include path from CMakeLists.txt
  CMakeLists.txt
Due: none

Avoid unnecessary `dynamic_cast` when getting metric counter values
  src/script_opt/ZAM/OPs/ZBI.op
  src/telemetry/telemetry_functions.bif
Due: none

Fix clang-tidy findings in Spicy plugin
  src/spicy/spicyz/driver.cc
  src/spicy/spicyz/driver.h
  src/spicy/spicyz/glue-compiler.cc
  src/spicy/spicyz/glue-compiler.h
  src/spicy/spicyz/main.cc
Due: license

snmp: Fix crash with PCAP extracted from benchmarker
  src/analyzer/protocol/snmp/snmp-analyzer.pac
  testing/btest/Baseline/scripts.base.protocols.snmp.snmp-crash-62790/out1
  testing/btest/Baseline/scripts.base.protocols.snmp.snmp-crash-62790/snmp.log
  testing/btest/Traces/snmp/snmp-crash-62790.pcap
  testing/btest/scripts/base/protocols/snmp/snmp-crash-62790.zeek
Due: btest-command-commented

QUIC: Add short packets as oO in binary logarithmic fashion to history
  NEWS
  scripts/base/protocols/quic/main.zeek
  scripts/base/protocols/quic/spicy-events.zeek
  src/analyzer/protocol/quic/QUIC.evt
  src/analyzer/protocol/quic/QUIC.spicy
  testing/btest/Baseline/scripts.base.protocols.quic.39264-rand/quic.log
  testing/btest/Baseline/scripts.base.protocols.quic.chromium/quic.log
  testing/btest/Baseline/scripts.base.protocols.quic.curl-http3/quic.log
  testing/btest/Baseline/scripts.base.protocols.quic.decrypt-fail-google-de-51833/quic.log.cut
  testing/btest/Baseline/scripts.base.protocols.quic.discarded-packet/quic.log.default-discarded-packets
  testing/btest/Baseline/scripts.base.protocols.quic.discarded-packet/quic.log.no-discarded-packets
  testing/btest/Baseline/scripts.base.protocols.quic.discarded-packet/quic.log.one-discarded-packet
  testing/btest/Baseline/scripts.base.protocols.quic.events/out
  testing/btest/Baseline/scripts.base.protocols.quic.firefox/quic.log
  testing/btest/Baseline/scripts.base.protocols.quic.interop.quic-go_quic-go.handshake/quic.log
  testing/btest/Baseline/scripts.base.protocols.quic.interop.quic-go_quic-go.retry/quic.log
  testing/btest/Baseline/scripts.base.protocols.quic.interop.quic-go_quic-go.zerortt/quic.log
  testing/btest/Baseline/scripts.base.protocols.quic.merlinc2/quic.log
  testing/btest/Baseline/scripts.base.protocols.quic.quic-log/quic.log
  testing/btest/Baseline/scripts.base.protocols.quic.quicdoq/quic.log
  testing/btest/Baseline/scripts.base.protocols.quic.quicv2-echo-443/quic.log
  testing/btest/Baseline/scripts.base.protocols.quic.quicv2-http3-443/quic.log
  testing/btest/scripts/base/protocols/quic/events.zeek
  testing/external/commit-hash.zeek-testing
Due: license, btest-command-commented

Move event drain during termination before threading/broker_mgr shutdowns
  src/zeek-setup.cc
  testing/btest/Baseline/scripts.base.frameworks.file-analysis.logging-input-analysis/files.log
  testing/btest/Baseline/scripts.base.frameworks.input.missing-table-value/zeek..stderr
  testing/btest/Baseline/scripts.base.frameworks.notice.file-info-no-conns/files.log
  testing/btest/Baseline/scripts.base.frameworks.notice.file-info-no-conns/notice.log
  testing/btest/scripts/base/frameworks/file-analysis/logging-input-analysis.zeek
  testing/btest/scripts/base/frameworks/input/missing-table-value.zeek
  testing/btest/scripts/base/frameworks/notice/file-info-no-conns.zeek
Due: license, btest-command-commented

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/script-reference/autogenerated-protocol-analyzer-index.rst
  doc/scripts/base/protocols/quic/main.zeek.rst
  doc/scripts/base/protocols/quic/spicy-events.zeek.rst
Due: none

-O gen-C++ fix for enum values that exceed 2^31
  src/script_opt/CPP/RuntimeInits.cc
  src/script_opt/CPP/RuntimeInits.h
Due: license

treat enums introduced by plugins / Spicy analyzers as redef'ing (extending) the enum type
  src/plugin/ComponentManager.h
  src/spicy/runtime-support.cc
Due: license

fixes for allowing combining -O use-C++ with -O ZAM
  src/script_opt/Inline.cc
Due: license

x509: Implement deduplication without Broker stores
  scripts/base/files/x509/main.zeek
  testing/btest/Baseline/scripts.base.files.x509.log-caching-cluster-zeromq/manager.x509.log
  testing/btest/scripts/base/files/x509/log-caching-cluster-zeromq.test
Due: btest-command-commented

Update `Packet.cc` comment for l2_hdr
  src/iosource/Packet.cc
Due: license

Add PCP/DEI to vlans in raw packet headers
  NEWS
  scripts/base/init-bare.zeek
  src/iosource/Packet.cc
  src/iosource/Packet.h
  src/iosource/af_packet/AF_Packet.cc
  src/packet_analysis/protocol/vlan/VLAN.cc
  testing/btest/Baseline/bifs.get_current_packet_header/output
  testing/btest/Baseline/bifs.get_current_packet_header_fragmented_syn/output
  testing/btest/Baseline/bifs.tcp_raw_options/.stdout
  testing/btest/Baseline/core.raw_packet/output
  testing/btest/Baseline/scripts.base.protocols.vlan.test/output
  testing/btest/Baseline/scripts.policy.misc.dump-events/really-all-events.log
  testing/btest/Traces/vlan-pcp-dei.pcap
  testing/btest/scripts/base/protocols/vlan/test.zeek
Due: license, btest-command-commented

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/script-reference/autogenerated-file-analyzer-index.rst
  doc/scripts/base/bif/plugins/Zeek_X509.events.bif.zeek.rst
  doc/scripts/base/files/x509/main.zeek.rst
  doc/scripts/base/frameworks/files/main.zeek.rst
Due: none

Start working on a SNMP analyzer in spicy.
  src/analyzer/protocol/snmp/CMakeLists.txt
  src/analyzer/protocol/snmp/asn1.spicy
  src/analyzer/protocol/snmp/snmp.evt
  src/analyzer/protocol/snmp/snmp.spicy
Due: license

Spicy SNMP analyzer can raise the first event.
  src/analyzer/protocol/ldap/asn1.spicy
  src/analyzer/protocol/snmp/CMakeLists.txt
  src/analyzer/protocol/snmp/snmp.evt
  src/analyzer/protocol/snmp/snmp.spicy
  src/analyzer/protocol/snmp/snmp_zeek.spicy
Due: license

Move the binpac SNMP analyzer to the legacy directory.
  src/analyzer/protocol/snmp/CMakeLists.txt
  src/analyzer/protocol/snmp/legacy/CMakeLists.txt
  src/analyzer/protocol/snmp/legacy/Plugin.cc
  src/analyzer/protocol/snmp/legacy/SNMP.cc
  src/analyzer/protocol/snmp/legacy/SNMP.h
  src/analyzer/protocol/snmp/legacy/events.bif
  src/analyzer/protocol/snmp/legacy/snmp-analyzer.pac
  src/analyzer/protocol/snmp/legacy/snmp-protocol.pac
  src/analyzer/protocol/snmp/legacy/snmp.pac
  src/analyzer/protocol/snmp/legacy/types.bif
  src/analyzer/protocol/snmp/snmp.spicy
Due: license

SNMP WIP
  src/analyzer/protocol/snmp/snmp.evt
  src/analyzer/protocol/snmp/snmp.spicy
  src/analyzer/protocol/snmp/snmp_zeek.spicy
Due: license

Fix ZAM test from VLAN merge
  testing/btest/Baseline.zam/scripts.policy.misc.dump-events/really-all-events.log
Due: btest-command-commented

Bump Spicy to new optimizer implementation.
  CMakeLists.txt
Due: none

Add opcode/opcode_name to DNS log record
  scripts/base/init-bare.zeek
  scripts/base/protocols/dns/consts.zeek
  scripts/base/protocols/dns/main.zeek
  src/analyzer/protocol/dns/DNS.cc
  testing/btest/Baseline/core.ipv6-frag/dns.log
  testing/btest/Baseline/core.tunnels.gre-over-udp/dns.log
  testing/btest/Baseline/core.tunnels.gre-pptp/dns.log
  testing/btest/Baseline/core.tunnels.gre/dns.log
  testing/btest/Baseline/core.tunnels.gtp.false_gtp/dns.log
  testing/btest/Baseline/coverage.record-fields/out.default
  testing/btest/Baseline/opt.basic/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.binds/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.dns-key/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.dnskey/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.ds/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.duplicate-reponses/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.flip/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.hinfo/.stdout
  testing/btest/Baseline/scripts.base.protocols.dns.loc/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.multiple-txt-strings/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.naptr/out
  testing/btest/Baseline/scripts.base.protocols.dns.nsec/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.nsec3/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.nsec3param/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.rrsig/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.spf/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.sshfp/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.tkey/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.wks/dns.log
  testing/btest/Baseline/scripts.base.protocols.dns.zero-responses/dns.log
  testing/btest/Baseline/scripts.policy.protocols.dns.original_case/dns.log
  testing/external/commit-hash.zeek-testing-private
Due: license, btest-command-commented

Support DNS Dynamic Update messages in DNS analyzer
  scripts/base/init-bare.zeek
  src/analyzer/protocol/dns/DNS.cc
  src/analyzer/protocol/dns/DNS.h
Due: license

Add basic event for emitting DNS dynamic update data
  scripts/base/init-bare.zeek
  src/analyzer/protocol/dns/DNS.cc
  src/analyzer/protocol/dns/events.bif
  testing/btest/Baseline/scripts.base.protocols.dns.dynamic-update/out
  testing/btest/Baseline/scripts.base.protocols.dns.dynamic-update/weird.log
  testing/btest/scripts/base/protocols/dns/dynamic-update.zeek
Due: license, btest-command-commented

Add information from dynamic updates to regular DNS logs
  scripts/base/protocols/dns/consts.zeek
  scripts/base/protocols/dns/main.zeek
  src/analyzer/protocol/dns/DNS.cc
  src/analyzer/protocol/dns/events.bif
  testing/btest/Baseline/scripts.base.protocols.dns.dynamic-update/dns.log
  testing/btest/scripts/base/protocols/dns/dynamic-update.zeek
  testing/external/commit-hash.zeek-testing
  testing/external/commit-hash.zeek-testing-private
Due: license, btest-command-commented

Add script-level constants for DNS opcodes
  scripts/base/protocols/dns/consts.zeek
  scripts/base/protocols/dns/main.zeek
Due: none

Update NEWS with entry for DNS dynamic update [nomail] [skip ci]
  NEWS
Due: none

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/script-reference/autogenerated-file-analyzer-index.rst
  doc/script-reference/autogenerated-protocol-analyzer-index.rst
  doc/scripts/base/bif/event.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_DNS.events.bif.zeek.rst
  doc/scripts/base/init-bare.zeek.rst
  doc/scripts/base/protocols/dns/consts.zeek.rst
  doc/scripts/base/protocols/dns/main.zeek.rst
Due: none

QUIC: Rename short_packet_threshold to short_header_packet_threshold
  NEWS
  scripts/base/protocols/quic/main.zeek
  scripts/base/protocols/quic/spicy-events.zeek
  src/analyzer/protocol/quic/QUIC.evt
  src/analyzer/protocol/quic/QUIC.spicy
  testing/btest/Baseline/scripts.base.protocols.quic.events/out
  testing/btest/scripts/base/protocols/quic/events.zeek
  testing/external/commit-hash.zeek-testing
Due: license, btest-command-commented

websocket: Fix spurious if not
  scripts/base/protocols/websocket/main.zeek
Due: none

Deprecate json_escape_utf8, replace with escape_utf8 with proper argument meaning
  src/Desc.cc
  src/Val.cc
  src/broker/Manager.cc
  src/threading/formatters/JSON.cc
  src/util.cc
  src/util.h
Due: license

Add argument to escape other control characters to escape_utf8
  NEWS
  src/threading/formatters/JSON.cc
  src/util.cc
  src/util.h
  testing/btest/Baseline/scripts.base.frameworks.logging.ascii-json-utf8/ssh.log
Due: license, btest-command-commented

fixup! Deprecate json_escape_utf8, replace with escape_utf8 with proper argument meaning
  src/Desc.cc
  src/threading/formatters/JSON.cc
  src/util.cc
  src/util.h
Due: license

Update paraglob submodule [nomail]
  src/OpaqueVal.cc
  src/zeek.bif
Due: license

Remove Spicy DNS from CI
  ci/spicy-install-analyzers.sh
Due: none

Lazily initialize hmac_md5 seed data
  src/Hash.cc
  src/Hash.h
  src/util.cc
  src/zeek.bif
Due: license

Switch krb5 ticket hashing to SHA256
  scripts/policy/protocols/krb/ticket-logging.zeek
  testing/btest/Baseline/scripts.policy.protocols.krb.ticket-logging/kerberos.log
Due: btest-command-commented

Switch SSH fingerprint hashing to SHA256
  src/analyzer/protocol/ssh/ssh-analyzer.pac
  testing/btest/Baseline/core.tunnels.gre/ssh.log
  testing/btest/Baseline/scripts.base.protocols.ssh.basic/ssh.log
  testing/btest/Baseline/scripts.base.protocols.ssh.curve25519_kex/ssh.log
  testing/btest/Baseline/scripts.base.protocols.ssh.fingerprints/out
  testing/btest/Baseline/scripts.base.protocols.ssh.pre-banner/ssh.log
  testing/btest/Baseline/scripts.base.protocols.ssh.ssh_version_199/ssh.log
Due: btest-command-commented
