Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*|doc/devel/spicy/autogen/.*.spicy'

Add checks for vcpkg headers for Windows builds
  CMakeLists.txt
Due: none

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/reference/zeekscript/autogenerated-protocol-analyzer-index.rst
  doc/scripts/base/bif/event.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_File.events.bif.zeek.rst
  doc/scripts/base/bif/plugins/Zeek_HTTP.events.bif.zeek.rst
  doc/scripts/base/protocols/ftp/info.zeek.rst
  doc/scripts/base/protocols/ftp/main.zeek.rst
  doc/scripts/base/protocols/http/main.zeek.rst
Due: none

No longer load frameworks/telemetry/log.zeek policy from local.zeek
  scripts/site/local.zeek
Due: none

ftp: Update baselines that log every session
  testing/external/commit-hash.zeek-testing
  testing/external/commit-hash.zeek-testing-private
Due: none

Trigger network_time_init for wallclock fallback
  src/Reporter.cc
  src/zeek-setup.cc
Due: license

Add btest for network_time_init on wallclock
  testing/btest/Baseline/core.network_time.wallclock-init/zeek.output
  testing/btest/core/network_time/wallclock-init.zeek
Due: btest-command-commented

quic: replace zeek-cut and btest-diff to btest-diff-cut, drop ts from conn.log
  testing/btest/Baseline/scripts.base.protocols.quic.dpd-custom-port/conn.log
  testing/btest/Baseline/scripts.base.protocols.quic.dpd-custom-port/quic.log
  testing/btest/Baseline/scripts.base.protocols.quic.dpd-v2-custom-port/conn.log
  testing/btest/Baseline/scripts.base.protocols.quic.dpd-v2-custom-port/quic.log
  testing/btest/scripts/base/protocols/quic/dpd-custom-port.zeek
  testing/btest/scripts/base/protocols/quic/dpd-v2-custom-port.zeek
Due: btest-command-commented

Migrate cleaned version of CTU-SME pcap to release branch
  testing/external/commit-hash.zeek-testing
Due: none

Move writing to Docker reliant on Circle context access
  .circleci/config.yml
Due: none

Add testing script that checks for ubsan
  testing/scripts/have-ubsan
Due: none

Disable cluster.zeromq.overload-drop btest on CI under asan and ubsan
  testing/btest/cluster/zeromq/overload-drop.zeek
Due: btest-command-commented

SerialTypes/SerializationFormat: Remove abort()s from Read() paths
  src/SerializationFormat.cc
  src/threading/SerialTypes.cc
Due: license

SerialTypes: Allocate sets/vectors incrementally during parsing
  src/threading/SerialTypes.cc
Due: license

SerializationFormat: Avoid overflows in length check
  src/SerializationFormat.cc
Due: license

SerializationFormat: Handle negative string lengths
  src/SerializationFormat.cc
Due: license

Bump auxil/spicy to latest development snapshot
  CMakeLists.txt
Due: none

Filter LDAP test to port 389 and update baseline
  testing/btest/Baseline/scripts.base.protocols.ldap.aduser1/krb.kerberos.log
  testing/btest/Baseline/scripts.base.protocols.ldap.aduser1/krb.ldap.log
  testing/btest/Baseline/scripts.base.protocols.ldap.aduser1/krb.ldap_search.log
  testing/btest/scripts/base/protocols/ldap/aduser1.zeek
Due: btest-command-commented

Populate kerberos.log fields from AP-REQ tickets
  scripts/base/protocols/krb/main.zeek
  testing/btest/Baseline/scripts.base.protocols.dce-rpc.spnego-gssapi-kerberos/kerberos.log.135
  testing/btest/Baseline/scripts.base.protocols.dce-rpc.spnego-gssapi-kerberos/kerberos.log.445
  testing/btest/Baseline/scripts.base.protocols.krb.kinit/kerberos.log
  testing/btest/Baseline/scripts.base.protocols.krb.smb_gssapi/kerberos.log
  testing/btest/Baseline/scripts.base.protocols.tcp.krb-tcp-tso/kerberos.log
Due: btest-command-commented

Format spicy files and address remaining feedback
  src/analyzer/protocol/ldap/ldap.spicy
  src/analyzer/protocol/ldap/ldap_zeek.spicy
  testing/btest/Baseline/scripts.base.protocols.ldap.aduser1/krb.kerberos.log
  testing/btest/Baseline/scripts.base.protocols.ldap.aduser1/ntlm.ntlm.log
  testing/btest/Baseline/scripts.base.protocols.ldap.ldap_max_recursion/output
  testing/btest/Baseline/scripts.base.protocols.ldap.sasl-ntlm/ntlm.log
  testing/btest/scripts/base/protocols/ldap/aduser1.zeek
  testing/btest/scripts/base/protocols/ldap/ldap_max_recursion.zeek
  testing/btest/scripts/base/protocols/ldap/sasl-ntlm.zeek
Due: license, btest-command-commented

Fix LDAP SASL NTLM/Kerberos payload extraction.
  src/analyzer/protocol/ldap/ldap.spicy
  src/analyzer/protocol/ldap/ldap_zeek.spicy
  testing/btest/Baseline/scripts.base.protocols.ldap.gap/conn.log
  testing/btest/Baseline/scripts.base.protocols.ldap.ldap_max_recursion/output
  testing/btest/Baseline/scripts.base.protocols.ldap.modify-request/conn.log
  testing/btest/Baseline/scripts.base.protocols.ldap.sasl-encrypted/conn.log
  testing/btest/Baseline/scripts.base.protocols.ldap.sasl-ntlm/conn.log
  testing/btest/Baseline/scripts.base.protocols.ldap.sasl-signed-clear-2/conn.log
  testing/btest/Baseline/scripts.base.protocols.ldap.sasl-signed-clear/conn.log
Due: license, btest-command-commented

Reverted back to ASN1 Header to fix ASCII error
  src/analyzer/protocol/ldap/ldap.spicy
  src/analyzer/protocol/ldap/ldap_zeek.spicy
Due: license

Add Broker backpressure disconnect tests
  testing/btest/Baseline/cluster.broker.backpressure.disconnect-slow-proxy/manager..stdout
  testing/btest/Baseline/cluster.broker.backpressure.disconnect-slow-proxy/proxy-1..stdout
  testing/btest/Baseline/cluster.broker.backpressure.disconnect-slow-proxy/worker-1..stdout
  testing/btest/Baseline/cluster.broker.backpressure.disconnect-slow-worker/manager..stdout
  testing/btest/Baseline/cluster.broker.backpressure.disconnect-slow-worker/proxy-1..stdout
  testing/btest/Baseline/cluster.broker.backpressure.disconnect-slow-worker/worker-1..stdout
  testing/btest/cluster/broker/backpressure/common/.btest-ignore
  testing/btest/cluster/broker/backpressure/common/common.zeek
  testing/btest/cluster/broker/backpressure/common/manager.zeek
  testing/btest/cluster/broker/backpressure/common/receiver.zeek
  testing/btest/cluster/broker/backpressure/common/sender.zeek
  testing/btest/cluster/broker/backpressure/disconnect-slow-proxy.zeek
  testing/btest/cluster/broker/backpressure/disconnect-slow-worker.zeek
Due: btest-command-commented

Route raw NTLMSSP payloads directly to NTLM analyzer
  src/analyzer/protocol/ldap/ldap.spicy
  src/analyzer/protocol/ldap/ldap_zeek.spicy
  testing/btest/Baseline/scripts.base.protocols.ldap.sasl-gss-spnego-ntlm/analyzer_debug.log
  testing/btest/Baseline/scripts.base.protocols.ldap.sasl-gss-spnego-ntlm/ntlm.log
  testing/btest/Baseline/scripts.base.protocols.ldap.spnego-ntlmssp/conn.log
  testing/btest/Traces/ldap/ctu-60387-63723-ldap.pcap
  testing/btest/scripts/base/protocols/ldap/sasl-gss-spnego-ntlm.zeek
Due: license, btest-command-commented

libressl fix again || (defined(LIBRESSL_VERSION_NUMBER) && LIBRESSL_VERSION_NUMBER < 0x30900000L)
  src/digest.cc
  src/file_analysis/analyzer/x509/OCSP.cc
  src/file_analysis/analyzer/x509/X509.cc
  src/file_analysis/analyzer/x509/X509.h
  src/file_analysis/analyzer/x509/functions.bif
Due: license

Docs: Regenerated via GitHub workflow [nomail] [skip ci]
  doc/reference/zeekscript/autogenerated-protocol-analyzer-index.rst
  doc/scripts/base/bif/plugins/Zeek_KRB.events.bif.zeek.rst
  doc/scripts/base/protocols/krb/main.zeek.rst
Due: none

doc/troubleshooting: Fedora 44 has jemalloc profiling enabled [skip ci]
  doc/advanced/troubleshooting.rst
Due: none

CI: Reset auxil/spicy to origin/main in -spicy-head tasks, not -spicy tasks
  .circleci/config.yml
  .github/workflows/check.yml
Due: none

tools/systemd-generator: Only render Nice= and MemoryMax= when set
  testing/btest/Baseline/tools.systemd-generator.test-ext-path/..dir1.zeek-manager.service
  testing/btest/Baseline/tools.systemd-generator.test-ext-path/..dir1.zeek-worker@.service
  testing/btest/Baseline/tools.systemd-generator.test-ext-zeek-path/..dir1.zeek-manager.service
  testing/btest/Baseline/tools.systemd-generator.test-ext-zeek-path/..dir1.zeek-worker@.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator-defaults/normal-dir.zeek-archiver.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator-defaults/normal-dir.zeek-logger@.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator-defaults/normal-dir.zeek-manager.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator-defaults/normal-dir.zeek-proxy@.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator-defaults/normal-dir.zeek-setup.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator-defaults/normal-dir.zeek-worker@.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-archiver.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-logger@.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-manager.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-proxy@.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-setup.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-worker@.service
  tools/systemd-generator/src/systemd-unit.cc
  tools/systemd-generator/src/systemd-unit.h
  tools/systemd-generator/src/zeek-cluster-config.cc
  tools/systemd-generator/src/zeek-cluster-config.h
  tools/systemd-generator/src/zeek-systemd-generator.cc
Due: license, btest-command-commented

WIP tools/systemd-generator: Support zeek.conf with sections and multi-interfaces
  tools/systemd-generator/src/zeek-cluster-config.cc
  tools/systemd-generator/src/zeek-cluster-config.h
  tools/systemd-generator/src/zeek-systemd-generator.cc
Due: license

tools/systemd-generator: Write NUMAPolicy also for drop-in units
  tools/systemd-generator/src/systemd-unit.cc
Due: license

doc: Add some notes about zeek.conf and systemd
  doc/advanced/deploy/index.rst
  doc/advanced/deploy/systemd.rst
  doc/advanced/index.rst
Due: none

WIP tools/systemd-generator: Nicer unit names
  tools/systemd-generator/src/zeek-cluster-config.cc
  tools/systemd-generator/src/zeek-cluster-config.h
  tools/systemd-generator/src/zeek-systemd-generator.cc
Due: license

tools/zeek-cluster-layout-generator: Support -W with tags
  testing/btest/Baseline/tools.systemd-generator.test-multi-interface/..dir1.zeek-setup.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-cluster-layout-generator/cluster-layout-default.zeek
  testing/btest/Baseline/tools.systemd-generator.test-zeek-cluster-layout-generator/cluster-layout-tagged.zeek
  testing/btest/Baseline/tools.systemd-generator.test-zeek-cluster-layout-generator/cluster-layout-zeekctl.zeek
  testing/btest/tools/systemd-generator/test-zeek-cluster-layout-generator.sh
  tools/systemd-generator/src/zeek-cluster-config.cc
  tools/systemd-generator/src/zeek-cluster-layout-generator.cc
Due: license, btest-command-commented
