Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

license:
  name: Check for license headers
  entry: ./ci/license-header.py
  language: python

btest-command-commented:
  name: Check that all BTest command lines are commented out
  entry: ^\s*@TEST-
  language: pygrep

Expose HILTI runtime include paths to dynamic plugins
  CMakeLists.txt
  testing/btest/plugins/hilti-include.zeek
Due: btest-command-commented

dhcp: Clear options after bad-cookie violation
  src/analyzer/protocol/dhcp/dhcp-analyzer.pac
  testing/btest/Baseline/scripts.base.protocols.dhcp.bad-cookie-clears-options/out
  testing/btest/Traces/dhcp/dhcp_bad_cookie_option_retention.pcap
  testing/btest/Traces/dhcp/dhcp_bad_cookie_option_retention.pcap.py
  testing/btest/scripts/base/protocols/dhcp/bad-cookie-clears-options.zeek
Due: btest-command-commented

Merge branch 'topic/jgras/fix-do-notice-anywhere' of https://github.com/J-Gras/zeek
  CHANGES
  VERSION
  scripts/policy/frameworks/intel/do_notice.zeek
  testing/btest/Baseline/scripts.policy.frameworks.intel.notice/notice.log
  testing/btest/scripts/policy/frameworks/intel/notice.zeek
Due: btest-command-commented

Merge remote-tracking branch 'origin/topic/awelzel/publish-on-change-allow-expr'
  CHANGES
  VERSION
  doc/reference/zeekscript/attributes.rst
  src/cluster/PublishOnChangeState.cc
  src/parse.y
  testing/btest/Baseline/cluster.publish-on-change.errors-10/.stderr
  testing/btest/Baseline/cluster.publish-on-change.errors-11/.stderr
  testing/btest/Baseline/cluster.publish-on-change.errors-12/.stderr
  testing/btest/Baseline/cluster.publish-on-change.errors-2/.stderr
  testing/btest/Baseline/cluster.publish-on-change.errors-3/.stderr
  testing/btest/Baseline/cluster.publish-on-change.errors-4/.stderr
  testing/btest/Baseline/cluster.publish-on-change.errors-5/.stderr
  testing/btest/Baseline/cluster.publish-on-change.errors-7/.stderr
  testing/btest/Baseline/cluster.publish-on-change.errors-8/.stderr
  testing/btest/Baseline/cluster.publish-on-change.errors-9/.stderr
  testing/btest/Baseline/cluster.publish-on-change.errors/.stderr
  testing/btest/Baseline/cluster.publish-on-change.usage-2/.stderr
  testing/btest/Baseline/cluster.publish-on-change.usage-3/.stderr
  testing/btest/Baseline/cluster.publish-on-change.usage-4/.stderr
  testing/btest/Baseline/cluster.publish-on-change.usage-5/.stderr
  testing/btest/Baseline/cluster.publish-on-change.usage-6/.stderr
  testing/btest/Baseline/cluster.publish-on-change.usage/.stderr
  testing/btest/cluster/publish-on-change/errors.zeek
  testing/btest/cluster/publish-on-change/usage.zeek
Due: license, btest-command-commented

util/fmt: Use thread-safe Fmt() in backend threads
  CHANGES
  VERSION
  src/input/readers/ascii/Ascii.cc
  src/input/readers/binary/Binary.cc
  src/logging/writers/ascii/Ascii.cc
  src/util.h
Due: license

Merge remote-tracking branch 'origin/topic/awelzel/5674-prometheus-service-discovery-ipv6'
  CHANGES
  VERSION
  src/telemetry/Manager.cc
  testing/btest/Baseline/scripts.policy.frameworks.telemetry.prometheus-ipv6/manager.services.out
  testing/btest/scripts/policy/frameworks/telemetry/prometheus-ipv6.zeek
Due: license, btest-command-commented

Merge remote-tracking branch 'origin/topic/awelzel/5548-hook-log-init-user-after-free'
  CHANGES
  VERSION
  src/logging/Manager.cc
  src/logging/Types.h
  src/logging/WriterFrontend.cc
  testing/btest/Baseline/plugins.logging-hooks-no-local/output
  testing/btest/plugins/logging-hooks-no-local.zeek
  testing/btest/plugins/logging-hooks-plugin/src/Plugin.cc
  testing/btest/plugins/logging-hooks-plugin/src/Plugin.h
Due: license, btest-command-commented

Merge remote-tracking branch 'origin/topic/awelzel/ip-next-proto-is-a-byte'
  CHANGES
  VERSION
  src/packet_analysis/protocol/unknown_ip_transport/UnknownIPTransport.cc
  testing/btest/Baseline/core.unknown-ip-protocol/unknown_protocols.log
  testing/btest/core/unknown-ip-protocol.zeek
Due: license, btest-command-commented

Update NEWS for 8.0.10 [nomail] [skip ci]
  NEWS
Due: none

Update NEWS for 8.2.2 [nomail]
  NEWS
Due: none

Merge branch 'topic/bbannier/ccache-for-tests'
  .circleci/builds.yml
  CHANGES
  VERSION
Due: none

Merge branch 'topic/timw/stop-running-coveralls-dry-run-mode'
  CHANGES
  VERSION
  ci/collect-repo-info.py
  testing/coverage/lcov_html.sh
Due: none

Merge remote-tracking branch 'origin/topic/timw/circleci-reenable-zeek-testing-private'
  .circleci/builds.yml
  CHANGES
  VERSION
  ci/init-external-repos.sh
Due: none

Merge remote-tracking branch 'origin/topic/timw/fix-additional-tags-for-image-creation'
  CHANGES
  VERSION
  ci/container-images-addl-tags.sh
Due: none

Merge remote-tracking branch 'origin/topic/timw/circleci-use-separate-token-for-build-images'
  .circleci/builds.yml
  .circleci/generate-workflow-params.py
  CHANGES
  VERSION
  ci/benchmark.sh
  ci/init-external-repos.sh
  ci/upload-coverage.sh
Due: none

Merge remote-tracking branch 'origin/topic/timw/circleci-use-correct-github-endpoint'
  .circleci/generate-workflow-params.py
  CHANGES
  VERSION
Due: none

Merge remote-tracking branch 'origin/topic/timw/fix-cluster-ping-test-with-new-websockets-version'
  CHANGES
  VERSION
  testing/btest/cluster/websocket/ping-timeout.zeek
Due: btest-command-commented

CCI: Adapt ci/benchmark.sh to work with CircleCI
  CHANGES
  VERSION
  ci/benchmark.sh
Due: none

Merge remote-tracking branch 'origin/topic/awelzel/asan-cluster-tests-timeouts'
  CHANGES
  VERSION
  testing/btest/cluster/websocket/bad-url.zeek
  testing/btest/scripts/base/frameworks/notice/suppression-batching-cluster.zeek
  testing/btest/supervisor/large-cluster.zeek
Due: btest-command-commented

Merge remote-tracking branch 'origin/topic/timw/circleci-use-separate-token-for-build-images'
  .circleci/builds.yml
  .circleci/generate-workflow-params.py
  CHANGES
  VERSION
  ci/benchmark.sh
Due: none

Update docs for 8.2.2 [nomail] [skip ci]
  doc/scripts/base/frameworks/intel/main.zeek.rst
  doc/scripts/policy/frameworks/intel/do_notice.zeek.rst
Due: none

netbios: Add test for split body
  testing/btest/Baseline/scripts.base.protocols.netbios.split-session-msg/out
  testing/btest/Traces/netbios/netbios-split-session-msg.pcap
  testing/btest/Traces/netbios/netbios-split-session-msg.pcap.py
  testing/btest/scripts/base/protocols/netbios/split-session-msg.zeek
Due: btest-command-commented

netbios: Add weird for truncated netbios body
  src/analyzer/protocol/netbios/NetbiosSSN.cc
  testing/btest/Baseline/scripts.base.protocols.netbios.truncated-session-msg/weird.log
  testing/btest/Traces/netbios/netbios-truncated-session-msg.pcap
  testing/btest/Traces/netbios/netbios-truncated-session-msg.pcap.py
  testing/btest/scripts/base/protocols/netbios/truncated-session-msg.zeek
Due: license, btest-command-commented

netbios: Fix eager allocation from protocol data
  src/analyzer/protocol/netbios/NetbiosSSN.cc
Due: license

redis: Cap total RESP aggregates
  scripts/base/protocols/redis/main.zeek
  src/analyzer/protocol/redis/resp.spicy
  testing/btest/Baseline/scripts.base.protocols.redis.element-object-exhaustion/analyzer_debug.log
  testing/btest/Traces/redis/array-element-object-exhaustion.pcap
  testing/btest/Traces/redis/array-element-object-exhaustion.pcap.py
  testing/btest/scripts/base/protocols/redis/element-object-exhaustion.zeek
Due: license, btest-command-commented

ftp: Cap ftp_data_expected via new FTP::max_expected_data_channels
  NEWS
  scripts/base/protocols/ftp/main.zeek
  testing/btest/Baseline/scripts.policy.protocols.ftp.expected-data-channel-cap/output
  testing/btest/Baseline/scripts.policy.protocols.ftp.expected-data-channel-cap/weird.log
  testing/btest/Traces/ftp/ftp-many-port-expected.pcap.gz
  testing/btest/Traces/ftp/ftp-many-port-expected.pcap.py
  testing/btest/scripts/policy/protocols/ftp/expected-data-channel-cap.zeek
Due: btest-command-commented

ldap: Cap pending searches and messages
  NEWS
  scripts/base/protocols/ldap/main.zeek
  testing/btest/Baseline/scripts.base.protocols.ldap.pending-messages-exceeded/conn.log
  testing/btest/Baseline/scripts.base.protocols.ldap.pending-messages-exceeded/ldap.log
  testing/btest/Baseline/scripts.base.protocols.ldap.pending-messages-exceeded/weird.log
  testing/btest/Baseline/scripts.base.protocols.ldap.pending-searches-exceeded/conn.log
  testing/btest/Baseline/scripts.base.protocols.ldap.pending-searches-exceeded/ldap_search.log
  testing/btest/Baseline/scripts.base.protocols.ldap.pending-searches-exceeded/weird.log
  testing/btest/Traces/ldap/pending-adds-10.pcap
  testing/btest/Traces/ldap/pending-adds-n.pcap.py
  testing/btest/Traces/ldap/pending-searches-10.pcap
  testing/btest/Traces/ldap/pending-searches-n.pcap.py
  testing/btest/scripts/base/protocols/ldap/pending-messages-exceeded.zeek
  testing/btest/scripts/base/protocols/ldap/pending-searches-exceeded.zeek
Due: btest-command-commented

Exclude unused submodule paths from dist tarball
  Makefile
Due: none

Use regular Dockerfile instead of shell-orchestrated build pipeline
  .circleci/builds.yml
  docker/Dockerfile
  docker/Makefile
  docker/builder.Dockerfile
Due: none

DO NOT MERGE: enable container image building in CI even for PR
  .circleci/builds.yml
Due: none

fixup! Use regular Dockerfile instead of shell-orchestrated build pipeline
  docker/Dockerfile
Due: none

doc/NEWS/policy: Deprecate the Management Framework
  NEWS
  doc/frameworks/management.rst
  scripts/policy/frameworks/management/__load__.zeek
  testing/btest/Baseline.zam/coverage.test-all-policy-cluster/.stderr
  testing/btest/Baseline.zam/coverage.test-all-policy-zeekygen/.stderr
  testing/btest/Baseline/coverage.bare-mode-errors/errors
  testing/btest/Baseline/coverage.test-all-policy-cluster/.stderr
  testing/btest/Baseline/coverage.test-all-policy-zeekygen/.stderr
Due: btest-command-commented

Add limits to various SMTP address set lengths
  scripts/base/protocols/smtp/main.zeek
  testing/btest/Baseline/scripts.base.protocols.smtp.address-limits/output
  testing/btest/Baseline/scripts.base.protocols.smtp.address-limits/weird.log
  testing/btest/Traces/README
  testing/btest/Traces/smtp/generate_smtp_pcap.py
  testing/btest/Traces/smtp/smtp-many-addresses.pcap.gz
  testing/btest/scripts/base/protocols/smtp/address-limits.zeek
Due: btest-command-commented

Fill a dummy name in for Telnet AUTH if missing
  src/analyzer/protocol/login/NVT.cc
  testing/btest/Baseline/scripts.base.protocols.login.telnet-missing-auth-name/out
  testing/btest/Traces/telnet-auth-missing-name.pcap
  testing/btest/Traces/telnet-auth-missing-name.pcap.py
  testing/btest/scripts/base/protocols/login/telnet-missing-auth-name.zeek
Due: license, btest-command-commented

Limit the number of IGMP groups and sources-per-group
  scripts/policy/protocols/conn/multicast-participants.zeek
  testing/btest/Baseline/scripts.base.protocols.igmp.excessive-groups-sources/groups-weird.log
  testing/btest/Baseline/scripts.base.protocols.igmp.excessive-groups-sources/sources-weird.log
  testing/btest/Traces/README
  testing/btest/Traces/igmp/igmp-many-groups.pcap
  testing/btest/Traces/igmp/igmp-many-groups.pcap.py
  testing/btest/Traces/igmp/igmp-many-sources.pcap
  testing/btest/Traces/igmp/igmp-many-sources.pcap.py
  testing/btest/scripts/base/protocols/igmp/excessive-groups-sources.zeek
Due: btest-command-commented

update AP message logging
  scripts/base/protocols/krb/main.zeek
  testing/btest/Baseline/scripts.base.protocols.dce-rpc.spnego-gssapi-kerberos/kerberos.log.135
  testing/btest/Baseline/scripts.base.protocols.dce-rpc.spnego-gssapi-kerberos/kerberos.log.445
  testing/btest/Baseline/scripts.base.protocols.krb.kinit/kerberos.log
  testing/btest/Baseline/scripts.base.protocols.krb.smb_gssapi/kerberos.log
  testing/btest/Baseline/scripts.base.protocols.ldap.aduser1/krb.kerberos.log
  testing/btest/Baseline/scripts.base.protocols.tcp.krb-tcp-tso/kerberos.log
Due: btest-command-commented

added a new signature for AP request event per the comments
  scripts/base/protocols/krb/main.zeek
  src/analyzer/protocol/krb/events.bif
  src/analyzer/protocol/krb/krb-analyzer.pac
  src/analyzer/protocol/krb/krb-padata.pac
  src/analyzer/protocol/krb/krb-protocol.pac
  testing/btest/Baseline/scripts.base.protocols.krb.ap-req-in-kdc-padata/output
  testing/btest/scripts/base/protocols/krb/ap-req-in-kdc-padata.test
Due: btest-command-commented

analyzer: Do not reschedule equivalent analyzers
  src/analyzer/Manager.cc
  src/analyzer/Manager.h
Due: license

Path conditions:
  license: any of: \.(h|c|cpp|cc|spicy|evt)$, but not: ^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$
  btest-command-commented: any of: ^testing/btest/.*$
