Repository zeek/zeek: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, btest-command-commented

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
repos:
- repo: local
  hooks:
  - id: license
    name: Check for license headers
    entry: ./ci/license-header.py
    language: python
    files: '\.(h|c|cpp|cc|spicy|evt)$'
    types: [file]
    exclude: '^(testing/btest/(Baseline|plugins|spicy|scripts)/.*|testing/builtin-plugins/.*|doc/.*)$'

  - id: btest-command-commented
    name: Check that all BTest command lines are commented out
    entry: '^\s*@TEST-'
    language: pygrep
    files: '^testing/btest/.*$'

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v20.1.8
  hooks:
  - id: clang-format
    types_or:
      - "c"
      - "c++"
      - "json"

- repo: https://github.com/maxwinterstein/shfmt-py
  rev: v3.12.0.1
  hooks:
    - id: shfmt
      args: ["-w", "-i", "4", "-ci"]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.8
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format

- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format

- repo: https://github.com/crate-ci/typos
  rev: v1.35.3
  hooks:
    - id: typos
      exclude: '^(.typos.toml|src/SmithWaterman.cc|testing/.*|auxil/.*|scripts/base/frameworks/files/magic/.*|CHANGES|scripts/base/protocols/ssl/mozilla-ca-list.zeek)$'

- repo: https://github.com/bbannier/spicy-format
  rev: v0.26.0
  hooks:
    - id: spicy-format
      exclude: '^testing/.*|doc/devel/spicy/autogen/.*.spicy'

Docs: add security considerations
  doc/get-started.rst
  doc/security-considerations.rst
Due: none

bifs/to_port: Fix calling streq() past input string
  src/zeek.bif
Due: none

Merge remote-tracking branch 'origin/topic/awelzel/5366-broker-websocket-shim-fix-non-event-handling'
  CHANGES
  VERSION
  src/broker/WebSocketShim.h
  testing/btest/Baseline/cluster.websocket.broker.match-all-subscription/..client..stderr
  testing/btest/Baseline/cluster.websocket.broker.match-all-subscription/..client..stdout
  testing/btest/Baseline/cluster.websocket.broker.match-all-subscription/..logger-1..stdout
  testing/btest/Baseline/cluster.websocket.broker.match-all-subscription/..logger-2..stdout
  testing/btest/Baseline/cluster.websocket.broker.match-all-subscription/..manager..stderr
  testing/btest/Baseline/cluster.websocket.broker.match-all-subscription/..manager..stdout
  testing/btest/cluster/websocket/broker/match-all-subscription.zeek
Due: license, btest-command-commented

Merge remote-tracking branch 'origin/topic/awelzel/fixup-in-to-port-after-string-scan-change'
  CHANGES
  VERSION
  src/zeek.bif
Due: none

Add maximum depth for recursive parsing of DNS compression chains
  scripts/base/init-bare.zeek
  src/NetVar.cc
  src/NetVar.h
  src/analyzer/protocol/dns/DNS.cc
  src/analyzer/protocol/dns/DNS.h
Due: license

Add limits to recursion in LDAP and ASN.1 parsers
  src/analyzer/protocol/ldap/asn1.spicy
  src/analyzer/protocol/ldap/ldap.spicy
  testing/btest/Baseline/scripts.base.protocols.ldap.asn1_max_recursion/debug-filtered.log
  testing/btest/Baseline/scripts.base.protocols.ldap.ldap_max_recursion/debug-filtered.log
  testing/btest/Traces/README
  testing/btest/Traces/ldap/asn1-max-recursion.pcap
  testing/btest/Traces/ldap/ldap-max-recursion.pcap
  testing/btest/scripts/base/protocols/ldap/asn1_max_recursion.zeek
  testing/btest/scripts/base/protocols/ldap/ldap_max_recursion.zeek
Due: license, btest-command-commented

DNS/Parse_SvcParams: Fix value_len accounting
  src/analyzer/protocol/dns/DNS.cc
Due: license

DNS/Parse_SvcParams: Scope item_len_parsed to cases
  src/analyzer/protocol/dns/DNS.cc
Due: license

DNS/Parse_SvcParams: Move static initialization out of while loop
  src/analyzer/protocol/dns/DNS.cc
Due: license

Docs: touch up versions in install instructions
  doc/install.rst
Due: none

Docs: openssl step no longer needed on Windows
  doc/building-from-source.rst
Due: none

shift script_opt to having its own CMakeLists.txt files
  src/CMakeLists.txt
  src/script_opt/CMakeLists.txt
  src/script_opt/CPP/CMakeLists.txt
  src/script_opt/ZAM/CMakeLists.txt
Due: none

Change `zeek` invocation behavior without args
  doc/tutorial/invoking-zeek.rst
  src/Options.cc
Due: license

Update NEWS for 8.0.7 security patches [nomail]
  NEWS
Due: none

Update NEWS for 8.1.2 security patches [nomail]
  NEWS
Due: none

Regenerate docs for 8.0.7 release [nomail] [skip ci]
  doc/script-reference/autogenerated-file-analyzer-index.rst
  doc/script-reference/autogenerated-protocol-analyzer-index.rst
  doc/scripts/base/bif/event.bif.zeek.rst
  doc/scripts/base/init-bare.zeek.rst
  doc/scripts/policy/frameworks/cluster/experimental.zeek.rst
  doc/scripts/policy/protocols/conn/known-services.zeek.rst
Due: none

Regenerate docs for 8.1.2 release [nomail] [skip ci]
  doc/script-reference/autogenerated-file-analyzer-index.rst
  doc/script-reference/autogenerated-protocol-analyzer-index.rst
  doc/scripts/base/bif/event.bif.zeek.rst
  doc/scripts/base/frameworks/cluster/main.zeek.rst
  doc/scripts/base/init-bare.zeek.rst
  doc/scripts/policy/frameworks/cluster/backend/zeromq/main.zeek.rst
  doc/scripts/policy/frameworks/cluster/experimental.zeek.rst
  doc/scripts/policy/protocols/conn/known-services.zeek.rst
Due: none

CI: Request 16GB of RAM for Windows builds
  .cirrus.yml
Due: none

Updating CHANGES and VERSION.
  CHANGES
  VERSION
Due: none

Updating CHANGES and VERSION.
  CHANGES
Due: none

tools/systemd-generator: Add multi-interface support
  testing/btest/Baseline/tools.systemd-generator.test-multi-interface-errors-2/.stderr
  testing/btest/Baseline/tools.systemd-generator.test-multi-interface-errors-3/.stderr
  testing/btest/Baseline/tools.systemd-generator.test-multi-interface-errors-4/.stderr
  testing/btest/Baseline/tools.systemd-generator.test-multi-interface-errors-5/.stderr
  testing/btest/Baseline/tools.systemd-generator.test-multi-interface-errors/.stderr
  testing/btest/Baseline/tools.systemd-generator.test-multi-interface/..dir1.zeek-worker@1.service.d.10-zeek-systemd-generator.conf
  testing/btest/Baseline/tools.systemd-generator.test-multi-interface/..dir1.zeek-worker@2.service.d.10-zeek-systemd-generator.conf
  testing/btest/Baseline/tools.systemd-generator.test-multi-interface/..dir1.zeek-worker@3.service.d.10-zeek-systemd-generator.conf
  testing/btest/Baseline/tools.systemd-generator.test-multi-interface/..dir1.zeek-worker@4.service.d.10-zeek-systemd-generator.conf
  testing/btest/Baseline/tools.systemd-generator.test-multi-interface/..dir1.zeek-worker@5.service.d.10-zeek-systemd-generator.conf
  testing/btest/Baseline/tools.systemd-generator.test-multi-interface/..dir1.zeek-worker@6.service.d.10-zeek-systemd-generator.conf
  testing/btest/Baseline/tools.systemd-generator.test-multi-interface/.stderr
  testing/btest/Baseline/tools.systemd-generator.test-multi-interface/out
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-worker@.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-worker@1.service.d.10-zeek-systemd-generator.conf
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-worker@3.service.d.10-zeek-systemd-generator.conf
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-worker@4.service.d.10-zeek-systemd-generator.conf
  testing/btest/tools/systemd-generator/test-multi-interface-errors.sh
  testing/btest/tools/systemd-generator/test-multi-interface.sh
  tools/systemd-generator/src/zeek-cluster-config.cc
  tools/systemd-generator/src/zeek-cluster-config.h
  tools/systemd-generator/src/zeek-systemd-generator.cc
Due: license, btest-command-commented

tools/systemd-generator: Only render Nice= and MemoryMax= when set
  testing/btest/Baseline/tools.systemd-generator.test-ext-path/..dir1.zeek-manager.service
  testing/btest/Baseline/tools.systemd-generator.test-ext-path/..dir1.zeek-worker@.service
  testing/btest/Baseline/tools.systemd-generator.test-ext-zeek-path/..dir1.zeek-manager.service
  testing/btest/Baseline/tools.systemd-generator.test-ext-zeek-path/..dir1.zeek-worker@.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator-defaults/normal-dir.zeek-archiver.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator-defaults/normal-dir.zeek-logger@.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator-defaults/normal-dir.zeek-manager.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator-defaults/normal-dir.zeek-proxy@.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator-defaults/normal-dir.zeek-setup.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator-defaults/normal-dir.zeek-worker@.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-archiver.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-logger@.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-manager.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-proxy@.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-setup.service
  testing/btest/Baseline/tools.systemd-generator.test-zeek-systemd-generator/normal-dir.zeek-worker@.service
  tools/systemd-generator/src/systemd-unit.cc
  tools/systemd-generator/src/systemd-unit.h
  tools/systemd-generator/src/zeek-cluster-config.cc
  tools/systemd-generator/src/zeek-cluster-config.h
  tools/systemd-generator/src/zeek-systemd-generator.cc
Due: license, btest-command-commented

tools/systemd-generator: Write NUMAPolicy also for drop-in
  tools/systemd-generator/src/systemd-unit.cc
Due: license

doc: Add some notes about zeek.conf and systemd
  doc/advanced/deploy/index.rst
  doc/advanced/deploy/systemd.rst
  doc/advanced/index.rst
Due: none

Compile contributors for Zeek 8.2 in the NEWS file [skip ci]
  NEWS
Due: none

Update CT/CA lists to latest versions
  scripts/base/protocols/ssl/ct-list.zeek
  scripts/base/protocols/ssl/mozilla-ca-list.zeek
  testing/external/commit-hash.zeek-testing
Due: none

Regenerate docs before branching 8.2 [nomail] [skip ci]
  doc/reference/zeekscript/autogenerated-file-analyzer-index.rst
  doc/reference/zeekscript/autogenerated-protocol-analyzer-index.rst
  doc/scripts/base/bif/event.bif.zeek.rst
  doc/scripts/base/init-bare.zeek.rst
Due: none

finer-grained, per-ZBody control over profiling
  scripts/base/init-bare.zeek
  src/script_opt/ZAM/ZBody.cc
  src/script_opt/ZAM/ZBody.h
Due: license

DNS/Parse_SvcParams: Fix value_len and len accounting, take two
  src/analyzer/protocol/dns/DNS.cc
Due: license

DNS/Parse_SvcParams: Jump to malformed for value_len != 2
  src/analyzer/protocol/dns/DNS.cc
Due: license

DNS/Parse_SvcParams: Ensure alpn len matches value_len
  src/analyzer/protocol/dns/DNS.cc
Due: license
